[2017-09-28 15:50] #11749 closed

[2017-09-28 15:52] #10840 closed

[2017-09-28 16:17] #10128 closed

[2017-09-28 16:20] PeterDaveHello commented on #11786
Thank you @ashucg

[2017-09-28 16:35] #10020 closed

[2017-09-28 16:39] #11831 closed

[2017-09-28 19:36] bpadair32 commented on #11890
I will work on this

[2017-09-28 20:05] PeterDaveHello commented on #11890
@bpadair32 nice!

[2017-09-29 03:44] sufuf3 commented on #11889
👍

[2017-09-29 07:52] szepnapot commented on #11883
Hello, I would like to work on this :)
I can do it by the end of this week.
^^

[2017-09-29 23:26] samir-jorge-araujo opened #11900 "[Request] Add sticky"
**Library name:** Sticky-js
**Library description:** Sticky-js is a library for sticky elements written in vanilla javascript. With this library you can easily set sticky elements on your website. It's also responsive.
**Git repository url:** https://github.com/rgalus/sticky-js
**npm package name or url** (if there is one): https://www.npmjs.com/package/sticky-js
**License (List them all if it's m

[2017-09-30 14:29] geritol commented on #11884
Would be interested to do this!
(Probably will have some questions :)

[2017-09-30 14:34] PeterDaveHello commented on #11884
@geritol 👍

[2017-09-30 16:22] PeterDaveHello commented on #11883
Nice @szepnapot ! Let me know if you need any help!

[2017-09-30 16:23] PeterDaveHello opened #11901 "[Request] Add webvr-polyfill"
**Library name:** webvr-polyfill
**Library description:** A JavaScript implementation of the WebVR spec. This project lets you use WebVR today, without requiring a special browser build. It also lets you view the same content without requiring a virtual reality viewer.
**Git repository url:** https://github.com/googlevr/webvr-polyfill/
**npm package name or url**: [webvr-polyfill](https://www.npmj

[2017-09-30 16:24] PeterDaveHello opened #11902 "[Request] Add gettext.js"
**Library name:** gettext.js
**Library description:** gettext.js is a lightweight yet complete and accurate GNU gettext port for node and the browser.
**Git repository url:** https://github.com/guillaumepotier/gettext.js/
**npm package name or url**: [gettext.js](https://www.npmjs.com/package/gettext.js)
**License:** MIT
**Official homepage:** https://guillaumepotier.github.io/gettext.js/
**Wanna

[2017-09-30 16:26] PeterDaveHello opened #11903 "[Request] Add weblas"
**Library name:** weblas
**Library description:** GPU Powered BLAS for Browsers 💎
**Git repository url:** https://github.com/waylonflinn/weblas/
**License:** MIT

=====================

For beginners who is interested in picking up this issue:

In this issue, we are going to host a new web front-end library on CDNJS, so that web developer can easily use it on our free CDN without additional downlo

[2017-09-30 16:34] PeterDaveHello opened #11904 "[Request] Build and update brain missing versions manually"
**Library name:** brain
**Git repository url:** https://github.com/harthur/brain
**npm package name or url**: https://www.npmjs.com/package/brain

We got only v0.6.3 in the repository, looks like there is no pre-built files in its npm registry and the git repository, which means you need to go through all the versions, clean up and install their dependencies, build the dist files, and even rename

[2017-09-30 16:37] PeterDaveHello opened #11905 "[Request] Add Primrose"
**Library name:** Primrose
**Library description:** Primrose is a framework for building Virtual Reality applications in Web browsers
**Git repository url:** https://github.com/capnmidnight/Primrose
**License:** GPL-3.0
**Official homepage:** https://www.primrosevr.com

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/49913517-request

[2017-10-01 15:28] abdulamite commented on #11902
Can I grab this one?

[2017-10-01 15:29] PeterDaveHello commented on #11902
@abdulamite Sure please, and feel free ping me if you got questions.

[2017-10-01 19:41] nersoh commented on #11900
Can I try this one?

[2017-10-01 22:28] PeterDaveHello commented on #11900
@nersoh sure, please.

[2017-10-02 01:01] andrew-anguiano commented on #11901
@PeterDaveHello I'll give this a shot!

[2017-10-02 01:09] PeterDaveHello opened #11909 "[Request] Add shopify-buy"
**Library name:** shopify-buy
**Library description:**  The JS Buy SDK is a lightweight library that allows you to build ecommerce into any website. It is based on Shopify's API and provides the ability to retrieve products and collections from your shop, add products to a cart, and checkout."
**Git repository url:** https://github.com/Shopify/js-buy-sdk
**npm package name or url**: shopify-buy
**

[2017-10-02 01:11] PeterDaveHello opened #11910 "[Request] Add buy-button-js"
**Library name:** buy-button-js
**Library description:** BuyButton.js is a highly customizable UI library for adding ecommerce functionality to any website.
**Git repository url:** https://github.com/Shopify/buy-button-js
**npm package name or url**: [@shopify/buy-button-js](https://www.npmjs.com/package/@shopify/buy-button-js)
**License:** MIT
**Official homepage:** https://shopify.github.io/buy-

[2017-10-02 03:53] Mianto commented on #11910
#11914 I have tried using the second method by using single packagejson. I have doubt whether autoupdate works. Please review it.

[2017-10-02 04:35] sufuf3 opened #11915 "[Request] Add botui"
**Library name:** botui
**Git repository url:** https://github.com/moinism/botui
**npm package name or url** (if there is one): https://www.npmjs.com/package/botui
**License:**  MIT
**Official homepage:** https://botui.org

---
### :octocat: This issue is for the beginner who is interested in sending a pull request and join us.

### ℹ️  introduction
CDNJS is one of the most famous free and public

[2017-10-02 04:38] sufuf3 opened #11916 "[Request] Add victor"
**Library name:** victor
**Git repository url:** https://github.com/maxkueng/victor
**npm package name or url** (if there is one): https://www.npmjs.com/package/victor
**License:**  MIT
**Official homepage:** http://victorjs.org/

---
### :octocat: This issue is for the beginner who is interested in sending a pull request and join us.

### ℹ️  introduction
CDNJS is one of the most famous free and

[2017-10-02 05:47] AshwiniBS opened #11920 "[Request] Add TiltHoverEffects"
**Library name:** TiltHoverEffects
**Library description:** Some ideas for hover effects with a fancy tilt effect. Inspired by the effect seen on Kikk 2015 made by Dogstudio.
**Git repository url:** https://github.com/codrops/TiltHoverEffects/
**npm package name or url** (if there is one):
**License (List them all if it's multiple):**
**Official homepage:**
**Wanna say something? Leave message her

[2017-10-02 15:51] Vamshi99 commented on #11909
I am working on this issue.

[2017-10-02 20:23] TheSharpieOne opened #11924 "[Request] Add react-popper"
**Library name:** react-popper
**Library description:** React wrapper around PopperJS
**Git repository url:** https://github.com/souporserious/react-popper.git
**npm package name or url** (if there is one): [react-popper](https://www.npmjs.com/package/react-popper)
**License (List them all if it's multiple):** [MIT](https://github.com/souporserious/react-popper/blob/master/LICENSE)
**Official home

[2017-10-03 00:14] PeterDaveHello commented on #11901
Nice @andrew-anguiano

[2017-10-03 00:16] PeterDaveHello commented on #11514
@VijayGomathi you'll need to fork it to send a valid pull request, thanks.

[2017-10-03 00:17] PeterDaveHello commented on #11872
Please create the new issue once the repository is created, please also refer to our document for the popularity requirement, thanks a lot.

[2017-10-03 00:17] #11872 closed

[2017-10-03 00:30] #10064 closed

[2017-10-03 00:31] #8284 closed

[2017-10-03 00:41] #6573 closed

[2017-10-03 00:42] PeterDaveHello commented on #6573
@kaelig sorry about that.

[2017-10-03 00:49] PeterDaveHello commented on #11857
Thanks @heyesr, I got your point. As we're maintaining more than 3k libraries here, I'll still need to ask for public repository and valid versioning, thank you.

[2017-10-03 01:57] #9279 closed

[2017-10-03 05:47] TheSharpieOne opened #11927 "[Request][Author] Update reactstrap auto-update config"
The latest (alpha) release of reactstrap has changed the dist to include additional file which need to be captured by cdnjs to be published.
The files can be seen here: https://unpkg.com/reactstrap@5.0.0-alpha.3/dist/
new glob: `reactstrap(.full)?(.min)?.js*`

[2017-10-03 08:09] extend1994 opened #11929 "[Request] Add Modaal"
**Library name:** Modaal
**Repository url:** https://github.com/humaan/Modaal
**npm package url:** [modaal](https://www.npmjs.com/package/modaal)
**License:** [MIT](https://github.com/humaan/Modaal/blob/master/LICENSE.txt)
**Official homepage:** https://humaan.com/modaal/

## Something you might want to know about CDNJS
CDNJS provides a CDN containing front-end libraries to allow all the web devel

[2017-10-03 08:38] ruman opened #11930 "[Request] Add jquery.adaptive-backgrounds.js"
**Library name:** jquery.adaptive
**Library description:**
**Git repository url:** https://github.com/briangonzalez/jquery.adaptive-backgrounds.js
**npm package name or url** (if there is one):
**License (List them all if it's multiple):**
**Official homepage:** http://briangonzalez.github.io/jquery.adaptive-backgrounds.js/
**Wanna say something? Leave message here:**

=====================

Notes

[2017-10-03 09:19] extend1994 opened #11931 "Add/Update a few fields in package.json"
This issue is mainly for Hacktoberfest hackathon on Oct 2 2018 in NCTU, Taiwan.

The text you see is the library name in cdnjs, the link is directing you to find the related info.
## Add/Update license field
- Reference license lists:
  - [spdx license list](https://spdx.org/licenses/)
  - [cdnjs license list](https://github.com/cdnjs/cdnjs/blob/master/tools/license-list.json)
- [x] [ekko-lightbox

[2017-10-03 09:27] extend1994 opened #11932 "[Request] Update cellx auto-update config"
We need a new auto-update config because cellx v1.7.59+ seem to have files we don't need under current basePath.

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/49999384-request-update-cellx-auto-update-config?utm_campaign=plugin&utm_content=tracker%2F32893&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource]

[2017-10-03 10:23] ihsinhw opened #11933 "[Request] Add imgmap"
**Library name:** imgmap
**Library description:**
**Git repository url:** https://github.com/maschek/imgmap
**npm package name or url** (if there is one):
**License (List them all if it's multiple):**
**Official homepage:**
**Wanna say something? Leave message here:**
this library is useful for image editor online, just like html editor wysiwyg.
hope this library can be add to CDNJS service for us

[2017-10-03 12:31] Billy4195 commented on #11931
Hi~
I want to modify `Add/Update license field --- ionicons `

[2017-10-03 12:32] baili0411 commented on #11931
I'll add repository info for jcalculator

[2017-10-03 12:33] ralphchung commented on #11931
Hello
I want to modify jit

[2017-10-03 12:34] ycchan5566 commented on #11931
Hello everyone~
I want to modify machina.js

[2017-10-03 12:35] finch185277 commented on #11931
Hello
I want to modify jquery.roundabout.min.js

[2017-10-03 12:36] AikoChou commented on #11931
modify ionic license

[2017-10-03 12:40] yubin551 commented on #11931
I want to modify  jqPlot

[2017-10-03 13:53] qwe19272375 commented on #11933
Hi @ihsinhw ,
Thanks for your suggestion. This library doesn't have enough popularity (like more than 200 stars on GitHub or 800 downloads per month on npm). Please take a look at our [CONTRIBUTE.md](https://github.com/cdnjs/cdnjs/blob/master/CONTRIBUTING.md#b-request-a-new-library). Would you mind to open an issue again when the library has more popularity? 😄

[2017-10-03 15:40] nersoh commented on #11900
Hey, @PeterDaveHello. What is the easiest way to clone the project? I've tried to download it but the download failed after 3.9GB, and thought Git it took hours of downloading and checking files, which made me to cancel.

[2017-10-03 15:51] fisker opened #11950 "file missing"
this link are broken

https://cdn.bootcss.com/highlight.js/9.12.0/styles/solarized-light.min.css

[2017-10-03 15:53] #11950 closed

[2017-10-03 16:10] abdulamite commented on #11900
@nersoh Do you have sparse checkout set up and enabled?

[2017-10-03 19:44] sufuf3 commented on #11900
@abdulamite Thank you :)
@nersoh  We have a tutorial of sparseCheckout, you can take a look about it --> https://github.com/cdnjs/cdnjs/blob/master/documents/sparseCheckout.md

Thank you for your join! :)

[2017-10-03 19:53] sufuf3 commented on #11920
Duplicated with #11414
close this issue and move to #11414
Thanks.
cc @PeterDaveHello

[2017-10-03 19:53] #11920 closed

[2017-10-03 20:00] nersoh commented on #11900
@sufuf3 @abdulamite Thank you guys, I'll check that out 😃

[2017-10-04 13:25] Vamshi99 commented on #11931
I will add repository information for 1140

[2017-10-04 15:07] tgomilar opened #11960 "[Request] Add paroller.js"
**Library name:** paroller.js
**Library description:** A lightweight jQuery plugin that enables parallax scrolling effect.
**Git repository url:** https://github.com/tgomilar/paroller.js.git
**npm package name or url** (if there is one): https://www.npmjs.com/package/paroller.js
**License (List them all if it's multiple):** MIT
**Official homepage:** https://tgomilar.github.io/paroller.js/
**Wanna

[2017-10-05 00:58] Siliconrob opened #11962 "[Request] Add leaflet-terminator"
**Library name:** leaflet-terminator
**Library description:** Allows a leaflet map to display night/day
**Git repository url:** https://github.com/joergdietrich/Leaflet.Terminator
**npm package name or url** (if there is one): https://www.npmjs.com/package/leaflet-terminator
**License (List them all if it's multiple):** ISC
**Official homepage:**
**Wanna say something? Leave message here:**

=====

[2017-10-05 10:15] #11815 closed

[2017-10-05 10:22] #11743 closed

[2017-10-05 10:51] #11545 closed

[2017-10-05 11:05] #10713 closed

[2017-10-06 01:35] ziishaned opened #11964 "[Request] Add emoji-awesome"
**Library name:** emoji-awesome
**Library description:** Cross platform, easy to use, no-javascript solution for the emoji awesomeness
**Git repository url:** https://github.com/zeeshanu/emoji-awesome
**npm package name or url** (if there is one): https://www.npmjs.com/package/emoji-awesome
**License (List them all if it's multiple):** MIT
**Official homepage:** https://zeeshanu.github.io/emoji-aw

[2017-10-06 05:21] extend1994 commented on #11962
Hi @Siliconrob The library doesn't have enough popularity(200 stars/watchers on GitHub and 800 downloads/month on npm registry are good examples). You can take a look at our [issue rule](https://github.com/cdnjs/cdnjs/blob/master/.github/CONTRIBUTING.md#b-request-a-new-library) for more details :smile: We suggest you open a issue again when the repo has notable popularity. This issue will be close

[2017-10-06 05:23] extend1994 opened #11965 "[Request] Add hrjs"
**Library name:** hrjs
**Repository url:** https://github.com/mburakerman/hrjs
**npm package url:** https://www.npmjs.com/package/hrjs
**License:** [MIT](https://github.com/mburakerman/hrjs/blob/master/License.txt)
**Official homepage:** https://mburakerman.github.io/hrjs/

## Something you might want to know about CDNJS
CDNJS provides a CDN containing front-end libraries to allow all the web deve

[2017-10-06 11:09] 9thQuadrant opened #11966 "[Request] Add w3.css (Re-open)"
**Library name:** w3.css
**Library desctiption:** Contains no conflict version of materilaize.css with w3.css and w3.css itself
**Git repository url:** https://github.com/9thQuadrant/w3css
**License (List them all if it's multiple):** MIT
**Official homepage:** [https://materializecss.com](url) , [https://w3schools.com/w3css](url)

[2017-10-07 14:42] #10774 closed

[2017-10-07 14:54] #11291 closed

[2017-10-07 18:15] hcaz opened #11968 "[Request] Add file-upload-with-preview"
**Library name:** file-upload-with-preview
**Library description:** This is a simple frontend utility to help the file-upload process on your website. It is written in pure JavaScript, has no dependencies, and is a small 13.55 kB (gzipped).
**Git repository url:** https://github.com/promosis/file-upload-with-preview
**npm package name or url** (if there is one): file-upload-with-preview
**License

[2017-10-08 05:54] #11753 closed

[2017-10-08 05:57] #11965 closed

[2017-10-09 03:50] extend1994 commented on #11842
Move to #10857.

[2017-10-09 03:50] #11842 closed

[2017-10-09 05:32] extend1994 commented on #11968
Hi @hcaz
The library doesn't have enough popularity(200 stars/watchers on GitHub and 800 downloads/month on npm registry are good examples). You can take a look at our [issue rule](https://github.com/cdnjs/cdnjs/blob/master/.github/CONTRIBUTING.md#b-request-a-new-library) for more details :smile:  Nevertheless, you are welcome to send a pull request to add your library, we will assist you if you w

[2017-10-09 05:34] extend1994 commented on #11966
Hi @9thQuadrant
The library doesn't have enough popularity(200 stars/watchers on GitHub and 800 downloads/month on npm registry are good examples). You can take a look at our [issue rule](https://github.com/cdnjs/cdnjs/blob/master/.github/CONTRIBUTING.md#b-request-a-new-library) for more details :smile:  Nevertheless, you are welcome to send a pull request to add your library, we will assist you i

[2017-10-09 11:48] #11910 closed

[2017-10-09 11:57] #11902 closed

[2017-10-09 14:08] qwe19272375 opened #11973 "[Request] Add tracing.js"
## Overview
**library**: tracing.js
**git repository url**: https://github.com/ebobby/tracing.js
**npm package url**:
**license**: [MIT](https://github.com/ebobby/tracing.js/blob/master/COPYING)
**homepage**:

## How to contribute
* Fork CDNJS and setup your own work environment
* CDNJS is a large repository like around 80GB, maybe you need to set up [sparse-checkout](https://github.com/cdnjs/cdnj

[2017-10-09 14:50] tulikavijay commented on #11973
Can I take this up?

[2017-10-09 14:53] PeterDaveHello commented on #11973
@tulikavijay Sure please.

[2017-10-10 16:51] sufuf3 opened #11974 "[Request] Add bubbly-bg"
**Library name:** bubbly-bg
**Library description:** Beautiful bubbly backgrounds in less than 1kB (696 bytes gzipped)
**Git repository url:** https://github.com/tipsy/bubbly-bg
**npm package name or url** (if there is one): https://www.npmjs.com/package/bubbly-bg
**License (List them all if it's multiple):** Apache-2.0
**Official homepage:** https://tipsy.github.io/bubbly-bg/

---
### :octocat: T

[2017-10-10 18:31] verglor opened #11975 "[Request] Add vue-instant"
**Library name:** vue-instant
**Library description:** vue instant allows you to easily create custom search controls with auto suggestions for your vue 2 applications
**Git repository url:** https://github.com/santiblanko/vue-instant
**npm package name or url** (if there is one): https://www.npmjs.com/package/vue-instant
**License (List them all if it's multiple):** MIT
**Official homepage:** htt

[2017-10-10 21:32] vaindil opened #11976 "[Request] Add jquery-ajax-unobtrusive (ASP.NET Core)"
**Library name:** jquery-ajax-unobtrusive
**Library description:** Part of ASP.NET Core, allows use of `data-` attributes for forms
**Git repository url:** https://github.com/aspnet/jquery-ajax-unobtrusive
**npm package name or url (if there is one):** N/A
**License (List them all if it's multiple):** Apache 2.0
**Official homepage:** N/A

This repo specifically doesn't have a ton of activity, but

[2017-10-11 08:37] #6527 closed

[2017-10-11 08:43] #11813 closed

[2017-10-11 08:49] #10676 closed

[2017-10-11 20:31] jkingsman commented on #11974
I'll take care of this/in progress

[2017-10-12 01:03] adriantran opened #11983 "[Request] Add roosterjs"
**Library name:** roosterjs
**Library description:** roosterjs is a framework-independent javascript rich text editor.
**Git repository url:** https://github.com/Microsoft/roosterjs
**npm package name or url** (if there is one): https://www.npmjs.com/package/roosterjs
**License (List them all if it's multiple):** MIT
**Official homepage:** https://github.com/Microsoft/roosterjs
**Wanna say somethi

[2017-10-12 05:46] geritol commented on #11884
Hi sorry for the late feedback. I am not sure I will be able to this anytime soon.
If somebody has more time currently, just go ahead! :)

[2017-10-12 10:09] #11924 closed

[2017-10-12 13:45] anderson-sousa commented on #11884
I'd like to work on this one.

[2017-10-12 13:45] PeterDaveHello commented on #11884
@anderson-sousa cool!

[2017-10-13 06:52] Iworb opened #11985 "[Request] Add quasarframework/quasar"
**Library name:** Quasar framework
**Library description:** frontend framework for vue.js
**Git repository url:** https://github.com/quasarframework/quasar
**License (List them all if it's multiple):** MIT
**Official homepage:** http://quasar-framework.org
**Wanna say something? Leave message here:** Now it supports UMD build, so I hope it will be included in cdnjs to make it available for online

[2017-10-13 15:22] Lukas238 opened #11994 "[Request] Add clipboard-polyfill"
**Library name:** clipboard-polyfill
**Library description:** Make copying on the web as easy as: ```clipboard.writeText("This text is plain.");```
**Git repository url:** https://github.com/lgarron/clipboard-polyfill
**npm package name or url** (if there is one):  https://www.npmjs.com/package/clipboard-polyfill
**License (List them all if it's multiple):** MIT
**Official homepage:** https://gith

[2017-10-13 16:17] sufuf3 commented on #11933
Closed due to no response in 7 days. cc @PeterDaveHello

[2017-10-13 16:17] #11933 closed

[2017-10-13 16:18] sufuf3 commented on #11870
Closed due to no response in 7 days. cc @PeterDaveHello

[2017-10-13 16:19] sufuf3 commented on #11837
Closed due to no response in 7 days. cc @PeterDaveHello

[2017-10-13 16:19] sufuf3 commented on #11829
Closed due to no response in 7 days. cc @PeterDaveHello

[2017-10-13 16:19] #11829 closed

[2017-10-13 16:20] sufuf3 commented on #11850
Closed due to no response in 7 days. cc @PeterDaveHello

[2017-10-13 16:20] #11850 closed

[2017-10-13 21:44] jbutz commented on #11994
I'll work on adding this, shouldn't be too bad

[2017-10-14 14:13] antonio-spinelli opened #11997 "[Request][Author] Add ng-virtual-keyboard"
**Library name:** ng-virtual-keyboard
**Library description:** An AngularJs Virtual Keyboard Interface
**Git repository url:** https://github.com/antonio-spinelli/ng-virtual-keyboard/
**npm package name or url:** https://www.npmjs.com/package/ng-virtual-keyboard/
**License:** MIT
**Official homepage:** http://antonio-spinelli.github.io/ng-virtual-keyboard/

<bountysource-plugin>

---
Want to back

[2017-10-14 14:48] PeterDaveHello commented on #11883
@szepnapot any updates we have here?

[2017-10-14 14:50] PeterDaveHello commented on #11668
Let's add it @sufuf3

[2017-10-14 14:59] ajay2507 commented on #11983
Can I take this change??

[2017-10-15 04:54] PeterDaveHello opened #11999 "[Request] Add EventDrops"
**Library name:** EventDrops
**Library description:** A time based / event series interactive visualization using d3.js
**Git repository url:** https://github.com/marmelab/EventDrops
**npm package name or url**: [event-drops](https://www.npmjs.com/package/event-drops)
**License:** MIT
**Official homepage:** https://marmelab.com/EventDrops/

=====================

For beginners who is interested in

[2017-10-15 08:50] austin665 commented on #11999
Hi @PeterDaveHello I would love to take this! I am a beginner but will definitely look into this and may ask you more questions. Thanks!

[2017-10-15 08:51] PeterDaveHello commented on #11999
@austin665 Great 👍

[2017-10-15 12:09] VarunWachaspati commented on #11999
@PeterDaveHello  Kindly review my PR https://github.com/cdnjs/cdnjs/pull/12000 and let me know if there any issues

[2017-10-15 12:10] PeterDaveHello commented on #11999
@VarunWachaspati thanks! Please give us more time to review it, will do it ASAP!
(Tons of PRs on the review queue, sorry!)

[2017-10-15 18:41] austin665 commented on #11999
@PeterDaveHello Oops! Does this mean I shouldn't send my PR anymore?

[2017-10-15 21:44] kenangundogan opened #12001 "[Request][Author] Add Fontisto"
**Library name:** fontisto
**Library desctiption:** the iconic font and css toolkit (Fontisto gives you scalable vector icons that can instantly be customized — size, color, drop shadow, and anything that can be done with the power of CSS.)
**Git repository url:** https://github.com/kenangundogan/fontisto
**npm package name or url:** https://www.npmjs.com/package/fontisto
**License (List them all

[2017-10-16 02:04] PeterDaveHello commented on #11999
@austin665 nope, but we can fix this one first.

[2017-10-16 06:35] austin665 commented on #11999
@PeterDaveHello I sent a PR #12002 , please let me know if there are any issues. This is my first PR ever. Cheers :)

[2017-10-16 06:35] PeterDaveHello commented on #11999
@austin665 cool, thanks for the PR, I'll take a look at it soon, before that, you can take a look at the CI test result and kick off the issues if there are any!

[2017-10-16 06:37] austin665 commented on #11999
@PeterDaveHello Yes, there was one issue and I fixed it. It says all checks are passing now!!!

[2017-10-16 06:38] PeterDaveHello commented on #11999
@austin665 awesome! I'll review it ASAP!

[2017-10-16 11:04] sashberd commented on #11524
@sufuf3 @PeterDaveHello
I came across this library and I saw that it is based on html files
We are not hosting html files, thus it cannot be hosted?
Am I write?

[2017-10-16 12:36] sashberd commented on #11803
@sufuf3 @PeterDaveHello
I came across this library and there are no git tag in it
I suppose there is a need to add at least one in order to host it, am I right?

[2017-10-16 14:36] sufuf3 commented on #11803
Let's discuss with the author.
@ApoorvSaxena Could you
Could you please add [git tags](https://github.com/ApoorvSaxena/lozad.js/tags) for the repo?

If you have any suggestions, please let me know.
Thank you.

[2017-10-16 14:40] sufuf3 commented on #11524
We can host *.js or *.css
eg. https://github.com/mozbrick/brick/tree/1.0.0/dist
https://github.com/mozbrick/brick/blob/2.0.0/dist/brick-tabbar/dist/brick-tabbar.js
What do you think?

[2017-10-16 15:34] VarunWachaspati commented on #11974
@sufuf3 Kindly review my PR #12003

[2017-10-16 17:03] VarunWachaspati commented on #10166
@PeterDaveHello Kindly review #12004

[2017-10-16 17:04] VarunWachaspati commented on #11509
@PeterDaveHello Kindly review #12005

[2017-10-16 17:10] PeterDaveHello commented on #10166
@VarunWachaspati our team member will review it soon :)

[2017-10-16 17:10] PeterDaveHello commented on #11509
@VarunWachaspati our team member will review it soon :)

[2017-10-16 17:10] PeterDaveHello commented on #11974
@VarunWachaspati our team member will review it soon :)

[2017-10-16 22:04] BuonOmo opened #12006 "[Request] Add web3.js"
**Library name:** web3.js
**Library description:** Ethereum JavaScript API
**Git repository url:** https://github.com/ethereum/web3.js/
**npm package name or url** (if there is one): web3
**License (List them all if it's multiple):** GNU Lesser General Public License v3
**Official homepage:**
**Wanna say something? Leave message here:** I can absolutely do the PR, after a few upvotes!

<bountysour

[2017-10-17 04:44] #11927 closed

[2017-10-17 04:47] #11929 closed

[2017-10-17 04:54] #11889 closed

[2017-10-17 04:56] #11900 closed

[2017-10-17 05:37] ApoorvSaxena commented on #11803
@sufuf3 have added [tag](https://github.com/ApoorvSaxena/lozad.js/tags) to the repo

[2017-10-17 05:45] sufuf3 commented on #11803
@ApoorvSaxena Many thanks.
@sashberd I think it's fine to add this lib :smiley:

[2017-10-17 07:21] maruilian11 commented on #11999
@austin665 Sorry, I think Peter didn't notice there are two duplicated PR for this issue. We usually don't review PRs for the same issue. And I decided to close your PR because it has been a little later than the other. Sorry for wasting your time!

[2017-10-17 07:29] sashberd commented on #11524
@sufuf3
If you check [here](https://github.com/mozbrick/brick/tree/2.0.0#install) you will see that *.html files are necessary for using this library

[2017-10-17 07:37] austin665 commented on #11999
@maruilian11  Thanks for getting back! I don't mind wasting time on this issue. The problem though is I commented on this thread informing @PeterDaveHello  that I was working on this issue.  But @VarunWachaspati dude sent a random PR. When his PR didn't go through and was sitting idle I sent mine.  The same is repeated in #11974  as well, where there is a PR being sent by @VarunWachaspati while a

[2017-10-17 08:11] PeterDaveHello commented on #11999
hmmm, @austin665 sorry that I may mislead you and myself from the few comments, the first one I mean we should fix the currently existed PR first, existing PRs didn't mean that you can't send another one, but we need to make sure it's inactive/stale.

I saw your second comment says you sent the PR but I missed the previous one context(excuse but I got too many issues waiting for review ... lol), s

[2017-10-17 08:35] austin665 commented on #11999
Hey @PeterDaveHello no problem! You don't have to apologize at all :)   Sure, I would be more than happy to pick up an issue 👍  Happy Coding!

[2017-10-17 08:40] PeterDaveHello commented on #11999
@austin665 nice 👍

[2017-10-17 09:41] pxss opened #12009 "[Request] Add ckplayer.js 6.8"
**Library name:** ckplayer.js
**Library description:**
**Git repository url:**
**npm package name or url** (if there is one):
**License (List them all if it's multiple):**
**Official homepage:**
**Wanna say something? Leave message here:**

=====================

Notes from cdnjs maintainer(please remove this section after you read it):
Please read the [README.md](https://github.com/cdnjs/cdnjs#cd

[2017-10-17 09:45] Rob-Rychs commented on #9822
SOL 22 update:
So far only progress on this has been a sparseCheckout to work locally and a quick read through of all the contributing docs, sorry been occupied with other things.
To create a sense of urgency for myself I imagine all the digital marketers producing top quality video content wishing there was an easy way to get all their ga-event data... millions of DMs who are failing to have it g

[2017-10-17 11:15] sashberd commented on #11887
@sufuf3 No git tag with this lib, and no place to open issues inside project
FYI

[2017-10-17 15:08] sufuf3 commented on #11887
@sashberd Yes, you're right!
Thank you for reminding.
Would you like to discuss with the author about adding [git tag](https://github.com/dan-silver/ElementTransitions/tags)?
We can help the open source library better and better. :)
Thank you.

[2017-10-17 15:42] sufuf3 commented on #11524
@sashberd Thanks but I think it's still fine.
Because `<link rel="import" href="bower_components/brick/dist/brick.html">` is import this file https://github.com/mozbrick/brick/blob/2.0.0/dist/brick.html
And the code in file also import other file `<link rel="import" href="brick-deck/dist/brick-deck.html">` .
And if we check https://github.com/mozbrick/brick/blob/2.0.0/dist/brick-deck/dist/brick-de

[2017-10-17 17:53] hmaesta opened #12011 "[Request] Add simple-mask-money"
**Library name:** simple-mask-money
**Library description:** Mask money with pure javascript
**Git repository url:** https://github.com/codermarcos/simple-mask-money
**npm package name or url**: simple-mask-money
**License:** (?)
**Official homepage:** http://codermarcos.com/simple-mask-money/

[2017-10-17 20:36] LeaSak commented on #11168
Hi @dakshshah96 and @PeterDaveHello. I was wondering if you still need some help in copy editing the documentation? I'd be glad to contribute to the project. I'm completely new to the open source community but I have some editing experience. I noticed a few minor things with the README.md for example.

[2017-10-17 22:29] jfinstrom opened #12013 "Malware"
The link
http:// www . clarketravis . com
supplied on
https://cdnjs.com/libraries/TableExport
tries to install malware
https://www.travismclarke.com/ seems to be the authors correct site

[2017-10-18 01:04] austin665 commented on #12013
Hi @jfinstrom thanks for bringing this up. I found it directing to the wrong website as well. @PeterDaveHello sent a PR with the changed homepage URL, hope that is all we need to do :smiley:

[2017-10-18 07:13] sashberd commented on #11887
@sufuf3 There is no discuss option!?!?! No issues tab at all inside this project

[2017-10-18 07:15] sashberd commented on #11524
@sufuf3 OK
I still doubt about this, but I will create a PR. I suggest to ask author about this

[2017-10-18 08:21] extend1994 commented on #11962
Close this due to no response and insufficient popularity, cc @PeterDaveHello

[2017-10-18 08:21] #11962 closed

[2017-10-18 08:23] extend1994 commented on #11968
Close this due to no response and insufficient popularity, cc @PeterDaveHello

[2017-10-18 09:09] sufuf3 commented on #11524
@sashberd Thank you very much. :)

[2017-10-18 09:15] sufuf3 commented on #11887
@sashberd It's a bad news. 😢
but I think we can manually add v0.2.1 https://github.com/dan-silver/ElementTransitions/tree/0daad5cce56e2ce7b1bff270f565c5affbacee64
What do you think?

Many thanks.

[2017-10-18 09:56] ruslansalikhov opened #12015 "[Request] Add bitsharesjs"
**Library name:** bitsharesjs
**Library description:** Pure JavaScript Bitshares library for node.js and browsers. Can be used to construct, sign and broadcast transactions in JavaScript, and to easily obtain data from the blockchain via public apis.
**Git repository url:** https://github.com/bitshares/bitsharesjs
**npm package name or url** (if there is one): https://www.npmjs.com/package/bitshar

[2017-10-18 11:54] sufuf3 commented on #9831
duplicated with #9827
move to #9827
cc @PeterDaveHello

[2017-10-18 11:54] #9831 closed

[2017-10-18 13:31] paulogdm opened #12017 "[Request] Add vue-toasted"
**Library name:** vue-toasted
**Library description:** Toast for Vuejs apps
**Git repository url:** https://github.com/shakee93/vue-toasted
**npm package name or url** (if there is one): https://www.npmjs.com/package/vue-toasted
**License (List them all if it's multiple):** MIT
**Official homepage:** https://shakee93.github.io/vue-toasted/
**Wanna say something? Leave message here:** Seem promisin

[2017-10-18 14:18] TimotheeJeannin commented on #11394
Would be nice to add this lib !

[2017-10-18 15:01] CharlesNepote opened #12018 "[request] Add wheelzoom"
The project is well supported since 2012.

- It has a web page: http://www.jacklmoore.com/wheelzoom
- A github repo: https://github.com/jackmoore/wheelzoom
- It's on NPM: https://www.npmjs.com/package/wheelzoom

And the code is clean, thanks @jackmoore.

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/50460506-request-add-wheelzoom?u

[2017-10-18 16:59] qwe19272375 opened #12020 "[Request] Add numbers.js"
## Overview
**library**: numbers.js
**git repository url**: https://github.com/numbers/numbers.js
**npm package url**: https://www.npmjs.com/package/numbers
**license**: [Apache-2.0](https://github.com/numbers/numbers.js/blob/master/LICENSE)

## How to contribute
* Fork CDNJS and setup your own work environment
* CDNJS is a large repository like around 80GB, maybe you need to set up [sparse-checko

[2017-10-18 17:24] qwe19272375 opened #12021 "[Request] Add readremaining.js"
## Overview
**library**: readremaining.js
**git repository url**: https://github.com/Aerolab/readremaining.js
**license**: [MIT](https://github.com/Aerolab/readremaining.js/blob/master/LICENSE.txt)
**homepage**: https://aerolab.github.io/readremaining.js/

## How to contribute
* Fork CDNJS and setup your own work environment
* CDNJS is a large repository like around 80GB, maybe you need to set up

[2017-10-18 20:01] clarketm commented on #12013
@jfinstrom @jfinstrom – thanks for bringing this to my attention and resolving it in a timely manner. I apologize for any inconveniences.

[2017-10-18 22:01] PeterDaveHello commented on #12013
#12014 merged, thank you guys.

[2017-10-18 22:01] #12013 closed

[2017-10-19 02:47] sufuf3 commented on #11976
As [README](https://github.com/aspnet/jquery-ajax-unobtrusive#jquery-unobtrusive-ajax) said, this project is part of [ASP.NET Core](https://github.com/aspnet/home).
Although, this library doesn't have enough popularity (like more than 200 stars on GitHub or 800 downloads per month on npm). But ASP.NET Core has over 6000 stars.
I think this lib is fine to be added.
Thanks.

[2017-10-19 02:54] sufuf3 commented on #11983
@adriantran this library doesn't have enough popularity (like more than 200 stars on GitHub or 800 downloads per month on npm). Please take a look at our [README.md](https://github.com/cdnjs/cdnjs/blob/master/README.md). Would you mind to open an issue again when the library has more popularity? If there are no response in 7 days, I will close this issue. Thanks for your great work and contributio

[2017-10-19 03:07] sufuf3 commented on #11985
@Iworb Thank you.
This is a good news.
Could you tell us that which files can be added on CDNJS?
Sorry that I'm not familiar with this lib.
Thanks.

[2017-10-19 03:13] sufuf3 commented on #12001
@kenangundogan this library doesn't have enough popularity (like more than 200 stars on GitHub or 800 downloads per month on npm). Please take a look at our [README.md](https://github.com/cdnjs/cdnjs/blob/master/README.md).
Would you mind to open an issue again when the library has more popularity?
If there are no response in 7 days, I will close this issue.
Thanks for your great work and contribu

[2017-10-19 03:58] Iworb commented on #11985
They're not provide any build by default and it's need to `npm run build` to get all variations of builds (UMD, ES6) with styles.

[2017-10-19 08:34] #11582 closed

[2017-10-19 08:38] sashberd commented on #11832
@PeterDaveHello What about this?

[2017-10-19 13:19] mayurshirishmohite opened #12024 "[Request] Add jQuery Flipster"
**Library name:** jQuery Flipster
**Library description:**
**Git repository url:** https://github.com/drien/jquery-flipster
**npm package name or url** (if there is one): https://www.npmjs.com/package/jquery.flipster
**License (List them all if it's multiple):** MIT
**Official homepage:** http://brokensquare.com/Code/jquery-flipster/demo/
**Wanna say something? Leave message here:**

=============

[2017-10-19 14:49] Iworb commented on #11985
I missed it, but there's `build` [directory](https://github.com/quasarframework/quasar/tree/v0.14/build) with compiled sources. Link

[2017-10-20 05:32] thdoan commented on #6604
@maruilian11 I'm back with [another request to add](https://github.com/cdnjs/cdnjs/issues/11394) -- I hope you can reconsider since my lib has over 100 stars now ^_^.

[2017-10-20 12:41] #10040 closed

[2017-10-20 12:43] PeterDaveHello commented on #9831
@sufuf3 this is not a normal issue, you should close another one.

[2017-10-20 12:44] PeterDaveHello commented on #6604
@thdoan we'll take a look soon, thanks.

[2017-10-20 12:45] #11884 closed

[2017-10-20 13:02] #11973 closed

[2017-10-20 13:16] PeterDaveHello commented on #11168
@LeaSak sure thing and thank you! You're very welcome to join! I think @dakshshah96 is in busy right now, if you don't mind, I'd hope if we can have some minor fix of current document, just about the grammar or spelling issues, the not so big changes. What do you think?

[2017-10-20 14:23] sufuf3 commented on #9831
Sorry I will pay more attention next time.
I thought that we should keep earlier issue, and close latest one.
So maybe I have to keep the issue with `beginner` label in this case.
Am I right?
Thank you.

[2017-10-20 14:27] PeterDaveHello commented on #9831
@sufuf3 not really, we can discuss later, let's focus on the pending PRs first.

[2017-10-20 19:54] LeaSak commented on #11168
@PeterDaveHello, Great! I'm excited to help. Yes, I mean what @dakshshah96 described as minor above, just spelling, grammar, punctuation. I'll start with the README.md and send my suggestions as a PR if that's okay?

[2017-10-21 04:29] PeterDaveHello commented on #11168
@LeaSak Sure thing!

[2017-10-21 15:53] #11438 closed

[2017-10-21 16:03] #11915 closed

[2017-10-21 16:20] PeterDaveHello commented on #11524
@sashberd do you mean this: https://github.com/PeterDaveHello/web-minify-helper/? If so, would you like to open an issue about your OS? :)

[2017-10-21 16:24] PeterDaveHello commented on #11524
It's fine to host library as @sufuf3 says if the html files are not so necessary, however, the file structure and the html in this library looks a little weird(not sure if I'm wrong), we may need more time to dig about it.

[2017-10-21 16:25] PeterDaveHello commented on #11887
Maybe just tweet him about that? I prefer not to manually add it, that's the latest option.

[2017-10-21 16:28] PeterDaveHello commented on #9822
@Rob-Rychs hmmm .. let me know if you need help, thanks.

[2017-10-21 16:33] PeterDaveHello commented on #11974
@VarunWachaspati  sorry that I didn't notice that somebody already started the pull request, would you mind to pick another one please? Thanks!

[2017-10-21 19:17] maruilian11 commented on #6604
@thdoan Great! Let's reopen this issue. Would you like to help send a PR to add your lib since we've got lots of works to do. Of course, if you don't have the time, I will help send the PR in few days.

[2017-10-21 23:25] billp-rwpc opened #12029 "[Request] Add pug"
**Library name:** pug
**Library description:**
https://pugjs.org/js/pug.js
You only list former and superceded known as "Jade" ... now is "Pug"
I am just a user and have no other interest or association to pug or need for it here.
Just FYI that you are not supporting the latest "jade" now named "pug".
**Git repository url:**
**npm package name or url** (if there is one):
**License (List them all i

[2017-10-21 23:27] PeterDaveHello commented on #12029
@billp-rwpc this issue seems to be duplicated.

[2017-10-22 06:34] sashberd commented on #11524
As I  said before the html files here are trigger files, which are loading content into DOM.
The author itself write:
![image](https://user-images.githubusercontent.com/11975561/31858915-fd2503a6-b70b-11e7-9694-bd2c61174ab0.png)
You have to host also html files. If you are hosting only JS it is useless for this lib.
I will ask the author opinion about this issue

[2017-10-22 18:10] 7php opened #12034 "[BUG] - Wrong ionicons content in hosted version"
ionicons v2.0.1 is hosted here: [https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css](https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css)

But, the content still has the v2.0.0 version.
Please fix.

[2017-10-23 04:30] PeterDaveHello commented on #12034
It comes from the upstream repository v2.0.1 tag: https://github.com/ionic-team/ionicons/tree/v2.0.1 / https://github.com/ionic-team/ionicons/commit/ecb4b806831005c25b97ed9089fbb1d7dcc0879c, we can't fix it.

[2017-10-23 04:30] #12034 closed

[2017-10-23 07:14] institutocriap commented on #11837
Thanks for reopen.

[2017-10-23 10:27] mayurshirishmohite opened #12038 "[Request] Add Cascade Slider"
**Library name:** Cascade Slider
**Library description:**
**Git repository url:**
**npm package name or url** (if there is one):
**License (List them all if it's multiple):**
**Official homepage:**
**Wanna say something? Leave message here:**

=====================

Notes from cdnjs maintainer(please remove this section after you read it):
Please read the [README.md](https://github.com/cdnjs/cdnjs

[2017-10-23 14:21] 7php commented on #12034
Ok well noted. I have created an issue with them. FYI: https://github.com/ionic-team/ionicons/issues/507

Thank you for the response.

[2017-10-23 19:26] billp-rwpc commented on #12029
Ok ... thanks.

[2017-10-23 19:26] #12029 closed

[2017-10-24 06:08] EskilVisa opened #12041 "[Request] Add workbox"
**Library name: workbox
**Library description: service worker utility
**Git repository url: https://github.com/GoogleChrome/workbox
**npm package name or url** (if there is one):  workbox-sw
**License (List them all if it's multiple):  Apache License, Version 2.0
**Official homepage: https://workboxjs.org/
**Wanna say something? Leave message here:**

=====================

Notes from cdnjs mainta

[2017-10-24 10:27] rochars opened #12044 "[Request][author] Add riffwave64"
**Library name:** riffwave64
**Library description:** Read & write wave files with 8, 16, 24, 32 PCM, 32 IEEE & 64-bit audio.
**Git repository url:** https://github.com/rochars/riffwave64
**npm package name or url** (if there is one): https://www.npmjs.com/package/riffwave64
**License (List them all if it's multiple):** MIT
**Official homepage:** https://github.com/rochars/riffwave64
**Wanna say s

[2017-10-24 11:52] pooyaa opened #12046 "[Request] Add themify-icon"
**Library name:** themify-icon
**Library description:** Themify Icons is a complete set of icons for use in web design and apps, consisting of 320+ pixel-perfect, hand-crafted icons that draw inspiration from Apple iOS 7 - available to the public, 100% FREE! You may use or distribute it for any purpose, whether personal or commercial. This icon set is a must have tool for web designers and develop

[2017-10-24 11:58] PeterBot opened #12047 "[Build failed] Got error while building meta data/artifact"
Dear all,

Our build process just got an error while building the meta data/artifact of cdnjs project, our [website and api](https://github.com/cdnjs/new-website) may not be as new as our repository, however, the cdn service will not been affected, you can still use it, and modify the library name, version number and filename in the url can help you access all the content on cdnjs, we will fix the

[2017-10-24 11:59] #12047 closed

[2017-10-24 14:47] sashberd commented on #6830
@PeterDaveHello  here the maintained and updated version of this repo
https://github.com/DeuxHuitHuit/quicksearch

[2017-10-24 16:19] Enalmada commented on #12041
This is the new version of sw-toolbox (https://cdnjs.com/libraries/sw-toolbox) and I am kinda shocked it is not already on cdnjs.

[2017-10-25 11:45] sashberd commented on #6830
@PeterDaveHello
@sufuf3
Guys I found that this lib package.json  was already updated with new maintained repository
![image](https://user-images.githubusercontent.com/11975561/31996877-c043224a-b992-11e7-942f-d31048a5b16f.png)
Strange that the issue was not closed by this update.
However, I suggest to change from npm update to git auto-update because git has more version releases.
For you discreti

[2017-10-25 12:12] Ryan0413242 commented on #11931
Hello
I want to modify jquery.form

[2017-10-25 12:35] sufuf3 commented on #12021
Duplicated with #11544 #7585 #7590
closed.

[2017-10-25 12:35] #12021 closed

[2017-10-25 15:11] snoopy831002 commented on #11883
@PeterDaveHello  plz review pull request #12053, thx

[2017-10-25 16:26] PeterBot opened #12055 "[Build failed] Got error while building meta data/artifact"
Dear all,

Our build process just got an error while building the meta data/artifact of cdnjs project, our [website and api](https://github.com/cdnjs/new-website) may not be as new as our repository, however, the cdn service will not been affected, you can still use it, and modify the library name, version number and filename in the url can help you access all the content on cdnjs, we will fix the

[2017-10-25 16:27] PeterDaveHello commented on #12055
@PeterBot I'm looking into it now.

[2017-10-25 16:28] PeterDaveHello commented on #12055
Strange git issue but should be fixed hopefully.

[2017-10-25 16:28] #12055 closed

[2017-10-25 16:52] NullVoxPopuli commented on #11778
not having cdn access is a blocker to popularity, imo. I would have used this library if it were on the CDN. :_\

[2017-10-25 19:29] siddharthlatest opened #12057 "Upgrade appbase.js - to v2.1.0"
When adding the library https://github.com/cdnjs/cdnjs/issues/8687, a .gitignore was added to prevent usage of 1.0.0 version. Currently, we are at [2.1.0](https://www.npmjs.com/package/appbase-js).

What should be done to update the lib version on cdnjs?

[2017-10-25 19:37] PeterDaveHello commented on #12057
@siddharthlatest I'll work on it, let me know if v1.0.0 needs to be unlocked/added or not, thanks.

[2017-10-25 19:39] #12057 closed

[2017-10-25 19:46] cdukes opened #12058 "[Request] Add svgxuse"
**Library name:** svgxuse
**Library description:** A simple polyfill that fetches external SVGs referenced in use elements when the browser itself fails to do so.
**Git repository url:** https://github.com/Keyamoon/svgxuse
**npm package name or url** (if there is one): https://www.npmjs.com/package/svgxuse
**License (List them all if it's multiple):** MIT
**Official homepage:**
**Wanna say somethi

[2017-10-25 19:53] siddharthlatest commented on #12057
@PeterDaveHello Wow, thanks for the super quick response. v1.0.0 does not need to be added.

[2017-10-25 19:54] PeterDaveHello commented on #12057
@siddharthlatest Cool, give it a few secs to be deployed on the website.

[2017-10-25 21:03] terinjokes commented on #4328
Hey all.

We've been operating CDNJS with a short cache time (currently 5 minutes) for a bit now, without hearing about any issues. Unless that changes, our current plan is to increase HSTS to 6 months next week.

[2017-10-25 21:34] Eonasdan commented on #11778
duplicate of #11453

[2017-10-25 22:34] thestinger commented on #4328
HSTS preloading recently started requiring a max-age of at least 1 year to get preloaded (https://hstspreload.org/#submission-requirements).

[2017-10-25 23:03] terinjokes commented on #4328
@thestinger We'll cross that boat afterwards.

[2017-10-26 05:03] #8276 closed

[2017-10-26 05:10] PeterDaveHello commented on #11883
We'll review it soon, thanks @snoopy831002

[2017-10-26 05:10] #6099 closed

[2017-10-26 05:22] PeterDaveHello commented on #12029
PS: we can use issue #10060

[2017-10-26 05:23] PeterDaveHello commented on #10060
@maruilian11 please help take care of this issue, thanks.

[2017-10-26 05:24] PeterDaveHello commented on #11524
Thanks @sashberd, but I think the users can write their own triggers? It'll be good to ask the author 👍

[2017-10-26 05:26] PeterDaveHello commented on #11832
This issue is duplicated with #5476, feel free to send a PR, thanks.

[2017-10-26 05:26] #11832 closed

[2017-10-26 05:39] PeterDaveHello commented on #6830
Let's close this one.

@sashberd I think you misunderstand the link, it's the homepage of a library, in the `Link/Tag` area, it shows we are using npm auto-update on it, you can also see its package. BTW, it's better not to use many screenshot in the discussion unless necessary, I don't want to waste GitHub's resource :) Take a look at the API example and see if it fits your need in this case: nec

[2017-10-26 05:39] #6830 closed

[2017-10-26 07:29] sashberd commented on #5476
@PeterDaveHello Is there any documentation to update with the change in fixtool.js that I want to send right now?

[2017-10-26 07:44] sashberd commented on #6830
@PeterDaveHello No problem man
But as I said I suggest to change from npm update to git auto-update because git has more version releases.
If you agree   I will open new issue and take care of it

[2017-10-26 07:47] PeterDaveHello commented on #5476
@sashberd nope, only the source code.

[2017-10-26 07:48] PeterDaveHello commented on #6830
@sashberd the sure thing we can do.

[2017-10-26 07:54] sashberd opened #12064 "Change autoupdate of quicksearch from npm to git in package.json"
Related Issue: https://github.com/cdnjs/cdnjs/issues/6830
Git: https://github.com/DeuxHuitHuit/quicksearch
cdnjs url: https://cdnjs.com/libraries/jquery.quicksearch
Mission: change autoupdate from npm from git

[2017-10-26 08:02] yukulele commented on #10060
pugjs authors don't want we use pug client side https://github.com/pugjs/pug/issues/2655

[2017-10-26 08:06] PeterDaveHello commented on #10060
@yukulele hmmm, that's the bad news :(

[2017-10-26 13:04] maruilian11 commented on #5985
@PeterDaveHello https://www.nuget.org/packages/jshashtable.js This status doesn't have the info requirement(downloads per month) ask for. Can we add this lib?

[2017-10-26 14:08] sashberd commented on #6951
@PeterDaveHello @sufuf3
This lib has no tag and no issue tab to ask author for add git tag
Suggest to close

[2017-10-26 14:11] sashberd commented on #6962
@PeterDaveHello @sufuf3
We can host this lib only from 2.3.0 version. From this version that files inside src folder are supported by cdnjs
What do you think about this?

[2017-10-26 14:26] sashberd commented on #7267
@PeterDaveHello Should we host this lib?

[2017-10-26 17:53] cadorn commented on #7267
The timing of this re-consideration is interesting. I hope to release a few projects that leverage this loader (like https://jsonrep.github.io/jsonrep/) in the coming months.

[2017-10-26 18:00] PeterDaveHello commented on #7267
hmmm if @cadorn you'd like to send a pull request, I can accept it, but we may not directly help add it as we still have many libraries with higher popularity to deal with.

[2017-10-27 01:13] cadorn commented on #7267
Sounds good! I'll send a PR when ready. Thanks!

[2017-10-27 01:21] sufuf3 commented on #6962
@sashberd Thank you for your suggestion.
But I think this lib is one of React component. (Back-end)
This library support `es` from npm.
But I'm not sure that this lib can be used in web front-end.

I'm sure that this lib from npm (under `es` folder) can't be minified via `web-minify-helper` because there are some errors as the followings:
[code]

Many thanks.

[2017-10-27 01:32] sufuf3 commented on #6951
@sashberd Thanks.
I think we can add this lib as low priority. (because there is not a whole lot of stars.)
And maybe we can refer this link https://github.com/nathco/jQuery.scrollSpeed#release-notes and mapping to the commit logs.

Many thanks.

[2017-10-27 01:38] sufuf3 commented on #11778
@Eonasdan Thanks.
close this issue because duplicated with #11453
Let's move to #11453
cc @PeterDaveHello

[2017-10-27 01:38] #11778 closed

[2017-10-27 01:42] sufuf3 commented on #12009
@pxss Thanks for the suggestion, however, this library doesn't have enough notable popularity(like more than 200 stars on GitHub or 800 downloads per month on npm). please take a look on our [README.md](https://github.com/cdnjs/cdnjs/blob/master/README.md) for detail, it's always good to read the document before open an issue, I'll respectfully suggest you open a new issue again when the library h

[2017-10-27 01:44] sufuf3 commented on #12011
@hmaesta  Thanks for the suggestion, however, this library doesn't have enough notable popularity(like more than 200 stars on GitHub or 800 downloads per month on npm). please take a look on our [README.md](https://github.com/cdnjs/cdnjs/blob/master/README.md) for detail, it's always good to read the document before open an issue, I'll respectfully suggest you open a new issue again when the libra

[2017-10-27 01:46] hmaesta commented on #12011
You are right.
Sorry for not reading the Readme with attention. 🤐

[2017-10-27 01:46] #12011 closed

[2017-10-27 01:51] sufuf3 commented on #12015
@ruslansalikhov Many thanks.
Fell free to send a pull request, if you'd like to let this lib be added quickly.
And if you have any question, please let me know. 😃
Thanks.

[2017-10-27 02:03] sufuf3 commented on #12038
@mayurshirishmohite Do you mean you want this lib https://github.com/ierhyna/cascade-slider be hosted on CDNJS?
Could you give us more information of this library?
Such as the Git repository link, website, npm package name ... etc.
This is helpful to us to know more about this lib which you want to be hosted on CDNJS.

Thank you.

[2017-10-27 02:12] sufuf3 commented on #12041
@EskilVisa @Enalmada Thank you very much.
This lib can be added from npm (the files under `build/importScripts`)
But the filename is combine with version.
Maybe we need to manually add this lib without auto-update config when we send the PR, or discuss with the authors about the filename issue.

Thank you.

[2017-10-27 02:13] sufuf3 commented on #12011
No worries.
Thanks for being interested in CDNJS. 😃

[2017-10-27 08:10] mayurshirishmohite commented on #12038
@sufuf3
yes this one
https://github.com/ierhyna/cascade-slider

[2017-10-27 17:08] Enalmada commented on #12041
My build process (sbt) doesn't involve npm at all but it is a helpful reminder for those that do.
I also noticed that [jsdelivr](https://www.jsdelivr.com/package/npm/workbox-sw) has it up...another alternative for people until it is up on cdnjs.
workbox is still maturing with a new major version out soon so it is probably a perfect time to discuss with the authors about filename issues.   I can ce

[2017-10-27 22:36] logue opened #12068 "[Request] Add WAAPISim"
**Library name:** WAAPISim
**Library description:** WAAPISim is a 'WebAudioAPI' polyfill fallbacking to the 'Audio Data API', or Flash.
**Git repository url:** https://github.com/g200kg/WAAPISim
**npm package name or url** (if there is one):
**License (List them all if it's multiple):**  MIT License
**Official homepage:** https://www.g200kg.com/docs/waapisim/
**Wanna say something? Leave message h

[2017-10-28 13:09] pxss commented on #12009
This js may not have been placed on github, but in China, this js is used very much, and this is its official website: www.ckplayer.com

[2017-10-28 15:11] SISheogorath opened #12070 "Update mermaid"
We just noticed that the NPM version of mermaid does no longer include the global (window) scope variable for the mermaidAPI.

In order to fix this with and without the CDN, we would like to update mermaid. Currently, only 7.0.0 is available on CDNJS.

The release handling is a bit confusing since npm shows 7.1.0 as latest release, Github has the latest release label on 7.0.0, tags go to 7.0.5 and

[2017-10-28 15:51] bing107 commented on #12020
Hi @qwe19272375, I'd like to take this issue if its still up for grabs.

[2017-10-28 17:27] qwe19272375 commented on #12020
@bing107 The library of this issue has been added into CDNJS by PR #12022 and this issue should be closed. Thank you!

[2017-10-28 17:27] #12020 closed

[2017-10-28 20:29] azjezz opened #12071 "[Request] Add gifplayer"
**Library name:** gifplayer
**Library description:** gifplayer is a jquery plugin that will help you play and stop animated gifs on your website. Something like they do in 9gag or facebook.

The advantage of using this plugin is that you can load a lighter static version of the animated gif, and then load the actual animated gif, when the user wants to see it in motion. Improving the initial load

[2017-10-29 07:14] sashberd commented on #6962
@sufuf3 @PeterDaveHello So, should we close this issue?

[2017-10-29 16:05] sufuf3 commented on #6962
I think this lib can't be used in web front-end.
Maybe we can close it.
Let's waiting for @PeterDaveHello decision.

@sashberd Many thanks. 👍

[2017-10-29 16:15] PeterDaveHello commented on #12070
Done in 12e88ded0fb86f060375f5d39613e151bf913427 & 62b51675593cb56d93891797a208364138c94441, thanks for report, forgot to close this issue in the commit so manually close it now.

[2017-10-29 16:15] #12070 closed

[2017-10-29 16:39] sufuf3 commented on #12009
@pxss Thanks.
Could you help to discuss with the author about adding [git tag](https://gitee.com/niandeng/ckplayer/tags)?
Because CDNJS add new versions via auto-update config when the library release new versions.
This will be very useful for us to update the versions.

Many thanks.

@PeterDaveHello could we host this lib?
Although, the lib has 132 stars, the number of clicks is 31556 (http://cht

[2017-10-29 16:40] sufuf3 commented on #12038
@mayurshirishmohite Ummm...
Thanks for the suggestion, however, this library doesn't have enough notable popularity(like more than 200 stars on GitHub or 800 downloads per month on npm). please take a look on our [README.md](https://github.com/cdnjs/cdnjs/blob/master/README.md) for detail, it's always good to read the document before open an issue, I'll respectfully suggest you open a new issue ag

[2017-10-30 08:07] sashberd commented on #7796
@PeterDaveHello @sufuf3
I suggest to close this issue. The lib popularity did not changed since the issue was opened
FYR

[2017-10-30 08:15] sashberd commented on #8011
@PeterDaveHello The link to https://github.com/SBoudrias/handlebars-x18n is not working any more. Is lib exists or we could remove it from the list to add?

[2017-10-30 08:27] sashberd commented on #8188
@PeterDaveHello As I saw you closed PR because of no response from the author fro git tags. Should we also close the issue?

[2017-10-30 12:15] umeshp7 opened #12074 "[Request] Add extends-ng-model.min.js"
**Library name:** extends-ng-model.min.js
**Library description:** This project builds on top of ngModel to add new features to angular
**Git repository url:** https://github.com/Plippe/extends-ng-model
**npm package name or url** (if there is one):
**License (List them all if it's multiple):**
**Official homepage:**
**Wanna say something? Leave message here:**
https://github.com/Plippe/extends-ng

[2017-10-30 12:21] sashberd commented on #8835
@PeteDaveHello is this #8750 not the same?

[2017-10-30 12:56] sashberd commented on #9228
@PeterDaveHello I suggest to close this issue. The lib did not get enough popularity since the issue was opened
FYI

[2017-10-30 12:57] sashberd commented on #9260
@PeterDaveHello I suggest to close this issue. The lib did not get enough popularity since the issue was opened
FYI

[2017-10-30 12:58] #9228 closed

[2017-10-30 12:59] sashberd commented on #9298
@PeterDaveHello What is this issue about?

[2017-10-30 13:19] #9260 closed

[2017-10-30 18:42] gauntface commented on #12041
We will be removing the version from the filename in V3. Until then it'll be a case of sitting tight.

[2017-10-30 20:29] #11212 closed

[2017-10-30 20:41] theholla opened #12077 "[Request] Add react-contextmenu"
**Library name:**
react-contextmenu

**Library description:**
ContextMenu in React with accessibility support.

**Git repository url:**
https://github.com/vkbansal/react-contextmenu

**npm package name or url** (if there is one):
https://www.npmjs.com/package/react-contextmenu

**License (List them all if it's multiple):**
MIT

**Official homepage:**
http://vkbansal.me/react-contextmenu/#/

**Wann

[2017-10-30 20:58] terinjokes commented on #8972
Thanks for this ticket @indolering. At this point I don't think we'll be adding HPKP for cdnjs.cloudflare.com. There's also intent from Chrome to remove support.

We do plan on supporting the "Enforce-CT" header soon, likely first in "report" then in "enforce" modes. I've retitled this ticket to reflect this work.

[2017-10-31 03:28] sufuf3 commented on #7796
@sashberd Thanks.
Closed due to no response from the author in 7 days. cc @PeterDaveHello

[2017-10-31 03:28] #7796 closed

[2017-10-31 03:34] sufuf3 commented on #12041
@gauntface This is a great news.
Thank you for your support.
We will add this lib ASAP after you release v3.x.x version. :)
tThank you all, guys.

[2017-10-31 03:38] sufuf3 commented on #9298
@sashberd this is an adding library request.
CDNJS host this lib https://cdnjs.com/libraries/element-ui
Let's close this issue. :)
cc @PeterDaveHello

[2017-10-31 03:38] #9298 closed

[2017-10-31 04:39] sufuf3 commented on #12046
@pooyaa Thanks for the suggestion, however, this library doesn't have enough notable popularity(like more than 200 stars on GitHub or 800 downloads per month on npm). please take a look on our [README.md](https://github.com/cdnjs/cdnjs/blob/master/README.md) for detail, it's always good to read the document before open an issue, I'll respectfully suggest you open a new issue again when the library

[2017-10-31 04:41] sufuf3 commented on #12068
@logue Thanks for the suggestion, however, this library doesn't have enough notable popularity(like more than 200 stars on GitHub or 800 downloads per month on npm). please take a look on our [README.md](https://github.com/cdnjs/cdnjs/blob/master/README.md) for detail, it's always good to read the document before open an issue, I'll respectfully suggest you open a new issue again when the library

[2017-10-31 09:33] Cryptix720 opened #12078 "[Request][Author] Add Chronimi"
**Library name:** https://github.com/Cryptix720/Chronimi
**Library description:**
**Git repository url:**
**npm package name or url** (if there is one):
**License (List them all if it's multiple):**
**Official homepage:**
**Wanna say something? Leave message here:**

=====================

Notes from cdnjs maintainer(please remove this section after you read it):
1. Please read the [README.md](htt

[2017-10-31 11:31] FallenRiteMonk opened #12080 "[Request] Add opencv"
**Library name:** opencv
**Library description:** Open Source Computer Vision Library
**Git repository url:** https://github.com/opencv/opencv
**License (List them all if it's multiple):** BSD
**Official homepage:** https://opencv.org/

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/50980512-request-add-opencv?utm_campaign=plugin&ut

[2017-10-31 14:27] #10166 closed

[2017-10-31 14:39] #12017 closed

[2017-10-31 14:45] #9818 closed

[2017-10-31 14:49] neveldo commented on #9447
Hello @pvnr0082t ,

Thanks for the pull-request, any update about it ?

[2017-10-31 15:13] sashberd commented on #9818
@PeterDaveHello Is this issue closed and merged and I can remove the branch?

[2017-10-31 15:23] extend1994 commented on #12071
Duplicated with #11192. Move to there.

[2017-10-31 15:23] #12071 closed

[2017-10-31 15:24] extend1994 commented on #12074
Hi @umeshp7
The library doesn't have enough popularity(200 stars/watchers on GitHub and 800 downloads/month on npm registry are good examples). You can take a look at our [issue rule](https://github.com/cdnjs/cdnjs/blob/master/.github/CONTRIBUTING.md#b-request-a-new-library) for more details :smile: We suggest you open a issue again when the repo has notable popularity. This issue will be closed i

[2017-10-31 15:31] extend1994 commented on #12080
Hi @FallenRiteMonk
Thanks for request. But I am wondering if this is compatible with a browser?

[2017-10-31 15:31] extend1994 commented on #12078
Hi @Cryptix720
The library doesn't have enough popularity(200 stars/watchers on GitHub and 800 downloads/month on npm registry are good examples). You can take a look at our [issue rule](https://github.com/cdnjs/cdnjs/blob/master/CONTRIBUTING.md#b-request-a-new-library) for more details :smile: We suggest you open a issue again when the repo has notable popularity.

This issue will be closed if th

[2017-11-01 11:41] sashberd commented on #9466
@sufuf3 @PeterDaveHello @extend1994
What about this issue? What should be done here?

[2017-11-01 11:42] PeterDaveHello commented on #9466
We should close it as it's meaningless and lack of response :)

[2017-11-01 11:42] #9466 closed

[2017-11-01 11:44] sashberd commented on #9539
@sufuf3 This library is deprecated and not in use any more. I suggest not to host it

[2017-11-01 11:45] cjmaxik opened #12084 "Update MDBootstrap to 4.4.3"
MDBootstrap has been updated to 4.4.3 (https://github.com/mdbootstrap/bootstrap-material-design/releases/tag/4.4.3). Please update. Thank you.

[2017-11-01 11:49] PeterDaveHello commented on #12084
@cjmaxik thanks for report!

[2017-11-01 11:54] PeterDaveHello commented on #12084
@cjmaxik not really sure why it's not updated, I manually trigger the updater and bot to update MDBootstrap, now v4.4.2 & v4.4.3 are both added in f372394e821 & 4fb5113783f, please just give it few mins to be deployed. Thanks again.

[2017-11-01 11:54] sashberd commented on #9649
@PeterDaveHello Looks like there is no official git for this specific lib. Suggest to close it

[2017-11-01 11:59] PeterDaveHello commented on #12084
Done https://cdnjs.com/libraries/mdbootstrap/4.4.3

[2017-11-01 11:59] #12084 closed

[2017-11-01 12:02] sashberd commented on #9758
@PeterDaveHello The library did not grown since the issue was opened. Suggest to close

[2017-11-01 12:05] sashberd commented on #9771
@sufuf3 @PeterDaveHello What about this one? Why it is still opened? The lib was added as I understood.

[2017-11-01 12:06] sashberd commented on #9774
@PeterDaveHello What is this issue for?

[2017-11-01 12:07] PeterDaveHello commented on #9771
@sashberd @qwe19272375 nice catch!

@sufuf3 any reason no response here?

[2017-11-01 12:07] #9771 closed

[2017-11-01 12:11] sashberd commented on #10070
@PeterDaveHello What we should do with this one?

[2017-11-01 12:14] sashberd commented on #10099
@PeterDaveHello Still no details. Suggest to close

[2017-11-01 12:14] PeterDaveHello commented on #10070
hmmm @rbkpro the url is not a repository, please give us more information about this library, thanks.

[2017-11-01 12:16] PeterDaveHello commented on #10099
@sashberd nice catch! Next time you found a request without any useful info and without response for more than 2 weeks, please feel free to close it directly, just remember to mention the reason why you close it in the comment in case we don't know what happened, and just for the record, thanks!

[2017-11-01 12:16] #10099 closed

[2017-11-01 12:28] sashberd commented on #10099
@PeterDaveHello I am a new one in organization and I think it is to early for me to delete issues. As you can understand , I am going thought old issues and trying to find those one that could be closed or added quick without problems like no gittag, unsupported files etc. cause we have to much like those. May be we can create labels like "Suggest to close" and you or other team members will run o

[2017-11-01 12:30] PeterDaveHello commented on #10099
@sashberd brilliant idea! I'll create it, but you don't need to be afraid to close issue, as you can see, we always try to confirm with issuer first, if they don't provide useful info and do not respond, what we can do is to close it :)

[2017-11-01 12:35] sashberd commented on #10099
@PeterDaveHello Greta. Ping me when it will ready

[2017-11-01 12:36] PeterDaveHello commented on #10099
@sashberd I think it's already done :P

[2017-11-01 12:38] sashberd commented on #10099
@PeterDaveHello  I saw it! Already in use  😃

[2017-11-01 12:47] sashberd commented on #10235
Still no popularity. Suggest to close

[2017-11-01 12:47] sashberd commented on #10190
Still no popularity Suggest to close

[2017-11-01 12:48] sashberd commented on #10208
Is this issue solved?

[2017-11-01 12:48] sashberd commented on #10220
Still no response from issue author. Suggest to close

[2017-11-01 12:55] sashberd commented on #10270
Still no popularity. Suggest to close

[2017-11-01 12:59] sashberd commented on #10273
Still no popularity. Suggest to close

[2017-11-01 12:59] sashberd commented on #10277
What is this one about?

[2017-11-01 13:02] sashberd commented on #10294
GIT URL https://github.com/jschr/bootstrap-modal

[2017-11-01 13:04] sashberd commented on #10308
What is this issue about?

[2017-11-01 13:05] sashberd commented on #10313
Still not response from issue author. Moreover, If @extend1994  is right the lib has not enough popularity. Suggest to close

[2017-11-01 14:47] ShaunEgan commented on #10590
+1

[2017-11-01 14:52] sufuf3 commented on #9771
That's my bad. I'm apologize.
The reason maybe that I was learning how to be a member of intern 3, before.
The PR was be merged on Mar 8.
I was a new member in that time.

In any case, it's still my fault. I'm sorry.

[2017-11-01 16:34] #11803 closed

[2017-11-01 16:40] #11509 closed

[2017-11-01 16:47] #11809 closed

[2017-11-01 17:24] sufuf3 commented on #10313
Closed due to no response in 7 days also the lib has not enough popularity. cc @PeterDaveHello

[2017-11-01 17:24] #10313 closed

[2017-11-01 17:26] sufuf3 commented on #10308
close because CSNJS host https://cdnjs.com/libraries/font-awesome/4.5.0
@sashberd Thanks
cc @PeterDaveHello

[2017-11-01 17:26] #10308 closed

[2017-11-01 17:27] sufuf3 commented on #10294
Close this issue because CDNJS host it https://cdnjs.com/libraries/bootstrap-modal
Thanks @sashberd
cc @PeterDaveHello

[2017-11-01 17:27] #10294 closed

[2017-11-01 17:33] sufuf3 commented on #10220
Closed due to no response in 7 days. cc @PeterDaveHello
Thanks @sashberd

[2017-11-01 17:33] #10220 closed

[2017-11-01 17:37] sufuf3 commented on #10190
@helantao Thanks for the suggestion, however, this library doesn't have enough notable popularity(like more than 200 stars on GitHub or 800 downloads per month on npm). Also there is no git tag.
Thanks for your great work and contribution.

I'll close this issue. cc @PeterDaveHello

@sashberd Thanks

[2017-11-01 17:37] #10190 closed

[2017-11-01 17:39] sufuf3 commented on #10235
@PenetratingShot Thanks for the suggestion, however, this library doesn't have enough notable popularity(like more than 200 stars on GitHub or 800 downloads per month on npm). Also there is no git tag.
Thanks for your great work and contribution.

I'll close this issue. cc @PeterDaveHello

@sashberd Thanks

[2017-11-01 17:39] #10235 closed

[2017-11-01 17:42] #10208 closed

[2017-11-01 17:44] rokob opened #12088 "Rollbar.js not updating"
I updated the version of Rollbar.js on npm and via a tag on Github about 20 hours ago to 2.3.0, but the latest version on cdnjs is still the previous version (2.2.10) https://api.cdnjs.com/libraries?search=rollbar

This has happened to us in the past where it takes a long time for a release to end up getting picked up by cdnjs. Is there something in our configuration that is broken that is causing

[2017-11-01 17:48] sufuf3 commented on #9539
@sashberd I think this lib is still good to host.
Because the good file structure, release versions and enough popularity.
Also the latest commit is on 3 Jul.

What do you think?
Thanks for your great work and contribution.

[2017-11-01 17:56] sufuf3 commented on #10070
Maybe he did mean this link https://github.com/jdorfman/bootstrap-cdn/blob/master/bootstrap-v204/css/bootstrap-combined.min.css
But there is no git tag.

[2017-11-01 18:57] tivie opened #12089 "[author] CDNjs seems to have wrong version stored for showdown 1.8.0"
When requesting https://cdnjs.cloudflare.com/ajax/libs/showdown/1.8.0/showdown.min.js the first line of the file tells it actually is version v 1.7.6:

    /*! showdown v 1.7.6 - 24-10-2017 */

see https://github.com/cdnjs/cdnjs/blob/master/ajax/libs/showdown/1.8.0/showdown.js

On further inspection, it's neither version 1.7.6 nor 1.8.0 but an intermediate commit that CDNjs, for some reason, wrong

[2017-11-01 19:45] sufuf3 commented on #12089
@tivie Thanks for response.
I found you has added v1.8.0 git tag on https://github.com/showdownjs/showdown/commit/e862e242f7b9186d14b82289828fa099ff799c04 this commit.
And the file https://github.com/showdownjs/showdown/blob/e862e242f7b9186d14b82289828fa099ff799c04/dist/showdown.min.js which as the same with https://cdnjs.cloudflare.com/ajax/libs/showdown/1.8.0/showdown.min.js is in this commit to

[2017-11-01 19:47] PeterDaveHello commented on #12089
@tivie we just fetch the versions by tags, so as you can see, the file is in the v1.8.0 tag, that's the reason why.

[2017-11-01 20:10] tivie commented on #12089
Aww blast! Yeah. I fixed that really quickly, seems @PeterBot is even faster.

Well, version 1.8.0 would still be a missmatch in relation to github(bower and stuff) and NPM.

@sufuf3  Would a pull request with the "fixed" versions be okay? Since the CDNjs repository is HUGE and my PC complained a lot I would have to manually copy/paste the code into github...

which would result in a PR of 4 commi

[2017-11-01 20:23] tivie commented on #12089
@PeterDaveHello I see. Well, seems the only solution is to bump showdown's version and inform users not to use the CDNjs version 1.8.0.

And thanks for the quick reply! :smile:

[2017-11-01 20:32] FallenRiteMonk commented on #12080
I think this should answer your question if i understood it correctly:
https://docs.opencv.org/3.3.1/d0/d84/tutorial_js_usage.html

[2017-11-01 20:38] tivie commented on #12089
Published version [1.8.1](https://github.com/showdownjs/showdown/releases/tag/1.8.1) which should fix the issue. Feel free to close the issue when you feel it's appropriate

[2017-11-02 02:02] sufuf3 commented on #12089
@tivie Thank you very much.
@PeterDaveHello Thanks a lot.

[2017-11-02 02:23] extend1994 commented on #12080
@FallenRiteMonk Thanks! That's what I am wondering.
But according to https://docs.opencv.org/3.3.1/d4/da1/tutorial_js_setup.html, `opencv.js` needs to be manually built, but we need a library distribution from the project maintainers. So If it won't bother you too much, you can try to open an issue there to ask them can they make a distribution. Then we can add this library. 😃

[2017-11-02 05:22] PeterDaveHello commented on #12089
@tivie looks added in https://github.com/cdnjs/cdnjs/commit/aecb36a5d40afd09ce72ecde74c2a86e5b89d5aa 👍

[2017-11-02 05:22] #12089 closed

[2017-11-02 07:33] pratu16x7 opened #12091 "[Request] Add frappe-charts"
**Library name:** frappe-charts
**Library description:**GitHub inspired simple, responsive, modern SVG Charts with zero dependencies
**Git repository url:** https://github.com/frappe/charts
**npm package name or url** (if there is one): https://www.npmjs.com/package/frappe-charts
**License (List them all if it's multiple):** MIT
**Official homepage:**  https://frappe.github.io/charts

[2017-11-02 08:45] sashberd commented on #9539
@sufuf3
I disagree. As developer I will never use deprecated library in my work. So why we need to host something that download rates of it will be zeroed and spent place for it on hosting
@PeterDaveHello However, for your consideration.

[2017-11-02 08:47] sashberd commented on #10070
@sufuf3 @PeterDaveHello  This link is from cdn of bootstrap. Should we host hosting?

[2017-11-02 13:24] jek-nov opened #12092 "[Request] Add dbc-code-contracts"
**Library name:** dbc-code-contracts
**Library description:** ES6 classes, which offer the several possibilities:
- the Design by Contract (DbC) approach. You may also set the exception throwing policy, if some contract has failed
- working with the DOM-model, there are methods for fetching/appending/updating/removing the HTML-nodes
- deep working with the HTML-attributes, if you plan to create th

[2017-11-02 15:13] Cryptix720 opened #12093 "[Request][Author] Add keres"
**Library name:** keres
**Library description:**
**Git repository url:** https://github.com/Cryptix720/keres
**npm package name or url** (if there is one): https://www.npmjs.com/package/keres
**License (List them all if it's multiple):** ISC
**Official homepage:**

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/51078523-request-auth

[2017-11-02 16:35] #11882 closed

[2017-11-02 16:51] #6822 closed

[2017-11-02 17:40] PeterBot opened #12096 "[Build failed] Got error while building meta data/artifact"
Dear all,

Our build process just got an error while building the meta data/artifact of cdnjs project, our [website and api](https://github.com/cdnjs/new-website) may not be as new as our repository, however, the cdn service will not been affected, you can still use it, and modify the library name, version number and filename in the url can help you access all the content on cdnjs, we will fix the

[2017-11-02 17:43] PeterDaveHello commented on #12096
Forgot to push/upload a website submodule update, fixed.

[2017-11-02 17:43] #12096 closed

[2017-11-02 18:19] sufuf3 commented on #9539
I think many developers as the same with your mind would like to use useful library not to use the deprecated library.
But sometimes, some people maybe meet some problem which be depended on the situation.
In that circumstances, they have to choose the deprecated library.
This is a bad news, but this can be occurred.

Any way, let's wait for @PeterDaveHello decision.

Thank you @sashberd

[2017-11-03 16:24] #11909 closed

[2017-11-03 16:34] #9822 closed

[2017-11-03 16:40] #11994 closed

[2017-11-05 06:52] sufuf3 commented on #11394
duplicated with #6604
And this lib is working on.
close this issue and let's move to #6604

[2017-11-05 06:52] #11394 closed

[2017-11-05 09:12] sufuf3 commented on #12088
@rokob Thank you for notice us.
You added v2.3.0 git tag on 11/01 07:09 AM(GMT+8) and bot added v2.3.0 on 11/02 01:34 AM(GMT+8).
It seems take a little bit long time to host on CDNJS.

@PeterDaveHello would you take a look this issue?
Many thanks.

[2017-11-05 19:44] #6943 closed

[2017-11-05 20:02] #9827 closed

[2017-11-06 11:13] chrisrowe opened #12098 "[Request] Add https://github.com/sindresorhus/query-string"
**Library name:** https://github.com/sindresorhus/query-string
**Library description:**
**Git repository url:**
**npm package name or url** (if there is one):
**License (List them all if it's multiple):**
**Official homepage:**
**Wanna say something? Leave message here:**

=====================

Notes from cdnjs maintainer(please remove this section after you read it):
1. Please read the [README.m

[2017-11-06 11:15] PeterDaveHello commented on #12098
@chrisrowe Please give us more details please.

[2017-11-06 11:16] #12098 closed

[2017-11-06 14:32] rbennettemerson opened #12099 "Invalid Certificate Authority for cdnjs.cloudflare.com"
We are unable to load files from cdnjs.cloudflare.com on some of our production sites because the certificate authority is invalid.  This issue seems to be somewhat inconsistent as sometimes there is no certificate error.
![image](https://user-images.githubusercontent.com/5197464/32445185-fefb4690-c2d2-11e7-998d-504bb010fcf1.png)

Pinging the domain gives me IP 104.19.196.102.

Looks like there wa

[2017-11-06 16:13] sufuf3 commented on #12099
@rbennettemerson Thank you for your response.
May I ask your ip of production site and location?
I am in Taiwan. And everything looks fine to me.
![2017-11-06 11 43 08](https://user-images.githubusercontent.com/8349587/32449446-384e3192-c2d7-11e7-8438-1b6a4f8a1684.png)

I also got ip 104.19.194.102 from cdnjs.cloudflare.com server.
[code]

Also I test the site cdnjs.cloudflare.com https://www.ssll

[2017-11-06 16:21] PeterDaveHello commented on #12099
@rbennettemerson can you please give me the result of:

 - traceroute to cdnjs.cloudflare.com

and the content of what you got from:
 - https://cdnjs.com/cdn-cgi/trace
 - https://cdnjs.cloudflare.com/cdn-cgi/trace

I doubt if you connect to a server not hosted by Cloudflare but you are under a Man-in-the-middle attack.

[2017-11-06 16:36] PeterDaveHello commented on #12088
See https://github.com/cdnjs/cdnjs/commits/master/ajax/libs/rollbar.js for the update record.

[2017-11-06 16:37] PeterDaveHello commented on #8835
@sashberd my fault.

[2017-11-06 16:37] #8835 closed

[2017-11-06 16:38] PeterDaveHello commented on #8750
Ping @maruilian11

[2017-11-06 16:58] #12064 closed

[2017-11-06 17:05] PeterDaveHello commented on #7267
@cadorn I mean if you can send a PR from your side, I'll like to assume the popularity requirement is met this time :)

[2017-11-06 18:35] rbennettemerson commented on #12099
The issue seems to have been resolved as of 10:44 a.m. ET.  I checked all of the IPs (104.19.{192-6}.102) at that time and they all had valid certificates. If the certs haven't changed recently for those servers then it may have more to do with the network I'm connecting from.

[2017-11-06 21:00] uncleramsay opened #12100 "Add React 15.6.2"
React 15.6.2 [was released](https://reactjs.org/blog/2017/09/25/react-v15.6.2.html) in September.

15.6.1 and 16.0.0 are available [on your site](https://cdnjs.com/libraries/react), but 15.6.2 is missing. Would it be possible to add it?

Thanks

[2017-11-06 21:54] PeterDaveHello commented on #12100
@uncleramsay sure thing, thanks for report.

[2017-11-07 00:33] terinjokes commented on #12099
@rbennettemerson CDNJS doesn't use certificates issued by Cisco. You likely were connecting to the internet through an transparent proxy or network device that was decrypting and re-encrypting traffic.

[2017-11-07 00:33] #12099 closed

[2017-11-07 02:39] #10398 closed

[2017-11-07 03:13] PeterBot opened #12101 "[Build failed] Got error while building meta data/artifact"
Dear all,

Our build process just got an error while building the meta data/artifact of cdnjs project, our [website and api](https://github.com/cdnjs/new-website) may not be as new as our repository, however, the cdn service will not been affected, you can still use it, and modify the library name, version number and filename in the url can help you access all the content on cdnjs, we will fix the

[2017-11-07 03:25] PeterBot opened #12102 "[Build failed] Got error while building meta data/artifact"
Dear all,

Our build process just got an error while building the meta data/artifact of cdnjs project, our [website and api](https://github.com/cdnjs/new-website) may not be as new as our repository, however, the cdn service will not been affected, you can still use it, and modify the library name, version number and filename in the url can help you access all the content on cdnjs, we will fix the

[2017-11-07 03:37] PeterBot opened #12103 "[Build failed] Got error while building meta data/artifact"
Dear all,

Our build process just got an error while building the meta data/artifact of cdnjs project, our [website and api](https://github.com/cdnjs/new-website) may not be as new as our repository, however, the cdn service will not been affected, you can still use it, and modify the library name, version number and filename in the url can help you access all the content on cdnjs, we will fix the

[2017-11-07 03:49] PeterBot opened #12104 "[Build failed] Got error while building meta data/artifact"
Dear all,

Our build process just got an error while building the meta data/artifact of cdnjs project, our [website and api](https://github.com/cdnjs/new-website) may not be as new as our repository, however, the cdn service will not been affected, you can still use it, and modify the library name, version number and filename in the url can help you access all the content on cdnjs, we will fix the

[2017-11-07 04:01] PeterBot opened #12105 "[Build failed] Got error while building meta data/artifact"
Dear all,

Our build process just got an error while building the meta data/artifact of cdnjs project, our [website and api](https://github.com/cdnjs/new-website) may not be as new as our repository, however, the cdn service will not been affected, you can still use it, and modify the library name, version number and filename in the url can help you access all the content on cdnjs, we will fix the

[2017-11-07 04:13] PeterBot opened #12106 "[Build failed] Got error while building meta data/artifact"
Dear all,

Our build process just got an error while building the meta data/artifact of cdnjs project, our [website and api](https://github.com/cdnjs/new-website) may not be as new as our repository, however, the cdn service will not been affected, you can still use it, and modify the library name, version number and filename in the url can help you access all the content on cdnjs, we will fix the

[2017-11-07 04:25] PeterBot opened #12107 "[Build failed] Got error while building meta data/artifact"
Dear all,

Our build process just got an error while building the meta data/artifact of cdnjs project, our [website and api](https://github.com/cdnjs/new-website) may not be as new as our repository, however, the cdn service will not been affected, you can still use it, and modify the library name, version number and filename in the url can help you access all the content on cdnjs, we will fix the

[2017-11-07 04:37] PeterBot opened #12108 "[Build failed] Got error while building meta data/artifact"
Dear all,

Our build process just got an error while building the meta data/artifact of cdnjs project, our [website and api](https://github.com/cdnjs/new-website) may not be as new as our repository, however, the cdn service will not been affected, you can still use it, and modify the library name, version number and filename in the url can help you access all the content on cdnjs, we will fix the

[2017-11-07 04:49] PeterBot opened #12109 "[Build failed] Got error while building meta data/artifact"
Dear all,

Our build process just got an error while building the meta data/artifact of cdnjs project, our [website and api](https://github.com/cdnjs/new-website) may not be as new as our repository, however, the cdn service will not been affected, you can still use it, and modify the library name, version number and filename in the url can help you access all the content on cdnjs, we will fix the

[2017-11-07 05:01] PeterBot opened #12110 "[Build failed] Got error while building meta data/artifact"
Dear all,

Our build process just got an error while building the meta data/artifact of cdnjs project, our [website and api](https://github.com/cdnjs/new-website) may not be as new as our repository, however, the cdn service will not been affected, you can still use it, and modify the library name, version number and filename in the url can help you access all the content on cdnjs, we will fix the

[2017-11-07 05:13] PeterBot opened #12112 "[Build failed] Got error while building meta data/artifact"
Dear all,

Our build process just got an error while building the meta data/artifact of cdnjs project, our [website and api](https://github.com/cdnjs/new-website) may not be as new as our repository, however, the cdn service will not been affected, you can still use it, and modify the library name, version number and filename in the url can help you access all the content on cdnjs, we will fix the

[2017-11-07 05:25] PeterBot opened #12113 "[Build failed] Got error while building meta data/artifact"
Dear all,

Our build process just got an error while building the meta data/artifact of cdnjs project, our [website and api](https://github.com/cdnjs/new-website) may not be as new as our repository, however, the cdn service will not been affected, you can still use it, and modify the library name, version number and filename in the url can help you access all the content on cdnjs, we will fix the

[2017-11-07 05:37] PeterBot opened #12114 "[Build failed] Got error while building meta data/artifact"
Dear all,

Our build process just got an error while building the meta data/artifact of cdnjs project, our [website and api](https://github.com/cdnjs/new-website) may not be as new as our repository, however, the cdn service will not been affected, you can still use it, and modify the library name, version number and filename in the url can help you access all the content on cdnjs, we will fix the

[2017-11-07 05:49] PeterBot opened #12115 "[Build failed] Got error while building meta data/artifact"
Dear all,

Our build process just got an error while building the meta data/artifact of cdnjs project, our [website and api](https://github.com/cdnjs/new-website) may not be as new as our repository, however, the cdn service will not been affected, you can still use it, and modify the library name, version number and filename in the url can help you access all the content on cdnjs, we will fix the

[2017-11-07 06:01] PeterBot opened #12116 "[Build failed] Got error while building meta data/artifact"
Dear all,

Our build process just got an error while building the meta data/artifact of cdnjs project, our [website and api](https://github.com/cdnjs/new-website) may not be as new as our repository, however, the cdn service will not been affected, you can still use it, and modify the library name, version number and filename in the url can help you access all the content on cdnjs, we will fix the

[2017-11-07 06:13] PeterBot opened #12117 "[Build failed] Got error while building meta data/artifact"
Dear all,

Our build process just got an error while building the meta data/artifact of cdnjs project, our [website and api](https://github.com/cdnjs/new-website) may not be as new as our repository, however, the cdn service will not been affected, you can still use it, and modify the library name, version number and filename in the url can help you access all the content on cdnjs, we will fix the

[2017-11-07 06:25] PeterBot opened #12118 "[Build failed] Got error while building meta data/artifact"
Dear all,

Our build process just got an error while building the meta data/artifact of cdnjs project, our [website and api](https://github.com/cdnjs/new-website) may not be as new as our repository, however, the cdn service will not been affected, you can still use it, and modify the library name, version number and filename in the url can help you access all the content on cdnjs, we will fix the

[2017-11-07 06:37] PeterBot opened #12119 "[Build failed] Got error while building meta data/artifact"
Dear all,

Our build process just got an error while building the meta data/artifact of cdnjs project, our [website and api](https://github.com/cdnjs/new-website) may not be as new as our repository, however, the cdn service will not been affected, you can still use it, and modify the library name, version number and filename in the url can help you access all the content on cdnjs, we will fix the

[2017-11-07 06:49] PeterBot opened #12120 "[Build failed] Got error while building meta data/artifact"
Dear all,

Our build process just got an error while building the meta data/artifact of cdnjs project, our [website and api](https://github.com/cdnjs/new-website) may not be as new as our repository, however, the cdn service will not been affected, you can still use it, and modify the library name, version number and filename in the url can help you access all the content on cdnjs, we will fix the

[2017-11-07 07:01] PeterBot opened #12121 "[Build failed] Got error while building meta data/artifact"
Dear all,

Our build process just got an error while building the meta data/artifact of cdnjs project, our [website and api](https://github.com/cdnjs/new-website) may not be as new as our repository, however, the cdn service will not been affected, you can still use it, and modify the library name, version number and filename in the url can help you access all the content on cdnjs, we will fix the

[2017-11-07 07:13] PeterBot opened #12122 "[Build failed] Got error while building meta data/artifact"
Dear all,

Our build process just got an error while building the meta data/artifact of cdnjs project, our [website and api](https://github.com/cdnjs/new-website) may not be as new as our repository, however, the cdn service will not been affected, you can still use it, and modify the library name, version number and filename in the url can help you access all the content on cdnjs, we will fix the

[2017-11-07 07:25] PeterBot opened #12123 "[Build failed] Got error while building meta data/artifact"
Dear all,

Our build process just got an error while building the meta data/artifact of cdnjs project, our [website and api](https://github.com/cdnjs/new-website) may not be as new as our repository, however, the cdn service will not been affected, you can still use it, and modify the library name, version number and filename in the url can help you access all the content on cdnjs, we will fix the

[2017-11-07 07:37] PeterBot opened #12124 "[Build failed] Got error while building meta data/artifact"
Dear all,

Our build process just got an error while building the meta data/artifact of cdnjs project, our [website and api](https://github.com/cdnjs/new-website) may not be as new as our repository, however, the cdn service will not been affected, you can still use it, and modify the library name, version number and filename in the url can help you access all the content on cdnjs, we will fix the

[2017-11-07 07:49] PeterBot opened #12125 "[Build failed] Got error while building meta data/artifact"
Dear all,

Our build process just got an error while building the meta data/artifact of cdnjs project, our [website and api](https://github.com/cdnjs/new-website) may not be as new as our repository, however, the cdn service will not been affected, you can still use it, and modify the library name, version number and filename in the url can help you access all the content on cdnjs, we will fix the

[2017-11-07 07:51] #12101 closed

[2017-11-07 07:51] #12102 closed

[2017-11-07 07:51] #12103 closed

[2017-11-07 07:51] #12104 closed

[2017-11-07 07:51] #12105 closed

[2017-11-07 07:51] #12106 closed

[2017-11-07 07:51] #12107 closed

[2017-11-07 07:51] #12108 closed

[2017-11-07 07:51] #12109 closed

[2017-11-07 07:51] #12110 closed

[2017-11-07 07:51] #12112 closed

[2017-11-07 07:51] #12113 closed

[2017-11-07 07:51] #12114 closed

[2017-11-07 07:51] #12115 closed

[2017-11-07 07:51] #12116 closed

[2017-11-07 07:51] #12117 closed

[2017-11-07 07:51] #12118 closed

[2017-11-07 07:51] #12119 closed

[2017-11-07 07:51] #12120 closed

[2017-11-07 07:51] #12121 closed

[2017-11-07 07:51] #12122 closed

[2017-11-07 07:51] #12123 closed

[2017-11-07 07:51] #12124 closed

[2017-11-07 07:51] #12125 closed

[2017-11-07 07:57] PeterDaveHello commented on #12125
@PeterBot https://github.com/cdnjs/buildScript/commit/f38eef5195d853ed65f5f1f88825d6d887b3c334

[2017-11-07 07:57] PeterDaveHello commented on #12124
@PeterBot https://github.com/cdnjs/buildScript/commit/f38eef5195d853ed65f5f1f88825d6d887b3c334

[2017-11-07 07:57] PeterDaveHello commented on #12123
@PeterBot https://github.com/cdnjs/buildScript/commit/f38eef5195d853ed65f5f1f88825d6d887b3c334

[2017-11-07 07:58] PeterDaveHello commented on #12122
@PeterBot https://github.com/cdnjs/buildScript/commit/f38eef5195d853ed65f5f1f88825d6d887b3c334

[2017-11-07 08:03] PeterBot opened #12126 "[Build failed] Got error while building meta data/artifact"
Dear all,

Our build process just got an error while building the meta data/artifact of cdnjs project, our [website and api](https://github.com/cdnjs/new-website) may not be as new as our repository, however, the cdn service will not been affected, you can still use it, and modify the library name, version number and filename in the url can help you access all the content on cdnjs, we will fix the

[2017-11-07 08:13] PeterBot opened #12127 "[Build failed] Got error while building meta data/artifact"
Dear all,

Our build process just got an error while building the meta data/artifact of cdnjs project, our [website and api](https://github.com/cdnjs/new-website) may not be as new as our repository, however, the cdn service will not been affected, you can still use it, and modify the library name, version number and filename in the url can help you access all the content on cdnjs, we will fix the

[2017-11-07 08:25] PeterBot opened #12128 "[Build failed] Got error while building meta data/artifact"
Dear all,

Our build process just got an error while building the meta data/artifact of cdnjs project, our [website and api](https://github.com/cdnjs/new-website) may not be as new as our repository, however, the cdn service will not been affected, you can still use it, and modify the library name, version number and filename in the url can help you access all the content on cdnjs, we will fix the

[2017-11-07 08:35] #12126 closed

[2017-11-07 08:35] #12127 closed

[2017-11-07 08:35] #12128 closed

[2017-11-07 08:47] Iworb commented on #11985
Any news?

[2017-11-07 08:49] PeterBot opened #12129 "[Build failed] Got error while building meta data/artifact"
Dear all,

Our build process just got an error while building the meta data/artifact of cdnjs project, our [website and api](https://github.com/cdnjs/new-website) may not be as new as our repository, however, the cdn service will not been affected, you can still use it, and modify the library name, version number and filename in the url can help you access all the content on cdnjs, we will fix the

[2017-11-07 08:58] sufuf3 commented on #11985
@Iworb Sorry.
CDNJS didn't build the files by it's own.
Would you discuss with the lib's author to produce the web frond-end files, maybe?
It will useful to us let the lib to be added.

Thank you.

[2017-11-07 09:58] 6y6a opened #12130 "[Request] Add mdi"
**Library name:** MaterialDesign
**Library description:** Material Design Icons
**Git repository url:** https://github.com/Templarian/MaterialDesign
**npm package name or url** (if there is one): mdi
**License (List them all if it's multiple):** SIL OPEN FONT LICENSE Version 1.1
**Official homepage:** https://materialdesignicons.com/

[2017-11-07 11:28] svenanders commented on #9004
react-dom is a separate package from react and is not available under https://cdnjs.com/libraries/react

[2017-11-07 14:48] PeterDaveHello commented on #12129
Fixed.

[2017-11-07 14:48] #12129 closed

[2017-11-07 15:41] bsyk commented on #9004
It was at v15.6.0 https://cdnjs.com/libraries/react/15.6.0, seems not so since then.

[2017-11-07 16:32] PeterDaveHello opened #12131 "[Request] Add RecordRTC"
**Library name:** RecordRTC
**Library description:** WebRTC JavaScript library for audio/video as well as screen activity recording.
**Git repository url:** https://github.com/muaz-khan/RecordRTC/
**npm package name or url** : [recordrtc](https://www.npmjs.com/package/recordrtc)
**License:** MIT
**Official homepage:** https://www.webrtc-experiment.com/RecordRTC/

**Note:** Looks like we need to pi

[2017-11-07 16:43] PeterDaveHello opened #12132 "[Request] Add lamejs"
**Library name:** lamejs
**Library description:** A Pure JavaScript MP3 Encoder
**Git repository url:** https://github.com/zhuker/lamejs
**npm package**: https://www.npmjs.com/package/lamejs
**License:** LGPL-3.0

=====================

For beginners who is interested in picking up this issue:

In this issue, we are going to host a new web front-end library on CDNJS, so that web developer can easi

[2017-11-07 16:45] PeterDaveHello commented on #10867
@nitank this repository doesn't reach our popularity requirement and it doesn't looks like the source repository of lame.min.js, do you mean this one? https://github.com/cdnjs/cdnjs/issues/12132

[2017-11-07 18:21] felzend opened #12133 "[Request] Add vue-mask"
**Library name:** v-mask
**Library description:** mask plugin for vuejs
**Git repository url:** https://github.com/probil/v-mask
**npm package name or url** (if there is one): v-mask
**License (List them all if it's multiple):**
**Official homepage:**

[2017-11-07 20:26] freshlover opened #12134 "[Request] Add animonscroll"
**Library name:** animonscroll
**Library description:**
**Git repository url:**
**npm package name or url** (if there is one):
**License (List them all if it's multiple):**
**Official homepage:**
**Wanna say something? Leave message here:**

/**
 * animOnScroll.js v1.0.0
 * http://www.codrops.com
 *
 * Licensed under the MIT license.
 * http://www.opensource.org/licenses/mit-license.php
 *
 * Copy

[2017-11-07 23:12] PeterBot opened #12135 "[Build failed] Got error while building meta data/artifact"
Dear all,

Our build process just got an error while building the meta data/artifact of cdnjs project, our [website and api](https://github.com/cdnjs/new-website) may not be as new as our repository, however, the cdn service will not been affected, you can still use it, and modify the library name, version number and filename in the url can help you access all the content on cdnjs, we will fix the

[2017-11-07 23:16] #12135 closed

[2017-11-08 03:17] ParkourKarthik commented on #12132
I would like to take up this issue :)

[2017-11-08 04:12] ParkourKarthik commented on #12131
I'll work on this.

[2017-11-08 07:36] extend1994 commented on #12074
Close this issue due to no response and insufficient popularity, cc @PeterDaveHello

[2017-11-08 07:36] #12074 closed

[2017-11-08 07:37] extend1994 commented on #12078
Close this issue due to no response and insufficient popularity, cc @PeterDaveHello

[2017-11-08 07:37] #12078 closed

[2017-11-08 07:42] extend1994 commented on #12133
Thanks @felzend.
This has been processing in #10446 for #9870.
So I will close this for now.
You can trace it in #10446.

[2017-11-08 07:42] #12133 closed

[2017-11-08 07:47] extend1994 commented on #12134
Hi @freshlover Thanks for request.
Do you have further information like its repository which is required for the maintenance of library on cdnjs?

[2017-11-08 07:48] extend1994 commented on #12046
Close this issue due to no response and insufficient popularity. cc @PeterDaveHello

[2017-11-08 07:48] #12046 closed

[2017-11-08 07:49] extend1994 commented on #12068
Close this issue due to no response and insufficient popularity. cc @PeterDaveHello

[2017-11-08 07:49] #12068 closed

[2017-11-08 07:49] extend1994 commented on #12001
Close this issue due to no response and insufficient popularity. cc @PeterDaveHello

[2017-11-08 07:49] #12001 closed

[2017-11-08 10:50] PeterBot opened #12138 "[Build failed] Got error while building meta data/artifact"
Dear all,

Our build process just got an error while building the meta data/artifact of cdnjs project, our [website and api](https://github.com/cdnjs/new-website) may not be as new as our repository, however, the cdn service will not been affected, you can still use it, and modify the library name, version number and filename in the url can help you access all the content on cdnjs, we will fix the

[2017-11-08 13:55] sashberd opened #12144 "Suggest to remove libraries from cdnjs"
@PeterDaveHello During my work with cdnjs I found a lot of libraries that not maintained by their authors. However, there is some libraries that authors themselves removed them from git or wrote predicate or, moreover, retired messages.
E.g. lib [1140](https://cdnjs.com/libraries/1140). The author in [git](https://github.com/andytlr/cssgrid) says that the library is not relevant , it is [retired](

[2017-11-08 15:13] alexggordon opened #12146 "[Request] Add serializr"
**Library name:** serializr
**Library description:** Serialize and deserialize complex object graphs to and from JSON and Javascript classes
**Git repository url:** https://github.com/mobxjs/serializr
**npm package name or url** (if there is one): serializr
**License (List them all if it's multiple):** MIT
**Official homepage:** https://github.com/mobxjs/serializr
**Wanna say something? Leave mess

[2017-11-08 16:05] sufuf3 opened #12148 "[Request] Add chimee"
**Library name:** chimee
**Library description:** a video player aims to bring wonderful experience on browser
**Git repository url:** https://github.com/Chimeejs/chimee/tree/master/lib
**npm package name or url** (if there is one): https://www.npmjs.com/package/chimee
**License (List them all if it's multiple):** MIT
**Official homepage:** https://chimee.org/

[2017-11-08 16:15] rpirritano commented on #11903
@PeterDaveHello ,

I am a beginner and new contributor.  Is this issue still available?  If so, I can pick it up.

[2017-11-08 17:15] sufuf3 opened #12149 "[Request] Add emergence.js"
**Library name:** emergence.js
**Library description:** Detect element visibility in the browser
**Git repository url:** https://github.com/xtianmiller/emergence.js
**npm package name or url** (if there is one): https://www.npmjs.com/package/emergence.js
**License (List them all if it's multiple):** MIT
**Official homepage:** https://xtianmiller.github.io/emergence.js/

---
### :octocat: This issu

[2017-11-09 10:52] #12138 closed

[2017-11-09 10:53] PeterDaveHello commented on #12144
We don't have access log from Cloudflare that's why we can't remove time. I can't help unless @ryankirkman and @thomasdavis talk to Cloudflare, I can't find them for a while.

[2017-11-09 11:02] sashberd commented on #12144
@PeterDaveHello I suggest to create script that will take all libs that were hosted more the an year ago and check their download rates once per month, 3 times (3 months), if download rate of library is **0** remove it from hosting. May be should send a message to requester/author of the library for notice during 3 month period. Moreover, we can create some gmail in order to archive those librarie

[2017-11-09 11:04] PeterDaveHello commented on #12144
@sashberd we don't have amy download logs, I prefer to discuss with the possibility comes, there are many pending things to be done first. Sorry.

[2017-11-09 11:05] sashberd commented on #12144
@PeterDaveHello And what about this [page](https://listium.com/@thomasdavis/16783/most-copied-libraries-on-cdnjscom)

[2017-11-09 11:07] PeterDaveHello commented on #12144
@sashberd I don't think it's about the method/portal issue. If they want to join, they will, you can see their GitHub page for activities.

[2017-11-09 11:09] sashberd commented on #12144
@PeterDaveHello I am ready to take development of this one on my self, so @ryankirkman and @thomasdavis if you can help me to find a way to view download rates of libraries will glad to help with this feature

[2017-11-09 19:26] #12091 closed

[2017-11-09 19:36] PeterDaveHello commented on #12130
I think we hosted here already https://cdnjs.com/libraries/MaterialDesign-Webfont ?

[2017-11-09 19:37] #12058 closed

[2017-11-09 19:37] #12077 closed

[2017-11-09 20:12] 6y6a commented on #12130
Sorry, I just can't find it about 3 days. Cdnjs already hosted it.

[2017-11-09 20:12] #12130 closed

[2017-11-09 20:12] PeterDaveHello commented on #12130
@6y6a no worries

[2017-11-09 23:10] thomasdavis commented on #12144
This information will just be almost impossible to gather. We barely have access to the logs, let alone a long history of the logs. If a library was accessed in February only once, should it be removed? What if it was accessed last year in September, and then in 3 months it is accessed once again yet again.

[2017-11-09 23:19] smileytechguy commented on #8471
any update?

[2017-11-10 02:47] ParkourKarthik commented on #12149
Picking this up.

[2017-11-11 06:41] PeterDaveHello commented on #11903
@rpirritano I think it's taken by #11922, mind to find another one?

[2017-11-11 06:43] #9649 closed

[2017-11-11 06:44] #9758 closed

[2017-11-11 06:44] PeterDaveHello commented on #9774
Seems to ask for Google web font hosting?

[2017-11-11 06:45] PeterDaveHello commented on #11539
Any repository or open source license info? I don't think we should host this one.

[2017-11-11 06:46] PeterDaveHello commented on #9774
Moved to #7845

[2017-11-11 06:46] #9774 closed

[2017-11-11 14:22] rpirritano commented on #11903
Sure, thanks for responding!!

[2017-11-11 17:59] sufuf3 commented on #11539
Un...
I just found it in https://developers.google.com/analytics/devguides/collection/analyticsjs/ this page.
I thought maybe it is popular, although there is no repo and GitHub's stars.
Because this lib is on google's developement document page.
The license info is in the end of the page
[code]

Thanks.

[2017-11-12 02:24] toxic-johann commented on #12148
Thanks~~~

[2017-11-12 02:48] sufuf3 commented on #12148
@toxic-johann Thank you for your attention. 😃

[2017-11-12 07:12] sashberd commented on #12144
@thomasdavis I do  not say that the task is not hard, but the trade off is storage and better management. As for the libraries, the task should remove only exact cases e.g. 1140 library, moreover as I said above, we will not remove it forever, but store it on gmail or some another place for a decade for example, and only after remove it.
We can create some strict logic of this task and develop it.

[2017-11-12 10:00] #12132 closed

[2017-11-12 11:27] sashberd commented on #11736
Duplicate #9019

[2017-11-12 11:27] #11736 closed

[2017-11-12 14:20] sashberd commented on #9218
@PeterDaveHello @maruilian11
Why we need all data from assets?
inside iconsfont there is the description of ow to install this package. All needs are: 1 css and font files. Am I right?

[2017-11-12 15:26] myklam opened #12165 "[Request] Add monet"
**Library name:** monet
**Library description:** Monads and other abstractions for JS
**Git repository url:** https://github.com/monet/monet.js
**npm package name or url** (if there is one): https://www.npmjs.com/package/monet
**License (List them all if it's multiple):** MIT
**Official homepage:** https://monet.github.io/monet.js/
**Wanna say something? Leave message here:** I don't have time rig

[2017-11-13 06:31] PeterDaveHello commented on #8188
@sashberd the old PR is stale so close it and everyone can send a new one.

[2017-11-13 06:35] PeterDaveHello commented on #6962
Not sure what do you want me to answer, I tested the minifier with `react-helmet` the `es` folder and I didn't see any real problem here, those files are just minified successfully with `uglify-es` as below.

[code]

[2017-11-13 12:19] sashberd commented on #9525
@extend1994 I found [this ](https://github.com/morr/jquery.appear)repo is similar to this one. What we should host?

[2017-11-13 15:11] sufuf3 commented on #9525
@sashberd CDNJS host morr/jquery.appear as https://cdnjs.com/libraries/jquery.appear with `jquery.appear` folder name.
So we can use `bas2k-jquery.appear`as the folder name.
Thank you. 😃

[2017-11-13 15:13] sashberd commented on #9525
@sufuf3 I mean the library is the same with their goal and development, thus should we host both of them or the one with bigger stars number?

[2017-11-13 15:22] sufuf3 commented on #9525
The content of the file(`jquery.appear.js`) are different from those libs.
I think it's good to host, because the lib has enough popularity.
What do you think?

[2017-11-13 15:24] PeterDaveHello commented on #9525
@sashberd We host anyone meets our requirement, otherwise, there are many libraries have the same gaol.

[2017-11-13 15:39] sashberd opened #12180 "Add autoupdate config to morr/jquery.appear"
Upadte package.json of jquery.appear with autoupdate configuration
https://github.com/morr/jquery.appear

[2017-11-13 15:40] sashberd commented on #9525
@sufuf3 OK
maybe we could use jquery-appear instead of jquery.appear?

[2017-11-13 16:04] ezetojo opened #12181 "Swiper 4.0.6 files missing"
Files of Swiper 4.0.6 return 404 Not Found

https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.0.6/css/swiper.css
https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.0.6/css/swiper.css
https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.0.6/js/swiper.js
https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.0.6/js/swiper.min.js
https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.0.6/js/swiper.min.js.map

[2017-11-13 16:07] sufuf3 commented on #9525
I prefer to use `bas2k-jquery.appear` but actually `jquery-appear` is fine because CDNJS website support algolia search engine.
IMO, when people search the libs from CDNJS website, if the folder name can be more identified, it will good for people.

Whatever, I think you can choose the folder name which you want to name. 😃
Because the lib still can be searched.

Thank you.

[2017-11-13 16:14] PeterDaveHello commented on #12181
Thanks for report. This version was added about two hours ago in fa69e8b2251dfeedc7d8f733dcc4852e3753375b, should be reachable already, I can confirm that I can't access the files either, it returns 404 not found.

@terinjokes would you please take a look if there is any problem on the Cloudflare side of pulling updates? Many thanks.

[2017-11-13 23:45] terinjokes commented on #12181
:eyes:

[2017-11-14 00:28] #12181 closed

[2017-11-14 09:17] sufuf3 opened #12184 "[Request] Add pwnjs"
**Library name:** pwnjs
**Library description:** A Javascript library for browser exploitation
**Git repository url:** https://github.com/theori-io/pwnjs
**License (List them all if it's multiple):** MIT

---
### :octocat: This issue is for the beginner who is interested in sending a pull request and join us.

### ℹ️  introduction
CDNJS is one of the most famous free and public web front-end CDN s

[2017-11-14 10:08] sashberd commented on #9611
@PeterDaveHello I think this library can not be used via WEB. Suggest to close

[2017-11-14 19:33] akitchin opened #12189 "[Request] Add react-dropzone"
**Library name:** react-dropzone
**Library description:** Simple HTML5 drag-drop zone with React.js.
**Git repository url:** https://github.com/react-dropzone/react-dropzone
**npm package name or url** (if there is one): https://www.npmjs.com/package/react-dropzone
**License (List them all if it's multiple):** MIT
**Official homepage:** https://react-dropzone.js.org/

its mit license, as well as h

[2017-11-15 07:02] sashberd commented on #9989
@maruilian11 @PeterDaveHello I think this one is already [exists](https://cdnjs.com/libraries/mixitup). Suggest to close

[2017-11-15 08:16] fisker opened #12190 "[Request] Add primer-markdown"
Library name: primer-markdown
Library description: Stylesheets for rendering GitHub Flavored Markdown and syntax highlighted code snippets.
Git repository url: https://github.com/primer/primer/tree/master/modules/primer-markdown
npm package name or url (if there is one): https://www.npmjs.com/package/primer-markdown
License (List them all if it's multiple): MIT
Official homepage:

<bountysource-pl

[2017-11-15 11:32] ralphchung commented on #10511
I'll take this.

[2017-11-15 11:42] Billy4195 commented on #12184
I'd like to take this PR.

[2017-11-15 12:16] sashberd commented on #10615
@PeterDaveHello I suggest to add https://github.com/SheetJS/js-xlsx. Provided url is fork from this one

[2017-11-15 13:21] ralphchung commented on #11695
I'll take it. Thanks!

[2017-11-15 14:01] sufuf3 commented on #10615
@sashberd Thanks but CDNJS already host SheetJS/js-xlsx https://cdnjs.com/libraries/xlsx :)
We can host this lib(protobi/js-xlsx) as low priority.
Thanks :)

[2017-11-15 14:05] sashberd commented on #10615
@sufuf3 Why we need to host fork of library that is already hosted?

[2017-11-15 14:09] sufuf3 commented on #10615
As maintainer [said](https://github.com/cdnjs/cdnjs/issues/9525#issuecomment-343952847)

This is the reason that we still host the lib which has enough popularity. 😃

[2017-11-15 16:03] sufuf3 opened #12193 "[Request] Add ibm-type"
**Library name:** ibm-type
**Library description:** The package of IBM’s new typeface, IBM Plex, and accompanying typography code.
**Git repository url:** https://github.com/IBM/type
**npm package name or url** (if there is one): https://www.npmjs.com/package/@ibm/type
**License (List them all if it's multiple):** OFL-1.1 and Apache-2.0
**Official homepage:** https://ibm.github.io/type/

[2017-11-15 16:09] sufuf3 commented on #12190
Memo: 116,973 downloads in the last month from npm

[2017-11-15 16:14] sufuf3 opened #12194 "[Request] Add shards-ui"
**Library name:** shards-ui
**Library description:** Shards is a free and modern Bootstrap 4 UI toolkit.
**Git repository url:** https://github.com/DesignRevision/shards-ui
**npm package name or url** (if there is one):
**License (List them all if it's multiple):** MIT
**Official homepage:** https://designrevision.com/downloads/shards/

<bountysource-plugin>

---
Want to back this issue? **[Post a

[2017-11-15 16:19] sufuf3 opened #12195 "[Request] Add nerd-fonts"
**Library name:** nerd-fonts
**Library description:** 🔡 Iconic font aggregator, collection, and patcher: 39 patched fonts (87k+ variations). Includes popular glyph collections such as Font Awesome & fonts such as Hack
**Git repository url:** https://github.com/ryanoasis/nerd-fonts
**npm package name or url** (if there is one):
**License (List them all if it's multiple):** MIT
**Official homepage:*

[2017-11-16 05:57] sufuf3 commented on #12038
Closed due to no response in 7 days and the lib doesn't have enough notable popularity. cc @PeterDaveHello

[2017-11-16 05:57] #12038 closed

[2017-11-16 06:06] sufuf3 commented on #11983
Closed due to no response in 7 days and the lib doesn't have enough notable popularity. cc @PeterDaveHello

[2017-11-16 06:06] #11983 closed

[2017-11-16 11:09] sashberd commented on #10118
[Duplicate](https://cdnjs.com/libraries/jquery-toast-plugin). Suggest to close

[2017-11-16 11:58] sashberd commented on #11240
[Duplicate](https://github.com/cdnjs/cdnjs/issues/10150)

[2017-11-16 11:58] #11240 closed

[2017-11-16 13:19] sashberd commented on #10189
@PeterDaveHello Once the request of this library was closed #6659 due to low popularity. Today`s, it is still low popularity, thus should we add it or close the request

[2017-11-16 15:02] sashberd commented on #10783
What is this waiting for?

[2017-11-16 15:10] sashberd commented on #10850
Still low popularity. Suggest to close

[2017-11-16 15:38] sufuf3 commented on #10850
@ejsiddiqui You can open an issue again when the library has more popularity. :)
@sashberd Thanks

Close because this library doesn't have enough popularity.
cc @PeterDaveHello

[2017-11-16 15:38] #10850 closed

[2017-11-16 18:39] #9830 closed

[2017-11-16 18:58] #12149 closed

[2017-11-16 23:54] arman-h opened #12204 "[Request] Add formvalidation"
**Library name**: formvalidation
**Library description**: The best @jquery plugin to validate form fields. Designed to use with Bootstrap + Zurb Foundation + Pure + SemanticUI + UIKit + Your own frameworks.
**Git repository url**: https://github.com/formvalidation/formvalidation/tree/master
**npm package name or url (if there is one)**: https://www.npmjs.com/package/formvalidation
**License (List

[2017-11-17 00:44] uncleramsay commented on #12100
Sorry to reopen this - looks like you missed `react-dom` libraries. Could these be added too please?

[2017-11-17 17:57] PeterDaveHello commented on #12100
@uncleramsay actually you can try to send a pull request

[2017-11-17 18:08] PeterDaveHello commented on #9989
The problem is this lib is dated.

[2017-11-17 18:14] #9989 closed

[2017-11-17 18:53] #12100 closed

[2017-11-18 18:56] #11695 closed

[2017-11-18 19:01] PeterDaveHello commented on #9414
@cdnjs/intern3 please help update the checklist and see how many remains can be reused by intern4, thanks.

[2017-11-19 02:02] k9t9 commented on #11825
Seems it now have around 740 stars on github..

[2017-11-19 14:21] sashberd commented on #9218
@PeterDaveHello Waiting for your approval. Thanks

[2017-11-19 18:45] Hacker13 opened #12209 "[Request] Add Untitled"
**Library name:** Untitled
**Library description:**
**Git repository url:**
**npm package name or url** (if there is one):
**License (List them all if it's multiple):**
**Official homepage:**
**Wanna say something? Leave message here:**

=====================

Notes from cdnjs maintainer(please remove this section after you read it):
1. Please read the [README.md](https://github.com/cdnjs/cdnjs#cd

[2017-11-19 19:32] PeterDaveHello commented on #12209
@Hacker13 any details please?

[2017-11-19 21:14] #8163 closed

[2017-11-20 13:22] extend1994 opened #12210 "[Request] Add vast-client-js"
**Library name:** vast-client-js
**Git repository url:** https://github.com/dailymotion/vast-client-js
**npm package name or url** (if there is one): https://www.npmjs.com/package/vast-client
**License (List them all if it's multiple):** [MIT](https://github.com/dailymotion/vast-client-js/blob/master/LICENSE)
**Official homepage:** just leave it emtpy(Don't create this files in package.json then i

[2017-11-20 14:01] torresio opened #12211 "[Request] Add Sequence"
**Library name:** Sequence
**Library description:** The responsive CSS animation framework for creating unique sliders, presentations, banners, and other step-based applications.
**Git repository url:** https://github.com/IanLunn/Sequence
**npm package name or url** (if there is one):
**License (List them all if it's multiple):** GPLv3 + Commercial
**Official homepage:** http://sequencejs.com
**Wa

[2017-11-20 16:03] abrahamguo opened #12212 "fancybox documentation URL is incorrect"
On the [cdnjs page for fancybox](https://cdnjs.com/libraries/fancybox), there is a link to [http://fancyapps.com/fancybox/](http://fancyapps.com/fancybox/). This is the documentation for fancybox 2, but cdnjs references fancybox 3, the latest version. The documentation for fancybox 3 is located at [http://fancyapps.com/fancybox/3](http://fancyapps.com/fancybox/3).

[2017-11-20 20:48] kyleplo opened #12213 "[Request] Add blockly"
**Library name:** blockly
**Library description:** A library for building visual programming editors.
**Git repository url:** https://github.com/google/blockly
**npm package name or url** (if there is one): N/A
**License (List them all if it's multiple):** Apache License 2.0
**Official homepage:** https://developers.google.com/blockly/
**Wanna say something? Leave message here:**

================

[2017-11-20 22:42] burakmete opened #12214 "[Request] Add running-coder/jquery-typeahead"
**Library name:** running-coder/jquery-typeahead
**Library description:** Javascript Typeahead (autocomplete) plugin with more than 50 options and callbacks.
**Git repository url:** https://github.com/running-coder/jquery-typeahead
**npm package name or url** (if there is one): https://www.npmjs.com/packages/jquery-typeahead
**License (List them all if it's multiple):** MIT
**Official homepage:**

[2017-11-21 05:18] asif-khan17 opened #12215 "[Request] Add signalr-clientES5-1.0.0-alpha2-final.js"
**Library name:** signalr-clientES5-1.0.0-alpha2-final.js
**Library description:**
**Git repository url:**
**npm package name or url** (if there is one):
**License (List them all if it's multiple):**
**Official homepage:**
**Wanna say something? Leave message here:**

=====================

Notes from cdnjs maintainer(please remove this section after you read it):
1. Please read the [README.md](ht

[2017-11-21 06:18] scissorsneedfoodtoo commented on #11916
Hi there. It's been some time since EdenSG's last contribution. Mind if I take a crack at it?

[2017-11-21 08:59] Billy4195 commented on #12190
I'd like to solve this issue.

[2017-11-21 09:34] monsterooo opened #12216 "[Request][Author] Add react-infinite-loading"
**Library name:** react-infinite-loading
**Library description:** a browser-based for react infinite scrolling plug-ins
**Git repository url:**  https://github.com/monsterooo/react-infinite-loading
**npm package name or url** (if there is one): react-infinite-loading
**License (List them all if it's multiple):** MIT
**Official homepage:** https://github.com/monsterooo/react-infinite-loading
**Wann

[2017-11-21 14:01] tuananh opened #12220 "[Request] Add luxon"
**Library name:** luxon
**Library description:** A powerful, modern, and friendly wrapper for Javascript dates and times.
**Git repository url:** https://github.com/moment/luxon
**npm package name or url** (if there is one): https://www.npmjs.com/package/luxon
**License (List them all if it's multiple):** MIT
**Official homepage:** http://moment.github.io/luxon/
**Wanna say something? Leave messag

[2017-11-21 17:43] sufuf3 commented on #12212
@abrahamguo Thanks
Need to update https://github.com/cdnjs/cdnjs/blob/master/ajax/libs/fancybox/package.json#L6

[2017-11-21 17:46] sufuf3 commented on #12214
Memo: 24,854 downloads in the last month

[2017-11-21 17:48] PeterDaveHello commented on #12214
@sufuf3 what downloads?

[2017-11-21 17:49] sufuf3 commented on #12215
@asif-khan17 Could you give us more info about this lib, such as GitHub repo url?
Thanks.

[2017-11-21 17:50] sufuf3 commented on #12214
npm
Sorry~

[2017-11-21 17:52] sufuf3 commented on #12216
@monsterooo Thanks for the suggestion, however, this library doesn't have enough notable popularity(like more than 200 stars on GitHub or 800 downloads per month on npm). please take a look on our [README.md](https://github.com/cdnjs/cdnjs/blob/master/README.md) for detail, it's always good to read the document before open an issue, I'll respectfully suggest you open a new issue again when the lib

[2017-11-21 18:01] sufuf3 commented on #12220
@tuananh Thank you for your suggestion.
I found this lib provide http://moment.github.io/luxon/global/luxon.js and http://moment.github.io/luxon/global/luxon.min.js which CDNJS can host.
But there is no `luxon.js` and `luxon.min.js` in GitHub repo or npm.
It's a little bit hard for us to add this lib, because we use git auto-update or npm auto-update to get the files from upstream.
Could you discu

[2017-11-21 18:01] sufuf3 opened #12227 "[Request] Add recharts"
**Library name:** recharts
**Library description:** Redefined chart library built with React and D3
**Git repository url:** https://github.com/recharts/recharts
**npm package name or url** (if there is one): https://www.npmjs.com/package/recharts
**License (List them all if it's multiple):** MIT
**Official homepage:** http://recharts.org

Memo: 216,182 downloads in the last month from npm

[2017-11-21 18:24] PeterDaveHello commented on #9611
Thanks @sashberd

[2017-11-21 18:24] #9611 closed

[2017-11-21 18:26] PeterDaveHello commented on #10189
@helantao sorry but our signal of a good library is its popularity and the lib seems not under maintenance for a while, feel free to create new issue once it reaches our requirement, thanks.

[2017-11-21 18:26] #10189 closed

[2017-11-21 18:27] #10270 closed

[2017-11-21 18:27] sebastianderossi commented on #9145
Hi @x09326 + @PeterDaveHello
EaselJS (along with PreloadJS, SoundJS, TweenJS) is now in `version 1.0.2` what is the best way to get it them on CDNJS?

Thanks!

[2017-11-21 18:28] PeterDaveHello commented on #10273
Thanks @sashberd

[2017-11-21 18:28] #10273 closed

[2017-11-21 18:28] PeterDaveHello commented on #10277
Cloe due to no response.

[2017-11-21 18:28] #10277 closed

[2017-11-21 18:30] PeterDaveHello commented on #10783
Close due to no response.

[2017-11-21 18:30] #10783 closed

[2017-11-21 18:31] PeterDaveHello commented on #10782
Looks good on npm now.

[2017-11-21 18:32] PeterDaveHello commented on #10387
Dup with #10118 @sufuf3 @extend1994

[2017-11-21 18:32] #10118 closed

[2017-11-21 18:33] sebastianderossi commented on #8766
**Library name:**
New CreateJS libs include (EaselJS, TweenJS, TweenJS, SoundJS, PreloadJS) for Version 1.0
**Git repository url:**
CreateJS
- [EaselJS 1.0.2](https://github.com/CreateJS/EaselJS/releases)
- [TweenJS 1.0.2](https://github.com/CreateJS/TweenJS/releases)
- [SoundJS 1.0.2](https://github.com/CreateJS/SoundJS/releases
- [PreloadJS 1.0.2](https://github.com/CreateJS/PreloadJS/releases)

[2017-11-21 18:42] PeterDaveHello commented on #8766
@sebastianderossi we can't fetch the updates from release page automatically, can you provide the dist files in the git tagged commits?

[2017-11-21 19:04] PeterDaveHello commented on #8766
@sebastianderossi see #11851 #11852 #11853 #11854

[2017-11-21 19:26] sebastianderossi commented on #9145
Hi @PeterDaveHello,

Thanks for the quick response! Hopefully, these issues can be resolved shortly :D
Thanks again!

[2017-11-21 19:26] PeterDaveHello commented on #9145
@sebastianderossi 👍

[2017-11-21 20:16] #11362 closed

[2017-11-21 20:18] PeterDaveHello commented on #8766
All merged!

[2017-11-21 20:18] #8766 closed

[2017-11-22 01:35] extend1994 opened #12228 "[Request] Add missing versions of PreloadJS"
**Library name:** PreloadJS
**Git repository url:** https://github.com/CreateJS/PreloadJS

Need to manually add missing versions v0.1.0 ~ v0.3.0, v0.6.1 & v0.6.2 of the lib on Git repo.

[2017-11-22 01:42] extend1994 opened #12229 "[Request] Add tweenjs missing versions"
**Library name:** tweenjs
**Git repository url:** https://github.com/CreateJS/TweenJS

Need to manually add missing versions v0.1.0, v0.2.0 & v1.0.0 of the lib on Git repo.

[2017-11-22 01:49] extend1994 opened #12230 "[Request] Add SoundJS missing versions & files"
**Library name:** SoundJS
**Git repository url:** https://github.com/CreateJS/SoundJS

Need to manually add
1. missing versions v0.1.0 ~ v0.4.0, v0.5.1, v0.6.1 & v0.6.2 of the lib on Git repo.
2. missing files in v0.4.1 ~ v0.6.0 (e.g. soundjs.flashplugin-0.4.1.min.js and flashplugin-0.5.0.min.js)

[2017-11-22 02:04] extend1994 opened #12231 "[Request] Add EaselJS missing versions"
**Library name:** EaselJS
**Git repository url:** https://github.com/CreateJS/EaselJS

Need to manually add missing versions v0.3.0 ~ v0.6.0 & v0.8.1 ~ v1.0.0 of the lib on Git repo.

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/51837300-request-add-easeljs-missing-versions?utm_campaign=plugin&utm_content=tracker%2F32893&utm_mediu

[2017-11-22 02:11] tuananh commented on #12220
@icambron is it possible?

[2017-11-22 03:00] icambron commented on #12220
I really don't want to put the built files in Github. As for NPM, the CJS "build" is not the same as the one pointed to here.

An idea, though: use the `gh-pages` branch: https://github.com/moment/luxon/tree/gh-pages/global. That branch is what backs the website and I push to it when I release. Right now those aren't tagged with the release numbers, but if I figured out how to add that, would that

[2017-11-22 04:32] extend1994 commented on #9145
@PeterDaveHello Can this issue move to #12231? There are more missing versions than 0.8.2.

[2017-11-22 04:57] extend1994 commented on #11775
Waiting https://github.com/kristopolous/BOOTSTRA.386/issues/39

[2017-11-22 05:21] extend1994 commented on #11985
Hi there @Iworb @sufuf3
I think it has distribution on npm. So I will add it.
If you have any other info or suggestion. Please tell me :)

[2017-11-22 06:17] extend1994 commented on #9887
@PeterDaveHello The popularity seems insufficient?

[2017-11-22 07:26] PeterDaveHello commented on #9145
Fine 👍

[2017-11-22 07:27] #9145 closed

[2017-11-22 08:13] PeterDaveHello commented on #9887
Seems so 👍  @extend1994

[2017-11-22 08:13] PeterDaveHello commented on #9887
Hi @luhaoming,

Thanks for the suggestion, however, this library doesn't have enough notable popularity(like more than 100 stars on GitHub or 500 downloads per month on npm). please take a look on our [README.md](https://github.com/cdnjs/cdnjs/blob/master/README.md) for detail, it's always good to read the document before open an issue, I'll respectfully suggest you open a new issue again when the

[2017-11-22 08:20] ernestoacostacuba opened #12235 "[Request] Add angular-utils-pagination"
**Library name:** angular-utils-pagination
**Library description:** Version 0.11.1
**Git repository url:**
**npm package name or url** (if there is one):
**License (List them all if it's multiple):**
**Official homepage:**
**Wanna say something? Leave message here:**
<dependency>
  <groupId>org.webjars.bower</groupId>
 <artifactId>angular-utils-pagination</artifactId>
 <version>0.11.1</version>
</

[2017-11-22 18:31] vaindil opened #12238 "Tooltipster versions are outdated"
The CDN only has [tooltipster](https://github.com/iamceege/tooltipster) versions up to 3.3.0, which was released back in Nov. 2014. The [latest version](https://github.com/iamceege/tooltipster/releases) is 4.2.5 from April of this year. ([CDN page](https://cdnjs.com/libraries/tooltipster))

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/is

[2017-11-22 18:38] PeterDaveHello commented on #12238
@vaindil thanks, would you like to send a pull request for that?

[2017-11-22 18:50] vaindil commented on #12238
Sure, I can try. I'm not sure if I'll have the updated format for autoUpdate correct, but I'll give it a shot.

[2017-11-22 18:53] PeterDaveHello commented on #12238
@vaindil nice, thanks!

[2017-11-22 19:50] vaindil commented on #12238
Alright, I think that's good. #12239

[2017-11-22 21:37] fintelia commented on #11275
I'm also interested in having this library added. Anything I can do to help speed up the process?

[2017-11-23 09:24] sashberd commented on #9218
@PeterDaveHello @maruilian11 @sufuf3 @extend1994 Ping

[2017-11-23 09:29] sashberd commented on #10156
@PeterDaveHello Waiting for your suggestion [here](https://github.com/fullcalendar/fullcalendar-scheduler/issues/384)

[2017-11-23 12:29] sufuf3 commented on #9218
@sashberd Sorry for late reply.
IMO, I think you're right.
The files under `assets` looks be used in website.

Thanks.

[2017-11-23 13:04] tholu opened #12242 "[Request] Add locale files of jquery-timeago"
Auto-update of this library is already configured here: https://github.com/cdnjs/cdnjs/blob/master/ajax/libs/jquery-timeago/package.json

What's missing, are the locale files from: https://github.com/rmm5t/jquery-timeago/tree/master/locales

I'm looking into the new Contributing process (long time since I contributed last to this repo) now and will try to prepare a Pull Request, would also be happ

[2017-11-23 18:54] NGsolution commented on #3650
Sortable

[2017-11-23 19:00] NGsolution opened #12244 "[Requests] How to added this files"

[2017-11-24 03:14] qwe19272375 commented on #9414
- lawnchair #8058
- gitbook-plugin-code-editor #9798
- javascript-astar #9540
- jquery-localize #9563

These issues are left open, mostly waiting for response.

[2017-11-24 03:35] extend1994 commented on #12235
@ernestoacostacuba Thanks for request, could you please provide further info git repo or npm?

[2017-11-24 05:00] lgh06 opened #12245 "[Request] Add bootstrap-vue"
Library name: bootstrap-vue
Library description: Build responsive, mobile-first projects on the web using Vue.js and the world's most popular front-end CSS library — Bootstrap V4.
Git repository url: https://github.com/bootstrap-vue/bootstrap-vue/
npm package name or url (if there is one): bootstrap-vue
License (List them all if it's multiple): MIT
Official homepage: https://bootstrap-vue.js.org/

[2017-11-24 06:06] extend1994 commented on #9414
@qwe19272375 #9540 seems closed?

[2017-11-24 11:30] qwe19272375 commented on #9414
Yes, thank you.

[2017-11-24 19:25] sufuf3 commented on #12244
@NGsolution What the problem did you meet?
Would you provide more information to let us know? Then we can help you.
Thanks

[2017-11-24 19:27] sufuf3 opened #12246 "[Request] Add react-chartkick"
**Library name:** react-chartkick
**Library description:** Create beautiful charts with one line of React
**Git repository url:** https://github.com/ankane/react-chartkick
**npm package name or url** : [react-chartkick](https://www.npmjs.com/package/react-chartkick)
**License:** MIT
**Official homepage:** https://www.chartkick.com/react

---
### :octocat: This issue is for the beginner who is inte

[2017-11-25 12:19] Coopticks opened #12247 "[Request] Add Boost-Framework"
**Library name:** Boost-Framework
**Library description:** A simple and mobile-friendly crossplatform website framework
**Git repository url:** https://github.com/BlueAirTechGroup/Boost-Framework
**npm package name or url** (if there is one):
**License (List them all if it's multiple):**  MIT
**Official homepage:** https://www.xsyds.cn
**Wanna say something? Leave message here:**
This is a website

[2017-11-26 08:08] #7742 closed

[2017-11-26 08:12] #12180 closed

[2017-11-26 08:18] #8480 closed

[2017-11-26 08:21] #8648 closed

[2017-11-26 08:23] #8356 closed

[2017-11-26 09:05] extend1994 opened #12248 "[Request] Add tentcss"
**Library name:** tentcss
**Git repository url:** https://github.com/sitetent/tentcss
**npm package name or url** (if there is one): https://www.npmjs.com/package/tent-css
**License (List them all if it's multiple):** [MIT](https://github.com/sitetent/tentcss/blob/master/LICENSE)
**Official homepage:** https://css.sitetent.com

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty o

[2017-11-26 13:10] #8202 closed

[2017-11-26 15:26] sashberd commented on #10271
@PeterDaveHello Shoudl we add this lib. It has low popularuty.
See [here ](https://github.com/cdnjs/cdnjs/issues/5528)the request was closed bu low popularity

[2017-11-26 15:50] sashberd commented on #10272
@bennyn Hi man,
I am going to work on this request now.
Question: I saw that only from version 2.0.0 there is a file with name logdown.js, before there is only index.js files.
Should we add versions before 2.0.0?

[2017-11-26 16:04] bennyn commented on #10272
@sashberd Thanks for getting in touch. Let me add @caiogondim to this discussion. He is the core maintainer of logdown. There is a version 3 now! 😃

[2017-11-26 17:35] #12184 closed

[2017-11-27 02:21] sufuf3 commented on #12247
@Coopticks Thanks for the suggestion, however, this library doesn't have enough notable popularity(like more than 200 stars on GitHub or 800 downloads per month on npm). please take a look on our [README.md](https://github.com/cdnjs/cdnjs/blob/master/README.md) for detail, it's always good to read the document before open an issue, I'll respectfully suggest you open a new issue again when the libr

[2017-11-27 02:25] sufuf3 opened #12250 "[Request] Add scrollama"
**Library name:** scrollama
**Library description:** Scrollytelling with IntersectionObserver.
**Git repository url:** https://github.com/russellgoldenberg/scrollama
**npm package name or url** : https://www.npmjs.com/package/scrollama
**License:** MIT
**Official homepage:** https://russellgoldenberg.github.io/scrollama/basic/

---
### :octocat: This issue is for the beginner who is interested in

[2017-11-27 02:28] sufuf3 commented on #11858
Closed due to no response in 7 days. cc @PeterDaveHello

[2017-11-27 02:28] #11858 closed

[2017-11-27 02:28] sufuf3 commented on #11885
Closed due to no response in 7 days. cc @PeterDaveHello

[2017-11-27 02:28] #11885 closed

[2017-11-27 03:36] xCss opened #12251 "[Author] [Request] Add Valine"
**Library name:** Valine
**Library description:** A fast, simple & powerful comment system.
**Git repository url:** https://github.com/xCss/Valine
**npm package name or url** (if there is one): [Valine](https://www.npmjs.com/package/valine)
**License (List them all if it's multiple):** GPL-2.0
**Official homepage:** https://valine.js.org

[2017-11-27 09:19] sashberd commented on #5035
@PeterDaveHello Too much time since the issue was opened and request to add git tag was sent to authors. Suggest to close due to the impossibility of adding for technical reasons

[2017-11-27 09:27] sashberd commented on #5143
@maruilian11 @PeterDaveHello I think the files were updated. Suggest to close

[2017-11-27 09:31] sashberd commented on #5239
@PeterDaveHello Suggest to close, since too much time pas since the issue was opened and request to add git tags was sent to author

[2017-11-27 09:33] sashberd commented on #5289
@PeterDaveHello Suggest to close, since too much time pas since the issue was opened and request to add git tags was sent to author

[2017-11-27 09:54] sashberd commented on #5526
@PeterDaveHello @maruilian11 Suggest to close due to passed to much time since the request was opened and request to add git tags was sent to author.

[2017-11-27 10:12] sashberd commented on #6002
@PeterDaveHello Suggest to close

[2017-11-27 10:14] sashberd commented on #6098
@PeterDaveHello @maruilian11  Is this request was completed?

[2017-11-27 10:16] sashberd commented on #6100
@PeterDaveHello Suggest to close due to passed to much time from request and request to author for clear lib situation  was sent

[2017-11-27 11:19] sashberd commented on #6159
@maruilian11 @PeterDaveHello Suggest to close due to passed time from request was opened and request author to add git tags

[2017-11-27 11:22] sashberd commented on #6196
@PeterDaveHello @maruilian11 Suggest to add this [one ](https://github.com/jeresig/jquery.hotkeys)that was forked from requested. What do you think?

[2017-11-27 11:24] sashberd commented on #6202
@PeterDaveHello Suggest to close due to time passed from issue was opened and request to add git tag was sent to author

[2017-11-27 11:30] sashberd commented on #10272
Hi @caiogondim , please help us with question above in order to move forward with add your library. Thanks

[2017-11-27 14:38] sashberd commented on #6621
@PeterDaveHello I suggest to add [this ](https://github.com/smb043/jQuery.scrollSpeed)forked version. What do U think?

[2017-11-27 14:57] sashberd commented on #6704
@PeterDaveHello @maruilian11 @sufuf3  There is an updated [fork](https://github.com/verbatim/css_browser_selector). Maybe it is better to use it via [npm](https://www.npmjs.com/package/css-browser-selector) with auto update config?

[2017-11-27 15:06] sashberd commented on #6737
@PeterDaveHello @maruilian11 Is this one already done?

[2017-11-27 15:26] n370 commented on #5035
@sashberd I don't understand the technical reasons. Would you mind detailing here for the record? In my view it would be much more an issue with the community being able to successfully contact @nathanford than something else.

[2017-11-27 15:31] sashberd commented on #6786
@PeterDaveHello Suggest to close

[2017-11-27 15:37] sashberd commented on #6845
@PeterDaveHello @maruilian11 Suggest to close due to a lot of time passed since the issue was opened and request to add git tag to repo was sent

[2017-11-27 15:41] sashberd commented on #6951
@nathco Could you please add git tag to this library. Thanks

[2017-11-27 15:42] sashberd commented on #6951
@sufuf3 How about to use this [fork ](https://github.com/smb043/jQuery.scrollSpeed)instead of original one?

[2017-11-27 15:49] sufuf3 commented on #6951
But this libraries doesn't have enough popularity (like more than 200 stars on GitHub or 800 downloads per month on npm).
We can manually add https://github.com/nathco/jQuery.scrollSpeed#release-notes this lib.

How do you like?
Thanks.

[2017-11-27 15:50] sashberd commented on #7081
@PeterDaveHello How to add this fonts. How is package json should look? Can you provide me an example?

[2017-11-27 15:54] jaywcjlove commented on #10507
👍👍

[2017-11-27 16:47] sufuf3 opened #12256 "[Request] Add imaskjs"
**Library name:** imaskjs
**Library description:** vanilla javascript input mask
**Git repository url:** https://github.com/uNmAnNeR/imaskjs
**npm package name or url** (if there is one): https://www.npmjs.com/package/imask
**License (List them all if it's multiple):** MIT
**Official homepage:** https://unmanner.github.io/imaskjs/

[2017-11-27 16:51] sufuf3 opened #12257 "[Request] Add upng-js"
**Library name:** upng-js
**Library description:** Fast and advanced PNG (APNG) decoder and encoder (lossy / lossless)
**Git repository url:** https://github.com/photopea/UPNG.js
**npm package name or url** (if there is one): https://www.npmjs.com/package/upng-js
**License (List them all if it's multiple):** MIT
**Official homepage:**

[2017-11-27 19:31] jakejohns commented on #7609
@Alex-D @terinjokes @PeterDaveHello

Any word here?

[2017-11-27 19:47] PeterDaveHello commented on #7609
@jakejohns I have zero permission on the server, so I can only wait for help from Cloudflare just like you, sorry.

[2017-11-27 19:55] caiogondim commented on #10272
Only v2.0+ is ok.
And thanks for adding the library.

[2017-11-27 20:02] #5476 closed

[2017-11-28 06:29] sashberd commented on #7195
@PeterDaveHello Suggest to close due to no response from author of add git tags question and passed time since the current request was opened

[2017-11-28 06:41] sashberd commented on #7282
@PeterDaveHello @maruilian11 Suggest to close due to no reponse from author on issue of add git tag to repo and time passed sinse the request to add lib was opened

[2017-11-28 06:47] sashberd commented on #7298
@PeterDaveHello I would like help with this one. Should it be implemented in fixformat tool?

[2017-11-28 06:50] sashberd commented on #5035
@n370 The issue was opened before more then 2 years and library is not maintained by the author for 3 years. I do not think someone will add git tag or hot on NPM or will answer you here. Thus, a rolling stone gathers no moss, still suggest to close

[2017-11-28 08:59] sashberd commented on #6254
@maruilian11 @PeterDaveHello can we use this [npm ](https://www.npmjs.com/package/js-interpreter)that is fork of requested library?

[2017-11-28 09:01] sashberd commented on #6951
[Duplicate](https://github.com/cdnjs/cdnjs/issues/6621)

[2017-11-28 09:01] #6951 closed

[2017-11-28 11:53] sashberd commented on #7305
@PeterDaveHello @maruilian11 Should this one be closed?

[2017-11-28 11:57] sashberd commented on #7348
@PeterDaveHello @maruilian11 The library still written on PHP. Should we still have this request opened?

[2017-11-28 12:07] sashberd commented on #7501
@PeterDaveHello No new news here. Suggest to close

[2017-11-28 12:13] sashberd commented on #7550
@PeterDaveHello Still low popularity, suggest to close

[2017-11-28 12:38] sashberd commented on #7627
@PeterDaveHello The latest version now is also on git. Should we change autoupdate to git?

[2017-11-28 12:42] uNmAnNeR opened #12262 "[Request] Add imaskjs"
**Library name:** imaskjs
**Library description:** vanilla javascript input mask
**Git repository url:** https://github.com/uNmAnNeR/imaskjs
**npm package name or url** (if there is one): imaskjs
**License (List them all if it's multiple):** MIT
**Official homepage:** https://unmanner.github.io/imaskjs
**Wanna say something? Leave message here:**

[2017-11-28 12:47] sashberd commented on #7630
@PeterDaveHello IMO ou cannot add those versions, there is no dist folder

[2017-11-28 12:50] sashberd commented on #7635
@PeterDaveHello We cannot add turbolinks-classic, it is swift library. FYI and FYR. Suggest to close

[2017-11-28 13:21] sashberd commented on #7791
@PeterDaveHello Still no answer from author. maybe we could add [1.1](https://github.com/wanghetommy/ichartjs/tree/ichartjs1.1) and [1.2](https://github.com/wanghetommy/ichartjs/tree/ichartjs1.2) manually

[2017-11-28 13:24] sashberd commented on #7815
@PeterDaveHello Suggest to close sine there is no answer from author on request add git tag and time passed from current request was opened

[2017-11-28 13:25] sashberd commented on #7816
@PeterDaveHello Suggest to close sine there is no answer from author on request add git tag and time passed from current request was opened

[2017-11-28 13:27] sashberd commented on #7817
@PeterDaveHello Suggest to close sine there is no answer from author on request add git tag and time passed from current request was opened

[2017-11-28 13:31] sashberd commented on #7898
@PeterDaveHello Suggest to close sine there is no answer from author on request add git tag and time passed from current request was opened

[2017-11-28 13:38] sashberd commented on #7960
@PeterDaveHello Suggest to close sine there is no answer from author on request add git tag and time passed from current request was opened

[2017-11-28 13:45] sufuf3 commented on #12262
Duplicated with #12256
Let's close this one and move to #12256
cc @PeterDaveHello

[2017-11-28 13:45] #12262 closed

[2017-11-28 13:55] TheWebTech commented on #7282
Were you expecting a response from me? or the developer of this polyfill?

[2017-11-28 14:03] sashberd commented on #7282
@TheWebTech No response [here ](https://github.com/jonstipe/number-polyfill/issues/29)more the an year

[2017-11-28 15:32] n370 commented on #5035
Such a pity but totally agreed! Thanks anyways for shaking off the dust.

[2017-11-28 15:32] #5035 closed

[2017-11-29 09:02] anujsinghwd opened #12267 "[Request][Author] Add js-fixerr"
Lightweight and fast validation library for javascript

github Repo - https://github.com/anujsinghwd/js-fixerr
src url - [http://apnanews.co.in/js-fixerr/js-fixerr.min.js](url)
npm link - https://www.npmjs.com/package/js-fixerr

[2017-11-29 10:15] sashberd commented on #10571
@sufuf3 @PeterBot Still low popularity. Suggest to close

[2017-11-29 10:36] sufuf3 opened #12269 "[Intern4] Add new libraries"
- [x] jquery-localize -- https://github.com/cdnjs/cdnjs/issues/9563
- [x] angular-css-injector -- https://github.com/cdnjs/cdnjs/issues/7598
- [x] selectonic -- https://github.com/cdnjs/cdnjs/issues/8129
- [ ] chris-rudmin/Recorderjs -- https://github.com/cdnjs/cdnjs/issues/8685
- [ ] wysiwyg.css -- https://github.com/cdnjs/cdnjs/issues/9117
- [x] exceljs -- https://github.com/cdnjs/cdnjs/issues/9

[2017-11-29 11:09] sashberd commented on #10582
@PeterDaveHello According to hosted crypto-js librari the [API ](https://github.com/brix/crypto-js#api)is [same ](https://github.com/sytelus/CryptoJS/tree/v3.1.2#cryptojs)with current requested library - https://code.google.com/p/crypto-js
It is like looks duplicate, however, it is not exact. For you discretion.
Suggest to close

[2017-11-29 11:48] ralphchung commented on #12269
I wanna take country-select-js.

[2017-11-29 11:48] ralphchung commented on #11462
I will take this!

[2017-11-29 11:48] cy91244 commented on #12269
I will take  videojs-flash.js

[2017-11-29 11:49] jeremywu3 commented on #12269
i wanna take jquery.localize.js

[2017-11-29 11:49] AilurusUmbra commented on #12269
I will take datatable -- #10718

[2017-11-29 11:49] finch185277 commented on #12269
i want to take  jquery.localize.js #12251 (npm)

[2017-11-29 11:50] finch185277 commented on #12269
[change] i take Rison #11505 (npm)

[2017-11-29 12:39] sashberd commented on #10604
@sufuf3 @PeterDaveHello still low popularity. Suggest to close

[2017-11-29 12:43] sashberd commented on #10610
@extend1994 @maruilian11 @maruilian11
This is a form with low popularity from [here ](https://github.com/tylerpearson/lazyYT)
Suggest to close as low popularity and [duplicate](https://github.com/tylerpearson/lazyYT)

[2017-11-29 12:50] sashberd commented on #10619
@maruilian11 @PeterDaveHello Still low popularity. Suggest to close

[2017-11-29 12:58] sashberd commented on #10629
@sufuf3 @PeterDaveHello The library has low popularity.Suggest to close

[2017-11-29 13:00] sashberd commented on #10638
@sufuf3 @PeterDaveHello Still low popularity. Suggest to close

[2017-11-29 13:15] sufuf3 commented on #10629
@sashberd Can we use this rule?
https://github.com/cdnjs/cdnjs/commit/c484b8b1bdfaaf32e742a1687e927afe2de710c0#diff-6a3371457528722a734f3c51d9238c13
we'll still use the old popularity requirement as the standard, for the new issues, which after Aug 1, use the new [standard](https://github.com/cdnjs/cdnjs/commit/c484b8b1bdfaaf32e742a1687e927afe2de710c0#diff-6a3371457528722a734f3c51d9238c13).

What

[2017-11-29 13:20] sufuf3 commented on #10604
@sashberd Can we use this rule?
https://github.com/cdnjs/cdnjs/commit/c484b8b1bdfaaf32e742a1687e927afe2de710c0#diff-6a3371457528722a734f3c51d9238c13
we'll still use the old popularity requirement as the standard, for the new issues, which are after Aug 1, use the new [standard](https://github.com/cdnjs/cdnjs/commit/c484b8b1bdfaaf32e742a1687e927afe2de710c0#diff-6a3371457528722a734f3c51d9238c13).

W

[2017-11-29 13:30] Billy4195 commented on #12212
I'd like to finish this issue.

[2017-11-29 15:00] Billy4195 commented on #8592
@qwe19272375 Do you still work on this issue? or I'd like to finish this.

[2017-11-29 15:06] Billy4195 commented on #11369
I'd like to take on this issue.

[2017-11-29 17:15] #6913 closed

[2017-11-29 17:21] #9593 closed

[2017-11-29 17:24] #9710 closed

[2017-11-30 03:34] wxsms opened #12279 "[Author] [Request] add uiv"
Library name: uiv
Library description: Bootstrap 3 components implemented by Vue 2.
Git repository url: https://github.com/wxsms/uiv
npm package name or url (if there is one): https://www.npmjs.com/package/uiv
License (List them all if it's multiple): MIT
Official homepage: https://uiv.wxsm.space

[2017-11-30 09:00] sashberd commented on #8121
@PeterDaveHello @sufuf3 Still low popularity. Suggest to close

[2017-11-30 09:02] sashberd commented on #8136
@PeterDaveHello @sufuf3 Suggest to close

[2017-11-30 09:10] sashberd commented on #8145
@PeterDaveHello Still low popularity. suggest to close

[2017-11-30 09:17] sashberd commented on #8225
@maruilian11 @PeterDaveHello  Suggest to close sine there is no answer from author on request add git tag and time passed from current request was opened

[2017-11-30 09:32] sashberd commented on #8321
@PeterDaveHello The library still has low popularity and also there is no answer from author on request add git tag and time passed from current request was opened. Suggest to close

[2017-11-30 09:34] sashberd commented on #8326
@PeterDaveHello May we could add it manually by version [4.0](https://github.com/Q42/LiveJS/blob/bf827065509878eeb989b4a229428fb9b3bba24e/livejs.js#L5) . What do you think?

[2017-11-30 09:35] sashberd commented on #8409
@PeterDaveHello According to author there is only 1 version 0.2. Maybe we could add it manually? What do you think?

[2017-11-30 11:25] sashberd commented on #8494
@maruilian11 @PeterDaveHello Author [said ](https://github.com/kvz/locutus/issues/307)that the library can not be hosted on cdnjs. Suggest to close

[2017-11-30 11:31] sashberd commented on #8531
@PeterDaveHello @maruilian11 Should this one be closed?

[2017-11-30 11:34] sashberd commented on #8540
@PeterDaveHello @maruilian11 It seems that this lobrary has only 1 version [v1.0](https://github.com/9elements/loadie.js#options), maybe we could add it manually? What do you think?

[2017-11-30 11:37] sashberd commented on #8563
@maruilian11  @PeterDaveHello Suggest to close sine there is no answer from author on request add git tag and time passed from current request was opened

[2017-11-30 11:41] sashberd commented on #8592
@Billy4195 Go on it!

[2017-11-30 14:15] sashberd commented on #9225
@PeterDaveHello Suggest to close sine there is no answer from author on request add git tag and time passed from current request was opened

[2017-11-30 14:27] sashberd commented on #9409
@maruilian11  @PeterDaveHello Suggest to close sine there is no answer from author on request add git tag and time passed from current request was opened

[2017-11-30 14:28] sashberd commented on #9411
@PeterDaveHello Suggest to close sine there is no answer from author on request add git tag and time passed from current request was opened

[2017-11-30 14:47] sashberd commented on #9594
@maruilian11  @PeterDaveHello Suggest to close sine there is no answer from author on request add git tag and time passed from current request was opened

[2017-11-30 14:50] sashberd commented on #9714
@extend1994  @PeterDaveHello Suggest to close sine there is no answer from author on request add git tag and time passed from current request was opened

[2017-11-30 14:52] sashberd commented on #9715
@maruilian11 The link you provided is not working any more too

[2017-11-30 14:58] sashberd commented on #9876
@sufuf3 @PeterDaveHello Suggest to close sine there is no answer from author on request add git tag and time passed from current request was opened

[2017-11-30 15:00] sashberd commented on #9941
@sufuf3  @PeterDaveHello Suggest to close sine there is no answer from author on request add git tag and time passed from current request was opened

[2017-11-30 15:01] sashberd commented on #9946
@PeterDaveHello @maruilian11 Still low popularity. Suggest to close

[2017-11-30 15:08] sashberd commented on #9953
@PeterDaveHello I checked infront of cdnjs website... All libraries are hosted. Close this issue

[2017-11-30 15:08] #9953 closed

[2017-11-30 18:53] lunaroyster opened #12281 "[Request] Add brain.js"
**Library name:** brain.js
**Library description:** Neural network library
**Git repository url:** https://github.com/BrainJS/brain.js
**npm package name or url (if there is one):** http://npmjs.com/package/brain.js
**License (List them all if it's multiple):** MIT
**Official homepage:**
**Wanna say something? Leave message here:**
This project is a continuation of the original library (now unmain

[2017-12-01 06:00] ihsinhw opened #12282 "[Request] Add willowsystems/jSignature"
**Library name:** jSignature
**Library description:**
**Git repository url:**
**npm package name or url** (if there is one):
**License (List them all if it's multiple):** MIT
**Official homepage:** https://github.com/willowsystems/jSignature
**Wanna say something? Leave message here:**
looks like useful Signature library, plz add it to CDNJS.
Thank you.

<bountysource-plugin>

---
Want to back thi

[2017-12-01 12:15] ajomadlabs commented on #12250
@sufuf3  Hey can I take up this issue

[2017-12-01 12:43] sufuf3 commented on #12250
Sure. Welcome.
Thanks for being interested in CDNJS. 👍

[2017-12-01 21:53] RigoTheCEO opened #12283 "[Request] Add html5-device-mockups"
**Library name:** html5-device-mockups
**Library description:** HTML5 mockups of popular devices, to showcase your portfolio and spice up your website.
**Git repository url:** https://github.com/pixelsign/html5-device-mockups
**npm package name or url** (if there is one): html5-device-mockups
**License (List them all if it's multiple):** MIT License
**Official homepage:** http://pixelsign.github.i

[2017-12-02 04:20] ajomadlabs commented on #12250
@sufuf3 Can you assign me with this issue

[2017-12-02 04:54] sufuf3 commented on #12250
I can't assign you (Not sure is it the GitHub limit)
But I think it's fine
Because you left the message and said you'd like to add this lib.

[2017-12-02 06:12] PeterDaveHello commented on #12250
@ajomadlabs sorry that we only assign members or issuers, but you can still feel free to take it as @sufuf3 says 👍

[2017-12-02 08:43] extend1994 commented on #12282
Hi @ihsinhw I think we can add the original one https://github.com/brinley/jSignature, the one your request was forked from, it has releases on GitHub. cdnjs need releases to add library. Is that okay? Thanks.

[2017-12-02 13:33] ralphchung commented on #12248
I will take this!

[2017-12-02 13:52] PeterDaveHello commented on #9946
My concern is it looks not suitable for the browsers to run. Anyway, close due to no response.

[2017-12-02 13:52] #9946 closed

[2017-12-02 13:53] PeterDaveHello commented on #9941
Let's close due to no response from https://github.com/googlemaps/v3-utility-library/issues/366, we can reopen once that issue got fixed.

[2017-12-02 13:53] #9941 closed

[2017-12-02 13:53] PeterDaveHello commented on #9876
Close due to no response from upstream.

[2017-12-02 13:53] #9876 closed

[2017-12-02 13:55] PeterDaveHello commented on #9714
Since it's popular enough, I suggest take this commit: https://github.com/peachananr/purejs-onepage-scroll/commit/3c6cde24a67aa4df1fff5d45c681f27f9b43f0ea as v1.2.2 (as its code mentions) to manually add this version with additional auto-update config.

[2017-12-02 13:56] PeterDaveHello commented on #9594
Okay let's close it.

[2017-12-02 13:56] #9594 closed

[2017-12-02 14:00] PeterDaveHello commented on #8321
@sashberd I see there is still update recently in that repo, maybe you'd like to ping its author in the issue in case it's missed?

[2017-12-02 14:28] #9670 closed

[2017-12-02 16:44] PeterDaveHello commented on #8494
Okay, cool!

[2017-12-02 16:44] #8494 closed

[2017-12-02 16:46] PeterDaveHello commented on #8531
Okay, let's close it. We can re-open once anything related changed.

[2017-12-02 16:46] #8531 closed

[2017-12-02 16:47] PeterDaveHello commented on #8540
The problem is that we can't identify/locate the v1.0, so we can't manually add it.

[2017-12-02 16:48] PeterDaveHello commented on #8563
Okay, let's close it.

[2017-12-02 16:48] #8563 closed

[2017-12-02 16:49] PeterDaveHello commented on #9225
@sashberd as no anyone tagged in the issue, sometimes busy maintainers won't notice that issue, wanna help ping its authors for discussion?

[2017-12-02 16:50] PeterDaveHello commented on #9409
Okay, let's close it.

[2017-12-02 16:50] #9409 closed

[2017-12-02 16:51] PeterDaveHello commented on #9411
See if we'll get response here: https://github.com/jakiestfu/Behave.js/issues/29#issuecomment-348704368

[2017-12-02 19:12] jakiestfu commented on #9411
Added `1.5.0` and also published on `npm` 😬

[2017-12-02 21:30] PeterDaveHello commented on #9411
Thanks @jakiestfu 👍

[2017-12-02 21:31] PeterDaveHello commented on #9411
@sashberd as you can see if no anyone tagged in the issue, sometimes it won't be noticed, just politely ping its author will help, same on the other issues, no need to directly close them :)

[2017-12-03 06:31] sashberd commented on #8143
According to author already hosted with name [most](https://cdnjs.com/libraries/most). Closed

[2017-12-03 06:31] #8143 closed

[2017-12-03 09:15] sashberd commented on #8540
@PeterDaveHello Why? Here, in the link above, it is clearly said that: "At this moment Loadie.js (**v1.0**) doesn't support extensive options... ". So we could add it from master as v1.0

[2017-12-03 09:17] PeterDaveHello commented on #8540
@sashberd That's not acceptable at all, v1.0 should be a static reference, a branch is NOT.

[2017-12-03 09:19] sashberd commented on #8540
@PeterDaveHello Well, I suggest to close this one

[2017-12-03 11:22] sashberd commented on #10092
@PeterDaveHello @maruilian11 Still no response from requested. Suggest to close

[2017-12-03 11:23] sashberd commented on #10096
@PeterDaveHello @maruilian11 Still no response from requester. Suggest to close

[2017-12-03 11:26] sashberd commented on #10124
@sufuf3 @PeterDaveHello Suggest to close sine there is no answer from author on request add git tag and time passed from current request was opened

[2017-12-03 11:30] sashberd commented on #10228
@PeterDaveHello Suggest to close sine there is no progress from author on request add git tag and time passed from current request was opened

[2017-12-03 11:31] #10096 closed

[2017-12-03 11:34] sashberd commented on #10249
@sufuf3  @PeterDaveHello Suggest to close since there is no answer from author on request add git tag and time passed from current request was opened

[2017-12-03 11:45] sashberd commented on #10475
@PeterDaveHello Suggest to close since there is no answer from author on request create build files on npm and time passed from current request was opened

[2017-12-03 18:05] mvl22 opened #12287 "Add geojson.js"
Library name: GeoJSON.js
Library description: Turn your geo data into GeoJSON.
Git repository url: https://github.com/caseycesari/geojson.js
npm package name or url (if there is one): geojson ; see: https://www.npmjs.com/package/geojson
License (List them all if it's multiple): MIT
Official homepage: https://github.com/caseycesari/geojson.js

[2017-12-03 18:09] mvl22 opened #12288 "Add leaflet-fullHash"
Library name: leaflet-fullHash
Library description: Add URL hash for Leaflet map (map view and active layers).
Git repository url: https://github.com/KoGor/leaflet-fullHash
npm package name or url (if there is one): [Not present on npm]
License (List them all if it's multiple): MIT
Official homepage: https://github.com/KoGor/leaflet-fullHash

[2017-12-03 18:13] sufuf3 commented on #12215
Closed due to no response in 7 days. cc @PeterDaveHello

[2017-12-03 18:13] #12215 closed

[2017-12-03 18:13] sufuf3 commented on #12209
Closed due to no response in 7 days. cc @PeterDaveHello

[2017-12-03 18:13] #12209 closed

[2017-12-04 01:44] seigler commented on #9411
Thanks @jakiestfu :tada:

[2017-12-04 03:56] sufuf3 commented on #9411
We can add this lib because there is a git tag and this lib has enough popularity.
Reopen this issue again.
Thanks.

[2017-12-04 05:38] ralphchung commented on #12283
I will take this!

[2017-12-04 08:20] sashberd commented on #10642
@PeterDaveHello [According ](https://github.com/diegoddox/react-redux-toastr/issues/169#issuecomment-348832457)to author the library cannot be hosted. Suggest to close

[2017-12-04 09:29] #10124 closed

[2017-12-04 12:36] sashberd opened #12289 "Add auto-update config to protovis library"
The protovis library has not auto update configuration in package.json. There are [new versions](https://github.com/mbostock/protovis/tree/v3.3.0) on library GIT.

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/52293907-add-auto-update-config-to-protovis-library?utm_campaign=plugin&utm_content=tracker%2F32893&utm_medium=issues&utm_s

[2017-12-04 12:41] ralphchung commented on #12283
I will take this! Thanks!

[2017-12-04 21:31] AndreCapelache opened #12290 "[Request] Add canvas2image"
**Library name:** canvas2image
**Library description:** a tool for saving or converting canvas as img
**Git repository url:** https://github.com/hongru/canvas2image
**npm package name or url** (if there is one):
**License (List them all if it's multiple):** MIT
**Official homepage:** https://github.com/hongru/canvas2image
**Wanna say something? Leave message here:**

=====================

Notes f

[2017-12-06 01:43] CGQAQ opened #12292 "[Request] Add jqeury-coverflow"
**Library name:** jqeury-coverflow
**Library description: A jQueryUI powered CoverFlow component **
**Git repository url: https://github.com/coverflowjs/coverflow**
**npm package name or url** (if there is one):
**License (List them all if it's multiple): MIT**
**Official homepage: https://github.com/coverflowjs/coverflow**
**Wanna say something? Leave message here:**

=====================

Notes

[2017-12-06 08:25] muratersoy opened #12293 "[Request] Add nicedit"
**Library name:** nicedit
**Library description:** wysiwyg
**Git repository url:** http://nicedit.com/
**npm package name or url** (if there is one):
**License (List them all if it's multiple):**
**Official homepage:**
**Wanna say something? Leave message here:**

=====================

Notes from cdnjs maintainer(please remove this section after you read it):
1. Please read the [README.md](https:

[2017-12-06 10:58] AilurusUmbra commented on #12269
I take  selectonic -- #8129

[2017-12-06 10:59] cy91244 commented on #12269
I will take Redux-Search

[2017-12-06 11:00] finch185277 commented on #12269
i want take Web-Ticker

[2017-12-06 11:58] cy91244 commented on #12269
I will take js-xlsx -- #10615

[2017-12-06 12:03] cy91244 commented on #11822
I will do this.

[2017-12-06 13:02] sashberd commented on #12293
[Duplicate](https://github.com/cdnjs/cdnjs/issues/8653)

[2017-12-06 13:02] #12293 closed

[2017-12-06 16:52] robertleeplummerjr commented on #12281
nice

[2017-12-06 17:41] robertleeplummerjr commented on #12281
also, thank you.  Validation on my side.

[2017-12-06 18:05] #10857 closed

[2017-12-06 18:42] AilurusUmbra commented on #12289
Hi, may I take this issue?

[2017-12-06 18:46] PeterDaveHello commented on #12289
@AilurusUmbra sure thing 👍

[2017-12-06 18:51] anujsinghwd opened #12302 "[Request][Author] add kicodes.js"
git url - https://github.com/anujsinghwd/kicodes
npm url - https://www.npmjs.com/package/kicodes

[2017-12-06 18:52] PeterDaveHello commented on #12302
@anujsinghwd More description please? You can refer to other request issues, thanks.

[2017-12-07 05:14] sufuf3 opened #12303 "[Request] Add deeplearn"
**Library name:** deeplearn
**Library description:** Hardware-accelerated deep learning // machine learning // NumPy library for the web. Google's teachable-machine also use this lib https://github.com/googlecreativelab/teachable-machine#about
**Git repository url:** https://github.com/PAIR-code/deeplearnjs
**npm package name or url** (if there is one): https://www.npmjs.com/package/deeplearn
**Li

[2017-12-07 05:17] sufuf3 commented on #12288
@mvl22 Thanks for the suggestion, however, this library doesn't have enough notable popularity(like more than 200 stars on GitHub or 800 downloads per month on npm). please take a look on our [README.md](https://github.com/cdnjs/cdnjs/blob/master/README.md) for detail, it's always good to read the document before open an issue, I'll respectfully suggest you open a new issue again when the library

[2017-12-07 05:21] sufuf3 commented on #12290
Hi @AndreCapelache ,
Thanks our suggestion.
But there is no git tag on this repo of lib.

The git auto-updater in [cdnjs](https://github.com/cdnjs/cdnjs) relies on [**git tags**](https://github.com/hongru/canvas2image/tags) so that it can recognize the correct version and automatically update the repo.
Would you discuss with the upstream to add git tags for the repo?

Thank you.

[2017-12-07 05:25] sufuf3 commented on #12302
@anujsinghwd Thanks for the suggestion, however, this library doesn't have enough notable popularity(like more than 200 stars on GitHub or 800 downloads per month on npm). please take a look on our [README.md](https://github.com/cdnjs/cdnjs/blob/master/README.md) for detail, it's always good to read the document before open an issue, I'll respectfully suggest you open a new issue again when the li

[2017-12-07 10:28] scsiva1991 commented on #12292
I would like to contribute. Created my first pull request. Any changes let me know I will learn.

[2017-12-07 11:28] anujsinghwd commented on #12267
@sufuf3  thanks but still not added

[2017-12-07 11:30] anujsinghwd commented on #12302
thanks @sufuf3

[2017-12-07 11:33] Billy4195 commented on #12257
I'd like to take this.

[2017-12-07 11:56] sufuf3 commented on #12267
@anujsinghwd Sorry about that.
As you can see, our team members maintain this open source project by our free time.
And there are not so many people in our team.

Also, there are too many libs waiting for being added.
If you'd like to let your library be added soon.
Maybe sending a pull request could help you solve your expectation.

What do you think?

Really sorry.
But this way may be faster tha

[2017-12-07 12:00] Billy4195 commented on #11264
I'd like to take this.

[2017-12-07 12:10] sufuf3 commented on #11264
@Billy4195 Sorry about that.
I think this lib need to be discuss.
@enicolasToast Could you tell us which file can be used in web frond-end that we need to add?
Such as `<script src="filename.js"></script>`

Thanks.

[2017-12-07 12:29] sufuf3 commented on #9715
@sashberd Thanks.

Closed due to no response in 7 days. Also I can't find the repo from GitHub and npm.
cc @PeterDaveHello

[2017-12-07 12:29] #9715 closed

[2017-12-07 12:30] sufuf3 commented on #9270
Closed due to no response in 7 days. Also there is no git tag on this repo and the lib doesn't have enough popularity.
cc @PeterDaveHello

[2017-12-07 16:01] Billy4195 commented on #12256
I'd like to take this.

[2017-12-07 21:28] Dorian opened #12306 "[Request] Add react-canvas"
**Library name:** react-canvas
**Library description:** High performance <canvas> rendering for React components
**Git repository url:** https://github.com/Flipboard/react-canvas
**npm package name or url** (if there is one): react-canvas
**License (List them all if it's multiple):** BSD-3-Clause
**Official homepage:** https://github.com/Flipboard/react-canvas
**Wanna say something? Leave message

[2017-12-07 21:36] ExE-Boss opened #12307 "Update Font Awesome to 5.0"
[Font Awesome 5](https://fontawesome.com) has now been released, and the free version is still [under an open source license](https://fontawesome.com/license), so cdnjs can redistribute the free version.

[2017-12-07 21:37] Dorian opened #12308 "[Request] Add react-konva"
**Library name:** react-konva
**Library description:** React + Canvas = Love. JavaScript library for drawing complex canvas graphics using React.
**Git repository url:** https://github.com/lavrton/react-konva
**npm package name or url** (if there is one): react-konva
**License (List them all if it's multiple):** MIT
**Official homepage:** https://github.com/lavrton/react-konva
**Wanna say somethin

[2017-12-08 23:58] GinesOrtiz opened #12311 "[Request] Add RecordRTC"
**Library name:** RecordRTC
**Library description:** WebRTC JavaScript library for audio/video as well as screen activity recording. It supports Chrome, Firefox, Opera, Android, and Microsoft Edge. Platforms: Linux, Mac and Windows.
**Git repository url:** https://github.com/muaz-khan/RecordRTC
**License (List them all if it's multiple):** MIT

[2017-12-08 23:58] #12311 closed

[2017-12-09 13:04] finch185277 commented on #12269
I will take DragDrop -- #10604

[2017-12-09 14:43] sufuf3 commented on #12306
@Dorian Thanks
This lib is really cool.
But I don't know which file that can be used in web front-end from this lib, such as `<script type="text/javascript" src="lib.js"></script>`

Could you please give me more info?
Many thanks.

[2017-12-09 23:04] ExE-Boss commented on #12307
Unfortunately, it looks like that the Font Awesome 5 source code is no longer hosted on GitHub, and me being just a normal user of Font Awesome (I’m not even a [contributor to the repository](https://github.com/FortAwesome/Font-Awesome/graphs/contributors)), it’s unlikely that I could change the Font Awesome team’s mind, especially since they chose to make [a paid version as well](https://fontawes

[2017-12-10 03:07] peterolson opened #12312 "[Request] Add BigInteger.js"
**Library name:** BigInteger.js
**Library description:** an arbitrary-length integer library for Javascript, allowing arithmetic operations on integers of unlimited size, notwithstanding memory and time limitations.
**Git repository url:** https://github.com/peterolson/BigInteger.js
**npm package name or url (if there is one):** https://www.npmjs.com/package/big-integer
**License (List them all if

[2017-12-10 08:48] cy91244 commented on #12312
I will take this.

[2017-12-10 09:08] Billy4195 commented on #12245
I'd like to take this.

[2017-12-10 15:07] peterolson commented on #12312
Thanks!

[2017-12-11 20:28] KZeni commented on #12307
They are offering their own CDN service at https://fontawesome.com/get-started. That said, FA 5 Free is still open source and I don't see why they wouldn't make that available via CDNJS as well.

[2017-12-12 02:24] Allenice opened #12317 "[Request] Add vue-svgicon"
**Library name:** vue-svgicon
**Library description:** A tool to create svg icon components. (vue 2.x). Using inline svg.
**Git repository url:** https://github.com/MMF-FE/vue-svgicon
**npm package name or url** (if there is one): vue-svgicon
**License (List them all if it's multiple):** MIT
**Official homepage:** https://mmf-fe.github.io/vue-svgicon/
**Wanna say something? Leave message here:**

[2017-12-12 06:00] sufuf3 commented on #12307
@ExE-Boss @KZeni Thank you.
I opened an issue on this lib's repo FortAwesome/Font-Awesome#11913
Let's waiting for their response.

Many thanks.

[2017-12-12 10:18] #10106 closed

[2017-12-12 10:24] #9124 closed

[2017-12-12 10:26] #11916 closed

[2017-12-12 10:47] #9388 closed

[2017-12-12 10:48] #8226 closed

[2017-12-12 10:51] #10811 closed

[2017-12-12 15:07] extend1994 commented on #12282
To whom wants to add this lib:
  cdnjs needs a library to have releases/tags on GitHub. Currently,  https://github.com/willowsystems/jSignature doesn't meet this requirement.

[2017-12-12 15:10] extend1994 commented on #12281
Thanks @robertleeplummerjr 😄
We will add it ASAP!

[2017-12-12 15:16] extend1994 commented on #12235
If there is no response in next 7 days, I will close this issue.

[2017-12-12 15:18] extend1994 commented on #9887
Close the issue due to no response.

[2017-12-12 15:18] #9887 closed

[2017-12-12 15:19] extend1994 commented on #12134
If there is no response in next 7 days, I will close this issue.

[2017-12-12 15:26] extend1994 opened #12318 "Add blissfuljs@1.0.5 with new npm auto-update config"
Need to update auto-update config of the hosted library blissfuljs because it's outdated.
Some front-end files seem to be removed by the maintainer in https://github.com/LeaVerou/bliss/commit/43e76d1a9750c805f04724a44967459981723e7d.
Please take this issue after there is a conclusion in https://github.com/LeaVerou/bliss/issues/215.

---2017/12/15 update---
Conclusion:
1. auto-update should be upda

[2017-12-12 16:04] sufuf3 commented on #11904
@PeterDaveHello  As https://github.com/BrainJS/brain.js#brainjs mention the brain.js is a continuation of the harthur/brain repository and harthur/brain is not maintained anymore.
Maybe we can close this issue and move to #12281 What do you think?
Thank you.

[2017-12-13 08:00] cy91244 commented on #12287
I will take this, thanks.

[2017-12-13 11:56] daisy91530 commented on #12308
I want this.

[2017-12-13 12:38] yaxauw commented on #12317
I would like to take this issue

[2017-12-13 15:27] #12256 closed

[2017-12-13 15:39] PeterDaveHello commented on #9270
@sufuf3 please help confirm if its author would like to add git tags for it, I think we can host this one.

[2017-12-13 15:40] PeterDaveHello commented on #9270
(And maybe also this one: https://github.com/essoduke/jQuery-TWzipcode)

[2017-12-13 15:43] PeterDaveHello commented on #10638
Thanks for the library suggestion, however, this library doesn't have enough notable popularity(like more than 200 stars on GitHub or 500 downloads per month on npm). please take a look on our [README.md](https://github.com/cdnjs/cdnjs/blob/master/README.md) for detail, it's always good to read the document before open an issue, I'll respectfully suggest you to open a new issue again when the libr

[2017-12-13 15:43] #10638 closed

[2017-12-13 15:46] PeterDaveHello commented on #8121
Let's close it.

[2017-12-13 15:46] #8121 closed

[2017-12-13 15:47] PeterDaveHello commented on #8145
Let's close it first, we can create a new issue for it once it reaches the popularity requirement.

[2017-12-13 15:47] #8145 closed

[2017-12-13 15:49] PeterDaveHello commented on #10582
We can host it if its popularity is good enough.

[2017-12-13 18:10] PeterBot opened #12320 "[Build failed] Got error while building meta data/artifact"
Dear all,

Our build process just got an error while building the meta data/artifact of cdnjs project, our [website and api](https://github.com/cdnjs/new-website) may not be as new as our repository, however, the cdn service will not been affected, you can still use it, and modify the library name, version number and filename in the url can help you access all the content on cdnjs, we will fix the

[2017-12-13 19:06] #12320 closed

[2017-12-14 02:17] sufuf3 commented on #9270
There is a git tag on these library.
Thanks.

[2017-12-14 06:26] anujsinghwd commented on #12267
thanks for replting @sufuf3. i am waiting to update

[2017-12-14 06:36] sufuf3 commented on #12267
@anujsinghwd I saw there are over 800 downloads in a month two weeks ago.
But now the downloads not reach our popularity. (200 stars on GitHub and 800 downloads in a month) Here is the adding library requirement: https://github.com/cdnjs/cdnjs/blob/master/CONTRIBUTING.md#b-request-a-new-library

I think we need to waiting for awhile to reach the goal.

Sorry about that.

[2017-12-14 12:20] leonirlopes opened #12321 "[Request] Add DataTables/Responsive"
**Library name:** DataTables/Responsive
**Library description:** Responsive is an extension for DataTables that resolves that problem by optimising the table's layout for different screen sizes through the dynamic insertion and removal of columns from the table.
**Git repository url:** https://github.com/DataTables/Responsive/
**npm package name or url (if there is one):** https://www.npmjs.com/pa

[2017-12-14 17:18] sufuf3 opened #12323 "[Request] Add unistore"
**Library name:** unistore
**Library description:** A tiny ~650b centralized state container with component bindings for Preact & React.
**Git repository url:** https://github.com/developit/unistore
**npm package name or url** (if there is one): https://www.npmjs.com/package/unistore
**License (List them all if it's multiple):** MIT
**Official homepage:**

<bountysource-plugin>

---
Want to back t

[2017-12-14 17:26] sufuf3 opened #12324 "[Request] Update popmotion auto-update config"
The latest version on CDNJS is v4.3.4 https://cdnjs.com/libraries/popmotion
Now, the library's latest version is v8.1.1
Here is the path https://github.com/Popmotion/popmotion/tree/master/packages/popmotion/dist
Thanks

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/52718207-request-update-popmotion-auto-update-config?utm_campaign=p

[2017-12-15 00:12] polygonplanet opened #12325 "[Author] [Request] Add encoding.js"
**Library name:** encoding.js
**Library description:** Converts character encoding in JavaScript
**Git repository url:** https://github.com/polygonplanet/encoding.js
**npm package name or url (if there is one):** https://www.npmjs.com/package/encoding-japanese
**License (List them all if it's multiple):** MIT

[2017-12-15 08:10] cy91244 commented on #12324
I would work on this one.

[2017-12-15 08:37] cy91244 commented on #12323
I would like to work on this, thanks.

[2017-12-15 09:08] cy91244 commented on #12318
I would like to work on this.

[2017-12-15 09:47] cy91244 commented on #12251
I would like to work on this, thanks.

[2017-12-15 13:36] finch185277 commented on #12269
I will take map-icons -- #9539

[2017-12-15 14:16] extend1994 commented on #11222
@PeterDaveHello `Stats.js` in r17/17 are the same as the upstream. But ` Stats.min.js` is different. I guess it's minified by the bot.
In addition, I notice that even though `version` in lib's [package.json](https://github.com/cdnjs/cdnjs/blob/master/ajax/libs/stats.js/package.json) is still "r16". And auto-update config seem to needs a update. There is also npm package https://www.npmjs.com/packa

[2017-12-15 16:49] cy91244 commented on #12231
I would work on this, thanks.

[2017-12-15 17:04] sufuf3 commented on #12307
Hi guys,
As The member of the team said https://github.com/FortAwesome/Font-Awesome/issues/11913#issuecomment-351135450

If you guys would like to discuss the version issue with community, you can go there FortAwesome/Font-Awesome#11908

And maybe we can close this issue and wait for free repo be added.
What do you think?

Many thanks.

[2017-12-15 17:15] PeterDaveHello commented on #12307
@sufuf3 Ｉprefer to leave this one opened so people can found it.

[2017-12-15 17:42] cy91244 commented on #12228
I would work on this, thanks.

[2017-12-15 22:31] andronocean opened #12336 "[Request] Update store.js to v2"
[store.js](https://github.com/marcuswestin/store.js) is currently at v2.0.12, while the CDN only has it [up to v1.3.20](https://cdnjs.com/libraries/store.js) from back in 2015. Pretty popular project, and I can't find any other trustworthy CDNs that carry it.

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/52773121-request-update-st

[2017-12-16 05:17] sufuf3 commented on #12336
@andronocean Many thanks.
PS. Now, the bathPath is https://github.com/marcuswestin/store.js/tree/master/dist
https://github.com/cdnjs/cdnjs/blob/master/ajax/libs/store.js/package.json#L14-L27

[2017-12-16 06:18] #11629 closed

[2017-12-16 06:18] #11652 closed

[2017-12-16 08:21] cy91244 commented on #12230
I would work on this, thanks.

[2017-12-16 08:49] mmohamedbasith opened #12339 "JSZipUtils.getBinaryContent - throwing 401 unauthorized error in Chrome browser - And working fine in IE"
I am using using below lines to zip file in my angular 2 project. The file to be zipped is stored in different domain site .

Angular site url: http://stawwq:5555

JSZipUtils.getBinaryContent("http://extranet:123/doc/file.docx", function (err, data) {
   if(err) {
      throw err;
   }
   var zip = new JSZip(data);
});
Zipping works fine in IE . But not in chrome. Receives below error
VM120:3 Erro

[2017-12-16 08:51] mmohamedbasith commented on #12339
Web.config

<httpProtocol allowKeepAlive="true">
      <customHeaders>
        <remove name="X-Powered-By" />
        <add name="X-MS-InvokeApp" value="1; RequireReadOnly" />
        <add name="Access-Control-Allow-Credentials" value="true" />
        <add name="Access-Control-Allow-Origin" value="http://staww8580q:5555" />
      </customHeaders>
    </httpProtocol>

[2017-12-16 09:07] cy91244 commented on #12229
I would work on this, thanks.

[2017-12-16 10:08] extend1994 opened #12341 "[Request] Add moveTo"
**Library name:** moveTo
**Git repository url:** https://github.com/hsnaydd/moveTo
**npm package name or url** (if there is one): https://www.npmjs.com/package/moveto
**License (List them all if it's multiple):** [MIT](https://github.com/hsnaydd/moveTo/blob/master/LICENSE)
**Official homepage:** https://hsnaydd.github.io/moveTo/demo/

[2017-12-16 10:44] cy91244 commented on #12341
I will take this, thanks.

[2017-12-16 16:29] cy91244 commented on #12210
I would like to work on this, thanks.

[2017-12-16 20:19] Eonasdan commented on #11453
@PeterDaveHello @extend1994 having a bit of trouble with the pull request. It sounded like from the docs that I could just provide a package.json file bit the build bot is complaining. 'little help?

[2017-12-17 08:19] extend1994 commented on #11453
@Eonasdan That's right, I will help you to pass the CI test in PR page. Let's discuss there :smiley:

[2017-12-17 12:15] #8720 closed

[2017-12-17 12:19] #9575 closed

[2017-12-17 12:23] #10112 closed

[2017-12-17 12:28] #10149 closed

[2017-12-17 12:32] #11462 closed

[2017-12-17 13:03] #10782 closed

[2017-12-18 07:05] #11862 closed

[2017-12-18 07:05] #10662 closed

[2017-12-18 07:06] #5315 closed

[2017-12-18 07:10] PeterDaveHello opened #12346 "npm auto-update didn't fetch files of library "file-uploader" properly."
I've noticed this issue for a while.

The first time npm auto-updater fetched "file-uploader" new version, it always extracted only directory `azure.fine-uploader` as below, so I need to delete it and manually fetch its new version by `./auto-update.js run azure.fine-uploader` (not to run auto-update on all the libraries but only single `file-uploader`), then everything goes well.

[code]

Haven't

[2017-12-18 12:34] ralphchung commented on #12336
I'll take this!

[2017-12-18 12:48] #12312 closed

[2017-12-18 12:50] #12287 closed

[2017-12-18 13:19] mvl22 commented on #12287
Thanks!

[2017-12-18 17:32] htkoca opened #12348 "[Request] Add query-string"
**Library name:** query-string
**Library description:** Parse and stringify URL query strings
**Git repository url:** https://github.com/sindresorhus/query-string
**npm package name or url (if there is one):** https://www.npmjs.com/package/query-string
**License (List them all if it's multiple):** MIT
**Official homepage:**

[2017-12-18 18:38] cy91244 commented on #12348
I would work on this, thanks.

[2017-12-19 05:10] #12302 closed

[2017-12-19 05:46] verlok opened #12349 "vanilla-lazyload latest versions not going live"
Hi there,
yesterday (some hours ago) I released 10.4.0 and 10.4.1 of vanilla-lazyload on my github repo, but it’s not going live on cdnjs.
What am I doing wrong?

[2017-12-19 08:02] PeterDaveHello commented on #12349
@verlok I think it's already hosted?
https://cdnjs.com/libraries/vanilla-lazyload/10.4.0

commit f6848313ebe72be6674544b66a958f4489c777ad
Author: PeterBot <PeterBot@users.noreply.github.com>
Date:   Tue Dec 19 13:41:52 2017 +0800

    Add vanilla-lazyload v10.4.1

commit 6798809775dc8b497d11c3802135a0afd972a74d
Author: PeterBot <PeterBot@users.noreply.github.com>
Date:   Tue Dec 19 06:16:13 2017 +

[2017-12-19 08:02] PeterDaveHello commented on #12349
@verlok see also https://github.com/cdnjs/cdnjs/commits/master/ajax/libs/vanilla-lazyload

[2017-12-19 11:07] finch185277 commented on #11812
I want to add this.

[2017-12-19 11:41] #12349 closed

[2017-12-19 11:51] #10259 closed

[2017-12-19 11:58] #10510 closed

[2017-12-19 12:02] #11517 closed

[2017-12-19 12:05] #10602 closed

[2017-12-19 12:19] #9564 closed

[2017-12-19 14:01] avradul opened #12353 "[Request] Update jquery.inputmask git repo url"
**Library name:** Inputmask
**Library description:**
**Git repository url:** https://github.com/RobinHerbots/Inputmask
**npm package name or url** (if there is one):
**License (List them all if it's multiple):**
**Official homepage:**
**Wanna say something? Leave message here:** Your latest version 3.3.4 http://prntscr.com/hpkyl2
Please update to 4.x http://prntscr.com/hpl4t1
We all need this vers

[2017-12-19 15:00] sashberd commented on #12353
@PeterDaveHello I suggest to change current npm autoupdate config to git repo... WDYT?

[2017-12-19 15:34] htkoca commented on #12348
Thanks!

[2017-12-19 21:59] cougrimes opened #12354 "[Request] Add jquery-rss"
**Library name:** jquery-rss
**Library description:** An easy-to-use rss plugin for jquery with templating.
**Git repository url:** https://github.com/sdepold/jquery-rss
**npm package name or url** https://www.npmjs.com/package/jquery-rss
**License (List them all if it's multiple):** MIT
**Official homepage:** https://github.com/sdepold/jquery-rss
**Wanna say something? Leave message here:**

[2017-12-20 07:11] cy91244 commented on #12354
I would work on this, thanks.

[2017-12-20 09:53] sdepold commented on #12354
Oh cool thanks! I will update the docs :)

[2017-12-20 18:36] ClickSimply opened #12358 "[Request][Author] Add nanoSQL"
Library name: nanoSQL
Library description: A super flexible database/datastore for the client & server.
Git repository url: https://github.com/ClickSimply/Nano-SQL
npm package name or url https://www.npmjs.com/package/nano-sql
License (List them all if it's multiple): MIT
Official homepage: https://nanosql.io
Wanna say something? Leave message here:

Browser friendly builds are always located here

[2017-12-20 22:21] lexesv opened #12359 "[Request] Add jquery-popunder"
**Library name:** jquery-popunder
**Library description:** jquery-popunder is a jquery-plugin to create popunders in major browsers.
**Git repository url:** https://github.com/hpbuniat/jquery-popunder
**npm package name or url** (if there is one):
**License (List them all if it's multiple):** https://github.com/hpbuniat/jquery-popunder/blob/master/LICENCE
**Official homepage:**
**Wanna say somethi

[2017-12-20 23:36] avradul commented on #12353
@RobinHerbots , can you tagged version 4 on npm and git repo?

[2017-12-21 10:25] sufuf3 commented on #12339
@mmohamedbasith Thanks for issue.
In fact, CDNJS host the lib from upstream.
So if there is the problem of lib, maybe discuss the issue with lib's author is a better way.
What do you think?

Many thanks.

[2017-12-21 10:32] sufuf3 commented on #12348
Duplicated with #10334
Let's move to #10334

@cy91244 Before adding the library, could you please check is there any duplicated issue or PR?
We choose the earlier issue to cc it, and close the newest one make sure there is no duplicated issue.
This is useful to maintain a huge project.

Many thanks.

[2017-12-21 10:34] sufuf3 commented on #12348
Close this issue because there is a duplicated issue #10334
cc @PeterDaveHello

[2017-12-21 10:34] #12348 closed

[2017-12-21 10:41] sufuf3 commented on #12353
Need to update the git repo url https://github.com/cdnjs/cdnjs/tree/master/ajax/libs/jquery.inputmask, because the [origin](https://github.com/RobinHerbots/jquery.inputmask) always redirect to https://github.com/RobinHerbots/Inputmask

@avradul There is no v4.*.* version release via git tag or npm. (We don't add the files rely on branch but git tag.)
Would you discuss this version issue with the a

[2017-12-21 10:45] sufuf3 commented on #12358
Memo: 972 downloads in the last month from npm

[2017-12-21 10:46] sufuf3 commented on #12359
@lexesv Thanks for the suggestion, however, this library doesn't have enough notable popularity(like more than 200 stars on GitHub or 800 downloads per month on npm). please take a look on our [README.md](https://github.com/cdnjs/cdnjs/blob/master/README.md) for detail, it's always good to read the document before open an issue, I'll respectfully suggest you open a new issue again when the library

[2017-12-21 10:58] kenangundogan commented on #11819
how the next process will proceed

[2017-12-21 11:00] kenangundogan commented on #12001
The number of github star is 130, but the download rate from package managers is quite high.

npm, yarn, bower and so on.

Is not enough in this phase.

We are working very hard on this project, we continue to add new versions and features every week.

[2017-12-21 11:12] #10718 closed

[2017-12-21 11:21] PeterBot opened #12360 "[Build failed] Got error while building meta data/artifact"
Dear all,

Our build process just got an error while building the meta data/artifact of cdnjs project, our [website and api](https://github.com/cdnjs/new-website) may not be as new as our repository, however, the cdn service will not been affected, you can still use it, and modify the library name, version number and filename in the url can help you access all the content on cdnjs, we will fix the

[2017-12-21 11:22] ramunecarbonated opened #12361 "[Request] Update sweetalert to 2.1.0 / >=2.0"
**Library name:** sweetalert
**Library description:** A beautiful replacement for JavaScript's "alert" - unchanged from cdnjs page.
**Git repository url:** https://github.com/t4t5/sweetalert/
**npm package url:** https://www.npmjs.com/package/sweetalert
**License:** MIT
**Official homepage:** https://sweetalert.js.org/ - current one on the cdnjs page 404s.
**Wanna say something? Leave message here

[2017-12-21 11:23] #9019 closed

[2017-12-21 11:27] #11648 closed

[2017-12-21 11:31] PeterBot opened #12362 "[Build failed] Got error while building meta data/artifact"
Dear all,

Our build process just got an error while building the meta data/artifact of cdnjs project, our [website and api](https://github.com/cdnjs/new-website) may not be as new as our repository, however, the cdn service will not been affected, you can still use it, and modify the library name, version number and filename in the url can help you access all the content on cdnjs, we will fix the

[2017-12-21 11:36] kenangundogan opened #12363 "[Request][Author] Add Fontisto"
**Library name:** fontisto
**Library desctiption:** the iconic font and css toolkit (Fontisto gives you scalable vector icons that can instantly be customized: size, color, drop shadow and anything that can be done with the power of CSS.)

**Git repository url:** https://github.com/kenangundogan/fontisto
**Npm package url:** https://www.npmjs.com/package/fontisto
**Yarn package url:** https://yarn

[2017-12-21 12:25] HarmOo opened #12364 "[Request] Add jquery-ui.multidatespicker.js"
**Library name:** jquery-ui.multidatespicker.js
**Library description:** This plugin extends the jQuery UI datepicker clendar, allowing to select more than one date, picking them one by one or by ranges relative to the clicked date.
**Git repository url:**  https://github.com/dubrox/Multiple-Dates-Picker-for-jQuery-UI
**npm package name or url** (if there is one): jquery-ui-multidatespicker
**Lice

[2017-12-21 15:05] DominicTobias opened #12365 "[Request] Add react-image-crop"
**Library name:** react-image-crop
**Library description:** A react UI tool for selecting a crop on an image
**Git repository url:** https://github.com/DominicTobias/react-image-crop
**npm package name or url (if there is one):** https://www.npmjs.com/package/react-image-crop
**License (List them all if it's multiple):** ISC
**Official homepage:** none

Thanks!

<bountysource-plugin>

---
Want to

[2017-12-21 16:29] sufuf3 opened #12366 "[Request] Add schnack"
**Library name:** schnack
**Library description:** Simple node app for Disqus-like drop-in commenting on static websites
**Git repository url:** https://github.com/gka/schnack
**npm package name or url** (if there is one): https://www.npmjs.com/package/schnack
**License (List them all if it's multiple):** [Lil](https://github.com/gka/schnack/blob/master/LICENSE) :https://github.com/jashkenas/lil-l

[2017-12-21 16:33] sufuf3 commented on #12365
Memo: 28,759 downloads in the last month from npm

[2017-12-21 22:38] #12360 closed

[2017-12-21 22:38] #12362 closed

[2017-12-21 22:47] PeterDaveHello commented on #12251
Priority updated, cc @cy91244 @cdnjs/library-reviewer

[2017-12-22 11:44] jonathanverner opened #12367 "[Author] Brython library has wrong latest version (3.3.20 instead of, currently, 3.3.5)"
cc: @PierreQuentel, @extend1994, @x09326

The [Brython](https://cdnjs.com/libraries/brython/) library shows the latest version to be 3.3.20. However the actual files are from [version 3.3.0](https://github.com/brython-dev/brython/releases/tag/3.3.0); version 3.3.20 does not exist at all. Currently the latest is [3.3.5](https://github.com/brython-dev/brython/releases/tag/3.3.5) (which [is](https://