[2015-02-13 07:07] PeterDaveHello commented on #2804
@rmzelle You can send a PR to do it by your self or open an issue and wait for somebody to do it.

[2015-02-14 08:54] andytruong commented on #1078
Oh, we still not have stats.

[2015-02-15 17:43] rmzelle commented on #2804
Thanks! Just noticed your commits https://github.com/cdnjs/cdnjs/commit/2ec1507e0b7adcc67b951a06b32a75f352a28577 and https://github.com/cdnjs/cdnjs/commit/99cbbdcd3a72ea6ed2e4fa8a9493b6f7eef1c203 to update the ace libraries.

[2015-02-16 20:39] ximex commented on #4328
:+1:

[2015-02-16 21:06] konklone commented on #4328
Let me know if there's any more information I can provide here to make the case.

[2015-02-17 11:38] ethanpil commented on #4096
Any news on this?

[2015-02-17 16:15] jmm opened #4368 "Search for "backbone" doesn't yield backbone.js"
FYI, if I search the site for `backbone` I get a bunch of libs with `backbone` in the name, but not backbone itself. I have to search for `backbone.js` or `backbone.j` to get backbone.

[2015-02-17 16:56] PeterDaveHello commented on #4096
hmmmm ... sorry that we are still too busy, will do ASAP, you can take a look at #3638  first, there is an example there.

[2015-02-17 17:04] PeterDaveHello commented on #4368
Oops, I need to call out for help ... I am not sure if is algolia's issue or not.

Dear @thomasdavis & @redox, would you please take a look at this issue? thanks.

[2015-02-17 18:53] ethanpil commented on #3638
Maybe I'm just being dense... but I am missing something.

If an existing package needs an update, but the github repo doesn't tag by version, would we just simply update the package.json with the new version number? How does the autoupdate know to pull a new version, create directory, etc...

[2015-02-17 18:54] ethanpil commented on #4096
Thanks for that ref. Based on that I created the following package.json for a new package. I don't see how I can add a new submission.  Can you 1) Check it  and 2) let me know how to submit it?

[code]

[2015-02-17 21:53] redox commented on #4368
I'm on it, related to Algolia's ranking formula conflicting with the exact matches we have in the "keyword" attribute. I'll check what I can do.

[2015-02-18 01:27] redox commented on #4368
Should be fixed after reindexing.

[2015-02-18 03:44] PeterDaveHello commented on #4368
@jmm and you help us confirm this issue? thanks!

[2015-02-18 03:59] PeterDaveHello commented on #4096
Looks ok, you mean how to send a PR or what?

[2015-02-18 04:00] PeterDaveHello commented on #3638
@ethanpil Depends on its tags, so if no tag, no autoupdate.

[2015-02-18 07:10] ethanpil commented on #3638
So, how would one trigger an update in this case?

[2015-02-18 07:12] ethanpil commented on #4096
No, I mean what should I put in the PR?

Just create the folder and add package.json and it will pull? Or, does the initial PR need to include the first set of files?

[2015-02-18 09:01] PeterDaveHello commented on #4096
Should add the fils.

[2015-02-18 09:04] PeterDaveHello commented on #3638
In what case? if no tag, no auto-update, if there is/are tag(s), will grab the files as config from that tag(s).

[2015-02-18 13:05] JamesMGreene commented on #3638
@ethanpil: Y U NO TAGS WITH VERSIONZ? (╯°□°)╯︵ ┻━┻

Anyway, you'll have to do manual Pull Requests for updates, then.

But seriously, why aren't/can't you tag versions?

[2015-02-18 13:06] ethanpil commented on #3638
They aren't my repos, I am just adding a few libs that I use often and I see that several of them don't do it...

[2015-02-18 14:30] jmm commented on #4368
@PeterDaveHello It's unchanged for me (and browser caching isn't an issue). The reindexing that @redox referred to would have already happened by now?

[2015-02-18 14:38] redox commented on #4368
From what I see, the https://github.com/cdnjs/new-website/blob/master/public/packages.json file is still mentioning the previous backbone.js repository -> what is the best way to refresh that file? I can then start the reindexing manually.

[2015-02-18 17:17] PeterDaveHello commented on #4368
Okay, I'll try to update it, because @thomasdavis changed something without push it out, so that I can not directly update as him, not sure if my update will work, let me try now.

[2015-02-18 17:23] PeterDaveHello commented on #3638
hmmm ... maybe you can open issue in their repo first

[2015-02-18 17:25] PeterDaveHello commented on #4368
@redox I think I updated it, but I have no api key to reindex it, maybe you can give me that in private so that we can fix this issue easier next time, I can't find Thomas sometimes, so that we'll need to wait for him, or let me update the package and let you reindex, will be a little bit complex.

[2015-02-18 18:49] redox commented on #4368
I've run the reindexing + added a new PR to improve the overall ranking. I'm now sending you the Algolia  API key + GitHub OAuth token to run the reindexing.

[2015-02-19 07:44] PeterDaveHello commented on #4368
Thanks @redox !

@jmm would you please check if this okay now for you? I can see backbone.js via keyword backbone now, just at the bottom of that page, thanks!

[2015-02-19 07:50] redox commented on #4368
I've just started the indexing. Now it's OK -> I assume a reindexing has been done before my other PR (about "exact" ranking criteria) has been merged. The expected behavior is to have the backbone.js library as the 1st result.

[2015-02-19 07:51] thomasdavis commented on #4368
Great work @redox and @PeterDaveHello you guys killed it =D

@redox the script is set to run every 30 minutes at the moment so should be fine.

[2015-02-19 07:53] PeterDaveHello commented on #4368
Hey @thomasdavis, finally you are now here, can we talk on gitter now? thanks!

[2015-02-19 07:53] redox commented on #4368
Hehe :+1: @thomasdavis alright for the script, good to know :)

[2015-02-19 14:37] jmm commented on #4368
@PeterDaveHello Yes, it now works as I'd expect: "backbone" produces backbone.js as the 1st result. In fact, by the time I get to "b", it's the # 2 result, and by the time I get to "ba" it's # 1.

[2015-02-19 15:17] Xarcell opened #4376 "Update Owl Carousel"
Latest release is 1.3.3 : https://github.com/OwlFonk/OwlCarousel

[2015-02-19 19:34] kireerik opened #4377 "Where is Swiper 3.0.1 release?"
Swiper has some [newer releases](https://github.com/nolimits4web/Swiper/releases), but I can't find it on [cdnjs](https://cdnjs.com/libraries/swiper). It should be auto updated, am I right? What cause this issue?

[2015-02-20 03:49] PeterDaveHello commented on #4368
Okay, then I'll close this issue, thanks.

[2015-02-20 03:49] #4368 closed

[2015-02-20 03:59] PeterDaveHello commented on #4377
Seems they changed the structure.

[2015-02-20 05:33] PeterDaveHello commented on #4377
Added in 0183640

[2015-02-20 05:33] #4377 closed

[2015-02-20 06:26] SoftCreatR opened #4378 "Add AngularMotion"
https://github.com/mgcrea/angular-motion

[2015-02-20 12:57] kireerik commented on #4377
Thank you for resolving this issue!

[2015-02-20 14:37] PeterDaveHello commented on #4377
np

[2015-02-21 08:51] ondruska opened #4382 "Update aws-sdk"
Please, any chance to get updated aws-sdk (and get those updated in future). Thanks

[2015-02-25 19:43] Jakobud opened #4396 "Added /latest/ path alias for each plugin"
It would be nice to just add an automatically updating `/latest/` alias for each plugin that always points to the latest version. So you could simply do something like this:

`//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/latest/css/bootstrap.min.css`

instead of

`//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.2/css/bootstrap.min.css`

[2015-02-25 20:08] PeterDaveHello commented on #4396
I remember that I had told about this issue, but don't remember if cloudflare's cdn support symbolic link or not.
Mention @terinjokes & @thomasdavis to give their comments, thanks!

[2015-02-25 20:15] Jakobud commented on #4396
Actually you know what, I think this might be a terrible idea. The whole purpose of a CDN is that a certain version of a resource is cached on a server. If "latest" is cached on a server and then latest changes to a new version then you are now caching the wrong version. The cached latest is no longer pointing to the latest version.

[2015-02-25 20:15] #4396 closed

[2015-02-28 00:35] Vithon opened #4406 "Update Foundation"
Latest release is 5.5.1.
Release 5.5.0 is currently in repo.

http://foundation.zurb.com/develop/download.html
5.5.1: http://foundation.zurb.com/cdn/releases/foundation-5.5.1.zip

Located in tree at `/ajax/libs/foundation{,-essential}/`

[2015-02-28 01:06] joeyparrish commented on #3638
I've noticed that the latest release of my library (shaka-player) hasn't auto-updated.  (google/shaka-player#27)  We've published the new version in npm and package.json has npmName and npmFileMap.

I checked out cdnjs source and ran auto-update.js myself, and I get errors on knockout and flocks.js.  If I remove package.json from those two folders, I get no errors in the log, but my package still

[2015-02-28 08:33] PeterDaveHello commented on #3638
@joeyparrish Sometimes the auto-update will miss libs with unknown reason, we'll try to figure it our, your lib was updated in 4c6e805 now.

[2015-03-01 06:22] drewfreyling commented on #4406
Please feel free to add a PR for this one.

[2015-03-01 21:28] thomasdavis commented on #4328
Just tagging @ryankirkman too

[2015-03-02 05:45] PeterDaveHello commented on #4406
See 2bda989 & 6f625fe please.

[2015-03-02 05:45] #4406 closed

[2015-03-03 10:12] hatanakadaniel opened #4414 "Jqueryui"
Please update Jquery UI lib. The current version is 1.11.3.

[2015-03-09 10:24] josdejong opened #4423 "Auto update jsoneditor to v4.0.0 failed?"
It seems like the auto update of jsoneditor missed the [v4.0.0 release](https://github.com/josdejong/jsoneditor/tree/v4.0.0) (9 days ago). The `npmFileMap` field in this projects [package.json](https://github.com/cdnjs/cdnjs/blob/master/ajax/libs/jsoneditor/package.json) file on cdnjs is still up to date and should work ok.

Can you please update jsoneditor to v4.0.0? Would be great!

[2015-03-09 10:45] PeterDaveHello commented on #4423
Thanks.

[2015-03-09 14:21] PeterDaveHello commented on #4423
fixed in 56ec9fa & c677f37

[2015-03-09 14:21] #4423 closed

[2015-03-09 14:36] josdejong commented on #4423
Thanks for the quick action (as always :))

@PeterDaveHello  I see you do all updates manually, which must be quite some work. Is that on purpose to keep control, or are you maybe planning on a fully automatic update system?

[2015-03-09 16:02] PeterDaveHello commented on #4423
Fully automatic update may make the project in mess because projects may change their structure, this time and this case, it didn't, but we got kind of this problem many times before, we still need to spend our time to trace and fix it, so I will audit everything changed by our updated, and then commit.

[2015-03-09 19:26] josdejong commented on #4423
Yes, that makes sense. Well, at least this makes sure a certain quality is guaranteed. Are you considering setting up some tooling such that people can do the updates themselves (for example like npm)?

[2015-03-10 01:21] PeterDaveHello commented on #4423
You can always do it, take a look at auto-update.js please.

[2015-03-10 02:08] PeterDaveHello commented on #4423
And BTW, we may need to manually minify the files, auto-updater can not easily do it perfectly.

[2015-03-10 07:47] josdejong commented on #4423
Quite some tricky details. Maybe this manual curation is what makes cdnjs stand out from the others.

Thanks for all your work!

[2015-03-10 08:05] PeterDaveHello commented on #4423
You're welcome.

[2015-03-11 07:23] simov opened #4426 "Add newer version of Chosen"
Latest version of Chosen in CDNJS is 1.1.0 but they have like 1.4.1 out already https://github.com/harvesthq/chosen/releases that's a one year time

[2015-03-12 12:07] Dinasty0 opened #4430 "Actualizar hover.css"
Actualmente se encuentra en la v2 y la actual es la v1

[2015-03-12 16:20] PeterDaveHello commented on #4430
Would you please use English? Thanks!

[2015-03-12 17:26] brenoc opened #4431 "Is cdnjs.com down?"
Hi, I'm trying to access [cdnjs.com](http://cdnjs.com/) and I got:

There is no app configured at that hostname.
Perhaps the app owner has renamed it, or you mistyped the URL.

[2015-03-12 18:41] PeterDaveHello commented on #4431
Oops ...

[2015-03-12 18:42] olso commented on #4431
Pls

[2015-03-13 03:37] drewfreyling opened #4434 "Toastr isn't updating"
I'm hoping https://github.com/CodeSeven/toastr/issues/263 fixes it. If not, I'll manually update it.

[2015-03-14 07:04] PeterDaveHello commented on #4434
Seems our updater ignored some versions ... it said
`Need 1.1.5,1.3.0,v1.2.0,v1.2.1,v1.2.2` while updating, but there is no 2.1.1 in the list ...

[2015-03-14 07:04] PeterDaveHello commented on #4434
It was fixed in 69ee0d9.

[2015-03-14 07:04] #4434 closed

[2015-03-16 14:32] brenoc opened #4447 "API is down"
The [API](http://api.cdnjs.com/) is down since Mar 12.

There is no app configured at that hostname.
Perhaps the app owner has renamed it, or you mistyped the URL.

[2015-03-16 14:32] brenoc commented on #4431
The site is up, but the API is down #4447

[2015-03-16 14:32] #4431 closed

[2015-03-16 14:42] thomasdavis commented on #4447
Thanks Breno. We are on it.

[2015-03-17 21:05] eXon opened #4451 "NPM Update on react-cookie not working"
The library react-cookie has been updated to 0.1.4 3 days ago but it is still not updated through NPM. It might be because I made a release between the request and the approbation of the lib.

Is their a way to force the update check on NPM? (the config file is already setup for this)

Thank you!

[2015-03-17 21:07] eXon commented on #4451
It might be because you need to run `npm run build` to get the dist files. Is their any way to automate that in the package.json?

[2015-03-18 02:01] r-clancy opened #4452 "Minified Version of JS Not Showing on Website - foundation.min.js (v 5.5.1)"
Hello,

I see there is a commit for minifying "foundation.min.js", but the version that appears on the site in the un-minified one.

Is this something that should be reflected on the website now, or will the change be coming soon?

Commit: https://github.com/cdnjs/cdnjs/commit/17a7af2b3df80f3bc9c06f1d2c93d58468a4a35c
Webpage: https://cdnjs.com/libraries/foundation
File: https://cdnjs.cloudflare.co

[2015-03-18 02:12] PeterDaveHello commented on #4452
![Imgur](http://i.imgur.com/yyjoI6c.png)

[2015-03-18 02:32] rylinaux commented on #4452
@PeterDaveHello
If you open that file, it isn't the minified version.

[2015-03-18 02:42] PeterDaveHello commented on #4451
We don't support building ilbs in the auto-update process yet, but we'll accept pull requests to enable it if you would like to do.
I noticed that you also put the dist files in the git repo on the release tags, so I think transferring to use git auto-update as #3638 said will be easier.

[2015-03-18 02:43] PeterDaveHello commented on #4451
fixed in 1b53508 and updated in bc33fad

[2015-03-18 02:43] #4451 closed

[2015-03-18 02:45] PeterDaveHello commented on #4452
Oh yeah, you are right, tag @terinjokes for help, thanks!

[2015-03-18 06:41] pushkeryadav opened #4453 "make cdnjs cookie free domain"
cookies are not required for static contents and cookies less domain load faster, so make cdnjs cookies free to load js  files faster.

[2015-03-18 10:12] eXon commented on #4451
Awesome, the git tags were for bower so I guess it will do the work for cdnjs too :+1:

Thanks for the quick relpy :)

[2015-03-18 11:02] PeterDaveHello commented on #4451
np

[2015-03-18 11:14] PeterDaveHello commented on #4453
cc @terinjokes

[2015-03-18 13:39] Toilal opened #4455 "URL latest doesn't pick the latest version"
I've just release a new version of angular-gantt library, but when using latest, it doesn't not pick the latest version.

http://cdn.jsdelivr.net/angular.gantt/latest/angular-gantt.min.js => This point to `1.2.1`.
http://cdn.jsdelivr.net/angular.gantt/1.2.3/angular-gantt.min.js => But `1.2.3` is released and available.

[2015-03-18 13:39] Toilal commented on #4455
Sorry sorry ! wrong repo !

[2015-03-18 13:39] #4455 closed

[2015-03-18 21:31] terinjokes commented on #4453
cdnjs.cloudflare.com is a cookieless domain.

[code]

[2015-03-18 21:39] terinjokes commented on #4396
Google CDN used to support an equivalent of "latest", based on major and minor versions, before they froze the versions and removed the references from the documentation.

I see no reason in reversing that decision here.

[2015-03-18 21:57] Jakobud commented on #4396
Hense why I closed the issue and said it was a bad idea. Thanks,

[2015-03-19 09:10] IonicaBizau opened #4461 "Make library adding process easier [$5]"
Since this repository has a big size (~7GB, and **still counting**!), `git` commands are soooo slow.

Example:

[code]

So, adding a new library is pretty slow...

Any ideas how to solve this?

<bountysource-plugin>

---
There is a **[$5 open bounty](https://www.bountysource.com/issues/9748019-make-library-adding-process-easier?utm_campaign=plugin&utm_content=tracker%2F32893&utm_medium=issues&utm_

[2015-03-19 09:55] Ryuno-Ki opened #4463 "Update README for filename and git auto-update"
I'm currently process of getting a new lib into CDNjs (see #4456). Hereby I noticed, that `filename` in *package.json* isn't documented on the official npm docs, but required by the CI.

@PeterDaveHello pointed me to #3638 as well, so I'd suggest, you update the README in order to save some time on both ends. I assume, with *git auto-update* a [update hook on server](http://git-scm.com/book/en/v2/

[2015-03-19 15:52] PeterDaveHello commented on #4461
Yeah ... we'll move the real files to another repo in future.

[2015-03-19 15:52] IonicaBizau commented on #4463
:+1:

I managed to find out the `filename` thing when I read the test files (tests were failing).

[2015-03-19 15:53] IonicaBizau commented on #4461
The thing is that this repository will be still big (because of the git history). The good thing is that you can rewrite the git history, the bad thing is that the old commit links will be broken or so.

[2015-03-19 16:01] PeterDaveHello commented on #4461
Maybe put them out of the repo, I don't have time to figure it out yet.

[2015-03-19 16:01] PeterDaveHello commented on #4461
But any suggestions are welcome.

[2015-03-19 16:35] pushkeryadav commented on #4453
curl is not showing cookie sent by domain.

if you want to see , just simple check in browser, in chrome enter
*chrome://settings/cookies*
*i*n tab and search for cdnjs.com you will see.

[image: Inline image 1]

On Thu, Mar 19, 2015 at 3:01 AM, Terin Stock <notifications@github.com>
wrote:

[2015-03-19 18:10] terinjokes commented on #4453
I only have cookies for cdnjs.com, I don't have cookies for cdnjs.cloudflare.com.

[2015-03-20 03:40] pushkeryadav commented on #4453
if you request this jquery for example
http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js

than you will get a cookie name __cfduid for domain .cloudflare.com

so I am requesting a js file which is static so why need cookie.

On Thu, Mar 19, 2015 at 11:40 PM, Terin Stock <notifications@github.com>
wrote:

[2015-03-20 05:39] terinjokes commented on #4453
https://www.dropbox.com/s/8ndnvuf9ekc8dis/Screenshot%202015-03-19%2022.38.15.png?dl=0

[2015-03-21 07:28] PeterDaveHello commented on #4463
I think README told about this:

https://github.com/cdnjs/cdnjs#create-or-update-packagejson

Any way, I did something in 42eaf1647587d1f612a0a2889fd6bebbfc6a83be, I think this may help, what do you think guys?

[2015-03-21 16:45] rylinaux commented on #4452
@terinjokes
Are you able to resolve this issue?

[2015-03-21 23:09] knalli commented on #2906
fyi: all 8 modules of angular-translate are available now without the _bower_-prefix on cdnjs.com. Each of them autoupdates against the dedicated bower-* repositories of us.

I think we can close this here.

[2015-03-22 09:12] IonicaBizau opened #4471 "Is it a requirement to add the old versions?"
What happens if I don't add the older versions of a library? Will they be automatically fetched or just ignored?

/cc @PeterDaveHello

[2015-03-22 12:05] PeterDaveHello commented on #4471
You don't need to add them, I'll pick them via auto-updater.

[2015-03-22 12:06] IonicaBizau commented on #4471
Cool! Is that implemented already?

[2015-03-22 12:27] PeterDaveHello commented on #4471
Yes.

[2015-03-22 12:30] IonicaBizau commented on #4471
Awesome! :+1:
I'm working on a tool to simplify adding libraries in cdnjs. /cc #4461

[2015-03-22 12:30] #4471 closed

[2015-03-22 13:06] PeterDaveHello commented on #4471
Oh, sweet!

[2015-03-22 17:54] IonicaBizau commented on #4461
I created this tiny command line tool to automatize this process: https://github.com/IonicaBizau/cdnjs-importer

The usage is so simple:

[code]

Hope you enjoy using it! :smile:

[2015-03-22 18:03] PeterDaveHello commented on #4461
Okay I'll take a look at it, thanks.

[2015-03-23 15:59] PeterDaveHello commented on #3713
Reference, may help, may not.
https://git-annex.branchable.com/

[2015-03-24 08:39] PeterDaveHello commented on #4461
Looks cool, how to set the file set instead of grab all the files into cdnjs? Thanks :dancer:

[2015-03-24 08:43] IonicaBizau commented on #4461
@PeterDaveHello What's the use case?
Currently the command line script is pretty limited, but you can use it as module:

[code]

Something like this? If you find any limitation, please kindly open issues. :smile:

[2015-03-24 08:53] PeterDaveHello commented on #4461
Yeah, I meant in command line, seems this is a cool project, ha :+1:

[2015-03-24 08:54] IonicaBizau commented on #4461
@PeterDaveHello Yep, you can extend the bin script. I'd be happy to accept contributions. :smile:

[2015-03-25 04:09] misol commented on #3395
until now.. KT(1st ISP in Republic of Korea) route some traffics to LAX.

[2015-03-25 04:17] kiding commented on #3395
I guess no one cares about this anymore, but the problem is not resolved yet.

[code]

[2015-03-25 16:18] PeterDaveHello opened #4487 "[bug]npm auto-update can not pick every versions properly at once"
Need to run the auto-update process for many times to pick all the versions

[2015-03-25 22:33] Ryuno-Ki commented on #4463
@PeterDaveHello I miss the structure, the scripts expect to be there.
Strings, Arrays and so on. Wherefore is it used?
(By comparing and digging into the CI script I could figure it out …)

[2015-03-26 06:39] PeterDaveHello commented on #4463
Sorry that I didn't get your point, what does `Wherefore is it used?` mean here?

[2015-03-26 15:55] Ryuno-Ki commented on #4463
At which point, the values are consumed to accomplish which task?

[2015-03-26 15:57] IonicaBizau commented on #4463
@Ryuno-Ki Look in the [auto-update.js script](https://github.com/cdnjs/cdnjs/blob/master/auto-update.js).

[2015-03-27 17:17] AndreiTelteu commented on #4430
This was updated at #4500 and the new version is found here:
https://cdnjs.cloudflare.com/ajax/libs/hover.css/2.0.2/css/hover.css
You may close this.

[2015-03-28 07:13] PeterDaveHello commented on #4430
@Dinasty0 ?

[2015-03-29 01:31] fatso83 opened #4506 "API returning old results"
[code]
It shows react version 0.12.2 as the latest version, yet you are providing 0.13.1 on the CDN.

This might be related to the downtime in #4447 ?

[2015-03-29 08:25] PeterDaveHello commented on #4506
Thanks, I'll take a look at it.

[2015-03-29 08:46] PeterDaveHello commented on #4506
@ryankirkman @thomasdavis @drewfreyling
Is this because the out-date repo @cdnjs/website ?

[2015-03-29 14:18] thomasdavis commented on #4506
Yeah @ryankirkman did you set up the github auto deploy for api?

[2015-03-29 14:21] PeterDaveHello commented on #4506
@thomasdavis I think we should use the same repo as new-website.

[2015-03-29 14:23] thomasdavis commented on #4506
makes sense. probably have to commit the Procfile and server js files.

[2015-04-02 03:46] 9mm opened #4513 "Algolia indexing needs tweaked on CDNJS.com"
I just implemented Algolia on my own site, and I love it!

That's unrelated to the problem I saw, however, which is that you have some things coming up as undefined.

![cdnjs_com_-_the_missing_cdn_for_javascript_and_css](https://cloud.githubusercontent.com/assets/1386207/6957464/4585feb2-d8c9-11e4-9e25-e73d5c368021.png)

[2015-04-02 06:48] PeterDaveHello commented on #4513
Thanks, let's see if this will work : 5aa38e1, if so, I think we should make it support `repository` field.

[2015-04-02 14:56] D144 opened #4515 "bootstrap-table 1.7 is actually the 1.6 files"
bootstrap-table latest version is 1.7.0, but the actual files in https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.7.0/ are the 1.6.0 versions

[2015-04-03 07:32] IonicaBizau commented on #4461
@PeterDaveHello Can I make a PR with how to to use this little CLI app?

[2015-04-03 08:00] PeterDaveHello commented on #4461
Sure please.

[2015-04-03 08:39] IonicaBizau commented on #4461
@PeterDaveHello Thanks! See #4522.

[2015-04-03 09:33] PeterDaveHello commented on #4461
:+1:

[2015-04-04 09:28] PeterDaveHello commented on #4515
I think you should open issue here:
https://github.com/wenzhixin/bootstrap-table/
As you can see, that's not our issue.
https://github.com/wenzhixin/bootstrap-table/blob/1.7.0/dist/bootstrap-table.min.js

[2015-04-04 11:32] SoftCreatR opened #4527 "[Request]Add strapdown"
See https://github.com/arturadib/strapdown

[2015-04-04 14:54] NameFILIP opened #4528 "New version of lodash (3.6.0) is not available"
See https://github.com/lodash/lodash/issues/1107

[2015-04-04 16:31] #4528 closed

[2015-04-05 14:29] NameFILIP commented on #4528
Looks very simple. Do you simply have to clone the repo and run `npm update lodash`? It's not very clear from the readme...

[2015-04-05 15:14] PeterDaveHello commented on #4528
Nope, usually you won't need to run the updater, so there is no document for it. And we use git auto-update here not npm. I replied the reason why not update lodash but was deleted by the author, seems he'll like to use force push to overwrite the repo, which will cause `git pull` not work, I just use `git fetch` to update the local repo to prevent this problem now.

[2015-04-05 16:00] PeterDaveHello commented on #4513
Hmmmm ... not work at all ...

[2015-04-06 01:04] dandv opened #4533 "Request to add the Baidu maps API"
Not sure if the Great Firewall of China is to blame, but from my Californian ISP, downloading the Baidu Maps API js file stalls or takes MINUTES:

![image](https://cloud.githubusercontent.com/assets/33569/6999388/097d8c3a-dbbe-11e4-966d-506f0466775e.png)

Their demo site most of the time fails to launch the map - http://developer.baidu.com/map/jsdemo.htm (but it may succeed if you let it load for

[2015-04-06 01:07] abdelouahabb opened #4534 "Semantic UI RTL Version missing."
Hi, first thank you for what you are doing,
the build of SUI misses the RTL (right to left) version https://github.com/cdnjs/cdnjs/tree/master/ajax/libs/semantic-ui/1.11.6 and if I try to make the pull request, I need to download all the repo, and I dont have a good connection speed, and sadly GitHub will not allow me to just upload the missing files, and editing them one is not a good solution, s

[2015-04-07 06:08] PeterDaveHello commented on #4513
@thomasdavis : Would you please also take a look at this issue? thanks!

[2015-04-08 16:28] qrohlf opened #4538 "Trianglify not auto-updating [author]"
Hi!

I released v0.2.0 of [Trianglify](https://github.com/qrohlf/trianglify) a few days ago and the auto-update functionality doesn't seem to be working on CDNJS.

I'm not entirely sure what's going wrong, the only material change to package.json is [this commit](https://github.com/qrohlf/trianglify/commit/4dd5f71e43e6693daaa0cb15ba14a33c6200c5d0), and I believe that is still the correct syntax fo

[2015-04-08 18:43] gerry3 opened #4539 "ember.js and ember-data.js are missing files"
For ember.js (e.g. 1.11.1), cdnjs includes

• ember.js
• ember.min.js
• ember.prod.js

However, [ember.js 1.9.0 included renaming release files](http://emberjs.com/blog/2014/12/08/ember-1-9-0-released.html#toc_renaming-release-files) and `ember.js` was deprecated in favor of `ember.debug.js`.

I would think any ember.js version 1.9.0 and after ought to include the `ember.debug.js` file and future

[2015-04-09 06:10] PeterDaveHello commented on #4538
Correct syntax, but wrong path, I'll fix it now.

[2015-04-09 07:02] #4538 closed

[2015-04-09 13:26] PeterDaveHello commented on #4539
Oh, thanks, I'll fix it.

[2015-04-09 14:22] altmind opened #4542 "[jquery-validate] Why package.json contains some info about local cdnjs machine?"
See https://github.com/cdnjs/cdnjs/blame/master/ajax/libs/jquery-validate/package.json#L15

[2015-04-09 15:13] qrohlf commented on #4538
15a82fa24167e083a041e2384642c28051c12bdc is problematic because the unminified source needs to be processed with a module bundler like Browserify to function.

I decided in v0.2.0 to only support minified bundled builds. Just submitted #4543 to remove the unminified source file.

[2015-04-09 15:33] PeterDaveHello commented on #4538
okay

[2015-04-09 16:25] PeterDaveHello commented on #4542
Hi @altmind, thanks for reporting, sorry about that, I'm too tired today, so I pushed a local branch to master, fixed now.

[2015-04-09 16:25] #4542 closed

[2015-04-09 16:43] PeterDaveHello commented on #4539
Fixed in those commits below, thanks.
* cab302d add missing ember.debug.js in ember.js v1.11.x Peter Dave Hello 59 seconds ago
* 284731c update git auto-update config of ember-data.js Peter Dave Hello 3 hours ago
* 216c462 update git auto-update of ember.js Peter Dave Hello 3 hours ago
* c202400 update ember-data.js Peter Dave Hello 3 hours ago
* db756d3 add ember-data.js.map in ember-data.js Pete

[2015-04-09 16:43] #4539 closed

[2015-04-09 18:53] PeterDaveHello commented on #4533
hmmmm ... @dandv, do you agree the reason why jsdelivr didn't serve it? I think we may have the same situation.

What about sending an email to baidu to confirm this issue and let them send a PR to us?

Thanks

[2015-04-09 22:55] dandv commented on #4533
@PeterDaveHello: I've just sent this to dev_support AT baidu.com

[2015-04-09 23:17] PeterDaveHello commented on #4533
:+1:

[2015-04-11 03:40] jimzhan opened #4547 "No 'Access-Control-Allow-Origin' header is present on materialize"
I'm getting these on my Chrome console when using materialize CSS:

[code]

[2015-04-11 10:03] PeterDaveHello commented on #4547
cc @terinjokes

[2015-04-11 11:22] kiding commented on #3395
Finally we're seeing ICN from [cdnjs.com trace](http://cdnjs.com/cdn-cgi/trace). [My homepage](http://kiding.net/cdn-cgi/trace) still goes to LAX though.

I'd like to ask what kind of CloudFlare plan cdnjs uses. I have a theory that ICN only responds to domains with paid plans.

[2015-04-11 12:25] ryush00 commented on #3395
They fix the problem when only we complain it.

[2015-04-11 12:41] PeterDaveHello commented on #3395
@terinjokes Would you please help us answer @kiding ? Thanks

[2015-04-11 20:05] ryankirkman commented on #3395
Cdnjs has a special arrangement with Cloudflare. We certainly don't have a
free plan, if that answers your question.

On Sat, Apr 11, 2015 at 5:41 AM Peter Dave Hello <notifications@github.com>
wrote:

[2015-04-12 03:07] kiding commented on #3395
Thanks for answering. Can I assume the special arrangement has been going on for a long while? If so, CloudFlare might be _increasing their capacity_ selectively by plans (which is understandable), but they're doing it very very slowly over the course of years, without any proper notice to customers, even to paid plans.

I guess the issue is resolved - at least for cdnjs for the time being. We don

[2015-04-12 17:37] juansev opened #4553 "Add ember-template-compiler.js"
Please add to the CDN the dynamic template compiling tool for EmberJS.
They offer links but they are only HTTP and it would be nice to have both EmberJS core and the utililty in the same CDN in HTTPS

In this page you can find the download, latest stable version is 1.11.1
http://emberjs.com/builds/#/tagged

[2015-04-12 18:45] PeterDaveHello commented on #4553
Done in 190d6b0

[2015-04-12 18:45] #4553 closed

[2015-04-12 20:41] terinjokes commented on #4547
@jimzhan can you tell me which font was being fetched? I thought I had all of them.

[2015-04-12 22:36] terinjokes commented on #3395
@kiding When we open new locations, only certain plans may be announced for a short period of time, but we don't run locations as exclusively paid.

I connected via a VPN to an unrelated network in South Korea and found that I was consistently connecting to Hong Kong for your site. I don't know the interconnection details for that AS, but Hong Kong seemed to be the preferred route for those router

[2015-04-13 01:02] drewfreyling commented on #4452
@PeterDaveHello any idea why 17a7af2b3df80f3bc9c06f1d2c93d58468a4a35c doesn't actually seem to be applied? That commit seemed to minify it....

[2015-04-13 01:11] jimzhan commented on #4547
@terinjokes They r all materialize's assets (Roboto & Icons) [Materialize](https://cdnjs.com/libraries/materialize)

[2015-04-13 02:01] kiding commented on #3395
@terinjokes Thanks for responding. Given that you're referring the issue _specific_, I assume CloudFlare is not recognizing this a generic widespread problem. I could easily find a handful of affected domains just by googling – here are the trace pages of them: [1](https://site5.com/cdn-cgi/trace) [2](https://nex32.net/cdn-cgi/trace) [3](https://speedwebdesigner.com/cdn-cgi/trace) [4](https://june

[2015-04-13 02:34] terinjokes commented on #4547
@PeterDaveHello The woff2 file is referenced in the CSS, but it doesn't exist in the git repo. Can you check the script?

[2015-04-13 03:23] PeterDaveHello commented on #4547
@terinjokes Okay, sorry that I didn't notice that.
@jimzhan Would you please tell me which version you are using? I think you should make sure the files appears on https://cdnjs.com/libraries/materialize.

[2015-04-13 03:38] PeterDaveHello commented on #4547
Added here:
* c48cf74 add angular-busy v4.1.3 Peter Dave Hello 23 seconds ago

@jimzhan Would you please try again later?

[2015-04-13 03:42] jimzhan commented on #4547
@PeterDaveHello its 0.96.1 materializecss, problem remains the same.

[2015-04-13 03:50] PeterDaveHello commented on #4547
Please wait for 30 mins and retry.

[2015-04-13 05:19] terinjokes commented on #4547
It seems fine here now.

[2015-04-13 09:48] PeterDaveHello commented on #4452
I don't know, that's the reason why I need to mention @terinjokes.

[2015-04-14 22:00] kangax opened #4564 "Update Fabric.js to 1.5.0 [author]"
We have released a new version today, but I can't submit a proper PR due to the large size of the repo (I simply don't have extra 4gigs on my machine right now). The minified distribution file is here — https://github.com/kangax/fabric.js/blob/master/dist/fabric.min.js

Thanks!

[2015-04-15 05:54] PeterDaveHello commented on #4564
Okay, I'll take it later.

[2015-04-15 08:09] PeterDaveHello commented on #4564
I think it was already updated:
* 8f96bc0 add fabric.js v1.5.0 Peter Dave Hello 14 hours ago

Please confirm it.

[2015-04-15 11:30] kangax commented on #4564
Yep, all good! Thanks.

[2015-04-15 11:30] #4564 closed

[2015-04-15 17:17] qrohlf opened #4565 "CDNJS defaults to an older version of my library [author]"
https://cdnjs.com/libraries/trianglify defaults to showing links for `v0.1.15` of Trianglify instead of the latest `v0.2.x` version. Any idea why this happens?

[2015-04-15 17:53] PeterDaveHello commented on #4565
Thanks.

[2015-04-15 17:55] #4565 closed

[2015-04-16 05:57] back-2-95 opened #4566 "Request to update bootbox.js"
Hello,

There is newer version of Bootbox (4.4.0) and I would like to see it updated to cdnjs.

Bootbox is here:
https://github.com/makeusabrew/bootbox/releases/tag/v4.4.0

[2015-04-16 06:16] PeterDaveHello commented on #4515
Are you still there? I may close this issue due to no response here.

[2015-04-16 06:17] PeterDaveHello commented on #4527
There is no any identified version number so that I can not add it, maybe you can open an issue ticket there?

[2015-04-16 06:19] PeterDaveHello commented on #4506
Any schedule for it @thomasdavis ?

[2015-04-16 06:19] PeterDaveHello commented on #4430
Close due to no response.

[2015-04-16 06:19] #4430 closed

[2015-04-16 06:43] PeterDaveHello commented on #4426
* 8819c90 Add chosen v1.4.1 Gereon 4 weeks ago

[2015-04-16 06:43] #4426 closed

[2015-04-16 06:45] PeterDaveHello commented on #4181
Close due to no response, and you are welcome to open an issue or PR any time.

[2015-04-16 06:45] #4181 closed

[2015-04-16 07:21] #4376 closed

[2015-04-16 07:21] #4378 closed

[2015-04-16 07:21] #4382 closed

[2015-04-16 07:21] #4534 closed

[2015-04-16 07:21] #4566 closed

[2015-04-16 08:01] #4414 closed

[2015-04-16 10:24] PeterDaveHello commented on #4506
I deployed it, it's updated now.

[2015-04-16 10:24] #4506 closed

[2015-04-16 12:57] abdelouahabb commented on #4534
ah! wonderful! thank you ^_^

[2015-04-16 12:58] PeterDaveHello commented on #4534
np

[2015-04-16 13:19] abdelouahabb commented on #4534
:+1:

[2015-04-16 16:01] PeterDaveHello opened #4567 "Week security configuration."
Thanks for report from @celsoazevedo, @terinjokes would you please help us fix it? Thanks!
![img](https://i.imgur.com/j9HLyrv.png)

[2015-04-16 16:01] PeterDaveHello commented on #4567
cc @thomasdavis @ryankirkman

[2015-04-16 17:26] terinjokes commented on #4567
I'm already on it.

[2015-04-16 17:37] PeterDaveHello commented on #4567
Thanks @terinjokes!

[2015-04-17 14:02] jdalton opened #4568 "invalid lodash v3.7.0."
I had forgotten the automation was changed to look to bower and tagged a release in that branch before being finished. I noticed the [copy on cdnjs](https://cdnjs.com/libraries/lodash.js) does not have a fix that the official 3.7.0 has.

[2015-04-17 14:27] PeterDaveHello commented on #4568
Also the lodash-compat?

[2015-04-17 15:14] jdalton commented on #4568
lodash-compat seemed ok.

[2015-04-17 15:16] PeterDaveHello commented on #4568
Would you like to send a PR to update it or let me do it?

[2015-04-17 15:17] jdalton commented on #4568
If you've got it handy I'll defer to you.

[2015-04-17 15:21] PeterDaveHello commented on #4568
I can do it, but you have to wait for about 1 hour, I'm outside now.

[2015-04-17 16:08] PeterDaveHello commented on #4568
Hey @jdalton, I re-download from the url on https://lodash.com/, but there is no difference.

[2015-04-17 16:13] jdalton commented on #4568
Ah fixed!

[2015-04-17 16:23] PeterDaveHello commented on #4568
Fixed now, but

[2015-04-17 16:23] #4568 closed

[2015-04-19 19:03] ansman opened #4570 "[author] Validate.js is not auto updating"
I published version 0.7.1 3 days ago and it still hasn't been updated on cdnjs, is something broken perhaps?

[2015-04-20 07:22] PeterDaveHello commented on #4570
npm auto-update is not reliable sometime, I just transfer this lib to use git auto-update and update it in these two commits:

* 8ca9224 transfer validate.js to use git auto-update Peter Dave Hello 10 minutes ago
* 9a2162d add validate.js v0.7.1 Peter Dave Hello 12 minutes ag

[2015-04-20 07:22] #4570 closed

[2015-04-20 07:26] ansman commented on #4570
Thanks!

[2015-04-22 13:59] nitinsurana opened #4574 "copy doesn't copy the library url to clipboard in firefox"
Steps to reproduce :

1. Open firefox
2. Browse to cdnjs.com
3. Click copy against any library
4. Try to paste, notice the URL can't be pasted because it's not copied to the clipboard.

Works fine in chrome though.

[2015-04-22 14:41] nitinsurana commented on #4574
It is related to Flash. After installing Flash, "copy" is working fine. May be we can show the user a messgae in case flash is not installed.

[2015-04-23 00:51] drewfreyling commented on #4574
I'm thinking we can hide the copy button all together when flash is installed. We use zeroclipboard to achieve this function. Maybe we can only show the copy button if we get the `ready` event back from zeroclipboard. Feel free to add a PR for this!

[2015-04-23 15:49] noahcooper commented on #3638
Hey there,

What's the latest on the frequency of autoupdates? I published a new release at https://github.com/noahcooper/luminateExtend/releases, but it hasn't shown up on cdnjs yet.

Thanks!

-Noah

[2015-04-23 15:59] PeterDaveHello commented on #3638
https://github.com/cdnjs/cdnjs#enabling-npm-auto-update

[2015-04-23 16:02] noahcooper commented on #3638
@PeterDaveHello does that apply to both npm autoupdates as well as autoupdates using git tabs?

[2015-04-23 16:06] PeterDaveHello commented on #3638
Yes, all the auto-updates, if you are really in hurry, you can send a PR.

[2015-04-23 16:07] noahcooper commented on #3638
No hurry, just wanted to make sure my updates to package.json to add autoupdate worked correctly.

Thanks!

[2015-04-23 16:13] PeterDaveHello commented on #3638
@noahcooper Okay, I can audit all the updates right now, I'll do it soon when I wake up, thanks!

[2015-04-23 17:16] PeterDaveHello commented on #3638
@noahcooper, updated in d148e87

[2015-04-25 22:04] yyx990803 opened #4580 "Vue.js' latest version is not auto-updated from npm"
As the title says... the latest version (0.11.8) was released 4 days ago but the version on cdnjs is still 0.11.5 from 3 months ago.

[2015-04-26 00:01] jcoffland commented on #4580
+1

[2015-04-26 06:02] PeterDaveHello commented on #4580
Sorry about that, I transferred it to use git auto-update now, more reliable updater, I think it'll not be missed any more!

* ed079b5 add vue v0.11.6~0.11.8 Peter Dave Hello 4 minutes ago
* 200f45e transfer vue to use git auto-update Peter Dave Hello 5 minutes ago

[2015-04-26 17:46] yyx990803 commented on #4580
:+1: Thanks!

[2015-04-26 17:46] #4580 closed

[2015-04-27 07:56] francisbrito commented on #3317
:+1: Would love loading Custom Elements from cdnjs

[2015-04-27 18:24] binki opened #4590 "http://cdnjs.com/packages.json down"
ohnobinki@ohnopublishing /tmp $ http_proxy= wget --server-response http://cdnjs.com/packages.json
    --2015-04-27 18:20:53--  http://cdnjs.com/packages.json
    Resolving cdnjs.com... 2400:cb00:2048:1::a29f:f829, 2400:cb00:2048:1::a29f:f729, 162.159.247.41, ...
    Connecting to cdnjs.com|2400:cb00:2048:1::a29f:f829|:80... connected.
    HTTP request sent, awaiting response...
      HTTP/1.1 404

[2015-04-27 18:52] PeterDaveHello commented on #4590
Sorry about that, I'm going to fix it now.

[2015-04-27 19:04] PeterDaveHello commented on #4590
I made a mistake here : https://github.com/cdnjs/new-website/commit/adb81437946d66aa7ab348ac46da6c2798a916c9 and fixed it in https://github.com/cdnjs/new-website/commit/13d46b8411d098919b63d7152fdbc6c3f2e6e142, please confirm it had been fixed, thanks.

[2015-04-27 21:45] #4574 closed

[2015-04-27 21:48] PeterDaveHello commented on #4574
@nitinsurana would you please confirm that if you still have this problem?

[2015-04-27 22:24] binki commented on #4590
That fixes it. Thanks!

[2015-04-27 22:24] #4590 closed

[2015-04-27 22:30] PeterDaveHello commented on #4590
np

[2015-04-27 22:41] pieroxy opened #4591 "The cdnjs git repo is unmanageable"
I know it's been raised before, but I need to state it right now: CDNJS is a great idea. It's a very, very (as in VERY) poor and unmaintainable implementation.

The GIT repo is 11GB, it is impossible to clone, rebase, fetch, pull, push or anything else in a comfortable way and as such, it is impossible to work with.

This great idea needed an implementation that scale. Git is not it. Not at all. N

[2015-04-27 22:47] PeterDaveHello commented on #4096
I added something here:
https://github.com/cdnjs/cdnjs/blob/master/README.md#enabling-gitrecommended-or-npm-auto-update
What do you think?

[2015-04-27 22:48] thomasdavis commented on #4591
So we are thinking of moving the files out and maintaining the package.jsons only in this repo. But worried that it will be harder to maintain a true sync between the repo and the cdn. Need a bright idea...

[2015-04-27 22:49] PeterDaveHello commented on #4591
Duplicated with #3941, let's discuss there.

[2015-04-27 22:49] #4591 closed

[2015-04-27 22:50] PeterDaveHello commented on #3941
BTW, the size of .git behind this repo is currently about 647MB.

[2015-04-27 22:52] PeterDaveHello commented on #4567
Looks good now.

[2015-04-27 22:52] #4567 closed

[2015-04-27 22:55] pieroxy commented on #3941
Do you have an ETA on an alternative way to handle adding/updating of libraries? This repo is close to the implosion where the process is too cumbersome and people will just not submit their lib to it (not only my impression) so I feel something very fast is needed.

[2015-04-27 22:57] PeterDaveHello commented on #3941
No ETA yet, we don't have enough human resource and idea to handle that, I tried [git-lfs](https://git-lfs.github.com) and realized that its overhead is too high, we need help on this issue.

[2015-04-27 22:59] PeterDaveHello commented on #3713
Lets' just discuss in #3941, thanks!

[2015-04-27 22:59] #3713 closed

[2015-04-27 23:00] thomasdavis commented on #3941
We will seemingly just have to manage a normal static directory on a master server somewhere. We can back it up with rsync everytime we update it to emulate version control.

[2015-04-28 01:54] PeterDaveHello commented on #3941
ref:
[Facebook hit git performance issue on large repository](https://news.ycombinator.com/item?id=3548824)

[2015-04-28 15:12] pieroxy commented on #3941
I don't think the GIT way is going to scale any further for this purpose (nor will GitHub). What I feel is needed is a small UI where people can upload their lib to. With a simple form that gets the https URL of the GitHub repo, the package.json in the repo should do the rest.

Eventually, you could maintain that in a git repo that would contain txt files (one per lib) and the file would contain t

[2015-04-28 20:42] PeterDaveHello opened #4594 "[Help wanted] Documentation on Wikipedia"
We need guys who are familiar with Wikipedia to help us finish and submit the page, thanks!
https://en.wikipedia.org/wiki/Draft:Cdnjs

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/12416107-help-wanted-documentation-on-wikipedia?utm_campaign=plugin&utm_content=tracker%2F32893&utm_medium=issues&utm_source=github)** We accept bountie

[2015-04-28 22:35] brandonros opened #4595 "Update intro.js from 0.6 to 1.0"
http://usablica.github.io/intro.js/

[2015-04-28 22:36] brandonros commented on #4595
For some reason, 0.6.0 shows as the default.

[2015-04-28 22:36] #4595 closed

[2015-04-29 18:54] ryankirkman commented on #3941
We're on the waiting list for [Git Large FIle Storage](https://git-lfs.github.com/) for cdnjs so hopefully that sorts our storage problem out :)

[2015-04-29 18:54] ryankirkman commented on #3941
We're on the waiting list for [Git Large FIle Storage](https://git-lfs.github.com/) for cdnjs so hopefully that sorts our storage problem out :)

/cc @PeterDaveHello @thomasdavis

[2015-04-29 18:56] ryankirkman commented on #3941
@kumarharsh FYI you can use [git sparse checkout](http://briancoyner.github.io/blog/2013/06/05/git-sparse-checkout/) to only work on the part of the repo you care about. It should help reduce the repo size.

[2015-04-29 22:56] pieroxy commented on #3941
@ryankirkman: Git large file storage is about handling large files, not a large number of files. It will not help one bit here. Git sparse checkout, while helping a bit, is not going to scale either.

What you are looking for here is a way to store a HUGE amount of small files. Git is not the answer for this. I've been working in related fields for more than 20 years now and I'll probably stop fol

[2015-04-30 04:52] PeterDaveHello commented on #3941
@ryankirkman git-lfs won't help, I already tried, the waiting list is for access git-lfs on GitHub, but we can use it with other implement, and I tried, the overhead is too high, it's not designed for small files, and it won't fix our problem.

[2015-04-30 05:02] PeterDaveHello commented on #3941
@pieroxy thank you for your advice, I know that git-lfs won't help, and still finding a solution.

[2015-04-30 14:21] IonicaBizau opened #4598 "Update the versions after publishing the new version"
It would be nice to update the version on CDNJS right after doing `npm publish`.

I'm not sure, but there should be way to *listen* when a new version is published (something like GitHub hooks).

If that's not possible, maybe you can implement a button to check for updates.

[2015-04-30 16:46] nikolay opened #4599 "Support SRI (Subresource Integrity)"
You CloudFlare just had [an article](https://blog.cloudflare.com/an-introduction-to-javascript-based-ddos/) regarding SRI, so, you should start publishing the `integrity` value for each.

[2015-05-01 00:04] legoktm commented on #4594
Please read the [conflict of interest](https://en.wikipedia.org/wiki/Wikipedia:Plain_and_simple_conflict_of_interest_guide) guide before contributing to Wikipedia if you're affiliated with cdnjs.

[2015-05-01 01:34] Subhojit1992 commented on #755
In fonts folder please upload the following files

**------------------ Important glyphicons files----------------**

Please upload the following files and after that you link your font-awesome.min.css in your header file.

Here is the following link with proper files:
http://goo.gl/WICQAf

[2015-05-01 05:28] PeterDaveHello commented on #4599
cc @terinjokes

[2015-05-01 05:29] PeterDaveHello commented on #4598
We already have rss, I don't think this is needed, cc @thomasdavis @ryankirkman @drewfreyling for comments

[2015-05-01 06:27] ryankirkman commented on #4598
@IonicaBizau Would the RSS feed suit your needs?

Interested in your use case :)

[2015-05-01 06:32] IonicaBizau commented on #4598
The use case is:

 1. I'm releasing a new version of the `foo` library.
 2. Before publishing on NPM, I update the CDN url (actually the version) in the readme file.
 3. After publishing, the url is still a 404 error, until the version is updated in CDNJS.

It would be nice that right after publishing, to update the version on CDNJS.

[2015-05-01 07:36] PeterDaveHello commented on #4598
But we not make sure the next update will contain your lib, rss can.

[2015-05-01 07:37] IonicaBizau commented on #4598
@PeterDaveHello So, will you find a solution for this case?

[2015-05-01 07:38] PeterDaveHello commented on #4598
So what you need is to confirm that cdnjs now serving a new version of a lib?

[2015-05-01 07:40] IonicaBizau commented on #4598
@PeterDaveHello No, I want the feature that after the moment of `npm publish` the cdnjs update script to run for that library (so, it will update the version).

[2015-05-01 07:42] PeterDaveHello commented on #4598
Oh, seems I misunderstood, so you want to trigger our updater?

[2015-05-01 07:42] IonicaBizau commented on #4598
@PeterDaveHello Exactly! I'm not sure how it runs but I guess it's a cron job or so.

[2015-05-01 07:46] PeterDaveHello commented on #4598
But even if we support this feature, we still need to audit each new versions, and then it'll be committed, so it won't be on the list faster, as readme document said, many libs change their structure in the new versions, even they don't they may not provide the minified files, and this process can not be automatically, because there is no **standard** for the naming style, each lib will use the s

[2015-05-01 18:02] nicolaskruchten opened #4600 "[author] pivottable v1.4.0"
Hello,

I'm sorry if this is not the appropriate forum for this, but I've recently (yesterday) pushed version 1.4.0 of PivotTable.js (https://github.com/nicolaskruchten/pivottable) which is registered under cdnjs as "pivottable" and I'm not sure what the process is now to get that new version to appear under cdnjs... Do I need to do something to make it automatic, or send a pull request or...?

An

[2015-05-01 18:11] Krinkle opened #4601 "Add jQuery 1.11.3 and 2.1.4 (latest)"
http://blog.jquery.com/2015/04/28/jquery-1-11-3-and-2-1-4-released-ios-fail-safe-edition/

https://github.com/jquery/jquery/tree/1.11.3/dist
https://github.com/jquery/jquery/tree/2.1.4/dist

https://www.npmjs.com/package/jquery

[2015-05-01 18:12] PeterDaveHello commented on #4600
Thanks for reporting, cc #4487, transfer to use git auto-update now.

[2015-05-01 18:17] PeterDaveHello commented on #4487
Hey @thomasdavis, do you have time to take a look at this issue, I think you are the person who is most familiar with our auto-updater, thanks.

[2015-05-01 18:24] #4600 closed

[2015-05-01 18:25] PeterDaveHello commented on #4601
Already added in this commit:
* 25b205f add jquery v1.11.3/2.1.4 Peter Dave Hello 26 minutes ago

[2015-05-01 18:25] #4601 closed

[2015-05-01 18:25] PeterDaveHello commented on #4601
Will need about 15 mins.

[2015-05-02 01:57] nicolaskruchten commented on #4600
Thanks very much!

[2015-05-02 05:05] PeterDaveHello commented on #4600
np

[2015-05-03 06:55] PeterDaveHello opened #4605 "[Help wanted] We need donation to make cdnjs better."
Dear all,

As you know we are opensource project and provide service for free, only depends on our sponsors like Cloudflare and Algolia, and now we think we'll need some donation so that we can make the service even better, here are some important reason that why we need donation:
1. There are many issues need to be fixed but we don't have enough human resource to make it done, it'll be good if we

[2015-05-03 06:56] PeterDaveHello commented on #4605
cc @thomasdavis

[2015-05-03 07:57] PeterDaveHello commented on #3650
See https://github.com/cdnjs/cdnjs/blob/master/sparseCheckout.md, will help.

[2015-05-03 08:13] PeterDaveHello commented on #3792
https://github.com/cdnjs/cdnjs/blob/master/sparseCheckout.md This will help

[2015-05-03 08:14] PeterDaveHello commented on #4515
Close due to no update.

[2015-05-03 08:14] #4515 closed

[2015-05-03 08:14] PeterDaveHello commented on #4447
Already fixed for many days.

[2015-05-03 08:14] #4447 closed

[2015-05-04 14:00] kumarharsh commented on #3941
@pieroxy I agree with everything you said there. There is really no way the current system is going to scale at all.

[2015-05-04 14:11] PeterDaveHello commented on #3941
BTW, I wrote the steps to use sparse checkout + shallow/clone(pull) as workaround until we fix this issue.
One of the methods will be a web interface for contributors to update the file and lib and then we all do the works behind our sever, but still commit as the contributor.

[2015-05-04 15:12] bumblebeeman opened #4608 "Angular File Upload library out of date"
https://cdnjs.com/libraries/angular-file-upload

The most recent version is 1.1.5 - https://github.com/nervgh/angular-file-upload/releases

[2015-05-04 16:35] #4608 closed

[2015-05-04 17:29] bumblebeeman commented on #4608
Awesome thanks!

[2015-05-04 19:47] andrewspear opened #4610 "Overwriding Google Analytics Code"
When I install a script from `cdnjs.cloudflare.com`, three cookies are created among the others which our site creates itself:

![cf](https://cloud.githubusercontent.com/assets/1787336/7460744/fbbc4c44-f26a-11e4-8a9c-b42010626e3e.jpg)

If I host the JS file on my own server these three cookies don't appear.  Note that one is called `_ga` (Google Analytics), this `_ga` ID is causing conflicts with

[2015-05-05 03:21] sriharisahu opened #4613 "[new] bootstrap-slider"
Hi! I would like to add the bootstrap-slider project from https://github.com/seiyria/bootstrap-slider to the cdnjs repo. Requesting the community to let me know if there are any issues if I add this new library.

[2015-05-05 05:01] PeterDaveHello commented on #4613
Just submit a pull request and we'll audit it :+1:

[2015-05-05 05:03] PeterDaveHello commented on #4610
cc @thomasdavis @terinjokes @ryankirkman

[2015-05-05 16:13] terinjokes commented on #4610
@andrewspear cdnjs.cloudflare.com does not have Google Analytics, nor does the server send any cookies when accessing a file.

Have you been to any other CloudFlare property recently? I have Google Analytics restricted everywhere I know about, but possible I've missed one.

[2015-05-05 18:47] andrewspear commented on #4610
I don't think the issue is related to my local machine, the issue was actually spotted by a colleague in Bangladesh and we could reproduce it in the USA and New Zealand offices.  Using a link to the `cdnjs.cloudflare.com` version of `jquery.tools.min.js` made the cookies appear, a moment later we link to a locally hosted version of the exact same file and they go away.  There are no other CloudFla

[2015-05-05 21:47] drewfreyling commented on #4610
@andrewspear There are no cookies in the response if you open an incognito window and navigate to https://cdnjs.cloudflare.com/ajax/libs/jquery-tools/1.2.7/jquery.tools.min.js. I think you have your information wrong here.

[2015-05-06 15:33] cjmaxik commented on #4452
5.5.2 too

[2015-05-06 21:31] sahanDissanayake opened #4617 "https://github.com/benjamine/jsondiffpatch"
https://github.com/benjamine/jsondiffpatch

This is quite cool

[2015-05-07 04:34] PeterDaveHello commented on #4452
hmmmm ... this is totally foundation's problem ...

[2015-05-07 04:41] PeterDaveHello commented on #4452
poke @terinjokes for v5.5.1 issue, it should be really minified!

[2015-05-07 09:13] vakata opened #4619 "npm update hook not working for vakata/jstree@3.1.1"
I have been using the npm update hook for a very long time, but for some reason the latest version of jstree (3.1.1) was not automatically picked up. The release was more than 30 hours ago.

Best regards,
Ivan

[2015-05-07 10:00] PeterDaveHello commented on #4619
* c20ebd1 add jstree v3.1.1 Peter Dave Hello 62 minutes ago

[2015-05-07 10:00] #4619 closed

[2015-05-08 10:06] nouveller opened #4622 "[question] Anyone know how to resolve this git case issue when cloning the repo?"
I'm trying to squash some commits to submit a PR but when I clone my fork of the repo down one file in particular seems to remain "changed" and those changes don't seem to be able to thrown away.

![screen shot 2015-05-08 at 10 55 06](https://cloud.githubusercontent.com/assets/713128/7534402/2db18b7e-f572-11e4-955f-b8011a38c9be.png)

What is this insanity? I've removed my local copy, cloned down a

[2015-05-08 10:29] nouveller commented on #4622
Deleting the offending file gave me this...

![screen shot 2015-05-08 at 11 26 37](https://cloud.githubusercontent.com/assets/713128/7534744/7ce1ff8c-f575-11e4-9d63-bbc7f862f0ad.png)

[2015-05-08 11:27] PeterDaveHello commented on #4622
Try sparse checkout - https://github.com/cdnjs/cdnjs/blob/master/sparseCheckout.md

[2015-05-08 11:27] #4622 closed

[2015-05-08 11:27] PeterDaveHello commented on #4622
ref: #3650

[2015-05-08 12:16] nouveller commented on #4622
@PeterDaveHello Thanks for pointing that out, it may be worth mentioning this method in the `README.md`.

[2015-05-08 15:14] PeterDaveHello commented on #4622
Yeah, will do it, you can also send a PR to add it, it'll be nice!

[2015-05-08 15:25] nouveller commented on #4622
Sure thing! I think I've got my library PR #4623 ready to go, so I'll do that after that. :smile:

[2015-05-09 23:20] FagnerMartinsBrack opened #4627 "[author] Question about the procedure for renamed libraries"
Hi, we recently renamed [jquery-cookie](https://github.com/carhartl/jquery-cookie) to [js-cookie](https://github.com/js-cookie/js-cookie) to remove jquery dependency. We decided not to physically rename the repository and 2 new versions were added in js-cookie releases as a continuation of jquery-cookie development (1.5.0 and 1.5.1, check [here](https://github.com/js-cookie/js-cookie)). To follow

[2015-05-10 05:48] PeterDaveHello commented on #4627
Currently, we don't have the procedure to handle this issue, cc @thomasdavis & @ryankirkman.

[2015-05-11 17:51] Norm- opened #4629 "[Request]angular-foundation"
I think this one is not included.

http://pineconellc.github.io/angular-foundation/

[2015-05-11 17:52] PeterDaveHello commented on #4629
You can send a PR to include it.

[2015-05-13 10:58] nouveller opened #4632 "[author] ready.js removed from site"
I had a PR which was merged a few days ago #4623, the files are still in master (https://github.com/cdnjs/cdnjs/tree/master/ajax/libs/ready.js) but no longer appear on the website. https://cdnjs.com/libraries/ready.js.

I wonder what's going on?

[2015-05-13 11:17] PeterDaveHello commented on #4632
I can see it.

[2015-05-13 11:18] nouveller commented on #4632
Oh, strange. It's just come back. It definitely disappeared for a few hours as I had something monitoring the page. Weird. I'll keep an eye out.

[2015-05-13 11:18] #4632 closed

[2015-05-18 12:05] laukstein commented on #1670
@petecooper, any updates forwarding to this issue?
www.google-analytics.com/ga.js is [outdated and discontinued](https://developers.google.com/analytics/devguides/collection/upgrade/#phase-4).
The only relevant JavaScript file: www.google-analytics.com/analytics.js

[2015-05-18 13:01] PeterDaveHello commented on #1670
cc @thomasdavis @ryankirkman @drewfreyling

[2015-05-18 13:03] thomasdavis commented on #1670
Don't think we will continue serving GA, doesn't really make sense for our setup and probably best in general to use Google's cdn as it is very widely used.

[2015-05-18 21:42] drewfreyling commented on #1670
I agree with @thomasdavis

[2015-05-18 23:32] fletom commented on #4599
+1

[2015-05-19 10:19] Mirodil opened #4650 "Uncaught ReferenceError: UserApp is not defined"
Search library does not working. here is a error from developer console:

[code]

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/15902639-uncaught-referenceerror-userapp-is-not-defined?utm_campaign=plugin&utm_content=tracker%2F32893&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource

[2015-05-19 10:25] thomasdavis commented on #4650
Ops fixing now

[2015-05-19 10:28] thomasdavis commented on #4650
Fixed in commit -> https://github.com/cdnjs/new-website/commit/a16eebbcb4724657f60410d5c8afee4cb5e37b7a

Waiting for deploy

[2015-05-19 11:26] Dervisevic commented on #4650
@thomasdavis Do you think this is the reason the search doesn't work? (at least for me)

[2015-05-19 11:27] thomasdavis commented on #4650
Yep. But sorry just realized deploy didn't work. Deploying manually now...

[2015-05-19 15:17] binki opened #4651 "https://cdnjs.com/ downish?"
https://cdnjs.herokuapp.com/libraries/es6-shim works for me but https://cdnjs.com/libraries/es6-shim doesn’t. ![what I see](http://i.imgur.com/Zp6gZcE.png)

Are heroku and cloudflare fighting each other or something?

[2015-05-19 15:19] binki commented on #4651
More importantly, https://cdnjs.com/packages.json is working fine for me and multiple VPSes of mine in the US, but it also gets this Application Error for a Canadian in Ontario.

[2015-05-19 15:22] PeterDaveHello commented on #4651
hmmmmm ... I have no problem at this moment, but @thomasdavis said that heroku is not stable at this moment.

[2015-05-22 08:18] HolgerJeromin opened #4662 "please add smoothis.js"
I would like to have
https://github.com/joewalnes/smoothie/
in your nice cdn

[2015-05-22 10:22] PeterDaveHello commented on #4487
Ping @thomasdavis

[2015-05-22 13:55] dbeckwith commented on #4613
I've added it in https://github.com/cdnjs/cdnjs/pull/4661

[2015-05-22 15:56] JoshMcCullough opened #4664 "hiw-api package not updated on cdnjs?"
Hi, the package I submitted , `hiw-api`, has [two additional releases on GitHub](https://github.com/HealthIndicators/js-api/releases) which do not appear on cdnjs. Can someone take a look at my [`package.json`](https://github.com/cdnjs/cdnjs/blob/master/ajax/libs/hiw-api/package.json) and let me know if something is configured incorrectly? I was under the impression that cdnjs would automatically

[2015-05-23 05:00] PeterDaveHello commented on #4664
The files in the file map not appear in your repo in each tags.

[2015-05-23 06:41] agwaeten opened #4667 "It would be nice to classify all libraries into categoties !!!"
It would be nice to classify all libraries in your website into categories so that user can filter items easily such as animation,Forms,audio,video,Images ...etc

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/16933310-it-would-be-nice-to-classify-all-libraries-into-categoties?utm_campaign=plugin&utm_content=tracker%2F32893&utm_medi

[2015-05-23 18:50] IonicaBizau commented on #1078
Creating an api service for cdnjs would be nice. Something like:

[code]

Then, we can use this service to fetch the stats in the cdnjs website. :four_leaf_clover:

[2015-05-24 04:41] ghost opened #4670 "XSS available at cdnjs.com library list"
![2015-05-24 12 40 47](https://cloud.githubusercontent.com/assets/781145/7786710/21fdb490-0212-11e5-8383-f45b66f3a596.png)

[2015-05-24 04:42] IonicaBizau commented on #4670
Whoups! :bomb: :fire: Thanks for catch!

[2015-05-24 07:27] PeterDaveHello commented on #1078
Stats from website is easy, but people want the stats from cdn, I remember that cloudflare didn't give us that info or access log.

cc @thomasdavis @ryankirkman @terinjokes

[2015-05-24 07:29] PeterDaveHello commented on #4670
cc @thomasdavis @ryankirkman @drewfreyling

[2015-05-24 18:35] ryankirkman commented on #1078
We can get access to the logs, but the log volume is so large we need to
figure out an aggregation strategy
On Sun, May 24, 2015 at 12:28 AM Peter Dave Hello <notifications@github.com>
wrote:

[2015-05-25 01:49] #4613 closed

[2015-05-25 16:46] IonicaBizau opened #4676 "How to review PRs"
Guidelines for reviewing the PRs. Migrated from https://github.com/cdnjs/cdnjs/pull/4673

[2015-05-25 17:27] PeterDaveHello commented on #4676
We are just going to make sure that PR follows our document.

[2015-05-26 12:33] josdejong commented on #3015
Hi @PeterDaveHello, we've released vis.js v4.0.0 four days ago, but this new release is still missing on cdnjs. Is it still on your list to update, or did it somehow miss the auto update cycle?

[2015-05-26 12:35] thomasdavis commented on #3015
hey @josdejong, Peter has informed me of this issue and we are looking into it. We might do some manual submissions in the meantime.

Sidenote: Just read the old discussion, we ended up using Json editor in and around jsonresume.org =D

[2015-05-26 12:39] josdejong commented on #3015
Ok thanks for letting me know!

Great to hear about jsonresume.org. I should really add support for JSON Schema in the JSON Editor, that will be very useful for these kind of applications.

[2015-05-26 16:50] davidbau commented on #1078
Approximate stats would be nearly as good.  If log volume is a problem, logs could be sampled.

[2015-05-26 16:52] thomasdavis commented on #1078
That is true! Even one day of traffic * 30 would be interesting enough.

[2015-05-26 17:02] binki commented on #4651
Hmm, I can’t get the errors to show up anymore. But it seems like https://cdnjs.herokuapp.com/ and https://cdnjs.com/ might be operating off of different databases (at https://cdnjs.com/libraries/es6-shim/ I see version 0.31.2 and at https://cdnjs.herokuapp.com/libraries/es6-shim/ I see 0.27.1). If anyone cares to respond, is cdnjs.com being backed by cdnjs.herokuapp.com or is cloudflare’s upstrea

[2015-05-26 17:02] #4651 closed

[2015-05-26 17:28] Jakobud commented on #1078
Where are the logs now? Are they accessible in any form? I would think dumping daily logs on some S3 storage would be feasible and then someone could write something that parses them.

[2015-05-26 17:30] IonicaBizau commented on #1078
I would be excited to write a tool to parse the logs! I'm anyway involved in some statistics & visualizations projects, so that would be awesome. :sparkler:

[2015-05-26 18:24] Jakobud commented on #1078
Like I said before, all CDNJS needs to do is make the logs accessible in some form, and someone will step up to write a cool parser to generate usage stats.

[2015-05-27 10:48] PeterDaveHello commented on #1078
We are doing now, the IP address in the log will be sensitive, should be careful.

[2015-05-27 16:27] dbeckwith opened #4678 "update underscore.js?"
I guess I'm a little confused as to how the updating process works. Underscore is currently at [v1.8.3](https://www.npmjs.com/package/underscore), but on CDNJS it's only 1.7.0. Does someone need to change the version number in its package.json or will it auto-update?

[2015-05-27 18:17] dbeckwith commented on #4678
Never mind, I think I was looking at the wrong version.

[2015-05-27 18:17] #4678 closed

[2015-05-28 14:23] JoshMcCullough commented on #4664
Thanks, will submit a PR soon.

[2015-05-28 14:23] #4664 closed

[2015-05-28 15:14] FagnerMartinsBrack commented on #4627
@PeterDaveHello Any news on this one?

I believe it's worth creating a new library and then setting up a message in jquery-cookie page saying "this project was moved to js-cookie" or something like that.

What you guys think?

[2015-05-28 16:37] dbeckwith opened #4684 "Extra directory in bootstrap-slider file listing on cdnjs website"
I added bootstrap-slider in #4661, and for some reason on the website listing at https://cdnjs.com/libraries/bootstrap-slider/4.8.3, it shows the `/css` folder as a file, which none of the other libraries do. If you try to access https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/4.8.3/css, you get a 403 (bootstrap-slider has this extra listing for every version). I'm not sure if it's intenti

[2015-05-28 16:43] IonicaBizau commented on #4684
This happens because of [this `npmFileMap`](https://github.com/cdnjs/cdnjs/pull/4661/files#diff-03a7061079b714b2f18e718cdc01a4b7R12). I noticed the same issue in [medium-editor](https://cdnjs.com/libraries/medium-editor).

I'm not sure what could be the solution here: fix the file map or ignore the directories in listing? I would choose the second one.

Thanks for bringing this in attention, btw!

[2015-05-28 16:47] dbeckwith commented on #4684
Just as a random example, [backbone-forms](https://cdnjs.com/libraries/backbone-forms) has the same [`npmFileMap`](https://github.com/cdnjs/cdnjs/blob/master/ajax/libs/backbone-forms/package.json#L22), but directories don't show up. Weird. Anyway, I think you're right though, directories should just be ignored in the listing.

[2015-05-28 16:49] IonicaBizau commented on #4684
Hmm, good point. :+1:

/cc @PeterDaveHello

[2015-05-28 16:52] dbeckwith commented on #4684
Actually now that I'm looking around a lot of other libraries have this.

[2015-05-28 17:22] #4684 closed

[2015-05-28 17:27] PeterDaveHello commented on #4684
Fixed, but for the performance reason, current building process will use the already exist data instead of re-scaning the whole directory(and in fact we don't need to rebuild the old version everytime), rebuild the whole meta data will take longer time, I'll do it later manually. And that's see if this fix will broken something else, I hope not.

[2015-05-28 17:29] dbeckwith commented on #4684
That's fine, thanks!

[2015-05-29 13:02] josdejong commented on #3015
Any chance of adding vis v4.0.0 and v4.1.0 to cdnjs? Is there anything I can help with? (manual PR's again?)

[2015-05-29 13:14] F2X opened #4689 "Question about web hooks publishing"
Hi!
I would like to know if there is any plan to create web hooks to allow real-time publishing on cdn?
In fact I'm trying to do continuous integration with Travis, and publish successfully built lib on both Bower, NPM, GitHub releases and your CDN.
For know it's working on all services, but there is a delay between new GitHub release and its deployment via the autoupdate process.
Thanks

[2015-05-29 13:49] PeterDaveHello commented on #3015
I think we can just transfer to git auto-update.

[2015-05-29 13:51] PeterDaveHello commented on #4689
The problem is not web hooking, is about auditing. See readme for detail, thanks.

[2015-05-29 13:51] #4689 closed

[2015-05-29 22:15] gerry3 opened #4692 "ember-data.js.map isn't being updated"
Looks like `ember-data.js.map` isn't being updated with the other `ember-data.js` files.

<https://cdnjs.cloudflare.com/ajax/libs/ember-data.js/1.0.0-beta.18/ember-data.js.map> is actually for 1.0.0-beta.16.1, not 1.0.0-beta.18. Similarly, 1.0.0-beta.17 is also using the map from 1.0.0-beta.16.1.

@PeterDaveHello

[2015-05-29 22:26] PeterDaveHello commented on #4692
Not our issue, it's from upstream, you can open issue there.

[2015-05-29 22:26] #4692 closed

[2015-05-30 16:48] PeterDaveHello commented on #4627
hmmmmm ... I have no idea ...

[2015-05-30 16:57] PeterDaveHello commented on #4096
Close due to no response.

[2015-05-30 16:57] #4096 closed

[2015-05-30 17:02] PeterDaveHello commented on #4617
* a5e0c18 add jsondiffpatch with git auto-update Peter Dave Hello 3 weeks ago

[2015-05-30 17:02] #4617 closed

[2015-05-30 17:17] PeterDaveHello commented on #4513
@9mm The problem came from the moved repo, and the node-github api we used can't handle this kind of case, I opened issue here https://github.com/mikedeboer/node-github/issues/257, and updated the repo url in f5603d8, so close this issue, thanks for your report.

[2015-05-30 17:17] #4662 closed

[2015-05-30 17:17] #4513 closed

[2015-05-30 17:19] PeterDaveHello commented on #4463
For filename:
https://github.com/cdnjs/cdnjs#create-or-update-packagejson
For git auto-update:
https://github.com/cdnjs/cdnjs#enabling-gitrecommended-or-npm-auto-update

[2015-05-30 17:19] #4463 closed

[2015-05-30 17:23] PeterDaveHello commented on #4453
Close due to no response.

[2015-05-30 17:23] #4453 closed

[2015-05-30 17:44] PeterDaveHello commented on #3792
Let's discuss here #3650.

[2015-05-30 17:44] #3792 closed

[2015-05-30 18:01] PeterDaveHello commented on #1120
Any updates? @thomasdavis @terinjokes

[2015-05-30 18:08] PeterDaveHello commented on #1922
Looks fine now.
http://www.greatfirewallofchina.org/index.php?siteurl=https%3A%2F%2Fcdnjs.com
http://www.greatfirewallofchina.org/index.php?siteurl=https%3A%2F%2Fcdnjs.cloudflare.com

http://www.blockedinchina.net/?siteurl=https%3A%2F%2Fcdnjs.com
http://www.blockedinchina.net/?siteurl=https%3A%2F%2Fcdnjs.cloudflare.com

http://www.viewdns.info/chinesefirewall/?domain=https%3A%2F%2Fcdnjs.com
http:/

[2015-05-30 18:08] #1922 closed

[2015-05-30 18:09] PeterDaveHello commented on #1624
That's from upstream, and for npm dependencies, meaningless on cdnjs in fact.

[2015-05-30 18:09] #1624 closed

[2015-05-30 18:10] #2906 closed

[2015-05-30 18:11] PeterDaveHello commented on #2906
We don't want to break the running sites, so can not move but can add a new with the right name.

[2015-05-30 18:35] PeterDaveHello opened #4695 "Update repo url of these libs."
Repo url of 346 libs (total: 1224 libs) need to be updated if been moved.
Need to be confirmed.

- [x] 6to5/6to5
- [x] Colourity/Fort.js
- [ ] andyet/ICanHaz.js
- [x] appendto/amplify
- [x] jmdobry/angular-data
- [x] angular-ui/angular-ui
- [x] kentcdodds/apiCheck.js
- [x] mrappleton/backbone-fetch-cache
- [x] addyosmani/backbone.paginator
- [x] jmeas/backbone.radio
- [x] vlamanna/BootstrapFormHel

[2015-05-30 18:36] IonicaBizau commented on #4695
@PeterDaveHello A script can do that, right?

[2015-05-30 18:37] PeterDaveHello commented on #4695
Yeah of course I think.

[2015-05-30 18:38] PeterDaveHello commented on #4695
But should make sure they are in the same situation here.

[2015-05-30 19:06] FagnerMartinsBrack commented on #4627
Ok, but is it viable to implement something that might allow us to provide a message in jquery-cookie CDN page? We will add a new project.

[2015-05-30 19:12] PeterDaveHello commented on #4695
[code]

[2015-05-30 19:15] ryankirkman commented on #4627
We can put a message in the package description so it shows up on the
library page.
On Sat, May 30, 2015 at 12:06 PM Fagner Brack <notifications@github.com>
wrote:

[2015-05-30 19:19] PeterDaveHello commented on #4695
Only 64 libs been fixed, should make sure what are the cases remaining ...

[2015-05-30 19:26] PeterDaveHello commented on #4695
Updated 64 libs here:
43c20c2389fb50c7b1d2c62788e5c84b8fa6e2e1

[2015-05-30 19:28] Xarcell opened #4696 "Update Lettering.js To Version 0.7.0"
Please update from 0.6.1 to 0.7.0. Thanks.

https://github.com/davatron5000/Lettering.js

[2015-05-30 19:33] #4696 closed

[2015-05-30 19:39] PeterDaveHello commented on #4695
hmmmm ... strange, after the first fixing, only got problem on these libs, maybe there is a problem of my network of first round ...
- [ ] andyet/ICanHaz.js
- [ ] projectBS/bsJS
- [ ] neteye/jquery-plugins
- [ ] wjosdejong/jsoneditoronline
- [ ] tybenz/legojs
- [ ] daviferreira/medium-editor
- [ ] visionmedia/mocha
- [ ] j-l-n/noti.js
- [ ] n33/skel-layers
- [ ] jimmybyrum/vault

[2015-05-30 19:49] PeterDaveHello commented on #4695
Remaining were dead ...

[2015-05-30 19:49] #4695 closed

[2015-05-31 02:25] terinjokes commented on #1120
@PeterDaveHello It's on my task list here.

[2015-05-31 06:16] PeterDaveHello commented on #1120
Thanks, I'm just making sure we remember this.

[2015-05-31 15:52] pzp1997 commented on #3638
Waiting for Processing.js to get updated to 1.4.15. 1.4.8, the latest version on cdnjs, is over a year old. Should I submit a PR or do you guys want to set up auto-update for it?

[2015-06-01 05:56] PeterDaveHello commented on #3638
You can submit PR to setup auto-update for it @pzp1997

[2015-06-01 18:26] PeterDaveHello commented on #4695
hmmmm ... I'm sure some of the results were wrong, should open issue on https://github.com/cdnjs/new-website

[2015-06-03 07:15] josdejong commented on #3015
Thanks for adding the latest versions to cdnjs.

[2015-06-03 08:53] WebReflection opened #4705 "Version bump/update not reflected"
I'm not sure I've done something wrong but 16 days ago I've PR(ed) [this change](https://github.com/cdnjs/cdnjs/blob/master/ajax/libs/document-register-element/package.json) in order to have all .js files from the build folder in.

However, even if the auto-update field is there, the version is stuck at `0.3.0` while the library is at `0.4.1` as noticed by a user.

https://github.com/WebReflection

[2015-06-03 09:35] PeterDaveHello commented on #4705
https://www.npmjs.com/package/document-register-element

[2015-06-03 09:36] PeterDaveHello commented on #4705
You are using npm auto-update but you didn't update the npm package ...
Maybe you can transfer to use git auto-update so that it won't need to wait for your npm package push.

[2015-06-03 09:36] #4705 closed

[2015-06-03 09:54] WebReflection commented on #4705
http://i.imgur.com/fAANVQ5.gif

thanks

[2015-06-03 16:08] gabehesse opened #4707 "[Request]Add waypoints 3"
The maintainer removed the jquery dependency and moved the project to here: https://github.com/imakewebthings/waypoints

[2015-06-03 17:36] PeterDaveHello commented on #4707
You can send a PR to add it.

[2015-06-05 20:53] bostonaholic opened #4715 "Search for "dimple" returns results for "simple""
When I enter a search term of `dimple` the results return matches on `simple`.

![screen shot 2015-06-05 at 2 46 17 pm](https://cloud.githubusercontent.com/assets/362146/8014932/f404dfc6-0b91-11e5-9f17-376697945a16.png)

[2015-06-06 01:46] PeterDaveHello commented on #4715
I think it's fuzzy search feature.

[2015-06-06 07:23] misteracacia opened #4716 "Frequent "Waiting for cdnjs.org" with Chrome"
Over the past several days I have noticed some pretty lengthy delays waiting for the server at cdnjs.org to respond to whatever request has been sent from Chrome and Chromium browsers. There appear to be no such delays with Opera or Firefox. I don't know if this is an issue with the cdnjs servers or with the Chrome code. If I can provide any additional information please let me know.

Chromium: Ve

[2015-06-06 08:31] PeterDaveHello commented on #4716
What about cdnjs.com?

[2015-06-06 16:49] LucaDev commented on #4716
+1
cdnjs.com also

[2015-06-06 16:54] PeterDaveHello commented on #4716
cc @thomasdavis @ryankirkman @terinjokes

[2015-06-06 16:54] PeterDaveHello commented on #4716
any info in detail? @LucaDev @misteracacia
what about cdnjs.cloudflare.com?

[2015-06-06 17:06] thomasdavis commented on #4716
And your location will also help us track this down

[2015-06-06 19:15] misteracacia commented on #4716
cjdns.com does come up rather immediately. Accessing http://cdnjs.org redirects me to cdnjs.com. When I am waiting for cdnjs.org I am opening a Facebook-based game. The game may or may not load, and when it can't, it appears to be due to a timeout waiting for cdnjs.org. My location is near Mojave, Ca, using RoadRunner via BrightHouse

Let me know what other details I can provide and I will gather

[2015-06-06 21:01] LucaDev commented on #4716
btw sometimes cdnjs.cloudflare.com is blocking my requests

Details:
Germany(POP: Link 3) Chrome Win 8.1 64bit

[2015-06-07 19:21] louy opened #4717 "[Request]ember-data.model-fragments"
Would you mind adding this library to cdnjs?
https://github.com/lytics/ember-data.model-fragments

Thank you,

[2015-06-08 05:52] PeterDaveHello commented on #4717
You can send a PR to add it.

[2015-06-08 19:33] stuartpb opened #4718 "[Request] New repo with just the library definitions"
It's ridiculous that I should have to clone and checkout **a gigabyte of content** just to add a 50-line package.json. I've seen https://github.com/cdnjs/new-cdnjs - that's not a solution. The *definitions* of the CDN should be versioned and stored *entirely* separately from their evaluations (the content).

[2015-06-08 19:39] IonicaBizau commented on #4718
Currently the solution is to use [`cdnjs-importer`](https://github.com/IonicaBizau/cdnjs-importer) - a tool I wrote to make this process easier. However, you have to clone the cdnjs repo on your machine.

This is a duplicate of #4461.

[2015-06-08 19:40] #4718 closed

[2015-06-08 19:41] thomasdavis commented on #4718
@stuartpb you should also be able to use the --depth option -> http://git-scm.com/docs/git-clone

[2015-06-08 19:43] stuartpb commented on #4718
@thomasdavis The checkout itself is still massive, and there's no way to specify clone depth when creating a workspace on https://c9.io.

[2015-06-08 19:49] stuartpb commented on #4718
Even `git clone --depth 1 git@github.com:cdnjs/cdnjs.git` pulls 608.99 MB, and that's *before* any files are checked out.

[2015-06-08 20:31] PeterDaveHello commented on #4718
The repo size is not the root cause of performance, try sparse checkout:
https://github.com/cdnjs/cdnjs/blob/master/sparseCheckout.md

[2015-06-08 20:37] lukemcgregor commented on #4716
+1 my azure app insights (site ping) seems to be failing because of this,

*User agent:* Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/28.0.1500.72 Safari/537.36

*Locations:* I'm testing from Amsterdam, Singapore and Chicago, (2 are failing but I cant tell which 2)

[2015-06-09 14:27] PeterDaveHello opened #4724 "Access-Control-Allow-Origin issue"
Seems .map file doesn't have Access-Control-Allow-Origin config in header, maybe we could support it?
cc @thomasdavis @ryankirkman @drewfreyling @terinjokes

[code]

[code]

[2015-06-09 16:28] PeterDaveHello commented on #4724
maybe all the content on cdn can have it?

[2015-06-11 06:38] dandv opened #4728 "Add Asteroid (Meteor DDP client)"
CC @pscanf, @mondora - https://github.com/mondora/asteroid/issues/65

Asteroid is a [DDP](https://en.wikipedia.org/wiki/Distributed_Data_Protocol) client for [Meteor.js](https://github.com/meteor/meteor).

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/21471099-add-asteroid-meteor-ddp-client?utm_campaign=plugin&utm_content=tracker%2

[2015-06-11 12:07] PeterDaveHello opened #4730 "Start Bootstrap Bootstrap Themes & Templates"
Should add them!
https://github.com/IronSummitMedia

[2015-06-17 09:04] LucaRosaldi commented on #4715
Yes, it is. If there was a library called 'dimple', it would be the first result. It's not an issue.

[2015-06-17 09:09] PeterDaveHello commented on #4715
Close due to no response.

[2015-06-17 09:09] #4715 closed

[2015-06-17 14:06] bostonaholic commented on #4715
Thanks. This was unexpected behavior but now I see how the fuzzy search is working.

[2015-06-18 14:54] IonicaBizau opened #4753 "Automatically create the minified version"
If the minified version doesn't exist, is it possible to generate it?

[2015-06-18 15:05] PeterDaveHello commented on #4753
Almost impossible, how to determinate need to do it or not? Filename? Not reliable at all, there are too many naming styles.

[2015-06-18 15:06] IonicaBizau commented on #4753
I see, so the one that adds the library should check/add the minified files, right?

[2015-06-18 15:09] IonicaBizau commented on #4728
@dandv Could you please add the minified files in the repo? Then I will import it using the new version of cdnjs-importer.

/cc https://github.com/IonicaBizau/cdnjs-importer/pull/7

[2015-06-18 15:11] PeterDaveHello commented on #4753
Yes, we point `filename` to the minified file, and npm test will remind committer to minified if the committer forgot to minfied it.

[2015-06-18 15:13] IonicaBizau commented on #4753
@PeterDaveHello Ok, thanks! :+1:

[2015-06-18 15:13] #4753 closed

[2015-06-18 15:18] PeterDaveHello commented on #4753
np

[2015-06-18 21:25] dandv commented on #4728
@pscanf - happy to have commit access to our repo, per our discussion last week.

[2015-06-22 14:16] chris-morgan opened #4769 "MediaElement.js is incomplete"
cdnjs’s copy of MediaElement.js (mediaelement) is lacking bigplay.svg and controls.svg, referred to in the CSS file and used by SVG-capable browsers (most). In consequence all the controls on its players are lacking their graphics. This renders the entire thing comparatively unusable.

[jsdelivr has it complete.](http://www.jsdelivr.com/#!mediaelement)

[2015-06-23 02:11] PeterDaveHello commented on #4769
Thanks, working on it now.

[2015-06-23 03:04] #4769 closed

[2015-06-23 08:41] PeterDaveHello opened #4774 "Ignore empty directory or directory without package.json when testing"
So that we can use `.gitkeep` to keep the directory structure only but don't totally drop them while using sparse-checkout.
Currently, use sparse-checkout to checkout `.gitkeep` to keep the structure(directories) will cause test failed.

Maybe just add a parameter for test process.

What do you think @thomasdavis @drewfreyling @ryankirkman @IonicaBizau.

<bountysource-plugin>

---
Want to back thi

[2015-06-23 08:43] IonicaBizau commented on #4774
@PeterDaveHello Is issue about the cdnjs repo size? What is the context?

[2015-06-23 10:03] PeterDaveHello commented on #4774
Not really. But we usually use sparse-checkout on a large repo like cdnjs, I want to keep the directories of the libs without checking out them, so that we can still know what libs we have locally.

[2015-06-24 03:08] PeterDaveHello opened #4782 "More terms in test"
- [x] Check package.json indent/style.
- [x] Check filename field in package.json point to minified file(if exists).

[2015-06-24 18:03] edrex commented on #3317
Just to expand on the previous comment by @PeterDaveHello, Reveal.js speaker notes plugin requires a file notes.html which is missing.

[2015-06-25 07:07] PeterDaveHello commented on #3317
@terinjokes can we make it on the schedule to support it? Thanks.

[2015-06-25 08:56] arasmussen commented on #3941
Honestly you already have a great tool (cdnjs-importer) that takes a git repo as an input and does the rest for you. Can't you just build a tiny website with an input "library git repo" and a submit button and automate the rest? I feel like submitting a pull request is incredibly overkill.

[2015-06-25 08:57] arasmussen commented on #3941
And by tiny website I mean add a "submit" page to cdnjs.com.

[2015-06-25 09:00] PeterDaveHello commented on #3941
Yes, will do, but do, but no schedule for it yet.

[2015-06-25 09:08] IonicaBizau commented on #3941
@arasmussen That's a neat idea! :sparkles:
@PeterDaveHello That would be very easy, using `cdnjs-importer` as library.

[2015-06-25 09:34] yohankoehler opened #4787 "Directory fonts missing in bootswatch 3.3.5"
Hi,
in bootswatch 3.3.5 glyphicons have been replaced with symlinks to bootstrap, also it seems that the fonts directory in bootswatch 3.3.5 from cdnjs is missing, can you please add it, it is necessary to get glyphicons work.

Thank you.

[2015-06-25 10:58] PeterDaveHello commented on #4782
* b2f5974 check if filename in package.json point to minified file if it exists Peter Dave Hello 2 hours ago

[2015-06-25 11:11] PeterDaveHello commented on #4782
* 6a487af check if package.json has correct format and indent Peter Dave Hello 9 seconds ago

[2015-06-25 11:23] PeterDaveHello commented on #4787
Would you like to send a PR to fix it?

[2015-06-25 12:08] yohankoehler commented on #4787
Ok PR done.

[2015-06-25 14:40] dylmye commented on #4670
High Priority yet it's still there?

[2015-06-28 13:30] Jeni4 opened #4795 "[new] Inclusion of WebcamJS"
Is it possible to include WebcamJS developed by @jhuckaby into the main cdnjs repo from my branch at https://github.com/Jeni4/webcamjs/tree/cdnjs-working-copy ?

* I am looking for errors I may have committed when creating the package.json file (https://github.com/Jeni4/webcamjs/blob/cdnjs-working-copy/package.json) and

[2015-06-28 14:04] PeterDaveHello commented on #4795
What's the reason why to copy from your branch? Or we just copy from origin repo?
`npm test` will tell you what's the error?

[2015-06-28 18:33] Jeni4 commented on #4795
Changed it after reading your comment and created a pull request instead with the library merged into the library by the cdnjs-importer npm based script. #4797

[2015-06-28 18:33] #4795 closed

[2015-06-30 06:18] back-2-95 opened #4807 "Update SSL-certificate with SHA-2"
"With the announcement by Google, Microsoft’s announcement, and the ongoing security concerns about SHA-1, it's strongly recommended that you migrate to SHA-2 where possible and prepare to migrate all systems to SHA-2 in order to for your users to see your sites and services as trusted."

At least on Firefox console shows warnings with cdnjs resources.

[2015-06-30 06:36] PeterDaveHello commented on #4807
cc @terinjokes @thomasdavis @ryankirkman

[2015-06-30 20:36] terinjokes commented on #4807
This will happen.

[2015-07-01 21:55] darkpixel opened #4814 "Request to add perfBar"
http://lafikl.github.io/perfBar/

[2015-07-01 21:55] darkpixel commented on #4814
Sorry--just saw the 'no more manual requests'.  :)

[2015-07-01 23:31] darkpixel commented on #4814
I can't use the cdnjs-importer to request perfBar before the sun goes nova:

15:46:16 [aaron@praxis:~/code] $ cdnjs-importer /home/aaron/code/perfBar/ -c cdnjs
info  [15:46.31 - 01.07.2015] Cloning /home/aaron/code/perfBar/ into /tmp/tmp-5092PKceLNDVDkr9
info  [15:46.32 - 01.07.2015] Set the source path: /build
info  [15:46.32 - 01.07.2015] Creating the version directory: cdnjs/ajax/libs/perfbar/0

[2015-07-02 02:21] PeterDaveHello commented on #4814
Did you try sparse-checkout with shallow clone/pull?

[2015-07-02 12:29] logiclabs opened #4815 "No GZip Compression over HTTP"
When retrieving files over HTTP with "Accept-Encoding: gzip", cdnjs does not return a compressed version of the file.  This issue appears to be the same for all HTTP requests with CloudFlare.  Over HTTPS, the compressed version is correctly returned.

Example, using JQuery:

![image](https://cloud.githubusercontent.com/assets/1760571/8476945/12f0f424-20be-11e5-94fc-3c8c26faa48c.png)

[2015-07-02 12:35] PeterDaveHello commented on #4815
cc @terinjokes

[2015-07-02 12:37] PeterDaveHello commented on #4815
I don't see problem here.
![Imgur](http://i.imgur.com/3fNADPM.png)

[2015-07-02 13:00] logiclabs commented on #4815
Apologies.  On further inspection and testing on another computer, it appears to be something running locally that is altering the content. A little worrying.

[2015-07-02 13:00] #4815 closed

[2015-07-02 13:19] logiclabs commented on #4815
Just to follow up, as I expect his may be useful to other developers: This issue was caused by anti-virus software running locally. It appears it was intercepting the compressed content and returning the uncompressed file, and correctly altering the HTTP headers.  Despite me disabling the AV protection while testing the issue, it was still monitoring and modifying the HTTP traffic.  The anti-virus

[2015-07-02 20:28] PeterDaveHello commented on #4815
:+1:

[2015-07-04 15:56] Vanhoutte opened #4823 "Wrong version Flexslider 2.1"
Libary: https://cdnjs.com/libraries/flexslider/2.1

Shows version 2.1, however, the file itself indicates it is version 2.0 ("jQuery FlexSlider v2.0")

[2015-07-04 16:06] PeterDaveHello commented on #4823
https://cdnjs.cloudflare.com/ajax/libs/flexslider/2.1/jquery.flexslider.js shows 2.1
If you meant css file, this is not our problem.
See https://github.com/woothemes/FlexSlider/blob/version/2.1/flexslider.css

[2015-07-04 16:06] #4823 closed

[2015-07-06 17:50] Krinkle opened #4841 "Update Sinon.JS from 2013 to 2015"
http://sinonjs.org/Changelog.txt

Looks like cdnjs is still on 1.7.3 from 2013. Having a more modern version would be useful.

[2015-07-06 21:49] fredericksilva commented on #4841
:facepunch:

[2015-07-07 16:34] nafribs opened #4851 "jquery.colorbox"
the latest version is 1.6.1 but the cdnjs cdn version is 1.4.33.

Can this be updated to latest please.

[2015-07-08 00:35] dandv commented on #360
I'd really like for `latest` or `last` to work. Useful also in [examples of how to use libraries](https://github.com/zeroclipboard/zeroclipboard/issues/587).

[2015-07-08 02:22] #4841 closed

[2015-07-08 04:18] #4851 closed

[2015-07-09 12:08] alxkolm opened #4864 "[New] Add bPopup"
Please add https://github.com/dinbror/bpopup/

[2015-07-10 01:10] eliot-akira opened #4869 "coffeescript from cdnjs is unusable"
https://github.com/jashkenas/coffeescript/issues/4001

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/24046014-coffeescript-from-cdnjs-is-unusable?utm_campaign=plugin&utm_content=tracker%2F32893&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=

[2015-07-10 03:20] akymakr opened #4870 "MyButler CSS and JS File"
Used bootstrap, dataTables, adminLTE and jQuery to complete.

[2015-07-10 03:20] #4870 closed

[2015-07-10 03:47] 0utc0ntr0l opened #4871 "[Request]rapidleech js"
rapidleech js

[2015-07-10 05:39] harissarwar opened #4873 "[New] Add ocLazyLoad"
Can you please add ocLazyLoad hosting?

[2015-07-10 06:34] PeterDaveHello commented on #4873
Wait for https://github.com/cdnjs/cdnjs/pull/4862

[2015-07-10 09:11] redox opened #4878 "test title"
test body

[2015-07-10 09:12] PeterDaveHello commented on #4878
Sorry, I used the same api key for Algolia search in cdnjs.

[2015-07-10 09:12] #4878 closed

[2015-07-10 09:15] PeterDaveHello opened #4879 "test title"
test body

[2015-07-10 09:15] PeterDaveHello opened #4880 "test title"
test body

[2015-07-10 09:16] #4879 closed

[2015-07-10 09:16] #4880 closed

[2015-07-10 09:26] PeterDaveHello opened #4881 "[Build failed] Got error while building meta data/artifact"
Dear all,Our build process just got an error while building the meta data/artifact of cdnjs project,our website and api may not be as new as our repository,however, the cdn service usually not been affected,you can still use it, and modify the library name, version number and filename in the url can help you access all the content on cdnjs,we will fix the error as soon as possible, sorry for the i

[2015-07-10 09:26] #4881 closed

[2015-07-10 09:27] recoshet opened #4882 "[New] Add Zoomooz"
Zoomooz

http://jaukia.github.io/zoomooz/

[2015-07-10 09:31] PeterDaveHello opened #4884 "[Build failed] Got error while building meta data/artifact"
Dear all,
Our build process just got an error while building the meta data/artifact of cdnjs project,
our website and api may not be as new as our repository,
however, the cdn service usually not been affected,
you can still use it, and modify the library name, version number and filename in the url can help you access all the content on cdnjs,
we will fix the error as soon as possible, sorry for

[2015-07-10 09:33] PeterDaveHello opened #4885 "[Build failed] Got error while building meta data/artifact"
Dear all,

Our build process just got an error while building the meta data/artifact of cdnjs project,
our [website and api](https://github.com/cdnjs/cdnjs) may not be as new as our repository,
however, the cdn service usually not been affected,
you can still use it, and modify the library name, version number and filename in the url can help you access all the content on cdnjs,
we will fix the er

[2015-07-10 09:34] #4885 closed

[2015-07-10 09:34] #4884 closed

[2015-07-10 10:27] PeterDaveHello opened #4886 "[Build failed] Got error while building meta data/artifact"
Dear all,  Our build process just got an error while building the meta data/artifact of cdnjs project, our [website and api](https://github.com/cdnjs/cdnjs) may not be as new as our repository, however, the cdn service usually not been affected, you can still use it, and modify the library name, version number and filename in the url can help you access all the content on cdnjs, we will fix the er

[2015-07-10 10:27] #4886 closed

[2015-07-10 10:28] PeterDaveHello opened #4887 "(test)[Build failed] Got error while building meta data/artifact"
Dear all,  Our build process just got an error while building the meta data/artifact of cdnjs project, our [website and api](https://github.com/cdnjs/cdnjs) may not be as new as our repository, however, the cdn service usually not been affected, you can still use it, and modify the library name, version number and filename in the url can help you access all the content on cdnjs, we will fix the er

[2015-07-10 10:30] PeterDaveHello opened #4888 "(test)[Build failed] Got error while building meta data/artifact"
Dear all,

Our build process just got an error while building the meta data/artifact of cdnjs project,
our [website and api](https://github.com/cdnjs/cdnjs) may not be as new as our repository,
however, the cdn service usually not been affected,
you can still use it, and modify the library name, version number and filename in the url can help you access all the content on cdnjs,
we will fix the er

[2015-07-10 10:42] PeterDaveHello opened #4889 "(test)[Build failed] Got error while building meta data/artifact"
Dear all,

Our build process just got an error while building the meta data/artifact of cdnjs project,
our [website and api](https://github.com/cdnjs/cdnjs) may not be as new as our repository,
however, the cdn service usually not been affected,
you can still use it, and modify the library name, version number and filename in the url can help you access all the content on cdnjs,
we will fix the er

[2015-07-10 10:42] #4887 closed

[2015-07-10 10:42] #4888 closed

[2015-07-10 10:44] #4889 closed

[2015-07-10 10:46] PeterDaveHello opened #4890 "(test)[Build failed] Got error while building meta data/artifact"
Dear all,

Our build process just got an error while building the meta data/artifact of cdnjs project,
our [website and api](https://github.com/cdnjs/cdnjs) may not be as new as our repository,
however, the cdn service will not been affected,
you can still use it, and modify the library name, version number and filename in the url can help you access all the content on cdnjs,
we will fix the error

[2015-07-10 10:46] #4890 closed

[2015-07-10 11:50] fredericksilva opened #4893 "Add Vibrant.js"
https://github.com/jariz/vibrant.js/issues/15

[2015-07-10 12:27] PeterDaveHello opened #4895 "Display the diff/patch if package.json failed in test caused by indent/style"
Current test will only shows the correct result, should better show the diff/patch so that human begins will read it easier.

[2015-07-10 13:00] myliang opened #4896 "[New] Add _library_name_ mapbox"
i wan to add mapbox

[2015-07-10 13:04] PeterDaveHello commented on #4896
You can send a pull request to add it.

[2015-07-10 13:07] nanotaboada opened #4897 "[New] Add LokiJS"
http://lokijs.org/

LokiJS is an in-memory database which prioritises performance over everything.

Among the features that make LokiJS attractive are:

- Fast Performance
- Replaces SQLite in Cordova, works as a session store in node.js, works an in-browser database with syncing capabilities
- Indexing / Secondary Indexing / Unique Indexing
- The "Dynamic View", a kind of "live filter"
- Resultse

[2015-07-10 14:21] #4893 closed

[2015-07-10 14:23] martincarlin87 opened #4900 "[New] Add DHTML Gannt"
http://docs.dhtmlx.com/gantt/codebase/dhtmlxgantt.js

http://docs.dhtmlx.com/gantt/codebase/dhtmlxgantt.css

[2015-07-10 14:33] tamasta opened #4901 "[Request]nusatrip"
Just simple css library

[2015-07-10 16:28] #4882 closed

[2015-07-10 16:45] #4864 closed

[2015-07-10 19:05] redox opened #4907 "[Build failed] Got error while building meta data/artifact"

[2015-07-10 19:06] redox opened #4908 "[Build failed] Got error while building meta data/artifact"
Dear all,

Our build process just got an error while building the meta data/artifact of cdnjs project,
our [website and api](https://github.com/cdnjs/cdnjs) may not be as new as our repository,
however, the cdn service will not been affected,
you can still use it, and modify the library name, version number and filename in the url can help you access all the content on cdnjs,
we will fix the error

[2015-07-10 19:07] redox opened #4909 "[Build failed] Got error while building meta data/artifact"
Dear all,

Our build process just got an error while building the meta data/artifact of cdnjs project,
our [website and api](https://github.com/cdnjs/cdnjs) may not be as new as our repository,
however, the cdn service will not been affected,
you can still use it, and modify the library name, version number and filename in the url can help you access all the content on cdnjs,
we will fix the error

[2015-07-10 19:17] PeterDaveHello commented on #4909
Oops ... used wrong api key again, sorry.

[2015-07-10 19:17] #4909 closed

[2015-07-10 19:17] PeterDaveHello commented on #4907
Oops ... used wrong api key again, sorry.

[2015-07-10 19:17] PeterDaveHello commented on #4908
Oops ... used wrong api key again, sorry.

[2015-07-10 19:17] #4908 closed

[2015-07-10 19:17] #4907 closed

[2015-07-11 00:40] woddx opened #4912 "[Request]NanumBarunGothic"
NanumBarunGothic Web Fonts

[2015-07-11 16:48] dandv opened #4918 "[New] Add Promiz"
@Zolmeister's [Promiz](https://github.com/zolmeister/promiz) is a polyfill for ES6-style Promises in 887 bytes (gzipped).

[2015-07-11 18:31] souporserious opened #4920 "[New] Add react-motion"

[2015-07-12 02:37] sybreon opened #4928 "[New] Add clientIO/joint"
The old JointJS library has moved. The new versions are here.
https://github.com/clientIO/joint

[2015-07-12 04:47] binarykitchen opened #4929 "[New] Add videomail-client"
From https://www.npmjs.com/package/videomail-client

With the versions as tags if possible? Many thanks!

[2015-07-12 04:59] pidanzhou opened #4930 "[Request] Add material-design-lite"
Please add Material Design Lite Components in HTML/CSS/JS

http://getmdl.io
https://github.com/google/material-design-lite

[2015-07-12 08:23] PeterDaveHello commented on #4900
Any info in detail?

[2015-07-12 08:28] PeterDaveHello commented on #4896
Don't know what files should be included, do you know that @myliang ？

[2015-07-12 09:44] #4918 closed

[2015-07-12 09:44] #4920 closed

[2015-07-12 09:44] #4928 closed

[2015-07-12 10:07] x2on opened #4931 "[New] Add Waypoints"
Please add Waypoints

The new versions above 3.0 has changed the name and the repository:

https://github.com/imakewebthings/waypoints

[2015-07-12 18:31] humbletim commented on #4869
@PeterDaveHello -- Here's a dump of cdnjs coffee-script versions and working status:

version | size | output | status
--------- | ---------- | ------ | -------
**1.1.2** | *172K* | **CoffeeScript.VERSION == 1.1.2** | :coffee:
**1.1.3** | *16K* | *Error: Cannot find module './lexer'* | :paw_prints:
**1.2.0** | *176K* | **CoffeeScript.VERSION == 1.2.0** | :coffee:
**1.3.0** | *16K* | *Error: Cannot

[2015-07-12 18:35] jdnichollsc opened #4938 "[Request] Add Phaser Kinetic Scrolling Plugin"
This is a plugin for vertical and horizontal scrolling in Phaser Framework

[2015-07-12 20:22] jonathanKingston commented on #4599
So is the script which imports the resource data to be indexed by algolia on GitHub? (I can't see it anywhere).

If it is then I can help with making the relevant pull requests as have done other work which does this.

Does cdnjs ever change the libraries like Google has done in the past?

[2015-07-13 01:15] yehezkielbs opened #4942 "[Request] Add http://tzdata-javascript.org/tzdata-javascript.js"

[2015-07-13 04:39] PeterDaveHello commented on #4599
@jonathanKingston

What's the change actually? Thanks.

[2015-07-13 04:41] PeterDaveHello commented on #4869
@jashkenas @eliot-akira Would you like to +1 here? Thanks!

[2015-07-13 05:53] KhodeN opened #4944 "What about auto-update interval? How frequently?"
subj.
I'm waiting for requirejs 2.1.19((

[2015-07-13 06:09] PeterDaveHello commented on #4944
https://github.com/cdnjs/cdnjs#enabling-gitrecommended-or-npm-auto-update

[2015-07-13 06:09] #4944 closed

[2015-07-13 06:18] KhodeN commented on #4944
thx

[2015-07-13 06:23] PeterDaveHello commented on #4944
np, will add in 30 mins, under auditing right now

[2015-07-13 06:46] jonathanKingston commented on #4599
@PeterDaveHello it patches certain versions of their code if there are critical versions (Don't quote me on this but I think that was even if you provided a full semver version path). Either way they offer the ability to say Jquery@2 and it will self update.

I assume cdnjs doesn't do this ever right?

[2015-07-13 06:53] PeterDaveHello commented on #4599
Yeah, we don't.

[2015-07-13 06:59] PeterDaveHello commented on #4944
* 7b6b3c7 add require.js v2.1.19 Peter Dave Hello 24 minutes ago

[2015-07-13 07:18] jonathanKingston commented on #4599
@PeterDaveHello how does the search get populated as I think that would be the best candidate for storing the SRI hashes precalculated so when the client loads the page they can see the files with the hashes.

[2015-07-13 08:34] s90198123 opened #4946 "[Request] vminpoly"
https://github.com/saabi/vminpoly

[2015-07-13 08:48] mardafirmansyah opened #4947 "[Request] https://github.com/1000hz/bootstrap-validator"
Request Library https://github.com/1000hz/bootstrap-validator

[2015-07-13 09:50] #4931 closed

[2015-07-13 09:50] #4947 closed

[2015-07-13 10:29] PeterDaveHello commented on #4599
cc @thomasdavis @drewfreyling @ryankirkman for comments

[2015-07-13 10:48] HybridSolutions opened #4948 "[Request] scrollReveal.js latest version"
Please include latest version of scrollReveal.js
https://github.com/julianlloyd/scrollReveal.js

[2015-07-13 12:37] AndrewShapel opened #4951 "[Request] [author] Add SpotJS library"
SpotJS used for asynchronous load CSS files and cache it in localStorage. This script does not have any dependencies on a libraries. The standard SpotJS file is around 3KB when minified via UglifyJS

SpotJS works in all major browsers which supports localStorage

More info - https://github.com/AndrewShapel/spotjs

[2015-07-13 13:03] raszi opened #4952 "[Request] Add jsonlint"
Codemirror's JSON linting depends on https://github.com/zaach/jsonlint

[2015-07-13 16:18] x2on commented on #4931
Thanks a lot!

[2015-07-13 16:48] DaAwesomeP opened #4961 "NPM test unknown error"
I can't figure out what the problem is with my `package.json`. I get the following error when running `npm test`:

[code]

Here is my `package.json`:

[code]

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/24267432-npm-test-unknown-error?utm_campaign=plugin&utm_content=tracker%2F32893&utm_medium=issues&utm_source=github)** We accept

[2015-07-13 17:39] fj commented on #1078
Any update on this? Throwing my hat in the ring as another person who'd be willing to write a parser.

[2015-07-13 18:21] PeterDaveHello commented on #4961
Thanks for your report @DaAwesomeP, will take a look at it.

[2015-07-13 18:35] PeterDaveHello commented on #1078
Hey dear all, I'm afraid not, there are some issues more important, but will try our best to have this feature asap.

[2015-07-13 18:36] PeterDaveHello commented on #1078
BTW, thanks for guys want to write parser for us, if you don't mind, you can still contribute to other parts of cdnjs, like `bower` auto-updater or something, thanks!

[2015-07-13 20:16] DaAwesomeP commented on #4961
@PeterDaveHello is this `package.json` technically correct (the test simply made an error)? I'd like to submit it now if I can.

[2015-07-13 20:20] PeterDaveHello commented on #4961
@DaAwesomeP yep!

[2015-07-13 22:21] DaAwesomeP commented on #4961
The CI test passed in #4967. I see that that was using NodeJS. I was using io.js v2.3.3 and NPM v2.11.3. There must be an incompatible dependency (that needs to be updated) or some other change in io.js from NodeJS.

[2015-07-14 03:55] drdexter1989 opened #4971 "[Request]Pixeden Icon Pack"
I would appreciate if you can upload these libraries

http://www.pixeden.com/icon-fonts/stroke-7-icon-font-set

[2015-07-14 05:56] PeterDaveHello commented on #4961
Oh okay, we don't support iojs yet.

[2015-07-14 06:06] emmansun opened #4972 "[Request] Add latest angular-bindonce"
Please kindly help to add bindonce 0.3.3

https://github.com/Pasvaz/bindonce

[2015-07-14 06:13] M-Porter opened #4973 "[Request] Polymer 1.0"
Polymer 1.0! :kissing_heart:

https://www.polymer-project.org/

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/24300600-request-polymer-1-0?utm_campaign=plugin&utm_content=tracker%2F32893&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tracker

[2015-07-14 06:37] emmansun opened #4975 "[Request] Add angular-bootstrap-colorpicker"
Please kindly help to add angular-bootstrap-colorpicker

https://github.com/buberdds/angular-bootstrap-colorpicker

Thanks!

[2015-07-14 07:00] PeterDaveHello commented on #4961
I have no problem on Ubuntu 14.04.2 LTS 64bit with io.js v2.3.2/2.3.3/2.3.4 and npm v2.11.3/2.11.3/2.12.1
Would you please provide info in more detail? Like operating system or something else?

[2015-07-14 08:11] #4952 closed

[2015-07-14 09:37] cpieroni opened #4976 "[Request] Add colorbox.css"
There is the javascript library but not its CSS.
There are many examples we could add all.
(https://github.com/jackmoore/colorbox)

[2015-07-14 11:15] iprodev opened #4977 "[Request] Add JS-EasyCache"
Please add JS-EasyCache library to your cdn. https://github.com/iprodev/JS-EasyCache

[2015-07-14 11:58] mardafirmansyah opened #4978 "[Request] LazyLoad Any"
LazyLoad Any
https://github.com/emn178/jquery-lazyload-any

[2015-07-14 12:40] raszi commented on #4952
Thank you very much!

[2015-07-14 13:08] DaAwesomeP commented on #4961
I have Windows 8.1 Pro x64 and I'm pretty sure Visual Studio Express 2013. What dependencies have native modules or haven't been updated fully in package.json? They're probably the problem.

[2015-07-14 13:41] eliot-akira commented on #4869
Yes, I confirm that pull request cdnjs/pull/4927 includes the correct build of the CoffeeScript compiler that runs in the browser. As mentioned in the pull request, the issue is that CoffeeScript's npm package and the github repo do not include the browser build.

Thank you for the swift response. Having a working compiler via CDNJS will be useful for prototyping, examples, and simple tests.

[2015-07-14 13:47] shekhei commented on #3120
any updates?

[2015-07-14 15:14] mjkaufer opened #4980 "[Request] Update Snap.svg to version 0.4"

[2015-07-14 18:51] kodeine opened #4984 "[Request] Add country-region-selector"
Please add the following.

https://github.com/benkeen/country-region-selector

http://benkeen.github.io/country-region-selector/crs.min.js

[2015-07-15 00:55] laeliadha opened #4986 "[Request]elagazone"

[2015-07-15 09:56] ivanhalen opened #4990 "[Request] jquery-steps"
http://www.jquery-steps.com/

[2015-07-15 11:29] t--o opened #4991 "[Request] Shariff"
Thanks in advance!!

https://github.com/heiseonline/shariff/blob/master/src/js/shariff.js

[2015-07-15 12:12] PeterDaveHello commented on #4976
You meant the example folders? That make no sense to add example, if users of this like really like to use its example, I think we could open an issue to ask if the author like to make it like its dist files, what do you think?

[2015-07-15 12:26] cpieroni commented on #4976
I think having only the javascript library of Cndjs is not enough because to
use Colorbox must also have the css library.

Colorbox examples are starting css then you go to rewrite with your css.

I think to put css (at least the examples) on Cndjs is essential, which
 file put is your choice. XD

2015-07-15 14:12 GMT+02:00 Peter Dave Hello <notifications@github.com>:

--

Cristiano Pieroni
*Web f

[2015-07-15 12:27] #4980 closed

[2015-07-15 12:44] ugate opened #4992 "[Request] nouislider v8.0.2"
http://refreshless.com/nouislider
https://github.com/leongersen/noUiSlider/

[2015-07-15 12:46] ugate opened #4993 "[Request] materialdesignicons"
https://materialdesignicons.com/
https://github.com/templarian/MaterialDesign/

[2015-07-15 12:48] ugate commented on #4992
http://refreshless.com/nouislider
https://github.com/leongersen/noUiSlider/

[2015-07-15 13:44] PeterDaveHello commented on #4976
@cpieroni Would you mind to open an issue in its repo so that we can discuss with its author?

[2015-07-15 14:49] jarkko-hautakorpi opened #5000 "[Request] angular-dialog-service"

[2015-07-15 16:38] altunyurt opened #5001 "[Request] Add pubsub.js"
https://github.com/mroderick/PubSubJS

[2015-07-15 21:05] byunru opened #5002 "[Request] angularjs-nvd3-directives, angular-bacon.js,dataTables.tableTools.min.js,angular-datatables,jquery.table2excel.js,ng-table.js"
http://cdn.jsdelivr.net/angularjs.nvd3-directives/v0.0.7/angularjs-nvd3-directives.js
http://rawgit.com/lauripiispanen/angular-bacon/master/dist/angular-bacon.js
http://cdn.datatables.net/tabletools/2.2.3/js/dataTables.tableTools.min.js
http://rawgit.com/l-lin/angular-datatables/master/dist/angular-datatables.js
http://rawgit.com/rainabba/jquery-table2excel/master/src/jquery.table2excel.js
http://

[2015-07-15 21:05] drewfreyling commented on #3120
I vote we keep the last mod header!

[2015-07-15 22:07] hiteshsharma opened #5003 "[Request] Add howcomplete.js"
https://github.com/hiteshsharma/howcomplete.js

[2015-07-16 01:37] kenijo opened #5004 "[Request] HintCSS"
http://kushagragour.in/lab/hint/

[2015-07-16 13:25] ellipsisno commented on #4716
"Waiting for cdnjs.org..." has been appearing all morning today, reduces browsing to a crawl. 5 - 10 second wait times before pages load, etc.

[2015-07-16 14:12] tolgaulas opened #5005 "[Request] Justgage.js"
It's currently at http://justgage.com/justgage.js

[2015-07-16 14:28] Watchdog5x5 commented on #4716
Same problem started Jun 13, insane wait time on load of most websites. I have been forced to use other browsers. Only Chrome seems to be effected

[2015-07-16 15:16] PeterDaveHello commented on #4716
@Watchdog5x5  @ellipsisno please provide your location, ISP, etc.

[2015-07-16 15:40] Iorty commented on #4716
Hello. From today i have same problem with Chrome. I get 5-10 seconds delay till the website loads and everything in it is innactive(like search bars, links and etc.) for like another 5 seconds.
Is there any solution to this problem?
P.S. I live in Varna region, Bulgaria. My ISP is Vivacom

[2015-07-16 16:51] Csmbv commented on #4716
Hi all. I had the same issue, I disabled the extension "Fast Video Downloader" and the problem was gone :)

[2015-07-16 17:36] Iorty commented on #4716
@Csmbv Thank you very much! I took your advice and problem is gone. Cheers!

[2015-07-16 19:08] cpriest2 commented on #4716
Csmbv:  signed up for an account simply to tell you "thank you." This has been driving me nuts. SFAICT, cdnjs.org seems to be some kind of clearing service or safety net either Chrome or Avast! or somebody uses to help protect you from bogus websites or malware. I wish Chrome (or whomever) would at least tell us what this is. In any case, FVD has some apparent problems with its safety or it takes

[2015-07-16 19:40] theluckyg commented on #4716
@Csmbv Thank you!

[2015-07-16 20:41] lozandier opened #5008 "[Request] GoogleChrome/dialog-polyfill"

[2015-07-17 01:58] balakkvj commented on #4716
@Csmbv Thank you! I had the same problem of cdnjs.org making the browser too slow. I removed the FVD Plugin and back to normal Chrome.

[2015-07-17 02:22] tatygrassini opened #5009 "[Request] Add flexText"
https://github.com/alexdunphy/flexText

[2015-07-17 02:45] Daaamo commented on #4716
@Csmbv thank you from me as well. Fixed!

[2015-07-17 02:47] PeterDaveHello commented on #4716
Thanks @Csmbv :+1:

[2015-07-17 04:29] ellipsisno commented on #4716
Yeah, that worked, thanks @Csmbv. And to think I had only installed 'FVD' yesterday for the first time. That was quick!

[2015-07-17 06:52] dccfoux opened #5010 "[Request] typeplate"
Started to use this for my newer projects but can't find a good CDN upload of it anywhere!

[2015-07-17 06:59] dccfoux opened #5011 "[Request] Typebase"
https://github.com/devinhunt/typebase.css

[2015-07-17 06:59] dccfoux commented on #5010
https://github.com/typeplate/starter-kit

[2015-07-17 08:00] komarserjio opened #5012 "[Request] Add jquery.AreYouSure"
https://github.com/codedance/jquery.AreYouSure

[2015-07-17 09:48] DevHack opened #5013 "[Request] One Page Scroll"
CDN for https://github.com/peachananr/onepage-scroll

[2015-07-17 10:03] niravshah opened #5014 "[Request] headhesive.js"
https://github.com/markgoodyear/headhesive.js/

[2015-07-17 10:27] evromalarkey opened #5016 "[Request] LightGallery"
https://github.com/sachinchoolur/lightGallery

[2015-07-17 12:46] dimotsai opened #5017 "[Request] msgpack5"
https://github.com/mcollina/msgpack5

[2015-07-17 13:02] dragonzone opened #5018 "[Request] vis.js v4.5.0"

[2015-07-17 15:49] Csmbv commented on #4716
Welcome all, glad I could help )

[2015-07-17 16:15] cpriest2 commented on #4716
@Csmbv : I'm betting there are thousands of perplexed Chrome users wondering what this problem is. Help? You're a freaking superhero. I mean it: you're Batman.

[2015-07-18 00:52] tananaev opened #5019 "[Request] ExtJS 6.0.0 GPL version"

[2015-07-18 08:58] wrufeger opened #5020 "[Request] ng-pdfviewer & pdf.js"
To display pdf inline using angular the following libraries are required:

https://github.com/akrennmair/ng-pdfviewer
https://mozilla.github.io/pdf.js/

Would be great to include these, cause there´s no CDN available yet (just bower)

Thanks

[2015-07-18 19:21] PeterDaveHello commented on #5018
* 895ae33 add vis v4.5.0 Peter Dave Hello 7 hours ago

[2015-07-18 19:21] #5018 closed

[2015-07-19 09:01] vikili opened #5027 "[Request] Add _MyBB-Cssjs-files_"
Hi

Please add a lib of mybb forum software

[2015-07-19 09:10] melbourne2991 opened #5028 "[Request] Add Baobab"
Baobab Tree Library

https://github.com/Yomguithereal/baobab

Awesome stuff, would like to use with codepen :+1:

[2015-07-19 14:29] PeterDaveHello commented on #5019
is this okay for you @tananaev -> 1663121 ?
I'm not sure.

[2015-07-19 17:17] acbarbosa1964 opened #5029 "Add Vegas – Backgrounds and Slideshows"
Vegas is a jQuery/Zepto plugin to add beautiful backgrounds and Slideshows to DOM elements.

http://vegas.jaysalvat.com

Dist Folder:

https://github.com/jaysalvat/vegas/tree/master/dist

[2015-07-19 18:34] maycon016 opened #5031 "[Request] Add _library_name_"
/*!
 * Materialize v0.96.1 (http://materializecss.com)
 * Copyright 2014-2015 Materialize
 * MIT License (https://raw.githubusercontent.com/Dogfalo/materialize/master/LICENSE)
 */
.materialize-red.lighten-5{background-color:#fdeaeb !important}.materialize-red-text.text-lighten-5{color:#fdeaeb !important}.materialize-red.lighten-4{background-color:#f8c1c3 !important}.materialize-red-text.text-light

[2015-07-19 19:10] PeterDaveHello opened #5032 "Support running test on certain lib"
Just focus on certain lib to save time and kick unrelated error.

[2015-07-19 19:11] PeterDaveHello opened #5033 "Support running auto-update on certain lib"
To speed up the auto-update process when we only want to update a certain lib.

[2015-07-19 19:50] jonathanKingston commented on #4599
How does public/packages.min.json get populated? I can see the indexing code mostly uses that with the json containing file size etc.

[2015-07-19 20:04] n370 opened #5035 "[Request] type.js"
https://github.com/nathanford/type.js

[2015-07-19 20:23] temacotta opened #5036 "[Request] Add fluidvids"
https://github.com/toddmotto/fluidvids

[2015-07-20 00:07] davidkeutgens opened #5037 "[Request] Add DefiantJS"
Please add http://www.defiantjs.com.

https://github.com/hbi99/defiant.js

[2015-07-20 03:36] tananaev commented on #5019
It works. Thanks.

Sencha maintains their own CDN service, but starting from version 6.0.0 they don't allow to use it in projects. So, the last GPL version they have there is 5.x.x.

I guess we can close this request now.

[2015-07-20 04:17] #5019 closed

[2015-07-20 04:17] PeterDaveHello commented on #5019
nice

[2015-07-20 10:34] kl3ryk opened #5043 "[Request] Add react-intl"

[2015-07-20 12:13] gorenje opened #5046 "[Request] Add image-picker"
From: https://github.com/rvera/image-picker

please :)

[2015-07-20 14:06] behzadi opened #5047 "[Request] Add persianDatepicker"
https://github.com/behzadi/persianDatepicker

[2015-07-20 17:57] #5028 closed

[2015-07-20 17:59] #5036 closed

[2015-07-20 18:01] #5017 closed

[2015-07-20 18:08] johnie opened #5053 "[Request] Add horsey"
It would be nice if you could add https://github.com/bevacqua/horsey

[2015-07-20 20:27] d-schmidt opened #5054 "[Request] Add angular-google-chart"
https://github.com/angular-google-chart/angular-google-chart

[2015-07-21 00:25] carlburton opened #5056 "[Request] flowchart.js"
Surprised it is not in here !?
https://github.com/adrai/flowchart.js
http://flowchart.js.org/

[2015-07-21 09:31] adambowles opened #5058 "[Request] Add Trumbowyg"
Project GitHub:
https://github.com/Alex-D/Trumbowyg

[2015-07-21 11:27] acis opened #5059 "[Request] jQRangeSlider"

[2015-07-21 14:17] ogewan opened #5060 "cdnjs badge?"
Is there one? If not could someone make one? Possibly showing the most updated version on the cdn?
I would do it if I knew how and or had the time atm.

[2015-07-21 15:55] #5054 closed

[2015-07-21 19:43] d-schmidt commented on #5054
@Piicksarn @PeterDaveHello 4f43162
you fetched the wrong files

[2015-07-22 04:31] Piicksarn commented on #5054
Thank you for your reminder! :))))
I have changed the files!

[2015-07-22 08:20] d-schmidt opened #5066 "[Request] Add angular-chart.js"
https://github.com/jtblin/angular-chart.js
https://jtblin.github.io/angular-chart.js/

[2015-07-22 08:31] BePsvPT opened #5067 "[Request] Library Autosize v3.0.8"
From: https://github.com/jackmoore/autosize

[2015-07-22 10:17] #5037 closed

[2015-07-22 11:38] MisatoTremor opened #5069 "[Request] Add bootstrap-confirmation"
https://github.com/tavicu/bs-confirmation

[2015-07-22 12:57] coderaiser opened #5070 "[Request] Add CodeMirror v5.5.0"
Could you please add CodeMirror [v5.5.0](http://codemirror.net/doc/releases.html).

[2015-07-22 13:03] ravenesque1 opened #5071 "[Request] Sticky Plugin for Jquery"
// Sticky Plugin v1.0.0 for jQuery
// =============
// Author: Anthony Garand
// Improvements by German M. Bravo (Kronuz) and Ruud Kamphuis (ruudk)
// Improvements by Leonardo C. Daronco (daronco)
// Created: 2/14/2011
// Date: 2/12/2012
// Website: http://labs.anthonygarand.com/sticky
// Description: Makes an element on the page stick on the screen as you scroll
//       It will only set the 'top

[2015-07-22 13:03] mbiswajit13 opened #5072 "[Request] lit _image_upload_"
I want image upload plugin

[2015-07-22 13:16] Piicksarn commented on #5067
[Renew git autoupdate config in autosize.js #5073 ](https://github.com/cdnjs/cdnjs/pull/5073)

[2015-07-22 14:12] deepthoughts opened #5074 "[Request] Krona-2.0.js"
Krona.js is currently hosted on sourceforge.net which is down so it would be nice to have Krona-2.0.js library on CDN.

Here is the link to the source files which contains krona-2.0.js in src directory.
http://sourceforge.net/projects/krona/

Thank you

[2015-07-22 14:55] dvrcthewrld opened #5075 "[Request] Add Furtive CSS"
https://github.com/johnotander/furtive

[2015-07-22 19:12] ogewan commented on #5060
for jQuery 3.0.0-alpha1: ![](https://img.shields.io/badge/cdnjs-3.0.0--alpha1-orange.svg)

[2015-07-22 22:49] hoofingames opened #5077 "[Request] Add _library_name_"
I need to store a string for my game which my program will access. It will contain update information

[2015-07-22 23:22] david-06studio opened #5078 "[Request] update 1.5.6 cdnjs version of slick"
please update your version 1.5.6 of slick caroussel... he made a hotfix.
https://github.com/kenwheeler/slick/tree/master/slick

[2015-07-23 06:57] #5016 closed

[2015-07-23 07:00] PeterDaveHello commented on #5060
Maybe we could discuss with https://github.com/badges/shields/ if they want to host this badge? If so, I can write it.

[2015-07-23 07:02] #5053 closed

[2015-07-23 07:09] kalimba opened #5079 "[Request] Add Smoke"
https://github.com/alfredobarron/smoke

[2015-07-23 07:10] xusiyuan841028 opened #5080 "[Request] Add flux"
Please add flux library because I want to use it with reactjs, and refer to:
[https://github.com/facebook/flux](https://github.com/facebook/flux)
[https://www.npmjs.com/package/flux](https://www.npmjs.com/package/flux)

[2015-07-23 08:14] PeterDaveHello commented on #5078
I don't know what's the reason why you open this issue, we have it for almost 2 weeks.
https://cdnjs.com/libraries/slick-carousel/1.5.6
* 110175a add slick-carousel v1.5.6 Peter Dave Hello 12 days ago

[2015-07-23 08:32] #5078 closed

[2015-07-23 08:36] #5070 closed

[2015-07-23 10:01] #5069 closed

[2015-07-23 11:13] PeterDaveHello opened #5084 "[bug] `**` and `*` should not be parsed in test's output"
`**` will be parsed as highlight syntax in test output, `*` seems to be missing, will misleading users, especially the test try to print the correct `package.json` of a lib.

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/24823639-bug-and-should-not-be-parsed-in-test-s-output?utm_campaign=plugin&utm_content=tracker%2F32893&utm_mediu

[2015-07-23 12:46] imanfakhar opened #5085 "jalali-date-picker.js"
$(".jalali-date-picker").find(".jalali-date-year").focusin(function(){var a=$(this).parent("td");$(this).parents(".jalali-date-picker").addClass("focus-date-picker").find(".popover").removeClass().addClass("popover fade in bottom show-years").show().appendTo(a)}),$(".jalali-date-picker").find(".jalali-date-month").focusin(function(){var a=$(this).parent("td");$(this).parents(".jalali-date-picker")

[2015-07-23 12:47] #5085 closed

[2015-07-23 20:09] kostaldavid8 opened #5088 "[Request] Add jQuery-viewport-checker"
https://github.com/dirkgroenen/jQuery-viewport-checker

[2015-07-23 20:45] VictorBjelkholm opened #5089 "[Request] Add window.fetch polyfill"
Repository: https://github.com/github/fetch

**Stats:**
Latest commit 4 days ago, 310 commits since Oct 13, 2014
4040 stars
153 forks

Project for being able to use the `fetch` API in as many places as possible. Would be lovely to have in cdnjs.

Was going to add it myself but the size of this repo is too big at 1291 libraries...

[2015-07-23 21:27] projoomexperts opened #5090 "[Request] https://github.com/jackmoore/zoom/tree/master"

[2015-07-23 22:43] Pedro498 opened #5091 "[Request] bxSlider"
Please add bxSlider.

Repository: https://github.com/stevenwanderski/bxslider-4

[2015-07-23 23:06] eziyadah opened #5092 "[Request] Add _library_name_"

[2015-07-24 05:29] kfll opened #5094 "[Request] Semantic-UI Update"
The latest version is 2.0.7.

http://semantic-ui.com

[2015-07-24 06:13] PeterDaveHello commented on #5085
If you wanna add a new lib, please provide us more info, thanks.

[2015-07-24 06:18] #5079 closed

[2015-07-24 09:14] sinujohn91 opened #5095 "[Request] jquery.smartmenus.js"
Repository: https://github.com/vadikom/smartmenus

[2015-07-24 12:51] the-james-burton opened #5099 "[Request] Add novus/nvd3"
You have the nvd3 version from https://github.com/nvd3-community/nvd3 (172 stars, v1.7.1) but not the version from https://github.com/novus/nvd3 (>3900 stars, v1.8.1).

Are you able to also host the novus version?

[2015-07-24 15:14] nikkimoreaux opened #5103 "[Request] Add xdomain by jpillora"
https://github.com/jpillora/xdomain

[2015-07-24 15:35] TeckniX opened #5104 "[Request] Add BXSlider"
https://github.com/stevenwanderski/bxslider-4

[2015-07-24 16:31] #5094 closed

[2015-07-24 20:33] nt1m opened #5107 "API should sort results by popularity"
When I search for Jquery, jquery appears as one of the last results. The results aren't relevant if you only show the 10 first results.
If you can't do that, please at least add a popularity field (represented by the number of requests perhaps).

[2015-07-24 20:36] nt1m commented on #5107
Seems sorted by newest library right now

[2015-07-25 02:56] PeterDaveHello commented on #5107
Maybe we can add a parameter to choose the order.

[2015-07-25 03:00] #5043 closed

[2015-07-25 08:07] tomkwok commented on #4605
@PeterDaveHello

Tinypng is not awesome, nor valuable. It's basically an online PNG quantizer with an API. pngquant, an open-source command line tool, does exactly the job. https://pngquant.org/

I think a CDN service shouldn't do lossy compression on image resources in the first place, but rather, lossless compression of PNG files using optipng or other tools. Refer to http://css-ig.net/png-tools

[2015-07-25 08:17] PeterDaveHello commented on #4605
@tomkwok Yeah you are right, I forgot to update this issue, we only use optipng to do lossless compress :)

[2015-07-25 08:23] tomkwok commented on #4605
@PeterDaveHello And I have one question to ask. https://github.com/cdnjs/cdnjs/issues/3638 is totally confusing. How can I request a new library to be added to the cdnjs repo now? From the commit logs, it seems like you are manually adding new libraries or doing version updates of existing libraries.

[2015-07-25 08:35] tomkwok opened #5109 "[Request] Add bootstrap-fileinput, ngInfiniteScroll, angular-bootstrap-switch and ng-showdown"
- https://github.com/kartik-v/bootstrap-fileinput
- https://github.com/sroze/ngInfiniteScroll
- https://github.com/frapontillo/angular-bootstrap-switch
- https://github.com/showdownjs/ng-showdown

ng-showdown doesn't have 100 stars, as it is recently split from the showdown.js core.
From https://github.com/showdownjs/showdown/releases:

If you're using angular integration, you should install ng-sh

[2015-07-25 08:43] PeterDaveHello commented on #4605
https://github.com/cdnjs/cdnjs#enabling-gitrecommended-or-npm-auto-update

I think you should better open a new issue to ask/discuss an un-related question.

[2015-07-25 08:59] tomkwok commented on #5109
@PeterDaveHello Thanks for your reply. I'm sorry that I asked questions in the wrong place.

[2015-07-25 15:23] #5080 closed

[2015-07-25 17:42] acbarbosa1964 opened #5111 "[Request] Add Animations"
Animations v2.1
https://github.com/joemottershaw/
**npm package url(optional):**
http://www.cloud-eight.com
, Copyright 2014, Joe Mottershaw,

=====================
Notes from cdnjs maintainer:
You are welcome to add a library via sending pull request,
it'll be faster then just opening a request issue,
and please don't forget to read the guidelines for contributing, thanks!!

[2015-07-25 18:38] ollie314 opened #5113 "Doctype tag for website malformed"
Hi,
It appears that an typo has been recently introduce in the cdnjs website page.
It missed the first "<"

[code]

[2015-07-26 00:04] db0company opened #5115 "[Request] Add OverlappingMarkerSpiderfier"
**Library name:** OverlappingMarkerSpiderfier
**Git repository url:** https://github.com/jawj/OverlappingMarkerSpiderfier
**npm package url(optional):**
**Official homepage:** https://github.com/jawj/OverlappingMarkerSpiderfier
**Wanna say something? Leave message here:**

=====================
Notes from cdnjs maintainer:
You are welcome to add a library via sending pull request,
it'll be faster

[2015-07-26 01:30] donsequitur opened #5116 "[Request] Dexie.js"
**Library name:** Dexie.js
**Git repository url:** https://github.com/dfahlander/Dexie.js
**npm package url(optional):**
**Official homepage:** http://www.dexie.org/
**Wanna say something? Leave message here:**

=====================
Notes from cdnjs maintainer:
You are welcome to add a library via sending pull request,
it'll be faster then just opening a request issue,
and please don't forget to

[2015-07-26 14:24] PeterDaveHello commented on #5113
Sorry, my fault, @ryankirkman fixed in https://github.com/cdnjs/new-website/commit/dccd93325f93de91b29bcc4e98365924625820c9, thanks.

[2015-07-26 14:24] #5113 closed

[2015-07-26 14:38] ankit31894 opened #5128 "[Request] math-expression-evaluator"
**Library name:math-expression-evaluator**
**Git repository url:https://github.com/ankit31894/math-expression-evaluator.git**
**npm package url(optional):https://www.npmjs.com/package/math-expression-evaluator**
**Official homepage:http://ankit31894.github.io/math-expression-evaluator/**
**No message**

=====================
Notes from cdnjs maintainer:
You are welcome to add a library via sending

[2015-07-26 16:13] CrossEye opened #5129 "ramda not being updated to latest NPM version [author]"
I raised a similar issue in #4474, and learned that I simply hadn't been patient enough.  But it's been five days since the NPM release.  Are we doing something wrong that's causing this not to auto-update on some occasions?

[2015-07-26 22:34] alexpmorris opened #5130 "[Request] Add pako"
**Library name:pako**
**Git repository url:https://github.com/nodeca/pako.git**
**npm package url(optional):npm install pako**
**Official homepage:http://nodeca.github.io/pako/**
**Wanna say something? Leave message here:high speed zlib port to javascript, works in browser & node.js**

=====================
Notes from cdnjs maintainer:
You are welcome to add a library via sending pull request,
it'

[2015-07-27 00:49] PeterDaveHello commented on #5129
https://github.com/cdnjs/cdnjs/issues/4487

[2015-07-27 02:18] tntk90 opened #5131 "[Request]createjs"
**Library name:**
**Git repository url:**
**npm package url(optional):**
**Official homepage:**
**Wanna say something? Leave message here:**

=====================
Notes from cdnjs maintainer:
You are welcome to add a library via sending pull request,
it'll be faster then just opening a request issue,
and please don't forget to read the guidelines for contributing, thanks!!

[2015-07-27 02:39] #5129 closed

[2015-07-27 02:40] CrossEye commented on #5129
Is there something I can/should do to get Ramda's latest version included?  Just a standard PR with the latest repo included?  Something else?

If you're looking for help with open issue #4487, I can attempt to offer a hand.  I'm new to the codebase, but have been taking advantage of this tool without giving back.  I'm willing to help if I can.  But I'd appreciate a pointer as to where to start lo

[2015-07-27 02:41] CrossEye commented on #5129
Well, looks like funny timing!  I guess this version was just added.

I'm still willing to try my hand at the code, if you don't have anyone with more experience who has the time to do it.

[2015-07-27 02:51] freshsun opened #5132 "[Request] Add libsodium.js"
**Library name:** libsodium
**Git repository url:** https://github.com/jedisct1/libsodium.js
**npm package url(optional):** https://github.com/paixaop/node-sodium
**Official homepage:** https://download.libsodium.org/doc/
**Wanna say something? Leave message here:**

=====================
Notes from cdnjs maintainer:
You are welcome to add a library via sending pull request,
it'll be faster then j

[2015-07-27 03:00] CrossEye commented on #5129
And once again @PeterDaveHello, thanks for your help!

[2015-07-27 04:39] alanrsoares opened #5133 "[Request] u-semver"
**Library name:** μ-semver
**Git repository url:** https://github.com/alanrsoares/u-semver
**npm package url(optional):** https://www.npmjs.com/package/u-semver
**Official homepage:** https://github.com/alanrsoares/u-semver
**Wanna say something? Leave message here:**

=====================
Notes from cdnjs maintainer:
You are welcome to add a library via sending pull request,
it'll be faster then

[2015-07-27 05:23] PeterDaveHello commented on #5129
@CrossEye Thank you for your report, I added this by some tricks, not a normal update process, in fact, there is a repo called [cdnjs/autoupdate](https://github.com/cdnjs/autoupdate), I'll add npm auto-update support in it when I have time and remove [auto-update.js](https://github.com/cdnjs/cdnjs/blob/master/auto-update.js), you are welcome to join us, the todo list is opened as issues in https:/

[2015-07-27 05:42] melbourne2991 opened #5134 "[Request] famo.us engine"
famo.us
https://github.com/Famous/engine
famo.us

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/25004795-request-famo-us-engine?utm_campaign=plugin&utm_content=tracker%2F32893&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tracker%2F32893&ut

[2015-07-27 05:43] melbourne2991 opened #5135 "famo.us framework"
famo.us
https://github.com/Famous/framework
famo.us
I submitted a different request for the engine, this is the framework.

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/25004819-famo-us-framework?utm_campaign=plugin&utm_content=tracker%2F32893&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www

[2015-07-27 05:58] kiemthu123 opened #5136 "[Request] Add flat-ui"
**Library name: Flat UI**
**Git repository url: https://github.com/designmodo/Flat-UI.git**
**npm package url(optional):**
**Official homepage: http://designmodo.github.io/Flat-UI/**
**Wanna say something? Leave message here:**

=====================
Notes from cdnjs maintainer:
You are welcome to add a library via sending pull request,
it'll be faster then just opening a request issue,
and please

[2015-07-27 08:07] sitexw opened #5137 "[Request] Add FuckAdBlock & BlockAdBlock"
**Library name:** FuckAdBlock & BlockAdBlock
**Git repository url:** https://github.com/sitexw/FuckAdBlock
**Git repository url:** https://github.com/sitexw/BlockAdBlock
**npm package url(optional):** https://www.npmjs.com/package/fuckadblock
**npm package url(optional):** https://www.npmjs.com/package/blockadblock
**Official homepage:** http://sitexw.fr/fuckadblock/
**Wanna say something? Leave m

[2015-07-27 12:45] PeterDaveHello commented on #5104
Duplicated with #5091.

[2015-07-27 12:45] #5104 closed

[2015-07-27 12:45] PeterDaveHello commented on #5092
No content.

[2015-07-27 12:45] #5092 closed

[2015-07-27 12:47] PeterDaveHello commented on #5077
Any detail?

[2015-07-27 13:07] PeterDaveHello commented on #5031
What's this?

[2015-07-27 13:46] #5012 closed

[2015-07-27 13:46] #5088 closed

[2015-07-27 13:46] #5091 closed

[2015-07-27 13:46] #5099 closed

[2015-07-27 13:46] #5116 closed

[2015-07-27 13:46] #5130 closed

[2015-07-27 13:46] #5136 closed

[2015-07-27 15:17] TeckniX commented on #5104
:+1:

[2015-07-27 15:20] ollie314 opened #5138 "Javascript toString error"
Hi,
Another issue in the listing. For instance, looking for angular js. Going on the listing page and get the following result.

[code]

No info in console, sorry.

[2015-07-27 15:28] PeterDaveHello commented on #5138
Hi @ollie314, thanks for your report, I forgot to fully rebuild the artifacts/meta data after https://github.com/cdnjs/cdnjs/commit/dfc98cb8830b2ac2ecd31129ccf11ae53a8d3029, fixing now!

[2015-07-27 15:42] #5029 closed

[2015-07-27 15:46] PeterDaveHello commented on #5138
Fixed!

[2015-07-27 15:46] #5138 closed

[2015-07-27 17:44] ekeitho opened #5141 "library-url output error"
cdnjs is currently outputting objects items, instead of file names.
https://cdnjs.com/libraries/backbone.js
https://cdnjs.com/libraries/require.js
https://cdnjs.com/libraries/semantic-ui

ie)
https://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.2.1/[object Object]
https://cdnjs.cloudflare.com/ajax/libs/require.js/2.1.19/[object Object]
https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.0.7/[obje

[2015-07-27 18:11] ekeitho commented on #5141
seems like this just got fixed, sweet!

[2015-07-27 18:11] #5141 closed

[2015-07-27 18:14] swcheon opened #5143 "[Request] Update jQuery Countdown 2.0.2"
Library name: jQuery Countdown
Git repository url: None
npm package url(optional): None
Official homepage: http://keith-wood.name/countdown.html
Wanna say something? Leave message here: New version! 2.0.2. Please update :)
#

Notes from cdnjs maintainer:
You are welcome to add a library via sending pull request,
it'll be faster then just opening a request issue,
and please don't forget to read the

[2015-07-27 19:05] seungjulee opened #5144 "[Request] Add fixed-data-table"
fixed-data-table
https://github.com/facebook/fixed-data-table
https://www.npmjs.com/package/fixed-data-table
https://facebook.github.io/fixed-data-table/
Thank you :+1: :)

=====================
Notes from cdnjs maintainer:
You are welcome to add a library via sending pull request,
it'll be faster then just opening a request issue,
and please don't forget to read the guidelines for contributing, t

[2015-07-27 19:18] PeterDaveHello commented on #5141
Thanks for your report.

[2015-07-27 19:20] #5000 closed

[2015-07-27 19:22] #5014 closed

[2015-07-27 22:47] jasperSpeicher opened #5145 "[Request] Please update d3-tip"
**Library name: d3-tip**
**Git repository url: https://github.com/Caged/d3-tip**
**npm package url(optional): d3-tip**
**Official homepage: https://github.com/Caged/d3-tip**
**There is a feature in 0.67 that is missing in 0.63, and it breaks a jsfiddle**

[2015-07-28 02:06] sanusi87 opened #5147 "[Request] Flexisel – Responsive Carousel jQuery Plugin"
**Library name:Flexisel – Responsive Carousel jQuery Plugin**
**Git repository url:https://github.com/9bitStudios/flexisel/**
**npm package url(optional):**
**Official homepage:http://9bitstudios.github.com/flexisel/**
**Wanna say something? Leave message here:**

=====================
Notes from cdnjs maintainer:
You are welcome to add a library via sending pull request,
it'll be faster then just

[2015-07-28 02:38] #4929 closed

[2015-07-28 02:40] #5089 closed

[2015-07-28 02:41] #5071 closed

[2015-07-28 04:43] DDRBoxman opened #5149 "[Request] jquery-ajax-native"
jquery-ajax-native
https://github.com/acigna/jquery-ajax-native
https://www.npmjs.com/package/jquery-ajax-native
https://github.com/acigna/jquery-ajax-native

[2015-07-28 06:24] #5066 closed

[2015-07-28 06:43] binarykitchen commented on #4929
thanks heaps guys - really much appreciated!

videomail is still in an early stage and see how popularity grows. i need that CDN for my next plan: a wordpress plugin and because that's PHP world without npm, the CDN is the way to go.

[2015-07-28 08:05] VictorBjelkholm commented on #5089
Awesome! Thanks a lot :+1:

[2015-07-28 08:20] mardafirmansyah opened #5150 "[Request] Add FezVrasta/dropdown.js"
FezVrasta/dropdown.js
https://github.com/FezVrasta/dropdown.js

Finally a dropdown plugin that transforms select inputs in nice dropdowns and does not drive you crazy.

[2015-07-28 08:53] josdejong commented on #3764
@PeterDaveHello I just released math.js v2.0.0, but I see the previous version, v1.7.1 is still missing on cdnjs. This version was released more than two weeks ago. Would be great if you could add both versions to cdnjs. Thanks!

[2015-07-28 09:55] noofaq opened #5152 "jScrollPane library path change"
Path worked for months until recent times:
https://cdnjs.cloudflare.com/ajax/libs/jScrollPane/2.0.14/jquery.jscrollpane.min.js

Path which works now:
https://cdnjs.cloudflare.com/ajax/libs/jScrollPane/2.0.14/script/jquery.jscrollpane.js

It seems that subdirectory "script/" was added - it has broken quite a number of applications where old path was used.

[2015-07-28 11:21] dieppon opened #5154 "[Request] Add bigSlide.js"
**Library name:** bigSlide.js
**Git repository url:** https://github.com/ascott1/bigSlide.js
**npm package url(optional):** https://www.npmjs.com/package/bigslide
**Official homepage:** http://ascott1.github.io/bigSlide.js/
**Wanna say something? Leave message here:**

=====================
Notes from cdnjs maintainer:
You are welcome to add a library via sending pull request,
it'll be faster then

[2015-07-28 11:30] #5145 closed

[2015-07-28 12:07] PeterDaveHello commented on #3764
Hi @josdejong, hanks for your report and sorry about that, I opened a issue here #4487, I'll pick the new version now and tansfer this lib to use a more reliable git auto-update mechanism!

[2015-07-28 12:08] josdejong commented on #3764
Thanks a lot! Keep up the good work.

[2015-07-28 12:18] PeterDaveHello commented on #3764
* f8c361e transfer mathjs to use git auto-update Peter Dave Hello 2 minutes ago

[2015-07-28 15:15] gmmeyer opened #5156 "[Request] Add flowthings"
**Library name:** flowthings browser client
**Git repository url:** https://github.com/flowthings/browser-client
**npm package url(optional):** https://www.npmjs.com/package/flowthings-browser
**Official homepage:** https://flowthings.io
**Wanna say something? Leave message here:**

=====================
Notes from cdnjs maintainer:
You are welcome to add a library via sending pull request,
it'll

[2015-07-28 15:40] daleyjem opened #5157 "[Request] jquery.panzoom"
**jquery.panzoom**
**https://github.com/timmywil/jquery.panzoom**
**http://timmywil.github.io/jquery.panzoom/**

=====================
Notes from cdnjs maintainer:
You are welcome to add a library via sending pull request,
it'll be faster then just opening a request issue,
and please don't forget to read the guidelines for contributing, thanks!!

[2015-07-28 16:40] lintaba opened #5159 "[Request] Add nomnoml"
nomnoml
https://github.com/skanaar/nomnoml
nomnoml
http://www.nomnoml.com/
I'd like to integrate this to the markdown preview module, so it'd be awesome if you could host this project :)

[2015-07-28 17:51] lcarradas opened #5160 "[Request] bttrlazyloading.min.js"
**Library name:** bttrlazyloading
**Git repository url:** https://github.com/shprink/BttrLazyLoading
**npm package url(optional):**
**Official homepage:** http://bttrlazyloading.julienrenaux.fr/
**Wanna say something? Leave message here:**

=====================
Notes from cdnjs maintainer:
You are welcome to add a library via sending pull request,
it'll be faster then just opening a request issue

[2015-07-28 19:49] giovannipds opened #5161 "[Request] smooth-scroll"
**Library name:** smooth-scroll
**Git repository url:** https://github.com/cferdinandi/smooth-scroll
**npm package url(optional):** cferdinandi/smooth-scroll
**Official homepage:** https://github.com/cferdinandi/smooth-scroll
**Wanna say something? Leave message here:** I really thought in sending a pull request, but the README sounded confusing, with that "IMPORTANT" message at the beginning and

[2015-07-28 21:35] ismarslomic opened #5162 "[Request] Add moment.js v2.10.6"
**Library name:** moment.js
**Git repository url:** https://github.com/moment/moment
**npm package url(optional):**
**Official homepage:** http://momentjs.com/
**Wanna say something? Leave message here:** Can you please update moment.js to the latest version (v2.10.6)? Thanks!

=====================
Notes from cdnjs maintainer:
You are welcome to add a library via sending pull request,
it'll be fa

[2015-07-28 21:43] #5046 closed

[2015-07-28 21:54] ichernev commented on #5162
Can we make this auto update? @ismarslomic check the cdnjs docs about auto-update and to a PR (here). I won't have enough time in the next few weeks.

[2015-07-28 22:02] PeterDaveHello commented on #5162
I think we have npm auto-update already:
https://github.com/cdnjs/cdnjs/blob/master/ajax/libs/moment.js/package.json#L3-L18
[code]

Though we have problem on npm auto-update: #4487

But we'll spend time on auditing the update:
https://github.com/cdnjs/cdnjs/#enabling-gitrecommended-or-npm-auto-update

[2015-07-28 22:03] PeterDaveHello commented on #5162
And we also have git auto-update, which is more reliable but not so powerful like it doesn't have multi filemap feature as npm auto-update yet.

[2015-07-28 22:18] ismarslomic commented on #5162
Thanks for quick replies. I just wonder if it is any chance to get the latest version out on cdnjs.com while you are working with fixing this bug, as I would really like to use this version in my web app asap. Thanks a lot again!

[2015-07-28 22:44] #5162 closed

[2015-07-29 01:58] steadiest opened #5164 "[Request] Add qrcode.js"
**Library name: qrcode.js
*_Git repository url: https://github.com/davidshimjs/qrcodejs
*_npm package url(optional):**
**Official homepage: http://davidshimjs.github.io/qrcodejs/
**Wanna say something? Leave message here:**
#

Notes from cdnjs maintainer:
You are welcome to add a library via sending pull request,
it'll be faster then just opening a request issue,
and please don't forget to read th

[2015-07-29 06:06] raulmatei opened #5165 "[Request] Add NuclearJS"
**Library name:** NuclearJS
**Git repository url:** https://github.com/optimizely/nuclear-js
**npm package url(optional):** https://www.npmjs.com/package/nuclear-js
**Official homepage:** https://optimizely.github.io/nuclear-js/
**Wanna say something? Leave message here:**

=====================
Notes from cdnjs maintainer:
You are welcome to add a library via sending pull request,
it'll be faster

[2015-07-29 07:14] PeterDaveHello commented on #5165
@raulmatei Please add lib's name in the title next time, thank you!

[2015-07-29 08:10] raulmatei commented on #5165
Sorry for that.

[2015-07-29 08:44] gorenje commented on #5046
Cool, thank you :+1:

[2015-07-29 10:32] #5013 closed

[2015-07-29 10:34] #5160 closed

[2015-07-29 10:47] #5165 closed

[2015-07-29 13:44] #5004 closed

[2015-07-29 15:38] happilymarrieddad opened #5173 "[Request] Add socketcluster"
**Library name:**
socketcluster-client

**Git repository url:**
https://github.com/SocketCluster/socketcluster-client

**npm package url(optional):**
https://libraries.io/npm/socketcluster-client-ws

**Official homepage:**
socketcluster.io

**Wanna say something? Leave message here:**
I love socketcluster and I thought it would be nice to be able to use a CDN instead of having to include the file(

[2015-07-29 20:12] acopalipsis opened #5174 "[Request] Add angular-video-bg"
**Library name: angular-video-bg**
**Git repository url: https://github.com/kanzelm3/angular-video-bg.git**
**npm package url(optional): non**
**Official homepage: http://kanzelm3.github.io/angular-video-bg/**
**Wanna say something? Leave message here: angular-video-bg is an Angular.js YouTube video background player directive. It stresses simplicity and performance.**

=====================
Notes

[2015-07-29 20:29] joekrie opened #5175 "[Request] dragula"
**Library name:** dragula
**Git repository url:** https://github.com/bevacqua/dragula
**npm package url(optional):**  https://www.npmjs.com/package/dragula
**Official homepage:** http://bevacqua.github.io/dragula
**Wanna say something? Leave message here:**
Drag and drop library

=====================
Notes from cdnjs maintainer:
You are welcome to add a library via sending pull request,
it'll be

[2015-07-30 06:35] #5067 closed

[2015-07-30 06:36] #5157 closed

[2015-07-30 07:17] AliMD opened #5176 "[Feature Request] Auto-update"
Could you please add auto update feature like [this](https://github.com/jsdelivr/jsdelivr#auto-updating)

[2015-07-30 09:46] PeterDaveHello commented on #5176
Which feature of auto-update you want to have @AliMD ? We have auto-update mechanism for a long time.

[2015-07-30 15:06] gritzko opened #5178 "[Request] add tape-dom"
tape-dom
It is a DOM pretty printer for the [tape unit testing lib](https://www.npmjs.com/package/tape)
https://github.com/gritzko/tape-dom
https://www.npmjs.com/package/tape-dom

I mostly want to host tape.css so the library may add the stylesheet programmatically.

[2015-07-30 16:57] ogewan opened #5179 "[Request] comix-ngn [author]"
Please add [comix-ngn](https://github.com/ogewan/comix-ngn), master branch.

[2015-07-30 17:58] AliMD commented on #5176
I don't see that!
I think we must update new versions manually

On Thu, Jul 30, 2015, 2:16 PM Peter Dave Hello <notifications@github.com>
wrote:

[2015-07-30 19:41] #5128 closed

[2015-07-31 04:51] tomkwok opened #5180 "[Request] Add ng-showdown"
**Library name:** ng-showdown
**Git repository url:** https://github.com/showdownjs/ng-showdown
**npm package url(optional):**
**Official homepage:** https://github.com/showdownjs/ng-showdown
**Wanna say something? Leave message here:**
ng-showdown doesn't have 100 stars, as it is recently split from the showdown.js core. Now ng-showdown is required for angular integration.
From https://github.com

[2015-07-31 05:00] tomkwok opened #5181 "[Request] Add ngInfiniteScroll"
**Library name:** ngInfiniteScroll
**Git repository url:** https://github.com/sroze/ngInfiniteScroll
**npm package url(optional):**
**Official homepage:** http://sroze.github.io/ngInfiniteScroll/
**Wanna say something? Leave message here:**

[2015-07-31 05:01] #5109 closed

[2015-07-31 05:01] tomkwok opened #5182 "[Request] Add bootstrap-fileinput"
**Library name:** bootstrap-fileinput
**Git repository url:** https://github.com/kartik-v/bootstrap-fileinput
**npm package url(optional):**
**Official homepage:** https://github.com/kartik-v/bootstrap-fileinput
**Wanna say something? Leave message here:**

[2015-07-31 06:31] ashok1994 opened #5183 "[Request] AFC"
**Library name:AFC**
**Git repository url:https://github.com/ashok1994/afc.git**
**npm package url(optional):**
**Official homepage:amiyasfoodcourt.in**
**Wanna say something? Leave message here:**

=====================
Notes from cdnjs maintainer:
You are welcome to add a library via sending pull request,
it'll be faster then just opening a request issue,
and please don't forget to read the guid

[2015-07-31 06:56] PeterDaveHello commented on #5176
Did you read our readme.md?

[2015-07-31 07:28] tidusvn05 opened #5184 "[Request] RiotGear"
**Library name: Riotgear**
**Git repository url: https://github.com/RiotGear/rg **
**npm package url(optional):**
**Official homepage: https://riotgear.github.io**
**Wanna say something? Leave message here:**

=====================
Notes from cdnjs maintainer:
You are welcome to add a library via sending pull request,
it'll be faster then just opening a request issue,
and please don't forget to re

[2015-07-31 09:17] Piicksarn commented on #5164
[ Consider adding tags for the repo. #60 ](https://github.com/davidshimjs/qrcodejs/issues/60)

[2015-07-31 09:54] wolf-w opened #5186 "[Request] jTabs"
**jTabs**
**https://github.com/wolf-w/jTabs/**
**Sweet material tabs**

=====================
Notes from cdnjs maintainer:
You are welcome to add a library via sending pull request,
it'll be faster then just opening a request issue,
and please don't forget to read the guidelines for contributing, thanks!!

[2015-07-31 11:03] rexopl opened #5188 "Select reinitialization drops carret."
There is a problem with selects when updating/reinitializing (without page refresh) in version 0.97.
I rebuild selects like this:
$('select').material_select('destroy');
$('select').material_select();

After every rebuild there is one more carret symbol next to updated selects.
This problem started with 0.97 version.

Same problem when updating without destroy:
$('select').material_select();

Atta

[2015-07-31 11:05] minhlaobao opened #5189 "CSS"
*{
    display: none !important;
}

body{
    display: none !important;
}

[2015-07-31 12:29] PeterDaveHello commented on #5189
Would you please explain what is this?

[2015-07-31 12:30] PeterDaveHello commented on #5188
Is this a problem of cdnjs?

[2015-07-31 12:31] rexopl commented on #5188
Ooops sorry wrong git :)!

[2015-07-31 12:36] #5188 closed

[2015-07-31 14:58] IamSwap opened #5190 "[Request] Add Vue Router"
**Library name: Vue Router**
**Git repository url: https://github.com/vuejs/vue-router**
**npm package url(optional):**
**Official homepage: https://github.com/vuejs/vue-router**
**Wanna say something? Leave message here:**
Official Vue js addon library

=====================
Notes from cdnjs maintainer:
You are welcome to add a library via sending pull request,
it'll be faster then just opening a

[2015-07-31 16:25] PeterDaveHello opened #5191 "Wrong files in sinon.js"
@glenpike said on gitter channel:

[2015-07-31 16:37] digitalsurgeon opened #5192 "[Request] Add piklor"
**Library name:** piklor.js
**Git repository url:** https://github.com/jillix/piklor.js
**npm package url(optional):**
**Official homepage:** http://jillix.github.io/piklor.js
**Wanna say something? Leave message here:** Its a cool and very pretty color picker.

[2015-07-31 16:59] #5191 closed

[2015-07-31 19:58] aderbas opened #5193 "[Request] angular-leaflet-directive"
**Library name:** angular-leaflet-directive
**Git repository url:** https://github.com/tombatossals/angular-leaflet-directive
**npm package url(optional):**
**Official homepage:** http://tombatossals.github.io/angular-leaflet-directive/#!/
**Wanna say something? Leave message here:** Please #)

=====================
Notes from cdnjs maintainer:
You are welcome to add a library via sending pull req

[2015-08-01 00:06] PeterDaveHello opened #5194 "Enrich these libs' package.json [repository]"
These libs don't have both `repository` & `repositories`, maybe even don't have some other common fields, should add more info in there package.json to help us maintain these libs.

Example:
https://github.com/cdnjs/cdnjs/commit/1a384ede062c59c3b1663383ef017791dc834975

Lib list:
- [ ] 1140
- [ ] amcharts
- [ ] ammaps
- [ ] amstockchart
- [ ] boexfi - no repo
- [ ] canvasjs - no repo
- [ ] casualj

[2015-08-01 00:09] PeterDaveHello commented on #5194
cc @Piicksarn @maruilian11 @LeaYeh @Amomo
Please take this issue, add mention #5194 in each PR's comment, thanks.

[2015-08-01 00:17] PeterDaveHello opened #5195 "Point filename field to minified file"
These is the value `filename` field without suffix `.min.` in the libs we hosted, not sure if they are already minified or not, **may even not be correct**, the filename field should point to a minified and production mainfile. for example, see this commit for js-data: 2703d3b.
- [x] browser.js
- [x] svg-morpheus.js
- [x] ace.js
- [x] com.iskitz.ajile.js
- [x] amcharts.js
- [x] ammap.js
- [x] amst

[2015-08-01 11:32] NamPNQ opened #5196 "[Request] Add At.js"
**Library name:** At.js
**Git repository url:** https://github.com/ichord/At.js
**npm package url(optional):**
**Official homepage:**
**Wanna say something? Leave message here:**

[2015-08-01 14:28] Piicksarn commented on #5196
#5198 Add at.js v1.3.2 with git auto-update, close #5196

[2015-08-01 15:27] NamPNQ commented on #5196
@Piicksarn Tks for fast :dancer:

[2015-08-01 15:38] fsiddiqi opened #5200 "[Request] Add gentelella"
**Library name: gentelella
**Git repository url: https://github.com/kimlabs/gentelella
**npm package url(optional):**
**Official homepage: http://demo.kimlabs.com/gentelella/production/index.html
**Wanna say something? Leave message here:**

=====================
Notes from cdnjs maintainer:
You are welcome to add a library via sending pull request,
it'll be faster then just opening a request issu

[2015-08-01 16:37] sethlivingston commented on #5195
@PeterDaveHello The files on CDNJS (as soon as https://github.com/cdnjs/cdnjs/pull/5201 gets approved) will point to the minified versions. Our Bower distribution (stampit-org/bower) also has minified versions. Is this what you are referring to?

[2015-08-01 16:51] #5175 closed

[2015-08-01 16:53] maruilian11 commented on #5195
ace.js is not minified.

[2015-08-01 16:57] PeterDaveHello commented on #5195
`browser.js` belongs to `6to5`

[2015-08-01 17:01] PeterDaveHello commented on #5195
See: https://cdnjs.com/#q=browser.js

[2015-08-01 17:11] maruilian11 commented on #5195
<code>browser.js, svg-morpheus.js,  amcharts/3.13.0</code> is minified.

[2015-08-01 17:14] PeterDaveHello commented on #5195
Thanks!

[2015-08-01 17:29] Piicksarn commented on #5195
OpenLayers.js
sea.js
sbt-core-dojo-amd.js
sha.js
spf.js
system.js
shaka-player.compiled.js
script/GeoExt.js

are minified.

[2015-08-01 17:36] PeterDaveHello commented on #5195
Thanks @Piicksarn.

List updated.

[2015-08-01 19:46] maruilian11 commented on #5195
ic_beenhere_24px.svg is an icon, is there something wrong?

[2015-08-01 20:17] maruilian11 commented on #5195
minified:
* ammap.js
* amcharts.js
* aui.js
* basics.css
* ckeditor.js
* cookies-monster.js
* md5.js
* load1.css
* PIE_IE678.js
* diff_match_patch.js
* document-register-element.js
* dom4.js
* echarts.js
* eddy.dom.js
* es-class.js
* jquery.fancybox.pack.js
* highcharts.js
* highmaps.js
* highstock.js
* hprose-html5.js
* ie8.js
* jquery.serialize-object.compiled.js
* jquery.carouFredSel.packed.js

[2015-08-01 23:21] justinanastos opened #5207 "[Request] Add react-bootstrap"
**Library name: react-bootstrap**
**Git repository url:https://github.com/react-bootstrap/react-bootstrap**
**npm package url(optional): https://www.npmjs.com/package/react-bootstrap**
**Official homepage: http://react-bootstrap.github.io/**

[2015-08-02 00:05] justinanastos opened #5208 "[Request] Add classnames"
classnames
https://github.com/JedWatson/classnames
https://www.npmjs.com/package/classnames

[2015-08-02 05:34] Piicksarn commented on #5195
Wow!!! THANK YOU! maruilian11!:grinning::grinning::grinning:

[2015-08-02 05:58] PeterDaveHello commented on #5195
Nice job @maruilian11, list updated.

[2015-08-02 05:58] PeterDaveHello commented on #5195
And where is @LeaYeh @Amomo ?

[2015-08-02 07:01] Amomo commented on #5195
I am following~
I would finish the PR's checking work first. I am late for reply.
After that I will concerned about these two issues.

[2015-08-02 12:43] Amomo commented on #5195
I think `amstock.js` is minified.

[2015-08-02 13:14] jonhkr opened #5212 "[Request] Add Remodal"
**Library name:** Remodal
**Git repository url:** https://github.com/VodkaBears/Remodal
**npm package url(optional):** https://www.npmjs.com/package/remodal
**Official homepage:** http://vodkabears.github.io/remodal/
**Wanna say something? Leave message here:** Thanks

[2015-08-02 13:19] PeterDaveHello commented on #5195
Updated.

[2015-08-02 14:51] anadimisra opened #5213 "[Request] angular-recaptcha"
**Library name:** angular-recaptcha
**Git repository url:** https://github.com/VividCortex/angular-recaptcha.git
**npm package url(optional):** https://www.npmjs.com/package/angular-recaptcha
**Official homepage:** https://github.com/VividCortex/angular-recaptcha
**Wanna say something? Leave message here:** I do not own this library, however, it will be great if it can be inluded in the CDN

=====

[2015-08-02 15:03] Amomo commented on #5195
You have merge PR #5206 , so I think `backbone.modal-bundled.js` could be checked.
And, `com.iskitz.ajile.js` is a minified file.

[2015-08-02 17:39] PeterDaveHello commented on #5195
Updated.

[2015-08-02 18:40] Sheldan opened #5216 "[Request] Add videogular"
**Library name:** videogular
**Git repository url:** https://github.com/2fdevs/videogular
**npm package url(optional):**
**Official homepage:** http://www.videogular.com/
**Wanna say something? Leave message here:**
They also have some plugins to their main library here:
https://github.com/search?q=user%3A2fdevs+bower-
I add this here, as I didn't want to create issues for all of them.

[2015-08-02 18:49] nativeimaging opened #5217 "[Request] SmoothScroll"
**Library name:** SmoothScroll
**Git repository url:** https://gist.github.com/galambalazs/6477177
**npm package url(optional):**
**Official homepage:** https://gist.github.com/galambalazs/6477177
**Wanna say something? Leave message here:** The best simple smooth scroller ever

=====================
Notes from cdnjs maintainer:
You are welcome to add a library via sending pull request,
it'll be f

[2015-08-02 18:55] PeterDaveHello commented on #5217
Would you mind to ask if the author wanna create a repo for this lib?

[2015-08-02 19:04] #5176 closed

[2015-08-03 01:20] Javichino opened #5218 "[Request] angular-gravatar"
**Library name: angular-gravatar
**Git repository url: https://github.com/wallin/angular-gravatar
**npm package url(optional): angular-gravatar
**Official homepage:**
**Wanna say something? Leave message here:**

=====================
Notes from cdnjs maintainer:
You are welcome to add a library via sending pull request,
it'll be faster then just opening a request issue,
and please don't forget to

[2015-08-03 05:30] Amomo commented on #5195
`dojo.js`, `ext-all.js`, ` jsxgraphcore.js`, `proj4.js` are minified.
And, I have found `async.js` in "async/", "neo-async/" and "requirejs-async/", but each of these lib has pointed to minified file.

[2015-08-03 14:43] Seenox opened #5220 "[Request] Add jquery.cookiebar.js"
**Library name: jquery.cookiebar.js

**
**Git repository url: http://www.primebox.co.uk/files/uploads/jquery.cookiebar.zip**
**npm package url(optional):**
**Official homepage: http://www.primebox.co.uk/projects/jquery-cookiebar/**
**Wanna say something? Leave message here: The Cookie Bar plugin creates a small bar at the top or bottom of the website with a short message about cookies and accept,

[2015-08-03 17:49] Pedro498 opened #5221 "[Request] ScrollReveal"
Please update ScrollReveal.

Repository: https://github.com/jlmakes/scrollReveal.js

The cdnjs version is 0.1.2, the latest version is 2.3.2.

[2015-08-03 20:18] tcarlsen opened #5222 "[Request] Add scrollmonitor"
**Library name:** scrollmonitor
**Git repository url:**https://github.com/sakabako/scrollMonitor
**npm package url(optional):** https://www.npmjs.com/package/scrollmonitor
**Official homepage:**
**Wanna say something? Leave message here:**

=====================
Notes from cdnjs maintainer:
You are welcome to add a library via sending pull request,
it'll be faster then just opening a request issue

[2015-08-03 20:32] galambalazs commented on #5217
Author here. Sure, I'll make a PR.

[2015-08-03 20:58] TrevorS opened #5223 "[Request] Add ExifReader"
**Library name:** ExifReader
**Git repository url:** https://github.com/mattiasw/ExifReader
**npm package url(optional):** N/A
**Official homepage:** https://github.com/mattiasw/ExifReader
**Wanna say something? Leave message here:**

Thanks!

[2015-08-03 23:11] theconanclub opened #5224 "[Request] tcc"
**Library name: tcc**
**Git repository url:n/a**
**npm package url(optional):**
**Official homepage: theconanclub.com**
**Wanna say something? Leave message here:**

=====================
Notes from cdnjs maintainer:
You are welcome to add a library via sending pull request,
it'll be faster then just opening a request issue,
and please don't forget to read the guidelines for contributing, thanks!!

[2015-08-04 00:14] jasperSpeicher commented on #5145
Thanks!

[2015-08-04 12:07] tonytlwu opened #5226 "[Request] Add Freewall"
**Library name:** Freewall
**Git repository url:** https://github.com/kombai/freewall
**npm package url(optional):**
**Official homepage:** http://vnjs.net/www/project/freewall/
**Wanna say something? Leave message here:**

=====================
Notes from cdnjs maintainer:
You are welcome to add a library via sending pull request,
it'll be faster then just opening a request issue,
and please don'

[2015-08-04 20:56] henriquea opened #5229 "[Request] Add minigrid"
**Library name:** minigrid
**Git repository url:** https://github.com/henriquea/minigrid
**npm package url(optional):** https://www.npmjs.com/package/minigrid
**Official homepage:** http://alves.im/minigrid/
**Wanna say something? Leave message here:**
Keep the good work folks 👊

=====================
Notes from cdnjs maintainer:
You are welcome to add a library via sending pull request,
it'll be

[2015-08-04 21:48] curran opened #5230 "[Request] Add d3-svg-legend"
**Library name:** d3-legend
**Git repository url:** https://github.com/susielu/d3-legend
**npm package url(optional):** https://www.npmjs.com/package/d3-svg-legend
**Official homepage:** http://d3-legend.susielu.com/
**Wanna say something? Leave message here:**

=====================
Notes from cdnjs maintainer:
You are welcome to add a library via sending pull request,
it'll be faster then just o

[2015-08-04 23:45] AlNahari opened #5231 "[Request] Add _library_name_"
**Library name:**
**Git repository url:**
**npm package url(optional):**
**Official homepage:**
**Wanna say something? Leave message here:**

=====================
Notes from cdnjs maintainer:
You are welcome to add a library via sending pull request,
it'll be faster then just opening a request issue,
and please don't forget to read the guidelines for contributing, thanks!!

[2015-08-05 03:36] Piicksarn commented on #5230
[ Consider adding tags for the repo. #9 ](https://github.com/susielu/d3-legend/issues/9)

[2015-08-05 04:00] Piicksarn commented on #5231
Would you please make some detail of the request :)

[2015-08-05 08:55] #5212 closed

[2015-08-05 09:40] stopsopa opened #5234 "[Request] Datatable language files"
I would be nice to have language files for datatables plugin like here:
http://cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/
now are only base files of this plugin on cdnjs http://cdnjs.com/libraries/datatables

Thx

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/25392765-request-datatable-language-files?utm_campaign=plugin&utm_cont

[2015-08-05 14:00] christianscharr opened #5239 "[Request] Add vkBeautify"
**Library name: vkBeautify**
**Git repository url: https://github.com/vkiryukhin/vkBeautify**
**Official homepage: http://www.eslinstructor.net/vkbeautify/**

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/25400494-request-add-vkbeautify?utm_campaign=plugin&utm_content=tracker%2F32893&utm_medium=issues&utm_source=github)** We accept

[2015-08-05 15:27] badisa opened #5241 "[Request] Add _library_name_OboeJS"
**Library name:OboeJS**
**Git repository url: https://github.com/jimhigson/oboe.js**
**npm package url(optional): https://www.npmjs.com/package/oboe**
**Official homepage: http://oboejs.com/**
**Wanna say something? Leave message here:**

=====================
Notes from cdnjs maintainer:
You are welcome to add a library via sending pull request,
it'll be faster then just opening a request issue,

[2015-08-05 16:37] boralp opened #5243 "[Request] Add dynamics.js"
dynamics.js
https://github.com/michaelvillar/dynamics.js
https://www.npmjs.com/package/dynamics.js
http://dynamicsjs.com/
**Wanna say something? Leave message here:**

=====================
Notes from cdnjs maintainer:
You are welcome to add a library via sending pull request,
it'll be faster then just opening a request issue,
and please don't forget to read the guidelines for contributing, thanks

[2015-08-05 18:26] curran commented on #5230
@Piicksarn Thank you for having a look at this.

[2015-08-05 18:48] fahim786fahim opened #5244 "[Request] JIC.js"
**Library name: J I C - a Javascript Image Compressor
**Git repository url:https://github.com/brunobar79/J-I-C
**npm package url(optional):**
**Official homepage: http://makeitsolutions.com/labs/jic/
**Wanna say something? Leave message here:**

=====================
Notes from cdnjs maintainer:
You are welcome to add a library via sending pull request,
it'll be faster then just opening a request

[2015-08-05 23:33] haishengwu-okta opened #5245 "[Request] Add Viz.js"
**Library name:** Viz.js, A hack to put GraphViz on the web.
**Git repository url:** https://github.com/mdaines/viz.js/
**Official homepage:** https://github.com/mdaines/viz.js/

[2015-08-06 03:50] rezadaulay opened #5247 "[Request] Ion.Range Slider"
**Library name: Ion.Range Slider
**Git repository url: https://github.com/IonDen/ion.rangeSlider
**npm package url(optional):**
**Official homepage: http://ionden.com/a/plugins/ion.rangeSlider/en.html
**Wanna say something? Leave message here: It's a good range slider plugin

=====================
Notes from cdnjs maintainer:
You are welcome to add a library via sending pull request,
it'll be fast

[2015-08-06 06:18] bardiharborow opened #5249 ""Fork me on GitHub" covers "Request a lib" button."
The "Fork me on GitHub" ribbon thing makes it impossible to click "Request a lib" on package pages (an [example](https://cdnjs.com/libraries/twitter-bootstrap/)).

[2015-08-06 06:22] PeterDaveHello commented on #5249
hmmmm ... I'll check it.

[2015-08-06 06:24] agalazis opened #5250 "[Request] Add _Slip"
**Library name:*slip*
**Git repository url:*https://github.com/pornel/slip *
**npm package url(optional):**
**Official homepage:**
**Wanna say something? Leave message here:**

=====================
Notes from cdnjs maintainer:
You are welcome to add a library via sending pull request,
it'll be faster then just opening a request issue,
and please don't forget to read the guidelines for contributin

[2015-08-06 06:25] agalazis commented on #5250
Fixed library name in title

[2015-08-06 06:59] #5244 closed

[2015-08-06 07:04] codematix opened #5251 "[Request] Add ded/domready"
**Library name:** domready
**Git repository url:** `https://github.com/ded/domready`
**npm package url(optional):** `https://www.npmjs.com/package/domready`
**Official homepage:** `https://github.com/ded/domready`
**Wanna say something? Leave message here:** Please host this on cdnjs as its a very lightweight way to implement tasks when DOM is ready

=====================
Notes from cdnjs maintain

[2015-08-06 07:54] PeterDaveHello commented on #5249
This should fix it.
https://github.com/cdnjs/new-website/commit/e5a975cbd4b259ea21c0fcb03e9049e496e45099

[2015-08-06 07:54] #5249 closed

[2015-08-06 07:56] #5229 closed

[2015-08-06 07:59] henriquea commented on #5229
Thanks guys! 👊

[2015-08-06 08:08] #5095 closed

[2015-08-06 08:15] #5059 closed

[2015-08-06 08:26] #5230 closed

[2015-08-06 13:52] TarikAmine opened #5253 "[Request] Add GridForms Library"
**Library name:** Gridforms
**Git repository url:** https://github.com/kumailht/gridforms
**npm package url(optional):**
**Official homepage:** http://kumailht.com/gridforms/
**Wanna say something? Leave message here:** Thank you

=====================
Notes from cdnjs maintainer:
You are welcome to add a library via sending pull request,
it'll be faster then just opening a request issue,
and plea

[2015-08-06 14:11] murilobr opened #5254 "[Request] Add image-picker"
**Library name: image-picker**
**Git repository url: https://github.com/rvera/image-picker**
**npm package url(optional):**
**Official homepage: http://rvera.github.io/image-picker/**
**Wanna say something? Leave message here:**

=====================
Notes from cdnjs maintainer:
You are welcome to add a library via sending pull request,
it'll be faster then just opening a request issue,
and pleas

[2015-08-06 15:59] myndfire opened #5257 "[Request] angular-route.min.js"
**Library name:**
**Git repository url:**
**npm package url(optional):**
**Official homepage:**
**Wanna say something? Leave message here:**

=====================
Notes from cdnjs maintainer:
You are welcome to add a library via sending pull request,
it'll be faster then just opening a request issue,
and please don't forget to read the guidelines for contributing, thanks!!

[2015-08-06 17:16] anonprophet opened #5258 "[Request] FuckAdBlock"
**Library name:** FuckAdBlock
**Git repository url:** https://github.com/sitexw/FuckAdBlock
**npm package url(optional):**
**Official homepage:** http://sitexw.fr/fuckadblock/
**Wanna say something? Leave message here:**

=====================
Notes from cdnjs maintainer:
You are welcome to add a library via sending pull request,
it'll be faster then just opening a request issue,
and please don't

[2015-08-06 18:47] mmetrodw opened #5260 "[Request] Add tPlayer_audio"
**Library name:**
**Git repository url:**
**npm package url(optional):**
**Official homepage:**
**Wanna say something? Leave message here:**

=====================
Notes from cdnjs maintainer:
You are welcome to add a library via sending pull request,
it'll be faster then just opening a request issue,
and please don't forget to read the guidelines for contributing, thanks!!

[2015-08-06 18:53] mmetrodw opened #5261 "[Request] tPlayer"
**Library name:tPlayer**
**Git repository url:id-fis.ru:**
**npm package url(optional):**
**Official homepage:id-fis.ru**
**Wanna say something? Leave message here:**

=====================
Notes from cdnjs maintainer:
You are welcome to add a library via sending pull request,
it'll be faster then just opening a request issue,
and please don't forget to read the guidelines for contributing, thanks

[2015-08-06 20:38] hurricane766 opened #5262 "[Request] Add angular-elastic"
angular-elastic
https://github.com/monospaced/angular-elastic

[2015-08-06 21:21] #5231 closed

[2015-08-06 22:58] dooman87 opened #5264 "Validate.js 0.8.0 is actually 0.7.1"
@ansman

http://cdnjs.cloudflare.com/ajax/libs/validate.js/0.8.0/validate.js

The top comment:

[code]

Could it be caching issue? Or version in comment wrong?

[2015-08-06 23:53] rskumar commented on #4187
+1
I just searched cdnjs for D3 library to check its size. It would be nice functionality, where I can check the size of any library and its alternatives and make a decision on that factor (like chart js, which would be heavy but I just need simple lines and circles)

[2015-08-07 02:54] Piicksarn commented on #5260
Would you please make some details of the request ?

[2015-08-07 05:07] ansman commented on #5264
The comment is simply wrong, the version object in the code is correct. The minified version has the correct banner.

[2015-08-07 06:11] PeterDaveHello commented on #5258
Duplicated with #5137

[2015-08-07 06:11] #5258 closed

[2015-08-07 06:11] PeterDaveHello commented on #5257
What's the lib's name?

[2015-08-07 06:12] PeterDaveHello commented on #5264
That's not our problem, but validate.js's, as @ansman said, the comment is wrong.

[2015-08-07 06:12] #5264 closed

[2015-08-07 06:21] #5154 closed

[2015-08-07 06:43] anonprophet commented on #5258
@PeterDaveHello this cdn already added?

i cant find it in cdnjs

[2015-08-07 07:11] PeterDaveHello commented on #5258
Not added, under auditing, but we can discuss in the same issue ticket.

[2015-08-07 10:24] PeterDaveHello commented on #5195
Updated.

[2015-08-07 10:52] 2fdevs commented on #5216
Hi @Sheldan, thanks for requesting this :)

In fact our main repository is this: https://github.com/2fdevs/bower-videogular

The other ones are plugin repositories and theme repositories.

**Plugins**
* https://github.com/2fdevs/bower-videogular-controls
* https://github.com/2fdevs/bower-videogular-overlay-play
* https://github.com/2fdevs/bower-videogular-buffering
* https://github.com/2fdevs/bowe

[2015-08-07 12:36] jerone commented on #4187
It's not fast, but here's a solution I made: https://packagesize.herokuapp.com

[2015-08-07 12:56] #5207 closed

[2015-08-07 13:21] edm00se commented on #4787
In addition to the gratuitous "me too", here's a link to the corresponding PR:
https://github.com/cdnjs/cdnjs/pull/4788

[2015-08-07 13:59] #4787 closed

[2015-08-07 14:09] #5103 closed

[2015-08-07 14:31] PeterDaveHello opened #5270 "[Request] Add startbootstrap-creative"
**Library name:** startbootstrap-creative
**Git repository url:** https://github.com/IronSummitMedia/startbootstrap-creative

Reference:
https://cdnjs.com/#q=startbootstrap

[2015-08-07 15:05] Amomo commented on #5270
We have this lib already, right?
https://cdnjs.com/libraries/startbootstrap-creative

[2015-08-07 15:06] PeterDaveHello commented on #4896
Close due to no response.

[2015-08-07 15:06] #4896 closed

[2015-08-07 15:06] PeterDaveHello commented on #5270
This issue is a test.

[2015-08-07 15:06] #5270 closed

[2015-08-07 15:07] Amomo commented on #5270
Sorry! XDD

[2015-08-07 16:07] #5241 closed

[2015-08-07 16:40] PeterDaveHello opened #5274 "[Request] Jekyll-Search"
**Library name:** Jekyll-Search
**Git repository url:** https://github.com/christian-fei/Simple-Jekyll-Search

[2015-08-07 17:23] PeterDaveHello opened #5275 "[Request] Add Timeline.css"
**Library name:** Timeline.css
**Git repository url:** https://github.com/christian-fei/Timeline.css

Note: No clearly version and tag in its repository to be recognized.

[2015-08-07 17:26] PeterDaveHello commented on #5189
Close due to no response.

[2015-08-07 17:26] #5189 closed

[2015-08-07 17:27] PeterDaveHello commented on #5179
Would you like to send a PR to add it by yourself @ogewan ? Thanks!

[2015-08-07 17:28] PeterDaveHello commented on #5131
What's the detail @tntk90 ?

[2015-08-07 17:32] PeterDaveHello commented on #4986
Is this a request to add a lib? Any detail? Ping @laeliadha .

[2015-08-07 17:36] PeterDaveHello commented on #5031
If you want `materialize`, we have it here:
https://cdnjs.com/libraries/materialize

Close due to no response.

[2015-08-07 17:36] #5031 closed

[2015-08-07 17:37] PeterDaveHello commented on #5077
Close due to no response.

[2015-08-07 17:37] #5077 closed

[2015-08-07 17:49] ogewan commented on #5179
I can't ATM due to computer issues.

[2015-08-07 17:51] PeterDaveHello opened #5276 "Should not point the version number to a non-stable/production version."
These libraries seems to be a non-stable/production version, need to check if there is updates, should not use a non-stable/production version number in package.json.
- [ ] amazeui-react version: 1.0.0-beta1 : **no stable version**
- [x] bootstrap-rtl version: 3.2.0-rc2
- [x] css3pie version: 2.0beta1
- [x] ember-i18n version: 3.0.0-beta.2
- [ ] github-repo-widget version: e23d85ab8f : **no stable

[2015-08-07 18:23] xerotronx opened #5278 "golang"
**Library name:**
**Git repository url:**
**npm package url(optional):**
**Official homepage:**
**Wanna say something? Leave message here:**

=====================
Notes from cdnjs maintainer:
You are welcome to add a library via sending pull request,
it'll be faster then just opening a request issue,
and please don't forget to read the guidelines for contributing, thanks!!

[2015-08-07 18:24] #5278 closed

[2015-08-07 20:13] sylvaindurand opened #5279 "[Request] Awesomplete"
**Library name:** Awesomplete
**Git repository url:** https://github.com/LeaVerou/awesomplete
**npm package url(optional):**
**Official homepage:** http://leaverou.github.io/awesomplete/
Awesomplete is a lightweight autocomplete widget with no dependencies: it would be really great if cdnjs could provide it! By the way, thank you very much for the great work doing here ;)

[2015-08-08 01:37] LeaYeh commented on #5276
okay.

[2015-08-08 02:27] LeaYeh commented on #5195
**already minified**
angular-locale_en-us.js

-----

**point to minified**

audiosynth.js
backbone-react-component.js

[2015-08-08 05:56] PeterDaveHello commented on #5195
What do you mean @LeaYeh ?

[2015-08-08 10:18] aebrahim opened #5282 "[Request] Add escher"
**Library name:** escher
**Git repository url:** https://github.com/zakandrewking/escher/
**npm package url(optional):**
**Official homepage:** https://escher.github.io/
**Wanna say something? Leave message here:** Files in escher/escher/lib

=====================
Notes from cdnjs maintainer:
You are welcome to add a library via sending pull request,
it'll be faster then just opening a request iss

[2015-08-08 14:05] Piicksarn opened #5283 "[Request] angular-xeditable"
Library name: angular-xeditable

Git repository url: https://github.com/vitalets/angular-xeditable

[2015-08-08 14:25] Piicksarn commented on #5261
@mmetrodw is the request reference to #5260?
and i could not find the link of git repository url  or npm package url on homepage.
would you please show the git repository url or npm package url?

[2015-08-08 14:34] Piicksarn commented on #5220
@Seenox, i could not find the link of git repository url or npm package url on homepage.
Would you please show the git repository url or npm package url?
Thank you!

[2015-08-08 14:39] PeterDaveHello commented on #5220
Same as @Piicksarn said, or if you can provide some other ways to proof its users popularity will be fine.

[2015-08-08 14:39] Piicksarn commented on #5223
Libraries must have notable popularity: 100 stars or watchers on GitHub is a good example, but as long as reasonable popularity can be demonstrated the library will be added :)

[2015-08-08 14:45] Seenox commented on #5220
@Piicksarn @PeterDaveHello,

Thanks for the reply. I've just sent an email to the developer and asked for it. Will update the thread as soon as I get a reply.

[2015-08-08 15:32] Piicksarn commented on #5173
Thanks for your suggestion！

However, README.md shows that :
`Libraries must have notable popularity: 100 stars or watchers on GitHub is a good example, but as long as reasonable popularity can be demonstrated the library will be added.`

Would you please make a request again when the library have notable popularity? :smiley:

[2015-08-08 15:33] PeterDaveHello commented on #5173
I think [SocketCluster/socketcluster](https://github.com/SocketCluster/socketcluster) enough popularity.

[2015-08-08 15:40] Piicksarn commented on #5183
Thanks for your suggestion！

However, README.md shows that :
`Libraries must have notable popularity: 100 stars or watchers on GitHub is a good example, but as long as reasonable popularity can be demonstrated the library will be added.`

Would you please make a request again when the library have notable popularity? :smiley:

[2015-08-08 15:41] Piicksarn commented on #5184
@tidusvn05, thanks for your suggestion！

However, README.md shows that :
Libraries must have notable popularity: 100 stars or watchers on GitHub is a good example, but as long as reasonable popularity can be demonstrated the library will be added.

Would you please make a request again when the library have notable popularity? :smiley:

[2015-08-08 15:42] Piicksarn commented on #5186
@wolf-w hanks for your suggestion！

However, README.md shows that :
Libraries must have notable popularity: 100 stars or watchers on GitHub is a good example, but as long as reasonable popularity can be demonstrated the library will be added.

Would you please make a request again when the library have notable popularity? :smiley:

[2015-08-08 15:50] Piicksarn commented on #5190
[Consider adding tags for the repo. #73](https://github.com/vuejs/vue-router/issues/73)

[2015-08-08 15:56] Piicksarn commented on #5200
[Consider adding tags for the repo. #13](https://github.com/kimlabs/gentelella/issues/13)

[2015-08-08 16:02] Piicksarn commented on #5180
@PeterDaveHello, I think it could be added in cdnjs!
how do you think? :)

[2015-08-08 16:04] Piicksarn commented on #5178
@gritzko, thanks for your great work！

However, README.md shows that :
[code]

Would you please make a request again when the library have notable popularity? :smiley:

[2015-08-08 16:08] Piicksarn commented on #5159
[Consider adding tags for the repo. #33](https://github.com/skanaar/nomnoml/issues/33)

[2015-08-08 16:10] Piicksarn commented on #5192
@digitalsurgeon, thanks for your suggestion！

However, README.md shows that :
[code]
Would you please make a request again when the library have notable popularity? :smiley:

[2015-08-08 16:13] PeterDaveHello commented on #5180
Sure.

[2015-08-08 17:34] #5253 closed

[2015-08-08 17:35] AuspeXeu opened #5284 "[Request] Add Notify.js"
**Library name:** Notify.js
**Git repository url:** https://github.com/jpillora/notifyjs
**npm package url(optional):**
**Official homepage:** http://notifyjs.com/
**Wanna say something? Leave message here:**

=====================
Notes from cdnjs maintainer:
You are welcome to add a library via sending pull request,
it'll be faster then just opening a request issue,
and please don't forget to re

[2015-08-08 17:35] #5222 closed

[2015-08-08 18:04] #5181 closed

[2015-08-08 23:43] summatix opened #5285 "[Request] Add Buttons"
**Library name:** Buttons
**Git repository url:** https://github.com/alexwolfe/Buttons/
**Official homepage:** http://unicorn-ui.com/buttons/

[2015-08-09 09:19] Amomo commented on #5276
I found that `css3pie` and `pie` are point to same repository!

[2015-08-09 09:24] PeterDaveHello opened #5287 "Migrate duplicated libraries."
Some libs are duplicated in our repo, should migrate into only one, maybe we can use symbolic-link to handle it, but may have new problem on auto-update process.

**If you wanna contribute to this issue, please help us list the duplicated libs here, thanks.**

* [x] bower-angular-translate / angular-translate
* [x] bower-angular-translate-loader-partial / angular-translate-loader-partial
* [x] bow

[2015-08-09 09:24] PeterDaveHello commented on #5276
#5287

[2015-08-09 09:27] PeterDaveHello commented on #5287
cc #5276

[2015-08-09 09:46] danog opened #5288 "[Request] Add he.js"
**Library name:** he.js
**Git repository url:** https://github.com/mathiasbynens/he
**npm package url(optional):**
**Official homepage:** https://github.com/mathiasbynens/he
**Wanna say something? Leave message here:**
Could you please add this library?
Thanks in advance

=====================
Notes from cdnjs maintainer:
You are welcome to add a library via sending pull request,
it'll be faster t

[2015-08-09 10:16] maruilian11 opened #5289 "[Request] HTML-KickStart"
**Library name:** html-kickstart
**Git repository url:** https://github.com/joshuagatcke/HTML-KickStart

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/25538873-request-html-kickstart?utm_campaign=plugin&utm_content=tracker%2F32893&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.

[2015-08-09 10:21] Piicksarn commented on #5035
[Consider adding tags for the repo. #25 ](https://github.com/nathanford/type.js)

[2015-08-09 10:23] Piicksarn commented on #5047
@behzadi, thanks for your suggestion!

However, README.md shows that :
[code]
Would you please make a request again when the library have notable popularity? :smiley:

[2015-08-09 10:27] Piicksarn commented on #5072
@mbiswajit13, would you please show some detail?

 - **Library name**
 - **Git repository url**
 - **npm package url(optional)**
 - **Official homepage**

[2015-08-09 10:32] Piicksarn commented on #5132
@freshsun, thanks for your suggestion！

However, README.md shows that :
[code]
Would you please make a request again when the library have notable popularity? :smiley:

[2015-08-09 10:33] Piicksarn commented on #5133
@alanrsoares, thanks for your suggestion！

However, README.md shows that :
[code]
Would you please make a request again when the library have notable popularity? :smiley:

[2015-08-09 10:41] Piicksarn commented on #5147
(https://github.com/9bitStudios/flexisel/issues/52)

[2015-08-09 10:52] Piicksarn commented on #5173
@PeterDaveHello, Thanks!

[2015-08-09 10:53] Piicksarn commented on #5149
@DDRBoxman, thanks for your suggestion！

However, README.md shows that :
[code]
Would you please make a request again when the library have notable popularity? :smiley:

[2015-08-09 10:55] Piicksarn commented on #5150
@mardafirmansyah , thanks for your suggestion！

However, README.md shows that :
[code]
Would you please make a request again when the library have notable popularity? :smiley:

[2015-08-09 11:07] soatok commented on #5132
Regardless of whether or not it meets this threshold, libsodium.js is fundamental to modern secure Javascript application development -- whether in NW.js/Electron, browser extensions, or in client-side Javascript.

That is to say, the popularity of this library is *inevitable*, especially given the recent attention towards privacy featured apps and web services.

Please consider an exception for t

[2015-08-09 11:08] Piicksarn commented on #5132
@PeterDaveHello would you please take a look on this request?

[2015-08-09 11:29] Piicksarn commented on #5111
**git repository url** : https://github.com/joemottershaw/animations
[ Consider adding tags for the repo. #9 ](https://github.com/joemottershaw/animations/issues/9)

[2015-08-09 11:49] PeterDaveHello commented on #5132
@Piicksarn: ping @cdnjs/intern first.

[2015-08-09 12:45] Piicksarn commented on #5002
@byunru would you please provide the **git repository url **  or  **npm package url**, so that we could add libraries efficiently.

[2015-08-09 12:46] Piicksarn commented on #5005
@tolgaulas would you please provide the **git repository url ** or **npm package url**, so that we could add libraries efficiently.

Thank you!

[2015-08-09 12:50] Piicksarn commented on #5027
@vikili would you please provide the `git repository url` or `npm package url`, so that we could add library efficiently.

Thank you!

[2015-08-09 12:51] Zizix opened #5290 "Not scrolling works when you increase or decrease"
Not scrolling works when you increase or decrease the page ( Ctrl + +/- ) Google Chrome/ Fix please, this creates problems navigating some of my visitors. Works very well, but this problem prevents me to use it. https://github.com/cdnjs/cdnjs/issues/5217

[2015-08-09 12:53] Piicksarn commented on #4973
@M-Porter would you please provide the `git repository url` or `npm package url`, so that we could add library efficiently.

Thank you! :)

[2015-08-09 13:01] Piicksarn commented on #4977
@iangilman , thanks for your suggestion！

However, README.md shows that :
[code]
Would you please make a request again when the library have notable popularity? :smiley:

[2015-08-09 13:03] Piicksarn commented on #4984
@kodeine, thanks for your suggestion！

However, README.md shows that :
[code]
Would you please make a request again when the library is notable popularity? :smiley:

[2015-08-09 13:03] Piicksarn commented on #5009
@tatygrassini , thanks for your suggestion！

However, README.md shows that :
[code]
Would you please make a request again when the library is notable popularity? :smiley:

[2015-08-09 13:04] Piicksarn commented on #5003
@hiteshsharma, thanks for your suggestion！

However, README.md shows that :
[code]
Would you please make a request again when the library is notable popularity? :smiley:

[2015-08-09 13:08] Piicksarn commented on #4990
**git repository url :** https://github.com/rstaib/jquery-steps

@ivanhalen would you please provide the git repository url or npm package url, so that we could add library efficiently.

Thank you! :)

[2015-08-09 13:12] Piicksarn commented on #4993
[Consider adding tags for the repo. #588](https://github.com/Templarian/MaterialDesign/issues/588)

[2015-08-09 13:15] Piicksarn commented on #5011
[ Consider adding tags for the repo. #13 ](https://github.com/devinhunt/typebase.css/issues/13)

[2015-08-09 13:21] maruilian11 commented on #5132
i think we can add it since its star is close to 100.

[2015-08-09 13:40] vikili commented on #5027
Hi,

this Is git repository

https://github.com/mybb/mybb

please add this to cdnjs

[2015-08-09 13:50] Piicksarn commented on #5027
@vikili Thanks!

[2015-08-09 13:51] Piicksarn commented on #5143
@PeterDaveHello would you take a look on this issue?

[2015-08-09 13:52] Piicksarn commented on #5074
@PeterDaveHello would you please take a look in this issue?

[2015-08-09 13:53] swcheon commented on #5143
Oh, I didn't know that.
Thanks!! :)

[2015-08-09 13:54] Piicksarn commented on #5115
[ Consider adding tags for the repo. #96](https://github.com/jawj/OverlappingMarkerSpiderfier/issues/96)

[2015-08-09 14:09] Piicksarn commented on #4971
@PeterDaveHello, would you please take a look on this issue?

[2015-08-09 14:25] Piicksarn commented on #4871
@0utc0ntr0l would you please provide the `git repository url `or `npm package url`, so that we could add library efficiently.

Thank you!

[2015-08-09 14:26] Piicksarn commented on #4901
@tamasta would you please provide the `git repository url` or `npm package url`, so that we could add library efficiently.

Thank you!

[2015-08-09 14:27] Piicksarn commented on #4912
@woddx would you please provide the **`git repository url`** or **`npm package url`**, so that we could add library efficiently.

Thank you!

[2015-08-09 14:27] Piicksarn commented on #4938
@jdnichollsc would you please provide the **`git repository url`** or **`npm package url`**, so that we could add library efficiently.

Thank you!

[2015-08-09 14:29] Piicksarn commented on #4942
@yehezkielbs would you please provide library name with the **`git repository url`** or **`npm package url`**?
So that we could add library efficiently.

Thank you!

[2015-08-09 14:37] Piicksarn commented on #4946
[ Consider adding tags for the repo. #30 ](https://github.com/saabi/vminpoly/issues/30)

[2015-08-09 14:38] Piicksarn commented on #4527
[ Consider adding tags for the repo. #56](https://github.com/arturadib/strapdown/issues/56)

[2015-08-09 14:45] Piicksarn commented on #4951
@AndrewShapel, the library need to have notable popularity.
You could see [README.md](https://github.com/cdnjs/cdnjs/blob/master/README.md) for the detail.
Would you please make a request again when the library is notable popularity?

Thank you! :)

[2015-08-09 14:46] freshsun commented on #5132
https://download.libsodium.org/doc/bindings_for_other_languages/index.html
libsodium have many language bindings on github, although most of them is under 100 stars

Another 375 stars repo https://github.com/mdp/gibberish-aes shows libsodium as its replacement. And on client side javascript encryption, libsodium seems to be a promising solution now.

[2015-08-09 15:06] PeterDaveHello commented on #5290
Is this problem related to cdnjs?

[2015-08-09 15:08] Piicksarn commented on #5289
[Consider adding tags for the repo. #77](https://github.com/joshuagatcke/HTML-KickStart/issues/77)

[2015-08-09 15:43] maruilian11 commented on #5143
i think it's here : https://github.com/hilios/jQuery.countdown

[2015-08-09 15:50] zimbatm opened #5291 "[Request] Add css-social-buttons"
**Library name:** css-social-buttons
**Git repository url:** https://github.com/samcollins/css-social-buttons
**npm package url:** css-social-buttons
**Official homepage:** http://zocial.smcllns.com/

Hi, I tried using the cdnjs-importer tool but it doesn't put the files in the right place I think. The repo is so big that the `git` command-line starts to lock and becomes unusable. Anyone is willin