[2019-07-01 20:30] MattIPv4 commented on #13396
Hi there!

Thank you for making a new library request issue on cdnjs! 📦
Due to the massive number of requests we receive, it may be a while before one of our team get around to processing this request.

**To help us with this, you can create the pull request to add the library yourself!** 📥

**Please take a read of our [CONTRIBUTING.md](https://github.com/cdnjs/cdnjs/blob/master/CONTRIBUTING.md) f

[2019-07-02 14:10] amuqeet commented on #13165
Having an issue with the resource:

https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js

In Chrome gives a  "No 'Access-Control-Allow-Origin' header"  error.
In browser get a "Error 1023 - Could not find host"

[2019-07-02 14:12] MattIPv4 commented on #13165
@amuqeet Cloudflare have a global outage affecting us. See https://status.cdnjs.com/incidents/g35ph9jwm0s7 & https://www.cloudflarestatus.com/incidents/tx4pgxs6zxdr

[2019-07-13 21:23] hesameto commented on #755
hi friends!
copy this link to your index.html:

<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

goodluck ;) .

[2019-07-13 21:24] hesameto commented on #755
<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

[2019-07-13 21:26] hesameto commented on #755
hi friends!
copy the HTML form on this page to your index.html :
https://www.bootstrapcdn.com/fontawesome/
goodluck :)

[2019-07-14 18:35] FONZACUS opened #13401 "heavy lagg opening a library with many assets"
first off, huge kudos to you (and the backers) guys.

straight to the point, when opening a library with a ton of assets like [google md icons](//cdnjs.com/libraries/material-design-icons), theres a lot of lag/stuttering, and possibly crashing on lower end systems. to play things safe, there should be separators for similar libs.

ive no idea what to suggest, are folders/categories possible?

[2019-07-16 04:40] kelsosharp opened #13402 "Add TextAngularJs to the cdn"
Please add https://www.npmjs.com/package/textangularjs

To the CDN, this is a fork of the original textangular which is no longer being maintained, and does not work with angularjs 1.7.x

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/77004978-add-textangularjs-to-the-cdn?utm_campaign=plugin&utm_content=tracker%2F32893&utm_medium=is

[2019-07-18 12:30] MattIPv4 commented on #13402
Hi there!

Thank you for making a new library request issue on cdnjs! 📦
Due to the massive number of requests we receive, it may be a while before one of our team get around to processing this request.

**To help us with this, you can create the pull request to add the library yourself!** 📥

**Please take a read of our [CONTRIBUTING.md](https://github.com/cdnjs/cdnjs/blob/master/CONTRIBUTING.md) f

[2019-07-21 13:01] JovannyRch opened #13403 "prueba1"
<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/77364221-prueba1?utm_campaign=plugin&utm_content=tracker%2F32893&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tracker%2F32893&utm_medium=issues&utm_source=github).
</bountysource-plugin>

[2019-07-21 15:32] #8848 closed

[2019-07-21 16:04] MattIPv4 commented on #13403
@JovannyRch Are you requesting a library here? Your issue had no message?

[2019-07-22 06:53] breeze9527 opened #13404 "Version mismatch of vue-router"
vue-router@3.0.3 and vue-router@3.0.4 have same content,
and version mismatch since vue-router@3.0.4
[source of vue-router@3.0.3](https://github.com/cdnjs/cdnjs/blob/master/ajax/libs/vue-router/3.0.3/vue-router.min.js)in cdnjs repository
[source of vue-router@3.0.4](https://github.com/cdnjs/cdnjs/blob/master/ajax/libs/vue-router/3.0.4/vue-router.min.js)in cdnjs repository

<bountysource-plugin>

-

[2019-07-22 07:41] MattIPv4 commented on #13404
Can confirm, looks like 3.0.7 contains the 3.0.6 files: https://github.com/cdnjs/cdnjs/blob/master/ajax/libs/vue-router/3.0.7/vue-router.min.js
The files at source are correctly versioned: https://github.com/vuejs/vue-router/commit/f69b2c158e67cfca39dbf4ba7b0fe2299e89c88a

cc @PeterDaveHello

[2019-07-23 06:22] susepsupriatna opened #13408 "smkpasundansubang"

[2019-07-23 07:52] MattIPv4 commented on #13408
No content, appears to be spam, closing.

[2019-07-23 07:52] #13408 closed

[2019-07-23 07:52] MattIPv4 commented on #13403
No content, appears to be spam, closing.

[2019-07-23 07:52] #13403 closed

[2019-07-24 22:11] TheInvoker opened #13410 "vuetify 2.0 links missing"
vuetify 2.0 official links missing

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/77698864-vuetify-2-0-links-missing?utm_campaign=plugin&utm_content=tracker%2F32893&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tracker%2F32893&utm_medium=is

[2019-07-25 06:18] ssuess opened #13411 "jquery.i18n.parser.min.js seems broken or badly minimized"
`https://cdnjs.cloudflare.com/ajax/libs/jquery.i18n/1.0.5/jquery.i18n.parser.min.js` seems to be broken. I minimized the source file `https://cdnjs.cloudflare.com/ajax/libs/jquery.i18n/1.0.5/jquery.i18n.parser.js` myself and it works, but the version downloaded from your site did not.

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/

[2019-07-25 08:33] MattIPv4 commented on #13411
cc @PeterDaveHello

[2019-07-25 08:34] MattIPv4 commented on #13410
Hi there!

Thank you for making a new library request issue on cdnjs! 📦
Due to the massive number of requests we receive, it may be a while before one of our team get around to processing this request.

**To help us with this, you can create the pull request to add the library yourself!** 📥

**Please take a read of our [CONTRIBUTING.md](https://github.com/cdnjs/cdnjs/blob/master/CONTRIBUTING.md) f

[2019-07-25 12:07] programad opened #13414 "[Request] Add ckeditor5"
**Library name:** https://cdn.ckeditor.com/ckeditor5/10.0.0/classic/ckeditor.js
**Library description:** A set of ready-to-use rich text editors created with a powerful framework. Made with real-time collaborative editing in mind.
**Git repository url:** https://github.com/ckeditor/ckeditor5
**npm package name or url (if there is one):** https://www.npmjs.com/package/ckeditor5
**License (List them

[2019-07-25 18:58] jerchap opened #13415 "[Request] Add Bootstrap.Sass"
Please add bootstrap with sass files

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/77755507-request-add-bootstrap-sass?utm_campaign=plugin&utm_content=tracker%2F32893&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tracker%2F32893&utm_medium

[2019-07-25 19:03] jerchap commented on #13120
I have a need for the boostrap scss files as well.  LibMan is so far the only really viable package manager tool because we're doing ASP.Net Core.  I'll have to look into unpkg

[2019-07-25 19:08] MattIPv4 commented on #13120
@jerchap SCSS files show now be served (see #13145) - I'll reopen this so we can track adding them to bootstrap on cdnjs.

[2019-07-25 19:10] MattIPv4 commented on #13120
@jerchap You are welcome to open a PR that updates https://github.com/cdnjs/cdnjs/blob/master/ajax/libs/twitter-bootstrap/package.json to work from the root of the bootstrap repo and then pulls in everything in dist and scss.

[2019-07-25 19:11] MattIPv4 commented on #13414
Hi there!

Thank you for making a new library request issue on cdnjs! 📦
Due to the massive number of requests we receive, it may be a while before one of our team get around to processing this request.

**To help us with this, you can create the pull request to add the library yourself!** 📥

**Please take a read of our [CONTRIBUTING.md](https://github.com/cdnjs/cdnjs/blob/master/CONTRIBUTING.md) f

[2019-07-25 19:11] MattIPv4 commented on #13415
Dupe #13120

[2019-07-25 19:11] #13415 closed

[2019-07-26 14:29] jackycute opened #13416 "[Request] Upgrade mermaid to 8.2.3"
Library name: mermaid
Git repository url: knsv/mermaid
npm package name or url (if there is one): npmjs.com/package/mermaid
License (List them all if it's multiple): MIT knsv/mermaid:LICENSE@master
Official homepage: mermaidjs.github.io
Wanna say something? Please upgrade this lib from 8.2.2 to 8.2.3

Thank you!

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://

[2019-07-26 20:25] MattIPv4 commented on #13416
Hi there!

Thank you for making a new library request issue on cdnjs! 📦
Due to the massive number of requests we receive, it may be a while before one of our team get around to processing this request.

**To help us with this, you can create the pull request to add the library yourself!** 📥

**Please take a read of our [CONTRIBUTING.md](https://github.com/cdnjs/cdnjs/blob/master/CONTRIBUTING.md) f

[2019-07-27 03:44] jackycute commented on #13416
Hi @MattIPv4, I've opened a PR for this, please take a look.
Thanks!

[2019-07-27 19:18] TheInvoker opened #13418 "Is there a cdnjs link for google material icons font?"
Hi,

Is there a cdnjs link for

https://fonts.googleapis.com/icon?family=Material+Icons

??

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/77843427-is-there-a-cdnjs-link-for-google-material-icons-font?utm_campaign=plugin&utm_content=tracker%2F32893&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https:/

[2019-07-27 20:04] MattIPv4 commented on #13418
Google has the best CDN for this through the fonts.google.com service, we don't host these. :)

[2019-07-31 15:18] antoniogott opened #13421 "[Request] Add jsonwebtoken"
**Library name**: jsonwebtoken
**Library description**: An implementation of JSON Web Tokens. This was developed against draft-ietf-oauth-json-web-token-08. It makes use of node-jws.
**Git repository url**: https://github.com/auth0/node-jsonwebtoken
**npm package name or url (if there is one)**: jsonwebtoken
**License (List them all if it's multiple)**: MIT
**Official homepage**: https://github.co

[2019-07-31 19:54] MattIPv4 commented on #13421
Hi there!

Thank you for making a new library request issue on cdnjs! 📦
Due to the massive number of requests we receive, it may be a while before one of our team get around to processing this request.

**To help us with this, you can create the pull request to add the library yourself!** 📥

**Please take a read of our [CONTRIBUTING.md](https://github.com/cdnjs/cdnjs/blob/master/CONTRIBUTING.md) f

[2019-08-01 02:24] breeze9527 commented on #13404
Any response?

[2019-08-03 22:48] #13280 closed

[2019-08-04 16:18] jackycute commented on #13416
Close since it has been added.

[2019-08-04 16:18] #13416 closed

[2019-08-05 07:57] #13418 closed

[2019-08-09 01:45] tiesont opened #13422 "Update bootbox.js to v5"
This replaces a [previous request](https://github.com/cdnjs/cdnjs/issues/13280) to update the bootbox.js CDN. I have reverted our directory structure to match the 4.4 layout (which is the currently-hosted cdnjs version).

I've added (what I hope is) the settings to enable auto-update from the npm package (https://www.npmjs.com/package/bootbox), per [CONTRIBUTING.md](https://github.com/cdnjs/cdnjs/

[2019-08-10 14:31] MattIPv4 commented on #13422
@tiesont The auto-update config goes in the package.json in the cdjns repo, not your own package.json.

[2019-08-10 19:55] tiesont commented on #13422
@MattIPv4 Sorry about that. Fixed our package.json and added a pull-request to update our package.json on this repo.

[2019-08-12 09:13] monkindey opened #13424 "react-dom doesn't have 16.9 version"
https://cdnjs.com/libraries/react-dom

![image](https://user-images.githubusercontent.com/6913898/62855303-7ae7e180-bd24-11e9-95e2-2c3ea0a7761c.png)

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/78605884-react-dom-doesn-t-have-16-9-version?utm_campaign=plugin&utm_content=tracker%2F32893&utm_medium=issues&utm_source=github)** We ac

[2019-08-12 20:00] MattIPv4 commented on #13424
Hi there!

Thank you for making a new library request issue on cdnjs! 📦
Due to the massive number of requests we receive, it may be a while before one of our team get around to processing this request.

**To help us with this, you can create the pull request to add the library yourself!** 📥

**Please take a read of our [CONTRIBUTING.md](https://github.com/cdnjs/cdnjs/blob/master/CONTRIBUTING.md) f

[2019-08-12 20:27] frehner commented on #13424
@MattIPv4 I think `react-dom` is already a part of CDNJS, and also has an auto-update package.json as part of it.

It just looks like it hasn't picked up the latest `16.9` release.  Which is weird, because it looks like it picked up on all the previous releases and even the `16.9.0-alpha` release.

[2019-08-12 20:33] MattIPv4 commented on #13424
Yeah, it may be that the package structure has changed, which will require a manual PR/commit of the changed version.

[2019-08-12 20:49] temandroid commented on #360
+1

[2019-08-12 21:03] frehner commented on #13424
I just downloaded the tarballs from npm, and the file and folder structure between `16.8.6` and `16.9.0` are the same. From what I can tell at least... :D

![Screen Shot 2019-08-12 at 3 01 44 PM](https://user-images.githubusercontent.com/3054066/62898175-2471a780-bd12-11e9-8cb8-5f7956af88ba.png)

[2019-08-13 08:45] MattIPv4 commented on #13424
@frehner Are all the files within cjs & umd identical also? (If anything changes [excluding contents of files] the bot won't auto-update)

[2019-08-13 15:12] frehner commented on #13424
It looks like `16.8.6` had three additional files in each folder (so 6 total: 3 in `umd` and 3 in `cjs`) that no longer exist in `16.9.0`. They appear to be named

[code]

So, if I'm understanding that linked issue correctly, then that would be the cause of react-dom not auto-updating?

[2019-08-13 16:18] MattIPv4 commented on #13424
@frehner Yup, file structure has changed which means the bot won't auto-update, so the version will need to be manually added through a pull request.

[2019-08-13 17:19] frehner commented on #13424
ok sounds good. I'm not a maintainer of react-dom or anything so it looks like I've reached the limit of my usefulness here. :)

Thanks for your help.

[2019-08-13 17:21] MattIPv4 commented on #13424
@frehner You can submit a PR if you wish to endure doing so :)

[2019-08-13 17:27] frehner commented on #13424
Oh, I don't mind... I think!

By "manually adding" the version, does that mean creating a PR that updates the package.json to `16.9.0` and also adds a folder that includes the contents of the tarball? If so, that's not too bad... haha

[2019-08-13 17:28] MattIPv4 commented on #13424
@frehner Pretty much :) When adding the version contents, you will need to check it follows how the auto-update map works, which I believe will expand everything out into the root directory of the version. You can check a previous version to confirm this.

[2019-08-13 19:14] frehner commented on #13424
looks like it just makes a `cjs` and `umd` folder and everything inside of those are just copied over. https://github.com/cdnjs/cdnjs/tree/master/ajax/libs/react-dom/16.8.6

PR incoming then. Thanks!

[2019-08-13 20:26] frehner commented on #13424
@MattIPv4 created #13425 . Hopefully I did it right. :)

[2019-08-14 18:00] PeterBot opened #13427 "[Build failed] Got error while building meta data/artifact"
Dear all,

Our build process just got an error while building the meta data/artifact of cdnjs project, our [website and api](https://github.com/cdnjs/new-website) may not be as new as our repository, however, the cdn service will not been affected, you can still use it, and modify the library name, version number and filename in the url can help you access all the content on cdnjs, we will fix the

[2019-08-14 18:30] PeterBot opened #13428 "[Build failed] Got error while building meta data/artifact"
Dear all,

Our build process just got an error while building the meta data/artifact of cdnjs project, our [website and api](https://github.com/cdnjs/new-website) may not be as new as our repository, however, the cdn service will not been affected, you can still use it, and modify the library name, version number and filename in the url can help you access all the content on cdnjs, we will fix the

[2019-08-15 09:34] snowchenlei opened #13429 "update ztree.v3 to 3.5.40"
now have ztree 3.5.40.
but download this result is ztree 3.5.0.1.
i hope update ztree to 3.5.40
![image](https://user-images.githubusercontent.com/26211283/63086641-ea5b0c80-bf82-11e9-8244-0711ba9dcdc2.png)

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/78791022-update-ztree-v3-to-3-5-40?utm_campaign=plugin&utm_content=tracker%2F32

[2019-08-15 18:47] PeterDaveHello commented on #13427
fixed

[2019-08-15 18:47] #13427 closed

[2019-08-15 18:47] PeterDaveHello commented on #13428
fixed

[2019-08-15 18:47] #13428 closed

[2019-08-15 21:01] MattIPv4 commented on #13429
cc @PeterDaveHello this looks like a bug to me but unsure. The source file has the correct version which makes me think it may be an issue our end? https://github.com/zTree/zTree_v3/blob/master/js/jquery.ztree.all.min.js

[2019-08-17 03:10] snowchenlei commented on #13429
Maybe it's a bug, and I want to fix it.Thank you

[2019-08-17 20:17] tarlepp opened #13430 "Should there be a branch protection rules?"
With this people who are making PRs that aren't up with master branch they could easily just click update button - if/when there isn't any conflicts.

This would help and speed up PR process a lot.

Example here - https://github.com/cdnjs/cdnjs/pull/13423#pullrequestreview-276249978

And with that I mean this setting:

![image](https://user-images.githubusercontent.com/595561/63216939-3b672e00-c14

[2019-08-17 21:41] MattIPv4 commented on #13430
@tarlepp This creates a merge commit in the PR history, which we avoid by requiring it be rebased - this ensures that the overall commit history for the repository is kept clean.

I have an issue already open for allowing @PeterBot to automatically rebase when that CI error is raised: https://github.com/cdnjs/cdnjs/issues/13389

[2019-08-17 21:45] tarlepp commented on #13430
@MattIPv4 oh, didn't see that one - that one would make this "error" to be solved - I'm keeping this still open because there isn't really ready solution (yet) for this.

[2019-08-17 21:47] tarlepp commented on #13430
although there is also this
[code]

option on settings, never tried that out so cannot be sure if that would make trick.

[2019-08-17 21:49] MattIPv4 commented on #13430
@tarlepp That just affects how the commits are put into master at merge, not how updating the branch prior to merge works.

As we want to keep the commit history clean, this suggestion for the protection rule won't work, so I'll close this and move the discussion to https://github.com/cdnjs/cdnjs/issues/13389 for ideas on how best to implement this in the bot 👍

[2019-08-17 21:49] #13430 closed

[2019-08-19 20:35] tommedema commented on #12677
This is high prio since Apr 2018 but there's been no movement

[2019-08-20 01:56] LuckyPigeon commented on #13429
@snowchenlei  Are you already work on this?

[2019-08-20 01:58] LuckyPigeon commented on #13421
@antoniogott Are you working on this? I need this library as well, if it is same to you, I can work on this library.

[2019-08-20 13:31] antoniogott commented on #13421
Currently I do not have the time to spare, I just thought it should be added since it's very popular. Feel free to do it!

[2019-08-21 02:21] #12725 closed

[2019-08-21 10:07] ws-hofshteyn commented on #11103
when will it be added?

[2019-08-22 01:51] snowchenlei commented on #13429
@LuckyPigeon Sorry,I've been busy lately.Maybe someone else could help.Let me know if you have solved it。Thank You.

[2019-08-22 01:59] jimni1222 opened #13431 "[Request][Author] Add caver-js"
**Library name**: caver-js
**Library description**: caver-js is a JavaScript API library that allows developers to interact with a Klaytn node.
**Git repository url**: https://github.com/klaytn/caver-js
**npm package name or url (if there is one)**: https://www.npmjs.com/package/caver-js
**License**: LGPL

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bou

[2019-08-22 07:48] MattIPv4 commented on #13431
Hi there!

Thank you for making a new library request issue on cdnjs! 📦
Due to the massive number of requests we receive, it may be a while before one of our team get around to processing this request.

**To help us with this, you can create the pull request to add the library yourself!** 📥

**Please take a read of our [CONTRIBUTING.md](https://github.com/cdnjs/cdnjs/blob/master/CONTRIBUTING.md) f

[2019-08-22 08:01] jimni1222 commented on #13431
Thanks for leaving a comment.

I created a pull request, and I'll leave the PR link below. Please review when you have time. :)

https://github.com/cdnjs/cdnjs/pull/13432

[2019-08-23 08:45] reefqi037 opened #13434 "[Request] Add vue-clipboard2"
**Library name:**
vue-clipboard2

**Library description:**
A simple vuejs 2 binding for clipboard.js

**Git repository url:**
[vue-clipboard2](https://github.com/Inndy/vue-clipboard2)

Dist files for inclusion:
[vue-clipboard2/dist/](https://github.com/Inndy/vue-clipboard2/tree/master/dist)

**npm package name or url:**
[vue-clipboard2](https://www.npmjs.com/package/vue-clipboard2)

**Homepage:**

[2019-08-23 15:20] maxwroc opened #13435 "[Request][Author] Add hideseek-mod"
**Library name:** hideseek-mod
**Library description:** A simple, mobile-friendly, yet customizable quick/live search jQuery plugin.
**Git repository url:** https://github.com/maxwroc/HideSeek-Mod
**npm package name or url (if there is one):** https://www.npmjs.com/package/hideseek-mod
**License:** Apache-2.0
**Number of downloads on npm:** ![npm downloads count](https://img.shields.io/npm/dm/hide

[2019-08-23 16:48] MattIPv4 commented on #13434
Hi there!

Thank you for making a new library request issue on cdnjs! 📦
Due to the massive number of requests we receive, it may be a while before one of our team get around to processing this request.

**To help us with this, you can create the pull request to add the library yourself!** 📥

**Please take a read of our [CONTRIBUTING.md](https://github.com/cdnjs/cdnjs/blob/master/CONTRIBUTING.md) f

[2019-08-29 19:03] mfranzke opened #13441 "[Request][Author] Add loading-attribute-polyfill"
Library name: loading-attribute-polyfill
Library description: Fast and lightweight vanilla JavaScript polyfill for the native behaviour to load elements right before they enter the viewport.
Git repository url: https://github.com/mfranzke/loading-attribute-polyfill
npm package name or url (if there is one): https://www.npmjs.com/package/loading-attribute-polyfill
License: MIT

<bountysource-plugin

[2019-08-30 18:10] subins2000 opened #13443 "[Request] Add smc-fonts"
**Library name**: smc-fonts
**Library description**: Web fonts made by Swathanthra Malayalam Computing Team to be used in websites
**Git repository url**: https://gitlab.com/smc/fonts
**npm package name or url (if there is one)**:
**License (List them all if it's multiple)**: SIL Open Font License 1.1
**Official homepage**: https://smc.org.in/fonts
**Wanna say something? Leave message here**: SMC

[2019-08-31 09:01] MattIPv4 commented on #13441
Hi there!

This library doesn't have enough popularity (like more than 200 stars on GitHub or 800 downloads per month on npm). Please take a look at our [pull request template, essentials checklist](https://github.com/cdnjs/cdnjs/blob/master/PULL_REQUEST_TEMPLATE.md#essential-checklist) for more information regarding this. 📖

Please open an issue again when the library has more popularity, so that

[2019-08-31 09:01] #13441 closed

[2019-08-31 09:03] MattIPv4 commented on #13443
I do not see how the is a valid JS/CSS package that we can host @subins2000 ?

[2019-08-31 17:38] subins2000 commented on #13443
@MattIPv4 It's a font CSS package like https://cdnjs.com/libraries/hack-font

[2019-08-31 17:42] MattIPv4 commented on #13443
@subins2000 What you've linked to is a GitLab projects group, I don't see how that is a single package that we could host. It also does not appear to meet our popularity criteria.

[2019-08-31 18:14] subins2000 commented on #13443
@MattIPv4 We will make a package that will contain all those fonts there in that project group. I can make a PR to cdnjs with the package. Would like to know if it'd be accepted.

Here's SMC's old GitHub org (for the popularity reference) : https://github.com/smc?tab=repositories

[2019-08-31 22:34] MattIPv4 commented on #13443
Hi there!

This library doesn't have enough popularity (like more than 200 stars on GitHub or 800 downloads per month on npm). Please take a look at our [pull request template, essentials checklist](https://github.com/cdnjs/cdnjs/blob/master/PULL_REQUEST_TEMPLATE.md#essential-checklist) for more information regarding this. 📖

Please open an issue again when the library has more popularity, so that

[2019-08-31 22:34] #13443 closed

[2019-09-01 05:47] LuckyPigeon commented on #13429
@snowchenlei I have updated the package.json

[2019-09-01 15:32] LuckyPigeon commented on #13429
@snowchenlei Looks like my commit has passed ci test, now let's wait for the result.

[2019-09-02 16:38] TarekRaafat commented on #13159
Hello, any updates on this one?

[2019-09-02 20:07] subins2000 commented on #13443
@MattIPv4 Hi

To prove popularity of the SMC fonts package, here's the [one hosted in JSDELIVR](https://www.jsdelivr.com/package/gh/kollavarsham/smc-webfonts). It has 7k hits/month.

[2019-09-02 21:27] mikebolt opened #13448 "[author] tween.js distribution has moved from src/Tween.js to dist/tween.umd.js"
I have made some recent changes to tween.js. In version 18 Tween.js is now es6 source, and the version that should be included in the browser is dist/tween.umd.js. This file is generated by `npm run build` and it does not currently exist in the github repository. However, it does exist in the npm repository. The reason for this is that I can't get Travis CI to push back to GitHub.

In short, pleas

[2019-09-05 14:54] AnReZa opened #13450 "Where to find the CLDR JSON filed mentioned in #10160"
Ticket #10160 mentiones, that the static JSON files required to use Globalize.js have been added to cdnjs. But where can I find them? I can access the JS files via https://cdnjs.cloudflare.com/ajax/libs/cldrjs/0.5.1/cldr.min.js, for example, but where could I find /cldr/main/de/numbers.json? Without those files, Globalize.js doesn't function.

[2019-09-08 08:58] #13384 closed

[2019-09-08 08:59] PeterDaveHello commented on #13384
Let's just move to #11123, BTW, I don't think it's a beginner issue.

[2019-09-08 09:13] PeterDaveHello commented on #13429
Just found the tag v3.5.01 causes git malfunctioning, once checkout to v3.5.01, the updater can't properly checkout to other references.

[2019-09-08 09:55] MattIPv4 commented on #11123
Bringing @drewfreyling's comment from #13384:

I'm in favour of just offering up the SHA-512 values since it is:

 - Less bytes in the browser
 - All browsers (currently) must support 256, 384 and 512 (https://w3c.github.io/webappsec-subresource-integrity/#hash-functions)

If at some point we get fragmented browser support than I think providing multiple hashes makes sense.

[2019-09-08 13:35] PeterDaveHello commented on #13429
https://github.com/cdnjs/autoupdate/commit/b6076a7d0e7cfec1bf9885840c025ab8dcbc7a3d

[2019-09-08 13:42] PeterDaveHello commented on #13429
This PR will fix it: https://github.com/cdnjs/cdnjs/pull/13451

[2019-09-08 14:11] PeterDaveHello commented on #13404
See:
https://github.com/vuejs/vue-router/blob/v3.0.4/dist/vue-router.min.js
https://github.com/vuejs/vue-router/blob/v3.0.7/dist/vue-router.min.js

[2019-09-08 14:11] #13404 closed

[2019-09-09 09:39] snowchenlei commented on #13429
@LuckyPigeon OK,Thank You!

[2019-09-10 10:53] MattIPv4 commented on #13450
Hi there @AnReZa,

It looks like in that issue we sorted out json files being served on the CDN but never actually had all the CLDR packages added.

You are welcome to open pull requests to add each of the required CLDR packages to CDNJS. :)

[2019-09-10 11:16] AnReZa commented on #13450
Sorry, but I don't have the time to work myself into the CDN. I have no idea how it works in the background.

[2019-09-10 19:05] theel0ja opened #13454 "[Requst] Add embetty"
**Library name:** Embetty
**Library description:** Embetty displays remote content like tweets or YouTube videos without compromising your privacy.
**Git repository url**: https://github.com/heiseonline/embetty
**npm package name or url** (if there is one): https://www.npmjs.com/package/@heise/embetty
**License (List them all if it's multiple):** MIT
**Official homepage:** https://www.heise.de/emb

[2019-09-10 20:57] MattIPv4 commented on #13454
Hi there!

Thank you for making a new library request issue on cdnjs! 📦
Due to the massive number of requests we receive, it may be a while before one of our team get around to processing this request.

**To help us with this, you can create the pull request to add the library yourself!** 📥

**Please take a read of our [CONTRIBUTING.md](https://github.com/cdnjs/cdnjs/blob/master/CONTRIBUTING.md) f

[2019-09-10 23:31] theel0ja commented on #13221
Isn't this already implemented with [unpkg.com](https://unpkg.com/)?

[2019-09-11 06:21] PeterDaveHello commented on #13221
Yeah I think that's already done by unpkg and jsdelivr, and I don't assume we'll do the same thing, there are pros and cons, though the maintenance effort is high, I believe well organized libraries instead of raw contents would be more user friendly.

[2019-09-12 04:14] ihsinhw opened #13456 "[Requst] Add webcodecamjs"
Library name: webcodecamjs
Library description: 1d barcode webrtc reader
Git repository url: https://github.com/andrastoth/webcodecamjs
npm package name or url (if there is one):
License (List them all if it's multiple): MIT
Official homepage: http://atandrastoth.co.uk/

[2019-09-14 18:50] MattIPv4 commented on #13456
Hi there!

This library doesn't have enough popularity (like more than 200 stars on GitHub or 800 downloads per month on npm). Please take a look at our [pull request template, essentials checklist](https://github.com/cdnjs/cdnjs/blob/master/PULL_REQUEST_TEMPLATE.md#essential-checklist) for more information regarding this. 📖

Please open an issue again when the library has more popularity, so that

[2019-09-14 18:50] #13456 closed

[2019-09-15 11:25] katalonne opened #13457 "[Request] Add sailor"
**Library name**: sailor-icons
**Library description**: Nice open source icons.
**Git repository url**: https://github.com/sailoricons/sailor
**npm package name or url (if there is one)**: https://www.npmjs.com/package/sailor-icons
**License (List them all if it's multiple)**: MIT
**Official homepage**: https://sailoricons.github.io/sailor-icons-site/

<bountysource-plugin>

---
Want to back this

[2019-09-15 12:08] MattIPv4 commented on #13457
Hi there!

This library doesn't have enough popularity (like more than 200 stars on GitHub or 800 downloads per month on npm). Please take a look at our [pull request template, essentials checklist](https://github.com/cdnjs/cdnjs/blob/master/PULL_REQUEST_TEMPLATE.md#essential-checklist) for more information regarding this. 📖

Please open an issue again when the library has more popularity, so that

[2019-09-15 12:08] #13457 closed

[2019-09-16 14:08] IlyasAzeem opened #13458 "Survey on Pull Request Prioritization"
Dear Pull Requests integrators,
We are an international group of researchers investigating Pull Requests management activities. We implemented an automated approach, named CARTESIAN, for prioritizing Pull Requests (PRs) received by an open-source project according to the likelihood of acceptance/response. We would like to evaluate whether CARTESIAN can help integrators when reviewing PRs.
As we no

[2019-09-16 21:18] #13458 closed

[2019-09-18 08:33] dmiepub opened #13460 "Request to add tiny_mce_wiris plugin to cdn"
Request to add tiny_mce_wiris plugin to cdn

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/80546611-request-to-add-tiny_mce_wiris-plugin-to-cdn?utm_campaign=plugin&utm_content=tracker%2F32893&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tr

[2019-09-19 07:49] MattIPv4 commented on #13460
@dmiepub Do you have any links for this? Would it be https://github.com/lorno-leonard/tiny_mce_wiris ?

[2019-09-19 09:32] dmiepub commented on #13460
Please check this:

http://www.wiris.com/en/plugins3/tinymce/download
http://www.wiris.com/en/solutions/tinymce

[2019-09-19 09:34] MattIPv4 commented on #13460
It looks like none of those are front-end plugins (CSS/JS)?
I also believe we would have a hard time hosting assets distributed by a specific company that aren't released on GitHub etc.

[2019-09-19 12:01] alexstanbury commented on #11250
Hi, please add this library, it's still being developed and is very useful!

[2019-09-19 16:38] PeterBot opened #13463 "[Build failed] Got error while building meta data/artifact"
Dear all,

Our build process just got an error while building the meta data/artifact of cdnjs project, our [website and api](https://github.com/cdnjs/new-website) may not be as new as our repository, however, the cdn service will not been affected, you can still use it, and modify the library name, version number and filename in the url can help you access all the content on cdnjs, we will fix the

[2019-09-19 17:06] PeterBot opened #13464 "[Build failed] Got error while building meta data/artifact"
Dear all,

Our build process just got an error while building the meta data/artifact of cdnjs project, our [website and api](https://github.com/cdnjs/new-website) may not be as new as our repository, however, the cdn service will not been affected, you can still use it, and modify the library name, version number and filename in the url can help you access all the content on cdnjs, we will fix the

[2019-09-19 17:37] PeterBot opened #13465 "[Build failed] Got error while building meta data/artifact"
Dear all,

Our build process just got an error while building the meta data/artifact of cdnjs project, our [website and api](https://github.com/cdnjs/new-website) may not be as new as our repository, however, the cdn service will not been affected, you can still use it, and modify the library name, version number and filename in the url can help you access all the content on cdnjs, we will fix the

[2019-09-19 18:08] PeterBot opened #13466 "[Build failed] Got error while building meta data/artifact"
Dear all,

Our build process just got an error while building the meta data/artifact of cdnjs project, our [website and api](https://github.com/cdnjs/new-website) may not be as new as our repository, however, the cdn service will not been affected, you can still use it, and modify the library name, version number and filename in the url can help you access all the content on cdnjs, we will fix the

[2019-09-19 18:36] PeterBot opened #13467 "[Build failed] Got error while building meta data/artifact"
Dear all,

Our build process just got an error while building the meta data/artifact of cdnjs project, our [website and api](https://github.com/cdnjs/new-website) may not be as new as our repository, however, the cdn service will not been affected, you can still use it, and modify the library name, version number and filename in the url can help you access all the content on cdnjs, we will fix the

[2019-09-19 19:07] PeterBot opened #13468 "[Build failed] Got error while building meta data/artifact"
Dear all,

Our build process just got an error while building the meta data/artifact of cdnjs project, our [website and api](https://github.com/cdnjs/new-website) may not be as new as our repository, however, the cdn service will not been affected, you can still use it, and modify the library name, version number and filename in the url can help you access all the content on cdnjs, we will fix the

[2019-09-19 19:39] PeterBot opened #13469 "[Build failed] Got error while building meta data/artifact"
Dear all,

Our build process just got an error while building the meta data/artifact of cdnjs project, our [website and api](https://github.com/cdnjs/new-website) may not be as new as our repository, however, the cdn service will not been affected, you can still use it, and modify the library name, version number and filename in the url can help you access all the content on cdnjs, we will fix the

[2019-09-19 20:08] PeterBot opened #13470 "[Build failed] Got error while building meta data/artifact"
Dear all,

Our build process just got an error while building the meta data/artifact of cdnjs project, our [website and api](https://github.com/cdnjs/new-website) may not be as new as our repository, however, the cdn service will not been affected, you can still use it, and modify the library name, version number and filename in the url can help you access all the content on cdnjs, we will fix the

[2019-09-19 20:38] PeterBot opened #13471 "[Build failed] Got error while building meta data/artifact"
Dear all,

Our build process just got an error while building the meta data/artifact of cdnjs project, our [website and api](https://github.com/cdnjs/new-website) may not be as new as our repository, however, the cdn service will not been affected, you can still use it, and modify the library name, version number and filename in the url can help you access all the content on cdnjs, we will fix the

[2019-09-19 21:07] PeterBot opened #13472 "[Build failed] Got error while building meta data/artifact"
Dear all,

Our build process just got an error while building the meta data/artifact of cdnjs project, our [website and api](https://github.com/cdnjs/new-website) may not be as new as our repository, however, the cdn service will not been affected, you can still use it, and modify the library name, version number and filename in the url can help you access all the content on cdnjs, we will fix the

[2019-09-19 21:37] PeterBot opened #13473 "[Build failed] Got error while building meta data/artifact"
Dear all,

Our build process just got an error while building the meta data/artifact of cdnjs project, our [website and api](https://github.com/cdnjs/new-website) may not be as new as our repository, however, the cdn service will not been affected, you can still use it, and modify the library name, version number and filename in the url can help you access all the content on cdnjs, we will fix the

[2019-09-20 16:22] cdukes opened #13475 "[Request] Add vue-multiselect"
Library name: vue-multiselect
Library description: Universal select/multiselect/tagging component for Vue.js
Git repository url: https://github.com/shentao/vue-multiselect
npm package name or url (if there is one): https://www.npmjs.com/package/vue-multiselect
License (List them all if it's multiple): https://github.com/shentao/vue-multiselect/blob/master/LICENSE
Official homepage: https://vue-mul

[2019-09-20 21:13] MattIPv4 commented on #13475
Hi there!

Thank you for making a new library request issue on cdnjs! 📦
Due to the massive number of requests we receive, it may be a while before one of our team get around to processing this request.

**To help us with this, you can create the pull request to add the library yourself!** 📥

**Please take a read of our [CONTRIBUTING.md](https://github.com/cdnjs/cdnjs/blob/master/CONTRIBUTING.md) f

[2019-09-21 04:54] #11130 closed

[2019-09-21 04:55] #11241 closed

[2019-09-21 04:55] #11238 closed

[2019-09-21 04:57] #11345 closed

[2019-09-21 04:57] #11236 closed

[2019-09-21 04:58] #11131 closed

[2019-09-23 05:07] PeterBot opened #13476 "[Build failed] Got error while building meta data/artifact"
Dear all,

Our build process just got an error while building the meta data/artifact of cdnjs project, our [website and api](https://github.com/cdnjs/new-website) may not be as new as our repository, however, the cdn service will not been affected, you can still use it, and modify the library name, version number and filename in the url can help you access all the content on cdnjs, we will fix the

[2019-09-23 05:40] PeterBot opened #13477 "[Build failed] Got error while building meta data/artifact"
Dear all,

Our build process just got an error while building the meta data/artifact of cdnjs project, our [website and api](https://github.com/cdnjs/new-website) may not be as new as our repository, however, the cdn service will not been affected, you can still use it, and modify the library name, version number and filename in the url can help you access all the content on cdnjs, we will fix the

[2019-09-23 10:57] MattIPv4 commented on #13460
Closing, no progress.

[2019-09-23 10:57] #13460 closed

[2019-09-23 16:44] sam327 opened #13478 "Update jQuery Backstretch"
Can we get the main version of jquery backstretch updated to the very last release, which is v2.1.17?

There's the v2.0.4 of jquery backstretch here: https://cdnjs.cloudflare.com/ajax/libs/jquery-backstretch/2.0.4/jquery.backstretch.min.js

And a 2.1.15 fork here: https://cdnjs.cloudflare.com/ajax/libs/danielgindi-jquery-backstretch/2.1.15/jquery.backstretch.min.js

But last Nov, the 2.1.15 edits

[2019-09-24 23:35] logan-19 opened #13480 "jquery waypoints error version"
Hello!
jquery waypoints error version

https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.min.js

Contains version 4.0.0

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/80870323-jquery-waypoints-error-version?utm_campaign=plugin&utm_content=tracker%2F32893&utm_medium=issues&utm_source=github)** We accept bountie

[2019-09-25 16:01] TJKoury commented on #11442
@PeterDaveHello We would like to unpublish this library and re-publish with a different name.  We have a new version that works with every es6-compatible build system, not just Webpack.

How best to do this?

[2019-09-25 17:03] osa opened #13481 "Firefox sporadically not loading files."
At intervals, we get expired certificates when attempting to load javascript libraries. Chrome and IE seem not to mind but Firefox refuses to load. Wondering why randomly getting expired ssl certs. The actual error gotten from Firefox is "SSL_ERROR_BAD_MAC_ALERT"

Cert causing problems.
![image](https://user-images.githubusercontent.com/3985479/65621622-1a3dfc80-df92-11e9-8888-a698a8bb7e72.png)

#

[2019-09-25 17:09] #13481 closed

[2019-09-25 21:06] MattIPv4 commented on #13478
Hi there!

Thank you for making a new library request issue on cdnjs! 📦
Due to the massive number of requests we receive, it may be a while before one of our team get around to processing this request.

**To help us with this, you can create the pull request to add the library yourself!** 📥

**Please take a read of our [CONTRIBUTING.md](https://github.com/cdnjs/cdnjs/blob/master/CONTRIBUTING.md) f

[2019-09-25 23:36] PeterBot opened #13482 "[Build failed] Got error while building meta data/artifact"
Dear all,

Our build process just got an error while building the meta data/artifact of cdnjs project, our [website and api](https://github.com/cdnjs/new-website) may not be as new as our repository, however, the cdn service will not been affected, you can still use it, and modify the library name, version number and filename in the url can help you access all the content on cdnjs, we will fix the

[2019-09-26 00:06] PeterBot opened #13483 "[Build failed] Got error while building meta data/artifact"
Dear all,

Our build process just got an error while building the meta data/artifact of cdnjs project, our [website and api](https://github.com/cdnjs/new-website) may not be as new as our repository, however, the cdn service will not been affected, you can still use it, and modify the library name, version number and filename in the url can help you access all the content on cdnjs, we will fix the

[2019-09-26 00:37] PeterBot opened #13484 "[Build failed] Got error while building meta data/artifact"
Dear all,

Our build process just got an error while building the meta data/artifact of cdnjs project, our [website and api](https://github.com/cdnjs/new-website) may not be as new as our repository, however, the cdn service will not been affected, you can still use it, and modify the library name, version number and filename in the url can help you access all the content on cdnjs, we will fix the

[2019-09-29 21:52] msembinelli opened #13485 "CDN missing modules from newer versions of preact (10.0.0-x)"
For newer versions of the preact package (10.0.0-x), the `hooks` and `compat` modules are missing from the npmFileMap.

These modules are located in `hooks/dist` and `compat/dist`, which I would like to be included on the CDN. They should be added the npmFileMap in the preact package.json.

[2019-09-30 04:13] ByrenHiggin commented on #13454
Working on it now! 😊

[2019-09-30 13:41] sam327 commented on #13478
No worries. Thank you.

Um, update this though. Looks like backstretch just updated to **2.1.18** in the last week (after years of nothing). So let's please go with THAT. Whatever the absolute latest happens to be if/when you get there.

[2019-09-30 15:10] xxxdepy opened #13489 "Font display setting using URL parameter"
Google Font is where we all generally go for fonts, but there are libraries that we can't get on Google Fonts, for example, FontAwesome, however if we are to use FontAwesome on CDNjs then we can't change the font display settings.

Google fonts did not have it earlier, but they recently introduced it and it's so much better.

[2019-09-30 17:08] PeterBot opened #13490 "[Build failed] Got error while building meta data/artifact"
Dear all,

Our build process just got an error while building the meta data/artifact of cdnjs project, our [website and api](https://github.com/cdnjs/new-website) may not be as new as our repository, however, the cdn service will not been affected, you can still use it, and modify the library name, version number and filename in the url can help you access all the content on cdnjs, we will fix the

[2019-09-30 17:36] PeterBot opened #13491 "[Build failed] Got error while building meta data/artifact"
Dear all,

Our build process just got an error while building the meta data/artifact of cdnjs project, our [website and api](https://github.com/cdnjs/new-website) may not be as new as our repository, however, the cdn service will not been affected, you can still use it, and modify the library name, version number and filename in the url can help you access all the content on cdnjs, we will fix the

[2019-09-30 20:26] MattIPv4 commented on #13489
Hey there, we do not ever modify any assets we serve on the CDN, so this would not be possible via a URL parameter. FontAwesome has no default font as they use custom Unicode points, so using swap here would make no difference?

[2019-10-01 16:34] iylim commented on #11931
i'll take the boostrap validator

[2019-10-02 00:15] inlics opened #13497 "cdnjs.cloudflare.com is down"
cdnjs.cloudflare.com is down

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/81248290-cdnjs-cloudflare-com-is-down?utm_campaign=plugin&utm_content=tracker%2F32893&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tracker%2F32893&utm_medium=issue

[2019-10-02 11:23] dbsanfte commented on #3941
I'd hate to see what a low priority issue looks like.

[2019-10-02 20:05] MattIPv4 commented on #13497
Looks to be fine, are you sure this isn't an error on your end?

[2019-10-03 02:40] drewfreyling commented on #13497
Fine for me too - please provide an nslookup and traceroute.

[2019-10-06 02:58] inlics commented on #13497
It just happened between noon on October 1st and morning on October 2nd.

[2019-10-06 10:00] MattIPv4 commented on #13497
There were no other reports of this at all -- I would suspect this was an issue with your connection?

[2019-10-06 22:40] drewfreyling commented on #13450
Should we close this then?

[2019-10-07 06:45] AnReZa commented on #13450
I wouldn't say so. I still think, that they should be in the dictionary. The other option would be, to remove Globalize.js from your selection. The current solution makes no sense, because Globalize.js is on CDNJS, but the mandatory requirements arent't. Without the CLDR files, Globalize doesn't function.

[2019-10-07 08:08] MattIPv4 commented on #13450
I would close this in favour of a new issue to track the update request to the cldrjs to include the needed json files?

[2019-10-07 08:12] AnReZa commented on #13450
@MattIPv4 Sure, as long as the missing filed will be added eventually. :)

[2019-10-07 08:13] MattIPv4 commented on #13450
@AnReZa As you're most familiar with list, would you like to open that issue :)

[2019-10-07 08:24] AnReZa opened #13504 "Add CLDR JSON files"
_Globalize.js_ is currently hosted on CDNJS. It mandatorily requires various static JSON files from the Unicode Common Locale Data Repository (CLDR), as described [here](https://github.com/globalizejs/globalize/blob/master/doc/cldr.md). Without those files, Globalize won't function. Unfortunately, those files can't be found on CDNJS yet, hence you would need to host them locally, which would speak

[2019-10-07 08:33] #13450 closed

[2019-10-08 05:08] pawgrmr commented on #11475
Hi there, is this issue still open? If so can I take this one?

[2019-10-10 08:16] MattIPv4 commented on #13497
No progress, closing.

[2019-10-10 08:16] #13497 closed

[2019-10-10 08:16] MattIPv4 commented on #13489
No progress, closing.

[2019-10-11 15:51] redf150flames opened #13510 "font-awesome 4.7.0 icons stopped working"
Hello,

I got on my site today and noticed several of the FontAwesome icons broken. I am using the `<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">` embed.

If I disable the `font-family: "fontawesome-5-juicer"` style they come back. Not sure if this was recently updated or not?

![image](https://user-images.githubusercontent.com/5415652/6666

[2019-10-11 16:04] Achiel opened #13511 "Enable HTTP/3"
With the announcement that Cloudflare supports HTTP/3 now, would CDNJS be interested in enabling it? Usage will be limited as only Chrome Canary is currently the only browser that supports it, but would help in testing compatibility/performance.

Relevant links:
 - https://developers.cloudflare.com/http3/
 - https://blog.cloudflare.com/http3-the-past-present-and-future/

<bountysource-plugin>

---

[2019-10-11 21:25] MattIPv4 commented on #13511
@dknecht @simon-says @zackbloom can we make this happen?

[2019-10-11 21:27] MattIPv4 commented on #13510
That appears to be some extra styling you're inserting on your site that is causing the font-awesome icons to break. The assets we are serving have not changed, we ever change the contents of the assets we serve.

[2019-10-11 23:20] redf150flames commented on #13510
You're right @MattIPv4 there was another plugin adding extra styling that I missed. Thanks!

[2019-10-11 23:20] #13510 closed

[2019-10-12 00:27] drewfreyling commented on #13511
We might to be on the waitlist like everyone else!

[2019-10-12 00:43] dknecht commented on #13511
Yes.  Let’s turn it on.

[2019-10-12 07:25] mountainash opened #13513 "google-code-prettify still referencing googlecode"
Library: https://cdnjs.com/libraries/prettify has 2 `_run` files that are calling files on the now disabled **googlecode** CDN
eg:
https://cdnjs.cloudflare.com/ajax/libs/prettify/r298/run_prettify.js
https://cdnjs.cloudflare.com/ajax/libs/prettify/r298/run_prettify.min.js

The run files need to change to pull from `cdnjs.cloudflare.com` instead.

The setup on https://cdn.jsdelivr.net/gh/google/cod

[2019-10-12 09:31] tim-nz commented on #13095
Any hope for this?

[2019-10-13 05:11] alurban opened #13515 "[Request] [author] Add gwbootstrap"
Library name: gwbootstrap
Git repository URL: https://github.com/gwdetchar/gwbootstrap
`npm` package URL: https://www.npmjs.com/package/gwbootstrap
License: GPLv3.0
Homepage: https://github.com/gwdetchar/gwbootstrap#readme
Comments: This package contains service software for the Laser Interferometer Gravitational-wave Observatory (LIGO), Virgo, GEO600, and KAGRA experiments. It is strongly associa

[2019-10-13 15:28] Achiel commented on #13511
Cloudflare GA'd HTTP/3 support last week, there's no waiting list anymore! To enable, just login to the dashboard and turn it on under the Network tab.

[2019-10-13 15:29] MattIPv4 commented on #13511
We (cdnjs maintainers) don't have access to the cdnjs.cloudflare.com dashboard, the Cloudflare team need to do this.

@dknecht could you confirm here once it's enabled?

[2019-10-14 01:05] zackbloom commented on #13511
As it's a subdomain of cloudflare.com it likely can't be turned on without it being turned on for the whole domain. I'm currently working on a timeline for when that might be possible, hopefully very soon!

On Sun, Oct 13 2019 at 10:29 AM, < notifications@github.com > wrote:

[2019-10-14 08:45] hustcc opened #13516 "cdnjs update version delay"
`timeago.js` released new version **1 day ago**, but still can not found in cdnjs.How to update automatic or manual?

[2019-10-14 20:34] JakeRowsell89 commented on #13480
I had thought of submitting a quick PR, it looks like this is also an issue for the scripts hosted on pagecdn:
https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.min.js

[2019-10-17 08:51] jzsjiale opened #13518 "IView 4.0 has been released, hope to join in"
IView 4.0 has been released, hope to join in。

Aresn, author of iView, founded Beijing view Update Technology Co., Ltd. in 2019, and started to maintain iView and its related software freely and full-time. The view UI is the original iView, officially renamed view UI from October 2019, and uses a new logo. The author of iView will continue to develop iView 4.0 and subsequent versions in the new wa

[2019-10-17 10:57] #13516 closed

[2019-10-18 07:02] cybernet opened #13519 "datatables has a new version"
1.19.20 has been released, please update :)

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/82215351-datatables-has-a-new-version?utm_campaign=plugin&utm_content=tracker%2F32893&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tracker%2F32893&u

[2019-10-19 03:12] mfranzke opened #13520 "[Request][Author] Add loading-attribute-polyfill"
Library name: loading-attribute-polyfill
Library description: Fast and lightweight dependency-free vanilla JavaScript polyfill for native lazy loading / the awesome loading='lazy'-attribute.
Git repository url: https://github.com/mfranzke/loading-attribute-polyfill
npm package name or url (if there is one): https://www.npmjs.com/package/loading-attribute-polyfill
License: MIT

<bountysource-plugin

[2019-10-20 16:28] MattIPv4 commented on #13513
We will never update files that are already published. This would require a new, fixed version from the source for this library.

[2019-10-20 16:28] MattIPv4 commented on #13515
Hi there!

Thank you for making a new library request issue on cdnjs! 📦
Due to the massive number of requests we receive, it may be a while before one of our team get around to processing this request.

**To help us with this, you can create the pull request to add the library yourself!** 📥

**Please take a read of our [CONTRIBUTING.md](https://github.com/cdnjs/cdnjs/blob/master/CONTRIBUTING.md) f

[2019-10-20 16:28] MattIPv4 commented on #13518
Hi there!

Thank you for making a new library request issue on cdnjs! 📦
Due to the massive number of requests we receive, it may be a while before one of our team get around to processing this request.

**To help us with this, you can create the pull request to add the library yourself!** 📥

**Please take a read of our [CONTRIBUTING.md](https://github.com/cdnjs/cdnjs/blob/master/CONTRIBUTING.md) f

[2019-10-20 16:28] MattIPv4 commented on #13520
Hi there!

Thank you for making a new library request issue on cdnjs! 📦
Due to the massive number of requests we receive, it may be a while before one of our team get around to processing this request.

**To help us with this, you can create the pull request to add the library yourself!** 📥

**Please take a read of our [CONTRIBUTING.md](https://github.com/cdnjs/cdnjs/blob/master/CONTRIBUTING.md) f

[2019-10-20 16:28] MattIPv4 commented on #13519
Hi there!

Thank you for making a new library request issue on cdnjs! 📦
Due to the massive number of requests we receive, it may be a while before one of our team get around to processing this request.

**To help us with this, you can create the pull request to add the library yourself!** 📥

**Please take a read of our [CONTRIBUTING.md](https://github.com/cdnjs/cdnjs/blob/master/CONTRIBUTING.md) f

[2019-10-21 15:18] zackbloom commented on #13511
We've gone through the due diligence on the services which may be affected and are confident HTTP/3 will only help, not harm, so we are prepared to turn it on today. I will report back if and when that happens! 🚀

[2019-10-21 21:40] Jitsusama commented on #13392
Hello @MattIPv4;

I’m willing to give this a go, but I’m not at all familiar with how cdnjs works. Is there any documentation that I can read through so that I can better understand the problem and how it relates to how these scripts interact with each other today? Even some details on how I could setup my environment to replicate the issue and test possible solutions against?

[2019-10-22 00:58] lmccart opened #13523 "p5.js not updating"
Hello, it seems that the p5.js library is stuck at 0.9.0 on the CDN, even though we're on 0.10.2 now. The [package.json auto-update file](https://github.com/cdnjs/cdnjs/blob/master/ajax/libs/p5.js/package.json) seems to be correct and the [npm package is here](https://www.npmjs.com/package/p5). Do you see any problem? Thank you!

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty

[2019-10-22 01:17] zackbloom commented on #13511
Made progress finishing checks, will confirm that everything looks good tomorrow and provide another update.

[2019-10-22 02:27] eastling opened #13524 "Lack of cdnjs activity"
Hello, it seems the last commit is in 17days ago. Why there is no commit recently?
![image](https://user-images.githubusercontent.com/8174685/67255769-50e63480-f4b6-11e9-8cfb-ebd408cab167.png)

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/82400174-lack-of-cdnjs-activity?utm_campaign=plugin&utm_content=tracker%2F32893&utm_medium=is

[2019-10-22 08:24] MattIPv4 commented on #13524
Long story super short:

 - Founder restricted access heavily so we (core maintainers) cannot do much at all
 - Founder disappeared off the face of the earth and we heard nothing
 - We (core maintainers) raised this internally and asked it be sorted
 - Nothing was sorted, so @PeterDaveHello appears to have disabled our updating automation (I disagree with this action, it harms the existing users o

[2019-10-22 08:25] MattIPv4 commented on #13392
Unfortunately, I'm not aware of any docs relating to these scripts, though I defer to @PeterDaveHello as he's the one that runs them normally.

[2019-10-22 10:45] #13513 closed

[2019-10-23 14:05] skmedix opened #13527 "bootstrap-colorpicker not updating"
[cdnjs](https://cdnjs.com/libraries/bootstrap-colorpicker) | [git repo](https://github.com/itsjavi/bootstrap-colorpicker) | [npm](https://www.npmjs.com/package/bootstrap-colorpicker)

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/82497923-bootstrap-colorpicker-not-updating?utm_campaign=plugin&utm_content=tracker%2F32893&utm_medium=

[2019-10-23 14:37] PeterBot opened #13528 "[Build failed] Got error while building meta data/artifact"
Dear all,

Our build process just got an error while building the meta data/artifact of cdnjs project, our [website and api](https://github.com/cdnjs/new-website) may not be as new as our repository, however, the cdn service will not been affected, you can still use it, and modify the library name, version number and filename in the url can help you access all the content on cdnjs, we will fix the

[2019-10-23 19:13] MattIPv4 commented on #13519
Please see #13524

[2019-10-23 19:13] MattIPv4 commented on #13523
Please see #13524

[2019-10-23 19:13] MattIPv4 commented on #13527
Please see #13524

[2019-10-23 19:14] lmccart commented on #13523
got it, thanks!

[2019-10-23 19:14] #13523 closed

[2019-10-24 17:01] hydrargyrum opened #13529 "Add RevealJS plugins"
Reveal.js is already on CDNJS: https://cdnjs.com/libraries/reveal.js but unfortunately not its plugins, which are very useful. Please add them https://github.com/rajgoel/reveal.js-plugins
The project has more than 300 stars.

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/82566560-add-revealjs-plugins?utm_campaign=plugin&utm_content

[2019-10-24 17:58] Dipanjan9 opened #13530 "update bootstrap-markdown"
bootstrap-markdown should be updated thank you

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/82569172-update-bootstrap-markdown?utm_campaign=plugin&utm_content=tracker%2F32893&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tracker%2F32893&u

[2019-10-26 04:21] tiesont commented on #13422
Looks like the update went through. Closing. Thanks!

[2019-10-26 04:21] #13422 closed

[2019-10-26 14:27] MattIPv4 commented on #13529
Hi there!

Thank you for making a new library request issue on cdnjs! 📦
Due to the massive number of requests we receive, it may be a while before one of our team get around to processing this request.

**To help us with this, you can create the pull request to add the library yourself!** 📥

**Please take a read of our [CONTRIBUTING.md](https://github.com/cdnjs/cdnjs/blob/master/CONTRIBUTING.md) f

[2019-10-27 02:23] LuckyPigeon commented on #13414
@programad I want to work on this PR, and I want to know the name of main javascript file, thanks!

[2019-10-27 02:46] LuckyPigeon commented on #13218
@Potapy4 I am working on this PR now, but I couldn't find the main js file. Do you have any idea?

[2019-10-28 01:14] SamMauldin commented on #11931
I'll take the one for mixitup

[2019-10-28 09:34] olafcm commented on #13524
Thank you for your update on this issue, @MattIPv4.
Since the auto-update bot is offline, none of the libs we use are updated. Any progress on the issue?
Thanks!

[2019-10-28 11:05] programad commented on #13414
Thank you for this, sir. The main javascript is ckeditor.js

The latest version is v15: https://github.com/ckeditor/ckeditor5/releases/tag/v15.0.0

[2019-10-28 11:11] MattIPv4 commented on #13524
No progress since the last update to the above message, which I plan to keep updated with the latest. I'll follow up internally later today about getting auto-updating back working and getting us (core maintainers) proper admin access to all our repos.

[2019-10-28 11:31] xevimayo opened #13536 "Vuetify not up to date"
The Vuetify lib is not updated, current version is 2.1.7 and last in cdnjs is 2.1.1 lots of fixes from there.

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/82784910-vuetify-not-up-to-date?utm_campaign=plugin&utm_content=tracker%2F32893&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountys

[2019-10-28 14:01] RVMac commented on #12920
Hi, I want to contribute. can you guide me on the needed tasks?

[2019-10-28 21:56] MattIPv4 commented on #13536
Please see https://github.com/cdnjs/cdnjs/issues/13524

[2019-10-28 22:10] xevimayo commented on #13536
Thanks @MattIPv4 now I understand the situation! I hope you can fix these situation.

[2019-10-29 14:05] gruselhaus commented on #13524
@MattIPv4 any progress?

[2019-10-29 18:22] MattIPv4 commented on #13524
I've followed up internally about the outstanding issues, haven't heard anything more though.

As a general note, pinging me for updates isn't need, I will keep the post at the top updated with the latest :)

[2019-11-01 09:13] mfranzke commented on #13520
PR has been created with #13521 before

[2019-11-01 11:28] jimaek commented on #13524
Let me know if the jsDelivr team can help in any way

[2019-11-01 11:46] MattIPv4 commented on #13524
@jimaek with the little access & control that I have, I'm not sure that there is currently much we can do.

Though, if we ever do reach a point where we have the access needed, it may be an idea to consider simply creating a worker on cdnjs.cloudflare.com that maps traffic to jsDelivr, to put an end to this mess.

[2019-11-01 11:53] jimaek commented on #13524
That's an option of course. But we can also provide developer time for free to help out and ensure there is no impact to any users. Just ping me

[2019-11-01 15:40] aditsachde commented on #13524
I'm not really sure how any of the internal infrastructure works, but has there been an attempt to contact Cloudflare? The assets are served from a Cloudflare domain, so they might be able to help out with creating a worker and remapping traffic to jsDelivr, without commit access to all the repos or the bot.

[2019-11-01 15:42] MattIPv4 commented on #13524
Yes, I could potentially work with Cloudflare to deploy such a worker, though this would be an absolute last resort thing and not something I really want to do unless we deciede that cdnjs is completely dead, which is not a call that has been made yet.

[2019-11-01 18:10] zackbloom commented on #13524
I work at Cloudflare on the team which supports CDNJS. We're all very sorry this disruption in the updating of CDNJS happened. We are committed to continuing to serve CDNJS users and sites. Any site using CDNJS will continue to get the files it relies on without interruption.

We have engineers currently working with the CDNJS team to get the updating happening again. Once that is completed we can

[2019-11-01 20:20] drewfreyling commented on #13524
Thanks @zackbloom and @MattIPv4 - let me know if I can be if assistance with any of the development effort.

[2019-11-01 20:23] PeterDaveHello commented on #13524
Sorry for the inconvenience caused here, never mean to harm the project or Cloudflare.

It's really a ... hard decision to make to step down and take a rest, on a project I spent so much time and varies of resources on it, actually, I'm a little bit tired, too many things need to be done, resources are really limited, only few contributors get involved into it, instead, so many people take it as g

[2019-11-04 16:27] zackbloom commented on #13524
Thank you @PeterDaveHello. We all deeply appreciate all the time and effort you have put into CDNJS over the past few years, it is an amazing thing to go back through the commits and see just how much you have done.

[2019-11-04 22:11] tommedema commented on #12677
@mlabieniec any update on this? will individual packages like Storage get their own standalone compiled versions too?

[2019-11-08 06:11] KoalaBear84 opened #13605 "OverlayScrollbars is not updated"
See original request to add it #12562

It says "npm autoupdate enabled", and it is already updated a month ago on npmjs.

https://www.npmjs.com/package/overlayscrollbars

Is it broken? Thanks in advance!

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/83385016-overlayscrollbars-is-not-updated?utm_campaign=plugin&utm_content=tracker%

[2019-11-08 08:22] XhmikosR opened #13606 "popper.js 1.16.0 missing"
I've seen #13524, just wanted to track this.

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/83389975-popper-js-1-16-0-missing?utm_campaign=plugin&utm_content=tracker%2F32893&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tracker%2F32893&utm_

[2019-11-08 11:18] MattIPv4 commented on #13605
Please see https://github.com/cdnjs/cdnjs/issues/13524

[2019-11-08 11:23] KoalaBear84 commented on #13605
Thank you very much for the info and thanks for working to fix this again. 👍

I'll close it myself as things will automatically be resolved 'soon' I guess 👍

[2019-11-08 11:23] #13605 closed

[2019-11-08 16:25] #13463 closed

[2019-11-08 16:25] #13464 closed

[2019-11-08 16:25] #13465 closed

[2019-11-08 16:25] #13466 closed

[2019-11-08 16:25] #13467 closed

[2019-11-08 16:25] #13468 closed

[2019-11-08 16:25] #13469 closed

[2019-11-08 16:25] #13470 closed

[2019-11-08 16:25] #13471 closed

[2019-11-08 16:25] #13472 closed

[2019-11-08 16:25] #13473 closed

[2019-11-08 16:25] #13476 closed

[2019-11-08 16:25] #13477 closed

[2019-11-08 16:25] #13482 closed

[2019-11-08 16:25] #13483 closed

[2019-11-08 16:25] #13484 closed

[2019-11-08 16:25] #13490 closed

[2019-11-08 16:25] #13491 closed

[2019-11-08 16:25] #13528 closed

[2019-11-09 17:03] skmedix commented on #13527
This lib is not auto updating for a while, I guess that's because repo url changed

[2019-11-11 10:54] ole1986 commented on #13141
The npm package location does not actually match.

[2019-11-11 14:28] blade2005 commented on #13141
Not sure how I missed that but they've got an open issue on this for getting that done. https://github.com/drvic10k/bootstrap-sortable/issues/119

[2019-11-11 14:59] gaspardip opened #13609 "React 16.11 missing"
Hi, could you please add React 16.11? It has been missing for a few weeks now. Thanks.

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/83540946-react-16-11-missing?utm_campaign=plugin&utm_content=tracker%2F32893&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=pl

[2019-11-11 15:28] ole1986 commented on #13141
This npm packages iis not available. But luckily package.json can deal with git repos. So I used

`"bootstrap-sortable": "git://github.com/drvic10k/bootstrap-sortable.git#0df36e981d102963dd08ac3db8b247e00286600d"`

in package.json to fetch it

[2019-11-11 20:13] zackbloom opened #13610 "Transfer update bot management to Cloudflare"
CDNJS relies on an automatic update process which pulls in the latest versions of existing projects (in additional to a manual review process for new projects). Historically the bot which enables this process has ran on a server of a key maintainer of the project, @PeterDaveHello. Unfortunately as a part of https://github.com/cdnjs/cdnjs/issues/13524 this service was terminated 29 days ago, preven

[2019-11-11 20:45] #13414 closed

[2019-11-11 20:48] MattIPv4 commented on #13610
What's the plan as far as CI goes, will @robocdnjs take over that duty too?

[2019-11-11 20:54] zackbloom commented on #13610
Yes, that's the plan @MattIPv4. I'm currently in the process of categorizing the open PRs and the plan is for the bot to be able to handle an even wider swath of the cases which currently require manual intervention. I'll have more of a write-up on that in a separate issue.

[2019-11-11 21:05] MattIPv4 commented on #13610
Awesome, sounds great.

[2019-11-11 21:08] #13289 closed

[2019-11-11 21:12] #13238 closed

[2019-11-13 11:43] zackbloom opened #13611 "Should we add X-Content-Type-Options header?"
The `X-Content-Type-Options: nosniff` header allows a server or CDN to instruct clients not to try to guess at the Content-Type of a file. This is valuable as a file could have the `.js` file extension, but look like `html` which would cause the browser to serve it as a site and grant it access to cookies and the like.

We would very much like to add this header, but what we don't want to do is br

[2019-11-13 12:16] zackbloom opened #13612 "Transfer website build to alternative infrastructure"
Historically the cdnjs website has been built and deployed on the server of @PeterDaveHello. Unfortunately due to hardware issues on his machine that is not currently happening, meaning new projects will not appear in the search there. What does the community think is the best way to manage this going forward? @cdnjs/cloudflare would be happy to donate compute capacity and the SRE work to maintain

[2019-11-13 12:24] zackbloom opened #13613 "Remove the need for manual moderation"
CDNJS requires a certain amount of manual review and moderation. This review is required both to allow new projects to be added to the project, and to handle certain types of project changes which can't be automatically imported.

This issue is a place to discuss how we might eliminate this requirement in the future.

I believe the goal of this project should be to take everything which requires a

[2019-11-13 12:25] PeterDaveHello commented on #13612
@zackbloom Not exactly, as I mention in the mail, it's deployed on Heroku ;)

The build process was running on my server, then pushed to Heroku to serve the content.

As this part is almost fully automatic already, unless something was broken, maybe it can be hosted directly inside Cloudflare's infra, just will need some revise on cdnjs/buildScript

[2019-11-13 13:29] zackbloom commented on #13613
I'm going to write down a few of the proposals which came through the Slack channel to start the conversation.

## Two Repos

At present, the cdnjs/cdnjs repo is generated by a combination of humans and bots. The humans are required to validate packages which then can often be updated automatically by a bot. One proposal which came out of the Slack channel is moving to a model where there are two

[2019-11-13 13:40] zackbloom commented on #13612
This is super helpful, thank you @PeterDaveHello. Just to clarify, that build step is still running on your personal machine? Has the hardware issue been resolved?

[2019-11-13 13:45] PeterDaveHello commented on #13612
@zackbloom It's not running currently, the problem hasn't been resolved yet, would really appreciate if Cloudflare can help this part, the hardware requirement is basically the same as the bot's server, let me know if I can help. Thanks.

[2019-11-13 13:46] zackbloom commented on #13612
We can do that!

[2019-11-13 14:34] xtuc commented on #13612
Could we move the website to GitHub pages?

[2019-11-13 14:54] xtuc commented on #13612
@PeterDaveHello could you please clarify what's the "build process" of the website? I can see what the sitemap is generated (https://github.com/cdnjs/new-website/blob/master/update.js)

[2019-11-13 20:38] thomasdavis commented on #13612
@zackbloom I am working on some website redesign and will tackle the build system.

[2019-11-14 02:07] drewfreyling commented on #13613
I like the first proposal. I think NPM direct is out since not all projects use NPM (plus it would mean CloudFlare would have to have potentially everything on NPM on their edge servers)

[2019-11-14 22:36] MattIPv4 commented on #13612
Regarding a website redesign, this is something I've been working toward for a while now.

I've got a milestone set up on the website repo for everything I'd like to get resolved with the current site before we start redesigning it: https://github.com/cdnjs/new-website/milestone/1

Once that's done, we have a set of mocks for a new website design in the brand repo, which can be found here: https:/

[2019-11-14 22:54] MattIPv4 commented on #13613
+1 to the first proposal - this is something I've "considered" for some time. It allows for humans and ccontributors to work with "cdnjs" far more easily, whilst still retaining the current "model" we have where all the files that are hosted live in a repo.

[2019-11-15 07:11] kingller opened #13618 "react-i18next is lost"
Hi,
  I cannot find the `react-i18next` now, it was exist before.

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/83831938-react-i18next-is-lost?utm_campaign=plugin&utm_content=tracker%2F32893&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tr

[2019-11-15 16:28] olafcm commented on #13611
I like this, I think it is save to add since jsDelivr and unpkg have it already set 👍

Regarding to the header config, is it possible to extend the caching for CDNJS?
I think both the "origin" request header and the query string can be ignored, so that would require a custom cache key.

From:
`${header:origin}::${scheme}://${host_header}${uri}`
To:
`${scheme}://${host_header}${uri_iqs}`

[2019-11-15 16:55] ryankirkman commented on #13610
@zackbloom @xtuc This makes sense to me. Let’s go ahead with using the new Ansible based auto update bot.

One request: since the bot will become the canonical update bot, can we move the new repo under the cdnjs organization GitHub account?

This doesn’t need to block turning on the bot, but would be good to co-locate all parts of cdnjs infrastructure under the cdnjs GitHub organization where pos

[2019-11-15 18:50] zackbloom commented on #13610
Yes, I think that is a great idea. We will remove access to @PeterBot at this time then.

[2019-11-15 19:19] xtuc commented on #13610
@ryankirkman yes sure; I created https://github.com/cdnjs/bot-ansible.

[2019-11-15 20:39] DanielRuf commented on #13618
It was never on cdnjs. At least I see no commits regarding this library.

Did you mean i18next?

[2019-11-16 18:45] #2356 closed

[2019-11-16 19:08] nschermer opened #13620 "Framework7 5.x update"
There have been a couple of 5.0.x releases and the current version is 5.1.1. cdnjs is still stuck at 4.5.2 and some betas.

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/83971217-framework7-5-x-update?utm_campaign=plugin&utm_content=tracker%2F32893&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https:/

[2019-11-17 21:26] NotMoni opened #13622 "Download the newest version of all the libraries - frameworks oraganized in one-zip file."
I am going to a rural part of the world where there is no electricity for 3 months. Is it possible i can get a zip file with all the js libraries and frameworks you guys host? I want to give the files to the people that live there and teach them the code. Could you guys provide me a zip file.

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com

[2019-11-17 21:32] drewfreyling commented on #13622
Just clone the repo and all the files will be there for you to zip up.

[2019-11-17 21:34] MattIPv4 commented on #13622
Be warned it's like around 200GB uncompressed.

[2019-11-18 01:16] kingller commented on #13618
Sorry, it's my mistake.

[2019-11-18 01:16] #13618 closed

[2019-11-18 21:31] jackdoyle commented on #13610
Just checking in - @zackbloom @ryankirkman any progress? It has been over a week now and GSAP 3 still isn't up on the Cloudflare CDN. We have a lot of customers asking us about this. Kinda embarrassing for us. It'd be great to get a status update when you have a chance. Thanks for all your efforts!

[2019-11-18 22:42] zackbloom commented on #13610
Thanks for your patience as always @jackdoyle. I need to check with @xtuc, but I am optimistic about reenabling the updating tomorrow.

[2019-11-18 22:44] zackbloom commented on #13613
We only cache, not store, at the edge, so that isn't a concern. (npm is actually built on Cloudflare Workers, we already cache many of those files ;) ).

To allow for projects which don't use npm we could either... ask them to use npm, or support GitHub as an alternative source.

[2019-11-18 22:44] #13622 closed

[2019-11-18 22:58] thomasdavis commented on #13612
@zackbloom on further investigation I don't have the resources to run the build. So will pass the infrastructure onto you guys.

I will work on redesign and documentation updates though.

[2019-11-19 14:28] Mister-Hope opened #13623 "viewerjs 1.4.0 not provided"
viewerjs 1.4.0 not provided

https://github.com/fengyuanchen/viewerjs/releases/tag/v1.4.0

the newest is still 1.3.7

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/84177296-viewerjs-1-4-0-not-provided?utm_campaign=plugin&utm_content=tracker%2F32893&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https:/

[2019-11-19 14:31] Mister-Hope opened #13624 "vuex 3.1.2 missing"
https://github.com/vuejs/vuex/releases/tag/v3.1.2

The newest is still 3.1.1

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/84029098-vuex-3-1-2-missing?utm_campaign=plugin&utm_content=tracker%2F32893&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_co

[2019-11-19 18:11] ecrmnn opened #13625 "collect.js 4.18.7 missing"
Hi

https://cdnjs.com/libraries/collect.js havn't updated in three months.

That release is [three months old](https://github.com/cdnjs/cdnjs/tree/master/ajax/libs/collect.js/4.16.6).  The newest release (2 days old) [`4.18.7`](https://github.com/cdnjs/cdnjs/tree/master/ajax/libs/collect.js/4.18.7) exists in `ajax/libs/` but isn't visible on the site?

<bountysource-plugin>

---
Want to back this

[2019-11-20 03:32] zackbloom commented on #13610
Good news! Updates are live as of today. THANK YOU all for your patience.

PS @jackdoyle https://cdnjs.cloudflare.com/ajax/libs/gsap/3.0.0/gsap.min.js

[2019-11-20 03:32] #13610 closed

[2019-11-20 04:32] jackdoyle commented on #13610
@zackbloom Thanks so much! That's excellent news.

[2019-11-20 06:39] jackdoyle commented on #13610
@zackbloom is there any reason the cdnjs.com site isn't updating with the new version(s)? https://cdnjs.com/libraries/gsap

It still shows 2.1.3 as the latest (but it should be 3.0.1). Help?

[2019-11-20 06:52] zackbloom commented on #13610
That is another component which is in the process of being moved to more reliable infrastructure. It's tracked in https://github.com/cdnjs/cdnjs/issues/13612

[2019-11-20 06:53] #13524 closed

[2019-11-20 21:38] Modryz commented on #12790
Could you please reconsider adding this package to cdnjs?

[2019-11-20 23:09] MattIPv4 commented on #13613
I’m still of the opinion that the first idea, where we split into two repos but maintain the existing concept is the best first step.

That’ll alleviate the size issue for maintaining the project as cdnjs/cdnjs will become robot-only.

Could I suggest the new repo that will contain all the package.json files is called cdnjs/packages?

There are a few blockers from this “split” happening immediatel

[2019-11-23 00:42] NotMoni commented on #13622
I better get downloading.

[2019-11-23 11:21] dregad opened #13627 "Is the autoupdate process broken ?"
Looking at the numerous issues in this tracker complaining that library XYZ's latest version is not available on cdnjs, I'm wondering whether there is a general problem with the autoupdate process.

e.g. #13625, #13624, #13623, #13620, #13609, #13606, and many others.

I could add [corejs-typeahead](https://cdnjs.com/libraries/corejs-typeahead) to the list - it seems the latest release (1.3.0) was

[2019-11-23 16:47] MattIPv4 commented on #13627
Auto-update is working fine, as you've stated yourself. The assets are in the cdnjs repository and are available on the CDN: https://cdnjs.cloudflare.com/ajax/libs/corejs-typeahead/1.3.0/bloodhound.js

The only reminaing issue is that the website is currently not updating to show the latest versions available, this is being tracked in https://github.com/cdnjs/cdnjs/issues/13612

[2019-11-23 16:48] MattIPv4 commented on #13625
The assets are in the cdnjs repository and are available on the CDN: https://cdnjs.cloudflare.com/ajax/libs/collect.js/4.18.7/collect.js

The only remaining issue is that the website is currently not updating to show the latest versions available, this is being tracked in #13612

[2019-11-23 16:48] #13625 closed

[2019-11-23 16:48] #13627 closed

[2019-11-23 16:49] MattIPv4 commented on #13624
The assets are in the cdnjs repository and are available on the CDN: https://cdnjs.cloudflare.com/ajax/libs/vuex/3.1.2/vuex.js

The only remaining issue is that the website is currently not updating to show the latest versions available, this is being tracked in #13612

[2019-11-23 16:49] #13624 closed

[2019-11-23 16:49] MattIPv4 commented on #13623
The assets are in the cdnjs repository and are available on the CDN: https://cdnjs.cloudflare.com/ajax/libs/viewerjs/1.4.0/viewer.js

The only remaining issue is that the website is currently not updating to show the latest versions available, this is being tracked in #13612

[2019-11-23 16:49] #13623 closed

[2019-11-23 16:52] MattIPv4 commented on #13536
The assets are now in the cdnjs repository and are available on the CDN: https://cdnjs.cloudflare.com/ajax/libs/vuetify/2.1.9/vuetify.js

The only remaining issue is that the website is currently not updating to show the latest versions available, this is being tracked in #13612

[2019-11-23 16:52] #13536 closed

[2019-11-23 16:59] MattIPv4 commented on #13620
Hi there!

Thank you for making a new library request issue on cdnjs! 📦
Due to the massive number of requests we receive, it may be a while before one of our team get around to processing this request.

**To help us with this, you can create the pull request to add the library yourself!** 📥

**Please take a read of our [CONTRIBUTING.md](https://github.com/cdnjs/cdnjs/blob/master/CONTRIBUTING.md) f

[2019-11-23 16:59] MattIPv4 commented on #13609
Hi there!

Thank you for making a new library request issue on cdnjs! 📦
Due to the massive number of requests we receive, it may be a while before one of our team get around to processing this request.

**To help us with this, you can create the pull request to add the library yourself!** 📥

**Please take a read of our [CONTRIBUTING.md](https://github.com/cdnjs/cdnjs/blob/master/CONTRIBUTING.md) f

[2019-11-23 17:00] MattIPv4 commented on #13606
Hi there!

Thank you for making a new library request issue on cdnjs! 📦
Due to the massive number of requests we receive, it may be a while before one of our team get around to processing this request.

**To help us with this, you can create the pull request to add the library yourself!** 📥

**Please take a read of our [CONTRIBUTING.md](https://github.com/cdnjs/cdnjs/blob/master/CONTRIBUTING.md) f

[2019-11-23 17:01] MattIPv4 commented on #13530
Hi there!

Thank you for making a new library request issue on cdnjs! 📦
Due to the massive number of requests we receive, it may be a while before one of our team get around to processing this request.

**To help us with this, you can create the pull request to add the library yourself!** 📥

**Please take a read of our [CONTRIBUTING.md](https://github.com/cdnjs/cdnjs/blob/master/CONTRIBUTING.md) f

[2019-11-23 17:25] XhmikosR commented on #13606
Err it's not a new library request. Popper js already is on cdnjs but it's
outdated

On Sat, Nov 23, 2019, 19:00 Matt (IPv4) Cowley <notifications@github.com>
wrote:

[2019-11-23 17:40] MattIPv4 commented on #13606
I use the same macro response for both as the same principles apply. It needs a PR to manually bring in the missing versions and to update whatever auto-update config may be present on the library to ensure it is correct for the recent versions.

[2019-11-23 17:44] XhmikosR commented on #13606
We'll see then. I'm having trouble cloning th4 repo and I'm unfamiliar with
the process. Also I thought the process was automatic?

On Sat, Nov 23, 2019, 19:40 Matt (IPv4) Cowley <notifications@github.com>
wrote:

[2019-11-23 17:46] MattIPv4 commented on #13606
If you wish to contribute the change yourself, I would suggest doing it through the GitHub website as the repository is in excess of 200GB to clone.

Yes, the entire concept of auto-update is that it is automatic, but if the file structure of the library changes, then the auto-update config will no longer be valid and so a human will need to step in to rectify this by manually adding the recent ve

[2019-11-23 18:35] dregad commented on #13627
@MattIPv4 thanks for the prompt feedback.

Please accept my apologies for the tone of my initial post's last paragraph, that was uncalled for. Sorry about that.

Not knowing the internals of cdnjs, I did not realize that updating the website was a separate process, and did not even think of trying to access the resources directly.

Is it possible to get the SRI without the website ?

[2019-11-23 18:37] MattIPv4 commented on #13627
You should be able to use https://www.srihash.org/ for now, until we have the website running again :)

[2019-11-23 21:38] myshov commented on #11123
@PeterDaveHello @MattIPv4
Hello guys
I suggest to prioritize this issue because SHA-256 and SHA-512 are susceptible to length extension attacks. I suggest to use SHA-384 because it has no this flaw https://blog.skullsecurity.org/2012/everything-you-need-to-know-about-hash-length-extension-attacks

[2019-11-23 21:39] MattIPv4 commented on #11123
cc @zackbloom @xtuc

[2019-11-24 09:26] XhmikosR commented on #13606
NP, I will give it a go via the web interface and see how it goes although I'm definitely not familiar with the process.

[2019-12-02 12:07] XhmikosR commented on #13606
Unfortunately, I can't seem to be able to make it work via the Web interface...

Searching for "popper" in my fork returns zero results and the ajax/libs folder is limited: `Sorry, we had to truncate this directory to 1,000 files. 2,462 entries were omitted from the list.`

I'm unsure how to do it via the web interface which I personally have not used before.

[2019-12-02 12:39] MattIPv4 commented on #13606
Once you're in the ajax/libs folder, you should just be able to stick `/popper` on the end of the URl in the browser to get into the folder.

[2019-12-02 13:08] XhmikosR commented on #13606
So, it seems the new versions are uploaded, they are just not on the live site

https://github.com/cdnjs/cdnjs/tree/master/ajax/libs/popper.js

[2019-12-02 13:08] #13606 closed

[2019-12-03 03:43] ayanamist opened #13631 "element ui 2.13.0 is missing in list"
It already exists in repo
https://github.com/cdnjs/cdnjs/tree/master/ajax/libs/element-ui/2.13.0
but missing in api query and web list
https://api.cdnjs.com/libraries/element-ui

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/84798223-element-ui-2-13-0-is-missing-in-list?utm_campaign=plugin&utm_content=tracker%2F32893&utm_medium=iss

[2019-12-03 09:45] MattIPv4 commented on #13631
See https://github.com/cdnjs/cdnjs/issues/13612

[2019-12-03 09:45] #13631 closed

[2019-12-03 10:58] thehitechpanky commented on #13612
bootstrap link is not updated, please update that too

[2019-12-04 02:26] rajasekaran2003 opened #13632 "Newer versions of mermaid are missing"
The newer versions seem to be added to the repo but they don't seem to published https://github.com/cdnjs/cdnjs/commits/master/ajax/libs/mermaid

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/84860284-newer-versions-of-mermaid-are-missing?utm_campaign=plugin&utm_content=tracker%2F32893&utm_medium=issues&utm_source=github)** We acce

[2019-12-04 11:32] thehitechpanky opened #13633 "No link for multiple datatables apis"
https://github.com/DataTables/Select
https://github.com/DataTables/Responsive
and others listed on https://datatables.net/extensions/index

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/84882774-no-link-for-multiple-datatables-apis?utm_campaign=plugin&utm_content=tracker%2F32893&utm_medium=issues&utm_source=github)** We accept boun

[2019-12-04 18:58] MattIPv4 commented on #13632
These assets are in this repository and available on the CDN. The website is currently not updating, please see #13612

[2019-12-04 18:58] #13632 closed

[2019-12-04 18:59] MattIPv4 commented on #13633
Hi there!

Thank you for making a new library request issue on cdnjs! 📦
Due to the massive number of requests we receive, it may be a while before one of our team get around to processing this request.

**To help us with this, you can create the pull request to add the library yourself!** 📥

**Please take a read of our [CONTRIBUTING.md](https://github.com/cdnjs/cdnjs/blob/master/CONTRIBUTING.md) f

[2019-12-06 23:14] saulchristie opened #13634 "Git auto-update: OpenPGP.js not updating"
OpenPGP.js seem to have done some refactoring when moving from 4.6.2 to 4.7.0 so the automated updates at cdnjs.com have stopped. Presumably needs a PR.

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/85041062-openpgp-js-needs-pulling-back-in-following-4-7-x-update?utm_campaign=plugin&utm_content=tracker%2F32893&utm_medium=issues&ut

[2019-12-06 23:27] MattIPv4 commented on #13634
Hi there!

Thank you for making a new library request issue on cdnjs! 📦
Due to the massive number of requests we receive, it may be a while before one of our team get around to processing this request.

**To help us with this, you can create the pull request to add the library yourself!** 📥

**Please take a read of our [CONTRIBUTING.md](https://github.com/cdnjs/cdnjs/blob/master/CONTRIBUTING.md) f

[2019-12-07 07:40] chrisc0 opened #13635 "Please update bootstrap to the latest version"
Hi,

Can someone please update bootstrap to the latest version?  It's currently two behind.  Thanks.

Chris

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/85052864-please-update-bootstrap-to-the-latest-version?utm_campaign=plugin&utm_content=tracker%2F32893&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource

[2019-12-07 11:29] MattIPv4 commented on #13635
The latest version (4.4.1) is in the cdnjs repository (https://github.com/cdnjs/cdnjs/tree/master/ajax/libs/twitter-bootstrap/4.4.1) and is available for use on the CDN: https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/css/bootstrap.css

The website is currently not updating to show latest versions, see #13612

[2019-12-07 11:29] #13635 closed

[2019-12-09 00:15] DanielRuf opened #13636 "Wrong Foundation version"
https://cdnjs.cloudflare.com/ajax/libs/foundation/6.6.0/js/foundation.min.js

This seems to be 6.5.3 which is wrong.

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/85115122-wrong-foundation-version?utm_campaign=plugin&utm_content=tracker%2F32893&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://ww

[2019-12-09 20:25] MattIPv4 commented on #13636
Can confirm this appears to be the case...

foundation.js on cdnjs @ 6.6.0: https://cdnjs.cloudflare.com/ajax/libs/foundation/6.6.0/js/foundation.js
foundation.js in the source repo @ 6.6.0: https://raw.githubusercontent.com/foundation/foundation-sites/9a73cc9721056c586547b0b83938dc22a1176871/dist/js/foundation.js

An example that they are different: the string `this.isEnabled = true;` exists in t

[2019-12-09 20:26] MattIPv4 commented on #13636
cc @xtuc - whilst we can't retroactively fix versions as this will break SRI, we should find the root cause of this so we dont publish any further bad versions.

[2019-12-09 21:53] waltjones opened #13637 "Git auto-update: rollbar.js not updating"
When the updater was reenabled, rollbar.js caught up to its then current version of 2.14.4. Since then, 2.14.5 and 2.14.6 have been tagged at https://github.com/rollbar/rollbar.js but are not showing up at https://github.com/cdnjs/cdnjs/blob/master/ajax/libs/rollbar.js/ and https://github.com/cdnjs/cdnjs/blob/master/ajax/libs/rollbar.js/package.json is still set to 2.14.4.

Any help is appreciated

[2019-12-11 16:40] olafcm opened #13638 "Dash.js 3.0.1 missing"
npm autoupdate is enabled, see: https://cdnjs.com/libraries/dashjs
but version 3.0.1 (https://www.npmjs.com/package/dashjs) is missing, see: https://github.com/cdnjs/cdnjs/tree/5eba365ae67cfa323dbb69fe0c77cfc7eabb1955/ajax/libs/dashjs

Can this be resolved?
How does that work with the new cdnjs bot?

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysou

[2019-12-11 18:25] malcolmocean commented on #13165
Not certain but I think I have a situation where I'm getting this with Brave but not with other browsers.

[2019-12-11 18:43] MattIPv4 commented on #13165
@malcolmocean Could you provide network request logs so we could look into this?

[2019-12-12 00:27] malcolmocean commented on #13165
@MattIPv4 not sure exactly what you're looking for, but I tried hitting export-as-fetch and got this:

[code]

What I get in the console is:

[code]

[2019-12-12 11:01] MattIPv4 commented on #13165
@malcolmocean `Access to script at 'data:text/plain,'` this seems to be unrelated to requesting a cdnjs resource at all?

[2019-12-13 11:54] MattIPv4 commented on #13638
Hi there!

Thank you for making a new library request issue on cdnjs! 📦
Due to the massive number of requests we receive, it may be a while before one of our team get around to processing this request.

**To help us with this, you can create the pull request to add the library yourself!** 📥

**Please take a read of our [CONTRIBUTING.md](https://github.com/cdnjs/cdnjs/blob/master/CONTRIBUTING.md) f

[2019-12-13 11:55] MattIPv4 commented on #13637
Hi there!

Thank you for making a new library request issue on cdnjs! 📦
Due to the massive number of requests we receive, it may be a while before one of our team get around to processing this request.

**To help us with this, you can create the pull request to add the library yourself!** 📥

**Please take a read of our [CONTRIBUTING.md](https://github.com/cdnjs/cdnjs/blob/master/CONTRIBUTING.md) f

[2019-12-15 11:47] Mister-Hope opened #13643 "vue 2.6.11 missing"
Links are unavilable

https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.11/vue.common.prod.js

while

https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.common.prod.js

working

[2019-12-15 12:32] codecalm commented on #12701
Hi! We rewrite Tabler. Now from `dist/` directory we serve only js and css files. Develop version is on `dev` branch, soon we will merge it to master.

[2019-12-15 19:36] MattIPv4 commented on #13643
Files in 2.6.11:

[code]

Files in 2.6.10:
[code]

Seem to be identical, auto-update config seems fine still: https://github.com/cdnjs/cdnjs/blob/master/ajax/libs/vue/package.json#L13-L21

Any ideas @xtuc?

[2019-12-16 18:25] waltjones commented on #13637
Hi @MattIPv4 , this isn't a new library. The autoupdater has worked fine for us until it stopped working for everyone a few months ago. Then when it was working again, it did catch up to the current version at that time. But no further versions have been picked up since then.

If there is a known issue with the autoupdater that is causing the current problem, can you link it here?

[2019-12-16 18:41] MattIPv4 commented on #13637
Ah, I had assumed that new files had been added or files removed, which would cause the auto-update to fail and require a manual PR.

However, looking at the files in 2.14.4 & 2.14.6, they're identical, so auto-update should be working correctly.

@xtuc any ideas?

[2019-12-16 21:01] waltjones commented on #13637
@MattIPv4 I thought the script relied on git version tags to pick up new versions, but https://github.com/cdnjs/cdnjs/blob/master/CONTRIBUTING-WIP.md says it looks at npmjs.org. Which is accurate?

[2019-12-16 21:02] MattIPv4 commented on #13637
Depends if you have git or npm auto-update configured. In the case of this lib, it is using git auto-update: https://github.com/cdnjs/cdnjs/blob/master/ajax/libs/rollbar.js/package.json#L18-L29

[2019-12-16 21:03] waltjones commented on #13637
Got it. Thank you. That's what I thought, but just wanted to be sure.

[2019-12-17 08:34] pakornth opened #13644 "Add W3.CSS CSS framework"
W3.CSS is a CSS framework by w3school. I can't yet find this library on the CDNJS.

https://www.npmjs.com/package/w3-css

The weekly download stats is more than 500 with MIT license. Thanks!

[2019-12-17 09:45] olafcm opened #13645 "hls.js 0.13.0 missing"
npm autoupdate is enabled, see: https://cdnjs.com/libraries/hls.js
but version 0.13.0 (https://www.npmjs.com/package/hls.js) is missing, see: https://github.com/cdnjs/cdnjs/tree/9b5c639c91417de6cb5c80090b5759649ef49135/ajax/libs/hls.js

Can this be resolved?
How does that work with the new cdnjs bot?

[2019-12-17 09:51] olafcm commented on #13638
I think this library should just auto-update, how to analyze why the new cdnjs bot failed to add the new version of this library?

[2019-12-17 09:56] olafcm opened #13646 "Font Awesome 5.12.0 missing"
npm autoupdate is enabled, see: https://github.com/cdnjs/cdnjs/blob/90917ed1f3b0cf924528c92c3ad7dc4a82c6d824/ajax/libs/font-awesome/package.json
but version 5.12.0 (https://www.npmjs.com/package/@fortawesome/fontawesome-free) is missing, see: https://github.com/cdnjs/cdnjs/tree/90917ed1f3b0cf924528c92c3ad7dc4a82c6d824/ajax/libs/font-awesome

Can this be resolved?
How does that work with the new cd

[2019-12-17 10:27] MattIPv4 commented on #13638
Auto-update config: https://github.com/cdnjs/cdnjs/blob/master/ajax/libs/dashjs/package.json#L18-L25

Files in 3.0.0:
[code]

Files in 3.0.1:
[code]

These actually appear to be identical, so there is no reason the auto-update bot should've failed here and it shouldn't require manual intervention to resolve.

Any ideas @xtuc?

[2019-12-17 10:28] MattIPv4 commented on #13644
Hi there!

Thank you for making a new library request issue on cdnjs! 📦
Due to the massive number of requests we receive, it may be a while before one of our team get around to processing this request.

**To help us with this, you can create the pull request to add the library yourself!** 📥

**Please take a read of our [CONTRIBUTING.md](https://github.com/cdnjs/cdnjs/blob/master/CONTRIBUTING.md) f

[2019-12-17 10:32] MattIPv4 commented on #13645
Auto-update config: https://github.com/cdnjs/cdnjs/blob/master/ajax/libs/hls.js/package.json#L20-L28

Files in 0.12.4:
[code]

Files in 0.13.0:
[code]

The file structure has changed, so this will require a manual pull request to add the new version and ensure the file map is correct.

[2019-12-17 10:32] MattIPv4 commented on #13645
Hi there!

Thank you for making a new library request issue on cdnjs! 📦
Due to the massive number of requests we receive, it may be a while before one of our team get around to processing this request.

**To help us with this, you can create the pull request to add the library yourself!** 📥

**Please take a read of our [CONTRIBUTING.md](https://github.com/cdnjs/cdnjs/blob/master/CONTRIBUTING.md) f

[2019-12-17 10:44] MattIPv4 commented on #13646
Auto-update config: https://github.com/cdnjs/cdnjs/blob/master/ajax/libs/font-awesome/package.json#L16-L24

<details>
  <summary>Files in 5.11.2:</summary>

[code]

</details>

[code]

<details>
  <summary>Files in 5.12.0:</summary>

[code]

</details>

[code]

The file structure has changed, so this will require a manual pull request to add the new version and ensure the file map is correct.

(@x

[2019-12-17 10:44] MattIPv4 commented on #13646
Hi there!

Thank you for making a new library request issue on cdnjs! 📦
Due to the massive number of requests we receive, it may be a while before one of our team get around to processing this request.

**To help us with this, you can create the pull request to add the library yourself!** 📥

**Please take a read of our [CONTRIBUTING.md](https://github.com/cdnjs/cdnjs/blob/master/CONTRIBUTING.md) f

[2019-12-18 11:00] olafcm commented on #13645
I created a pull request.
This is a top 10 npm package, hopefully it can be updated soon now.
Thank you :-)

[2019-12-18 11:10] olafcm commented on #13646
This library will not match in file structure when an icon is added/removed, which will probably happen most of the cases?
Maybe it should be allowed for certain libraries to skip this check? Especially since this is a top 10 npm package.

New in this release is the metadata directory but there is no filemap pattern, so that should be fine: `"+(css|js|webfonts|sprites|svgs)/*"`

What should the PR

[2019-12-18 13:53] MattIPv4 commented on #13646
I agree that there should be a system in place to let libraries update even when the file structure has changed. Personally, I think we should be fine with allowing this for all libraries, but I'll leave that to @xtuc as he is working on the auto-update bot.

The PR will need to add missing versions and update the version in package.json to the latest.

[2019-12-20 00:42] sheerun commented on #13613
npm-direct is probably bad idea because there is already https://unpkg.com/ for this (which is by the way also hosted by CloudFlare). You need to ask yourselves if you want to continue cdnjs forever or gradually deprecate it in for example in favor of https://unpkg.com/

In any case I can tell that for sure to in order to avoid manual moderation:

1. You need to stop updating or adding packages th

[2019-12-20 01:32] sheerun commented on #13612
Has Cloudflare already decided to sponsor build server?

[2019-12-20 03:16] zackbloom commented on #13612
Yes we will run the build server, 👍

On Thu, Dec 19 2019 at 7:32 PM, < notifications@github.com > wrote:

[2019-12-20 17:54] MattIPv4 commented on #13613
Assuming we go with this strategy, I think the timeline for getting there would be something like:

## Development

- [ ] Create cdnjs-test org
- [ ] [Duplicate](https://help.github.com/en/github/creating-cloning-and-archiving-repositories/duplicating-a-repository#mirroring-a-repository) `cdnjs/cdnjs` to `cdnjs-test/packages`
- [ ] [Duplicate](https://help.github.com/en/github/creating-cloning-and

[2019-12-20 18:25] waltjones commented on #13637
@MattIPv4 Is there anything I can do to help? I'd like to be able to tell others at Rollbar something meaningful about this.

[2019-12-20 18:27] MattIPv4 commented on #13637
I'm not sure what the source of the issue is here, I'm not familiar with how the auto-update bot works.

@xtuc might possibly have some ideas as he's worked on the bot?

[2019-12-20 23:56] sheerun commented on #13613
I don't think it's necessary.. This org is fine.

I would suggest to create configuration repository from scratch to avoid unnecessary 100+GB in git history..

Please don't. Who knows what code depends on this repo being `cdnjs/cdnjs` and is not supporting redirects.

I think that:

- This repo (cdnjs/cdnjs) should remain unchanged and should be managed by bots
- Fresh repo (either cdnjs/packages

[2019-12-21 02:36] wolfet opened #13648 "AngularJS 1.7.9 is missing"
AngularJS version 1.7.9 was released on 11/19, but is not available at https://cdnjs.com/libraries/angular.js.

[2019-12-21 09:42] MattIPv4 commented on #13613
Having a fresh repo for cdnjs/packages means that we lose the entire history of cdnjs, which is a super imporatnt part of how we operate and ensures auditability. It also means that we leave behind all the existing PRs and issues in a repo that will become robot-only.

Testing potentially destructive scripts in the production org sounds like a super bad idea.

cdnjs/cdnjs isn't going, it will stil

[2019-12-21 09:58] MattIPv4 commented on #13613
In terms of cleaning `cdnjs/packages` to retain the commit history whilst removing all the non-`package.json` files so it becomes a sensible size, we can use [`bfg`](https://rtyley.github.io/bfg-repo-cleaner/) with a glob of [`ajax/libs/*/*/**/*`](https://www.digitalocean.com/community/tools/glob?glob=ajax%2Flibs%2F%2A%2F%2A%2F%2A%2A%2F%2A&tests=ajax%2Flibs%2Fmylib%2Fpackage.json&tests=ajax%2Flibs

[2019-12-21 16:54] sheerun commented on #13613
I mean that you could create `cdnjs/cdnjs-test` repo instead of separate org

[2019-12-21 16:56] MattIPv4 commented on #13613
Seems like a minor thing, either way, separate org for testing this seems safer to me.

[2019-12-22 17:13] MattIPv4 commented on #13613
Okay, so I've written the majority of the migration scripts/docs: https://github.com/cdnjs/packages-migration. I'm currently running `run--bfg.sh` against the cdnjs repo to test how it will go. It's currently on library 100 of the total 3452 repos in my copy of cdnjs. It has taken 5 hours to get to this point. Based on that, it's going to take 7 days continually running to properly clean all non-`

[2019-12-23 08:30] sheerun commented on #13613
I think if someone wants access history it can be still accessed on this repository. Also probably we don't need there every package.json, but only top-level ones that that have auto-update info?

[2019-12-23 10:11] MattIPv4 commented on #13613
Yeah, history will be preserved in the new `cdnjs/cdnjs` repo - I'd prefer to also keep it in the `packages` repo but I feel that might be becoming impossible.

Yeah, whenever I'm referring to `package.json`-only etc. I mean `ajax/libs/<lib>/pacakge.json` files, nothing else.

[2019-12-23 11:04] MattIPv4 commented on #13613
(I'm also running `git filter-branch --index-filter "git rm -rf --cached --ignore-unmatch ajax/libs/*/*/**/*" HEAD` on another clonne of cdnjs just to see if the native git way to clean files is going to be any faster than bfg)

[2019-12-23 21:02] tevko opened #13649 "Documentation for sparseCheckout is confusing"
https://github.com/cdnjs/cdnjs/blob/master/documents/sparseCheckout.md

Let's say I'm looking to add a library - do I need to check out all of `/ajax/libs/`?  If I do that, I'm pulling down ~10 GB. I'm sure I'm doing something wrong here, but I can't find any documentation to say otherwise

[2019-12-24 09:49] FrDH opened #13651 "Add mmenu.js (replacement for jQuery.mmenu)"
Hi,
Some time ago the jQuery.mmenu plugin changed its name to mmenu.js (it no longer uses jQuery).

[2019-12-24 16:45] mjackson commented on #13613
FWIW the whole reason I created unpkg in the first place was because cdnjs was really difficult to work with. The manual approval process was tedious, yes, but also just the sheer size of the repo meant it took a long time to clone it and checkout new branches. I actually had most of the code written for unpkg one afternoon while I was waiting for cdnjs to do a `git checkout`.

One really interest

[2019-12-24 18:01] MattIPv4 commented on #13649
If you're planning to add a new library, you should just add the folder that will be added to cdnjs to the sparse checkout file. Eg. if you're adding `my-lib`, you would add `/ajax/libs/my-lib/*` to the sparse checkout config.

(However, this repo is generally huge to work with. It is normally recommended to simply use the GitHub web UI to add new stuff to this repo until we refactor how our git s

[2019-12-24 18:03] MattIPv4 commented on #13651
As cdnjs has no process in place for setting up redirects, I think it'd be best to treat this as a new library request for mmenu.js instead of the existing jQuery.mmenu

[2019-12-24 18:03] MattIPv4 commented on #13651
Hi there!

Thank you for making a new library request issue on cdnjs! 📦
Due to the massive number of requests we receive, it may be a while before one of our team get around to processing this request.

**To help us with this, you can create the pull request to add the library yourself!** 📥

**Please take a read of our [CONTRIBUTING.md](https://github.com/cdnjs/cdnjs/blob/master/CONTRIBUTING.md) f

[2019-12-24 18:07] MattIPv4 commented on #13648
Hi there!

Thank you for making a new library request issue on cdnjs! 📦
Due to the massive number of requests we receive, it may be a while before one of our team get around to processing this request.

**To help us with this, you can create the pull request to add the library yourself!** 📥

**Please take a read of our [CONTRIBUTING.md](https://github.com/cdnjs/cdnjs/blob/master/CONTRIBUTING.md) f

[2019-12-24 22:14] tevko commented on #13649
Thanks @MattIPv4 !

[2019-12-24 22:14] #13649 closed

[2019-12-26 12:31] MattIPv4 opened #13652 "Split cdnjs/cdnjs into human & robot repos"
Following on from #13613 where I had begun looking at a plan to create a new "human" repo for cdnjs and leave this repository to become robot only...

The initial plan there had been to preserve as much as possible of the cdnjs "history" into the new repository. This including renaming cdnjs/cdnjs to cdnjs/packages so that PRs & issues were preserved into the new "human" repo as well as using scri

[2019-12-26 12:42] MattIPv4 commented on #13652
I will continue to work on a migration plan and ensure all the relevant scripts are present in the [`packages-migration`](https://github.com/cdnjs/packages-migration) repository.

With the new migration strategy as discussed above, the actual migration should be pretty straight-forward now. The key task involved in this will be updating how the cdnjs auto-update bot works to function correctly wit

[2019-12-26 12:44] MattIPv4 commented on #13613
I'm going to move the conversation around the package repo migration to #13652 and hide the related comments here so that this issue can be better used for dicussion around the actual removal of manual moderation (CI etc.)

[2019-12-26 14:23] xtuc commented on #13652
Maybe we could flatten the repo by removing the `ajax/libs/` directories?

To me this sounds like what unpkg.com does (which does it on the fly)

Something I just noticed is that the file map relies on the [node-glob](https://github.com/isaacs/node-glob) which will be work to port to another language.

[2019-12-26 15:12] MattIPv4 commented on #13652
I think it’s worth having at least one sub directory so the root of the project is clean. Doesn’t have to be `ajax/libs` though, I just used that as it’s what we already have.

unpkg just presents the full npm package as it is in the registry. cdnjs is different in that we allow customisation of the base dir and the file map for which files we should serve.

I believe this is just a NodeJS impleme

[2019-12-26 19:31] waltjones commented on #13637
Can anyone look at the local file system for the presence of .bot_cant_auto_add or a similarly obvious problem?

https://github.com/cdnjs/script/blob/master/commonScript.sh#L162-L165

[2019-12-26 21:45] xtuc commented on #13637
@waltjones, the new versions doesn't exists on the file system:
[code]

And `find ajax/libs/rollbar.js/ -name .bot_cant_auto_add` doesn't show anything.

I'm not sure what's wrong but it seems to impact multiple packages as well.

[2019-12-26 22:31] xtuc commented on #13652
Agreed.

It's an implementation of the extended glob logic. I just found a Golang library :+1:

Yes, I can create it. We can publicly share it but only we can collaborate on it. Also we can post it here after, it's just to avoid the back and forth between us.

[2019-12-27 06:37] Mister-Hope commented on #13643
Excuse me, since vue is popular, and 2.6.11 has a security fix, could you update it manually fist?

[2019-12-27 09:43] mainhanu opened #13653 "react-dom@16.12.0 file 404"
https://cdnjs.com/libraries/react-dom/16.12.0

https://cdnjs.cloudflare.com/ajax/libs/react-dom/16.12.0/umd/react-dom-test-utils.development.js

[2019-12-27 11:45] MattIPv4 commented on #13643
Hi there!

Thank you for making a library request issue on cdnjs! 📦
Due to the massive number of requests we receive, it may be a while before one of our team get around to processing this request.

**To help us with this, you can create the pull request to add the library yourself!** 📥

**Please take a read of our [CONTRIBUTING.md](https://github.com/cdnjs/cdnjs/blob/master/CONTRIBUTING.md) file

[2019-12-27 18:24] waltjones commented on #13637
@xtuc Thank you for the update.

[2019-12-27 20:19] waltjones commented on #13637
@xtuc Let me know if I can help review log files. For example, does it get as far as: https://github.com/cdnjs/script/blob/master/commonScript.sh#L80

I'm happy to help look at this.

[2019-12-29 12:03] xtuc commented on #13653
As pointed out by @MattIPv4 yesterday; the autoupdate bot sometimes leaves uncommited versions (and waits for manual intervention). When the website got generated it included these uncommited changes. React version 16.12.0 is one of them.

[2019-12-29 12:12] xtuc commented on #13637
That would be helpful! I uploaded the logs from a previous runs (between 18th Dec and 29th Dec) here: https://gist.githubusercontent.com/robocdnjs/3955d67542c3c21f1462a15c24359465/raw/438aba98fde6b749582f17f969274c04886039c9/bot.log

[2019-12-30 05:35] wangkanai opened #13654 "twitter-bootstrap version not found!"
https://cdnjs.com/libraries/twitter-bootstrap

Is the something wrong with twitter-bootstrap?

![image](https://user-images.githubusercontent.com/10666633/71569263-82a3f900-2b00-11ea-8267-a334d613dba4.png)

But i still see it in the search

![image](https://user-images.githubusercontent.com/10666633/71569310-baab3c00-2b00-11ea-9fe0-ba0c40d5d808.png)

So this issue is causing my build to fail this

[2019-12-30 05:48] waltjones commented on #13637
@xtuc Thank you for the log file.

I cloned the cdnjs, bot, script, and autoupdate projects, and ran autoupdate.js script and the bot locally. I saw about 50 projects that autoupdate.js considers autoupdate projects but were not caught up to their most recent git tags, but did update correctly when I ran the scripts locally here. I am using the latest master branch for each of the script repos to

[2019-12-30 08:18] stepkillah commented on #13654
Same issue for few more packages:
[code]

[2019-12-30 08:46] echolet commented on #13654
Same issue with Foundation related packages:

https://cdnjs.com/libraries/foundation
404 Not Found

[2019-12-30 09:22] Dennis-Petrov commented on #13654
The same is for https://cdnjs.com/libraries/bootswatch

[2019-12-30 09:25] VladMiskaryan commented on #13654
Workaround, that working for me, is update libman.json:

[code]

[2019-12-30 09:36] MattIPv4 commented on #13654
@xtuc looks like the new package generation script has further issues?

Interestingly, the libraries index page is showing twitter-bootstrap with the [latest version, 4.4.1](https://github.com/cdnjs/cdnjs/blob/master/ajax/libs/twitter-bootstrap/package.json):
![image](https://user-images.githubusercontent.com/12371363/71576227-d8b87280-2ae7-11ea-8468-d63b4ffb2012.png)

[2019-12-30 13:16] MattIPv4 commented on #13653
Looks like this has now been resolved as the version presented in https://api.cdnjs.com/libraries/react-dom is 16.11.0 - However, it seems that this is now being affected by the issue described in #13654 so I will close this in favor of that.

[2019-12-30 13:16] #13653 closed

[2019-12-30 14:53] wangkanai commented on #13654
I just did i check and find see that the issue is more wider spread.

![image](https://user-images.githubusercontent.com/10666633/71586921-5d3ddc00-2b4e-11ea-86ac-9040ec4ac4d6.png)

Well, i'm not familiar with your code base, So I don't know how to help out. Is there a PR or branch working on this issue?

[2019-12-30 14:58] MattIPv4 commented on #13654
My guess is that this would be affecting any library with more than 10 versions available on cdnjs. We're actively working to get this fixed :)

[2019-12-30 15:31] xtuc commented on #13654
This issue is now resolved. Sorry for the inconvenience

[2019-12-30 15:31] #13654 closed

[2019-12-30 15:35] maxd commented on #13654
@xtuc The libman (Library Manager, .NET Core JS package manager) is still return error:

[code]

[2019-12-30 15:35] MattIPv4 commented on #13654
I think the API cache will need clearing - @xtuc do you have the correct access on the cdnjs.com Cf dash to perform a purge?

[2019-12-30 15:50] wangkanai commented on #13654
This look like a good results

![image](https://user-images.githubusercontent.com/10666633/71589030-0fc56d00-2b56-11ea-95f5-77070f26e3c8.png)

and build is not passing also

![image](https://user-images.githubusercontent.com/10666633/71589224-aeea6480-2b56-11ea-8ab5-eeb8d57dd067.png)

Thank you very much for such a quick fixed on the last work day of the year there mate.

[2019-12-30 15:51] MattIPv4 commented on #13654
Sweet, glad to hear it's now working for you :)

[2019-12-30 16:03] jtriance commented on #13654
![jquery tablesorter-notfound](https://user-images.githubusercontent.com/31019401/71589736-c8e66180-2ada-11ea-8dfa-200c935629cd.PNG)
![jquery tablesorter](https://user-images.githubusercontent.com/31019401/71589737-c8e66180-2ada-11ea-9aab-43c0973cdf35.PNG)

Looks like jquery.tablesorter is also not working

[2019-12-30 16:05] MattIPv4 commented on #13654
Working for me. Try force refreshing the page @jtriance?

[2019-12-30 16:11] jtriance commented on #13654
OK, that worked now I just need to figure out how to fix my build.  Thanks

[2019-12-30 16:11] echolet commented on #13654
Although https://cdnjs.com/libraries/foundation is no longer a 404, the package files have a reduced menu, e.g. no "copy SRI".

[2019-12-30 16:12] MattIPv4 commented on #13654
I believe SRI calculations aren't running for new library versions. cc @xtuc

[2019-12-30 16:29] xtuc commented on #13654
I confirm, we are currently refactoring a lots of things and I had to disable SRI calculations in the meantime.

[2019-12-31 01:57] justintoth commented on #13654
I'm still having this issue when downloading packages within Visual Studio, using libman.json.

[2019-12-31 02:07] justintoth commented on #13654
For others using Visual Studio and libman.json, I resolved the issue by running the "libman cache clean" command.

[2019-12-31 06:56] Dennis-Petrov commented on #13654
@justintoth , thank you. But where libman should be located? Especially in case of build server (only build tools are installed)?

[2019-12-31 07:28] maxd commented on #13654
@Dennis-Petrov `dotnet tool install -g <tool>` install tool to `$HOME/.dotnet/tools`. This directory is not included to `$PATH` usually. So, you can include it to `$PATH` env. variable to execute in from any directory or execute `libman` directly from this directory:

[code]

[2019-12-31 10:39] Dennis-Petrov commented on #13654
@maxd  This looks like linux-specific solution. Anyway, manually deleted folder `.librarymanager\cache` from user profile. The error has gone.

[2020-01-02 17:56] waltjones commented on #13637
@xtuc Just following up on this again.

When I ran everything locally, the rollbar.js package.json was found correctly. The git fetch and git commit worked correctly. It looks like the issue is specific to the local state of the production environment of the cdnjs scripts.

Can you let me know the local value for "version" in autoupdate/git_repo_local_cache/rollbar.js/package.json and in the local

[2020-01-02 17:59] MattIPv4 commented on #13637
For some context on the current situation on cdnjs: we're currently working to rewrite the auto-update bot so we have a better understanding of it's internals. Going forward, we won't be supporting manual updates to cdnjs at all as they require far too much manual work from everyone.

[2020-01-02 18:19] waltjones commented on #13637
@MattIPv4 Thank you, this is helpful to know. I saw a ticket for that work. I'll keep an eye on it.

[2020-01-03 19:32] fieg opened #13655 "[request][author] infinite ajax scroll 3"
**Library name**: Infinite Ajax Scroll
**Library description**: Turn your existing pagination into infinite scrolling pages with ease
**Git repository url**: https://github.com/webcreate/infinite-ajax-scroll
**Npm package url**: https://www.npmjs.com/package/@webcreate/infinite-ajax-scroll
**License**: AGPL, Commercial License
**Official homepage**: https://infiniteajaxscroll.com

[2020-01-05 10:08] MattIPv4 commented on #13655
Hi there!

Thank you for making a new library request issue on cdnjs! 📦
Due to the massive number of requests we receive, it may be a while before one of our team get around to processing this request.

**To help us with this, you can create the pull request to add the library yourself!** 📥

**Please take a read of our [CONTRIBUTING.md](https://github.com/cdnjs/cdnjs/blob/master/CONTRIBUTING.md) f

[2020-01-08 06:48] treadstoner opened #13656 "layer v3.1.1 is missing"
Layer version 3.1.1 was released for almost three years, but is not available at [https://cdnjs.com/libraries/layer](https://cdnjs.com/libraries/layer). You can download the new version of "Layer" by [this link](http://res.layui.com/static/download/layer/layer-v3.1.1.zip), Hope the "Layer" will be updated in the near future, thank you!

[2020-01-08 14:11] MattIPv4 commented on #13656
Hi there!

Thank you for making a new library request issue on cdnjs! 📦
Due to the massive number of requests we receive, it may be a while before one of our team get around to processing this request.

**To help us with this, you can create the pull request to add the library yourself!** 📥

**Please take a read of our [CONTRIBUTING.md](https://github.com/cdnjs/cdnjs/blob/master/CONTRIBUTING.md) f

[2020-01-08 16:48] rdm100 commented on #12872
it says the issue is closed but it hasn't been merged, does any more need to be done on this issue?

[2020-01-09 15:33] gordonwoodhull opened #13657 "dc.js not updating anymore"
Ever since the CDNJS crisis a few months ago, `dc` has stopped updating.

Since then we have released 3.1.9, some 4.0 betas, and I'm releasing 4.0 today. These do not appear on cdnjs.com.

I am the maintainer. What do I need to do to get dc published automatically when I publish to npm?

Thanks so much!

[2020-01-14 18:16] tasuki commented on #13272
Any news on this?

[2020-01-14 18:25] MattIPv4 commented on #13272
@tasuki I suggest reading Cloudflare's policies/documentation, as resources are loaded through them (cdnjs.cloudflare.com).

[2020-01-15 07:34] destr1ke opened #13660 "How to change the width of these rectangles? (Chart.js)"
HI! Can someone tell me where I can change the width of these rectangles?
![Снимок](https://user-images.githubusercontent.com/32870557/72414334-04438a00-3783-11ea-818b-9eb85c4ab6e4.JPG)

library link : https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.3.0/Chart.min.js

[2020-01-15 08:48] netil opened #13661 "billboard.js is not updating"
The [`billboard.js`](https://cdnjs.com/libraries/billboard.js) (added by #11413) library stopped updating since `v1.10.2` release. (The latest is `v1.11.1`)

Do I make some updates or some configuration request?

Thanks!

[2020-01-16 07:17] #13660 closed

[2020-01-16 15:41] DM2489 opened #13664 "Library Update Request - PrismJs"
Hi,

The CDN version for PrismJs is a few versions behind now. Would it be possible to get it updated?

https://cdnjs.com/libraries/prism/

https://github.com/PrismJS/prism/releases

[2020-01-19 00:42] heydojo opened #13666 "https://cdnjs.com/libraries/Darkmode.js wrong github link"
https://cdnjs.com/libraries/Darkmode.js has a link to https://github.com/sandoche/darkmode but the project page is actually https://github.com/sandoche/Darkmode.js instead.

I discovered this whilst wanting to check out the project.

[2020-01-20 01:15] tomByrer commented on #13485
Which CDN are you talking about?  jsDelivr is fine:
https://www.jsdelivr.com/package/npm/preact

[2020-01-21 12:06] MattIPv4 commented on #13657
dc@3.1.8: `22 directories, 269 files`
dc@3.1.9: `22 directories, 271 files`

Looks like some extra files were published in 3.1.9, which will cause the current auto-update bot to simply refuse to update. We're looking to fix this but you can submit a PR to manually add the missing versions.

[2020-01-21 12:06] MattIPv4 commented on #13657
Hi there!

Thank you for making a new library request issue on cdnjs! 📦
Due to the massive number of requests we receive, it may be a while before one of our team get around to processing this request.

**To help us with this, you can create the pull request to add the library yourself!** 📥

**Please take a read of our [CONTRIBUTING.md](https://github.com/cdnjs/cdnjs/blob/master/CONTRIBUTING.md) f

[2020-01-21 16:36] tasuki commented on #13272
Would you have a link or a summary handy?

[2020-01-21 17:07] MattIPv4 commented on #13272
GDPR: https://www.cloudflare.com/gdpr/introduction/
Privacy Policy: https://www.cloudflare.com/privacypolicy/

[2020-01-22 22:18] mrlife commented on #13524
Thank you for providing CDNJS. Any update on the auto-update bot coming online? Not sure whether to keep waiting or shift to another CDN solution.

https://github.com/DataTables/DataTablesSrc/issues/153

[2020-01-22 22:21] MattIPv4 commented on #13524
The old auto-update bot is online and running. You can see that in the commit activity on the repo. We are still working on figuring out the best plan for a rewrite of the auto-update bot.

[2020-01-22 22:23] mrlife commented on #13524
@MattIPv4 Thanks for letting me know. When will tagged releases start being picked up, e.g. DataTables 1.10.20?

[2020-01-22 22:25] MattIPv4 commented on #13524
Looks like that was published quite a while back - I would guess that the file structure has changed or another issue has occurred with the auto-update of it that means manual intervention will be needed. Please create a separate issue requesting the library is updated here.

[2020-01-23 11:07] MattIPv4 commented on #13661
billboard.js @ 1.10.2: `18 directories, 103 files`
billboard.js @ 1.11.0-next.1 `20 directories, 109 files`

Looks like some extra files were published in 1.11.0-next.1, which will cause the current auto-update bot to simply refuse to update. We're looking to fix this but you can submit a PR to manually add the missing versions.

[2020-01-23 11:07] MattIPv4 commented on #13661
Hi there!

Thank you for making a new library request issue on cdnjs! 📦
Due to the massive number of requests we receive, it may be a while before one of our team get around to processing this request.

**To help us with this, you can create the pull request to add the library yourself!** 📥

**Please take a read of our [CONTRIBUTING.md](https://github.com/cdnjs/cdnjs/blob/master/CONTRIBUTING.md) f

[2020-01-23 22:40] chinjon commented on #13648
Is there an ETA on this? Thanks in advance.

[2020-01-23 22:42] MattIPv4 commented on #13648
cc @xtuc - I think this will be one of the issues that should resolve itself when we remove the auto-update checks. Do you have a rough eta that you could share on that?

[2020-01-26 17:46] mfranzke opened #13668 "[Request][Author] Import loading-attribute-polyfill from npm registry, cc #13520"
From adding another polyfill earlier (#12871, commit: 53431addad88e1085c9cffe511ffecf34d5942aa) I've recognized that with an upfollowing commit (bdd4433ab18b3144ac1a4ae9195d55530cf6e6e6) the related files have been initially imported from npm registry.

This commit hasn't been done for my new request with #13520 / PR #13521 - so the polyfills npm repo files and folders haven't been imported to htt

[2020-01-26 17:47] #13520 closed

[2020-01-26 17:56] MattIPv4 commented on #13668
This a more interesting bug @xtuc. There are no previous version in the repo, so the auto-update bot should just handle adding all previous versions.

[2020-01-28 02:04] netil commented on #13661
Thank @MattIPv4 for the follow-up.

The auto-update will refuse when `dist` files count aren't same with the previous version?
Because according the new release, new files can be added and it will be an tedious task if need to send manual PR whenever file number changes.

BTW, following the guideline, added `npmName` and `npmFileMap` key to project's package.json.
- https://github.com/cdnjs/cdnjs/

[2020-01-28 07:51] MattIPv4 commented on #13661
This is something that we're looking to change soon, so that auto-update won't care about changes to the file structure and will always update libraries.

[2020-01-29 09:51] soundar24 opened #13670 "Git auto-update: roundSlider not updating"
my project is set for **git** [auto update](https://github.com/cdnjs/cdnjs/blob/master/ajax/libs/roundSlider/package.json), but the new version is not updated still.

Here I have updated the release for the new version (1.4.0):
https://github.com/soundar24/roundSlider/releases

But still it shows the older version (1.3.3) in cdnjs:
https://cdnjs.com/libraries/roundSlider

Can you please check and

[2020-01-29 12:44] MattIPv4 commented on #13664
Version 1.17.1 (last version cdnjs has): `24 directories, 438 files`
Version 1.18.0 (next version after 1.17.1): `28 directories, 479 files`

The file structure of the library has changed, which means that the auto-update bot will refuse to update to this version. Hopefully, this will be fixed in the near future, but for now the solution is a manual PR to this repository to add the correct files f

[2020-01-29 12:44] MattIPv4 commented on #13664
Hi there!

Thank you for making a new library request issue on cdnjs! 📦
Due to the massive number of requests we receive, it may be a while before one of our team get around to processing this request.

**To help us with this, you can create the pull request to add the library yourself!** 📥

**Please take a read of our [CONTRIBUTING.md](https://github.com/cdnjs/cdnjs/blob/master/CONTRIBUTING.md) f

[2020-01-29 17:21] juanpenarandaosf opened #13671 "Add dot-prop library"
Hello,

Could you please add the `dot-prop` library from npm? https://www.npmjs.com/package/dot-prop

Thank you,
Juan

[2020-01-30 11:19] MattIPv4 commented on #13671
Hi there!

Thank you for making a new library request issue on cdnjs! 📦
Due to the massive number of requests we receive, it may be a while before one of our team get around to processing this request.

**To help us with this, you can create the pull request to add the library yourself!** 📥

**Please take a read of our [CONTRIBUTING.md](https://github.com/cdnjs/cdnjs/blob/master/CONTRIBUTING.md) f

[2020-01-30 15:20] xtuc commented on #13664
Prism v1.19.0 was addedd in 61aba0dd0085fb32681b3b1863986a0790897b61 and will be available on the cdn shortly.

[2020-01-30 15:20] #13664 closed

[2020-01-30 15:22] xtuc commented on #13661
The bot added the following versions
[code]

[2020-01-30 15:22] #13661 closed

[2020-01-30 15:24] xtuc commented on #13657
Since the bot added `v3.1.9`, but no `v4` were committed.

[2020-01-30 15:27] xtuc commented on #13643
The bot committed the version `v2.6.11`

[2020-01-30 15:27] #13643 closed

[2020-01-30 15:28] xtuc commented on #13645
The bot added the following versions
[code]

[2020-01-30 15:28] #13645 closed

[2020-01-30 15:29] xtuc commented on #13646
The bot committed the following
[code]

[2020-01-30 15:29] #13646 closed

[2020-01-30 15:33] xtuc commented on #13638
The bot addedd `v3.0.1`

[2020-01-30 15:33] #13638 closed

[2020-01-30 15:34] xtuc commented on #13527
The bot added the following
[code]

[2020-01-30 15:34] #13527 closed

[2020-01-30 15:35] #13530 closed

[2020-01-30 15:36] xtuc commented on #13609
The bot added `16.11` and `16.12`

[2020-01-30 15:36] #13609 closed

[2020-01-30 15:37] xtuc commented on #13620
The bot added them

[2020-01-30 15:37] #13620 closed

[2020-01-30 15:38] xtuc commented on #13634
The bot added
[code]

but no v4.7 so far

[2020-01-30 15:47] xtuc commented on #13485
The bot added
[code]

[2020-01-30 15:47] #13485 closed

[2020-01-30 15:48] xtuc commented on #13429
The bot added
[code]

[2020-01-30 15:48] #13429 closed

[2020-01-30 15:49] xtuc commented on #13424
The bot added
[code]

[2020-01-30 15:49] #13424 closed

[2020-01-30 15:50] xtuc commented on #13411
Likely a bad version, please use a later one.

[2020-01-30 15:50] #13411 closed

[2020-01-30 15:50] xtuc commented on #13410
This looks stale, free feel to submit a PR to address that.

[2020-01-30 15:50] #13410 closed

[2020-01-30 15:52] xtuc commented on #13382
The bot added
[code]

[2020-01-30 15:52] #13382 closed

[2020-01-30 15:57] xtuc commented on #13272
Looks like this is resolved, feel free to post new comments if needed.

[2020-01-30 15:57] #13272 closed

[2020-01-30 16:00] xtuc commented on #13285
The bot added
[code]

[2020-01-30 16:00] #13285 closed

[2020-01-30 16:00] xtuc commented on #13290
The bot added
[code]

[2020-01-30 16:00] #13290 closed

[2020-01-30 16:00] #13255 closed

[2020-01-30 16:06] xtuc commented on #13185
Clone this repository and serve it statically through a web server.

[2020-01-30 16:06] #13185 closed

[2020-01-30 16:08] xtuc commented on #13147
Closing for now

[2020-01-30 16:08] #13147 closed

[2020-01-30 16:17] xtuc commented on #13152
Closing for now. Feel free to re-open the discussion if that's something we would want

[2020-01-30 16:17] #13152 closed

[2020-01-30 16:18] xtuc commented on #13089
melonjs is not configured to be automatically updated. Feel free to send a PR to add the configuration.

[2020-01-30 16:18] #13089 closed

[2020-01-30 16:19] xtuc commented on #13090
The bot added
[code]

[2020-01-30 16:19] #13090 closed

[2020-01-30 16:23] xtuc commented on #12937
New versions were added.

[2020-01-30 16:23] #12937 closed

[2020-01-30 16:24] xtuc commented on #13091
This is a question for Cloudflare, closing for now.

[2020-01-30 16:24] #13091 closed

[2020-01-30 16:30] xtuc commented on #12838
That's likely a bad version, please use a later one.

[2020-01-30 16:30] #12838 closed

[2020-01-30 16:33] xtuc commented on #12238
The PR has been closed, closing this too

[2020-01-30 16:33] #12238 closed

[2020-01-30 16:34] xtuc commented on #12144
We don't want to remove libraries from cdnjs as some website might still depend on them and we will break them.

[2020-01-30 16:34] #12144 closed

[2020-01-30 16:55] xtuc commented on #13637
Even after a change to the bot, 2.14.5 and 2.14.6 are still not showing up

[2020-01-30 16:58] MattIPv4 commented on #13637
Hmmm. Were they in the local uncommitted list? If not, we should do some more digging into what's going on with these.

[2020-01-30 17:00] xtuc commented on #13666
Could you please send a PR to address that issue?

[2020-01-30 21:12] olafcm commented on #13646
Thanks!

[2020-01-30 21:26] olafcm commented on #13645
Great, thank you!

[2020-01-30 21:26] olafcm commented on #13638
Perfect :-)

[2020-01-31 07:01] soundar24 commented on #13670
@MattIPv4 any update on this? this was the blocker for the new release rollout, can you check this with high priority.

[2020-01-31 10:25] MattIPv4 commented on #13670
Not sure what's going on here if I'm honest, this should be updating. @xtuc any ideas?

[2020-01-31 11:14] soundar24 commented on #13670
@MattIPv4 atleast can you do the manual update for this, as of now. since this is really a big blocker for me, because all the demo samples needed the CDN only.

[2020-01-31 11:15] MattIPv4 commented on #13670
Manually adding updates to this repository is not something I'm going to do, I don't have the time and it is a rather painful process due to the size.

[2020-01-31 11:19] soundar24 commented on #13670
@MattIPv4 thanks for the update. so, what can I do now? is it possible to get it resolved in next 4 hours? or do you have any alternate suggestion for me?

[2020-01-31 11:26] MattIPv4 commented on #13670
You are welcome to submit a PR to add the version yourself in this repository, or sit tight and wait for our team to see if we can fix what's going on here, which might take quite a while.

[2020-01-31 13:23] #12872 closed

[2020-02-01 19:13] #11034 closed

[2020-02-03 14:18] ola-dola commented on #11510
Hi @PeterDaveHello , is this issue still available, I noticed the PRs were closed and not merged.

[2020-02-03 18:12] lolo32 commented on #11786
I know, it's already closed, but I go the same issue with Firefox now.
If I enable HTTP3 in Firefox about:config, the connecion never end and stay at "Waiting for https://cdnjs.cloudflare.com", even the request to trace cannot resolve. Just worked after disabling this parameter.

[2020-02-04 00:40] paulocoghi opened #13677 "On HTTP/3, get "Waiting for https://cdnjs.cloudflare.com""
On Firefox 72.0.1, Ubuntu 18.04 64bit, when enabling HTTP/3 and trying to access a site that uses CDNJS, like crucial.com, I get `Waiting for https://cdnjs.cloudflare.com` and the loading never finishes, making the site unable to appear (the page remains blank).

As stated [here](https://github.com/cdnjs/cdnjs/issues/11786#issuecomment-581544347), when disabling HTTP/3 on Firefox (inside `about:co

[2020-02-04 08:40] MattIPv4 commented on #13677
@zackbloom / @xtuc do we support http/3? Can we enable it if we don't?

[2020-02-04 11:55] paulocoghi commented on #13677
@MattIPv4, it seems that Cloudflare is officially [enabling http/3](https://blog.cloudflare.com/experiment-with-http-3-using-nginx-and-quiche/) on its services, thus the issue is on their side.

[2020-02-04 11:57] MattIPv4 commented on #13677
Yeah, having tested it, it looks like cdnjs.cloudflare.com is http/3 enabled so this might be some other bug with how they're serving content on that domain. Not really sure and not something I have insight into or control over.

[2020-02-04 11:59] xtuc commented on #13677
It looks like it sends the Alternative Service header back with h3 option, so I would asusme it has been enabled.

[2020-02-04 12:02] MattIPv4 commented on #13677
Hm, not sure we want to close this yet, I think this might be another issue then, not just that we've got http/3 enabled.

@paulocoghi could you possibly provide a HAR of the request that hangs?

[2020-02-04 14:28] paulocoghi commented on #13677
@MattIPv4 , sure! I will provide it ASAP!

[2020-02-04 14:44] paulocoghi commented on #13677
Now it's working. I can't believe this issue is intermittent :confused:

Here is the cdnjs.com's HAR with HTTP/3 enabled:
https://gist.github.com/paulocoghi/8a414562d9d9e3fb901dd526e60e1bae

I will leave HTTP/3 enabled on my browser and, when the issue occurs, I will post a new HAR here.

[2020-02-04 14:59] MattIPv4 commented on #13677
cdnjs.com doesn't have http/3 enabled - I thought this issue was with cdnjs.cloudflare.com?

[2020-02-04 15:00] MattIPv4 commented on #13677
~~I'm going mad, ignore my now deleted comment~~.

Sounds good, a HAR of it failing will be very useful in trying to establish what's going on!

[2020-02-05 11:21] govardhan27 commented on #12920
Hello, I would like to contribute if this is still not resolved. Please let me know.
Thanks

[2020-02-09 19:49] jeanmachuca opened #13679 "Add QCObjects framework"
Add QCObjects framework

[2020-02-10 09:52] #11250 closed

[2020-02-10 11:04] MattIPv4 commented on #13679
Hi there!

Thank you for making a new library request issue on cdnjs! 📦
Due to the massive number of requests we receive, it may be a while before one of our team get around to processing this request.

**To help us with this, you can create the pull request to add the library yourself!** 📥

**Please take a read of our [CONTRIBUTING.md](https://github.com/cdnjs/cdnjs/blob/master/CONTRIBUTING.md) f

[2020-02-10 11:05] MattIPv4 commented on #13679
Ah, looks like you already have a PR open!

[2020-02-16 16:21] jeanmachuca commented on #13679
Hello, I can see the PR was merged but QCObjects is still not being yet shown by Algolia search results. Is it needed any internal process pending ?

[2020-02-16 16:23] MattIPv4 commented on #13679
As mentioned in https://github.com/cdnjs/cdnjs/pull/13658#issuecomment-584048082, single package.json additions aren't currently being picked up by the auto-update bot.  We're currently working to get this running again :)

[2020-02-16 16:23] MattIPv4 commented on #13679
Closing this as the library has been added in https://github.com/cdnjs/cdnjs/pull/13680

[2020-02-16 16:23] #13679 closed

[2020-02-18 08:23] lovasoa opened #13685 "sql.js is out of date"
Hello,
  I'm a maintainer of [sql.js](https://github.com/kripken/sql.js). The latest published version is 1.1.0, but cdnjs still hosts 0.5.0. Could it be updated ?

[2020-02-18 14:26] sunita1112 commented on #12792
Any update on this issue?

[2020-02-18 14:41] MattIPv4 commented on #12792
@sunita1112 Sadly not, there were no further reports of this issue and it doesn't look like we got anywhere with diagnoising it. Could you provide any logs possible if you're seeing this occur, a HAR of the failing request would be useful etc.

[2020-02-18 14:47] MattIPv4 commented on #13685
Hi there!

Thank you for making a new library request issue on cdnjs! 📦
Due to the massive number of requests we receive, it may be a while before one of our team get around to processing this request.

**To help us with this, you can create the pull request to add the library yourself!** 📥

**Please take a read of our [CONTRIBUTING.md](https://github.com/cdnjs/cdnjs/blob/master/CONTRIBUTING.md) f

[2020-02-18 21:07] sashberd commented on #8180
@MattIPv4 Please review this one. Thanks

[2020-02-19 18:39] #8180 closed

[2020-02-19 20:43] tliron opened #13688 "Add forked jQuery UI Layout for jQuery 3"
Unfortunately, the main jQuery Layout plugin has ceased development in 2016 and the "official" version at 1.4.3 is stuck at requiring jQuery 2.

Please consider adding the [fork](https://github.com/GedMarc/layout). The fork has continued the original version scheme and is now at 1.7.0.2. I'm not sure if it's best to continue using the same name here or a different name, possibly "jquery-ui-layout"

[2020-02-19 22:18] #8199 closed

[2020-02-19 23:44] xtuc commented on #13685
[code]

The pattern in https://github.com/cdnjs/packages/blob/master/packages/s/sql.js.json#L31 doesn't match any files in the latest versions. Please correct it

[2020-02-19 23:45] xtuc commented on #13671
Please send a pull request to add the package.

[2020-02-19 23:45] #13671 closed

[2020-02-19 23:47] xtuc commented on #13666
Due to the lack of activity I'm closing the issue.

[2020-02-19 23:47] #13666 closed

[2020-02-19 23:50] xtuc commented on #13657
[code]

Please update the pattern in https://github.com/cdnjs/packages/blob/master/packages/d/dc.json#L30-L36
[code]

[2020-02-19 23:51] xtuc commented on #13656
`layer` isn't configured to autoupdate automaticaly. Please send a PR to add the autoupdate (preferably via npm)

[2020-02-19 23:51] #13656 closed

[2020-02-19 23:56] gordonwoodhull commented on #13657
Thanks for your help getting dc.js back into CDNJS.

Indeed the build artifacts moved as of release 4.0. But we are still maintaining 3.x. Is there a way to have a different `npmFileMap` for different versions?

[2020-02-20 00:01] xtuc commented on #13648
The lib is not configured to automaticaly update.

Please check https://github.com/cdnjs/cdnjs/blob/master/CONTRIBUTING.md, https://github.com/cdnjs/cdnjs/blob/master/CONTRIBUTING-WIP.md and send a PR

[2020-02-20 00:01] #13648 closed

[2020-02-20 00:04] xtuc commented on #13612
that's done

[2020-02-20 00:05] xtuc commented on #13519
Closing in favor of https://github.com/cdnjs/cdnjs/issues/13667

[2020-02-20 00:05] #13519 closed

[2020-02-20 00:06] xtuc commented on #13655
The bot published new versions

[2020-02-20 00:06] #13655 closed

[2020-02-20 00:08] xtuc commented on #13511
h3 is now enabled

[2020-02-20 00:08] #13511 closed

[2020-02-20 00:09] xtuc commented on #13454
@ByrenHiggin did you send a PR? do you need help?

[2020-02-20 00:11] MattIPv4 commented on #13688
Hi there!

This library doesn't have enough popularity (like more than 200 stars on GitHub or 800 downloads per month on npm). Please take a look at our [pull request template, essentials checklist](https://github.com/cdnjs/cdnjs/blob/master/PULL_REQUEST_TEMPLATE.md#essential-checklist) for more information regarding this. 📖

Please open an issue again when the library has more popularity, so that

[2020-02-20 00:11] #13688 closed

[2020-02-20 00:13] #13392 closed

[2020-02-20 00:14] xtuc commented on #13396
the PR has been merged. The package should be available on the cdn.

[2020-02-20 00:14] #13396 closed

[2020-02-20 00:14] MattIPv4 commented on #13392
🎉

[2020-02-20 00:14] xtuc commented on #13402
@drewfreyling are you working on a PR? do you need any help?

[2020-02-20 00:15] xtuc commented on #13391
That's a good idea, it could be part of the future linting of cdnjs/packages

[2020-02-20 00:16] xtuc commented on #13389
is this still wanted with the future cdnjs/packages?

[2020-02-20 00:16] xtuc commented on #13388
PeterBot isn't running anymore, but I will keep that in mind for the future bot

[2020-02-20 00:16] #13388 closed

[2020-02-20 00:17] tliron commented on #13688
It is not my work, it is someone else's...

[2020-02-20 00:18] xtuc commented on #13380
@reconbot can you elaborate? the cdn will not distribute certain extension of files but otherwise it's fine

[2020-02-20 00:18] MattIPv4 commented on #13389
Nope. I’m not sure why it was ever a requirement honestly. I’m happy for PRs in the new repo to be messy, as long as maintainers always squash and merge, which we can enforce with repo settings.

[2020-02-20 00:18] #13389 closed

[2020-02-20 00:21] MattIPv4 commented on #13390
This is no longer needed as PeterBot is no longer in operation.

[2020-02-20 00:21] #13390 closed

[2020-02-20 00:26] xtuc commented on #13221
@BrightSkyz can you please share the demo?

[2020-02-20 00:27] xtuc commented on #13226
As @PeterDaveHello said, that should probably be upstream

[2020-02-20 00:27] #13226 closed

[2020-02-20 00:28] xtuc commented on #13173
Would you mind sending a PR to add it? see Contributing.md files in the repo.

[2020-02-20 00:28] xtuc commented on #13173
Also why was that a high priority?

[2020-02-20 00:30] xtuc commented on #13119
Please send a PR to update the package.json

[2020-02-20 00:30] BrightSkyz commented on #13221
I'll need to dig it up @xtuc, do you have twitter where I can message you?

[2020-02-20 00:31] xtuc commented on #12968
Why is that a high priority? Please submit a PR to add the package on the cdn, see contributing.md files in the repo

[2020-02-20 00:32] xtuc commented on #13038
PR has been closed

[2020-02-20 00:32] #13038 closed

[2020-02-20 00:35] xtuc commented on #12934
I don't understand why cdnjs would do that. I think npm would be the best way to provide such a feature.

[2020-02-20 00:35] #12934 closed

[2020-02-20 00:35] xtuc commented on #12920
No need to add manually versions. Please send a PR to enable autoupdate for `Zebra_Datepicker`. See the contributing.md files in the repo

[2020-02-20 00:35] #12920 closed

[2020-02-20 00:36] xtuc commented on #12909
Why is that a high priority? Please check the contributing.md files in the repo and send a PR

[2020-02-20 00:38] xtuc commented on #12911
Please send a PR that updates `ajax/libs/vanilla-lazyload/package.json` and the next version that the bot will add will fix that

[2020-02-20 00:38] #12911 closed

[2020-02-20 00:38] xtuc commented on #12866
Closing for lack of activity

[2020-02-20 00:38] #12866 closed

[2020-02-20 00:40] #12901 closed

[2020-02-20 00:41] xtuc commented on #11976
Closing in favor of https://github.com/cdnjs/cdnjs/issues/12790

[2020-02-20 00:41] #11976 closed

[2020-02-20 00:43] xtuc commented on #12796
You can submit  https://github.com/zachacole/Simple-Grid on cdnjs.com. Your fork doesn't meet the popularity requirements

[2020-02-20 00:45] xtuc commented on #12790
The PR reviews need to be addressed

[2020-02-20 00:45] xtuc commented on #12787
PR has been closed

[2020-02-20 00:45] #12787 closed

[2020-02-20 00:46] xtuc commented on #12701
@codecalm can you send a PR to add it?

[2020-02-20 00:48] xtuc commented on #12751
This would be a new package, we don't want to update existing files on the cdn because of breaking changes

[2020-02-20 00:49] xtuc commented on #12772
We won't change the file in the version 2.0. Since the lib isn't auto updating, please send a PR to enable it. See contributing.md files in the repo

[2020-02-20 00:49] #12772 closed

[2020-02-20 00:51] #12572 closed

[2020-02-20 00:53] walmik commented on #12968
Closing this issue as it s already added to CDNjs. Thank you!

[2020-02-20 00:53] #12968 closed

[2020-02-20 00:55] xtuc commented on #12605
We apparently not serve with gzip, but the file is minified

[2020-02-20 00:55] #12605 closed

[2020-02-20 07:42] SylwesterZarebski commented on #8199
Better later than never, thanks :-)

[2020-02-20 07:46] m1dst commented on #12866
What a shame. I was hoping it might be fixed at some point.

On Thu, 20 Feb 2020 at 00:38, Sven Sauleau <notifications@github.com> wrote:

[2020-02-20 09:56] Simonwep commented on #12909
No need for that anymore, I'll stick to JSDelivr since I used it from the start and most of the users already grab files from there :)

[2020-02-20 09:56] #12909 closed

[2020-02-20 09:59] cybernet commented on #13519
thanks 🙏

[2020-02-20 10:39] xtuc commented on #12866
Please feel free to send a PR to fix it, see the contributing.md files in the repo

[2020-02-20 10:44] xtuc commented on #13657
If you change the `npmFileMap`, only new versions will have the map applied. Existing versions on the cdnjs will never get changed. Would you mind sending a PR?

[2020-02-20 10:47] gordonwoodhull commented on #13657
Right, but I’m trying to say that we will continue to create 3.x releases. 3.x is the last to support IE.

I will be glad to do a PR once I figure out the right way to do this. Thanks!!

[2020-02-20 18:18] #13283 closed

[2020-02-20 18:26] #12190 closed

[2020-02-20 18:26] xtuc commented on #12190
PR merged in https://github.com/cdnjs/packages/commit/66972745f0532a96413ffd26e47192b1954827c5

[2020-02-20 18:40] #12324 closed

[2020-02-20 19:02] xtuc commented on #5538
CI is going to be rewriten and will avoid that issue

[2020-02-20 19:02] #5538 closed

[2020-02-20 19:03] xtuc opened #13689 "able to host typescript files"
@PeterDaveHello are we able to host typescript files?

_Originally posted by @drewfreyling in https://github.com/cdnjs/cdnjs/issues/9346#issuecomment-263045798_

[2020-02-20 19:04] xtuc commented on #13145
also .ts from #13689

[2020-02-20 19:05] xtuc commented on #4533
Closing for lack of activity. Feel free to open a new issue if needed

[2020-02-20 19:05] #4533 closed

[2020-02-20 19:05] xtuc commented on #4728
Closing for lack of activity. Feel free to open a new issue if needed

[2020-02-20 19:05] #4728 closed

[2020-02-20 19:05] xtuc commented on #5135
Closing for lack of activity. Feel free to open a new issue if needed

[2020-02-20 19:05] #5135 closed

[2020-02-20 19:05] xtuc commented on #5697
Closing for lack of activity. Feel free to open a new issue if needed

[2020-02-20 19:05] #5697 closed

[2020-02-20 19:06] MattIPv4 commented on #13689
Related to https://github.com/cdnjs/new-website/blob/master/webServer/utils/fileType.js which contains the whitelist of all extensions that should be in the Cf whitelist at present.

[2020-02-20 19:06] xtuc commented on #6091
Enable autoupdate for the package, see contributing.md files

[2020-02-20 19:06] #6091 closed

[2020-02-20 19:07] #6159 closed

[2020-02-20 19:08] #5289 closed

[2020-02-20 19:08] #6002 closed

[2020-02-20 19:08] #6100 closed

[2020-02-20 19:08] #6202 closed

[2020-02-20 19:08] #6786 closed

[2020-02-20 19:08] #6845 closed

[2020-02-20 19:08] #7195 closed

[2020-02-20 19:08] #7305 closed

[2020-02-20 19:08] #7348 closed

[2020-02-20 19:08] #7501 closed

[2020-02-20 19:08] #7635 closed

[2020-02-20 19:08] #7815 closed

[2020-02-20 19:08] #7817 closed

[2020-02-20 19:08] #8136 closed

[2020-02-20 19:08] #8225 closed

[2020-02-20 19:08] #8321 closed

[2020-02-20 19:08] #8430 closed

[2020-02-20 19:08] #8540 closed

[2020-02-20 19:08] #9160 closed

[2020-02-20 19:08] #9225 closed

[2020-02-20 19:08] #9662 closed

[2020-02-20 19:08] #10249 closed

[2020-02-20 19:08] #11347 closed

[2020-02-20 19:08] #5239 closed

[2020-02-20 19:08] xtuc commented on #6196
Closing for lack of activity. Feel free to open a new issue if needed

[2020-02-20 19:08] #6196 closed

[2020-02-20 19:09] xtuc commented on #12850
Not caused by cdnjs.com, please reach out to the author of the package

[2020-02-20 19:09] #12850 closed

[2020-02-20 19:10] xtuc commented on #5539
Closing for lack of activity. Feel free to open a new issue if needed

[2020-02-20 19:10] #5539 closed

[2020-02-20 19:11] xtuc commented on #10012
The bot will make sure that files land in the ajax/libs directory. Not need to ensure that anymore

[2020-02-20 19:11] #10012 closed

[2020-02-20 19:11] xtuc commented on #4961
Closing for lack of activity. Feel free to open a new issue if needed

[2020-02-20 19:11] #4961 closed

[2020-02-20 19:12] xtuc commented on #4774
Tests will be refactored and this won't be an issue anymore

[2020-02-20 19:12] #4774 closed

[2020-02-20 19:13] xtuc commented on #11117
Closing for lack of activity. Feel free to open a new issue if needed

[2020-02-20 19:13] #11117 closed

[2020-02-20 19:15] xtuc commented on #10017
This behavior was changed recently, please try again. Feel free to open a new issue if needed

[2020-02-20 19:15] #10017 closed

[2020-02-20 19:16] MattIPv4 commented on #10017
This has been implemented with the `hitsPerPage` url param. See https://cdnjs.com/api for the full API docs.

[2020-02-20 19:16] xtuc commented on #4461
We are not over 200Gb and we need to improve. We will do it, no need to keep this issue

[2020-02-20 19:16] #4461 closed

[2020-02-20 19:16] xtuc commented on #3802
Closing for lack of activity. Feel free to open a new issue if needed

[2020-02-20 19:16] #3802 closed

[2020-02-20 19:17] xtuc commented on #6142
Closing for lack of activity. Feel free to open a new issue if needed

[2020-02-20 19:17] #6142 closed

[2020-02-20 19:17] xtuc commented on #7298
Closing for lack of activity. Feel free to open a new issue if needed

[2020-02-20 19:17] #7298 closed

[2020-02-20 19:19] xtuc commented on #3035
as mentioned already, we are not planning to remove any files distributed by cdnjs.com because it would be a breaking change.

Files that needs to be taken down must be handled by Cloudflare's T&S and it outside cdnjs.com's scope anyway.

Feel free to reach out to sven (at) cloudflare.com if you need anything

[2020-02-20 19:19] #3035 closed

[2020-02-20 19:21] xtuc commented on #10660
tools have changed. Documentation still need to be written tho

[2020-02-20 19:21] #10660 closed

[2020-02-20 19:22] #8552 closed

[2020-02-20 21:35] patrickroberts commented on #8225
Unfortunate... oh well.

[2020-02-21 16:05] xtuc opened #13690 "hi-sven doesn't publish a index.ts file"
Logs

[code]

However, no ts file is present in https://github.com/cdnjs/cdnjs/tree/master/ajax/libs/hi-sven/1.1.17.

[2020-02-23 13:40] #12457 closed

[2020-02-23 13:40] #12539 closed

[2020-02-23 13:40] #10000 closed

[2020-02-23 13:41] #5928 closed

[2020-02-23 13:41] #9117 closed

[2020-02-23 13:41] #7910 closed

[2020-02-23 13:41] #9460 closed

[2020-02-23 13:42] #10257 closed

[2020-02-23 13:42] #10653 closed

[2020-02-23 13:42] #10663 closed

[2020-02-23 13:42] #10690 closed

[2020-02-23 13:42] #10719 closed

[2020-02-23 13:42] #10841 closed

[2020-02-23 13:42] #9823 closed

[2020-02-23 13:42] #9252 closed

[2020-02-23 13:42] #10258 closed

[2020-02-23 13:42] #6754 closed

[2020-02-23 13:43] #11091 closed

[2020-02-23 13:43] #6746 closed

[2020-02-23 13:43] #4594 closed

[2020-02-23 13:43] #5349 closed

[2020-02-23 13:43] #6312 closed

[2020-02-23 13:44] #9332 closed

[2020-02-23 13:44] #5771 closed

[2020-02-23 13:44] #2798 closed

[2020-02-23 13:44] #5276 closed

[2020-02-23 13:44] #5195 closed

[2020-02-23 13:45] #6730 closed

[2020-02-23 13:45] #7879 closed

[2020-02-23 13:45] #3506 closed

[2020-02-23 13:46] #7911 closed

[2020-02-23 13:46] #7931 closed

[2020-02-23 13:47] #8071 closed

[2020-02-23 13:47] #7626 closed

[2020-02-23 13:47] #8258 closed

[2020-02-23 13:47] #5084 closed

[2020-02-23 13:47] #9837 closed

[2020-02-23 13:47] #6429 closed

[2020-02-23 13:47] #5420 closed

[2020-02-23 13:47] #5598 closed

[2020-02-23 13:48] #6471 closed

[2020-02-23 13:48] #5607 closed

[2020-02-23 13:48] #5768 closed

[2020-02-23 13:48] #5544 closed

[2020-02-23 13:48] #5194 closed

[2020-02-23 13:48] #11905 closed

[2020-02-23 13:48] #8750 closed

[2020-02-23 13:48] #8685 closed

[2020-02-23 13:49] #6098 closed

[2020-02-23 13:49] #7630 closed

[2020-02-23 13:50] #10113 closed

[2020-02-23 13:50] #11901 closed

[2020-02-23 13:50] #11353 closed

[2020-02-23 13:50] #5500 closed

[2020-02-23 13:50] #12346 closed

[2020-02-23 13:51] #11104 closed

[2020-02-23 13:51] #7816 closed

[2020-02-23 13:51] #11904 closed

[2020-02-23 13:52] #3317 closed

[2020-02-23 13:52] #11170 closed

[2020-02-23 13:54] MattIPv4 commented on #11123
We should keep this open as we are still looking at implementing this.

[2020-02-23 13:55] #11150 closed

[2020-02-23 13:55] #8058 closed

[2020-02-23 13:55] #9054 closed

[2020-02-23 13:55] #12652 closed

[2020-02-23 13:55] #11475 closed

[2020-02-23 13:56] #6070 closed

[2020-02-23 14:06] PeterDaveHello commented on #11123
Feel free to open a new issue for it(or maybe just use the opened pull request for discussion), as I was removed from the organization without any discussion and respect, just like some other members(I know it's not by you and you're not the one who's in charge for that), I'm now closing ancient issues I'm not working on so that I don't need to receive unnecessary notifications, thanks.

[2020-02-23 14:13] ExE-Boss commented on #11123
Did you know that you can simply unsubscribe from issues you no longer wish to receive notifications for?

<table><td><img src="https://user-images.githubusercontent.com/3889017/75113480-a55d1480-564e-11ea-96c0-b8c07afa6b7e.png"/></table>

It’s what that button in the sidebar is there for.

[2020-02-23 14:21] #6236 closed

[2020-02-23 14:21] MattIPv4 commented on #6236
I think this one probably can actually be closed, the docs in this repo will be replaced by new ones in the packages-migration repo.

[2020-02-23 14:22] xtuc commented on #6236
I was concerned about the time the migration could take, maybe we want to fix this before migrating the docs over?

[2020-02-23 14:27] xtuc commented on #5311
PR is https://github.com/cdnjs/cdnjs/pull/10080. I'm not sure if it's better to do it in this repo and once we moved to the new repo. The new autoupdater supports both formats

[2020-02-23 14:30] MattIPv4 commented on #6236
It seems like this would just create more work as the docs would need adjusting to be used in the current setup, and then further changes need to be made to them to reflect the new post-migration setup.

IMO, the docs in this repo have been as they are for a long time, a few more weeks/months like this before we do the migration would be fine?

[2020-02-23 14:32] PeterDaveHello commented on #6236
It's no need to migrate and rewrite the doc before the new model of how the library update would work, the effort won't worth it. This one should be closed.

[2020-02-23 14:37] xtuc commented on #6236
The new model of libray update will be similar enough I suppose, but I agree with @MattIPv4 that a couple weeks more  as is would be fine

[2020-02-23 15:27] xtuc commented on #10732
I think we should keep this open to eventually clean the wiki

[2020-02-24 12:28] #12006 closed

[2020-02-24 15:02] xtuc commented on #13689
.ts is now allowed https://cdnjs.cloudflare.com/ajax/libs/hi-sven/1.1.17/index.ts

[2020-02-24 15:02] #13689 closed

[2020-02-24 15:05] xtuc commented on #13145
I added .wasm (https://cdnjs.cloudflare.com/ajax/libs/hi-sven/1.1.17/index.wasm) and .ts (https://cdnjs.cloudflare.com/ajax/libs/hi-sven/1.1.17/index.ts)

[2020-02-24 15:05] #13145 closed

[2020-02-25 12:19] #9667 closed

[2020-02-25 12:42] #12210 closed

[2020-02-25 12:49] #12024 closed

[2020-02-25 12:50] #9200 closed

[2020-02-25 23:20] Tugzrida opened #13701 "OpenLayers has stopped autoupdating"
cdnjs currently has both openlayers and ol3 pointing to the same deprecated [`openlayers` package on NPM](https://www.npmjs.com/package/openlayers).

ol3 is an older name, so I don't think fixing ol3 in cdnjs is needed, but fixing openlayers most certainly is - the current release is 6.2.1 and cdnjs is stuck at 4.6.5.

The new npm package is just called `ol`, and I would've just submitted a pull r

[2020-02-26 13:50] rishabhsrao opened #13702 "[lazysizes] Unminified version does not exist"
The [lazysizes](https://github.com/aFarkas/lazysizes) library was uploaded in #4114. But only the minified version was uploaded at https://cdnjs.cloudflare.com/ajax/libs/lazysizes/5.2.0/lazysizes.min.js.

An unminified version would be useful for debugging during development. It is available at https://unpkg.com/lazysizes@5.2.0/lazysizes.js.

[2020-02-26 15:26] parthjawale commented on #12464
Hey, is this issue still open?

[2020-02-26 17:53] WingGithub opened #13704 "Please update spin.js"
https://github.com/fgnass/spin.js/issues/374#issuecomment-591543378

[2020-02-27 23:33] bradygaster commented on #13370
@xtuc - i'm waiting on some feedback from cdnjs on how to get our new packages published. ATM it doesn't seem like any of our packages are being updated even when we've submitted months-old pull requests, so i'd like to concentrate on our new APIs before we set up auto-updating on our old ones. open to discussion if you have a need for it to be updated, but atm I don't know how to get anything on

[2020-02-28 00:23] MattIPv4 commented on #13370
Hey @bradygaster - the current auto-update bot doesn’t work with new single package.json libraries, not sure why really, it just doesn’t :(

We’re working really hard on a migration of the package.json for cdnjs to a new repository with a new auto-update bot that’ll resolve this ongoing issue.

As such, the best thing to do for now is to submit any PRs as if single package.hson submissions are wor

[2020-02-28 10:45] MattIPv4 commented on #13701
Hi there @Tugzrida,

For cdnjs auto-update, the files either need to present within an NPM package or present in a repo and tagged with a semver release.

It looks like the GH repo doesn't actually contain the compiled versions in the tag, only in the published GitHub release, so we won't be able to use that.

The best thing here might just be to update `openlayers` to target the new `ol` NPM pack

[2020-02-28 10:45] MattIPv4 commented on #13701
Hi there!

Thank you for making a new library request issue on cdnjs! 📦
Due to the massive number of requests we receive, it may be a while before one of our team get around to processing this request.

**To help us with this, you can create the pull request to add the library yourself!** 📥

**Please take a read of our [CONTRIBUTING.md](https://github.com/cdnjs/cdnjs/blob/master/CONTRIBUTING.md) f

[2020-02-28 10:46] MattIPv4 commented on #13704
Hi there!

Thank you for making a new library request issue on cdnjs! 📦
Due to the massive number of requests we receive, it may be a while before one of our team get around to processing this request.

**To help us with this, you can create the pull request to add the library yourself!** 📥

**Please take a read of our [CONTRIBUTING.md](https://github.com/cdnjs/cdnjs/blob/master/CONTRIBUTING.md) f

[2020-02-28 13:19] Tugzrida commented on #13701
As far as I can tell, all files from the NPM package are required except `README.md`, `package.json` and the whole `src/` folder. There's a vast number of these files, and they aren't minified, so the better option may be manual updates from the release compiled files. If going ahead with the package is ok, then I haven't been able to figure out a glob that works taking into account the above excl

[2020-02-28 13:42] MattIPv4 commented on #13701
Unfortunately we are no longer supporting manual updates to cdnjs, all updating must be done through auto-update configs and the bot.

Yeah, I'm also not sure about the needed glob here. `*@(.css|.js)?(.map)` would match all files needed at the root of the package, but I'm not sure about a way to use globstar whilst excluding `src`.

[2020-02-28 20:37] Tugzrida commented on #13701
Yes, excluding `src` was the problem that I had, as there are multiple other subfolders that are required.

Additionally, all of the files in NPM appear to be unminified. Having a look at the compiled files provided in the releases, it looks like they're made with Webpack. I'm not very familiar with modular js, but I'm guessing there's not really a way to integrate that in cdnjs. Is it common to a

[2020-02-28 22:15] MattIPv4 commented on #13701
It might be worth reaching out on their repo and seeing if they could include bundled versions of the library in their NPM releases.

[2020-02-29 19:56] xtuc commented on #12464
@sashberd are you working on it?

[2020-02-29 20:03] xtuc commented on #13370
Also note that npm works currently with the new autoupdater. If you move your package to autoupdate via npm we can enable the new bot

[2020-03-02 09:41] #10272 closed

[2020-03-02 09:51] #11514 closed

[2020-03-02 09:58] #12464 closed

[2020-03-02 10:29] LeonSebastianCoimbra opened #13709 "Odd behaviour with ElFinder"
Hi everybody,

apparently there is an odd behaviour about the build of ElFinder on CDNJS (https://cdnjs.com/libraries/elfinder/): you can see that the latest usable version is the 2.1.50, but you can also see that in the dropdown list of the versions you can also select the 2.1.51, 2.1.52 and 2.1.53....

This is an anomaly, since by default CDNJS should present always the latest version available.

[2020-03-02 13:50] MattIPv4 commented on #13709
https://github.com/cdnjs/cdnjs/tree/master/ajax/libs/elfinder/2.1.53

All the files are present.

[2020-03-02 13:51] MattIPv4 commented on #13709
https://cdnjs.cloudflare.com/ajax/libs/elfinder/2.1.53/sounds/rm.wav is not available as .wav is a not a whitelisted extension on the CDN currently.

[2020-03-02 13:51] MattIPv4 commented on #13709
@xtuc any ideas why version hasn't been updated in https://github.com/cdnjs/cdnjs/blob/master/ajax/libs/elfinder/package.json when new versions have been published on cdnjs?

[2020-03-03 11:19] #8804 closed

[2020-03-03 11:21] #9202 closed

[2020-03-03 11:23] #9639 closed

[2020-03-03 11:24] #12375 closed

[2020-03-03 11:26] #9815 closed

[2020-03-03 11:33] #7795 closed

[2020-03-03 11:38] #10497 closed

[2020-03-03 11:39] #8515 closed

[2020-03-03 11:47] MattIPv4 commented on #13138
Closing -- https://github.com/cdnjs/static-website will have all sponsors listed

[2020-03-03 11:47] #13138 closed

[2020-03-04 14:41] lovasoa opened #13714 "wasm files are served with the wrong Content-Type"
In order for streaming compilation of webassembly modules to work, the files have to be served with the right content-type header.

Currently, they are served with the generic `application/octet-stream` mime type instead of `application/wasm`.

Reproduction:

[code]

[source](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/WebAssembly/instantiateStreaming)

[2020-03-05 02:12] NervenCid opened #13715 "How can i request the add of a .js library?"
Hello:

I'm working on mqtt.js:

https://github.com/mqttjs/MQTT.js

And i found that it can be used from the client side:

https://github.com/mqttjs/MQTT.js#browser

And it seems that it already have a Cdn version:

https://unpkg.com/mqtt@3.0.0/dist/mqtt.min.js

I wonder if it is possible to upload this library to your search engine

Thank you and sorry for the english

[2020-03-05 10:08] pmoerenhout opened #13716 "Please add the select2 4.0.13 library"
The latest select2 is 4.0.13. See https://github.com/select2/select2

[2020-03-05 13:31] MattIPv4 commented on #9244
Please see #11789 for why we won't be adding this.

[2020-03-05 13:31] #9244 closed

[2020-03-05 13:33] MattIPv4 commented on #13715
Hi there!

Thank you for making a new library request issue on cdnjs! 📦
Due to the massive number of requests we receive, it may be a while before one of our team get around to processing this request.

**To help us with this, you can create the pull request to add the library yourself!** 📥

**Please take a read of our [CONTRIBUTING.md](https://github.com/cdnjs/cdnjs/blob/master/CONTRIBUTING.md) f

[2020-03-05 13:33] MattIPv4 commented on #13714
cc @xtuc (plus, do we have an update on the content-type issue for package.json files as well?)

[2020-03-05 13:36] MattIPv4 commented on #13716
@xtuc any ideas why the git auto-update bot hasn't picked this up?

Auto-update config looks to be correct: https://github.com/cdnjs/cdnjs/blob/master/ajax/libs/select2/package.json
And 4.0.13 is tagged in the repo: https://github.com/select2/select2/tree/4.0.13/dist

[2020-03-05 16:34] pmoerenhout commented on #13716
When I check the Github page: https://github.com/cdnjs/cdnjs/tree/master/ajax/libs/select2
it says: Cannot retrieve the latest commit at this time.

[2020-03-05 16:35] MattIPv4 commented on #13716
Yeah, that's due to the size of the repo and the incredibly large commit history, GH con't compute it. https://github.com/cdnjs/cdnjs/commit/5dd1bc140fc7b0e0647ff7a587e2c86ad6fd87f6 was the last commit in that directory.

[2020-03-06 00:26] bernd-wechner opened #13717 "New Library Request: loading-bar"
There is beautiful self contained library here:

https://github.com/loadingio/loading-bar

Which meets your requirements (over 200 github stars, can't see npm downloads)

You already host:

https://cdnjs.com/libraries/progressbar.js
https://cdnjs.com/libraries/angular-loading-bar

but to be honest loading-bar looks a lot better and likely to take off.  It has an MIT license, and has no external de

[2020-03-06 21:34] MattIPv4 commented on #13717
Hi there!

Thank you for making a new library request issue on cdnjs! 📦
Due to the massive number of requests we receive, it may be a while before one of our team get around to processing this request.

**To help us with this, you can create the pull request to add the library yourself!** 📥

**Please take a read of our [CONTRIBUTING.md](https://github.com/cdnjs/cdnjs/blob/master/CONTRIBUTING.md) f

[2020-03-09 09:29] #10234 closed

[2020-03-09 09:34] #6110 closed

[2020-03-09 09:38] #10215 closed

[2020-03-09 09:39] #11031 closed

[2020-03-10 09:49] Tugzrida commented on #13701
Well openlayers/openlayers#10790 was closed pretty quickly. Apparently, use of the full build is now discouraged. The openlayers-provided jsDelivr links use the [openlayers website repo](https://github.com/openlayers/openlayers.github.io/tree/master/en), but this repo doesn't have releases. I can't really see a way forward to get Openlayers on CDNJS, so unless there are any other ideas, I'll close

[2020-03-10 09:53] nepa opened #13719 "Update Request: Add AngularJS 1.7.9"
AngularJS 1.7.9 was released on 2019-11-19 and is still missing at cdnjs.

Please update the library. Thank you. :-)

https://github.com/angular/angular.js/blob/master/CHANGELOG.md

I tried to provide a pull request last time, but it miserably failed due to the mere size of the repository, so we are probably better of, if somebody takes care of the update, who is more proficient in the entire upda

[2020-03-10 09:57] nepa commented on #13719
A similar request was closed in December 2019:
https://github.com/cdnjs/cdnjs/issues/13648

The ticket states that the problem will solve itself and something about an 'ETA', but I have no idea what that is and obviously the problem did not solve itself yet. ;-)

[2020-03-10 10:21] mainhanu opened #13720 "file list not match for api and web"
for example

https://cdnjs.com/libraries/antd
https://api.cdnjs.com/libraries/antd

for version 4.0.2 and 4.0.1, API list has extra files like `antd.dark.less `, which is 403

![image](https://user-images.githubusercontent.com/48398913/76302973-e49c8e00-62fb-11ea-8b2c-017697576633.png)

how to get real file list from API?

[2020-03-10 10:52] #9216 closed

[2020-03-10 11:09] MattIPv4 commented on #13719
Hi there!

Thank you for making a new library request issue on cdnjs! 📦
Due to the massive number of requests we receive, it may be a while before one of our team get around to processing this request.

**To help us with this, you can create the pull request to add the library yourself!** 📥

**Please take a read of our [CONTRIBUTING.md](https://github.com/cdnjs/cdnjs/blob/master/CONTRIBUTING.md) f

[2020-03-10 11:10] MattIPv4 commented on #13719
Looking at the issue referenced, it was stated that the library is not configured to auto-update and so it has not auto-updated.

Someone will need to create a PR to add a valid auto-update configuration to Angular.js, so that our auto-update bot can load in new versions.

[2020-03-10 12:02] MattIPv4 commented on #13701
Yeah, I think given the situation we don't really have a way to provide new versions on cdnjs via auto-update. As such, I am going to close this issue for now.

We don't currently have a way to provide custom messaging on libraries on the website, though I will consider this during the redesign.

[2020-03-10 12:02] #13701 closed

[2020-03-10 12:51] #10285 closed

[2020-03-10 13:49] #11369 closed

[2020-03-11 12:16] #12245 closed

[2020-03-11 12:18] #12323 closed

[2020-03-11 12:22] #12336 closed

[2020-03-11 12:35] #12432 closed

[2020-03-11 12:36] #10700 closed

[2020-03-11 12:43] #12420 closed

[2020-03-11 19:00] heathergh commented on #13719
I've added a npm hook (hopefully I did it correctly) to the Angular library, so it can auto-update :)

[2020-03-13 12:28] rodekker opened #13727 "Update request: Summernote v0.8.16"
Can you please update summernote to the latest version (v0.8.16)

[2020-03-13 19:57] MattIPv4 commented on #13727
Hi there!

Thank you for making a new library request issue on cdnjs! 📦
Due to the massive number of requests we receive, it may be a while before one of our team get around to processing this request.

**To help us with this, you can create the pull request to add the library yourself!** 📥

**Please take a read of our [CONTRIBUTING.md](https://github.com/cdnjs/cdnjs/blob/master/CONTRIBUTING.md) f

[2020-03-14 11:48] Pok-Pok opened #13728 "acorn-loose and acorn-walk are missing"
AcornJS is present in the repository (https://cdnjs.cloudflare.com/ajax/libs/acorn/7.1.1/acorn.js) but the dependent acorn-loose and acorn-walk are not.
Should/could those also be added?

[2020-03-14 17:34] xtuc commented on #13728
Feel free to add them. See the contributing.md files in the repo

[2020-03-14 17:53] xtuc commented on #13701
Maybe we can add a note in the package's description?

[2020-03-15 22:06] epaezrubio opened #13729 "Add echarts-gl"
From their README:

Echarts, the base library, is already added in the CDN (latest update: https://github.com/cdnjs/cdnjs/commit/86f819c4d3b2d602b640e9aeb683c2077e69a067). This official extension has enough popularity to be added too (~2k starts on Github, ~4k weekly downloads on npm).

GitHub: https://github.com/ecomfe/echarts-gl
NPM: https://www.npmjs.com/package/echarts-gl

I'll be happy to sub

[2020-03-15 23:04] matteobruni opened #13730 "tsParticles not showing in search"
The https://github.com/cdnjs/cdnjs/pull/13705 PR was merged days ago but I still can't find the library in the website.
How long do I have to wait?

[2020-03-16 07:23] MattIPv4 commented on #13728
Hi there!

Thank you for making a new library request issue on cdnjs! 📦
Due to the massive number of requests we receive, it may be a while before one of our team get around to processing this request.

**To help us with this, you can create the pull request to add the library yourself!** 📥

**Please take a read of our [CONTRIBUTING.md](https://github.com/cdnjs/cdnjs/blob/master/CONTRIBUTING.md) f

[2020-03-16 07:23] MattIPv4 commented on #13729
Hi there!

Thank you for making a new library request issue on cdnjs! 📦
Due to the massive number of requests we receive, it may be a while before one of our team get around to processing this request.

**To help us with this, you can create the pull request to add the library yourself!** 📥

**Please take a read of our [CONTRIBUTING.md](https://github.com/cdnjs/cdnjs/blob/master/CONTRIBUTING.md) f

[2020-03-16 07:24] MattIPv4 commented on #13730
The current auto-update bot doesn't pick up new libraries added, such as tsParticles.

This will require the new auto-update bot we are working on for the library to be picked up, versioned files added and for it to be indexed in Aloglia for the website.

@xtuc do you want to move this to the new bot?

[2020-03-16 09:27] xtuc commented on #13730
I moved the package to the new bot. It pushed the last 10 versions.

[2020-03-16 09:51] xtuc commented on #13730
Launched manually the website update and the package is live https://cdnjs.com/libraries/tsparticles.

[2020-03-16 09:51] #13730 closed

[2020-03-18 21:08] yakupgezdirici commented on #7459
https://github.com/michmech/xonomy

[2020-03-19 16:10] nepa commented on #13719
I just noticed that AngularJS 1.7.9 is now available at cdnjs.

Thank you very much for the effort @heathergh and @MattIPv4.

Unfortunately, some of the sub-modules (such as angular-animate) are now missing in version 1.7.9.

But this issue, at least, is resolved. 👍

[2020-03-19 16:10] #13719 closed

[2020-03-19 16:12] MattIPv4 commented on #13719
As mentioned in https://github.com/cdnjs/cdnjs/pull/13724#issuecomment-597868457, each submodule will need to be added as its own package to cdnjs.

[2020-03-20 14:43] MattIPv4 commented on #13690
Seems to have resolved itself: https://github.com/cdnjs/cdnjs/tree/master/ajax/libs/hi-sven/1.3.0

[2020-03-20 14:43] #13690 closed

[2020-03-20 14:45] xtuc commented on #13690
fixed in https://github.com/cdnjs/cdnjs/commit/c2574d86b67bdddb7931b87613d0977c93a05ec1

[2020-03-20 15:16] nepa opened #13732 "Library Request: Add angular-animate 1.7.9"
Up to version 1.7.8 all sub-modules were provided in the main [AngularJS library](https://cdnjs.com/libraries/angular.js/1.7.8). Git auto-updating of the modules, however, requires that each module is maintained as an individual library on cdnjs.

**This issue is intended to add missing sub-modules of Angular 1.7.9 as individual libraries.**

See [this comment](https://github.com/cdnjs/cdnjs/pull/

[2020-03-20 15:20] nepa opened #13733 "Library Request: Add angular-route 1.7.9"
Up to version 1.7.8 all sub-modules were provided in the main [AngularJS library](https://cdnjs.com/libraries/angular.js/1.7.8). Git auto-updating of the modules, however, requires that each module is maintained as an individual library on cdnjs.

**This issue is intended to add missing sub-modules of Angular 1.7.9 as individual libraries.**

See [this comment](https://github.com/cdnjs/cdnjs/pull/

[2020-03-20 15:23] nepa opened #13734 "Library Request: Add angular-cookies 1.7.9"
Up to version 1.7.8 all sub-modules were provided in the main [AngularJS library](https://cdnjs.com/libraries/angular.js/1.7.8). Git auto-updating of the modules, however, requires that each module is maintained as an individual library on cdnjs.

**This issue is intended to add missing sub-modules of Angular 1.7.9 as individual libraries.**

See [this comment](https://github.com/cdnjs/cdnjs/pull/

[2020-03-20 15:26] nepa opened #13735 "Library Request: Add angular-aria 1.7.9"
Up to version 1.7.8 all sub-modules were provided in the main [AngularJS library](https://cdnjs.com/libraries/angular.js/1.7.8). Git auto-updating of the modules, however, requires that each module is maintained as an individual library on cdnjs.

**This issue is intended to add missing sub-modules of Angular 1.7.9 as individual libraries.**

See [this comment](https://github.com/cdnjs/cdnjs/pull/

[2020-03-20 15:28] nepa opened #13736 "Library Request: Add angular-loader 1.7.9"
Up to version 1.7.8 all sub-modules were provided in the main [AngularJS library](https://cdnjs.com/libraries/angular.js/1.7.8). Git auto-updating of the modules, however, requires that each module is maintained as an individual library on cdnjs.

**This issue is intended to add missing sub-modules of Angular 1.7.9 as individual libraries.**

See [this comment](https://github.com/cdnjs/cdnjs/pull/

[2020-03-20 15:33] nepa opened #13737 "Library Request: Add angular-message-format 1.7.9"
Up to version 1.7.8 all sub-modules were provided in the main [AngularJS library](https://cdnjs.com/libraries/angular.js/1.7.8). Git auto-updating of the modules, however, requires that each module is maintained as an individual library on cdnjs.

**This issue is intended to add missing sub-modules of Angular 1.7.9 as individual libraries.**

See [this comment](https://github.com/cdnjs/cdnjs/pull/

[2020-03-20 15:36] nepa opened #13738 "Library Request: Add angular-parse-ext 1.7.9"
Up to version 1.7.8 all sub-modules were provided in the main [AngularJS library](https://cdnjs.com/libraries/angular.js/1.7.8). Git auto-updating of the modules, however, requires that each module is maintained as an individual library on cdnjs.

**This issue is intended to add missing sub-modules of Angular 1.7.9 as individual libraries.**

See [this comment](https://github.com/cdnjs/cdnjs/pull/

[2020-03-20 17:27] #12397 closed

[2020-03-20 17:38] #10134 closed

[2020-03-20 17:39] #10912 closed

[2020-03-22 08:41] karzanOnline opened #13752 "Add ant-design-icons"
From their README:

@ant-design/icons, the base library in `antd`. This official extension has enough popularity to be added too (~21K weekly downloads on npm).

GitHub: https://github.com/ant-design/ant-design-icons
NPM: https://www.npmjs.com/package/@ant-design/icons

I'll be happy to submit a PR.

[2020-03-22 16:20] #12488 closed

[2020-03-22 16:27] #13738 closed

[2020-03-22 16:31] #13737 closed

[2020-03-22 16:36] #13736 closed

[2020-03-22 16:46] #12702 closed

[2020-03-22 17:00] #12885 closed

[2020-03-22 17:53] MattIPv4 commented on #13752
Hi there!

Thank you for making a new library request issue on cdnjs! 📦
Due to the massive number of requests we receive, it may be a while before one of our team get around to processing this request.

**To help us with this, you can create the pull request to add the library yourself!** 📥

**Please take a read of our [CONTRIBUTING.md](https://github.com/cdnjs/cdnjs/blob/master/CONTRIBUTING.md) f

[2020-03-23 03:11] RaoHai opened #13754 "Add g2plot"
Library name: g2plot
Git repository url: https://github.com/antvis/g2plot
npm package name or url (if there is one): https://www.npmjs.com/package/@antv/g2plot
License (List them all if it's multiple): MIT
Official homepage: https://g2plot.antv.vision

[2020-03-23 22:30] #13729 closed

[2020-03-23 22:40] #13734 closed

[2020-03-23 22:42] #13733 closed

[2020-03-23 22:57] #13735 closed

[2020-03-23 23:03] #13732 closed

[2020-03-23 23:07] #13023 closed

[2020-03-23 23:11] #12790 closed

[2020-03-24 07:05] brettz9 opened #13757 "Add @indexeddbshim/indexeddbshim"
Hi,

You were previously kind to add indexeddbshim. As the original maintainer appears unreachable, I have created a fork which I plan to maintain (and which I am doing for other reasons such as being able to update the project settings to put our demo on Github Pages and accepting sponsorships).

I am hoping you can also add this new package `@indexeddbshim/indexeddbshim` so that users who wish t

[2020-03-24 09:29] MattIPv4 commented on #13757
Hi there!

This library doesn't have enough popularity (like more than 200 stars on GitHub or 800 downloads per month on npm). Please take a look at our [pull request template, essentials checklist](https://github.com/cdnjs/cdnjs/blob/master/PULL_REQUEST_TEMPLATE.md#essential-checklist) for more information regarding this. 📖

Please open an issue again when the library has more popularity, so that

[2020-03-24 09:29] #13757 closed

[2020-03-25 12:04] #13293 closed

[2020-03-25 12:40] #13219 closed

[2020-03-25 12:48] #13249 closed

[2020-03-25 12:55] #13651 closed

[2020-03-25 16:12] wreiske opened #13758 "[Request Update] request: interactjs"
https://interactjs.io/ is on 1.9.7, CDNJS only has 1.2.9 and it causes errors with their latest documentation.

[2020-03-26 10:17] MattIPv4 commented on #13758
Hi there!

Thank you for making a new library request issue on cdnjs! 📦
Due to the massive number of requests we receive, it may be a while before one of our team get around to processing this request.

**To help us with this, you can create the pull request to add the library yourself!** 📥

**Please take a read of our [CONTRIBUTING.md](https://github.com/cdnjs/cdnjs/blob/master/CONTRIBUTING.md) f

[2020-03-26 10:19] MattIPv4 commented on #13758
Looks like we're currently using git auto-update for this library and the structure of the repo has changed: https://github.com/cdnjs/cdnjs/blob/master/ajax/libs/interact.js/package.json / https://github.com/taye/interact.js/tree/v1.9.7

Probably worth looking at moving this lib to auto-updating via npm instead: https://www.npmjs.com/package/interactjs

[2020-03-26 11:52] jefferyto opened #13759 "New library (hyphenopoly) not appearing on website"
It's been a month since the PR for hyphenopoly was merged (#13323) but the library still does not appear in the search results on cdnjs.com.

[2020-03-26 21:19] xtuc commented on #13759
I moved your package to the new bot and manually updated the website: https://cdnjs.com/libraries/hyphenopoly

[2020-03-26 21:19] #13759 closed

[2020-03-27 07:44] olafcm commented on #13716
Any progress on this bug?

[2020-03-27 20:05] thehitechpanky opened #13760 "Need help converting my GitHub code to CDN library"
How can the following code be converted to CDN and be published on cdnjs? https://github.com/thehitechpanky/js-bootstrap-tables

[2020-03-28 12:43] MattIPv4 commented on #13760
Hi there!

This library doesn't have enough popularity (like more than 200 stars on GitHub or 800 downloads per month on npm). Please take a look at our [pull request template, essentials checklist](https://github.com/cdnjs/cdnjs/blob/master/PULL_REQUEST_TEMPLATE.md#essential-checklist) for more information regarding this. 📖

Please open an issue again when the library has more popularity, so that

[2020-03-28 12:43] #13760 closed

[2020-03-30 01:15] zouyaoji commented on #13100
Hahaha, the requirements may have been met so far, please evaluate again.

[2020-03-30 08:26] davidcetinkaya opened #13762 "Add Embla Carousel"
**Package description:**

**Github:** https://github.com/davidcetinkaya/embla-carousel
**NPM:** https://www.npmjs.com/package/embla-carousel

Thank you in advance!
David

[2020-03-30 08:56] MattIPv4 commented on #13762
Hi there!

Thank you for making a new library request issue on cdnjs! 📦
Due to the massive number of requests we receive, it may be a while before one of our team get around to processing this request.

**To help us with this, you can create the pull request to add the library yourself!** 📥

**Please take a read of our [CONTRIBUTING.md](https://github.com/cdnjs/cdnjs/blob/master/CONTRIBUTING.md) f

[2020-03-30 10:05] #12248 closed

[2020-03-30 10:20] MattIPv4 commented on #360
Closing, there is no feasible way to implement this whilst we have a focus on asset integrity with SRI.

[2020-03-30 10:20] #360 closed

[2020-03-30 10:22] MattIPv4 commented on #3395
Closing, no further progress.

[2020-03-30 10:22] #3395 closed

[2020-03-30 10:24] MattIPv4 commented on #3616
We are working to split how cdnjs works so that there is a much smaller repository for humans to work with. Keep an eye on cdnjs/pacakges.

[2020-03-30 10:24] #3616 closed

[2020-03-30 10:24] MattIPv4 commented on #2584
Will track this in #1078

[2020-03-30 10:24] #2584 closed

[2020-03-30 10:26] MattIPv4 commented on #3941
We are working to split how cdnjs works so that there is a much smaller repository for humans to work with. Keep an eye on cdnjs/pacakges.

[2020-03-30 10:26] #3941 closed

[2020-03-30 10:27] MattIPv4 commented on #4081
I'm not sure what this is referring to, I'm not aware of any Arabic section we have anymore. Closing.

[2020-03-30 10:27] #4081 closed

[2020-03-30 10:27] MattIPv4 commented on #4158
We no longer have translated versions of the site, closing.

[2020-03-30 10:27] #4158 closed

[2020-03-30 10:28] MattIPv4 commented on #4269
No further progress, closing.

[2020-03-30 10:28] #4269 closed

[2020-03-30 10:31] MattIPv4 commented on #4328
No further progress, closing.

[2020-03-30 10:31] #4328 closed

[2020-03-30 10:33] MattIPv4 commented on #4610
cdnjs resources do not include cookies in responses, as Drew noted. Closing.

[2020-03-30 10:33] #4610 closed

[2020-03-30 10:34] MattIPv4 commented on #4627
No further progress, closing.

Going forward, I think we'll achieve this normally by simply adding renamed libraries as if they were a new library.

[2020-03-30 10:34] #4627 closed

[2020-03-30 10:34] MattIPv4 commented on #4650
Assuming this was resolved way back when (search happens to be working now). Closing.

[2020-03-30 10:34] #4650 closed

[2020-03-30 11:02] MattIPv4 commented on #5134
Hi there!

This library doesn't have enough popularity (like more than 200 stars on GitHub or 800 downloads per month on npm). Please take a look at our [pull request template, essentials checklist](https://github.com/cdnjs/cdnjs/blob/master/PULL_REQUEST_TEMPLATE.md#essential-checklist) for more information regarding this. 📖

Please open an issue again when the library has more popularity, so that

[2020-03-30 11:02] #5134 closed

[2020-03-30 11:09] MattIPv4 commented on #5572
No further progress, closing.

[2020-03-30 11:09] #5572 closed

[2020-03-30 11:17] MattIPv4 commented on #5842
This seems like a really niche issue with no progress, closing.

[2020-03-30 11:17] #5842 closed

[2020-03-30 11:19] MattIPv4 commented on #5962
Library no longer maintained, closing.

[2020-03-30 11:19] #5962 closed

[2020-03-30 11:20] MattIPv4 commented on #5985
Hi there!

This library doesn't have enough popularity (like more than 200 stars on GitHub or 800 downloads per month on npm). Please take a look at our [pull request template, essentials checklist](https://github.com/cdnjs/cdnjs/blob/master/PULL_REQUEST_TEMPLATE.md#essential-checklist) for more information regarding this. 📖

Please open an issue again when the library has more popularity, so that

[2020-03-30 11:20] #5985 closed

[2020-03-30 11:20] MattIPv4 commented on #5990
Closing, no further progress.

[2020-03-30 11:20] #5990 closed

[2020-03-30 11:21] MattIPv4 commented on #6064
Appears to be resolved, closing.

[2020-03-30 11:21] #6064 closed

[2020-03-30 11:23] MattIPv4 commented on #6072
Library no longer maintained, closing.

[2020-03-30 11:23] #6072 closed

[2020-03-30 11:27] MattIPv4 commented on #6254
Hi there,

We are no longer accepting requests for libraries that do not have a way to be automatically updated by our automation.

Our auto-update mechanism requires that either there exists a source repository with versions tagged that contain the required files for the CDN, or a package released on NPM that contains the files needed for the CDN.

You can find out more about our auto-update conf

[2020-03-30 11:27] #6254 closed

[2020-03-30 11:29] MattIPv4 commented on #6458
Hi there,

We are no longer accepting requests for libraries that do not have a way to be automatically updated by our automation.

Our auto-update mechanism requires that either there exists a source repository with versions tagged that contain the required files for the CDN, or a package released on NPM that contains the files needed for the CDN.

You can find out more about our auto-update conf

[2020-03-30 11:29] #6458 closed

[2020-03-30 11:30] MattIPv4 commented on #6646
Dupe #5234

[2020-03-30 11:35] MattIPv4 commented on #6704
Library no longer maintained, closing.

[2020-03-30 11:35] #6704 closed

[2020-03-30 11:36] MattIPv4 commented on #6713
Library seems to have been removed from GitHub, closing.

[2020-03-30 11:36] #6713 closed

[2020-03-30 11:38] MattIPv4 commented on #6714
Hi there!

This library doesn't have enough popularity (like more than 200 stars on GitHub or 800 downloads per month on npm). Please take a look at our [pull request template, essentials checklist](https://github.com/cdnjs/cdnjs/blob/master/PULL_REQUEST_TEMPLATE.md#essential-checklist) for more information regarding this. 📖

Please open an issue again when the library has more popularity, so that

[2020-03-30 11:38] #6714 closed

[2020-03-30 11:46] MattIPv4 commented on #6737
Hi there!

This library doesn't have enough popularity (like more than 200 stars on GitHub or 800 downloads per month on npm). Please take a look at our [pull request template, essentials checklist](https://github.com/cdnjs/cdnjs/blob/master/PULL_REQUEST_TEMPLATE.md#essential-checklist) for more information regarding this. 📖

Please open an issue again when the library has more popularity, so that

[2020-03-30 11:46] #6737 closed

[2020-03-30 11:54] MattIPv4 commented on #7081
Hi there,

We are no longer accepting requests for libraries that do not have a way to be automatically updated by our automation.

Our auto-update mechanism requires that either there exists a source repository with versions tagged that contain the required files for the CDN, or a package released on NPM that contains the files needed for the CDN.

You can find out more about our auto-update conf

[2020-03-30 11:54] #7081 closed

[2020-03-30 12:05] MattIPv4 commented on #7134
Hi there!

This library doesn't have enough popularity (like more than 200 stars on GitHub or 800 downloads per month on npm). Please take a look at our [pull request template, essentials checklist](https://github.com/cdnjs/cdnjs/blob/master/PULL_REQUEST_TEMPLATE.md#essential-checklist) for more information regarding this. 📖

Please open an issue again when the library has more popularity, so that

[2020-03-30 12:05] #7134 closed

[2020-03-30 12:06] MattIPv4 commented on #7155
Library appears to unmaintained, closing.

[2020-03-30 12:06] #7155 closed

[2020-03-30 12:09] MattIPv4 commented on #7187
Hi there!

This library doesn't have enough popularity (like more than 200 stars on GitHub or 800 downloads per month on npm). Please take a look at our [pull request template, essentials checklist](https://github.com/cdnjs/cdnjs/blob/master/PULL_REQUEST_TEMPLATE.md#essential-checklist) for more information regarding this. 📖

Please open an issue again when the library has more popularity, so that