[2017-01-19 21:10] dylans opened #10349 "[Request] Update Dojo versions"
**Library name:** Dojo
**Git repository url:** https://github.com/dojo/dojo https://github.com/dojo/dijit https://github.com/dojo/dojox https://github.com/dojo/themes https://github.com/dojo/util
**npm package url(optional):**
**License(s):** BSD
**Official homepage:** http://dojotoolkit.org/
**Wanna say something? Leave message here:** CDNjs currently only has versions through 1.10.4

The most re

[2017-01-19 21:13] dylans commented on #10213
This will be redundant with #10349 when that is addressed.

[2017-01-19 21:13] dylans commented on #8414
This will be redundant with #10349 when that is addressed.

[2017-01-19 21:23] PeterBot opened #10350 "[Build failed] Got error while building meta data/artifact"
Dear all,

Our build process just got an error while building the meta data/artifact of cdnjs project, our [website and api](https://github.com/cdnjs/new-website) may not be as new as our repository, however, the cdn service will not been affected, you can still use it, and modify the library name, version number and filename in the url can help you access all the content on cdnjs, we will fix the

[2017-01-19 21:41] PeterBot opened #10351 "[Build failed] Got error while building meta data/artifact"
Dear all,

Our build process just got an error while building the meta data/artifact of cdnjs project, our [website and api](https://github.com/cdnjs/new-website) may not be as new as our repository, however, the cdn service will not been affected, you can still use it, and modify the library name, version number and filename in the url can help you access all the content on cdnjs, we will fix the

[2017-01-19 22:02] PeterBot opened #10352 "[Build failed] Got error while building meta data/artifact"
Dear all,

Our build process just got an error while building the meta data/artifact of cdnjs project, our [website and api](https://github.com/cdnjs/new-website) may not be as new as our repository, however, the cdn service will not been affected, you can still use it, and modify the library name, version number and filename in the url can help you access all the content on cdnjs, we will fix the

[2017-01-19 22:21] PeterBot opened #10353 "[Build failed] Got error while building meta data/artifact"
Dear all,

Our build process just got an error while building the meta data/artifact of cdnjs project, our [website and api](https://github.com/cdnjs/new-website) may not be as new as our repository, however, the cdn service will not been affected, you can still use it, and modify the library name, version number and filename in the url can help you access all the content on cdnjs, we will fix the

[2017-01-19 22:39] mariacheline opened #10354 "[Request] Add box2d"
**Library name:** box2d
**Git repository url:**
**npm package url(optional):**
**License(s):**
**Official homepage:**
**Wanna say something? Leave message here:**

=====================
Notes from cdnjs maintainer:
You are welcome to add a library via sending pull request,
it'll be faster then just opening a request issue,
and please don't forget to read the guidelines for contributing, thanks!!

[2017-01-19 22:58] PeterBot opened #10355 "[Build failed] Got error while building meta data/artifact"
Dear all,

Our build process just got an error while building the meta data/artifact of cdnjs project, our [website and api](https://github.com/cdnjs/new-website) may not be as new as our repository, however, the cdn service will not been affected, you can still use it, and modify the library name, version number and filename in the url can help you access all the content on cdnjs, we will fix the

[2017-01-19 23:09] PeterBot opened #10356 "[Build failed] Got error while building meta data/artifact"
Dear all,

Our build process just got an error while building the meta data/artifact of cdnjs project, our [website and api](https://github.com/cdnjs/new-website) may not be as new as our repository, however, the cdn service will not been affected, you can still use it, and modify the library name, version number and filename in the url can help you access all the content on cdnjs, we will fix the

[2017-01-19 23:57] PeterBot opened #10357 "[Build failed] Got error while building meta data/artifact"
Dear all,

Our build process just got an error while building the meta data/artifact of cdnjs project, our [website and api](https://github.com/cdnjs/new-website) may not be as new as our repository, however, the cdn service will not been affected, you can still use it, and modify the library name, version number and filename in the url can help you access all the content on cdnjs, we will fix the

[2017-01-20 00:20] danvk opened #10358 "Update dygraphs to 2.0.0"
A major new version of dygraphs just came out with a different file structure. `ajax/libs/dygraph/package.json` needs to be updated

 I've tried but have had trouble pushing commits to my fork of this repo.

[2017-01-20 00:57] PeterBot opened #10361 "[Build failed] Got error while building meta data/artifact"
Dear all,

Our build process just got an error while building the meta data/artifact of cdnjs project, our [website and api](https://github.com/cdnjs/new-website) may not be as new as our repository, however, the cdn service will not been affected, you can still use it, and modify the library name, version number and filename in the url can help you access all the content on cdnjs, we will fix the

[2017-01-20 01:27] PeterBot opened #10362 "[Build failed] Got error while building meta data/artifact"
Dear all,

Our build process just got an error while building the meta data/artifact of cdnjs project, our [website and api](https://github.com/cdnjs/new-website) may not be as new as our repository, however, the cdn service will not been affected, you can still use it, and modify the library name, version number and filename in the url can help you access all the content on cdnjs, we will fix the

[2017-01-20 02:19] derekbtw opened #10363 "[Request] Add Solid"
**Library name:** Solid
**Git repository url:** https://github.com/buzzfeed/solid.git
**License(s):** MIT
**Official homepage:** http://solid.buzzfeed.com/

=====================
Notes from cdnjs maintainer:
Please read the README.md and CONTRIBUTING.md document first.

You are welcome to add a library via sending pull request,
it'll be faster than just opening a request issue,
and please don't fo

[2017-01-20 03:46] PeterBot opened #10365 "[Build failed] Got error while building meta data/artifact"
Dear all,

Our build process just got an error while building the meta data/artifact of cdnjs project, our [website and api](https://github.com/cdnjs/new-website) may not be as new as our repository, however, the cdn service will not been affected, you can still use it, and modify the library name, version number and filename in the url can help you access all the content on cdnjs, we will fix the

[2017-01-20 04:48] PeterBot opened #10366 "[Build failed] Got error while building meta data/artifact"
Dear all,

Our build process just got an error while building the meta data/artifact of cdnjs project, our [website and api](https://github.com/cdnjs/new-website) may not be as new as our repository, however, the cdn service will not been affected, you can still use it, and modify the library name, version number and filename in the url can help you access all the content on cdnjs, we will fix the

[2017-01-20 04:58] maruilian11 commented on #10363
https://www.npmjs.com/package/bf-solid

[2017-01-20 05:36] #8967 closed

[2017-01-20 05:36] #10347 closed

[2017-01-20 05:36] #10348 closed

[2017-01-20 05:36] #10350 closed

[2017-01-20 05:36] #10351 closed

[2017-01-20 05:36] #10352 closed

[2017-01-20 05:36] #10353 closed

[2017-01-20 05:36] #10355 closed

[2017-01-20 05:36] #10356 closed

[2017-01-20 05:36] #10357 closed

[2017-01-20 05:36] #10361 closed

[2017-01-20 05:36] #10362 closed

[2017-01-20 05:36] #10365 closed

[2017-01-20 05:36] #10366 closed

[2017-01-20 05:37] maruilian11 commented on #10358
hi @danvk, `dist/dygraph.js` need to be built by `scripts/build.sh`, our auto-update bot can't do that automatically. We need to find some ways to solve this problem, maybe open an issue in dygraph first.
Do you need the new version in a hurry? If you are we can manually add `2.0.0` first.

@PeterDaveHello Please take a look.

[2017-01-20 05:51] maruilian11 commented on #10354
Hi @mariacheline ,
Do you mean this lib? https://github.com/erincatto/Box2D
Could you please tell us what files you want to be hosted?
Thanks!

[2017-01-20 06:07] PeterBot opened #10367 "[Build failed] Got error while building meta data/artifact"
Dear all,

Our build process just got an error while building the meta data/artifact of cdnjs project, our [website and api](https://github.com/cdnjs/new-website) may not be as new as our repository, however, the cdn service will not been affected, you can still use it, and modify the library name, version number and filename in the url can help you access all the content on cdnjs, we will fix the

[2017-01-20 06:35] PeterBot opened #10368 "[Build failed] Got error while building meta data/artifact"
Dear all,

Our build process just got an error while building the meta data/artifact of cdnjs project, our [website and api](https://github.com/cdnjs/new-website) may not be as new as our repository, however, the cdn service will not been affected, you can still use it, and modify the library name, version number and filename in the url can help you access all the content on cdnjs, we will fix the

[2017-01-20 07:46] Shrikrishnag opened #10369 "[Request] Add jQuery UI MultiSelect Widget"
**Library name: jQuery UI MultiSelect Widget**
**Git repository url: https://github.com/ehynds/jquery-ui-multiselect-widget/blob/master/src/jquery.multiselect.js**
**npm package url(optional):**
**License(s): GPL-LICENSE and MIT-LICENSE**
**Official homepage: https://github.com/ehynds/jquery-ui-multiselect-widget**
**Wanna say something? Leave message here:**

=====================
Notes from cdnj

[2017-01-20 10:45] #10368 closed

[2017-01-20 10:45] #10367 closed

[2017-01-20 10:55] #9936 closed

[2017-01-20 10:56] #9592 closed

[2017-01-20 10:57] #9759 closed

[2017-01-20 11:04] PeterDaveHello commented on #8414
Since  #10349 has more details, move to  #10349, thanks

[2017-01-20 11:04] #8414 closed

[2017-01-20 11:05] PeterDaveHello commented on #10213
Since there are more details in  #10349, so just moved to  #10349, thanks.

[2017-01-20 11:05] #10213 closed

[2017-01-20 11:07] PeterDaveHello commented on #9200
@pvnr0082t any updates here? Should take more care with the "High Priority" issues.

[2017-01-20 11:16] clairetsai818 commented on #10191
@PeterDaveHello This library has already existed in cdnjs.

[2017-01-20 11:36] PeterDaveHello commented on #10246
Duplicated with #10244

[2017-01-20 11:36] #10246 closed

[2017-01-20 12:13] PeterDaveHello commented on #10191
@p-realinho looks like we have the latest version on CDNJS now, is there anything else we can do?

[2017-01-20 12:30] PeterDaveHello commented on #6312
@NYCJacob list updated!

[2017-01-20 12:39] #10138 closed

[2017-01-20 13:29] danvk commented on #10358
Is it possible to get the built files from npm instead of github? That's what I was hoping to do with this PR.

[2017-01-20 17:20] mikeevstropov commented on #3997
Timeout from Thailand Pattaya
[code]

[2017-01-20 17:43] PeterDaveHello commented on #3997
Hi @mikeevstropov , would you please submit your issue here: https://support.cloudflare.com/requests/new, so that Cloudflare engineer can help you to dig the problem, thanks.

[2017-01-20 18:39] leandrobrunner opened #10376 "[Request] Add jquery-overlap"
**Library name: jquery-overlap**
**Git repository url: https://github.com/leandrobrunner/jquery-overlap.git**
**npm package url(optional):**
**License(s): MIT License (LICENSE)**
**Official homepage: http://leandrobrunner.github.io/jquery-overlap/**
**Wanna say something? Leave message here:**

=====================
Notes from cdnjs maintainer:
Please read the README.md and CONTRIBUTING.md documen

[2017-01-20 19:09] talonbragg commented on #10318
Will you please email the cdn to me at pvpgamecrash@gmail.com

[2017-01-20 19:15] talonbragg opened #10377 "[Request] Custom Markup"
**Library name:CustomMarkup**
**Git repository url: https://github.com/talonbragg/Custom-Markup**
**npm package url(optional):**
**License(s): MIT**
**Official homepage: [Custom Markup](https://custommarkup.ml)**
**Wanna say something? Leave message here: Could you please email me the cdn at pvpgamecrash@gmail.com. Thanks!**

=====================
Notes from cdnjs maintainer:
Please read the READM

[2017-01-20 19:18] NYCJacob commented on #6312
@PeterDaveHello ok I'm on it

[2017-01-20 19:40] PeterDaveHello commented on #6312
@NYCJacob Thanks!

[2017-01-21 03:32] SynamaticsMediaStudio opened #10378 "[Request] Add delay.css"
**Library name:** delay.css
**Git repository url:**https://github.com/SimonFricker/delay.css
**npm package url(optional):**
**License(s):**
**Official homepage:**
**Wanna say something? Leave message here:**

=====================
Notes from cdnjs maintainer:
You are welcome to add a library via sending pull request,
it'll be faster then just opening a request issue,
and please don't forget to rea

[2017-01-21 04:10] pvnr0082t commented on #9200
@PeterDaveHello Okay. There is still no response.

[2017-01-21 04:12] pvnr0082t commented on #10376
Hi @leandrobrunner ,

This library doesn't have enough notable popularity(like more than 100 stars on GitHub or 500 downloads per month on npm). please take a look on our [README.md](https://github.com/cdnjs/cdnjs/blob/master/README.md) for detail, it's always good to read the document before open an issue, I'll respectfully suggest you to open a new issue again when the library has some notable p

[2017-01-21 04:14] pvnr0082t commented on #10377
Hi @talonbragg ,

This library doesn't have enough notable popularity(like more than 100 stars on GitHub or 500 downloads per month on npm). please take a look on our [README.md](https://github.com/cdnjs/cdnjs/blob/master/README.md) for detail, it's always good to read the document before open an issue, I'll respectfully suggest you to open a new issue again when the library has some notable popul

[2017-01-21 04:15] pvnr0082t commented on #10378
Hi @SynamaticsMediaStudio ,

This library doesn't have enough notable popularity(like more than 100 stars on GitHub or 500 downloads per month on npm). please take a look on our [README.md](https://github.com/cdnjs/cdnjs/blob/master/README.md) for detail, it's always good to read the document before open an issue, I'll respectfully suggest you to open a new issue again when the library has some no

[2017-01-21 04:28] pvnr0082t commented on #10265
Duplicated with #7961. I'm going to close this issue. @bartvanhoutte Thanks for your contribution.

[2017-01-21 04:28] #10265 closed

[2017-01-21 04:28] pvnr0082t commented on #10341
Duplicated with #7961. I'm going to close this issue. @jesper-dk Thanks for your contribution.

[2017-01-21 04:28] #10341 closed

[2017-01-21 05:30] PeterDaveHello commented on #9200
@adrien-be do you have any suggestions? Thanks.

[2017-01-21 06:22] clairetsai818 commented on #10212
Hi @zaclummys ,
This library doesn't have enough notable popularity(like more than 100 stars on GitHub or 500 downloads per month on npm). Please take a look on our README.md for detail, it's always good to read the document before open an issue, I'll respectfully suggest you to open a new issue again when the library has some notable popularity.

[2017-01-21 06:28] edisonskiploop opened #10379 "[Request] Add chips-input"
**Library name:** chips-input
**Git repository url: https://github.com/dsouzaedison/chips-input**
**npm package url(optional):**
**License(s):**
**Official homepage:**
**Wanna say something? Leave message here:**

=====================
Notes from cdnjs maintainer:
You are welcome to add a library via sending pull request,
it'll be faster then just opening a request issue,
and please don't forget t

[2017-01-21 06:29] #10379 closed

[2017-01-21 06:31] dsouzaedison opened #10380 "[Request] Add chips-input"
**Library name: chips-input**
**Git repository url: https://github.com/dsouzaedison/chips-input.git**
**npm package url(optional):**
**License(s): MIT License**
**Official homepagehttps://github.com/dsouzaedison/chips-input:**
**Wanna say something? Leave message here:**

=====================
Notes from cdnjs maintainer:
Please read the README.md and CONTRIBUTING.md document first.

You are welco

[2017-01-21 09:36] selfrefactor opened #10381 "[Author] [Request] Rambda"
**Library name: rambda**
**Git repository url: https://github.com/selfrefactor/rambda**
**npm package url(optional): https://www.npmjs.com/package/rambda**
**License(s): no licence**
**Official homepage:**
**Wanna say something?: The file I want to publish on Cdnjs is https://github.com/selfrefactor/rambda/blob/master/webVersion.js
Also if you require licence, I would create one**

===============

[2017-01-21 09:48] maruilian11 commented on #10358
@danvk Yes, it is. We also provide npm package auto-update config. Sorry for not checking the npm package first. I will send the PR to turn to use the npm one.

[2017-01-21 12:47] piecioshka commented on #10252
@kennynaoh ohh!

Sorry for my tardiness in reading README.md file.
Probably my lib never hits 100 stars 😄
But when that happen I will open an issue one more time.

So, I will close PR for this moment.

[2017-01-21 16:25] elhadiahmed commented on #10205
I would like to take this

[2017-01-21 16:31] elhadiahmed commented on #10205
@PeterDaveHello I noticed that this library has non-minified css files, so should I do anything about that before I commit ?

[2017-01-22 01:16] gagern commented on #10337
Please add KaTeX 0.7.1 which has the `dist` folder back again.

[2017-01-22 04:15] AureoleArk opened #10384 "[Request] Add angular-elevatezoom-plus"
**Library name:** angular-elevatezoom-plus
**Git repository url:https://github.com/igorlino/angular-elevatezoom-plus**
**npm package url(optional):https://www.npmjs.com/package/angular-ez-plus**
**License(s):The MIT License (MIT)**
**Official homepage:https://igorlino.github.io/angular-elevatezoom-plus/#/main**
**Wanna say something? Leave message here:plz**

=====================
Notes from cdnjs

[2017-01-22 04:19] pvnr0082t commented on #10337
@gagern Thank you!

[2017-01-22 04:35] pvnr0082t commented on #10380
Hi @dsouzaedison ,

This library doesn't have enough notable popularity(like more than 100 stars on GitHub or 500 downloads per month on npm). please take a look on our [README.md](https://github.com/cdnjs/cdnjs/blob/master/README.md) for detail, it's always good to read the document before open an issue, I'll respectfully suggest you to open a new issue again when the library has some notable pop

[2017-01-22 06:35] helantao opened #10387 "[Request] Add jquery-toast-plugin"
Library name: jquery-toast-plugin
Git repository url: https://github.com/kamranahmedse/jquery-toast-plugin
**npm package url(optional):**
**License(s):**
Official homepage: https://github.com/kamranahmedse/jquery-toast-plugin
**Wanna say something? Leave message here:**

=====================
Notes from cdnjs maintainer:
Please read the README.md and CONTRIBUTING.md document first.

You are welcom

[2017-01-22 07:38] Sultan125 opened #10388 "[Request] web-content"
**Library name: web-content**
**Git repository url: https://github.com/Sultan125/web-content/blob/master/prefixfree.min.js**
**npm package url(optional):**
**License(s):**

**Official homepage:**
**Wanna say something? Leave message here:**

=====================
Notes from cdnjs maintainer:
Please read the README.md and CONTRIBUTING.md document first.

You are welcome to add a library via sending

[2017-01-22 07:41] #10388 closed

[2017-01-22 07:57] sashberd opened #10389 "bootstrap-rtl is not on latest version"
Hey guys,
The latest version of bootstrap-rtl is 3.3.4, however, it is not updated on cdnjs, but the folder is exists.
 For you review
https://github.com/morteza/bootstrap-rtl/tree/master/dist/cdnjs

[2017-01-22 09:26] sashberd commented on #10240
Improved version of above library can be taken from here [https://raw.githubusercontent.com/arkabide/angular-gridster/dynamic-colums/src/angular-gridster.js](url)

[2017-01-22 09:35] SCLeoX opened #10390 "[Request] Add redux-little-router"
**Library name:** redux-little-router
**Git repository url: https://github.com/FormidableLabs/redux-little-router.git**
**npm package url(optional): https://www.npmjs.com/package/redux-little-router**
**License(s): MIT**
**Official homepage: https://github.com/FormidableLabs/redux-little-router**
**For me, it is absolutely better than react-router**

=====================
Notes from cdnjs maintain

[2017-01-22 10:58] PeterDaveHello commented on #10205
@elhadiahmed Thanks!

Please manually minify the css files before commit, btw, we also support commit new library without adding its files, so that you don't need to clone the whole repo but just work on GitHub gui, you just need to remove the "version" info in the package.json and all the other parts are the same.

[2017-01-22 10:59] jlapitan opened #10391 "[Request] Add filter.js"
**Library name Filter.js:**
**Git repository url: https://github.com/jiren/filter.js**

**License(s): MIT license**
**Official homepage:http://jiren.github.io/filter.js/**

=====================
Notes from cdnjs maintainer:
Please read the README.md and CONTRIBUTING.md document first.

You are welcome to add a library via sending pull request,
it'll be faster than just opening a request issue,
and

[2017-01-22 11:03] elhadiahmed commented on #10205
you mean just commit the ajax/lib/iGrowl/package.json after adding the autoupdate part and removing the version ?

[2017-01-22 11:04] PeterDaveHello commented on #10205
@elhadiahmed Totally correct!

[2017-01-22 11:09] elhadiahmed commented on #10205
@PeterDaveHello ok cool

[2017-01-22 11:59] #10088 closed

[2017-01-22 13:21] johnjrmurray opened #10393 "[Request] Add cachet-status"
**Library name:** cachet-status
**Git repository url:** https://github.com/gohiring/cachet-status
**npm package url(optional):**
**License(s):** The MIT License
**Official homepage:** http://www.gohiring.com/cachet-status/
**Wanna say something? Leave message here:**

=====================
Notes from cdnjs maintainer:
You are welcome to add a library via sending pull request,
it'll be faster then

[2017-01-22 14:34] sufuf3 commented on #9775
@ixlipixli , the last tag of this library is v.0.6.2.
where is the v.0.6.3-wip tag?
And we add the last tag of this library is v.0.6.2 which link is https://github.com/cdnjs/cdnjs/tree/master/ajax/libs/superslides
Thank you.

[2017-01-22 15:39] #9631 closed

[2017-01-22 17:10] dsouzaedison commented on #10380
Thanks for the info @pvnr0082t

[2017-01-22 17:11] #10380 closed

[2017-01-22 17:14] engineervix opened #10396 "[Request] Add ionic-filter-bar"
**Library name:** ionic-filter-bar
**Git repository url:** https://github.com/djett41/ionic-filter-bar
**npm package url(optional):**
**License(s):** MIT
**Official homepage:** https://github.com/djett41/ionic-filter-bar

=====================
Notes from cdnjs maintainer:
You are welcome to add a library via sending pull request,
it'll be faster then just opening a request issue,
and please don't

[2017-01-22 18:16] JaoNoctus opened #10397 "[Request] Add vue-select"
**Library name:** vue-select
**Git repository url:** https://github.com/sagalbot/vue-select
**License(s):** MIT
**Official homepage:** http://sagalbot.github.io/vue-select/

[2017-01-22 20:17] extend1994 commented on #9725
Hi @menego, could you please tell me that whether amazon software license is a kind of open source license or give me some suggestion about it?

Thank you :)

[2017-01-22 20:28] extend1994 commented on #9736
Close the issue because the request library has existed in cdnjs.

[2017-01-22 20:28] #9736 closed

[2017-01-22 20:31] extend1994 commented on #9737
Close the issue because the request library does not have notable popularity and there is no response in 7 days.

[2017-01-22 20:31] #9737 closed

[2017-01-22 21:17] PeterDaveHello commented on #10389
@extend1994 let's check if the auto-update config is outdated or something wrong.

[2017-01-22 21:18] PeterDaveHello commented on #9953
Are we done here?

[2017-01-22 21:18] PeterDaveHello commented on #9414
Are we done here?

[2017-01-22 21:21] PeterDaveHello commented on #6269
Hi @KeithBohler, we finally decided to drop that since there are so many libs there and there are so many not really follow the conventions about how to use dependencies, devDependencies, and we don't update dependency info at all, their dependency may even not on CDNJS, due to these reasons, we dropped that, if you do have some specific suggestion, feel free to discuss with us, thanks!

[2017-01-22 21:21] #6269 closed

[2017-01-23 02:26] loommy24 commented on #3997
It's probably good too if you can provide the output of [cdn-cgi trace](https://cdnjs.cloudflare.com/cdn-cgi/trace), thanks.

[2017-01-23 03:27] jast90 opened #10398 "[Request] Add bootstrap-chosen css"
[https://github.com/alxlit/bootstrap-chosen](https://github.com/alxlit/bootstrap-chosen/blob/master/bootstrap-chosen.css)

[2017-01-23 08:24] sunnyworm opened #10399 "[Request] Add broadway"
**Library name:** broadway
**Git repository url:**
  + https://github.com/mbebenita/Broadway/blob/umd/Player/YUVWebGLCanvas.js
  + https://github.com/mbebenita/Broadway/blob/umd/Player/Decoder.js
  + https://github.com/mbebenita/Broadway/blob/umd/Player/Player.js

**npm package url(optional):**
**License(s):** Android project's Apache 2.0 license
**Official homepage:** https://github.com/mbebenita

[2017-01-23 08:28] sunnyworm commented on #10399
Sorry, it's a duplicate request.
https://github.com/cdnjs/cdnjs/issues/5706

[2017-01-23 08:28] #10399 closed

[2017-01-23 09:13] ivanu6kin opened #10400 "[Request] Add ivan_test"
**Library name:** **ivan_test**
**Git repository url:** ivan_test
**npm package url(optional):** ivan_test
**License(s):** free
**Official homepage:**
**Wanna say something? Leave message here:**

=====================
Notes from cdnjs maintainer:
Please read the README.md and CONTRIBUTING.md document first.

You are welcome to add a library via sending pull request,
it'll be faster than just open

[2017-01-23 13:28] trietz opened #10401 "Update pusher.js library to Version 3.2.4"
**Library name: Pusher**
**Git repository url: https://github.com/pusher/pusher-js **
**Official homepage: https://pusher.com/ **

=====================
Notes from cdnjs maintainer:
Please read the README.md and CONTRIBUTING.md document first.

You are welcome to add a library via sending pull request,
it'll be faster than just opening a request issue,
and please don't forget to read the guideline

[2017-01-23 14:00] #10401 closed

[2017-01-23 16:03] Erik-Jonker opened #10403 "[Request] bootstrap-waitingfor"
**Library name: bootstrap-waitingfor**
**Git repository url: https://github.com/ehpc/bootstrap-waitingfor**
**npm package url(optional):**
**License(s): unknown**
**Official homepage: http://bootsnipp.com/snippets/featured/quotwaiting-forquot-modal-dialog**
**Wanna say something? Leave message here:**

=====================
Notes from cdnjs maintainer:
Please read the README.md and CONTRIBUTING.md

[2017-01-23 23:31] daneelrakow commented on #10151
I'd be willing to do this, but there is an issue with the link you've provided for the npm package url. I think you want this:

https://eliortabeka.github.io/tootik/

[2017-01-23 23:39] netdragoon opened #10404 "[Request] Add iziToast"
**Library name: iziToast**
**Git repository url: https://github.com/dolce/iziToast**
**npm package url(optional):**
**License(s):  Apache License**
**Official homepage: http://izitoast.marcelodolce.com/**
**Wanna say something? Leave message here:**

=====================
Notes from cdnjs maintainer:
Please read the README.md and CONTRIBUTING.md document first.

You are welcome to add a library vi

[2017-01-24 01:58] pvnr0082t commented on #10393
Hi @johnjrmurray ,

This library doesn't have enough notable popularity(like more than 100 stars on GitHub or 500 downloads per month on npm). please take a look on our [README.md](https://github.com/cdnjs/cdnjs/blob/master/README.md) for detail, it's always good to read the document before open an issue, I'll respectfully suggest you to open a new issue again when the library has some notable pop

[2017-01-24 02:01] pvnr0082t commented on #10400
@ivanu6kin Could you give more precise detail or url? Thank you.

[2017-01-24 11:17] PeterDaveHello commented on #10151
Hi @daneelrakow, it should be https://www.npmjs.com/package/tootik, thanks!

[2017-01-24 11:35] #10205 closed

[2017-01-24 12:30] bfred-it commented on #9885
This is a 1KB library, do you really want to load this in a separate request?

[2017-01-24 14:43] Thotamounika opened #10407 "[Request] Add _library_name_"

[2017-01-24 15:25] daneelrakow commented on #10151
Yep! I'll pick this one up!

[2017-01-24 19:00] redeventmedia opened #10408 "[Request] Add SyoTimer"
**Library name:** SyoTimer
**Git repository url: https://github.com/mrfratello/SyoTimer
**npm package url(optional):**
**License(s):**
**Official homepage:**
**Wanna say something? Leave message here:**

=====================
Notes from cdnjs maintainer:
You are welcome to add a library via sending pull request,
it'll be faster then just opening a request issue,
and please don't forget to read the

[2017-01-25 08:50] tzofiaCo opened #10411 "[Request] Add jquery.cloudinary"
**Library name:** jquery.cloudinary
**Git repository url:**
**npm package url(optional):**
**License(s):**
**Official homepage:**
**Wanna say something? Leave message here:**

=====================
Notes from cdnjs maintainer:
You are welcome to add a library via sending pull request,
it'll be faster then just opening a request issue,
and please don't forget to read the guidelines for contributing

[2017-01-25 18:30] plxel commented on #10069
+1!

[2017-01-25 23:21] extend1994 commented on #10407
Close the issue cause it's empty.

[2017-01-25 23:21] #10407 closed

[2017-01-25 23:32] extend1994 commented on #10313
Hi,@SayaliGhatge!
Is https://github.com/dtagdev1/json-export-excel what you want to add?

[2017-01-26 02:05] clairetsai818 commented on #10093
Hi @m1reminder
Are there any details about this library?

[2017-01-26 02:31] petrgazarov opened #10420 "Update jQuery.mmenu License"
Reported by Fred Heusschen in gitter chat, this library has recently changed license.

Before: MIT
Now: Creative Commons Attribution-NonCommercial 4.0 International

We need to update the license information in our libs.

See detailed information in the [git repo](https://github.com/FrDH/jQuery.mmenu)

[2017-01-26 05:21] nmccready commented on #10035
Also for some stats. https://npm-stat.com/charts.html?package=angular-simple-logger&from=2016-01-26&to=2017-01-26

[2017-01-26 05:21] nmccready commented on #10035
I'll probably be doing a major merge from a fork soon. Where the version will get bumped to 1.X .

[2017-01-26 08:07] PeterDaveHello commented on #10151
Great, feel free to ask for help when you need it!

[2017-01-26 08:07] PeterDaveHello commented on #10151
cc @cdnjs/intern2

[2017-01-26 11:02] #5706 closed

[2017-01-26 11:09] PeterDaveHello commented on #9736
@extend1994 just reminder, make sure everything especially version, license, homepage info is up-to-date before closing this kind of request :+1:

[2017-01-26 11:15] PeterDaveHello commented on #10252
Hi @piecioshka! I'm the main maintainer of CDNJS, if you can send a pull request to add your this library, I'll be happy to accept that, would you like to give it a try?

[2017-01-26 11:18] PeterDaveHello commented on #10243
LGTM, let's host it!

[2017-01-26 11:27] #10420 closed

[2017-01-26 14:39] zafranf commented on #7348
oh, ok. thank you @kennynaoh :)

[2017-01-26 15:56] strategeens opened #10424 "[Request] Bootstrap-Iconpicker"
**Library name: Bootstrap-Iconpicker
**Git repository url: https://github.com/victor-valencia/bootstrap-iconpicker
**npm package url(optional):**
**License(s): MIT license.
**Official homepage: http://victor-valencia.github.io/bootstrap-iconpicker/
**Wanna say something? Leave message here:**

=====================
Notes from cdnjs maintainer:
Please read the README.md and CONTRIBUTING.md document

[2017-01-26 16:41] hartman opened #10425 "[Request] Add togeojson"
**Library name:** togeojs
**Git repository url:** https://github.com/mapbox/togeojson
**npm package url(optional):**  https://www.npmjs.com/package/togeojson
**License(s):** BSD-2
**Official homepage:** https://mapbox.github.io/togeojson/
**Wanna say something? Leave message here:**

=====================
Notes from cdnjs maintainer:
You are welcome to add a library via sending pull request,
it'll

[2017-01-26 18:16] koltzc opened #10427 "[Request] bootstrap-colorselector"
**Library name: bootstrap-colorselector
**Git repository url: https://github.com/flaute/bootstrap-colorselector
**npm package url(optional):**
**License(s): https://github.com/flaute/bootstrap-colorselector/commit/0b80af75104534b69803d3aabaff19ab2fbf319e
**Official homepage: http://bootstrap-colorselector.flaute.com/
**Wanna say something? Leave message here:**

=====================
Notes from cd

[2017-01-26 19:39] piecioshka commented on #10252
Another PR than this one?

[2017-01-26 19:43] israelinux opened #10430 "[Request] Add Mtn.Library"
**Library name:** Mtn.Library
**Git repository url:** https://github.com/israelinux/mtnlibraryjs
**npm package url(optional):**
**License(s):** MIT
**Official homepage:** https://github.com/israelinux/mtnlibraryjs
**Wanna say something? Leave message here:**

=====================
Notes from cdnjs maintainer:
Please read the README.md document first.

You are welcome to add a library via sending p

[2017-01-26 20:34] PeterDaveHello commented on #10252
@piecioshka correct

[2017-01-27 04:34] JoeDuncko opened #10431 "[Request] Add pug"
**Library name:** pug
**Git repository url:https://pugjs.org/**
**npm package url(optional):**
**License(s):**
**Official homepage:**
**Wanna say something? Leave message here:**

=====================
Notes from cdnjs maintainer:
You are welcome to add a library via sending pull request,
it'll be faster then just opening a request issue,
and please don't forget to read the guidelines for contribu

[2017-01-27 07:10] mattonit opened #10432 "Update MDBootstrap to 4.3.0"
Hello,

We just released MDBootstrap 4.3.0. We'd like to add a new version to cdnjs. Could you please update MDB to 4.3.0?

git repo: https://github.com/mdbootstrap/bootstrap-material-design

[2017-01-27 07:52] spartanier7777 opened #10433 "[Request] jquery.key.js"
**Library name:**
jquery.key.js
**Git repository url:**
https://github.com/yckart/jquery.key.js
**npm package url(optional):**
**License(s):**
Copyright (c) 2012 Yannick Albert

Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without restriction, including without limitation t

[2017-01-27 08:52] piecioshka opened #10434 "[Request] Add super-event-emitter"
**Library name:** super-event-emitter
**Git repository url:** https://github.com/piecioshka/super-event-emitter
**npm package url(optional):** https://www.npmjs.com/package/super-event-emitter
**License(s):** MIT
**Official homepage:** https://github.com/piecioshka/super-event-emitter
**Wanna say something? Leave message here:**

=====================
Notes from cdnjs maintainer:
You are welcome t

[2017-01-27 08:52] piecioshka commented on #10252
@kennynaoh so I will close this PR and open new #10434.

[2017-01-27 10:50] thakurpunk commented on #755
Can anyone please tell me what to do because my custom fonts are not working in FF even on my local html, showing the same error "downloadable font: download failed (font-family: "gotham_lightregular" style:normal weight:normal stretch:normal src index:1): bad URI or cross-site access not allowed source:" I can not even apply .htaccess code here.

[2017-01-27 12:06] LuanComputacao opened #10437 "[Request] OwlCarousel2"
**Library name:** OwlCarousel2
**Git repository url:** https://github.com/OwlCarousel2/OwlCarousel2
**npm package url(optional):** https://www.npmjs.com/package/owl.carousel
**License(s):**
**Official homepage:**
**Wanna say something? Leave message here:**

=====================
Notes from cdnjs maintainer: https://owlcarousel2.github.io/OwlCarousel2/index.html
Please read the README.md and CONTR

[2017-01-27 16:22] kibblewhite opened #10440 "[Request] Add tabulator.js"
**Library name:** tabulator.js
**Git repository url:** http://olifolkerd.github.io/tabulator/
**npm package url(optional):**
**License(s):**
**Official homepage:** http://olifolkerd.github.io/tabulator/
**Wanna say something? Leave message here:**

=====================
Notes from cdnjs maintainer:
You are welcome to add a library via sending pull request,
it'll be faster then just opening a reque

[2017-01-27 17:20] dailos2coders opened #10441 "[Request] Add jquery.cookiebar"
**Library name: jquery.cookiebar**
**Git repository url: https://github.com/missing-code/jquery-cookiebar**
**npm package url(optional): jquery.cookiebar**
**License(s): CC0 1.0 Universal**
**Official homepage: http://www.primebox.co.uk/projects/cookie-bar/**
**Wanna say something? Leave message here:**

=====================
Notes from cdnjs maintainer:
Please read the README.md and CONTRIBUTING.

[2017-01-27 20:18] NYCJacob commented on #6312
@PeterDaveHello I have checked all the links.  Most of them are not longer there but I have emailed the user it most cases.  Some have been renamed but I have email them also just to be sure.  I noticed that there are a couple of urgent flags to update the repo for new versions.  I thought maybe I could take care of that while I wait for these responses.

[2017-01-28 02:15] clairetsai818 commented on #10440
GitHub repo: https://github.com/olifolkerd/tabulator

[2017-01-28 02:43] mandrachek commented on #7501
They don't have a public git repo. It's LGPL, so I suppose someone could take it upon themselves to publish it.

[2017-01-28 04:38] PeterDaveHello commented on #6312
@NYCJacob sounds really great! Thanks for your contribution!

[2017-01-28 04:40] PeterDaveHello commented on #7501
Maybe could asking for publish it officially, it'll be better than published by a someone else.

[2017-01-28 09:00] hare1039 commented on #9841
Hi @dicoy,
We can't host this library since it doesn't have enough notable popularity(100 stars on github / npm 500 downloads per month). If you think we really need to host it, please contact PeterDaveHello, the maintainer of cdnjs.

[2017-01-28 13:24] hare1039 commented on #9883
@pvnr0082t I cannot find this library on neither github nor npm. How can we host this library?

[2017-01-28 13:24] PeterDaveHello commented on #9883
@hare1039 So you should ask if the issuer can provide the details.

[2017-01-28 13:28] hare1039 commented on #9883
@PeterDaveHello Okey.
@PaoloFalomo Can you give us more detail about this library?

[2017-01-28 13:55] hare1039 commented on #9932
@bradgillap Are you looking for this `https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js` ?

[2017-01-28 14:14] NYCJacob commented on #6312
@PeterDaveHello couple of questions,  I have not been able to clone the repo to my machine because of disk space issues.  So I can't run the tests but I hope those are really only for new library additions.  Also, can I do one pull for all the update changes or should I do one pull for each?   Also, for the urgent flags to add a new library, isn't that the job of the library developer?  Sorry, for

[2017-01-28 15:40] GiedriusGrabauskas opened #10447 "Removed"
**Library name:** tslib
**Git repository url:** https://github.com/Microsoft/tslib
**npm package url(optional):** https://www.npmjs.com/package/tslib
**License(s):**Apache-2.0
**Official homepage:**http://www.typescriptlang.org

[2017-01-28 15:41] #10447 closed

[2017-01-29 06:55] ARTWINPRO opened #10456 "[Request] Add _library_name_"
**Library name:**
**Git repository url:**
**npm package url(optional):**
**License(s):**
**Official homepage:**
**Wanna say something? Leave message here:**

=====================
Notes from cdnjs maintainer:
Please read the README.md and CONTRIBUTING.md document first.

You are welcome to add a library via sending pull request,
it'll be faster than just opening a request issue,
and please don't f

[2017-01-29 09:47] clairetsai818 commented on #10047
@kevindb @PeterDaveHello This library is automatically updated to v1.4.1.
https://cdnjs.com/libraries/jquery-easing/1.4.1

[2017-01-29 13:01] hare1039 commented on #9957
Hi @sfacets,
We're sorry that we can't host this library since it doesn't have enough notable popularity(100 stars on github / npm 500 downloads per month). If you think we really need to host it, please contact PeterDaveHello, the maintainer of cdnjs.

[2017-01-29 13:08] hare1039 commented on #9965
Hi @jaffarc,
We're sorry that we can't host this library since it doesn't have enough notable popularity(100 stars on github / npm 500 downloads per month). If you think we really need to host it, please contact PeterDaveHello, the maintainer of cdnjs.

[2017-01-29 13:20] hare1039 commented on #10437
@LuanComputacao Are you looking for this [library](https://cdnjs.com/libraries/OwlCarousel2) `https://cdnjs.com/libraries/OwlCarousel2` ?

[2017-01-29 14:57] #9663 closed

[2017-01-29 14:58] PeterDaveHello commented on #9885
@bfred-it I think it's cool since we support http/2.0 and spdy 😄

[2017-01-29 14:58] #9885 closed

[2017-01-29 15:01] maruilian11 commented on #10456
close the empty issue.

[2017-01-29 15:01] #10456 closed

[2017-01-29 15:09] #10079 closed

[2017-01-29 15:36] PeterDaveHello opened #10459 "[Request] Add BitSet.js"
**Library name:** BitSet.js
**Git repository url:** https://github.com/infusion/BitSet.js
**npm package url(optional):**  https://npmjs.org/package/bitset.js
**License(s):** MIT

For beginners who is interested in picking up this issue:

In this issue, we are going to host a new web front-end library on CDNJS, so that web developer can easily use it on our free CDN without additional download/uplo

[2017-01-29 15:40] PeterDaveHello opened #10460 "[Request] Add jQuery-Paging"
**Library name:** jQuery-Paging
**Git repository url:** https://github.com/infusion/jQuery-Paging
**License(s):** MIT, GPL-2.0

For beginners who is interested in picking up this issue:

In this issue, we are going to host a new web front-end library on CDNJS, so that web developer can easily use it on our free CDN without additional download/upload process 🚀 .

If you'll like to work locally, I'l

[2017-01-29 15:41] PeterDaveHello opened #10461 "[Request] Add jQuery-webcam"
**Library name:** jQuery-webcam
**Git repository url:** https://github.com/infusion/jQuery-webcam
**License(s):** MIT, GPL-2.0

[2017-01-29 16:50] PeterDaveHello commented on #10047
v1.4.1 added in https://github.com/cdnjs/cdnjs/commit/8c7938a8ad7d44e80f41ccb842a550a04b74752e#diff-e9ebd8c2a7999178d50a816bfda89eb6, closing now.

[2017-01-29 16:50] #10047 closed

[2017-01-29 16:51] PeterDaveHello commented on #10252
@piecioshka it doesn't matter at all, but no worry, we'll wait for your PR, since we have discussion here, I'll like to keep this old one but close the new one.

[2017-01-29 16:51] PeterDaveHello commented on #10434
move to #10252

[2017-01-29 16:51] #10434 closed

[2017-01-29 17:19] #10391 closed

[2017-01-29 17:21] #10143 closed

[2017-01-29 17:28] #10035 closed

[2017-01-29 18:08] sufuf3 commented on #9983
The library moved to https://github.com/d3/d3-sankey! ( https://github.com/d3/d3-plugins/blob/master/sankey/README.md )
So named the library to d3-sankey.

[2017-01-29 21:00] amitguptagwl opened #10463 "[Request] Add Fast XML Parser"
**Library name:** Fast XML Parser
**Git repository url:** https://github.com/NaturalIntelligence/fast-xml-parser
**npm package url(optional):** https://www.npmjs.com/package/fast-xml-parser
**License(s):** MIT
**Official homepage:**
**Wanna say something? Leave message here:**

=====================
Notes from cdnjs maintainer:
Please read the README.md and CONTRIBUTING.md document first.

You are

[2017-01-29 22:11] PaoloFalomo commented on #9883
Hi @hare1039 ,

sure:
## jQuery Image and Video Gallery Plugin

- Fully responsive and supports desktop, iPhone, iPad, Andorid and all modern web browsers.
- A perfect combination of HTML5, CSS3, Flash and jQuery, easy to install and easy to configure
- The first Gallery that supports images, YouTube, Vimeo, mp4, m4v, flv, ogg, ogv and webm videos in one gallery and works on mobile, tablets and al

[2017-01-30 07:30] PeterDaveHello commented on #9883
So what's its license for non-comercial usage?

[2017-01-30 07:37] PeterDaveHello commented on #10431
Duplicated with #10060

[2017-01-30 07:37] #10431 closed

[2017-01-30 08:05] sashberd commented on #10035
@PeterDaveHello When I click on angular simple logger link after search it is not redirects to it

[2017-01-30 08:27] PeterDaveHello commented on #10035
@sashberd hmmm ... interesteing, thanks for your report, I'll fix it

[2017-01-30 08:37] frankyso opened #10471 "[Request] Add mateagar/progressStep"
**Library name:progressStep**
**Git repository url: https://github.com/mateagar/progressStep**
**npm package url(optional):**
**License(s):**
**Official homepage:**
**Wanna say something? Leave message here:**

=====================
Notes from cdnjs maintainer:
Please read the README.md and CONTRIBUTING.md document first.

You are welcome to add a library via sending pull request,
it'll be faster

[2017-01-30 09:36] clairetsai818 commented on #10463
Hi @amitguptagwl!
This library doesn't have enough popularity which is more than 100 stars on GitHub or 500 downloads per month on npm.

[2017-01-30 10:01] piecioshka commented on #10252
@PeterDaveHello oh. My fault. I didn't see difference between them. Now I'm clear.

But I have problem with clone cdnjs repository. I didn't have space on my device.
Currently, directory wth project has size about 50GB.

Sorry, but I can't make Pull Request with my lib 😞

[2017-01-30 10:02] PeterDaveHello commented on #10252
@piecioshka I guess you didn't read the doc about "sparseCheckout", it'll only use about 3GB on your disk

[2017-01-30 10:22] Revanth47 commented on #10460
Can I take up this issue? @PeterDaveHello

[2017-01-30 10:22] PeterDaveHello commented on #10460
@Revanth47 Sure! Welcome join!

[2017-01-30 11:47] sashberd commented on #10035
@PeterDaveHello Thanks

[2017-01-30 13:21] kevindb commented on #10047
Thank you, all!

[2017-01-30 13:38] hare1039 commented on #9870
Hi @PedroFelipe,
This library seems not used as a front-end library. Can you tell us how you want to use the library?

[2017-01-30 13:59] krishna8723 opened #10473 "[Request] Add formValidation.min.css"
**Library name:** formValidation.min.css
**Git repository url:**
**npm package url(optional):**
**License(s):**
**Official homepage:**
**Wanna say something? Leave message here:**

=====================
Notes from cdnjs maintainer:
You are welcome to add a library via sending pull request,
it'll be faster then just opening a request issue,
and please don't forget to read the guidelines for contrib

[2017-01-30 14:19] mallchel opened #10474 "[Request] Add chartsjs-plugin-data-labels"
**Library name:** chartsjs-plugin-data-labels
**Git repository url:** https://github.com/garipov/chartsjs-plugin-data-labels
**npm package url(optional):** https://www.npmjs.com/package/chartsjs-plugin-data-labels
**License(s):**
**Official homepage:**
**Wanna say something? Leave message here:**

=====================
Notes from cdnjs maintainer:
You are welcome to add a library via sending pull

[2017-01-30 14:29] mattonit commented on #10432
MDB 4.3.0 is on CDNJS now, but could you add two missing files? They're located in img/svg directory

[2017-01-30 14:29] hare1039 commented on #10334
Hi @nermion,
Is this library work as a front end library?
Would you like to give us more information about this library?

[2017-01-30 19:01] pkarc opened #10475 "[Request] Add pdfkit"
**Library name:** pdfkit
**Git repository url:** https://github.com/devongovett/pdfkit
**npm package url(optional):** pdfkit
**License(s):** MIT
**Official homepage:** http://pdfkit.org/
**Wanna say something? Leave message here:**

=====================
Notes from cdnjs maintainer:
You are welcome to add a library via sending pull request,
it'll be faster then just opening a request issue,
and pl

[2017-01-30 23:09] JoshChris opened #10476 "FitVids script does not match vendor's version"
Hello,
Just informing you that the fitvids script is missing the ignore functionality that the vendor version has. The versions numbers are the same, but that part of the script is missing on the CDNJS version. If that could be updated, that would be awesome.

Thanks,
Josh

[2017-01-31 00:07] wannaco opened #10477 "[Request] validate.js"
**Library name:**
validate.js
**Git repository url:**
https://github.com/rickharrison/validate.js
**npm package url(optional):**
**License(s):**
MIT License
**Official homepage:**
http://rickharrison.github.io/validate.js/
**Wanna say something? Leave message here:**
Please add it soon :)
=====================
Notes from cdnjs maintainer:
Please read the README.md and CONTRIBUTING.md document firs

[2017-01-31 00:54] PeterDaveHello commented on #10432
@mattonit Thanks for your suggestion

[2017-01-31 04:08] pokamiami opened #10478 "[Request] Library name: Heapbox"
Git repository url: https://github.com/FilipBartos/heapbox
npm package url(optional):
License(s):
Official homepage:

[2017-01-31 04:11] pokamiami opened #10479 "[Request] Library name: jQuery Hover Delay"
Git repository url: https://github.com/john-terenzio/jQuery-Hover-Delay
npm package url(optional):
License(s):
Official homepage:

[2017-01-31 04:13] pokamiami opened #10480 "[Request] Library name: wz tooltip"
Git repository url: https://github.com/Akor/wz_tooltip
npm package url(optional):
License(s):
Official homepage:

[2017-01-31 04:16] #10480 closed

[2017-01-31 04:17] #10479 closed

[2017-01-31 04:17] #10478 closed

[2017-01-31 04:18] pokamiami opened #10481 "[Request] Heapbox"
Library name: Heapbox
Git repository url: https://github.com/FilipBartos/heapbox
npm package url(optional):
License(s):
Official homepage:

[2017-01-31 04:19] pokamiami opened #10482 "[Request] Add jQuery Hover Delay"
Library name: jQuery Hover Delay
Git repository url: https://github.com/john-terenzio/jQuery-Hover-Delay
npm package url(optional):
License(s):
Official homepage:

[2017-01-31 04:20] pokamiami opened #10483 "[Request] Add wz tooltip"
Library name: wz tooltip
Git repository url: https://github.com/Akor/wz_tooltip
npm package url(optional):
License(s):
Official homepage:

[2017-01-31 07:17] #10098 closed

[2017-01-31 07:18] PeterDaveHello commented on #10440
Duplicated with #10440

[2017-01-31 07:18] #10440 closed

[2017-01-31 07:28] #9938 closed

[2017-01-31 07:58] #10369 closed

[2017-01-31 15:13] hare1039 commented on #10322
Hi @DaniNitro,
Could you provide more information (e.g. github / npm links) about this library ? Thank you.

[2017-01-31 15:51] hare1039 commented on #10318
Hi @ talonbragg,
We're sorry that we can't host this library since it doesn't have enough notable popularity(100 stars on github / npm 500 downloads per month). If you think we really need to host it, please contact PeterDaveHello, the maintainer of cdnjs.

[2017-01-31 16:16] sufuf3 commented on #10411
Hi @tzofiaCo  ,
Do you mean this lib? https://github.com/cloudinary/pkg-cloudinary-jquery
(npm package: https://www.npmjs.com/package/cloudinary-jquery)

Please tell us what files that you want to be hosted?
Thanks!

[2017-01-31 17:35] gokulsiva opened #10488 "http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js library doesn't loads"
I used this as <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script> and deployed it in a free online server without any issue. But github page is not loading it.

[2017-01-31 19:29] moappi opened #10489 "[Request] [author] Add jquery.json2html"
jquery.json2html
https://github.com/moappi/jquery.json2html
**npm package url(optional):**
MIT License
http://json2html.com
Oops forgot to include the jquery plugin in my original json2html request; since this is how most users access json2html

=====================
Notes from cdnjs maintainer:
Please read the README.md and CONTRIBUTING.md document first.

You are welcome to add a library via sen

[2017-02-01 01:09] mametora opened #10490 "[Request] Add mikanjs"
**Library name:** mikanjs
**Git repository url:** https://github.com/trkbt10/mikan.js.git
**npm package url(optional):** https://www.npmjs.com/package/mikanjs

[2017-02-01 01:41] ye0jun opened #10491 "[Request] Add videojs-ima"
**Library name: videojs-ima**
**Git repository url: https://github.com/googleads/videojs-ima**
**npm package url(optional): https://www.npmjs.com/package/videojs-ima**
**License(s): Apache-2.0**
**Official homepage: https://github.com/googleads/videojs-ima**
**Wanna say something? Leave message here: PLEASE..**

=====================
Notes from cdnjs maintainer:
Please read the README.md and CONTR

[2017-02-01 04:32] talonbragg opened #10492 "[Request] Custom Markup"
**Library name: Custom Markup**
**Git repository url:[Here](https://github.com/talonbragg/Custom-Markup)**
**npm package url(optional): [Here](https://npmjs.org/package/custommarkup)**
**License(s): MIT**
**Official homepage: [Custom Markup](https://custommarkup.ml)**
**Wanna say something? Leave message here:**
Would you please email the cdn to: pvpgamecrash@gmail.com
=====================
Notes

[2017-02-01 05:10] BlazingFire007 opened #10493 "[Request] Add p5.collide2d"
**Library name:** p5.collide2d
**Git repository url:** https://github.com/bmoren/p5.collide2D
**npm package url(optional):**
**License(s):** GNU LGPL 2.1 License
**Official homepage:** https://github.com/bmoren/p5.collide2D
**Wanna say something? Leave message here:**

=====================
Notes from cdnjs maintainer:
You are welcome to add a library via sending pull request,
it'll be faster then

[2017-02-01 10:01] divyamayurmohite opened #10494 "[Request] Add ScrollToFixed"
**Library name:** ScrollToFixed
**Git repository url:** https://github.com/bigspotteddog/ScrollToFixed
**npm package url(optional):** https://www.npmjs.com/package/scrolltofixed
**License(s):** MIT
**Official homepage:** http://bigspotteddog.github.io/ScrollToFixed/
**Wanna say something? Leave message here:**

=====================
Notes from cdnjs maintainer:
You are welcome to add a library via

[2017-02-01 10:13] thhepp opened #10495 "[Request] Add asmCrypto"
**Library name:** asmCrypto
**Git repository url:** https://github.com/vibornoff/asmcrypto.js
**npm package url(optional):**  https://www.npmjs.com/package/asmcrypto.js
**License(s):** MIT https://github.com/vibornoff/asmcrypto.js/blob/master/LICENSE
**Official homepage:** https://github.com/vibornoff/asmcrypto.js
**Wanna say something? Leave message here:**

JavaScript implementation of popular c

[2017-02-01 10:36] hare1039 commented on #10381
Hi @selfrefactor,
Does `webVersion.js` depends on other `.js` in the repository?
And a license will be appreciated.
Thank you.

[2017-02-01 12:24] martinzuern commented on #10255
Sure.

[2017-02-01 12:47] selfrefactor commented on #10381
Hi @hare1039
webVersion.js is bundled and ready to use. It doesn't depend on other packages.

As for licence- I guess MIT should be fine.

Thank you for the fast response on my request.

[2017-02-01 13:56] clairetsai818 commented on #10403
@PeterDaveHello this issue is duplicate with #9899, should we close it?

[2017-02-01 13:58] PeterDaveHello commented on #10403
@clairetsai818 in most cases, yes, but looks like there is no activity there yet, and the library info is lack there, so maybe we can close that but preserve this one.

[2017-02-01 13:58] PeterDaveHello commented on #10403
@hare1039 you should confirm if there is duplicated issue/PR before start working next time.

[2017-02-01 13:59] PeterDaveHello commented on #9899
Move to #10403

[2017-02-01 13:59] #9899 closed

[2017-02-01 14:00] clairetsai818 commented on #10489
Duplicate with #10292

[2017-02-01 14:24] clairetsai818 commented on #10490
Hi @mametora !
This library doesn't have enough popularity (like more than 100 stars on GitHub or 500 downloads per month on npm). Please take a look at our [README.md] (https://github.com/cdnjs/cdnjs/blob/master/README.md)

[2017-02-01 14:35] PeterDaveHello opened #10497 "[Request] Add jimp"
**Library name:** jimp
**Git repository url:** https://github.com/oliver-moran/jimp
**npm package url(optional):** http://npmjs.com/package/jimp
**License(s):** MIT

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/41550921-request-add-jimp?utm_campaign=plugin&utm_content=tracker%2F32893&utm_medium=issues&utm_source=github)** We accep

[2017-02-01 14:39] PeterDaveHello commented on #10216
Close due to no response.

[2017-02-01 14:39] #10216 closed

[2017-02-01 14:42] PeterDaveHello commented on #10489
Let's move to #10292

[2017-02-01 14:42] PeterDaveHello commented on #10488
@gokulsiva you should use `https://`

[2017-02-01 14:42] #10488 closed

[2017-02-01 14:43] PeterDaveHello opened #10498 "[Request] Add hyperapp"
**Library name:** hyperapp
**Git repository url:** https://github.com/hyperapp/hyperapp
**npm package url(optional):** npmjs.com/package/hyperapp
**License(s):** MIT

For beginners who is interested in picking up this issue:

In this issue, we are going to host a new web front-end library on CDNJS, so that web developer can easily use it on our free CDN without additional download/upload process 🚀

[2017-02-01 14:47] PeterDaveHello opened #10499 "[Request] Add qart.js"
**Library name:** qart.js
**Git repository url:** https://github.com/kciter/qart.js
**npm package url(optional):**  https://npmjs.com/package/qartjs
**License(s):** GPL-3.0
**Official homepage:** https://kciter.github.io/qart.js/
**Wanna say something? Leave message here:**

For beginners who is interested in picking up this issue:

In this issue, we are going to host a new web front-end library o

[2017-02-01 14:48] LukeMadhanga opened #10500 "[Request] Add sumoselect"
**Library name:** sumoselect
**Git repository url:** https://github.com/HemantNegi/jquery.sumoselect
**npm package url(optional):**
**License(s):**
**Official homepage:** http://hemantnegi.github.io/jquery.sumoselect/sumoselect_demo.html
**Wanna say something? Leave message here:**

=====================
Notes from cdnjs maintainer:
You are welcome to add a library via sending pull request,
it'll

[2017-02-01 14:50] hare1039 commented on #10492
Hi @talonbragg,
We're sorry that we can't host this library since it doesn't have enough notable popularity(100 stars on github / npm 500 downloads per month). If you think we really need to host it, please contact PeterDaveHello, the maintainer of cdnjs.

[2017-02-01 14:50] PeterDaveHello opened #10501 "[Request] Add react-chartjs-2"
**Library name:** react-chartjs-2
**Git repository url:** https://github.com/gor181/react-chartjs-2
**npm package url(optional):** https://www.npmjs.com/package/react-chartjs-2
**License(s):** MIT
**Official homepage:** https://gor181.github.io/react-chartjs-2/

For beginners who is interested in picking up this issue:

In this issue, we are going to host a new web front-end library on CDNJS, so t

[2017-02-01 14:52] PeterDaveHello opened #10502 "[Request] Add string-fn"
**Library name:** string-fn
**Git repository url:** https://github.com/selfrefactor/string-fn
**npm package url(optional):** https://www.npmjs.com/package/string-fn
**License(s):** ISC

[2017-02-01 14:52] hare1039 commented on #10493
Hi @BlazingFire007,
We're sorry that we can't host this library since it doesn't have enough notable popularity(100 stars on github / npm 500 downloads per month). If you think we really need to host it, please contact PeterDaveHello, the maintainer of cdnjs.

[2017-02-01 14:53] clairetsai818 commented on #10500
@LukeMadhanga this issue is duplicate with #8169, let's move there.
cc @PeterDaveHello

[2017-02-01 14:53] #10500 closed

[2017-02-01 14:54] clairetsai818 commented on #10494
@divyamayurmohite Do you mean this?
https://github.com/bigspotteddog/ScrollToFixed

[2017-02-01 14:57] divyamayurmohite commented on #10494
@clairetsai818
Yes this one https://github.com/bigspotteddog/ScrollToFixed

[2017-02-01 15:04] LuanComputacao commented on #10437
Oh yeah! Tks!

[2017-02-01 15:07] sufuf3 commented on #10489
@moappi  would you like to send a PR to add it?

[2017-02-01 15:20] randarp opened #10503 "[Request] Add vue-color"
**Library name:** vue-color
**Git repository url:** http://xiaokaike.github.io/vue-color/
**npm package url(optional):** https://www.npmjs.com/package/vue-color
**License(s):** MIT
**Official homepage:** http://xiaokaike.github.io/vue-color/

[2017-02-01 15:37] hare1039 commented on #10437
@PeterDaveHello Shall we close this issue?

[2017-02-01 15:38] PeterDaveHello commented on #10437
@hare1039 Confirm that we have the latest version, then you can close it.

[2017-02-01 15:44] #10437 closed

[2017-02-01 16:04] PeterDaveHello commented on #10437
@hare1039 please provide the reason why you close it next time.

[2017-02-01 16:11] gokulsiva commented on #10488
Thanks dave. It works like charm.

[2017-02-01 16:12] PeterDaveHello commented on #10488
@gokulsiva You're welcome

[2017-02-01 16:34] gokulsiva commented on #10488
But I have a question other servers parses http:// why didn't it work in github.

[2017-02-01 16:37] monfera opened #10505 "[Request] Add scijs/ndarray"
**Library name:** ndarray
**Git repository url:** https://github.com/scijs/ndarray
**npm package url(optional):** https://www.npmjs.com/package/ndarray
**License(s):** MIT
**Official homepage:** http://scijs.net/packages/
**Wanna say something? Leave message here:**

=====================
Notes from cdnjs maintainer:
Please read the README.md and CONTRIBUTING.md document first.

You are welcome to

[2017-02-01 18:32] PeterDaveHello commented on #10488
Search: https mixed content

[2017-02-01 18:33] PeterDaveHello commented on #8169
@clairetsai818 let's just host it by using its tag as its version.

[2017-02-01 20:30] #9773 closed

[2017-02-02 01:54] hare1039 commented on #10381
Hi @selfrefactor
From `0.1.0` to `0.3.1`, `webVersion.js` doesn't exist. At this case, what file should we host?

[2017-02-02 02:02] hare1039 commented on #10473
@krishna8723 Did you mean this library? `https://github.com/formvalidation/formvalidation`

[2017-02-02 02:19] clairetsai818 commented on #9858
@Flarp  I recommend you to open a new issue when this library has more popularity. Thanks for your contribution!
cc @PeterDaveHello

[2017-02-02 02:19] #9858 closed

[2017-02-02 02:22] clairetsai818 commented on #10093
@m1reminder Do you mean this?
https://github.com/zohararad/rtlit

[2017-02-02 09:57] selfrefactor commented on #10381
webVersion.js came later as idea, so that is why it is not in prior to 0.3.1 versions. There is no file that can substitute webVersion.js for earlier versions.

[2017-02-02 10:15] #10297 closed

[2017-02-02 10:19] PeterDaveHello opened #10507 "[Request] Add iNotify"
**Library name:** iNotify
**Git repository url:** https://github.com/jaywcjlove/iNotify
**npm package url(optional):** title-notify
**License(s):** MIT
**Official homepage:** https://jaywcjlove.github.io/iNotify/

[2017-02-02 10:31] alvarotrigo opened #10508 "Add new file in fullPage.js"
There's a new file in fullPage.js requried in some sittutations.
[Some users](https://github.com/alvarotrigo/fullPage.js/issues/2535) are requesting to have it in CDN.

The file is the following:
[jquery.fullpage.extensions.min.js](https://github.com/alvarotrigo/fullPage.js/blob/master/dist/jquery.fullpage.extensions.min.js)

Let me know if I can help somehow or add it myself.

[2017-02-02 10:38] hare1039 commented on #10381
@selfrefactor So we don't need to host `0.1.0` to `0.3.1`?
@pvnr0082t Can we host only portions of library versions?

[2017-02-02 10:50] selfrefactor commented on #10381
@hare1039 If I could choose, I would host only the latest version, as there was some bugs in the previous ones.

[2017-02-02 11:06] hare1039 commented on #10381
@selfrefactor Thank you for your suggestion.
But the cdnjs-bot fetches files according to tags of the source, I don't think we can host only the latest version.

Let me confirm with the seniors here.

[2017-02-02 11:40] PeterDaveHello opened #10509 "[Request] Add gotem"
**Library name:** gotem
**Git repository url:** https://github.com/callmecavs/gotem
**npm package url(optional):** https://www.npmjs.com/package/gotem
**License(s):** MIT

[2017-02-02 12:09] PeterDaveHello commented on #9280
Ping @x09326

[2017-02-02 12:20] hare1039 commented on #10493
Feel free to show some other references if you have something else want to discuss with us. If there is no response in next 7 days, this issue will be closed.

Thanks for being interested in CDNJS.

[2017-02-02 12:23] hare1039 commented on #10492
Feel free to show some other references if you want to discuss more with us. If there is no response in next 7 days, this issue will be closed.

Thanks for being interested in CDNJS.

[2017-02-02 12:23] PeterDaveHello opened #10510 "[Request] Add css-sans"
**Library name:** css-sans
**Git repository url:** https://github.com/yusugomori/csssans/
**License(s):** MIT
**Official homepage:** https://yusugomori.com/projects/css-sans/

Ref:
https://yusugomori.com/downloads/css-sans-1.0.0.css
https://yusugomori.com/downloads/css-sans-fontkit-1.0.0.zip

[2017-02-02 12:27] hare1039 commented on #9965
Feel free to show some other references if you want to discuss more with us. If there is no response in next 7 days, this issue will be closed.

Thanks for being interested in CDNJS.

[2017-02-02 12:27] hare1039 commented on #9957
Feel free to show some other references if you want to discuss more with us. If there is no response in next 7 days, this issue will be closed.

Thanks for being interested in CDNJS.

[2017-02-02 12:29] hare1039 commented on #9841
Feel free to show some other references if you want to discuss more with us. If there is no response in next 7 days, this issue will be closed.

Thanks for being interested in CDNJS.

[2017-02-02 12:30] PeterDaveHello opened #10511 "[Request] Add matterjs"
**Library name:** matterjs
**Git repository url:** https://github.com/stevenmiller888/matter/
**npm package url(optional):** https://www.npmjs.com/package/matterjs
**License(s):** MIT
**Official homepage:** https://stevenmiller888.github.io/matter/

For beginners who is interested in picking up this issue:

In this issue, we are going to host a new web front-end library on CDNJS, so that web devel

[2017-02-02 12:57] Rmfordev opened #10512 "[Request] Add _library_name_"
**Library name:**
**Git repository url:**
**npm package url(optional):**
**License(s):**
**Official homepage:**
**Wanna say something? Leave message here:**

=====================
Notes from cdnjs maintainer:
Please read the README.md and CONTRIBUTING.md document first.

You are welcome to add a library via sending pull request,
it'll be faster than just opening a request issue,
and please don't f

[2017-02-02 12:58] #10512 closed

[2017-02-02 12:58] hare1039 commented on #10223
duplicate with #10046

[2017-02-02 13:07] hare1039 commented on #10223
duplicate with #10046 , @PeterDaveHello

[2017-02-02 13:24] hare1039 commented on #10228
Hi @dushyantbangal,
It seems this library isn't a client-side library. Would you like to give us more detail about the file you want to host?
Thank you.

[2017-02-02 15:25] vancepym opened #10514 "[Request] Add mui"
**Library name:** mui
**Git repository url:** https://github.com/dcloudio/mui
**npm package url(optional):**
**License(s):** MIT
**Official homepage:** http://dev.dcloud.net.cn/mui
**Wanna say something? Leave message here:**

=====================
Notes from cdnjs maintainer:
You are welcome to add a library via sending pull request,
it'll be faster then just opening a request issue,
and please d

[2017-02-02 16:34] #10403 closed

[2017-02-02 16:42] #10329 closed

[2017-02-02 16:48] PeterDaveHello commented on #10223
@hare1039 you should 1) confirm that we already had the latest version, 2) confirm with the issuer he/she is satisfied with it before close it.

[2017-02-02 17:03] hare1039 commented on #10223
@PeterDaveHello Got it.
@helantao Is there anything we should improve?

[2017-02-02 17:55] #9928 closed

[2017-02-02 21:35] davidweisss opened #10517 "[Request] Add request-promise"
**Library name:** request-promise
**Git repository url:** https://github.com/request/request-promise
**npm package url(optional):** https://www.npmjs.com/package/request-promise
**License(s):**
**Official homepage:**
**Wanna say something? Leave message here:**

=====================
Notes from cdnjs maintainer:
You are welcome to add a library via sending pull request,
it'll be faster then just o

[2017-02-02 22:48] PeterDaveHello opened #10518 "[Request] Add scrolldir"
**Library name:** scrolldir
**Git repository url:** https://github.com/dollarshaveclub/scrolldir
**npm package url(optional):** https://www.npmjs.com/package/scrolldir
**License(s):** MIT
**Official homepage:** https://dollarshaveclub.github.io/scrolldir/

For beginners who is interested in picking up this issue:

In this issue, we are going to host a new web front-end library on CDNJS, so that we

[2017-02-02 23:03] talonbragg opened #10519 "[Request] Add Custom Markup"
**Library name:** **Git repository url: [here](https://github.com/talonbragg/Custom-Markup)**
**npm package url(optional): https://npmjs.org/package/custommarkup**
**License(s): MIT**
**Official homepage: https://custommarkup.ml**
**Wanna say something? Leave message here:**
Hi thanks, if I  get the cdn please email it to me here pvpgamecrash@gmail.com
=====================
Notes from cdnjs mainta

[2017-02-03 09:18] extend1994 commented on #10179
The library's popularities are listed below.
 * GitHub popularity:
   - Count of watchers: 6
   - Count of stars: 59
   - Count of forks: 16
 * NPM download stats:
   - Downloads in the last day: 7
   - Downloads in the last week: 65
   - Downloads in the last month: 296
@PeterDaveHello Should we add this library?

[2017-02-03 09:23] extend1994 commented on #9719
For the dual licenses, is
`"license": [
  "MIT",
  "GPL"
],`
in  `package.json` correct?

[2017-02-03 09:38] hare1039 commented on #10519
duplicate #10492, #10377, #10318.

[2017-02-03 11:02] jbucaran opened #10524 "[Request] Add HyperApp"
Library name: **HyperApp**
Git repository url: https://github.com/hyperapp/hyperapp
npm package url: https://www.npmjs.com/package/hyperapp
License(s): **MIT**
Official homepage: https://github.com/hyperapp/hyperapp
Wanna say something? **Hi!**
As requested by @happierall in https://github.com/hyperapp/hyperapp/issues/15 🎉

Can you offer guidance on how to submit HyperApp correctly?

[2017-02-03 12:07] rsvaz83 opened #10526 "[Request] Add CDN FTV"
**Library name:**
**Git repository url:**
**npm package url(optional):**
**License(s):**
**Official homepage:**
**Wanna say something? Leave message here:**

=====================
Notes from cdnjs maintainer:
Please read the README.md and CONTRIBUTING.md document first.

You are welcome to add a library via sending pull request,
it'll be faster than just opening a request issue,
and please don't f

[2017-02-03 15:29] programmer5000-com opened #10527 "[Request] Add JsToUseful"
# jsToUseful
### https://github.com/programmer5000-com/JsToUseful
### GNU GPL v3
JsToUseful is a small (298 bytes minified) library for stringifying data in a more useful way. [See the readme](https://github.com/programmer5000-com/JsToUseful/) for more info.

[2017-02-03 16:39] sergey-sedoy opened #10528 "[Request] Add Flowplayer"
Flowplayer
https://github.com/flowplayer/flowplayer
-
https://github.com/flowplayer/flowplayer/blob/master/LICENSE.md
https://flowplayer.org/

[2017-02-03 16:45] sergey-sedoy opened #10529 "[Request] Update js-cookie"
js-cookie
https://github.com/js-cookie/js-cookie
-
https://github.com/js-cookie/js-cookie/blob/master/MIT-LICENSE.txt

[2017-02-03 16:47] #10529 closed

[2017-02-03 17:15] PeterDaveHello commented on #10179
Yes, let's do it.

[2017-02-03 19:07] talonbragg commented on #10492
So um... @hare1039 We have 494 downloads, we will be reaching 500 very soon, so could you please be in touch with me. We are very close and are looking forward to this.

[2017-02-03 20:08] PeterDaveHello commented on #10492
@talonbragg sounds reasonable, no worry

[2017-02-03 20:12] carlosrdv opened #10530 "[Request] Sudo Slider jQuery Plugin"
**Library name:**
Sudo Slider jQuery Plugin

**Git repository url:**
https://github.com/webbiesdk/SudoSlider

**npm package url(optional):**

**License(s):**

**Official homepage:**
http://webbies.dk/SudoSlider/

**Wanna say something? Leave message here:**
Love you <3

=====================
Notes from cdnjs maintainer:
Please read the README.md and CONTRIBUTING.md document first.

You are welcome

[2017-02-03 21:51] cikasfm commented on #8781
@Piicksarn anything else is needed for this?

[2017-02-03 22:58] PeterDaveHello commented on #8781
Looks like there is no response from wickedest/Mergely#47, maybe need to try some other method to confirm with its author, @cikasfm would you like to help us confirm its license? Thanks.

[2017-02-03 23:42] talonbragg commented on #10492
Thanks @PeterDaveHello

[2017-02-03 23:50] talonbragg commented on #10492
BTW the version is 1.1.12 now. Thanks!

[2017-02-04 02:13] hare1039 commented on #10526
@rsvaz83 Could you give us more information about this library(e.g. github/npm links)?

[2017-02-04 02:19] hare1039 commented on #10527
Hi @programmer5000-com,
We're sorry that we can't host this library since it doesn't have enough notable popularity(100 stars on github / npm 500 downloads per month). If you think we really need to host it, please contact PeterDaveHello, the maintainer of cdnjs.
Feel free to show some other references if you have something else want to discuss with us. If there is no response in next 7 days, this

[2017-02-04 02:34] talonbragg commented on #10492
We Have 705 downloads, we officially have notable popularity: [here](https://npmjs.org/package/custommarkup
)

[2017-02-04 06:45] hare1039 commented on #10528
Need version updates `5.4.6` -> `7.0.1`

[2017-02-04 06:48] hare1039 commented on #10530
Hi @carlosrdv,
We're sorry that we can't host this library since it doesn't have enough notable popularity(100 stars on github / npm 500 downloads per month). If you think we really need to host it, please contact PeterDaveHello, the maintainer of cdnjs.
Feel free to show some other references if you have something else want to discuss with us. If there is no response in next 7 days, this issue wi

[2017-02-04 07:31] #10256 closed

[2017-02-04 07:50] PeterDaveHello commented on #10519
Move to #10318

[2017-02-04 07:50] #10519 closed

[2017-02-04 07:50] PeterDaveHello commented on #10492
Move to #10318

[2017-02-04 07:50] #10492 closed

[2017-02-04 07:50] PeterDaveHello commented on #10377
Move to #10318

[2017-02-04 07:50] #10377 closed

[2017-02-04 07:51] PeterDaveHello commented on #10318
@talonbragg Please DO NOT KEEP CREATING DUPLICATED ISSUES, thanks.

[2017-02-04 11:47] koronanews opened #10539 "[Request] Add http://koronanews.ir"
**Library name:** http://koronanews.ir
**Git repository url:**
**npm package url(optional):**
**License(s):**
**Official homepage:**
**Wanna say something? Leave message here:**

=====================
Notes from cdnjs maintainer:
You are welcome to add a library via sending pull request,
it'll be faster then just opening a request issue,
and please don't forget to read the guidelines for contribut

[2017-02-04 11:50] PeterDaveHello commented on #6312
@NYCJacob it's fine to send PR online on GitHub gui, it's both fine to send multi PR or a single one.

[2017-02-04 11:51] PeterDaveHello commented on #6312
the **urgent flags**, do you mean the "High Priority" label?

[2017-02-04 13:51] hare1039 commented on #10381
@selfrefactor Can you also change the license field in `package.json` to `MIT`?
The pull request is rejected because license field is inconsistent with GitHub repo.
Thanks.

[2017-02-04 16:28] PeterDaveHello opened #10540 "[Request] Add TimelineJS3"
**Library name:** TimelineJS3
**Git repository url:** https://github.com/NUKnightLab/TimelineJS3
**License(s):** MPL-2.0
**Official homepage:** http://timeline.knightlab.com/

[2017-02-04 18:04] ron666 opened #10541 "Move repo to organization repo breaks CDN?"
Currently, John Dyer's repositories (mediaelement ones) are under his name but he's considering moving them into an organization repo. Would that break anything on your side?

[2017-02-04 18:28] talonbragg commented on #10318
@PeterDaveHello Your welcome.

[2017-02-04 20:48] englishextra opened #10543 "[author][Request] Add typeboost.css"
**Library name:** typeboost.css
**Git repository url:** https://github.com/englishextra/typeboost.css
**npm package url(optional):**  https://www.npmjs.com/package/typeboost.css
**License(s):** (MIT)
**Official homepage:** https://englishextra.github.io/libs/typeboost.css/
**Wanna say something? Leave message here:** Good to have it at cdnjs as at: https://www.jsdelivr.com/projects/typeboost.css T

[2017-02-04 22:59] jab opened #10544 "[Request] Add intl-messageformat"
**Library name:** intl-messageformat
**Git repository url:** https://github.com/yahoo/intl-messageformat
**npm package url(optional):** https://www.npmjs.com/package/intl-messageformat
**License(s):** BSD 3-clause
**Official homepage:** https://formatjs.io
**Wanna say something? Leave message here:** Thank you for your consideration, and for the great work on CDNJS!

[2017-02-05 00:29] kinotto opened #10545 "[author][Request] Add ngScrollReveal"
**Library name:** ngScrollReveal
**Git repository url:**https://github.com/kinotto/ngScrollReveal
**npm package url(optional):**
**License(s):**MIT
**Official homepage:**
**Wanna say something? Leave message here:**

=====================
Notes from cdnjs maintainer:
Please read the README.md and CONTRIBUTING.md document first.

You are welcome to add a library via sending pull request,
it'll be f

[2017-02-05 08:46] #10241 closed

[2017-02-05 08:46] #8769 closed

[2017-02-05 09:07] PeterDaveHello commented on #10541
Nope, just don't forget to update the info on CDNJS, thanks.

[2017-02-05 09:07] #10541 closed

[2017-02-05 12:49] selfrefactor commented on #10381
Hi @hare1039
I just change it to MIT, now it should be fine.
Let me know if this is still an issue.

[2017-02-05 13:26] PeterDaveHello commented on #9719
@extend1994 we use "licenses" by now.

[2017-02-05 13:32] XiRealizeX opened #10548 "[Request] Add zenscroll"
ZenScroll
https://github.com/zengabor/zenscroll
https://www.npmjs.com/package/zenscroll
Public Domain
https://zengabor.github.io/zenscroll

=====================
Notes from cdnjs maintainer:
Please read the README.md and CONTRIBUTING.md document first.

You are welcome to add a library via sending pull request,
it'll be faster than just opening a request issue,
and please don't forget to read the

[2017-02-05 15:58] sasha240100 commented on #8951
@kennynaoh Can you please add it?

[2017-02-05 16:10] ron666 commented on #10541
@johndyer FYI

[2017-02-05 17:44] #9983 closed

[2017-02-05 17:51] hare1039 commented on #10526
@rsvaz83 This issue will be close if no response in 7 days.

[2017-02-05 17:51] #10508 closed

[2017-02-05 17:57] hare1039 commented on #10539
Hi @koronanews,
The link you gave us looks like a news website not a JavaScript library. Can you point out the files that you want to host?
npm / GitHub links are appreciated. Thanks.

[2017-02-05 18:12] #10441 closed

[2017-02-05 18:54] mwcz opened #10549 "[Request] Add schemapack"
**Library name:** schemapack
**Git repository url:** https://github.com/phretaddin/schemapack
**npm package url(optional):** https://www.npmjs.com/package/schemapack
**License(s):** MIT
**Official homepage:**
**Wanna say something? Leave message here:**

"The fastest and smallest JavaScript object serialization library. Efficiently encode your objects in to compact byte buffers and then decode the

[2017-02-05 21:11] dailos2coders commented on #10441
Awesome... Thanks

[2017-02-06 08:30] #5337 closed

[2017-02-06 08:34] #10337 closed

[2017-02-06 12:40] PeterDaveHello opened #10550 "[Request] Add multi.js"
**Library name:** multi.js
**Git repository url:** https://github.com/Fabianlindfors/multi.js
**License(s):** MIT
**Official homepage:** http://fabianlindfors.se/multijs/

[2017-02-06 16:59] victor-paddle opened #10551 "[Request] Baremetrics Date Range Picker"
**Library name:**  Baremetrics Date Range Picker
**Git repository url:** https://github.com/Baremetrics/calendar
**npm package url(optional):**
**License(s):** MIT
**Official homepage:**
**Wanna say something? Leave message here:**

=====================
Notes from cdnjs maintainer:
Please read the README.md and CONTRIBUTING.md document first.

You are welcome to add a library via sending pull req

[2017-02-07 00:10] voodoo6 opened #10552 "[Request] Add snapper"
**Library name:** Snapper
**Git repository url: https://github.com/filamentgroup/snapper
**npm package url(optional):** https://www.npmjs.com/package/fg-snapper
**License(s):**
**Official homepage: http://master.origin.snapper.fgview.com/demo/
**Wanna say something? Leave message here:**

=====================
Notes from cdnjs maintainer:
You are welcome to add a library via sending pull request,

[2017-02-07 06:37] JackieKu opened #10553 "[Request] Add tongwen"
**Library name:** tongwen
**Git repository url: https://github.com/stevendaniels/New-Tongwen-Tang
**npm package url(optional):**
**License(s): GNU GPL version 2
**Official homepage: https://github.com/stevendaniels/New-Tongwen-Tang
**Wanna say something? Leave message here:**

This is a JavaScript to convert between traditional Chinese and simplified Chinese.

=====================
Notes from cdnj

[2017-02-07 07:27] pvnr0082t commented on #10397
duplicated with #10184.

[2017-02-07 07:27] #10397 closed

[2017-02-07 09:02] semirsoyler opened #10554 "[Request] Add _library_name_"
**Library name:**
**Git repository url:**
**npm package url(optional):**
**License(s):**
**Official homepage:**
**Wanna say something? Leave message here:**

=====================
Notes from cdnjs maintainer:
Please read the README.md and CONTRIBUTING.md document first.

You are welcome to add a library via sending pull request,
it'll be faster than just opening a request issue,
and please don't f

[2017-02-07 11:45] hare1039 commented on #10554
@semirsoyler Any detail?

[2017-02-07 11:48] hare1039 commented on #10553
Hi @JackieKu,
This is a great library but we're sorry that we can't host this library since it doesn't have enough notable popularity(100 stars on github / npm 500 downloads per month). If you think we really need to host it, please contact PeterDaveHello, the maintainer of cdnjs. Feel free to show some other references if you have something else want to discuss with us. If there is no response in

[2017-02-07 12:06] hare1039 commented on #10539
@koronanews If there is no response in next 7 days, this library will be closed.

[2017-02-07 12:23] rahulchanglani opened #10556 "[Request] Add angular-auth0"
**Library name:** angular-auth0
**Git repository url:** https://github.com/auth0/angular-auth0
**npm package url(optional):** https://www.npmjs.com/package/angular-auth0
**License(s):** [MIT](https://github.com/auth0/angular-auth0/blob/master/LICENSE)
**Official homepage:**
**Wanna say something? Leave message here:**

=====================
Notes from cdnjs maintainer:
You are welcome to add a lib

[2017-02-07 13:00] extend1994 commented on #10389
@PeterDaveHello There is no auto-update config on cdnjs repo. Files on the repo seemed to be added by the author. Should I set up auto-update config which allow cdnjs to include files on https://github.com/morteza/bootstrap-rtl/tree/master/dist/cdnjs (no JavaScript files).

[2017-02-07 13:11] #10381 closed

[2017-02-07 13:34] #10325 closed

[2017-02-07 13:43] PeterDaveHello commented on #9920
@sufuf3 don't forget to clean up the title.

[2017-02-07 13:46] #10302 closed

[2017-02-07 14:21] #10305 closed

[2017-02-07 14:23] #10295 closed

[2017-02-07 20:23] PeterDaveHello commented on #10389
@extend1994 try what you think is the best, btw, the high priority issue should be solved earlier and faster as the name it is.

[2017-02-07 23:40] davidlehn commented on #6190
0.7.0 was released which includes a `dist/forge.min.js` file.

[2017-02-08 01:22] mrsweaters commented on #10305
Thanks! 👍

[2017-02-08 05:19] x09326 commented on #10549
@sajochiu
Please add this library, thanks.

[2017-02-08 08:09] #10261 closed

[2017-02-08 08:59] srfrnk opened #10561 "[Author] [Request] Add re-tree to cdnjs"
**Library name:** re-tree
**Git repository url:** https://github.com/srfrnk/re-tree
**npm package url(optional):** https://www.npmjs.com/package/re-tree
**License(s):** MIT
**Official homepage:** https://github.com/srfrnk/re-tree
**Wanna say something? Leave message here:** You've recently added [ng-device-detector](https://cdnjs.com/libraries/ng-device-detector) to cdnjs, now people ask me to add

[2017-02-08 13:14] emanuelvintila opened #10564 "[Request] Add jquery-scrollfire"
**Library name:** jquery-scrollfire
**Git repository url:** https://github.com/Xaxis/jquery.scrollfire
**npm package url(optional):**
**License(s):** MIT
**Official homepage:** https://github.com/Xaxis/jquery.scrollfire
**Wanna say something? Leave message here:**

=====================
Notes from cdnjs maintainer:
Please read the README.md and CONTRIBUTING.md document first.

You are welcome to a

[2017-02-08 13:27] #6092 closed

[2017-02-08 13:40] #10262 closed

[2017-02-08 22:39] Snawoot opened #10565 "[Request] Add rusha"
**Library name:** rusha
**Git repository url:** [https://github.com/srijs/rusha](https://github.com/srijs/rusha)
**npm package url(optional):** [https://nodei.co/npm/rusha/](https://nodei.co/npm/rusha/)
**License(s):** MIT
**Official homepage:** None

Fastest JS implementation of SHA-1 hash.

[2017-02-08 22:47] jziggas opened #10566 "[Request] Add ng-ck"
**Library name:**
ng-ck
**Git repository url:**
https://github.com/jziggas/ng-ck
**npm package url(optional):**
https://www.npmjs.com/package/ng-ck
**License(s):**
MIT
**Official homepage:**
https://github.com/jziggas/ng-ck
**Wanna say something? Leave message here:**

=====================
Notes from cdnjs maintainer:
Please read the README.md and CONTRIBUTING.md document first.

You are welcome

[2017-02-09 00:46] maxharlow opened #10567 "[Request] Add prettycron"
**Library name:** prettycron
**Git repository url:** https://github.com/azza-bazoo/prettycron
**npm package url(optional):** https://www.npmjs.com/package/prettycron
**License(s):** LGPL-3.0
**Official homepage:** http://azza-bazoo.github.io/prettycron

[2017-02-09 01:11] hare1039 commented on #10554
@semirsoyler This issue will be close if no response in next 7 days.

[2017-02-09 01:16] hare1039 commented on #10564
Hi @emanuelvintila,
We're sorry that we can't host this library since it doesn't have enough notable popularity(100 stars on github / npm 500 downloads per month). If you think we really need to host it, please contact PeterDaveHello, the maintainer of cdnjs. Feel free to show some other references if you have something else want to discuss with us. If there is no response in next 7 days, this iss

[2017-02-09 03:52] kurvigoss opened #10568 "[Request] Add _library_name_"
**Library name:**
**Git repository url:**
**npm package url(optional):**
**License(s):**
**Official homepage:**
**Wanna say something? Leave message here:**

=====================
Notes from cdnjs maintainer:
Please read the README.md and CONTRIBUTING.md document first.

You are welcome to add a library via sending pull request,
it'll be faster than just opening a request issue,
and please don't f

[2017-02-09 04:28] maruilian11 commented on #6190
@davidlehn many thanks! I will send the PR to add it later.

[2017-02-09 06:30] chikochavda opened #10569 "[Request] Add jquery.cookiecuttr"
**Library name:** jquery.cookiecuttr
**Git repository url:**
**npm package url(optional):**
**License(s):**
**Official homepage:**
**Wanna say something? Leave message here:**

=====================
Notes from cdnjs maintainer:
You are welcome to add a library via sending pull request,
it'll be faster then just opening a request issue,
and please don't forget to read the guidelines for contributin

[2017-02-09 06:33] chikochavda opened #10570 "[Request] Add jquery.fullPage"
**Library name:** jquery.fullPage
**Git repository url:**
**npm package url(optional):**
**License(s):**
**Official homepage:**
**Wanna say something? Leave message here:**

=====================
Notes from cdnjs maintainer:
You are welcome to add a library via sending pull request,
it'll be faster then just opening a request issue,
and please don't forget to read the guidelines for contributing,

[2017-02-09 06:33] dushyantbangal commented on #10228
I don't really know much about the package. I have used it on server side, wanted to use it in angular js.  Its dependent on `moment.js` which has client as well as server library.

[2017-02-09 06:34] #10570 closed

[2017-02-09 06:40] chikochavda opened #10571 "[Request] Add coda-slider"
**Library name:** coda-slider
**Git repository url:** https://github.com/KevinBatdorf/codaslider
**npm package url(optional):**
**License(s):**
**Official homepage:**
**Wanna say something? Leave message here:**

=====================
Notes from cdnjs maintainer:
You are welcome to add a library via sending pull request,
it'll be faster then just opening a request issue,
and please don't forget to

[2017-02-09 12:13] #10477 closed

[2017-02-09 12:19] #9991 closed

[2017-02-09 12:33] #9958 closed

[2017-02-09 13:34] hare1039 commented on #10228
@dushyantbangal Hmm yes, the [moment.js](https://cdnjs.com/libraries/moment.js) did have cilent side, but not `moment-business-days`. Unless the author provide client side js files, we can't host `moment-business-days` as it serve as server side library.
@pvnr0082t Would you please help me with doing a double confirm of this library is a server side library?

[2017-02-09 13:38] hare1039 commented on #10566
Hi @jziggas,
We're sorry that we can't host this library since it doesn't have enough notable popularity(100 stars on github / npm 500 downloads per month). If you think we really need to host it, please contact PeterDaveHello, the maintainer of cdnjs.
Feel free to show some other references if you have something else want to discuss with us. If there is no response in next 7 days, this issue will

[2017-02-09 13:41] hare1039 commented on #10568
@kurvigoss Any detail?
This issue will be close if no response in next 7 days.

[2017-02-09 13:43] hare1039 commented on #10569
@chikochavda Do you mean this library https://github.com/cdwharton/cookieCuttr ?

[2017-02-09 14:04] hare1039 commented on #9965
Close due to no response in 7 days. cc @PeterDaveHello

[2017-02-09 14:04] #9965 closed

[2017-02-09 14:06] hare1039 commented on #9957
Close due to no response in 7 days. cc @PeterDaveHello

[2017-02-09 14:06] #9957 closed

[2017-02-09 14:07] hare1039 commented on #9841
Close due to no response in 7 days. cc @PeterDaveHello

[2017-02-09 14:07] #9841 closed

[2017-02-09 15:44] #10566 closed

[2017-02-09 16:22] pvnr0082t commented on #10228
@hare1039 It seems like it connot compatible with browser.

[2017-02-09 19:22] KSoto opened #10574 "[Request] Add js-storage"
**Library name:** js-storage
**Git repository url:** https://github.com/julien-maurel/js-storage
**npm package url(optional):** https://www.npmjs.com/package/js-storage
**License(s):** MIT
**Official homepage:** https://github.com/julien-maurel/js-storage

[2017-02-09 19:28] KSoto opened #10575 "[Request] Add jquery-xmlrpc"
**Library name:** jquery-xmlrpc
**Git repository url:** https://github.com/timheap/jquery-xmlrpc
**npm package url(optional):**
**License(s):** unlicense - https://github.com/timheap/jquery-xmlrpc/blob/master/LICENCE
**Official homepage:** http://jquery-xml-rpc.readthedocs.io/en/latest/
**Wanna say something? Leave message here:**

[2017-02-09 21:06] mercyg commented on #9973
@PeterDaveHello Do I have to clone the microplugin library to add it to the cdnjs? If not, how do I add the library locally?

[2017-02-09 21:08] PeterDaveHello commented on #9973
@mercyg Sorry, I mean can, not car, just typo.

[2017-02-09 21:09] mercyg commented on #9973
@PeterDaveHello No problem, I did clone the cdnjs but I am confused on how to add the library

[2017-02-09 21:12] PeterDaveHello commented on #9973
@mercyg Read the doc yet?

[2017-02-09 21:12] mercyg commented on #9973
@PeterDaveHello Yes I did :)

[2017-02-09 21:14] mercyg commented on #9973
What I am confused about is how to get the microplugin library and add it to the cdnjs

[2017-02-10 03:51] mercyg commented on #9973
@PeterDaveHello I figured how to add the file and made my pull request please check it and let me know what you think :)

[2017-02-10 03:54] hare1039 commented on #10574
Hi @KSoto,
We're sorry that we can't host this library since it doesn't have enough notable popularity(100 stars on github / npm 500 downloads per month). If you think we really need to host it, please contact PeterDaveHello, the maintainer of cdnjs.
Feel free to show some other references if you have something else want to discuss with us. If there is no response in next 7 days, this issue will b

[2017-02-10 04:01] hare1039 commented on #10575
Hi @KSoto,
We're sorry that we can't host this library since it doesn't have enough notable popularity(100 stars on github / npm 500 downloads per month). If you think we really need to host it, please contact PeterDaveHello, the maintainer of CDNJS.
Feel free to show some other references if you have something else want to discuss with us. If there is no response in next 7 days, this issue will b

[2017-02-10 04:15] hare1039 commented on #9883
@PeterDaveHello I think we can't host it without written permission of Magic Hills Pty Ltd.
https://html5box.com/terms.php#eula
(c) You may not redistribute, modify or resell the PRODUCTS in any way without the written permission of Magic Hills Pty Ltd.

[2017-02-10 05:08] kspearrin opened #10577 "[Request] Add Forge"
**Library name:** Forge
**Git repository url:** https://github.com/digitalbazaar/forge, https://github.com/digitalbazaar/forge-dist
**npm package url(optional):** https://www.npmjs.com/package/node-forge
**License(s):** GPL2
**Official homepage:** https://github.com/digitalbazaar/forge
**Wanna say something? Leave message here:** Excellent crypto library. They recently added much better browser su

[2017-02-10 05:10] kspearrin commented on #10577
Bah! https://github.com/cdnjs/cdnjs/issues/6190

[2017-02-10 05:10] #10577 closed

[2017-02-10 07:28] PeterDaveHello commented on #9973
cc #10576

[2017-02-10 07:30] PeterDaveHello commented on #9883
@PaoloFalomo as you can see, that's not what we can host.

[2017-02-10 07:31] PeterDaveHello commented on #10165
One another reference: https://github.com/callmenick

[2017-02-10 07:37] #9802 closed

[2017-02-10 08:23] anubhabsen commented on #10511
Done as was asked, please let me know if there are changes to be made.

[2017-02-10 08:57] hare1039 commented on #9932
@bradgillap We now have the latest version `0.98.0` `https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js`, what else can we help you?
This issue will close if no response in next 7 days.

[2017-02-10 09:12] hare1039 commented on #10228
@dushyantbangal As CDNJS can only host client side library, We are sorry that we can't host this library. Thank you for interesting in CDNJS.

@pvnr0082t Thank you. Shall we close this issue?

[2017-02-10 10:30] Juyoung11 opened #10582 "[Request] Add cryptoJS"
**Library name:**
**Git repository url:**
**npm package url(optional):**
**License(s):**
**Official homepage:**
**Wanna say something? Leave message here:**

=====================
Notes from cdnjs maintainer:
Please read the README.md and CONTRIBUTING.md document first.

You are welcome to add a library via sending pull request,
it'll be faster than just opening a request issue,
and please don't f

[2017-02-10 13:14] hare1039 commented on #10582
Hi @Juyoung11,
Do you mean this library https://github.com/sytelus/CryptoJS?

[2017-02-10 18:17] KSoto commented on #10574
Oh, ok. No prob, thank you!

[2017-02-10 18:18] #10574 closed

[2017-02-10 18:18] KSoto commented on #10575
Dang, not again! K ty :)

[2017-02-10 18:24] inlutero commented on #10111
Hello,

Not sure I'm doing this right, but I appreciate any tips on next steps!

[2017-02-10 19:37] manchicken opened #10588 "[Request] Add intl-messageformat"
**Library name:** intl-messageformat
**Git repository url:**git@github.com:yahoo/intl-messageformat.git
**npm package url(optional):** https://www.npmjs.com/package/intl-messageformat
**License(s):**Yahoo! BSD
**Official homepage:**https://github.com/yahoo/intl-messageformat
**Wanna say something? Leave message here:**
This is a common internationalization library implementing the FormatIS.io spec

[2017-02-11 02:26] NYCJacob commented on #5772
would this require calling the github api within the packages.json.js file or is the data already within the rss feed object?

[2017-02-11 04:25] pvnr0082t commented on #10228
@hare1039 You can ask if the author would like to make it compatible with the browser. Then determine if we can host this lib.

[2017-02-11 05:00] hare1039 commented on #10588
duplicate #10544

[2017-02-11 05:02] hare1039 commented on #10527
Close due to no response. cc @PeterDaveHello

[2017-02-11 05:02] #10527 closed

[2017-02-11 05:04] hare1039 commented on #10493
Close due to no response in 7 days. cc @PeterDaveHello

[2017-02-11 05:04] #10493 closed

[2017-02-11 05:05] hare1039 commented on #10530
Close due to no responses. cc @PeterDaveHello.

[2017-02-11 05:05] #10530 closed

[2017-02-11 08:01] danikkks opened #10590 "[Request] Add folktale"
**Library name:** folktale
**Library desctiption:** A standard library for functional programming in JavaScript
**Git repository url:** https://github.com/origamitower/folktale
**npm package name or url**: https://www.npmjs.com/package/folktale
**License (List them all if it's multiple):** MIT
**Official homepage:** folktale.origamitower.com
**Wanna say something? Leave message here:**

==========

[2017-02-11 08:34] PeterDaveHello commented on #5772
It'll need to call GitHub API, we already implemented the feature in https://github.com/cdnjs/new-website/blob/master/reindex.js and the result is in https://github.com/cdnjs/new-website/blob/master/GitHub.repos.meta.json, this issue is out dated and should be closed now 😄

[2017-02-11 08:34] #5772 closed

[2017-02-11 09:28] shivam19913 opened #10591 "ajax"
**Library name:**
**Git repository url:**
**npm package url(optional):**
**License(s):**
**Official homepage:**
**Wanna say something? Leave message here:**

=====================
Notes from cdnjs maintainer:
Please read the README.md and CONTRIBUTING.md document first.

You are welcome to add a library via sending pull request,
it'll be faster than just opening a request issue,
and please don't f

[2017-02-11 13:41] anteriovieira opened #10593 "[Request] Add angular-drop-image"
**Library name:** angular-drop-image
**Git repository url:** https://github.com/uni-projecao/angular-drop-image
**npm package url(optional):**  https://www.npmjs.com/package/angular-drop-image
**License(s):** MIT
**Official homepage:** angular-drop-image
**Wanna say something? Leave message here:**

=====================
Notes from cdnjs maintainer:
You are welcome to add a library via sending pul

[2017-02-11 14:09] pvnr0082t commented on #10376
close due to no response.

[2017-02-11 14:09] #10376 closed

[2017-02-11 14:09] pvnr0082t commented on #10378
close due to no response.

[2017-02-11 14:09] #10378 closed

[2017-02-11 14:09] pvnr0082t commented on #10393
close due to no response.

[2017-02-11 14:09] #10393 closed

[2017-02-11 14:26] pvnr0082t commented on #10400
close due to no response.

[2017-02-11 14:26] #10400 closed

[2017-02-11 14:43] pvnr0082t commented on #10588
@hare1039 You can close it.

[2017-02-11 14:48] pvnr0082t commented on #10245
close due to no response.

[2017-02-11 14:48] #10245 closed

[2017-02-11 14:53] hare1039 commented on #10588
Close due to duplicate issue

[2017-02-11 14:53] #10588 closed

[2017-02-11 14:58] pvnr0082t commented on #9846
closed and wait for notable popularity. @Shmasya Thanks for your contribution. :+1:

[2017-02-11 14:58] #9846 closed

[2017-02-11 15:07] PeterDaveHello commented on #10111
@inlutero we'll help you solve #10587 👍

[2017-02-11 15:22] pvnr0082t commented on #8644
Hi @misterhtmlcss ,

This library doesn't have enough notable popularity(like more than 100 stars on GitHub or 500 downloads per month on npm). please take a look on our [README.md](https://github.com/cdnjs/cdnjs/blob/master/README.md) for detail, it's always good to read the document before open an issue, I'll respectfully suggest you to open a new issue again when the library has some notable po

[2017-02-11 17:03] chikochavda commented on #10569
Yes this is the one . Thanks :+1:

[2017-02-11 17:35] misterhtmlcss commented on #8644
@pvnr0082t sorry man. When I submitted it, it was from the website and so mentally I was on a regular support page in my mind despite noticing now that it was GH repo and therefore the instructions  below. I didn't even take note the first time, I'll try be more alert in the future when I see I'm being sent to a GH repo and I'll of course shoot over to your Readme now too. Thank you for your patie

[2017-02-11 22:06] wolfy1339 opened #10594 "[Request] Update stupidtable"
The stupidtable library is currently at version 1.0.2 while on CDNJS there is only version 0.0.1

[2017-02-11 22:42] CodeOptimist opened #10595 "[Request] Add jquery-textareaPreview"
**Library name:** jquery-textareaPreview
**Git repository url:** https://github.com/andreyfedoseev/jquery-textareaPreview
**npm package url(optional):**
**License(s):** MIT License
**Official homepage:** http://andreyfedoseev.name/blog/articles/34/jquery-textareapreview/
**Wanna say something? Leave message here:**
My GreasyFork script can't go public without this at an authorized host. 😢

=======

[2017-02-12 00:37] shobhitsharma opened #10596 "[Author][Request] Add embedo"
**Library name:**  embedo
**Git repository url:** https://github.com/shobhitsharma/embedo
**npm package url(optional):** https://www.npmjs.com/package/embedo
**License(s):** MIT
**Official homepage:** https://shobhitsharma.github.io/embedo/

[2017-02-12 01:12] hare1039 commented on #10590
Hi @danikkk,
Do you mean this library?
https://github.com/origamitower/folktale
https://www.npmjs.com/package/folktale

[2017-02-12 01:14] hare1039 commented on #10591
Hi @shivam19913,
Any detail here?
Note this issue will close if no response in next 7 days.

[2017-02-12 01:17] hare1039 commented on #10593
Hi @anteriovieira,
We're sorry that we can't host this library since it doesn't have enough notable popularity(100 stars on github / npm 500 downloads per month). If you think we really need to host it, please contact PeterDaveHello, the maintainer of cdnjs.

Feel free to show some other references if you have something else want to discuss with us. If there is no response in next 7 days, this iss

[2017-02-12 01:24] hare1039 commented on #10595
Hi @CodeOptimist,
We're sorry that we can't host this library since it doesn't have enough notable popularity(100 stars on github / npm 500 downloads per month). If you think we really need to host it, please contact PeterDaveHello, the maintainer of cdnjs.

Feel free to show some other references if you have something else want to discuss with us. If there is no response in next 7 days, this issu

[2017-02-12 01:26] hare1039 commented on #10596
Hi @shobhitsharma,
We're sorry that we can't host this library since it doesn't have enough notable popularity(100 stars on github / npm 500 downloads per month). If you think we really need to host it, please contact PeterDaveHello, the maintainer of cdnjs.

Feel free to show some other references if you have something else want to discuss with us. If there is no response in next 7 days, this iss

[2017-02-12 01:40] x112358 commented on #10165
xStore

[2017-02-12 01:40] lcd78706 commented on #10165
clone

[2017-02-12 01:40] sajochiu commented on #10165
fermata

[2017-02-12 01:41] honestree commented on #10165
FastActive

[2017-02-12 01:42] hare1039 commented on #10165
Animating-Hamburger-Icons

[2017-02-12 01:42] sajochiu commented on #10165
mag.js

[2017-02-12 01:43] sufuf3 commented on #10165
Peppermint

[2017-02-12 01:43] NiniHsu commented on #10165
rssi

[2017-02-12 01:45] honestree opened #10597 "[Request] Add FastActive"
**Library name:** FastActive
**Git repository url:** https://github.com/jonathanstark/FastActive
**npm package url(optional):**
**License(s):** MIT
**Official homepage:**
cc- #10165
@kennynaoh
please help me  review this issue! thanks!

[2017-02-12 01:46] hare1039 opened #10598 "[Request] Add Animating-Hamburger-Icons"
**Library name:** Animating-Hamburger-Icons
**Git repository url:** https://github.com/callmenick/Animating-Hamburger-Icons
**License(s):** MIT, [ref](https://github.com/callmenick/Animating-Hamburger-Icons#license)
**Official homepage:** http://callmenick.com/_development/css-hamburger-menu-icons/
**Wanna say something? Leave message here:**

<bountysource-plugin>

---
Want to back this issue? **

[2017-02-12 01:48] sufuf3 opened #10599 "[Request] Add Peppermint"
**Library name:** Peppermint
**Git repository url:** https://github.com/wilddeer/Peppermint
**npm package url(optional):**
**License(s):** MIT
**Official homepage:** http://wd.dizaina.net/en/scripts/peppermint/
**Wanna say something? Leave message here:**

cc- #10165
@kennynaoh
please help me review this issue! thanks!

[2017-02-12 01:49] lcd78706 opened #10600 "[Request] Add clone"
**Library name:** clone
**Git repository url:** https://github.com/pvorb/clone
**npm package url(optional):** https://www.npmjs.com/package/clone
**License(s):** MIT
**Official homepage:**
**Wanna say something? Leave message here:**
cc #10165

=====================
Notes from cdnjs maintainer:
You are welcome to add a library via sending pull request,
it'll be faster then just opening a request i

[2017-02-12 01:50] NiniHsu opened #10601 "[Request] Add rssi"
**Library name:** rssi
**Git repository url:** https://github.com/mvasilkov/rssi
**npm package url(optional):** https://www.npmjs.com/package/rssi
**License(s):** MIT

cc #10165
@kennynaoh please help me review this PR, thanks!

[2017-02-12 01:50] x112358 opened #10602 "[Request] Add xStore"
**Library name:** xStore
**Git repository url:**https://github.com/florian/xStore
**License(s):**MIT

cc #10165

[2017-02-12 01:51] sajochiu opened #10603 "[Request] Add mag.js"
**Library name:** mag.js
**Git repository url:**https://github.com/magnumjs/mag.js
**License(s):**MIT
@x09326 please help me review it, thanks! #10165

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/41935909-request-add-mag-js?utm_campaign=plugin&utm_content=tracker%2F32893&utm_medium=issues&utm_source=github)** We accept bounties v

[2017-02-12 01:52] drewfreyling commented on #4328
@terinjokes any movement on this one yet?

[2017-02-12 01:54] PeterDaveHello commented on #4328
@drewfreyling since no any other CDN is doing this yet, so I'm a little bit afraid that there may be some concerns like old devices may have problem with it.

[2017-02-12 01:58] lcd78706 commented on #10165
DragDrop

[2017-02-12 02:03] lcd78706 opened #10604 "[Request] Add DragDrop"
**Library name:** DragDrop
**Git repository url:** https://github.com/kbjr/DragDrop
**npm package url(optional):**
**License(s):** MIT and GPL
**Official homepage:**
**Wanna say something? Leave message here:**
cc #10165

=====================
Notes from cdnjs maintainer:
You are welcome to add a library via sending pull request,
it'll be faster then just opening a request issue,
and please don't

[2017-02-12 02:24] CodeOptimist commented on #10595
That's okay, thanks for the reply @hare1039 . :)

[2017-02-12 02:24] #10595 closed

[2017-02-12 02:45] sajochiu commented on #10211
NicEdit

[2017-02-12 02:45] x112358 commented on #10211
Sliiide

[2017-02-12 02:45] lcd78706 commented on #10211
reframe.js

[2017-02-12 02:45] honestree commented on #10211
reframe.js

[2017-02-12 02:46] NiniHsu commented on #10211
artDialog

[2017-02-12 02:46] honestree commented on #10211
aquarelle

[2017-02-12 02:47] sufuf3 commented on #10211
codaslider

[2017-02-12 03:05] sajochiu opened #10605 "Add git tags"
Hi @danishkhan,
We are [cdnjs](https://cdnjs.com/) team, we are going to host this library.
The git auto-updater in cdnjs relies on **git tags** so that it can recognize the correct version and automatically update the repo.
Could you please add git tags for the repo? Thank you.
cdnjs/cdnjs#8653

[2017-02-12 03:07] anteriovieira commented on #10593
Thanks!

[2017-02-12 03:09] #10605 closed

[2017-02-12 03:10] konklone commented on #4328
@PeterDaveHello That's not quite true - as of April 2016 there are a few (smaller) CDNs: https://github.com/konklone/cdns-to-https/issues/10#issuecomment-212696544

But the consensus on thread is to deploy HSTS and not to perform HTTP->HTTPS redirects. The one [expressed concern](https://github.com/cdnjs/cdnjs/issues/4328#issuecomment-218184493) relates to ZeroClipboard having issues due to its de

[2017-02-12 03:17] hare1039 commented on #10211
PlanOut.js

[2017-02-12 03:41] PeterDaveHello commented on #4328
@konklone, sorry, no offense, I know the info you provided, in the last comment, actually I mean the larger and older CDN services, the new services usually will not have tons of concerns, but for older and larger ones, there are so many, I think we may still need some time to discuss, confirm the detail, and then we can do the redirection, thank you very much for your comment!

[2017-02-12 05:18] leif81 opened #10606 "[Request] Add linkifyjs"
**Library name:** linkifyjs
**Git repository url:** https://github.com/SoapBox/linkifyjs
**npm package url(optional):** https://www.npmjs.com/package/linkifyjs
**License(s):** MIT
**Official homepage:** http://soapbox.github.io/linkifyjs/
**Wanna say something? Leave message here:**

=====================
Notes from cdnjs maintainer:
Please read the README.md and CONTRIBUTING.md document first.

Y

[2017-02-12 05:31] hare1039 commented on #10606
Need update `1.1.7` -> `2.1.4`

[2017-02-12 05:32] honestree commented on #10498
I would like to add this library!

[2017-02-12 05:52] pvnr0082t commented on #8644
@misterhtmlcss It's okay. Feel free to request/reopen an issue if it has enough popularity. Thanks for your contribution. I'm going to close this issue.

cc @PeterDaveHello

[2017-02-12 05:52] #8644 closed

[2017-02-12 06:38] qwe19272375 commented on #10165
Weld

[2017-02-12 06:44] qwe19272375 opened #10607 "[Request] Add weld"
**Library name:** weld
**Git repository url:** https://github.com/tmpvar/weld
**npm package url(optional):** https://www.npmjs.com/package/weld
**License(s):** MIT, [ref](https://github.com/tmpvar/weld#licence)
**Wanna say something? Leave message here:**
cc #10165
@nolsherry please help me review this issue, thanks!

[2017-02-12 08:03] hare1039 commented on #10524
@sufuf3 duplicate #10498 .

[2017-02-12 08:44] jbucaran commented on #10524
Thanks. Closing in favor of #10498

[2017-02-12 08:44] #10524 closed

[2017-02-12 09:35] x9t9 opened #10609 "[Request] Add background-check.js"
**Library name:**  BackgroundCheck
**Git repository url:** https://github.com/kennethcachia/background-check
**npm package url(optional):**
**License(s):** MIT ( [ref](https://github.com/kennethcachia/background-check/blob/master/LICENSE) )
**Official homepage:** http://www.kennethcachia.com/background-check/
**Wanna say something? Leave message here:**

 Automatically switch to a darker or a ligh

[2017-02-12 12:55] Rhodium opened #10610 "[Request] Add lazyyt 1.3.0"
**Library name: lazyYT
**Git repository url: https://github.com/Daugilas/lazyYT
**npm package url(optional):**
**License(s):**
**Official homepage:**
**Wanna say something? Leave message here: Update lazyyt to 1.3.0, thanks

=====================
Notes from cdnjs maintainer:
You are welcome to add a library via sending pull request,
it'll be faster then just opening a request issue,
and please don

[2017-02-12 13:52] PeterDaveHello commented on #10498
@honestree this issue is not for intern3.

[2017-02-12 18:05] joelnagy opened #10612 "[Request] Add Zepto Touch Plugin"
**Library name:** Zepto Touch Plugin
**Git repository url:** https://github.com/madrobby/zepto
**npm package url(optional):**
**License(s):**
**Official homepage:** http://zeptojs.com
**Wanna say something? Leave message here:**

=====================
Notes from cdnjs maintainer:
Please read the README.md and CONTRIBUTING.md document first.

You are welcome to add a library via sending pull reques

[2017-02-13 02:30] sufuf3 commented on #10571
There's a newer version (which is also slightly dated already) here --> https://github.com/KevinBatdorf/liquidslider

[2017-02-13 04:10] hare1039 commented on #10524
Hi @jbucaran,
Since PR #10608 run into some problem, I think you can make your library hosted faster if you can send a pull request to add.

The simplest way is to send a single `package.json`.
Please read the guide [adding-a-library-by-a-single-packagejson](https://github.com/cdnjs/cdnjs#adding-a-library-by-a-single-packagejson).

P.S. I think you can copy the `ajax/libs/hyperapp/package.json` fr

[2017-02-13 04:55] jbucaran commented on #10524
@hare1039 Thanks. Here you go.
https://github.com/cdnjs/cdnjs/pull/10613

[2017-02-13 05:55] chikochavda commented on #10571
@sufuf3
Thanks i will check it out :)

[2017-02-13 06:42] x09326 commented on #10603
@sajochiu remember remove the field under the `========` line.

[2017-02-13 07:04] AbuJunayd opened #10614 "[Request] Add url-search-params.js"
**Library name:** url-search-params.js
**Git repository url:** https://github.com/WebReflection/url-search-params
**npm package url(optional):** https://www.npmjs.com/package/url-search-params
**License(s):** MIT
**Official homepage:**
**Wanna say something? Leave message here:**
The URLSearchParams API provides a consistent interface to the bits and pieces of the URL and allows trivial manipulati

[2017-02-13 11:44] esteveolm opened #10615 "[Request] Add js-xlsx-style"
**Library name:** js-xlsx-style
**Git repository url:** https://github.com/protobi/js-xlsx
**npm package url(optional):** xlsx-style
**License(s):**
**Official homepage:**
**Wanna say something? Leave message here:**

=====================
Notes from cdnjs maintainer:
You are welcome to add a library via sending pull request,
it'll be faster then just opening a request issue,
and please don't forg

[2017-02-13 15:12] sasha240100 opened #10616 "[Request] Add WhitestormJS framework"
**Library name:** WhitestormJS
**Git repository url:** https://github.com/WhitestormJS/whitestorm.js
**npm package url(optional):**  https://www.npmjs.com/package/whs
**License(s):** MIT
**Official homepage:** https://whsjs.io/

[2017-02-13 16:54] priley86 opened #10618 "[Request] Add rcue"
**Library name:** rcue
**Git repository url:** https://github.com/redhat-rcue/rcue
**npm package url(optional):** https://www.npmjs.com/package/rcue
**License(s):** Apache License 2.0
**Official homepage:**
**Wanna say something? Leave message here:**

=====================
Notes from cdnjs maintainer:
You are welcome to add a library via sending pull request,
it'll be faster then just opening a r

[2017-02-13 17:10] leif81 commented on #10606
I just became aware that the linkifyjs project is broken up into many js files. `linkify.js` by itself is not terribly useful so all these would need to go in cdnjs too. If you download `linkifyjs.zip` from the GitHub releases page you'll notice all the files e.g. `linkify-html.js`, `linkify-string.js`, `linkify-jquery`, etc.

[2017-02-13 18:08] omcginty44 opened #10619 "[Request] Add mnist.js"
**Library name:**
**Git repository url:** https://github.com/cazala/mnist
**npm package url(optional):**  https://www.npmjs.com/package/mnist
**License(s):**
**Official homepage:**
**Wanna say something? Leave message here:**

=====================
Notes from cdnjs maintainer:
Please read the README.md and CONTRIBUTING.md document first.

You are welcome to add a library via sending pull request,

[2017-02-14 04:46] PeterDaveHello commented on #10594
@hare1039 for the update requests, we should add `High Priority` label. cc @cdnjs/intern3

[2017-02-14 04:50] PeterDaveHello commented on #10569
Is the library not up-to-date?

[2017-02-14 04:51] PeterDaveHello commented on #10575
This one looks close the the minimum requirement, we can wait for it.

[2017-02-14 04:53] PeterDaveHello commented on #10566
Hi @jziggas, as you are the author of this lib, if you'd like to send a PR directly, we'll be happy to help you host it, please let us know what do you think, thanks.

[2017-02-14 04:54] PeterDaveHello commented on #10255
Let's host it!

[2017-02-14 04:56] PeterDaveHello commented on #10376
Hi @leandrobrunner, as you are the author of this lib, if you'd like to send a PR directly, we'll be happy to help you host it, please let us know what do you think, thanks.

[2017-02-14 04:58] PeterDaveHello commented on #10312
Isn't it good enough to be hosted?

[2017-02-14 04:59] PeterDaveHello commented on #10128
Ping @pvnr0082t

[2017-02-14 05:01] PeterDaveHello commented on #7348
Is this added?

[2017-02-14 05:01] PeterDaveHello commented on #10322
Close due to no response.

[2017-02-14 05:01] #10322 closed

[2017-02-14 05:31] pvnr0082t commented on #10618
Hi @priley86 ,

This library doesn't have enough notable popularity(like more than 100 stars on GitHub or 500 downloads per month on npm). please take a look on our [README.md](https://github.com/cdnjs/cdnjs/blob/master/README.md) for detail, it's always good to read the document before open an issue, I'll respectfully suggest you to open a new issue again when the library has some notable popular

[2017-02-14 07:54] bukik07 opened #10621 "[Request] Add _library_name_"
**Library name:**
**Git repository url:**
**npm package url(optional):**
**License(s):**
**Official homepage:**
**Wanna say something? Leave message here:**

=====================
Notes from cdnjs maintainer:
Please read the README.md and CONTRIBUTING.md document first.

You are welcome to add a library via sending pull request,
it'll be faster than just opening a request issue,
and please don't f

[2017-02-14 07:55] PeterDaveHello commented on #10621
@bukik07 What's the detail please?

[2017-02-14 07:57] ManzDev opened #10622 "[Request] Add _IcoFont_"
**Library name:** IcoFont
**Git repository url:** ?
**npm package url(optional):**
**License(s):** http://icofont.com/license/
**Official homepage:** http://icofont.com/
**Wanna say something? Leave message here:** Alternative to Font Awesome. More than free 2015 icons on this open source project.

=====================

[2017-02-14 08:48] hare1039 commented on #10622
Hi @ManzDev,
 I don't think we can host this icons as the license page explains

http://icofont.com/license/

[2017-02-14 09:20] hare1039 commented on #10539
Close due to no response.

[2017-02-14 09:20] #10539 closed

[2017-02-14 12:19] shobhitsharma commented on #10596
Its pretty new library and I havent promoted it that much. But since jsdelivr merged my pull, I no longer need cdnjs.

[2017-02-14 13:25] hare1039 commented on #10526
Close due to no response.

[2017-02-14 13:25] #10526 closed

[2017-02-14 13:54] AndrosovIgor opened #10625 "[Request] Add @angular"
@angular
https://github.com/angular/angular
npm install @angular/***
https://angular.io/

[2017-02-14 14:54] #6745 closed

[2017-02-14 15:40] MonsieurV opened #10627 "[Request] Add ImageMapster"
**Library name:** ImageMapster
**Git repository url:** https://github.com/jamietre/imagemapster
**npm package url(optional):** -
**License(s):** MIT
**Official homepage:** http://www.outsharked.com/imagemapster/
**Wanna say something? Leave message here:** Would be handy!

(I can prepare a PR in the following days if that helps)

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty

[2017-02-14 22:21] Svish opened #10628 "[Request] Add knockout-dragdrop"
**Library name:** knockout-dragdrop
**Git repository url:** https://github.com/One-com/knockout-dragdrop
**npm package url(optional):** knockout-dragdrop
**License(s):** BSD
**Official homepage:** https://github.com/One-com/knockout-dragdrop

Details plucked from the GitHub README 🙂

[2017-02-14 23:37] ManzDev commented on #10622
Oh... I think that you're right.  I had not noticed :/

[2017-02-15 01:51] Alex-D commented on #7609
What's up here?

[2017-02-15 02:24] semul opened #10629 "[Request] mazedigital/Web-Ticker"
**Library name: mazedigital/Web-Ticker**
**Git repository url: https://github.com/mazedigital/Web-Ticker**
**npm package url(optional):**  https://www.npmjs.com/package/webticker
**License(s): https://github.com/mazedigital/Web-Ticker/blob/master/license.md**
**Official homepage: https://maze.digital/webticker/**
**Wanna say something? Leave message here:**

=====================
Notes from cdnjs

[2017-02-15 05:58] maruilian11 commented on #10625
hi @AndrosovIgor , Is this lib on npm package? could you please provide the url? thank you!

[2017-02-15 07:46] simov opened #10630 "Three.js isn't loading"
No idea if that's the place for support tickets, but still this isn't wokring:
https://cdnjs.cloudflare.com/ajax/libs/three.js/r45/Three.min.js
![cdnjs](https://cloud.githubusercontent.com/assets/1694112/22965135/c0612ed8-f364-11e6-8752-d4fa0e1df6cd.png)

[2017-02-15 11:28] VladimAnton opened #10632 "cdnjs"
**Library name:**
**Git repository url:**
**npm package url(optional):**
**License(s):**
**Official homepage:**
**Wanna say something? Leave message here:**

=====================
Notes from cdnjs maintainer:
Please read the README.md and CONTRIBUTING.md document first.

You are welcome to add a library via sending pull request,
it'll be faster than just opening a request issue,
and please don't f

[2017-02-15 11:28] PeterDaveHello commented on #10632
@VladimAnton Any detail please?

[2017-02-15 13:06] maruilian11 commented on #10619
@PeterDaveHello I tried to minify this lib `js` file, but its payload is too large. Do we add this lib without minified file?

[2017-02-15 13:07] PeterDaveHello commented on #10619
@maruilian11 What do you mean too large?

[2017-02-15 13:08] maruilian11 commented on #10621
@bukik07 We'll close this issue if there is no response in next 7 days. Thanks.

[2017-02-15 13:17] maruilian11 commented on #10619
I get this message after using `web-minify-helper`:
[code]
I tried to use `uglifyjs` command to minify it, but still run out of memory.

[2017-02-15 13:28] PeterDaveHello commented on #10619
@maruilian11 Tried some other minify tool or increased nodejs memory limit?

[2017-02-15 13:55] boomb opened #10633 "[Request] Add _library_name_"
**Library name:**
**Git repository url:**
**npm package url(optional):**
**License(s):**
**Official homepage:**
**Wanna say something? Leave message here:**

=====================
Notes from cdnjs maintainer:
Please read the README.md and CONTRIBUTING.md document first.

You are welcome to add a library via sending pull request,
it'll be faster than just opening a request issue,
and please don't f

[2017-02-15 17:51] shinoamakusa opened #10634 "Update fancyBox to patch 2.1.6 ?"
@PeterDaveHello,
Hi, I was wondering if fancyBox could be updated to patched version 2.1.6 (it is basically 2.1.5 with small patch, but the creator did not change version to 2.1.6 and to make all worse on npm it is listed as 3.0.0 where its just 2.1.5 with small patch)? https://github.com/fancyapps/fancyBox/releases

[2017-02-15 17:53] PeterDaveHello commented on #10634
I don't get it, isn't it v2.1.6 on the url you provide? So I think we should just add v2.1.6?

[2017-02-15 18:00] #9992 closed

[2017-02-15 18:02] #10129 closed

[2017-02-15 18:14] PeterDaveHello commented on #10621
Let's directly close fully empty issue.

[2017-02-15 18:14] #10621 closed

[2017-02-15 18:15] PeterDaveHello commented on #10633
Close empty issue.

[2017-02-15 18:15] #10633 closed

[2017-02-15 18:15] #10634 closed

[2017-02-15 18:17] shinoamakusa commented on #10634
Yes, I guess just add 2.1.6 and there is also 3.0 version branch which has not been officially released yet but it there at at version 3.0.22 now - https://github.com/fancyapps/fancyBox/tree/3.0

[2017-02-15 18:21] PeterDaveHello commented on #10634
@shinoamakusa v2.1.6 added

[2017-02-15 18:21] PeterDaveHello commented on #10634
@shinoamakusa btw the directory/file structure changed

[2017-02-15 18:36] nrayapati commented on #10129
Thanks everyone for working this issue. @sufuf3 @PeterDaveHello

[2017-02-15 18:37] PeterDaveHello commented on #10129
@nrayapati You're welcome.

[2017-02-15 18:40] hare1039 commented on #10554
Close due to no response.

[2017-02-15 18:40] #10554 closed

[2017-02-15 18:50] shinoamakusa commented on #10634
Is it possible to include also 3.0 version branch which has not been officially released yet but it is there at version 3.0.22 now at separate git branch- https://github.com/fancyapps/fancyBox/tree/3.0 - http://fancyapps.com/fancybox/3/ or wait till he merges it with master after release?

[2017-02-15 18:50] PeterDaveHello commented on #10634
@shinoamakusa of course not, why should we host a version which is under development and not released

[2017-02-15 18:53] hare1039 commented on #10622
@PeterDaveHello What should we do next to this kind of issue that a requested library cannot be add?

[2017-02-15 18:54] PeterDaveHello commented on #10622
I think we should just close it now.

[2017-02-15 18:54] #10622 closed

[2017-02-15 22:10] YeisonVelez11 opened #10635 "[Request]Add bootstrap_modify_Accordion"
**:**
**Git repository url:**
**npm package url(optional):**
**License(s):**
**Official homepage:**
**Wanna say something? Leave message here:**

=====================
Notes from cdnjs maintainer:
Please read the README.md and CONTRIBUTING.md document first.

You are welcome to add a library via sending pull request,
it'll be faster than just opening a request issue,
and please don't forget to rea

[2017-02-16 01:33] zaclummys opened #10636 "[Request] Add gesco"
**Library name:** gesco
**Git repository url:** https://github.com/zaclummys/gesco
**npm package url(optional):** https://www.npmjs.com/package/gesco
**License(s):** MIT
**Official homepage:** https://github.com/zaclummys/gesco#readme
**Wanna say something? Leave message here:**

=====================
Notes from cdnjs maintainer:
Please read the README.md and CONTRIBUTING.md document first.

You a

[2017-02-16 03:05] btakita opened #10637 "IE parse issues for fetch v2.0.2 fetch.min.js"
https://github.com/github/fetch/issues/477

https://cdnjs.cloudflare.com/ajax/libs/fetch/2.0.2/fetch.js has

[code]

https://cdnjs.cloudflare.com/ajax/libs/fetch/2.0.2/fetch.min.js has

`n.prototype.delete=function(t){delete this.map[e(t)]}`

[2017-02-16 04:40] talonbragg opened #10638 "[Request] Mr.Node"
**Library name: mrnode**
**Git repository url: https://github.com/talonbragg/Mr.Node.git**
**npm package url(optional): https://npmjs.org/package/mrnode**
**License(s): MIT**
**Official homepage: https://mrnode.tk**
**Wanna say something? Leave message here:**
Please email the CDN to pvpgamecrash@gmail.com.
=====================
Notes from cdnjs maintainer:
Please read the README.md and CONTRIBUTI

[2017-02-16 05:27] Piicksarn commented on #8781
@maruilian11, @cdnjs/intern2,
Would you mind to help me add the lib?
The library uses multiple licenses : **LGPL-3.0, MPL-2.0, GPL-3.0+**, which are confirmed from the author.
Thank you a lot!!!

[2017-02-16 06:23] sajochiu opened #10639 "[Request] Add typogr.js"
**Library name:** typogr.js
**Git repository url:** https://github.com/ekalinin/typogr.js
**npm package url(optional):** https://www.npmjs.com/package/typogr
**License(s):** MIT
**Official homepage:** https://github.com/ekalinin/typogr.js
@x09326, please help me review this, thanks!

[2017-02-16 06:32] maruilian11 commented on #10632
@VladimAnton This issue will be closed if there is no response in next 7 days. Thanks.

[2017-02-16 07:24] maruilian11 commented on #8781
@cdnjs/intern2

[2017-02-16 09:47] PeterBot opened #10641 "[Build failed] Got error while building meta data/artifact"
Dear all,

Our build process just got an error while building the meta data/artifact of cdnjs project, our [website and api](https://github.com/cdnjs/new-website) may not be as new as our repository, however, the cdn service will not been affected, you can still use it, and modify the library name, version number and filename in the url can help you access all the content on cdnjs, we will fix the

[2017-02-16 09:48] #10641 closed

[2017-02-16 10:02] PeterDaveHello commented on #10637
Since GitHub didn't provide the minified distribution file officially, the file was minified by [uglify-js](https://github.com/mishoo/UglifyJS2), I'll suggest you to report the issue directly to uglify-js, and maybe suggest GitHub to provide officially minified release file.

cc authors: @josh @mislav @dgraham

[2017-02-16 10:03] PeterDaveHello commented on #10221
Any updates?

[2017-02-16 10:38] #10318 closed

[2017-02-16 10:44] #9588 closed

[2017-02-16 10:50] mislav commented on #10637
It's likely that the minification process with `uglify-js` needs an extra flag like `--support-ie8` to opt-in for legacy IE support.

Yes, we don't provide an official minified file. Instead, we delegate minification to our users and other systems that re-distribute our library. What that means is that _they_ choose the tools and the parameters for minification based on their needs. We can't tell

[2017-02-16 11:03] PeterDaveHello commented on #10637
Hi @mislav , thank you very much for your help and explanation, I jut wondering if it's possible to provide officially minified file? So that we make have more confidence on its integrity by its hash or SRI(https://developer.mozilla.org/en-US/docs/Web/Security/Subresource_Integrity), thanks!

[2017-02-16 11:12] PeterDaveHello commented on #10632
Directly close empty issue.

[2017-02-16 11:12] #10632 closed

[2017-02-16 11:30] pvnr0082t commented on #10221
ping @dada0423

[2017-02-16 11:55] albertotorresfoltyn opened #10642 "[Request] Add react-redux-toastr"
**Library name:** react-redux-toastr
**Git repository url:** https://github.com/diegoddox/react-redux-toastr
**npm package url(optional):** react-redux-toastr
**License(s):**
**Official homepage:**
**Wanna say something? Leave message here:**

=====================
Notes from cdnjs maintainer:
You are welcome to add a library via sending pull request,
it'll be faster then just opening a request is

[2017-02-16 14:36] hare1039 commented on #10318
@talonbragg Your library is now on cdnjs!
You can add a badge if you want to [![CDNJS](https://img.shields.io/cdnjs/v/custommarkup.svg)](https://cdnjs.com/libraries/custommarkup/)
`[![CDNJS](https://img.shields.io/cdnjs/v/custommarkup.svg)](https://cdnjs.com/libraries/custommarkup/)`

[2017-02-16 14:43] hare1039 commented on #10635
Hi @YeisonVelez11,
Can you provide more information about the library you want to add like a link to GitHub or npm?

[2017-02-16 14:49] mislav commented on #10637
It's definitely possible for us to provide a minified file when we publish a npm package. But we're not terribly motivated to do so, especially because then people could come up to us and say “but please, enable option X in the minifier because I need that”. The library is already tiny and if anyone needs minification on top of that, they're welcome to do so.

[2017-02-16 15:02] hare1039 commented on #10636
Hi @zaclummys,
We're sorry that we can't host this library since it doesn't have enough notable popularity boundaries we set in the [readme](https://github.com/cdnjs/cdnjs#cdnjs-library-repository) (100 stars on github / npm 500 downloads per month).
As you are the author, I recommend you to discuss with the maintainer of cdnjs, PeterDaveHello, to host this library.

Thanks for being interested in

[2017-02-16 15:11] hare1039 commented on #10568
Close due to no response.

[2017-02-16 15:11] #10568 closed

[2017-02-16 15:14] talonbragg commented on #10318
Thankyou!

[2017-02-16 15:16] hare1039 commented on #10553
Close due to no response.

[2017-02-16 15:16] hare1039 commented on #10564
Close due to no response.

[2017-02-16 15:39] jschug opened #10643 "https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/js/bootstrap.js"
js file now returns a mime/type of image/png.

Same for https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.15/angular.js

[2017-02-16 15:48] PeterDaveHello commented on #10553
@hare1039 you should cc for me if it's non-empty issue.

[2017-02-16 15:48] #10553 closed

[2017-02-16 15:49] PeterDaveHello commented on #10564
Let's host this library.

[2017-02-16 15:53] PeterDaveHello commented on #10596
Hey let's host this library

[2017-02-16 15:54] PeterDaveHello commented on #10596
@shobhitsharma would you like to send us a pull request?

[2017-02-16 15:59] PeterDaveHello commented on #10637
Thanks @mislav, so I think there is nothing we can do on this issue, I'll close it now, thanks.

[2017-02-16 15:59] #10637 closed

[2017-02-16 16:06] #9971 closed

[2017-02-16 17:00] webuniverseio opened #10644 "[Request] Add ResponsifyJS"
**Library name:** ResponsifyJS
**Git repository url:** https://github.com/wentin/ResponsifyJS/
**License(s):** MIT
**Official homepage:** http://responsifyjs.space/

=====================
Notes from cdnjs maintainer:
Please read the README.md and CONTRIBUTING.md document first.

You are welcome to add a library via sending pull request,
it'll be faster than just opening a request issue,
and please

[2017-02-16 19:44] trombini77 opened #10646 "[Request] Add jQuery.BgSwitcher"
**Library name: jQuery.BgSwitcher**
**Git repository url: http://github.com/rewish/jquery-bgswitcher**
**npm package url(optional):**
**License(s): MIT**
**Official homepage: http://rewish.github.io/jquery-bgswitcher/**
**Wanna say something? Leave message here:**

=====================
Notes from cdnjs maintainer:
Please read the README.md and CONTRIBUTING.md document first.

You are welcome to a

[2017-02-16 21:05] shobhitsharma commented on #10596
@PeterDaveHello Thanks for the response. I'll send a pull tonight.

[2017-02-16 21:19] PeterDaveHello commented on #10596
@shobhitsharma Nice, thanks. BTW, sice the repo is really huge, I will respectfully suggest you to read our doc first, please feel free to ask for help if you need, thank you.

[2017-02-16 22:39] edlinklater opened #10647 "[Request] Add vue-chartjs"
**Library name:** vue-chartjs
**Git repository url:** https://github.com/apertureless/vue-chartjs
**npm package url(optional):** https://www.npmjs.com/package/vue-chartjs
**License(s):** MIT
**Official homepage:** https://github.com/apertureless/vue-chartjs
**Wanna say something? Leave message here:**

=====================
Notes from cdnjs maintainer:
You are welcome to add a library via sending

[2017-02-17 06:32] #9973 closed

[2017-02-17 11:12] netmonster2 opened #10648 "[Request] Add wgxpath library"
**Library name:** wgxpath
**Git repository url:** https://github.com/google/wicked-good-xpath
**npm package url(optional):** https://www.npmjs.com/package/wgxpath
**License(s):** MIT License
**Official homepage:** https://github.com/google/wicked-good-xpath

=====================
Notes from cdnjs maintainer:
You are welcome to add a library via sending pull request,
it'll be faster then just openi

[2017-02-17 13:57] maruilian11 commented on #10643
Hi @jschug, Could you tell me more details? Does it cause any problem?

[2017-02-17 14:15] jschug commented on #10643
Hi:

yes, some browsers see the mime type and will not execute it as java script so the page does not work.  I believe was ok the day before as we have been using it for a while.

J

Jonathan Schug
jschug@upenn.edu

[2017-02-17 14:21] jschug commented on #10643
Any idea why the mime type changed?

Jonathan Schug
jschug@upenn.edu

[2017-02-17 14:42] maruilian11 commented on #10643
@PeterDaveHello please take a look.

[2017-02-17 15:39] maruilian11 commented on #9013
close due to no response.

[2017-02-17 15:39] #9013 closed

[2017-02-17 16:03] maruilian11 commented on #9475
@markat1 this issue will be closed if there is no response in next 7 days.

[2017-02-17 16:08] maruilian11 commented on #9883
@PaoloFalomo this issue will be closed if there is no response in next 7 days. thanks.

[2017-02-17 16:10] maruilian11 commented on #9932
close due to no response.

[2017-02-17 16:10] #9932 closed

[2017-02-17 16:12] PaoloFalomo commented on #9883
@maruilian11 ok! I think there's no reply. This library might not be addable. @hare1039 is right.

[2017-02-17 16:14] maruilian11 commented on #10092
@miyaxu please provide the git repo url or npm package url.
this issue will be closed if there is no any response in next 7 days.

[2017-02-17 16:16] maruilian11 commented on #10096
@saikiranmarripati please provide the git repo or npm package url.
this issue will be closed if there is no any response in next 7 days. thanks.

[2017-02-17 16:17] maruilian11 commented on #10125
close due to no response.

[2017-02-17 16:17] #10125 closed

[2017-02-17 16:17] maruilian11 commented on #10142
close due to no response.

[2017-02-17 16:17] #10142 closed

[2017-02-17 16:18] maruilian11 commented on #10191
@p-realinho this issue will be closed if there is no any response in next 7 days. thanks.

[2017-02-17 16:20] maruilian11 commented on #10244
@NewWorldMan this issue will be closed if there is no any response. thanks.

[2017-02-17 16:22] maruilian11 commented on #10264
@galdar0809 please provide the git repo url or npm package url.
this issue will be closed if there is no any response in next 7 days.

[2017-02-17 16:23] maruilian11 commented on #10272
@kennynaoh any update?

[2017-02-17 16:26] maruilian11 commented on #9883
thanks!

[2017-02-17 16:26] #9883 closed

[2017-02-17 16:30] p-realinho commented on #10191
@PeterDaveHello @maruilian11 @clairetsai818
Sorry, I completely forgot to reply.
That's all, you can go ahead and close it.
Thank you for your time.

[2017-02-17 16:30] #10191 closed

[2017-02-17 16:31] bennyn commented on #10272
We (the Logdown team) were asked to maintain a `.min.js` file, which we now do: https://github.com/caiogondim/logdown.js/issues/79 😃

[2017-02-17 17:06] PeterDaveHello commented on #10643
I have no problem:
[code]

@jschug please help provide the response header of the url you have problem with, and also the response your got from these urls, thanks:
https://cdnjs.com/cdn-cgi/trace
https://cdnjs.cloudflare.com/cdn-cgi/trace

[2017-02-17 17:16] jschug commented on #10643
Interesting.  My browser (Chrome on a Mac - Version 56.0.2924.87 (64-bit)) reported this error (in screen shot below) which triggered the complaint.

Here are the responses from curl which are the expected response.  I cleared the cache in Chrome and the problem is gone.  Thanks for your help - sorry for the false alarm.

J

HTTP/1.1 200 OK
Date: Fri, 17 Feb 2017 17:13:05 GMT
Content-Type: applica

[2017-02-17 17:22] #10643 closed

[2017-02-17 17:23] PeterDaveHello commented on #10643
For the urls, I mean the response content, not header, anyway, the problem didn't really exist, no mind.

[2017-02-17 18:54] PeterDaveHello opened #10649 "[Request] Add Vonic"
**Library name:** Vonic
**Git repository url:** https://github.com/wangdahoo/vonic/
**npm package url(optional):** https://www.npmjs.com/package/vonic
**Official homepage:** https://wangdahoo.github.io/vonic/docs/#/

[2017-02-17 18:56] PeterDaveHello opened #10650 "[Request] Add animatelo"
**Library name:** animatelo
**Git repository url:** https://github.com/gibbok/animatelo
**npm package url(optional):** https://www.npmjs.com/package/animatelo
**License(s):** MIT
**Official homepage:** https://gibbok.github.io/animatelo/

[2017-02-17 19:00] PeterDaveHello opened #10651 "[Request] Add gibon"
**Library name:** gibon
**Git repository url:** https://github.com/tunnckoCore/gibon
**npm package url(optional):** https://www.npmjs.com/package/gibon
**License(s):** MIT

For beginners who is interested in picking up this issue:

In this issue, we are going to host a new web front-end library on CDNJS, so that web developer can easily use it on our free CDN without additional download/upload pro

[2017-02-17 19:02] PeterDaveHello opened #10652 "[Request] Add rythm.js"
**Library name:** rythm.js
**Git repository url:** https://github.com/Okazari/Rythm.js
**npm package url(optional):**  https://www.npmjs.com/package/rythm.js
**License(s):** ISC on npm but GPL-3.0, need to be confirmed
**Official homepage:** https://okazari.github.io/Rythm.js/

[2017-02-17 19:04] PeterDaveHello commented on #10652
Hello @Okazari, we'd like to host this super awesome library on CDNJS, is it possible to provide officially pre-built file in the repository with valid git version tag(s) so that we can directly use it? Thank you!

[2017-02-17 19:06] PeterDaveHello opened #10653 "[Request] Add speakemoji"
**Library name:** speakemoji
**Git repository url:** https://github.com/rizalrenaldi/speakemoji
**Official homepage:** https://rizalrenaldi.github.io/speakemoji/

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/42154896-request-add-speakemoji?utm_campaign=plugin&utm_content=tracker%2F32893&utm_medium=issues&utm_source=github)** We ac

[2017-02-17 19:08] PeterDaveHello commented on #10653
Hello @rizalrenaldi, your speakemoji looks very cool, and we'll like to host it on CDNJS, it can help your users use it in a easier way with free and high performance CDN service, and also help you spread your library! Just wanna know that have you decided to use what kind of license for it (we expected any open source license so that we can host and distribute it)? Thanks!

[2017-02-17 23:50] jasonbarry opened #10654 "[Request] Add mapbox-gl"
**Library name:** mapbox-gl
**Git repository url:** https://github.com/mapbox/mapbox-gl-js
**npm package url(optional):** https://www.npmjs.com/package/mapbox-gl
**License(s):** [BSD-3-Clause](https://spdx.org/licenses/BSD-3-Clause)
**Official homepage:** https://www.mapbox.com/mapbox-gl-js/api/

[2017-02-18 03:31] mercyg commented on #10518
@PeterDaveHello Would like to work on this issue

[2017-02-18 04:15] lcd78706 commented on #10165
nanoajax

[2017-02-18 04:20] lcd78706 opened #10655 "[Request] Add nanoajax"
**Library name:** nanoajax
**Git repository url:** https://github.com/yanatan16/nanoajax
**npm package url(optional):** https://www.npmjs.com/package/nanoajax
**License(s):** MIT  [ref](https://github.com/yanatan16/nanoajax/blob/master/LICENSE#L1)
**Official homepage:**

cc #10165

=====================
Notes from cdnjs maintainer:
You are welcome to add a library via sending pull request,
it'll b

[2017-02-18 04:26] lcd78706 opened #10656 "[Request] Add fermata"
**Library name:** fermata
**Git repository url:** https://github.com/natevw/fermata
**npm package url(optional):**  https://www.npmjs.com/package/fermata
**License(s):** MIT [ref](https://github.com/natevw/fermata/blob/master/README.md#mit-license)
**Official homepage:**

cc #10165

=====================
Notes from cdnjs maintainer:
You are welcome to add a library via sending pull request,
it'll

[2017-02-18 04:28] lcd78706 commented on #10211
tslib

[2017-02-18 07:10] mercyg commented on #10518
@PeterDaveHello have made my pull request please review it.

[2017-02-18 08:27] PeterDaveHello commented on #8742
ping @kennynaoh @pvnr0082t , any updates?

[2017-02-18 08:50] weblucaseduardo commented on #10128
hi, Is there anything I can do to speed up this?

[2017-02-18 09:18] pvnr0082t commented on #10128
@weblucaseduardo If you can help us resolve https://github.com/Microsoft/tslib/issues/23 and https://github.com/Microsoft/tslib/issues/24, it will be really good! Thanks. :smile:

[2017-02-18 10:51] Okazari commented on #10652
Hello ! Thanks for your interest.

I published a tag v1.2.3 on my repository. There is actually no such things as a build in my library (i'll probably add this soon). The only file needed in my package is the "rythm.js" one at the project root.

Tell me if you need more information.

[2017-02-18 12:54] x09326 commented on #10655
@lcd78706 please add this library, thanks

[2017-02-18 12:55] x09326 commented on #10656
@lcd78706
please add this library, thanks.

[2017-02-18 13:03] PeterDaveHello commented on #10652
Thanks @Okazari, will let you know that if there is anything else we need.

[2017-02-18 13:14] #10237 closed

[2017-02-18 13:19] #9909 closed

[2017-02-18 13:22] #10263 closed

[2017-02-18 13:35] Flyer53 opened #10658 "[Request][author] Add jsPanel"
**Library name:** jsPanel
**Git repository url:** https://github.com/Flyer53/jsPanel
**npm package url(optional):** https://www.npmjs.com/package/jspanel
**License(s):** MIT
**Official homepage:** http://jspanel.de/
+ GitHub / Bitbucket popularity (required):
  + Count of stars: 137
  + Count of watchers: 24
  + Count of forks: 53
+ NPM download stats (optional):
  + Downloads in the last day: 0

[2017-02-18 14:26] maruilian11 commented on #10272
@bennyn thank you~ But there are lots of libs waiting to be added, It may takes some time to add this one. Sorry for that 😓

[2017-02-18 15:59] Okazari commented on #10652
FYI i just published a v1.2.4 tag and the pre-built file is now `src/rythm.js`

[2017-02-18 16:33] rgbskills opened #10659 "[Request] Add Vue.Draggable"
**Library name: Vue.Draggable**
**Git repository url: https://github.com/SortableJS/Vue.Draggable**
**npm package url(optional):**
**License(s): MIT**
**Official homepage: https://github.com/SortableJS/Vue.Draggable**
**Wanna say something? Leave message here:**

=====================
Notes from cdnjs maintainer:
Please read the README.md and CONTRIBUTING.md document first.

You are welcome to add

[2017-02-18 19:09] PeterDaveHello opened #10660 "[Bounty] Write readme document of "tools" [$10]"
[![Bountysource](https://api.bountysource.com/badge/issue?issue_id=42184483)](https://www.bountysource.com/issues/42184483-write-readme-document-of-tools?utm_source=42184483&utm_medium=shield&utm_campaign=ISSUE_BADGE)

https://github.com/cdnjs/cdnjs/tree/master/tools

<bountysource-plugin>

---
There is a **[$10 open bounty](https://www.bountysource.com/issues/42184483-bounty-write-readme-document

[2017-02-18 19:11] PeterDaveHello commented on #9131
Move to #10658

[2017-02-18 19:11] #9131 closed

[2017-02-18 19:13] PeterDaveHello commented on #10658
I think we can directly move jsPanel3 to jsPanel, and just use symbolic link to link it back.

[2017-02-18 19:18] PeterDaveHello opened #10661 "Handle the moved/renamed libraries."
We use symbolic link to link the old one to the new one:

[code]

So that the url to the assets won't be broken, how ever, there is no any mark to record this info, then we can not maintain the website to support this kind of info.

Should handle it in `build/packages.json.js`, save the info to website repository, and let the website app handle it, to keep the old page alive, but a message to let

[2017-02-18 20:20] rizalrenaldi commented on #10653
Hi @PeterDaveHello, yes I'd love to add speakemoji to cdnjs. But honestly I'm totally clueless about how this things work :) *sorry* I'm not a programmer/coder at all so please bear with me and let me learn how cdnjs works :D

About the license I prefer to use CC ND 4.0 (http://creativecommons.org/licenses/by-nd/4.0/)

[2017-02-18 20:30] PeterDaveHello opened #10662 "New maintainers of CDNJS"
To keep an open source project alive and keep moving forward, the maintainers of the project really matter 💪 , I've started the training program at CDNJS for almost 2 years, to help students 👨‍🎓 👩‍🎓  learn about linux(mostly Ubuntu), free and open source project contribution, version control system, web related techs, etc, and they just do the practice/homework to valid what they learn via contrib

[2017-02-18 21:01] PeterDaveHello commented on #10653
@rizalrenaldi thanks for your reply and being interested in CDNJS, it's totally not a need to say sorry, we're happy to help individual developer like you and me to make their project better, I'm glad that you have idea about the license, not only for CDNJS, to help your library spreading, it'll be great to get started from adding a `package.json` as an ID card of `speakemoji`, most of the famous

[2017-02-19 10:42] PeterDaveHello opened #10663 "[Request] Update jquery-mobile"
v1.5.0-alpha.1 released for a while but we only update to v1.4.5
https://cdnjs.com/libraries/jquery-mobile

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/42197439-request-update-jquery-mobile?utm_campaign=plugin&utm_content=tracker%2F32893&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.boun

[2017-02-19 10:44] dakshshah96 commented on #10651
I'd like to take this one up since it's beginner-friendly if that's fine 😅

[2017-02-19 10:49] PeterDaveHello commented on #10651
@dakshshah96 Great! Feel free to ask for help if you need!

[2017-02-19 11:00] dakshshah96 commented on #10651
@PeterDaveHello I've created the fork on my profile.

Seems like there are [3 releases](https://github.com/tunnckoCore/gibon/releases) till date so the three folders will be located at `ajax/libs/gibon/0.3.0`, `ajax/libs/gibon/0.3.1` and `ajax/libs/gibon/0.3.2`.

When I took a look at the [Gibon repository](https://github.com/tunnckoCore/gibon) though, I'm confused about which files from that shou

[2017-02-19 11:10] PeterDaveHello commented on #10651
I think we'll only need to add the files under `dist` folder but exclude the gz file 😄
I'll let @pvnr0082t @maruilian11 help you on this issue

[2017-02-19 11:14] anishoimsi1 opened #10664 "[Request] Add _library_name_"
**Library name:**
**Git repository url:**
**npm package url(optional):**
**License(s):**
**Official homepage:**
**Wanna say something? Leave message here:**

=====================
Notes from cdnjs maintainer:
Please read the README.md and CONTRIBUTING.md document first.

You are welcome to add a library via sending pull request,
it'll be faster than just opening a request issue,
and please don't f

[2017-02-19 12:12] lovasoa opened #10665 "[Request] Add color-tags"
**Library name:** color-tags

**Git repository url:** https://github.com/mazondo/color-tags

**npm package url(optional):**
**License(s):** none
**Official homepage:**
**Wanna say something? Leave message here:**

=====================
Notes from cdnjs maintainer:
You are welcome to add a library via sending pull request,
it'll be faster then just opening a request issue,
and please don't forget t

[2017-02-19 13:17] hare1039 commented on #10664
Close due to empty issue.

[2017-02-19 13:17] #10664 closed

[2017-02-19 13:20] hare1039 commented on #10665
Hi @lovasoa,
We're sorry that we can't host this library since it doesn't have enough notable popularity(100 stars on github / npm 500 downloads per month). If you think we really need to host it, please contact PeterDaveHello, the maintainer of cdnjs.

Feel free to show some other references if you have something else want to discuss with us. If there is no response in next 7 days, this issue wil

[2017-02-19 14:15] Flyer53 commented on #10658
Sounds good to me :)
I really appreciate your work very much. Thanks a lot!
I have to admit that my knowledge about npm, git and the like is just enough to get my own GitHub repo going ...

[2017-02-19 15:05] hare1039 commented on #10178
@pvnr0082t What should we do if naming that includes version number like `supersized.core.3.2.1.js`?

[2017-02-19 15:27] hare1039 commented on #10652
@PeterDaveHello Which file source is better: npm or GitHub ?

[2017-02-19 15:32] PeterDaveHello commented on #10178
@hare1039 manually change them of old versions, contact with author to discuss about the possiblity to remove them

[2017-02-19 15:37] hare1039 commented on #10223
@helantao This issue will close if no response in next 7 days.

[2017-02-19 16:45] PeterDaveHello commented on #10658
No worries at all @Flyer53

[2017-02-19 16:46] PeterDaveHello commented on #10652
Then you have the answer

[2017-02-19 19:35] Okazari commented on #10652
Since in v1.2.5 the `src/rythm.js` file will be using ES6. Do you still need the prebuilt version ? Will you take care of transpiling to ES5/umd ?

[2017-02-19 20:17] PeterDaveHello commented on #10652
@Okazari yes we'll need it, we don't handle the transpiling, so will also need your help, thanks!

[2017-02-19 20:23] Okazari commented on #10652
If you can take files from npm. i'll always provide a "prebuilt" version on root as `rythm.js`

PS : I was just missunderstanding "prebuilt"  (was reading it as "before build" instead of "already built", MB)

[2017-02-19 20:32] PeterDaveHello commented on #10652
@Okazari maybe we just the wrong word, btw, would you consider to provide it inside a dist folder, and provide with minified file and map file? Thanks.

[2017-02-19 20:59] Okazari commented on #10652
Working on it.
Atm you can use v1.2.3 with "rythm.js" on root folder.
I'll tell you when v1.2.5 is ready.
Not sure about the dist folder, since people currently import it from root and it would be a breaking change (Or gonna do a v2.0.0 providing minified file 🤔)

[2017-02-20 04:45] cvdeveloper13 opened #10667 "[Request] Add Reactive Elements"
**Library name:** Reactive Elements
**Git repository url:** https://github.com/PixelsCommander/ReactiveElements
**npm package url(optional):** https://www.npmjs.com/package/reactive-elements
**License(s):** MIT
**Official homepage:** https://github.com/PixelsCommander/ReactiveElements
**Wanna say something? Leave message here:**

=====================
Notes from cdnjs maintainer:
Please read the R

[2017-02-20 05:21] btakita commented on #10637
@mislav FYI, I was testing this on IE11.

[2017-02-20 06:46] #10212 closed

[2017-02-20 08:57] Flyer53 commented on #10658
In case you decide to host jsPanel versions < 3 as well I started to prepare a zip archive with subfolders for each version. Basically to ensure that only the necessary files are included and that js/css files are properly minified (some of the GitHub downloads don't have a minified css). Maybe that saves you some work?

[2017-02-20 09:31] roccomuso opened #10668 "[Request] Add Tilt.js"
Name: **Tilt.js**
Github repo: **https://github.com/gijsroge/tilt.js**
Npm Package: **https://www.npmjs.com/package/tilt.js**
License: **MIT**
Official Homepage: **http://gijsroge.github.io/tilt.js/**

[2017-02-20 10:40] optiroot opened #10669 "[Request] Add custombox"
**Library name:** custombox
**Git repository url:** https://github.com/dixso/custombox/
**npm package url(optional):** https://www.npmjs.com/package/custombox
**License(s):** MIT
**Official homepage:** http://dixso.github.io/custombox/
**Wanna say something? Leave message here:**

I'm not the author of the plugin, but
This is a great jQuery plugin, with over 490 stars and 220 commits. I think it s

[2017-02-20 10:42] clairetsai818 commented on #10212
close due to no response

[2017-02-20 10:53] Flyer53 commented on #10658
And here is the zip archive with all jspanel versions 1.x and 2.x
[jspanel-versions-1.x-and-2.x.zip](https://github.com/cdnjs/cdnjs/files/787206/jspanel-versions-1.x-and-2.x.zip)

[2017-02-20 15:00] luo820802 opened #10670 "[Request] Add shower"
**Library name:** shower
**Git repository url:** https://github.com/shower/shower
**npm package url(optional):** https://www.npmjs.com/package/shower-core
**License(s):** MIT License
**Official homepage:** https://shwr.me/
**Wanna say something? Leave message here:**

=====================
Notes from cdnjs maintainer:
You are welcome to add a library via sending pull request,
it'll be faster then

[2017-02-20 15:44] paulhodel opened #10671 "[Request] jExcel"
jExcel
http://github.com/paulhodel/jexcel
MIT
http://bossanova.uk/jexcel

=====================
Notes from cdnjs maintainer:
Please read the README.md and CONTRIBUTING.md document first.

You are welcome to add a library via sending pull request,
it'll be faster than just opening a request issue,
and please don't forget to read the guidelines for contributing, thanks!!

[2017-02-20 16:53] ironprice91 commented on #10499
@PeterDaveHello I'd like to give this a shot if that's ok?

[2017-02-20 20:14] talonbragg commented on #10638
Can somebody please look at this?

[2017-02-20 20:15] antoniojps opened #10672 "[Request] Add Typewriterjs"
**Library name:** Typewriterjs
**Git repository url:** https://github.com/tameemsafi/typewriterjs
**License(s):** MIT
**Official homepage:** https://safi.me.uk/typewriterjs/

[2017-02-20 20:27] PeterDaveHello commented on #10638
You are welcome to add a library via sending pull request, it'll be faster than just opening a request issue, since there are tons of issues, please wait with patience, thanks.

[2017-02-20 21:26] PeterDaveHello commented on #10499
@ironprice91 of course! If you have any problem, @maruilian11 will help you here.

[2017-02-20 21:28] PeterDaveHello commented on #10652
@hare1039 let's get started to add this lib.

[2017-02-20 21:30] PeterDaveHello commented on #10658
Thanks for the info, we'll get started soon.

[2017-02-20 21:43] ironprice91 commented on #10499
Thanks @PeterDaveHello

@PeterDaveHello @maruilian11 - Pull request can be found here https://github.com/cdnjs/cdnjs/pull/10673

Please let me know if I have to update, thanks

[2017-02-20 21:50] PeterDaveHello commented on #10671
Hi @paulhodel,

Thanks for suggestion, however, this library doesn't have enough notable popularity(like more than 100 stars on GitHub or 500 downloads per month on npm). please take a look on our [README.md](https://github.com/cdnjs/cdnjs/blob/master/README.md) for detail, it's always good to read the document before open an issue, I'll respectfully suggest you to open a new issue again when the

[2017-02-21 00:01] PeterDaveHello opened #10674 "[Request] Add leaflet.groupedlayercontrol"
**Library name:** leaflet.groupedlayercontrol
**Git repository url:** https://github.com/ismyrnow/Leaflet.groupedlayercontrol
**License (List them all if it's multiple):** MIT

For beginners who is interested in picking up this issue:

In this issue, we are going to host a new web front-end library on CDNJS, so that web developer can easily use it on our free CDN without additional download/upload

[2017-02-21 00:03] PeterDaveHello opened #10675 "[Request] Add lamb"
**Library name:** lamb
**Git repository url:** https://github.com/ascartabelli/lamb
**npm package name or url** (if there is one): https://www.npmjs.com/package/lamb
**License (List them all if it's multiple):** MIT
**Official homepage:**  https://ascartabelli.github.io/lamb/

For beginners who is interested in picking up this issue:

In this issue, we are going to host a new web front-end library

[2017-02-21 00:05] PeterDaveHello opened #10676 "[Request] Add jclic.js"
**Library name:** jclic
**Git repository url:** https://github.com/projectestac/jclic.js
**npm package name or url** : https://www.npmjs.com/package/jclic
**License:** EUPL-1.1
**Official homepage:** https://projectestac.github.io/jclic.js/

For beginners who is interested in picking up this issue:

In this issue, we are going to host a new web front-end library on CDNJS, so that web developer can

[2017-02-21 03:02] hare1039 commented on #10593
Close due to no response in 7 days. cc @PeterDaveHello

[2017-02-21 03:03] hare1039 commented on #10591
Close due to no response and empty issue.

[2017-02-21 03:03] #10591 closed

[2017-02-21 08:45] marthieme opened #10680 "[Request] Add chartjs-plugin-zoom.js"
**Library name:** chartjs-plugin-zoom.js
**Git repository url:**  https://github.com/chartjs/chartjs-plugin-zoom
**npm package name or url** (if there is one): chartjs-plugin-zoom
**License (List them all if it's multiple):** MIT
**Official homepage:**
**Wanna say something? Leave message here:**

=====================

Notes from cdnjs maintainer:
Please read the [README.md](https://github.com/cd

[2017-02-21 09:00] hare1039 commented on #10680
Hi @marthieme,
We're sorry that we can't host this library since it doesn't have enough notable popularity(100 stars on github / npm 500 downloads per month). If you think we really need to host it, please contact PeterDaveHello, the maintainer of cdnjs.

Feel free to show some other references if you have something else want to discuss with us. If there is no response in next 7 days, this issue w

[2017-02-21 09:13] animeshsinghweb opened #10681 "[Request] Add jquery-form-observe"
**Library name:** jquery-form-observe
**Git repository url:**
**npm package url(optional):**
**License(s):**
**Official homepage:**
**Wanna say something? Leave message here:**
Just found:
https://code.google.com/archive/p/jquery-form-observe/downloads

=====================
Notes from cdnjs maintainer:
You are welcome to add a library via sending pull request,
it'll be faster then just opening a

[2017-02-21 14:52] kevindb opened #10683 "Moved lib jquery-form"
https://cdnjs.com/libraries/jquery.form
The [jquery-form](https://github.com/jquery-form/form) project has changed ownership.

I'm not sure what the best practice is to update the library. The canonical URL should probably change to `https://cdnjs.com/libraries/jquery-form`, but I don't want to break existing links that are pointing to `jquery.form`. Is there anything cleaner than "list the librar

[2017-02-21 18:17] hare1039 commented on #10652
Hi @Okazari,
About the license, would you confirm which license this library is using?

Thanks!

[2017-02-21 18:45] amit116 opened #10685 "[Request] Add https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
**Library name:** https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css
**Git repository url:**
**npm package name or url** (if there is one):
**License (List them all if it's multiple):**
**Official homepage:**
**Wanna say something? Leave message here:**

=====================

Notes from cdnjs maintainer:
Please read the [README.md](https://github.com/cdnjs/cdnjs#cd

[2017-02-21 18:49] Okazari commented on #10652
the mistake is in the package.json, the licence is GPL3

[2017-02-21 19:24] PeterDaveHello commented on #10652
@Okazari Thanks

[2017-02-22 03:16] hare1039 commented on #10681
@PeterDaveHello How do we evaluate popularity from google code?

[2017-02-22 03:23] hare1039 commented on #10685
Hi @amit116,
Our [font-awesome](https://cdnjs.com/libraries/font-awesome) library have latest version.
What else can we help you?

Note this issue will close if no response in 7 days.

[2017-02-22 03:23] pedrohills opened #10687 "[Request] Add angular2-disqus"
**Library name:** angular2-disqus
**Git repository url:** https://github.com/Useful-Software-Solutions-Ltd/angular2-disqus
**npm package name or url** (if there is one): https://www.npmjs.com/package/angular2-disqus
**License (List them all if it's multiple):** MIT
**Official homepage:** https://github.com/Useful-Software-Solutions-Ltd/angular2-disqus
**Wanna say something? Leave message here:**

[2017-02-22 04:45] ron666 opened #10688 "`mediaelement-plugins` not showing latest version"
I upgraded the `mediaelement-plugins` repo to the next version, but I don't see it reflected here.

[2017-02-22 05:29] hare1039 commented on #10688
Hi @ron666,
Our bot update to `1.2.0` 2 hours ago. Anything we can help you more?

[2017-02-22 05:33] hare1039 commented on #10687
Hi @pedrohills,
We're sorry that we can't host this library since it doesn't have enough notable popularity (100 stars on github / npm 500 downloads per month). If you think this is a great library we should include to our service, please contact PeterDaveHello, the maintainer of cdnjs.

Feel free to show some other references if you have something else want to discuss with us. If there is no resp

[2017-02-22 06:53] #8398 closed

[2017-02-22 07:03] PeterDaveHello commented on #10489
Close duplicated issue ...

[2017-02-22 07:03] PeterDaveHello commented on #10489
Ping @clairetsai818

[2017-02-22 07:04] PeterDaveHello commented on #10489
@sufuf3 any updates here?

[2017-02-22 07:10] PeterDaveHello commented on #10593
@hare1039 isn't this a response? https://github.com/cdnjs/cdnjs/issues/10593#issuecomment-279193334

[2017-02-22 07:10] PeterDaveHello commented on #10593
The popularity on npm looks close the the requirement.

[2017-02-22 07:20] #10518 closed

[2017-02-22 07:24] #10652 closed

[2017-02-22 07:29] #10565 closed

[2017-02-22 07:40] PeterDaveHello commented on #10681
There is "star" here: https://code.google.com/archive/p/jquery-form-observe/

but Google code is shutdown for a while, this is an archive site, we need some other reliable source.

[2017-02-22 10:04] izikf89 opened #10689 "jqurey"
**Library name:**
**Git repository url:**
**npm package name or url** (if there is one):
**License (List them all if it's multiple):**
**Official homepage:**
**Wanna say something? Leave message here:**

=====================

Notes from cdnjs maintainer:
Please read the [README.md](https://github.com/cdnjs/cdnjs#cdnjs-library-repository) and [CONTRIBUTING.md](https://github.com/cdnjs/cdnjs/blob/m

[2017-02-22 10:05] PeterDaveHello commented on #10689
@izikf89 Is there any detail? Jquery is already on CDNJS.

[2017-02-22 10:26] anteriovieira commented on #10593
I would be happy if this package could be added : )

[2017-02-22 10:29] PeterDaveHello commented on #10593
@anteriovieira would you like to send a pull request?

[2017-02-22 10:38] anteriovieira commented on #10593
Yes, I really would like it.

[2017-02-22 10:40] PeterDaveHello commented on #10593
@anteriovieira Nice

[2017-02-22 11:13] ron666 commented on #10688
I have updated my package.json to reflect the next version is there something else I need to do?

[2017-02-22 11:13] ron666 commented on #10688
I checked again and I still see 1.1.0 as the latest version

[2017-02-22 11:38] ron666 commented on #10688
Update: I don't see the `1.2.0` in your search engine, but if I type anything in the address bar with `1.2.0`, I can find them. Did I miss anything in order to make it display on the search engine?
<img width="795" alt="screen shot 2017-02-22 at 6 36 55 am" src="https://cloud.githubusercontent.com/assets/910829/23209921/579d2068-f8c9-11e6-8736-1de962f897c2.png">
<img width="1115" alt="screen shot

[2017-02-22 11:40] PeterDaveHello commented on #755
@thakurpunk sorry for the late reply, would you please give us the url(s) you have problem (few examples)?

[2017-02-22 12:50] kevindb commented on #10683
I don't know if it matters, but npm has been updated with the new repo URL and is now up-to-date with version 4.0.1.
https://www.npmjs.com/package/jquery-form

[2017-02-22 14:17] Snawoot commented on #10565
Thank you!

[2017-02-22 14:26] ron666 commented on #10688
Content cached. After forced refresh, I could see the new version. Thanks for your help!

[2017-02-22 14:26] #10688 closed

[2017-02-22 14:50] #10575 closed

[2017-02-22 15:18] extend1994 commented on #9525
@pvnr0082t the author added the tag five days ago!

[2017-02-22 16:16] PeterDaveHello opened #10690 "Commit message format check in CI and hooks"
At least to check few points:
 - Use the imperative mood in the fist(subject) line
 - The second line should be empty
 - Wrap commit message (72 chars) from third line

For the fist line, as there are some libs with longer name, we may allow to have more than 50 chars but within 72 chars.

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/iss

[2017-02-22 17:12] clairetsai818 commented on #10463
close due to no response, cc @PeterDaveHello

[2017-02-22 17:49] pvnr0082t commented on #9525
@extend1994 Thanks for reminding

[2017-02-22 19:02] flexicious opened #10692 "[Request] Add Flexicious React DataGrid"
**Flexicious React DataGrid:**
**https://github.com/flexicious/react-datagrid**
**https://www.npmjs.com/package/flexicious-react-datagrid** (if there is one):
**Commercial**
**http://www.reactdatagrid.com/**
**Would like to host the React DataGrid component developed by our company.**

=====================

[2017-02-22 21:58] extend1994 commented on #9101
Duplicate with #9771, and pull request is #10153

[2017-02-22 22:31] daniely opened #10695 "[Request] Add vue-paginate"
**Library name:** vue-paginate
**Git repository url:** https://github.com/TahaSh/vue-paginate
**npm package name or url** (if there is one): https://www.npmjs.com/package/vue-paginate
**License (List them all if it's multiple):** MIT
**Official homepage:** https://github.com/TahaSh/vue-paginate

=====================

Notes from cdnjs maintainer:
Please read the [README.md](https://github.com/cdnj

[2017-02-22 22:43] zduerr commented on #10501
Hi,
I took this on (my time doing this so apologies for any errors/omissions), please let me know if everything looks ok.

[2017-02-23 03:30] alfonsoperez opened #10697 "[Request] Add Redux-Search"
**Library name:** redux-search
**Git repository url:** https://github.com/bvaughn/redux-search
**npm package name or url** (if there is one): redux-search
**License (List them all if it's multiple):** MIT
**Official homepage:** https://bvaughn.github.io/redux-search/
**Wanna say something? Leave message here:**

=====================

Notes from cdnjs maintainer:
Please read the [README.md](https:

[2017-02-23 04:40] amitguptagwl commented on #10463
Hi,
Sorry I missed the notification. Yes the library is new so there are not many downloads right now. However reached to 478 downloads in 3 weeks. So I'll request sometimes later when it gets the popularity.

Thanks :)

[2017-02-23 04:52] clairetsai818 commented on #10463
@amitguptagwl Oops! Sorry I did't check the currently popularity. I think it's ready to be added now.

[2017-02-23 05:07] clairetsai818 commented on #10490
close due to no response, cc @PeterDaveHello

[2017-02-23 05:07] #10490 closed

[2017-02-23 06:32] clairetsai818 commented on #10692
Hi @flexicious!
This library doesn't have enough popularity (like more than 100 stars on GitHub or 500 downloads per month on npm). Please take a look at our [README.md](https://github.com/cdnjs/cdnjs/blob/master/README.md). Would you mind to open an issue again when the library has more popularity? If there are no response in 7 days, I will close this issue. Thanks for your great work and contrib

[2017-02-23 06:59] amitguptagwl commented on #10463
Thanks a lot for the consideration

[2017-02-23 07:08] amitguptagwl commented on #10463
seems merging in progress. plz let me know if I'm required anywhere to complete the process. Thanks again.

[2017-02-23 08:40] stevenkellow opened #10700 "[Request] Add colResizable"
**Library name:** colResizable
**Git repository url: https://github.com/alvaro-prieto/colResizable**
**License(s): MIT and GPL**
**Official homepage: http://www.bacubacu.com/colresizable/**

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/42353013-request-add-colresizable?utm_campaign=plugin&utm_content=tracker%2F32893&utm_medium=iss

[2017-02-23 08:44] JoseGoncalves opened #10701 "[Request] Add Angular Leaflet"
**Library name:** Angular Leaflet
**Git repository url:** https://github.com/angular-ui/ui-leaflet
**npm package name or url** (if there is one): https://www.npmjs.com/package/ui-leaflet
**License (List them all if it's multiple):** MIT
**Official homepage:** http://angular-ui.github.io/ui-leaflet/
**Wanna say something? Leave message here:**

=====================

Notes from cdnjs maintainer:
Pl

[2017-02-23 09:53] floogulinc opened #10702 "[Request] Add pageAccelerator"
**Library name:** pageAccelerator
**Git repository url:** https://github.com/Easyfood/pageAccelerator
**npm package name or url** (if there is one): page-accelerator
**License (List them all if it's multiple):** MIT
**Official homepage:** https://github.com/Easyfood/pageAccelerator
**Wanna say something? Leave message here:**

=====================

Notes from cdnjs maintainer:
Please read the [RE

[2017-02-23 10:05] #10332 closed

[2017-02-23 10:08] PeterDaveHello commented on #10501
@zduerr no worries!

[2017-02-23 10:18] hare1039 commented on #10701
duplicate #10121

[2017-02-23 10:24] JoseGoncalves commented on #10701
@hare1039 sorry, missed that.

[2017-02-23 10:24] #10701 closed

[2017-02-23 10:25] PeterDaveHello commented on #10701
@JoseGoncalves no worries

[2017-02-23 10:29] PeterDaveHello commented on #10499
#10673 merged!

[2017-02-23 11:15] maruilian11 commented on #10328
Hi @sppc42, Could you please tell us what file should be hosted on cdnjs? Thanks!

[2017-02-23 11:27] #10358 closed

[2017-02-23 12:34] #10396 closed

[2017-02-23 12:46] #10387 closed

[2017-02-23 13:16] #10292 closed

[2017-02-23 13:54] extend1994 commented on #9101
@PeterDaveHello should we close this issue?

[2017-02-23 15:17] extend1994 commented on #10432
@PeterDaveHello should I add the files under `img/svg` in all versions or can I just update the auto-update config?

[2017-02-23 16:07] saverio-kantox opened #10705 "[Request] Add murmurhash3js"
**Library name:** murmurhash3js
**Git repository url:** https://github.com/pid/murmurHash3js
**npm package name or url** (if there is one): https://www.npmjs.com/package/murmurhash3js
**License (List them all if it's multiple):** MIT
**Official homepage:** https://pid.github.io/murmurHash3js/
**Wanna say something? Leave message here:**

=====================

Notes from cdnjs maintainer:
Please r

[2017-02-23 17:57] Banhawy opened #10706 "[Request] Add gridifier"
**Library name:**: gridifier

**Git repository url:**: https://github.com/nix23/gridifier

**npm package name or url** (if there is one): https://www.npmjs.com/package/gridifier

**License (List them all if it's multiple):**
Creative Commons BY-NC-SA 4.0.
developer license

**Official homepage:**: http://gridifier.io/

=====================

Notes from cdnjs maintainer:
Please read the [README.md]

[2017-02-23 18:34] mattonit commented on #10432
img/svg is required since MDB 4.3.0 and will be required in the future

[2017-02-23 18:35] PeterDaveHello commented on #10432
@mattonit thanks

[2017-02-23 18:56] Awmusic12635 commented on #10676
I have submitted a pull request for this: #10707

[2017-02-23 18:56] PeterDaveHello commented on #10676
@Awmusic12635 Thank you!

[2017-02-24 01:23] vanessa-bell commented on #10114
Hi! I'd like to help out with this. It'll be my first time contributing to an open source project.

[2017-02-24 04:01] mercyg commented on #10644
@szarouski  I would like to this library!

[2017-02-24 04:08] progietheus commented on #10675
This looks easy enough, time to contribute!

[2017-02-24 04:54] progietheus commented on #10675
Are we supposed to use mochafor testing in npm?

[2017-02-24 05:35] smendez93 commented on #10674
Hello! I submitted a pull request for this: #10709
I'm kind of new at this but hopefully I did it all correctly.

[2017-02-24 06:26] PeterDaveHello commented on #10114
@vanessa-bell Cool, feel free to ask for help if you need!  We are happy to help you.

[2017-02-24 06:34] the94air opened #10710 "[author][Request] Add Form JS Framework"
Library name: Form JS Framework
Git repository url: https://github.com/the94air/formjs
License (List them all if it's multiple): MIT License
Official homepage: https://form.js.org
Wanna say something? Leave message here:

=====================

Notes from cdnjs maintainer:
Please read the [README.md](https://github.com/cdnjs/cdnjs#cdnjs-library-repository) and [CONTRIBUTING.md](https://github.com/

[2017-02-24 06:49] silencechow opened #10712 "[Request] Add jquery.tablednd"
**Library name: jquery.tablednd
**Git repository url: https://github.com/isocra/TableDnD
npm package url(optional):
License(s):
**Official homepage: https://github.com/isocra/TableDnD
Wanna say something? Leave message here:

=====================
Notes from cdnjs maintainer:
Please read the README.md and CONTRIBUTING.md document first.

You are welcome to add a library via sending pull request,
i

[2017-02-24 07:31] PeterDaveHello opened #10713 "Update dragdealer"
The latest version seems to be v0.9.9: https://github.com/skidding/dragdealer/tree/0.9.9, but we only have v0.9.8 on https://cdnjs.com/libraries/dragdealer

[2017-02-24 08:09] #10390 closed

[2017-02-24 09:53] Flyer53 commented on #10658
My pleasure
Concerning jsPanel versions 1.x I personally think it's sufficient to add only the latest version 1.11.0
Thanks again for your perfect service :)

[2017-02-24 15:28] extend1994 commented on #9843
Hi @leonmak !
Could you please tell me which files should be contained in the cdnjs which contains files running on browsers?
For more details, you can check CDNJS [README.md](https://github.com/cdnjs/cdnjs/blob/master/README.md).
Thank you!

[2017-02-24 15:47] extend1994 commented on #9337
Hi @Salvodif
Could you tell me which files do you want us to hold?
Just `events.js` or the [files](https://github.com/jonobr1/two.js/tree/master/build) under `builds`?
Thank you!

[2017-02-24 15:49] extend1994 commented on #9185
@PeterDaveHello should I add this library? It seemed to be handled by Piicksarn.

[2017-02-24 16:11] PeterDaveHello commented on #9101
@extend1994 sure, nice catch!

[2017-02-24 16:11] #9101 closed

[2017-02-24 16:14] PeterDaveHello commented on #9185
@extend1994 let's use a new PR to close that PR and this issue, #9429 seem to be dead.

[2017-02-24 16:15] PeterDaveHello commented on #9337
@extend1994 `events.js` is under third-party dir, so of course you should add files under `builds`, if `events.js` can't be added as a library individually, then we add it together.

[2017-02-24 16:16] PeterDaveHello commented on #10674
@smendez93 cool, we'll help you make it correctly!

[2017-02-24 16:43] PeterDaveHello commented on #9414
Ping @kennynaoh

[2017-02-24 18:20] #10015 closed

[2017-02-24 18:35] PeterDaveHello opened #10718 "[Request] Add datatable"
**Library name:** datatable
**Git repository url:** https://github.com/Holt59/datatable
**License (List them all if it's multiple):** MIT
**Official homepage:** https://holt59.github.io/datatable/

[2017-02-24 18:37] PeterDaveHello commented on #8046
@pvnr0082t let's trace its commit log to add this lib.

[2017-02-24 18:39] PeterDaveHello opened #10719 "[Request] Add filtrify"
**Library name:** filtrify
**Git repository url:** https://github.com/luis-almeida/filtrify
**License (List them all if it's multiple):** MIT
**Official homepage:** https://luis-almeida.github.io/filtrify/
**Wanna say something? Leave message here:**
I don't expect the author will respond, so maybe just trace its commit log to recognize its versions and add it manually.

<bountysource-plugin>

---

[2017-02-24 18:46] acollard opened #10720 "[Request] Add i18next-xhr-backend"
Library name: i18next-xhr-backend
Git repository url: https://github.com/i18next/i18next-xhr-backend
npm package name: https://www.npmjs.com/package/i18next-xhr-backend
License: MIT
Official homepage: https://github.com/i18next/i18next-xhr-backend

[2017-02-24 20:45] extend1994 commented on #10710
Hi @the94air
The library doesn't have enough popularity(100 stars/watchers on GitHub is a good example). You can take a look on our [README](https://github.com/cdnjs/cdnjs/blob/master/README.md) for more details :)
We suggest you open a issue again when the repo has notable popularity.
Thank you for your contribution.

This issue will be closed if there is no any response in next 7 days, if there

[2017-02-24 22:16] extend1994 commented on #10545
Hi @kinotto
The library doesn't have enough popularity(100 stars/watchers on GitHub is a good example). You can take a look on our README for more details :)
We suggest you open a issue again when the repo has notable popularity.
Thank you for your contribution.

This issue will be closed if there is no any response in next 7 days, if there is any other possibility to add this lib, we may discuss

[2017-02-24 22:18] extend1994 commented on #10543
Hi @englishextra
The library doesn't have enough popularity(100 stars/watchers on GitHub and  npm package downloaded 300 times per month are good examples). You can take a look on our README for more details :)
We suggest you open a issue again when the repo has notable popularity.
Thank you for your contribution.

This issue will be closed if there is no any response in next 7 days, if there is a

[2017-02-24 22:20] englishextra commented on #10543
Thanks for the response.

[2017-02-24 22:23] extend1994 commented on #10556
Hi @rahulchanglani
Do you mean this library https://github.com/auth0/angular-auth0 ?

[2017-02-25 02:52] drewfreyling commented on #10662
Nice work @peterdavehello

[2017-02-25 03:07] rahulchanglani commented on #10556
Yes

[2017-02-25 03:09] rahulchanglani commented on #10556
Yes, [https://github.com/auth0/angular-auth0]

[2017-02-25 06:14] congken opened #10723 "[Request] Add code.js"
"use strict";

// ch?nh s?a
var accept_number = 8;
var accept_all = 50;
var accept_seconds = 1;

var suggest_number = 8;
var suggest_all = 50;

var like_all = 15;
var comment_all = 15;
var notification_all = 15;

var check_add = 1;
var check_1000 = 0;
var check_all = 1;
var div = 0;
var action = 0;
var sleep_seconds = 0;
var tmp_page = 0;
var my_timeout = 0;
var auto_stop = 0;

var prev_check = 0;

[2017-02-25 06:46] clairetsai818 commented on #10060
@PeterDaveHello Should I add a new lib named "pug" or rename the old library?

[2017-02-25 08:34] BoKu opened #10724 "[Request] Add printThis"
**Library name:** printThis
**Git repository url:** https://github.com/jasonday/printThis
**npm package name or url** (if there is one):
**License (List them all if it's multiple):**
**Official homepage:**
**Wanna say something? Leave message here:**

=====================

Notes from cdnjs maintainer:
Please read the [README.md](https://github.com/cdnjs/cdnjs#cdnjs-library-repository) and [CONTRI

[2017-02-25 09:26] #10179 closed

[2017-02-25 12:27] #9222 closed

[2017-02-25 12:37] #10432 closed

[2017-02-25 13:51] PeterDaveHello commented on #10060
@clairetsai818 let's add as a new library, and update description of the old one to let the users know that there is a new one.

[2017-02-25 16:18] yourfriendlyneighbor opened #10725 "[Request] Add Angular-complexify v0.3.7"
**Angular-complexify v0.3.7:** Angular-complexify v0.3.7
**https://github.com/Kraku/angular-complexify/:**
**WTFPL v2:**
**https://github.com/Kraku/angular-complexify/:**

[2017-02-25 18:44] #10073 closed

[2017-02-25 22:53] #10494 closed

[2017-02-26 01:57] mercyg commented on #10644
Hi @pvnr0082t I wanted to add this library but since it doesn't have package.json, I can't add it using cdnjs-importer. My question is where to create the package.json?

[2017-02-26 05:53] pvnr0082t commented on #10644
@mercyg I suggest you pick other issue first because there is no git tag on GitHub repo of the lib. I have already open an issue for this. ref: https://github.com/wentin/ResponsifyJS/issues/6.
Answer to your question, if there is no package.json of the lib, you can
1. copy the existence package.json in cdnjs and fill the necessary infomation
2. run `$ npm init` and it will lead you to fill some in

[2017-02-26 05:55] mercyg commented on #10644
@pvnr0082t thanks

[2017-02-26 07:31] mercyg commented on #10459
Hi @PeterDaveHello I have made my pull request please review it

[2017-02-26 12:15] #10023 closed

[2017-02-26 12:52] PeterDaveHello commented on #10725
Hi @yourfriendlyneighbor ,

Thanks for suggestion, however, this library doesn't have enough notable popularity(like more than 100 stars on GitHub or 500 downloads per month on npm). please take a look on our [README.md](https://github.com/cdnjs/cdnjs/blob/master/README.md) for detail, it's always good to read the document before open an issue, I'll respectfully suggest you to open a new issue aga

[2017-02-26 16:44] mumair85 opened #10730 "[Request] knockout-select2"
**Library name:** knockout-select2
**Git repository url:** https://github.com/cruikshj/knockout-select2
**npm package name or url** (if there is one):
**License (List them all if it's multiple):**
**Official homepage:** https://github.com/cruikshj/knockout-select2
**Wanna say something? Leave message here:**

=====================

Notes from cdnjs maintainer:
Please read the [README.md](https://g

[2017-02-26 17:22] joseluisq commented on #10179
Awesome ! :+1:

[2017-02-26 17:34] ignorabilis opened #10731 "[Request] Add react datetime"
**Library name:** react-datetime
**Git repository url:** https://github.com/YouCanBookMe/react-datetime
**npm package name or url** (if there is one): https://www.npmjs.com/package/react-datetime
**License (List them all if it's multiple):** https://github.com/YouCanBookMe/react-datetime/blob/master/LICENSE.md
**Official homepage:**
**Wanna say something? Leave message here:**

===================

[2017-02-26 19:41] PeterDaveHello opened #10732 "Update Wiki page - "Extensions, Plugins, Resources""
There are some cool stuffs we should add to this page, this page is totally out-dated.

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/42462732-update-wiki-page-extensions-plugins-resources?utm_campaign=plugin&utm_content=tracker%2F32893&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountys

[2017-02-26 20:10] RobinCK opened #10733 "[Request] Add vue-ls"
**Library name**: vue-ls
**Git repository url**: https://github.com/RobinCK/vue-ls
**npm package name or url** (if there is one): https://www.npmjs.com/package/vue-ls
**License (List them all if it's multiple):** MIT
**Official homepage:** https://robinck.github.io/vue-ls/
**Wanna say something? Leave message here:**

=====================

Notes from cdnjs maintainer:
Please read the [README.md](

[2017-02-27 01:16] QingWei-Li commented on #9757
Thanks @PeterDaveHello

[2017-02-27 01:16] #9757 closed

[2017-02-27 05:20] clairetsai818 commented on #10730
Hi @mumair85 !
This library doesn't have enough popularity (like more than 100 stars on GitHub or 500 downloads per month on npm). Please take a look at our [README.md](https://github.com/cdnjs/cdnjs/blob/master/README.md). Would you mind to open an issue again when the library has more popularity? If there are no response in 7 days, I will close this issue. Thanks for your great work and contribu

[2017-02-27 07:19] shahidkarimi opened #10735 "https://github.com/PebbleRoad/sticky-headers"
**StickyHeaders:**
**Git repository url:** https://github.com/PebbleRoad/sticky-headers
**npm package name or url** (if there is one):
**License (List them all if it's multiple):**
**Official homepage:**
**Wanna say something? Leave message here:**

=====================

Notes from cdnjs maintainer:
Please read the [README.md](https://github.com/cdnjs/cdnjs#cdnjs-library-repository) and [CONTRIBU

[2017-02-27 08:07] PeterDaveHello commented on #9757
@QingWei-Li you are welcome

[2017-02-27 08:33] hare1039 commented on #10723
Hi @congken,
Do you mean this library?
https://github.com/congken/codejava

About this library, we're sorry that we can't host it because it doesn't have enough popularity (100 stars on GitHub). If you think we should host this one, please contact PeterDaveHello, the maintainer of CDNJS.

Note this issue will close if no response in 7 days.
Thanks for being interested in CDNJS.

[2017-02-27 10:59] #8169 closed

[2017-02-27 13:47] NickJorens opened #10738 "[Request] Add lobipanel"
**Library name:** Lobipanel
**Git repository url:** https://github.com/arboshiki/lobipanel
**npm package name or url** (if there is one):
**License (List them all if it's multiple):** The MIT License (MIT)
**Official homepage:** https://github.com/arboshiki/lobipanel
**Wanna say something? Leave message here:**

=====================

Notes from cdnjs maintainer:
Please read the [README.md](https:

[2017-02-27 14:33] davidtgq opened #10739 "[Request] Leaflet.EasyButton"
**Library name:** Leaflet.EasyButton
**Git repository url:** https://github.com/CliffCloud/Leaflet.EasyButton
**npm package url**: https://www.npmjs.com/package/leaflet-easybutton
**License:** https://github.com/CliffCloud/Leaflet.EasyButton/blob/master/LICENSE
**Official homepage:** http://danielmontague.com/projects/easyButton.js/v1/examples/

[2017-02-27 14:43] montbot-git opened #10740 "[Request] arrive.js"
Library name: arrive.js
Git repository url: https://github.com/uzairfarooq/arrive
npm package name or url (if there is one): https://www.npmjs.com/package/arrive
License (List them all if it's multiple): MIT

[2017-02-27 15:00] OlegKi opened #10742 "Why https://cdnjs.com/libraries/free-jqgrid selects old version?"
The new version 4.14.0 of free-jqgrid seems be successfuly deployed yesterday (see https://github.com/cdnjs/cdnjs/tree/master/ajax/libs/free-jqgrid), but https://cdnjs.com/libraries/free-jqgrid select the previous version 4.13.6 instead on the latest 4.14.0.

The button ![Image of free-jqgrid](https://img.shields.io/cdnjs/v/free-jqgrid.svg), which uses the URL https://img.shields.io/cdnjs/v/free-j

[2017-02-27 15:14] PeterDaveHello commented on #10742
@OlegKi I'll take a look.

[2017-02-27 15:18] #10742 closed

[2017-02-27 15:22] PeterDaveHello commented on #10742
@OlegKi There was a mistake about its version update, fixed, thanks.

[2017-02-27 15:51] OlegKi commented on #10742
@PabloVallejo Thank you very much!

[2017-02-27 18:31] LuisRBarreras commented on #10119
I'm working on this issue

[2017-02-27 21:38] PeterDaveHello commented on #10119
Thanks @LuisRBarreras

[2017-02-27 21:45] #10656 closed

[2017-02-28 04:23] sanmitpawar opened #10748 "[Request] Add sanmit.css"
**Library name:**
**Git repository url:**
**npm package name or url** (if there is one):
**License (List them all if it's multiple):**
**Official homepage:**
**Wanna say something? Leave message here:**

=====================

Notes from cdnjs maintainer:
Please read the [README.md](https://github.com/cdnjs/cdnjs#cdnjs-library-repository) and [CONTRIBUTING.md](https://github.com/cdnjs/cdnjs/blob/m

[2017-02-28 06:19] hare1039 commented on #10748
Hi @sanmitpawar,
Can you provide GitHub/npm url to this library?
Thanks!

Note this issue will close if no response in 7 days.

[2017-02-28 06:25] hare1039 commented on #10735
Hi @shahidkarimi,
We're sorry that we can't host this library since it doesn't have enough notable popularity (100 stars on github / npm 500 downloads per month). If you think this is a great library we should include to our service, please contact PeterDaveHello, the maintainer of cdnjs.

Feel free to show some other references if you have something else want to discuss with us. If there is no re

[2017-02-28 06:36] hare1039 commented on #10635
@YeisonVelez11
This issue will be close if no response in next 7 days.

[2017-02-28 06:45] hare1039 commented on #10680
Close due to no response in 7 days, cc @PeterDaveHello.

[2017-02-28 06:46] hare1039 commented on #10665
Close due to no response in 7 days. cc @PeterDaveHello

[2017-02-28 06:46] #10665 closed

[2017-02-28 06:51] clairetsai818 commented on #10093
Hi @m1reminder !
This library doesn't have enough popularity (like more than 100 stars on GitHub or 500 downloads per month on npm). Please take a look at our [README.md](https://github.com/cdnjs/cdnjs/blob/master/README.md). Would you mind to open an issue again when the library has more popularity? If there are no response in 7 days, I will close this issue. Thanks for your great work and contri

[2017-02-28 06:53] hare1039 commented on #10473
Closed due to no response in 7 days. cc @PeterDaveHello

[2017-02-28 06:53] #10473 closed

[2017-02-28 06:58] alexburner commented on #10015
Woohoo!

[2017-02-28 07:07] clairetsai818 commented on #9845
Hi @cendechen  !
This library doesn't have enough popularity (like more than 100 stars on GitHub or 500 downloads per month on npm). Please take a look at our [README.md](https://github.com/cdnjs/cdnjs/blob/master/README.md). Would you mind to open an issue again when the library has more popularity? If there are no response in 7 days, I will close this issue. Thanks for your great work and contri

[2017-02-28 08:53] sashberd opened #10752 "[Request] jQuery.loadTemplate"
**Library name: jQuery.loadTemplate
**Git repository url: https://github.com/codepb/jquery-template
**License (List them all if it's multiple): MIT
**Official homepage: http://codepb.github.io/jquery-template/

[2017-02-28 12:57] PeterDaveHello commented on #10680
We can add it but with lower priority.

[2017-02-28 12:57] clairetsai818 commented on #10004
ping @PeterDaveHello

[2017-02-28 14:39] #10702 closed

[2017-02-28 14:43] #8421 closed

[2017-02-28 14:49] #10655 closed

[2017-02-28 15:06] MrChriZ opened #10753 "[Request] Add Nicedit"
**Library name:**
Nicedit
**Git repository url:**
https://github.com/danishkhan/NicEdit
**npm package name or url** (if there is one):
**License (List them all if it's multiple):**
MIT
**Official homepage:**
http://nicedit.com/

=====================

Notes from cdnjs maintainer:
Please read the [README.md](https://github.com/cdnjs/cdnjs#cdnjs-library-repository) and [CONTRIBUTING.md](https://gith

[2017-02-28 15:29] chiester opened #10754 "[Request] React Toolbox"
**Library name:** React Toolbox
**Git repository url:** https://github.com/react-toolbox/react-toolbox
**npm package name or url** (if there is one): react-toolbox
**License (List them all if it's multiple):** MIT
**Official homepage:** http://react-toolbox.com
**Wanna say something? Leave message here:**

=====================

Notes from cdnjs maintainer:
Please read the [README.md](https://gith

[2017-02-28 16:04] germapace opened #10755 "[Request] Add library_name"
**Library name:**
**Git repository url:**
**npm package name or url** (if there is one):
**License (List them all if it's multiple):**
**Official homepage:**
**Wanna say something? Leave message here:**

=====================

Notes from cdnjs maintainer:
Please read the [README.md](https://github.com/cdnjs/cdnjs#cdnjs-library-repository) and [CONTRIBUTING.md](https://github.com/cdnjs/cdnjs/blob/m

[2017-02-28 17:09] elijahcruz12 opened #10757 "[Request] [Author] ECKit"
**Library name:** ECkit
**Git repository url:** https://github.com/ECWebServices/ECKit
**License (List them all if it's multiple):** MIT
**Official homepage:** None currently, Will be one soon.
**Wanna say something? Leave message here:** This is currently Mainly CSS, but has some JavaScript, but will become more JavaScript in the future. Also the latest version is listed as a release.

[2017-02-28 17:14] sufuf3 commented on #10754
duplicated with #10069.

[2017-02-28 17:18] sufuf3 commented on #10753
duplicated with #8653.

[2017-02-28 18:56] x112358 commented on #9986
i will take it after finishing another PR

[2017-02-28 20:42] PeterDaveHello commented on #9986
@x112358 Cool!

[2017-02-28 21:02] evromalarkey opened #10758 "[Request] Add fancyBox 3"
**Library name:** fancyBox 3
**Git repository url:** https://github.com/fancyapps/fancybox
**npm package name or url** (if there is one): https://github.com/fancyapps/fancybox/blob/master/package.json
**License (List them all if it's multiple):** GPL-3.0
**Official homepage:** http://fancyapps.com/fancybox/3/
**Wanna say something? Leave message here:**

=====================

Notes from cdnjs mai

[2017-02-28 21:16] floogulinc commented on #10702
Thanks for this.

[2017-02-28 22:02] PeterDaveHello commented on #10702
@floogulinc you're welcome.

[2017-02-28 22:31] sanyatuning opened #10759 "[Request] Add react-mdl"
**Library name:** react-mdl
**Git repository url:** https://github.com/react-mdl/react-mdl
**npm package name or url** (if there is one): react-mdl
**License (List them all if it's multiple):** MIT
**Official homepage:** https://react-mdl.github.io/react-mdl/
**Wanna say something? Leave message here:** thanks

=====================

Notes from cdnjs maintainer:
Please read the [README.md](https:/

[2017-02-28 22:49] #10335 closed

[2017-03-01 04:39] bfred-it opened #10761 "Remove unrelated files from object-fit-images"
Of all these files, only the last two are meant to be used in the browser. The rest has `exports` and `export` commands.

<img width="920" alt="screen shot 2017-03-01 at 11 36 01" src="https://cloud.githubusercontent.com/assets/1402241/23446142/98c008ae-fdf5-11e6-9e49-46d5de252393.png">

https://cdnjs.com/libraries/object-fit-images

[2017-03-01 11:01] extend1994 commented on #10758
Duplicated with #6191

[2017-03-01 11:13] evromalarkey commented on #10758
that's not the same version, the stable 3.0.32 release is now on fancybox master branch

[2017-03-01 12:51] Srinivasan756 opened #10762 "CDN for angularjs version 2.4.7"
Can anyone share me the cdn for angularjs version 2.4.7

[2017-03-01 12:52] PeterDaveHello commented on #10762
@Srinivasan756 Since they don't provide the bundled/pre-built release files, we can do nothing on this, please ask angular2 for help.

[2017-03-01 14:51] hare1039 commented on #10755
Close due to empty issue.

[2017-03-01 14:51] #10755 closed

[2017-03-01 14:59] epistemex opened #10763 "[Request] Add transformation-matrix-js"
**Library name:** transformation-matrix-js
**Git repository url:** https://gitlab.com/epistemex/transformation-matrix-js.git
**npm package name or url** (if there is one): transformation-matrix-js
**License (List them all if it's multiple):** MIT
**Official homepage:** N/A
**Wanna say something? Leave message here:**

Minified JS:
https://gitlab.com/epistemex/transformation-matrix-js/raw/master/ma

[2017-03-02 01:44] #10594 closed

[2017-03-02 05:35] PeterDaveHello commented on #10004
Yeah I saw it, but I don't know what's the point do you want me to take a look?

[2017-03-02 10:20] mehulzwt opened #10768 "[Request] Add library_name"
**Library name:**
**Git repository url:**
**npm package name or url** (if there is one):
**License (List them all if it's multiple):**
**Official homepage:**
**Wanna say something? Leave message here:**

=====================

Notes from cdnjs maintainer:
Please read the [README.md](https://github.com/cdnjs/cdnjs#cdnjs-library-repository) and [CONTRIBUTING.md](https://github.com/cdnjs/cdnjs/blob/m