[2017-04-24 07:33] dakshshah96 opened #11132 "[Request] Add modestmaps-js"
**Library name:** modestmaps-js
**Git repository url:** https://github.com/stamen/modestmaps-js
**npm package name or url** (if there is one): https://www.npmjs.com/package/modestmaps
**License (List them all if it's multiple):** BSD
**Official homepage:** http://modestmaps.com/
**Wanna say something? Leave message here:**

=====================

Notes from cdnjs maintainer:
Please read the [READM

[2017-04-24 10:23] dakshshah96 commented on #11102
@PeterDaveHello This project is not being actively developed or maintained according to their [GitHub repo](https://github.com/cpettitt/dagre). Should we still add this to CDNJS?

[2017-04-24 11:34] brentkelly commented on #7609
@Alex-D while waiting for this fix, why don't you create an icon.svg.js file & get that put on the CDN. That file could just write the SVG contents into the DOM in a `trumbowyg-icons` as per your docs.

A little bit messy I know, but not as messy as loading half of trumbowyg off a CDN and having to either have the SVG in our HTML, or load it locally.

The user would then have the option to drop in

[2017-04-24 13:53] jpryne opened #11135 "[Request] Add ThreeCSG"
**Library name:** ThreeCSG
**Git repository url:** https://github.com/chandlerprall/ThreeCSG
**npm package name or url** (if there is one): https://www.npmjs.com/package/three-js-csg
**License (List them all if it's multiple):** The MIT License
**Official homepage:**
**Wanna say something? Leave message here:**
Extensions for THREE.js, while very popular on the front end, are much less common on t

[2017-04-24 14:01] jpryne opened #11136 "[Request] Add Physijs"
**Library name:** Physijs
**Git repository url:** https://github.com/chandlerprall/Physijs
**npm package name or url** https://www.npmjs.com/package/physijs
**License (List them all if it's multiple):** MIT License
**Official homepage:**
**Wanna say something? Leave message here:**
Extensions for THREE.js, while very popular on the front end, are much less common on the back-end, hence the lower d

[2017-04-24 17:06] sufuf3 commented on #10433
@spartanier7777   this library doesn't have enough popularity (like more than 100 stars on GitHub or 500 downloads per month on npm). Please take a look at our [README.md](https://github.com/cdnjs/cdnjs/blob/master/README.md). Would you mind to open an issue again when the library has more popularity? If there are no response in 7 days, I will close this issue. Thanks for your great work and contr

[2017-04-24 17:07] sufuf3 commented on #10430
@israelinux   this library doesn't have enough popularity (like more than 100 stars on GitHub or 500 downloads per month on npm). Please take a look at our [README.md](https://github.com/cdnjs/cdnjs/blob/master/README.md). Would you mind to open an issue again when the library has more popularity? If there are no response in 7 days, I will close this issue. Thanks for your great work and contribut

[2017-04-24 17:18] PeterDaveHello commented on #11102
Looks like there are many users still using it, so why not?

[2017-04-24 17:19] #9848 closed

[2017-04-24 17:35] abdulamite commented on #9816
Hi, I am interested in joining and helping out in this community. This is my first open source, and I would love some guidance as to how to get started, and be a valuable member of this community.  I will do my part, and read all the docs to get started, and I look forward to working on this if you will have me!

[2017-04-24 17:43] PeterDaveHello commented on #9816
Hi @abdulamite, welcome aboard!

As you can see, there are some references above, there is also a [CONTRIBUTING](https://github.com/cdnjs/cdnjs/blob/master/CONTRIBUTING.md) doc, I'm not sure how much do you know about git and GitHub, the work flow of open source project on GitHub, maybe you can reveal about yourself and let us know what kind of help we can provide?

[2017-04-24 17:44] PeterDaveHello commented on #9816
@hare1039 @sufuf3 @extend1994 @clairetsai818 please help @abdulamite when he needs help!

[2017-04-24 20:10] abdulamite commented on #9815
So I noticed that the link with the url:

https://github.com/cdnjs/cdnjs/blob/master/.github/CONTRIBUTING.md#d-adding-a-new-library

is broken, and the other link:

[https://github.com/cdnjs/cdnjs#adding-a-new-or-updating-an-existing-library
](url)

simply takes me back to the code page of the github. I was wondering if there are any resources that I can look at in terms of understanding the first

[2017-04-25 00:10] abdulamite commented on #9816
I am familiar with github and it's services, but I am interested in learning about the specific steps that are taken when adding a new library in this community.  I have read over the docs several times, but I am wondering if there is someone who can kind of guide me through my first library contribution  so that I may use it as a learning experience.  I promise to not be too annoying about it. :)

[2017-04-25 02:56] sufuf3 commented on #9815
@abdulamite you could refer to this link -> https://github.com/cdnjs/cdnjs/blob/master/CONTRIBUTING.md as well.

If you want to add a new library by a single package.json, the link is https://github.com/cdnjs/cdnjs/blob/master/CONTRIBUTING.md#e-adding-a-new-library-by-a-single-packagejson

Thank you for your contribution.

[2017-04-25 15:47] dakshshah96 commented on #10660
Hey @PeterDaveHello, I'd love to work on improving the CDNJS documentation. What exactly are we looking for here? I can help!

[2017-04-25 15:55] manticorp opened #11145 "[Request] Add SimpleAjaxUploader.min.js"
**Library name:** SimpleAjaxUploader.min.js
**Git repository url:**  https://github.com/LPology/Simple-Ajax-Uploader
**npm package name or url** (if there is one):
**License (List them all if it's multiple):** MIT
**Official homepage:**
**Wanna say something? Leave message here:**

=====================

Notes from cdnjs maintainer:
Please read the [README.md](https://github.com/cdnjs/cdnjs#cdnjs-

[2017-04-25 15:56] dakshshah96 commented on #11086
@PeterDaveHello @sufuf3 Does CDNJS host this kind of stuff too? What we'll basically be hosting here are the `assets` for the [yii2 PHP framework](https://github.com/yiisoft/yii2).

[2017-04-25 17:53] extend1994 commented on #9816
@abdulamite Is there anything in more details I can help you? :smiley:

[2017-04-25 17:58] mynameistechno commented on #10113
It's on npm FYI https://www.npmjs.com/package/finderjs and there's a release as well https://github.com/mynameistechno/finderjs/releases

[2017-04-25 17:59] #10712 closed

[2017-04-25 18:05] abdulamite commented on #9816
@extend1994 I have read over the documentation, but I am still having questions about the process of adding a new library. I am familiar with all of the concepts and terminology, though I was wondering if if I could possibly work with a more experienced member so that I can use it as a learning experience so I may continue to contribute on my own.  All I am really looking for is kind of a general

[2017-04-25 18:20] #8244 closed

[2017-04-25 18:25] #10983 closed

[2017-04-25 18:33] #10706 closed

[2017-04-25 18:35] #9264 closed

[2017-04-25 18:44] #10646 closed

[2017-04-25 18:53] extend1994 commented on #9816
@abdulamite
Let's take this library for example. If I am in charge of this lib (I work locally), I will do the following steps.
Pretend I am under root directory at very first.
1. `git clone https://github.com/spchuang/videojs-markers.git`
2. `cd videojs-markers`
3. `git checkout 0.7.0` (the latest stable version)
4. under any folder of `cdnjs`. `git checkout -b videojs-markers`
5. under `~/cdnjs/

[2017-04-25 18:56] PeterDaveHello commented on #11054
I just took a look at `fetch-npm-browserify.js`, I don't think it'll work, so actually #11061 didn't add it with success, so reopen this one.

[2017-04-25 18:57] PeterDaveHello commented on #11054
I think we should confirm that if it works with browser. @dakshshah96 wanna try it?

[2017-04-25 18:58] abdulamite commented on #9816
This is a huge help! Thank you so much! I will get right on this when I get a chance! You have been such a tremendous help and I very much appreciate your time. @extend1994 I look forward to working more closely with this community,

[2017-04-26 03:46] matirasa opened #11148 "[Request] Add jquery-sakura.js"
**Library name:** jquery-sakura.js
**Git repository url:**
**npm package name or url** (if there is one):
**License (List them all if it's multiple):**
**Official homepage:**
**Wanna say something? Leave message here:**

=====================

Notes from cdnjs maintainer:
Please read the [README.md](https://github.com/cdnjs/cdnjs#cdnjs-library-repository) and [CONTRIBUTING.md](https://github.com/c

[2017-04-26 03:56] dakshshah96 commented on #11054
@PeterDaveHello Sure, I'll open an issue with the author and collaborate.

[2017-04-26 09:56] #10552 closed

[2017-04-26 10:49] PeterDaveHello commented on #11148
Hi @matirasa,

Thanks for your suggestion, however, you only give us the name of the library, is there any detail about its repository or npm registry? Thanks a lot!

[2017-04-26 11:24] qwe19272375 commented on #11119
Hi @Azgaar,

Thanks for your suggestion. I found https://github.com/jarek-foksa/path-data-polyfill.js. Is this what you want to request?

[2017-04-26 11:39] qwe19272375 commented on #11124
@PeterDaveHello Could you take a look at this? Not sure how to fix it. Thank you.

[2017-04-26 12:58] sufuf3 commented on #11059
Close the issue because the request library does not have notable popularity and there is no response in 7 days. cc @PeterDaveHello

[2017-04-26 13:00] sufuf3 commented on #10943
Close the issue because the request library does not have notable popularity and there is no response in 7 days. cc @PeterDaveHello

[2017-04-26 13:00] #10943 closed

[2017-04-26 13:00] sufuf3 commented on #10859
Close the issue because the request library does not have notable popularity and there is no response in 7 days. cc @PeterDaveHello

[2017-04-26 13:06] PeterDaveHello commented on #11059
We can consider to add this one.

[2017-04-26 13:09] PeterDaveHello commented on #10859
Let's give it a lower priority to add it.

[2017-04-26 13:11] PeterDaveHello opened #11150 "[Request] Add jquery.rondell"
**Library name:** jquery.rondell
**Git repository url:** https://github.com/Sebobo/jquery.rondell
**License (List them all if it's multiple):** MIT

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/44552522-request-add-jquery-rondell?utm_campaign=plugin&utm_content=tracker%2F32893&utm_medium=issues&utm_source=github)** We accept bount

[2017-04-26 15:21] extend1994 commented on #10733
@RobinCK Yes I will finish the job ASAP!

[2017-04-26 17:06] #11013 closed

[2017-04-26 17:07] #10109 closed

[2017-04-26 17:18] #9843 closed

[2017-04-26 18:24] #11108 closed

[2017-04-26 18:25] #10890 closed

[2017-04-26 18:31] #10647 closed

[2017-04-26 18:37] #10984 closed

[2017-04-26 19:26] RedHatter opened #11152 "[Request] Add forge"
**Library name:** forge
**Git repository url:** https://github.com/digitalbazaar/forge
**npm package name or url** (if there is one): https://nodei.co/npm/node-forge/
**License (List them all if it's multiple):** GPLv2

[2017-04-26 19:57] PeterDaveHello commented on #8912
Ping @pvnr0082t

[2017-04-26 20:04] PeterDaveHello commented on #8912
I just merged #9176, the new *teasim* series can be added individually.

[2017-04-26 20:05] #8912 closed

[2017-04-26 21:21] xd1936 commented on #11013
Woo! Thanks!

[2017-04-27 00:27] tomhodgins commented on #10648
I'm hoping you add the Github version :D

[2017-04-27 00:59] abdulamite commented on #9816
@extend1994
So I am having some trouble getting sparse checkout setup. So I have read through the guide on https://github.com/cdnjs/cdnjs/blob/master/documents/sparseCheckout.md
I am at the porstion where I can perform a pull, though when I run the command:
`git pull origin master --depth 10`
I get the following error
`github.com[0: 192.30.255.112]: errno=No such file or directory`
`github.com[1:

[2017-04-27 06:02] abdulamite commented on #9816
so I have managed to perform the
`git pull origin master --depth 10`
command, though when  I finish running it, I receive the following error
`sparse checkout leaves no entry on working directory`
the area that I am primarily having trouble with on your explanation is on step 5 where you are going in an creating the directory for the Videojs-markers service.

[2017-04-27 06:04] PeterDaveHello commented on #9816
@abdulamite you need to setup .git/info/sparse-checkout before git pull

[2017-04-27 06:07] abdulamite commented on #9816
Yeah so I believe that I have done that with the following commands:
`git config core.sparseCheckout true`
`echo '/ajax/libs/videojs-markers/*' >> .git/info/sparse-checkout`
but I believe that I may be doing this incorrectly. Could you please explain.

[2017-04-27 06:12] PeterDaveHello commented on #9816
@abdulamite that's almost correct, the path you setup, actually doesn't exist on master branch, so that's the point I mentioned.

Try to add the content in the template to your config, it'll help:
https://github.com/cdnjs/cdnjs/blob/master/tools/sparse-checkout.template

[2017-04-27 06:20] abdulamite commented on #9816
I got it!!! Thank you!

[2017-04-27 06:52] abdulamite commented on #9816
I apologize for the continuous stream of questions, but I have almost got it. So I have gotten to step 8 on the instructions list, where we run the file fixFormat.js, though I am unsure how you are running this command. I notice this JS file, so are you using node to run this on the package.json file?

[2017-04-27 06:55] PeterDaveHello commented on #9816
@abdulamite we use node to run it, if you have nodejs installed, simply run "./tools/fixFormat.js", it should work!

[2017-04-27 07:04] abdulamite commented on #9816
So when I am ruining it with node I am getting this error,
`module.js:472`
 `throw err;`
 `cannot find module async`

[2017-04-27 07:06] PeterDaveHello commented on #9816
@abdulamite Forgot to install dependency via "npm install" ?

[2017-04-27 07:32] oncletom opened #11153 "[Request] Add webextension-polyfill"
**Library name:** webextension-polyfill
**Git repository url:** https://github.com/mozilla/webextension-polyfill
**npm package name or url**: https://www.npmjs.com/package/webextension-polyfill
**License (List them all if it's multiple):** MPL-2.0
**Official homepage:**  https://github.com/mozilla/webextension-polyfill
**Wanna say something? Leave message here:**

Content to glob from npm package:

[2017-04-27 09:15] netmonster2 commented on #10648
The Github version of the library is :
https://github.com/google/wicked-good-xpath

Thanks.

On Thu, Apr 27, 2017 at 1:27 AM, Tommy Hodgins <notifications@github.com>
wrote:

--
*Bouhdida Mahmoud*
Ingénieur logiciel - INSAT

[2017-04-27 17:25] abdulamite commented on #9816
@PeterDaveHello  @extend1994
Awesome so I have all of that working, but now I am at step 9 with the package.json file. So after running the fixFormat.js on package.json my file looks somthing like this:
{
  "name": "videojs-markers",
  "description": "video marker breaks plugin for video.js",
  "version": "0.7.0"
}
I see that there are many required fields that must be filled out such as "name", "

[2017-04-27 17:33] sufuf3 commented on #9920
OK, Thanks.
Close issue because this PR is merged.  cc @PeterDaveHello

[2017-04-27 17:33] #9920 closed

[2017-04-27 17:55] #11098 closed

[2017-04-27 18:05] #10731 closed

[2017-04-27 18:53] extend1994 commented on #9816
@abdulamite
1. "name" should be the same as the library name which you want to add and the folder name (`ajax/libs/<lib_name>`).
2. The filename should point to the main file of a lib. For example, `filename.min.js` or `filename.min.css`. And minify the files if needed. Like I explain in the last comment.
3. "version" should be the version of the lib you want to add.
4. Try to find "description",

[2017-04-27 20:20] emanuelmaha opened #11160 "[Request] Add angular-mocks"
**Library name:** angular-mocks
**Git repository url:** https://github.com/angular/bower-angular-mocks
**npm package name or url** (if there is one): https://www.npmjs.com/package/angular-mocks
**License (List them all if it's multiple):** MIT
**Official homepage:**
**Wanna say something? Leave message here:**

=====================

Notes from cdnjs maintainer:
Please read the [README.md](https:/

[2017-04-27 20:51] abdulamite commented on #9816
@extend1994
So after going through that, now I am seeing the following errors when I run the NPM test command.
I see that it is have problems with the npm filemap validation in the package.json file. Is there any advice that you might be able to provde.

![image](https://cloud.githubusercontent.com/assets/7246246/25503274/9de04d40-2b4e-11e7-82ee-aa0aea183b3c.png)

[2017-04-28 00:21] sufuf3 commented on #11160
@emanuelmaha do you mean this library ? -->
https://github.com/angular/bower-angular-mocks
https://www.npmjs.com/package/angular-mocks

[2017-04-28 06:34] dumptyd opened #11163 "[Request] Add angular-base64-upload"
**Library name:** angular-base64-upload
**Git repository url:**  https://github.com/adonespitogo/angular-base64-upload
**License (List them all if it's multiple):** MIT

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/44626710-request-add-angular-base64-upload?utm_campaign=plugin&utm_content=tracker%2F32893&utm_medium=issues&utm_sour

[2017-04-28 18:11] emanuelmaha commented on #11160
@sufuf3 Yes, sorry for late response.

[2017-04-28 18:36] sufuf3 commented on #11160
@emanuelmaha It's fine. Thank you for your response.

Note:
npm:
17,219 downloads in the last day
89,236 downloads in the last week
395,082 downloads in the last month

[2017-04-29 00:42] #10567 closed

[2017-04-29 00:43] #11016 closed

[2017-04-29 00:56] #10979 closed

[2017-04-29 02:00] PeterDaveHello commented on #11025
#11093 merged, libraries imported!

[2017-04-29 02:00] #11025 closed

[2017-04-29 04:33] abdulamite commented on #9816
@extend1994 @PeterDaveHello
I have just sent my commit! I am so excited! I really hope I did it all right, I tried my hardest to follow all the directions, and I think that I've got it!

[2017-04-29 04:34] PeterDaveHello commented on #9816
@abdulamite nice! We'll see!

[2017-04-30 04:02] WingGithub opened #11167 "twbs-pagination not synced to the correct version"
I think PeterBot failed to get the correct version of twbs-pagination and the minimized version is also out of sync with the version it did get.

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/44684901-twbs-pagination-not-synced-to-the-correct-version?utm_campaign=plugin&utm_content=tracker%2F32893&utm_medium=issues&utm_source=githu

[2017-04-30 04:22] sufuf3 commented on #11167
@PeterDaveHello I used md5sum and found CDNJS is different from origin library.

v1.4.1 in CDNJS result as the followings:
[code]
the origin v1.4.1 of repo as the followings:
[code]

Could you please take a look about this? I can't figure out how to solve this problem. Thank you.

[2017-04-30 08:25] PeterDaveHello commented on #11167
@sufuf3 auto-update config checked? as a member of @cdnjs/intern3, this is not enough

[2017-04-30 11:24] dakshshah96 opened #11168 "Improve CDNJS documentation"
# The importance of documentation

I've been actively contributing to CDNJS for the past couple of weeks and it has been a truly delightful experience working with CDNJS maintainers and fellow contributors. They've been highly supportive.

In the process of contributing, I've come to realize how important CDNJSs mission is for developers. However, **with great power comes great responsibility**.

[2017-04-30 11:35] extend1994 commented on #9816
@abdulamite Don't forget to send a pull request :+1: Looking forward to it :smile:

[2017-04-30 13:05] #10607 closed

[2017-04-30 13:13] #11102 closed

[2017-04-30 13:16] PeterDaveHello commented on #9816
Just updated both of your comments, try to use "```js" syntax for your code block to make it beauty and readable, see: https://help.github.com/articles/creating-and-highlighting-code-blocks/

[2017-04-30 14:00] PeterDaveHello opened #11170 "[Important] Stop working on non-high-priority library adding issues."
As you guys can see, we have many *dropped* pull requests in the list:

https://github.com/cdnjs/cdnjs/pulls?utf8=%E2%9C%93&q=is%3Aopen%20is%3Apr%20sort%3Aupdated-asc%20s

The author or the pull requests just leaved, dropped the PRs, no matter what the reasons are, I think it's time to clean them up! From now on, we'll stop working on non-high-priority issues, focus on the  high-priority issues, a

[2017-04-30 14:32] #10136 closed

[2017-04-30 18:33] #10963 closed

[2017-04-30 19:25] abdulamite commented on #9816
@PeterDaveHello  Thank you for that. I will keep that in mind for future comments!
@extend1994 So I have done `git add .` and `git commit -v`  with the proper commit message, though I am having some trouble submitting the pull request based on the steps that you mentioned earlier. Would you possibly be able to tell me more about it. I would just like to make sure I do it properly so that I don't s

[2017-04-30 19:26] PeterDaveHello commented on #9816
@abdulamite No worries.

What's detail of the trouble you mention here? Any error message?

[2017-04-30 19:29] abdulamite commented on #9816
So I am just having trouble with the next steps. So I am trying to send the pull request though I am not seeing my branch when I am trying to compare branches. For some reference, I have followed all of the steps that @extend1994 had mentioned earlier in this thread. I think this may be because of my remote origin. I had used the `git remote add origin git://github.com/cdnjs/cdnjs.git` from the sp

[2017-04-30 19:30] PeterDaveHello commented on #9816
@abdulamite do you mean you can't compare on CDNJS repository on GitHub website?

Would you please show me the result of your `git branch` and `git remote -v` commands?

[2017-04-30 19:36] abdulamite commented on #9816
I think I have just realized my mistake after running those commands. I am realizing that I can't compare the branches because I am on master. I think I may have forgotten to run the `git checkout -b videojs-markers` command.
Here are the results from the commands you had requested.
![image](https://cloud.githubusercontent.com/assets/7246246/25567414/9f07a326-2da1-11e7-8149-626fe6d60b15.png)

[2017-04-30 19:37] PeterDaveHello commented on #9816
@abdulamite so I think can compare it now 👍

[2017-04-30 19:39] abdulamite commented on #9816
I am sorry I am still unsure how I can compare them from the pull request screen. Could you please let me know which branches I should select if I am only on master.

[2017-04-30 19:40] PeterDaveHello commented on #9816
@abdulamite You should now create a branch from the master branch first, since we don't accept pull request from master branch, but in fact even you're on master branch, you should be able to compare it.

[2017-04-30 19:44] abdulamite commented on #9816
so I have created my branch, should I just see my `videojs-markers` branch in the pull requests area now? or would I need to push?

[2017-04-30 19:45] PeterDaveHello commented on #9816
@abdulamite of course you'll need to push it out, or nobody knows/sees it.

[2017-04-30 19:51] abdulamite commented on #9816
@PeterDaveHello I apolagize for all the newbie questions, I am still trying to slowly learn it all.
Though, I did run into the following issue when trying to push.

[code]

[2017-04-30 19:55] PeterDaveHello commented on #9816
@abdulamite not a problem and no worries. The problem is because you have no permission on cdnjs/cdnjs.

You just need to simply add your forked repository as a valid remote:
[code]

Then push it out
[code]

To learn more about the pull reuqest flow, see:
https://git-scm.com/book/en/v2/GitHub-Contributing-to-a-Project

[2017-04-30 19:57] abdulamite commented on #9816
@PeterDaveHello Thank you for being so patient with. This has been an awesome experience and I have already learned so much from working on this small section of the project!

[2017-04-30 19:58] PeterDaveHello commented on #9816
@abdulamite Glad you like it and that's what I believe an open source project should be, keep going 👍

[2017-04-30 20:46] abdulamite commented on #9816
So after I perform the push, I am not seeing my videojs-markers, where might I find the push that I have just sent?

[2017-04-30 20:47] PeterDaveHello commented on #9816
@abdulamite You should see it here: https://github.com/abdulamite/cdnjs/branches, so looks like the push was failed.

[2017-04-30 20:48] abdulamite commented on #9816
ah alright , that's what I was thinking, I will go back and make sure it is all working properly

[2017-04-30 20:49] PeterDaveHello commented on #9816
@abdulamite I believe that there would be error message if you pushed failed, maybe be more careful with the outputs will help.

[2017-04-30 22:14] abdulamite commented on #9816
So I encountered an issue with my pull request where I must rebase the branch with master. Should I just run the following commands to rebase with master?
[code]

[2017-04-30 22:18] PeterDaveHello commented on #9816
@abdulamite You need to pull master branch from origin remote first, then git rebase master videojs-markers, and git push abdulamite videojs-markers --force

[2017-04-30 22:24] abdulamite commented on #9816
so I am just curious about the first command, so I just want to be sure. So it should be something like this?
[code]

[2017-04-30 22:33] PeterDaveHello commented on #9816
@abdulamite Peter:
Correct, you got it, but if your master branch is not clean, contains the commit in the pull request, in the situation as you say you did not a branch from the beginning, use pull with '--rebase', that's all.

[2017-04-30 22:47] abdulamite commented on #9816
so from here how should I handle the pull request? should I open a new pull request? close the previous one?

[2017-04-30 22:52] PeterDaveHello commented on #9816
@abdulamite Nope, the steps are correct and will fix the PR.

[2017-05-01 00:51] abdulamite commented on #9816
so when I tried to send the push request I get a message saying everything is up to day.

[2017-05-01 06:05] artBoffin opened #11173 "[Request] Add js-deflate"
Library name: js-deflate
Git repository url:
https://github.com/dankogai/js-deflate
npm package name or url (if there is one):
License (List them all if it's multiple): GPL-2
Official homepage: (user homepage) http://www.dan.co.jp/~dankogai/
Wanna say something? Leave message here:

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/447

[2017-05-01 08:09] #9789 closed

[2017-05-01 08:11] PeterDaveHello commented on #9816
So I think you didn't rebase your branch with the latest master branch with success?

[2017-05-01 08:51] dima74 commented on #8655
Hello! What about adding `Cache-Control: immutable` only when user-agent is Firefox?

[2017-05-01 09:11] sufuf3 commented on #11152
duplicate with #6190

[2017-05-01 09:11] sufuf3 commented on #11152
duplicate with #6190, cc @PeterDaveHello

[2017-05-01 14:18] abdulamite commented on #9816
Yeah maybe, though I did follow all the correct commands. I am just unsure what I'm doing wrong. If I helps I keep getting notes saying that everything is already up to date.

[2017-05-02 21:12] manico opened #11176 "[Request] Add hammer-time"
**Library name:** hammer-time
**Git repository url:** https://github.com/hammerjs/hammer-time
**npm package name or url:** https://www.npmjs.com/package/hammer-timejs
**License (List them all if it's multiple):** MIT
**Official homepage:** http://hammerjs.github.io/
**Wanna say something? Leave message here:**

Please add this hammer.js related package.
Thank you. :)

[2017-05-02 21:25] PeterDaveHello commented on #11176
@manico Thanks!

[2017-05-03 03:30] nagrawal3 commented on #9831
Hi @PeterDaveHello I am interested in working on this issue. I was reading the description and was trying to go to URL mentioned above about the docs for how to add a library, but I didn't find any doc guiding through the process in the first URL, and the second URL is not working. I would really appreciate if you help me find the relevant documents.

[2017-05-03 06:43] abdulamite commented on #9816
So I am still having trouble rebasing my branch, I keep getting messages saying everything is already up to date, and I have tried reading more about it online, but I can't find a solid answer.

[2017-05-03 08:25] jianzhou520 opened #11178 "[Request] Add styled-components"
**Library name:** styled-components
**Git repository url:** https://github.com/styled-components/styled-components
**npm package name or url** (if there is one): https://www.npmjs.com/package/styled-components
**License (List them all if it's multiple):**
**Official homepage:**
**Wanna say something? Leave message here:**

=====================

Notes from cdnjs maintainer:
Please read the [README

[2017-05-03 11:27] PeterDaveHello opened #11179 "[Request] Add jsfx"
**Library name:** jsfx
**Git repository url:** https://github.com/loov/jsfx
**npm package name or url** (if there is one): https://www.npmjs.com/package/loov-jsfx
**License (List them all if it's multiple):** MIT

[2017-05-03 12:50] extend1994 commented on #9816
@abdulamite
Could you please show your results of following commands?
[code]
Thanks!

[2017-05-03 13:06] PeterDaveHello commented on #9816
@extend1994 It's impossible to directly paste result of git log unless you set a number for it ...

[2017-05-03 13:11] PeterDaveHello commented on #9816
@abdulamite please give us the output of these commands:

1. `git log -5 --pretty='format:%h - %s - %an %ai' master`
2. `git log -5 --pretty='format:%h - %s - %an %ai' videojs-markers`
3. `git remote -v`

[2017-05-03 13:13] extend1994 commented on #9816
Sorry I didn't request it in a clear way! 5 outputs should be enough, thanks @PeterDaveHello

[2017-05-03 13:22] extend1994 commented on #11178
Hi @jianzhou520 Do you mean lib in this repo https://github.com/styled-components/styled-components?

[2017-05-03 15:25] abdulamite commented on #9816
So when trying to run the command I am getting a syntax error that is saying the following:

git log -5 --pretty=format:%h - %s - %an %ai
fatal: ambiguous argument '%s': unknown revision or path not in the working tree.
Use '--' to separate paths from revisions, like this:
'git <command> [<revision>...] -- [<file>...]'

thought when I run git log, the command runs just fine, but ofcourse with the

[2017-05-03 16:19] extend1994 commented on #9816
@abdulamite It seems that you missed the symbol ` ' `
Command should be git log -5 --pretty='format:%h - %s - %an %ai'.
Let's try again :)

[2017-05-03 16:32] jianzhou520 commented on #11178
yep!╰(￣▽￣)╭

[2017-05-03 16:38] extend1994 commented on #11178
Thanks!

[2017-05-03 17:46] abdulamite commented on #9816
Ah I see what the issue actually was, so I tried it with single quotes and I was having problems, though when using cmd, you have to use " ", I should really just switch to a linux only machine.

[2017-05-03 17:54] swirly commented on #10227
have you a release date planned for phaser ce now you have the response ?

[2017-05-04 02:00] abdulamite commented on #9816
Here are my results from running the supplied commands:

![image](https://cloud.githubusercontent.com/assets/7246246/25688282/a1d772e6-3032-11e7-988f-27238ad5417b.png)

[2017-05-04 08:17] dlevacher opened #11181 "[Request] Add angular-throttle-debounce"
**Library name:** angular-throttle-debounce
**Git repository url:** https://github.com/tsaikd/angular-throttle-debounce
**npm package name or url** (if there is one):
**License (List them all if it's multiple):** MIT
**Official homepage:**
**Wanna say something? Leave message here:**
**bower**: https://libraries.io/bower/angular-throttle-debounce

=====================

Notes from cdnjs maintainer

[2017-05-04 10:43] extend1994 commented on #9816
@abdulamite
According to your result of command `git log -5 --pretty='format:%h - %s - %an %ai' master
`, it seems that you actually didn't pull master branch from origin remote successfully, because the latest record is Apr 25 but it should May 3.
So let's try
1. Make sure you are on branch `videojs-markers` by command `git branch`, or you have to type `git checkout videos-markers`
2. Pull master

[2017-05-04 10:52] PeterDaveHello commented on #9816
The problem is the origin remote is wrong.

@abdulamite try to add a new remote named `cdnjs` via:
`git remote add cdnjs git://cdnjs.peterdavehello.org/cdnjs`

Then pull from `cdnjs` instead of `origin`, the problem should be fixed.

[2017-05-04 11:15] sashberd opened #11182 "[Request] Add emojionearea"
**Library name:** emojionearea
**Git repository url:** https://github.com/mervick/emojionearea
**npm package name or url** (if there is one): https://www.npmjs.com/package/emojionearea
**License (List them all if it's multiple):** MIT
**Official homepage:** https://jsfiddle.net/1v03Lqnu/12/
**Wanna say something? Leave message here:**

Very nice and simple in use JQUERY emoji area plugin

[2017-05-04 11:42] PeterDaveHello commented on #11182
Thanks for suggestion, move to #10981

[2017-05-04 11:42] #11182 closed

[2017-05-04 11:54] qwe19272375 commented on #11181
@dlevacher this library doesn't have enough popularity (like more than 100 stars on GitHub or 500 downloads per month on npm). Please take a look at our [README.md](https://github.com/cdnjs/cdnjs#cdnjs-library-repository). Would you mind to open an issue again when the library has more popularity? If there are no response in 7 days, I will close this issue. Thanks for your great work and contribut

[2017-05-04 11:59] qwe19272375 commented on #11119
Closed due to no response in 7 days. cc @PeterDaveHello

[2017-05-04 11:59] #11119 closed

[2017-05-04 12:30] pvnr0082t opened #11185 "Error message when running ./tools/fixFormat.js"
[code]

Here is the error message when I ran ./tools/fixFormat.js on my side.

[2017-05-04 14:56] abdulamite commented on #9816
so I was able to pull from origin, though now I am encountering the following error while trying to rebase:

![image](https://cloud.githubusercontent.com/assets/7246246/25709816/34b15a34-309f-11e7-8f80-075267a9dda9.png)

[2017-05-04 15:06] PeterDaveHello commented on #9816
😓

[2017-05-04 15:13] abdulamite commented on #9816
I fixed it!

[2017-05-04 15:20] abdulamite commented on #9816
yay!!!

![image](https://cloud.githubusercontent.com/assets/7246246/25710918/80f24dec-30a2-11e7-973c-b570a1c0c5ec.png)

[2017-05-04 16:01] fidelduque opened #11187 "[Request] Add darkroom"
**Library name:** darkroom
**Git repository url:** https://github.com/MattKetmo/darkroomjs
**npm package name or url** (if there is one):
**License (List them all if it's multiple):**
**Official homepage:** https://github.com/MattKetmo/darkroomjs
**Wanna say something? Leave message here:**

=====================

Notes from cdnjs maintainer:
Please read the [README.md](https://github.com/cdnjs/cd

[2017-05-04 16:18] #11185 closed

[2017-05-04 16:27] PeterBot opened #11188 "[Build failed] Got error while building meta data/artifact"
Dear all,

Our build process just got an error while building the meta data/artifact of cdnjs project, our [website and api](https://github.com/cdnjs/new-website) may not be as new as our repository, however, the cdn service will not been affected, you can still use it, and modify the library name, version number and filename in the url can help you access all the content on cdnjs, we will fix the

[2017-05-04 16:28] #11188 closed

[2017-05-04 16:51] PeterDaveHello commented on #10227
We'll take care of it soon.

[2017-05-04 16:52] PeterDaveHello commented on #6190
Move to #11152

[2017-05-04 16:52] #6190 closed

[2017-05-04 16:59] PeterDaveHello commented on #9831
@nagrawal3 sorry that we moved the doc and i now updated the urls, thanks for your report, would you like to take a look again to see if that help? Thanks!

[2017-05-04 17:10] #11064 closed

[2017-05-04 17:22] #11129 closed

[2017-05-04 22:36] brianvoe opened #11189 "[Request][author] Add slim-select"
**Library name:** slim-select
**Git repository url:** https://github.com/brianvoe/slim-select
**npm package name or url** (if there is one): slim-select
**License (List them all if it's multiple):** MIT
**Official homepage:** http://slimselectjs.com/
**Wanna say something? Leave message here:**

=====================

Notes from cdnjs maintainer:
Please read the [README.md](https://github.com/cdnj

[2017-05-05 06:16] thomasvaeth opened #11190 "[Author][Request] Add Instafetch.js"
**Library name:** Instafetch.js
**Git repository url:** https://github.com/thomasvaeth/instafetch.js
**npm package name or url (if there is one):** https://www.npmjs.com/package/instafetch.js
**License (List them all if it's multiple):** MIT
**Official homepage:** http://thomasvaeth.com/instafetch.js/
**Wanna say something? Leave message here:**

[2017-05-05 07:48] boylove142 opened #11191 "[Request] Add RichMarker"
**Library name:** RichMarker
**Git repository url:** https://github.com/googlemaps/js-rich-marker
**npm package name or url** (if there is one): https://www.npmjs.com/package/js-rich-marker
**License (List them all if it's multiple):**
**Official homepage:**
**Wanna say something? Leave message here:**

=====================

Notes from cdnjs maintainer:
Please read the [README.md](https://github.

[2017-05-05 07:57] pramyogo opened #11192 "[Request] Add gifplayer"
**Library name:** gifplayer
**Git repository url:** https://github.com/rubentd/gifplayer
**License (List them all if it's multiple):** MIT License (https://github.com/rubentd/gifplayer/blob/master/LICENSE)
**Official homepage:** http://rubentd.com/gifplayer

=====================

Thanks

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issu

[2017-05-05 16:05] PeterDaveHello commented on #11168
@dakshshah96 thanks for your proposal, it looks cool, and we'll need some time to have a detail plan about how do we do that, give me more time to think about it, and feel free to have a talk on https://gitter.im/cdnjs/cdnjs, thank you again!

cc @cdnjs/dev @cdnjs/team-cdnjs

[2017-05-06 08:03] sufuf3 opened #11193 "[Request] Add 3d.city"
**Library name:** 3d.city
**Git repository url:** https://github.com/lo-th/3d.city
**npm package name or url** (if there is one):
**License (List them all if it's multiple):** GPL-3.0
**Official homepage:** http://lo-th.github.io/3d.city/index.html
**Wanna say something? Leave message here:**

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com

[2017-05-06 14:10] sivashashank opened #11194 "[Request] Add facebook ga"
**Library name:** galleria-facebook
**Git repository url:** https://github.com/aiaio/galleria-facebook
**npm package name or url** (if there is one):
**License (List them all if it's multiple):**
**Official homepage:** http://www.alexanderinteractive.com/blog/2012/03/display-facebook-photos-on-your-website-with-galleria/
*Facebook plugin galleria**

=====================

Notes from cdnjs maintain

[2017-05-06 14:49] piecioshka commented on #10252
I'm give up.

[2017-05-06 14:49] #10252 closed

[2017-05-06 15:10] nagrawal3 commented on #9831
@PeterDaveHello thanks for updating the links, that helped in knowing how to proceed.

[2017-05-06 16:59] qwe19272375 commented on #8932
@pvnr0082t I have the same problem.
Tried using `**/*` in filemap, but npm auto-update some how only get `index.js` in `v0.0.1`~`v0.0.4`.

[2017-05-06 21:07] #9681 closed

[2017-05-06 21:17] #11070 closed

[2017-05-07 08:04] gibbok opened #11195 "Add new Animatelo release v1.0.3"
Hi, I would like to notify you that a new release [v1.0.3](https://github.com/gibbok/animatelo/releases/tag/1.0.3) of [Animatelo](https://github.com/gibbok/animatelo) is now available.

Please update your [CDN](https://cdnjs.com/libraries/animatelo).

Thanks for your collaboration.

[2017-05-07 09:57] sufuf3 commented on #10227
@PeterDaveHello As readme.md say,
Phaser 2.6.2 is the last 'official' release, published on npm as `phaser`
Phaser 2.7.0 and all future versions have been given to the community to maintain, published on npm as `phaser-ce`.
ref: https://github.com/photonstorm/phaser-ce#whats-new

Should I update the auto-update of `phaser` or add new library which named `phaser-ce`?

Please give me some suggestion

[2017-05-07 10:06] sufuf3 opened #11196 "[Request] Add animatescroll.js"
**Library name:** animatescroll.js
**Git repository url:** https://github.com/ramswaroop/animatescroll.js
**License (List them all if it's multiple):** MIT
**Official homepage:** http://plugins.compzets.com/animatescroll

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/44925689-request-add-animatescroll-js?utm_campaign=plugin&utm_con

[2017-05-07 10:08] sufuf3 commented on #11194
@sivashashank this library doesn't have enough popularity (like more than 100 stars on GitHub or 500 downloads per month on npm). Please take a look at our [README.md](https://github.com/cdnjs/cdnjs#cdnjs-library-repository). Would you mind to open an issue again when the library has more popularity? If there are no response in 7 days, I will close this issue. Thanks for your great work and contri

[2017-05-07 10:11] PeterDaveHello commented on #11196
@sufuf3 Remove empty item as we discussed before...

[2017-05-07 10:13] sufuf3 commented on #11195
@gibbok we just add v1.0.3 3 hours ago ref: https://github.com/cdnjs/cdnjs/commit/67a4fce0c85a68bfbe36476ba62554d95d7c5b83

Thank you for your suggestion.

[2017-05-07 10:15] sufuf3 commented on #11196
Sorry, I removed them.

[2017-05-07 11:31] photonstorm commented on #10227
Add it as a new library (`phaser-ce`) please, because while 2.6.2 is our last official v2 release, we are busy working on v3 now and will see a release shortly. Phaser CE has been picked up by the community and they've been really busy, releasing loads of great versions, and are actively maintaining it, which is why I feel it's a good _separate_ addition to CDNJS.

[2017-05-07 16:06] jeremyfourna opened #11198 "[Request] Add Carbon Design Systems"
**Library name:** Carbon Design Systems
**Git repository url:** https://github.com/carbon-design-system/carbon-components
**npm package name or url** (if there is one): carbon-components
**License (List them all if it's multiple):** Apache License Version 2.0, January 2004
**Official homepage:** http://carbondesignsystem.com/
**Wanna say something? Leave message here:** Cool CSS framework

=======

[2017-05-07 16:35] sivashashank commented on #11194
Yeah sure
Regards,
Siva Shashank
On 07-May-2017 3:38 pm, "Monisan Fu" <notifications@github.com> wrote:

[2017-05-07 16:55] sufuf3 commented on #11194
@sivashashank Thanks.
close for this library doesn't have enough popularity.
cc @PeterDaveHello

[2017-05-07 16:55] #11194 closed

[2017-05-08 01:36] sufuf3 commented on #10227
@photonstorm Thank you. I'll add a new library as `phaser-ce`

[2017-05-08 12:20] miyurusankalpa opened #11202 "Map files are not cached at CDN"
Map files are served from the backend and is not cached at Cloudflare.

Test URLs:
https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.map
https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css.map

RedBot:
https://redbot.org/?uri=https%3A%2F%2Fcdnjs.cloudflare.com%2Fajax%2Flibs%2Fjquery%2F3.2.1%2Fjquery.min.map

<bountysource-plugin>

---
Want to back this

[2017-05-08 13:53] sashberd opened #11203 "[Request] jquery.i18n"
**Library name:** jquery.i18n
**Git repository url:** https://github.com/wikimedia/jquery.i18n
**npm package name or url** (if there is one):
**License (List them all if it's multiple):** MIT
**Official homepage:**
**Wanna say something? Leave message here:**

=====================

[2017-05-08 20:27] iangilman commented on #8811
Is this still in progress?

[2017-05-09 03:31] maruilian11 commented on #8811
Hi @iangilman, sorry for the late reply. We are going to add version before `v1.1.1` manually, it may take some time. I will send a PR for this lib ASAP.

[2017-05-09 07:31] uzairbukhari opened #11205 "[Request] Add optimizely"
**Library name:** optimizely
**Git repository url:**
**npm package name or url** (if there is one):
**License (List them all if it's multiple):**
**Official homepage:**
**Wanna say something? Leave message here:**

=====================

Notes from cdnjs maintainer:
Please read the [README.md](https://github.com/cdnjs/cdnjs#cdnjs-library-repository) and [CONTRIBUTING.md](https://github.com/cdnjs/c

[2017-05-09 15:18] BitVortex opened #11207 "[Request] Add pixel-grid"
**Library name:** pixel-grid
**Git repository url:** https://github.com/freeman-lab/pixel-grid
**npm package name or url** (if there is one): [pixel-grid](https://www.npmjs.com/package/pixel-grid)
**License (List them all if it's multiple):** MIT License
**Official homepage:** https://github.com/freeman-lab/pixel-grid
**Wanna say something? Leave message here:** Nice little module to easily render

[2017-05-09 17:10] #5709 closed

[2017-05-09 23:46] Jaygiri opened #11209 "[Request] Add jmespath"
**Library name:** jmespath
**Git repository url:** https://github.com/jmespath/jmespath.js
**npm package name or url** (if there is one): https://www.npmjs.com/package/jmespath
**License (List them all if it's multiple):** Apache License, Version 2.0
**Official homepage:** http://jmespath.org/
**Wanna say something? Leave message here:**

=====================

Notes from cdnjs maintainer:
Please

[2017-05-10 02:03] clusteratlas commented on #11176
+1

[2017-05-10 02:42] tananaev opened #11212 "[URGENT] Library access issue"
I am trying to access extjs library on cdnjs:

http://cdnjs.cloudflare.com/ajax/libs/extjs/6.2.0/ext-all-debug.js

...but there seems to be some issue with the server:

![screen shot 2017-05-10 at 2 40 13 pm](https://cloud.githubusercontent.com/assets/1161863/25881022/ce1406e2-358e-11e7-91df-c35bc1dff427.png)

[2017-05-10 03:27] hare1039 commented on #11212
@PeterDaveHello Please take a look at this issue.
@tananaev Hi, Please wait for main maintainer of cdnjs to see what's going on. Thanks for reporting.

[2017-05-10 03:32] hare1039 commented on #11212
BTW, I can access this library in Taiwan currently, would you please see if it is working now?

[2017-05-10 03:47] tananaev commented on #11212
I am located in New Zealand. Request seems to be going though Sydney server, as you can see from screenshot.

[2017-05-10 04:14] iArren commented on #11212
I am located at Russia and cdnjs resources (specifically JS) is not available for .loc and .dev domains, it just drops connection and gives 522.

[2017-05-10 04:36] nuclearspike commented on #11212
I'm having CORS issues with cloudflare that just started. Don't know if this is related but it just started tonight.
![screen shot 2017-05-09 at 10 33 44 pm](https://cloud.githubusercontent.com/assets/1151638/25883409/b0764974-3507-11e7-8606-92c1bf4499ec.png)

[2017-05-10 05:02] hare1039 commented on #11205
Hi @uzairbukhari,
Would you provide more information about this library?
e.g. some urls to npm/GitHub pages?

Thanks!

[2017-05-10 05:27] uzairbukhari commented on #11205
Yeah sure,

Npm: https://www.npmjs.com/package/optimizely-client-sdk
Github: https://github.com/optimizely/javascript-sdk

I need to use it in a drupal page so I need its cdn, unfortunately they dont have it already,
Thanks

[2017-05-10 05:39] nuclearspike commented on #11212
BTW: That was also happening in production, I switched to another CDN (npmcdn.com) because those files not loading broke my site.

[2017-05-10 07:09] damnedhorse commented on #11212
I'm seeing it in London.  Resources blocked by CORS.

[2017-05-10 07:35] eifoshm commented on #11212
Same issue with
https://cdnjs.cloudflare.com/ajax/libs/react-slick/0.14.8/react-slick.min.js
![Uploading Screenshot_2017-05-10-10-33-00_com.android.chrome.png…]()

[2017-05-10 08:06] terinjokes commented on #11212
We're looking into why the origin server is timing out some requests.

[2017-05-10 08:07] hare1039 commented on #11205
Thanks!
BTW, we members currently stop working on normal library-adding issues
https://github.com/cdnjs/cdnjs/issues/11170

So if you wish to get this library online in few weeks, you may need to send a PR by yourself.

Sorry for the inconvenience.

[2017-05-10 08:34] terinjokes commented on #11212
We've resolved the issue at this time.

We're unsure why the box handling uncached requests suddenly died, or why alerts never fired for it. We'll investigate why and make the changes necessary.

[2017-05-10 08:52] terinjokes commented on #4807
We've long switched to SHA2 certificates.

[2017-05-10 08:52] #4807 closed

[2017-05-10 08:54] pkra commented on #11212
@terinjokes I'm now getting a 403 (in Germany) at https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/extensions/a11y/mathmaps/symbols/math_arrows.json. Any thoughts?

[2017-05-10 10:23] dakshshah96 commented on #11209
I'll be working on this. @hare1039 Please add the `High Priority` label to this since this library is extremely popular.

* 75,165 downloads in the last day
* 443,237 downloads in the last week
* 1,918,841 downloads in the last month

[2017-05-10 10:58] hare1039 commented on #11209
@dakshshah96 Thank you for reminding me!

[2017-05-10 12:24] pkra commented on #11212
Ok, json-related problems are a separate issue. See the discussion at https://github.com/cdnjs/cdnjs/issues/10160#issuecomment-270032154.

[2017-05-10 12:28] pkra commented on #10160
Should this be a separate issue?

[2017-05-10 15:51] BeingRitam opened #11218 "[Request][Author] Add buttons"
**Library name:** buttons
**Git repository url:** https://github.com/BeingRitam/buttons
**npm package name or url** (if there is one):
**License (List them all if it's multiple):** GNU GPL v3
**Official homepage:** http://ritamdas.com/buttons/
**Wanna say something? Leave message here:**

=====================

Notes from cdnjs maintainer:
Please read the [README.md](https://github.com/cdnjs/cdnjs

[2017-05-10 16:13] terinjokes commented on #10160
@pkra No.

[2017-05-10 17:02] #10977 closed

[2017-05-10 17:19] PeterDaveHello commented on #11202
@terinjokes is it possible to cache map file here? Thanks.

cc @ryankirkman

[2017-05-10 18:22] Jaygiri commented on #11209
Thank you @dakshshah96 @hare1039 @PeterDaveHello and @clairetsai818

[2017-05-10 18:22] PeterDaveHello commented on #11209
@Jaygiri You're welcome.

[2017-05-10 19:16] pkra commented on #10160
Thanks!

[2017-05-10 19:39] mercyg commented on #5289
@PeterDaveHello @maruilian11 I was going to add this library using cdnjs-importer I got the error that it doesn't have package.json. How do I create the package.json before cloning the library?

[2017-05-10 20:58] mvanzyl opened #11220 "[Request] Add create-torrent"
**Library name:** create-torrent
**Git repository url:** https://github.com/webtorrent/create-torrent
**npm package name or url** (if there is one): https://www.npmjs.com/package/create-torrent
**License (List them all if it's multiple):** MIT
**Official homepage:** https://webtorrent.io
**Wanna say something? Leave message here:**

=====================

Notes from cdnjs maintainer:
Please read t

[2017-05-10 22:22] DovydasNavickas commented on #11212
Still getting 522 in Lithuania for React here:
https://cdnjs.cloudflare.com/ajax/libs/react/15.4.2/react-dom.min.js

[2017-05-10 22:25] DovydasNavickas commented on #11212
VM in the Netherlands loads everything perfectly though... 😕

[2017-05-11 00:17] kingy444 commented on #10893
Is there anything I can do to try and expedite this process. I tried the whole shallow-clone thing in an attempt to submit a pull request but haven't been successful.

It would be great if we can get this into the repository as soon as possible.

[2017-05-11 01:29] gera2ld opened #11222 "stats.js r17 is broken"
ref: a67a9d40
The uncompressed file is using ES6 modules and cannot be executed directly.
The compressed file is completely broken.

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/45064512-stats-js-r17-is-broken?utm_campaign=plugin&utm_content=tracker%2F32893&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysourc

[2017-05-11 10:08] ZippoRays commented on #11004
It reached a 100, I just added the final one, good to go I guess

[2017-05-11 11:06] qwe19272375 commented on #11181
Closed due to no response in 7 days. cc @PeterDaveHello

[2017-05-11 11:06] #11181 closed

[2017-05-11 12:02] dakshshah96 commented on #10840
@PeterDaveHello Looks like each package listed here is a separate one. Am I right?

The only one already existing in CDNJS is https://www.npmjs.com/package/inferno

[2017-05-11 13:54] pvnr0082t commented on #11222
@PeterDaveHello There is official minified file(https://github.com/mrdoob/stats.js/blob/r17/build/stats.min.js). Should we remove the files in version [17](https://github.com/cdnjs/cdnjs/tree/master/ajax/libs/stats.js/17)/[r17](https://github.com/cdnjs/cdnjs/tree/master/ajax/libs/stats.js/r17) in cdnjs and put the official minified file into the directories?

[2017-05-11 17:57] sufuf3 commented on #10430
Closed due to no response in 7 days. cc @PeterDaveHello

[2017-05-11 17:58] #10430 closed

[2017-05-11 19:07] sufuf3 commented on #11167
I run auto-update and get the file as same with upstream.
[code]

but v1.4.1 in CDNJS is different from origin repo, also different from git auto-update get.
[code]

[2017-05-12 01:31] #10970 closed

[2017-05-12 01:35] #9816 closed

[2017-05-12 09:41] danjdewhurst opened #11230 "[author] [Request] Add previous_pages.js"
**Library name:** previous_pages.js
**Git repository url:** https://github.com/danjdewhurst/previous_pages.js
**npm package name or url** (if there is one):
**License (List them all if it's multiple):** GPL 3.0
**Official homepage:**
**Wanna say something? Leave message here:**

=====================

Notes from cdnjs maintainer:
Please read the [README.md](https://github.com/cdnjs/cdnjs#cdnjs-lib

[2017-05-12 14:21] maruilian11 commented on #5289
@mercyg Sorry, I'm not familiar with cdnjs-importer, but I will try it in my free time. Could you please use another way to add lib first? Thank you!

[2017-05-12 14:26] mercyg commented on #5289
@maruilian11 what is the other way to add the library? I have only used the cdnjs-importer :) thanks

[2017-05-12 14:44] zbraestudio opened #11231 "[Request] Add https://github.com/zbraestudio/rhinoJS/blob/master/dist/rhinoJS.js"
**Library name:** https://github.com/zbraestudio/rhinoJS/blob/master/dist/rhinoJS.js
**Git repository url:**
**npm package name or url** (if there is one):
**License (List them all if it's multiple):**
**Official homepage:**
**Wanna say something? Leave message here:**

=====================

Notes from cdnjs maintainer:
Please read the [README.md](https://github.com/cdnjs/cdnjs#cdnjs-library-repo

[2017-05-12 21:31] sophie-li commented on #10286
@Manish-Giri hi there! are you still working on this issue? if not and if you don't mind, i would like to contribute to tis since it'll be my first time :)

[2017-05-12 21:43] sophie-li commented on #9825
I would like to contribute as this is my first time! :)

[2017-05-13 10:20] alundiak opened #11232 "Not correct version of html2canvas on CDNjs"
I created https://github.com/niklasvh/html2canvas/issues/1115
But not sure whose fault it is in fact.
Any ideas?

cc/ @niklasvh @eKoopmans

[2017-05-13 13:19] dakshshah96 commented on #10303
@PeterDaveHello Can we really add this? Since it's not hosted either on GitHub or npm.

[2017-05-13 13:20] dakshshah96 commented on #10304
@PeterDaveHello: What library should be added here? No description is provided.

[2017-05-13 16:47] maruilian11 commented on #5289
@mercyg OK, I got your point. I just tried cdnjs-importer myself, and looks like there must be a package.json on the repo before cloning it. You can:
1. Send a PR to the lib repo to add a package.json.
2. Open an issue to ask if the author can create a package.json.

We can't  use cdnjs-import on this lib until it done.

Other ways to add the library mentioned in [CONTRIBUTING.md](https://github.c

[2017-05-13 18:13] dakshshah96 opened #11235 "[Request] Add ScrollTrigger"
**Library name:** ScrollTrigger
**Git repository url:** https://github.com/terwanerik/ScrollTrigger
**npm package name or url** (if there is one): https://www.npmjs.com/package/scrolltrigger-classes
**License (List them all if it's multiple):** MIT
**Official homepage:** https://terwanerik.github.io/ScrollTrigger/
**Wanna say something? Leave message here:**

=====================

Notes from cdnj

[2017-05-13 18:16] dakshshah96 opened #11236 "[Request] Add DialogModal.js"
**Library name:** DialogModal.js
**Git repository url:** https://github.com/frend/frend.co/tree/gh-pages/_components/dialogmodal
**npm package name or url** (if there is one): https://www.npmjs.com/package/fr-dialogmodal
**License (List them all if it's multiple):** MIT
**Official homepage:** https://frend.co/components/dialogmodal/
**Wanna say something? Leave message here:**

===================

[2017-05-13 18:18] dakshshah96 opened #11237 "[Request] Add WebGazer.js"
**Library name:** WebGazer.js
**Git repository url:** https://github.com/brownhci/WebGazer
**npm package name or url** (if there is one):
**License (List them all if it's multiple):** GPL-3.0
**Official homepage:** https://webgazer.cs.brown.edu/
**Wanna say something? Leave message here:**

=====================

Notes from cdnjs maintainer:
Please read the [README.md](https://github.com/cdnjs/cdn

[2017-05-13 18:19] dakshshah96 opened #11238 "[Request] Add fr-tooltip"
**Library name:** tooltip.js
**Git repository url:** https://github.com/frend/frend.co/tree/gh-pages/_components/tooltip
**npm package name or url** (if there is one): https://www.npmjs.com/package/fr-tooltip
**License (List them all if it's multiple):** MIT
**Official homepage:** https://frend.co/components/tooltip/
**Wanna say something? Leave message here:**

=====================

Notes from c

[2017-05-13 18:22] dakshshah96 opened #11239 "[Request] Add BWIP.js"
**Library name:** BWIP.js
**Git repository url:** https://github.com/metafloor/bwip-js
**npm package name or url** (if there is one): http://npmjs.com/package/bwip-js
**License (List them all if it's multiple):** MIT
**Official homepage:** http://bwip-js.metafloor.com/
**Wanna say something? Leave message here:**

=====================

Notes from cdnjs maintainer:
Please read the [README.md](http

[2017-05-13 18:25] dakshshah96 opened #11240 "[Request] Add Starability.css"
**Library name:** Starability.css
**Git repository url:** https://github.com/LunarLogic/starability
**npm package name or url** (if there is one): https://www.npmjs.com/package/starability
**License (List them all if it's multiple):** MIT
**Official homepage:** http://lunarlogic.github.io/starability/
**Wanna say something? Leave message here:**

=====================

Notes from cdnjs maintainer:

[2017-05-13 18:27] dakshshah96 opened #11241 "[Request] Add loud-links"
**Library name:** loud-links
**Git repository url:** https://github.com/mahdif/loud-links/
**npm package name or url** (if there is one):
**License (List them all if it's multiple):** MIT
**Official homepage:** http://loudlinks.rocks/
**Wanna say something? Leave message here:**

=====================

Notes from cdnjs maintainer:
Please read the [README.md](https://github.com/cdnjs/cdnjs#cdnjs-li

[2017-05-13 18:29] dakshshah96 opened #11242 "[Request] Add intense-images"
**Library name:** intense-images
**Git repository url:** https://github.com/tholman/intense-images
**npm package name or url** (if there is one):
**License (List them all if it's multiple):**
**Official homepage:** http://tholman.com/intense-images
**Wanna say something? Leave message here:**

=====================

Notes from cdnjs maintainer:
Please read the [README.md](https://github.com/cdnjs/

[2017-05-13 18:40] eKoopmans commented on #11232
Hi @alundiak, it's just a problem in the html2canvas header info, I'll comment over there. No problem with CDNJS, you should be able to close this.

[2017-05-13 19:51] alundiak commented on #11232
I somehow not agree, because I took 2 different beta-4 code files and it behaves diff. U know what I mean.

[2017-05-13 20:17] Maikuolan commented on #11212
Currently replying from Perth, Western Australia.

Attempting to access the resource in question, I see:

[code]

So, seems to be working on my end, I guess.

[2017-05-14 04:46] nagrawal3 commented on #9829
@PeterDaveHello I will work on this issue, if no one else is working on this

[2017-05-14 04:46] PeterDaveHello commented on #9829
@nagrawal3 great! 👍

[2017-05-14 05:51] dima74 opened #11245 "[Request] Add mainloop"
**Library name:** mainloop
**Git repository url:** https://github.com/IceCreamYou/MainLoop.js
**npm package name or url** (if there is one): mainloop.js
**License (List them all if it's multiple):** MIT
**Official homepage:** https://github.com/IceCreamYou/MainLoop.js
**Wanna say something? Leave message here:** Thanks for cdnjs!

=====================

Notes from cdnjs maintainer:
Please read the

[2017-05-14 06:11] C0deZLee opened #11246 "[Request] Add matrix-js-sdk"
**Library name:** matrix-js-sdk
**Git repository url:** https://github.com/matrix-org/matrix-js-sdk/releases/tag/v0.7.7
**npm package name or url** (if there is one): matrix-js-sdk
**License (List them all if it's multiple):** Apache License 2.0
**Official homepage:** https://matrix.org/
**Wanna say something? Leave message here:** Please!!!!

=====================

Notes from cdnjs maintainer:
Pl

[2017-05-14 09:47] sufuf3 commented on #11170
May I take #10248 ?

[2017-05-14 14:47] abdulamite commented on #9819
Yo, Can I grab this one

[2017-05-14 14:48] PeterDaveHello commented on #9819
@abdulamite of course!

[2017-05-14 15:16] #9886 closed

[2017-05-14 15:25] PeterDaveHello commented on #10252
We can help you solve the problem if you need :)

[2017-05-14 15:28] PeterDaveHello commented on #11004
We'll take care of it 👍

[2017-05-14 15:30] PeterDaveHello commented on #11170
Isn't #10248 assigned to @pvnr0082t ?

[2017-05-14 15:33] PeterDaveHello commented on #10286
@sophie-li I think you can just take it, @Manish-Giri can take some other issues when he is back.

[2017-05-14 15:36] PeterDaveHello commented on #10303
There needs to be a proof of popularity, and most of the cases, it needs to be hosted on a public git/npm platform.

[2017-05-14 15:36] PeterDaveHello commented on #10304
Close empty issue here.

[2017-05-14 15:36] #10304 closed

[2017-05-14 15:37] PeterDaveHello commented on #10840
@dakshshah96 seems so.

[2017-05-14 15:38] PeterDaveHello commented on #11222
@pvnr0082t broken/difference confirmed?

[2017-05-14 15:54] PeterDaveHello commented on #11167
Looks like the content on CDNJS belongs https://github.com/esimakin/twbs-pagination/commit/f5c108db354a77c652e03fa95dbb1c3733e51c5b on Sep 28 14:57:42 2016, and correct one https://github.com/esimakin/twbs-pagination/commit/948aeeb85dcd47c47c240e3207ead2e163575fd8  came at Sep 28 18:26:41 2016.

I think there may be a big chance that its author just tagged v1.4.1 without correct content, and then

[2017-05-14 16:01] PeterDaveHello commented on #11124
We don't have that feature yet. I'll add an alias for its cdn first, further discuss can be moved to #4627

[2017-05-14 16:13] sufuf3 commented on #11170
Yes, it is.

[2017-05-14 16:14] PeterDaveHello commented on #11170
@sufuf3 so why don't you pick up some others?

[2017-05-14 16:20] sufuf3 commented on #11170
OK! May I take #9777 ?

[2017-05-14 16:39] PeterDaveHello commented on #11170
@sufuf3  Sure.

[2017-05-14 19:56] smil2k opened #11250 "[Request] Add CrackerakiUA/ui-cropper"
**Library name:**
**Git repository url:** https://github.com/CrackerakiUA/ui-cropper
**npm package name or url** (if there is one):  (old https://www.npmjs.com/package/ng-img-crop-full-extended)
**License (List them all if it's multiple):** MIT
**Official homepage:** Github
**Wanna say something? Leave message here:**

This is a clone of 'ng-img-crop'. It has been renamed recently, thus only 75, t

[2017-05-15 03:21] sufuf3 commented on #10303
@andrespipexz is this library's link as followings?
npm: https://www.npmjs.com/package/pixeden-stroke-7-icon
GitHub: https://github.com/olimsaidov/pixeden-stroke-7-icon

ref: https://github.com/olimsaidov/pixeden-stroke-7-icon/blob/master/package.json#L17

[2017-05-15 10:26] WingGithub commented on #11167
Actually I think the release tag 1.4.1 is pointing to commit 021d98dbb947479982aa9ec162f7a021f99b55b8. Looks like there was something like a 3 way branch around Sep 28 and the commit that got picked up by the bot wasn't the one that had the final release tag. If the bot picking up the commit by github release tag?

[2017-05-15 13:31] mkhanz opened #11252 "[Request] Add nanogallery2"
**Library name:** nanogallery2
**Git repository url:** https://github.com/nanostudio-org/nanogallery2
**npm package name or url** (if there is one): https://www.npmjs.com/package/nanogallery2
**License (List them all if it's multiple):** https://nano.gallery/lic/lic.php
**Official homepage:** http://nanogallery2.nanostudio.org/
**Wanna say something? Leave message here:** nanogallery2 is a JavaScr

[2017-05-15 16:53] thisgeek opened #11255 "[Request] Add chai-as-promised"
**Library name:** chai-as-promised
**Git repository url:** https://github.com/domenic/chai-as-promised
**npm package name or url** (if there is one): chai-as-promised
**License (List them all if it's multiple):** [WTFPL](https://github.com/domenic/chai-as-promised/blob/master/LICENSE.txt)
**Official homepage:** None; see either the [README](https://github.com/domenic/chai-as-promised/blob/master/R

[2017-05-15 18:00] PeterDaveHello commented on #11167
The bot picks commit by GitHub release tag, it's highly possible that it was re-tagged, that's not the first case here.

[2017-05-15 18:23] #11097 closed

[2017-05-15 18:28] #10672 closed

[2017-05-16 01:07] terinjokes commented on #10160
I plan on adding JSON (and source maps) to the allowed content types.

[2017-05-16 05:24] binaek89 opened #11259 "[Request] Add JSandbox"
**Library name:** JSandbox
**Git repository url:** https://github.com/eligrey/jsandbox
**npm package name or url** (if there is one):
**License (List them all if it's multiple):** MIT license
**Official homepage:**
**Wanna say something? Leave message here:**

=====================

Notes from cdnjs maintainer:
Please read the [README.md](https://github.com/cdnjs/cdnjs#cdnjs-library-repository) an

[2017-05-16 05:29] dakshshah96 opened #11260 "In progress issue labels"
As of writing this, there are 735 open issues on the cdnjs repo with the majority of them being requests to add/update libraries.

## The Problem

* Finding issues to work on is particularly difficult right now as the label `In progress` is not used proactively to label issues which are currently work in progress.
* Due to this, a contributor needs to open up the issue on a new page and check if a

[2017-05-16 05:42] rjgough opened #11261 "[Request] Add jQuery.SimpleSelect"
**Library name:** jQuery.SimpleSelect
**Git repository url:** https://github.com/pioul/jQuery.SimpleSelect
**npm package name or url** (if there is one):
**License (List them all if it's multiple):**
**Official homepage:**
**Wanna say something? Leave message here:**

=====================

Notes from cdnjs maintainer:
Please read the [README.md](https://github.com/cdnjs/cdnjs#cdnjs-library-reposi

[2017-05-16 11:00] PeterDaveHello commented on #11260
Should be fixed now for new PRs, see #11176 as example.

[2017-05-16 11:02] PeterDaveHello commented on #11260
@cdnjs/intern3 please help label old issues that have corresponding PR with `in progress` label manually.

[2017-05-16 11:05] dakshshah96 commented on #11260
@PeterDaveHello Great! 😄

[2017-05-16 11:07] dakshshah96 commented on #11235
@pvnr0082t Please add `in progress` label here.

[2017-05-16 11:08] dakshshah96 commented on #11237
@pvnr0082t Please add `in progress` label here.

[2017-05-16 11:08] PeterDaveHello commented on #11237
@dakshshah96 better tag @qwe19272375 to do it

[2017-05-16 11:08] PeterDaveHello commented on #11235
@dakshshah96 better tag @qwe19272375 to do it

[2017-05-16 11:13] dakshshah96 commented on #11260
@PeterDaveHello So, the `in progress` label will also be removed when the issue is closed?

[2017-05-16 11:13] PeterDaveHello commented on #11260
@dakshshah96 yep

[2017-05-16 12:05] iGitScor opened #11263 "[Author][Request] Add mobile debug"
Library name: mobile-debug
Git repository url: https://github.com/iGitScor/mobile-debug
npm package name or url (if there is one): https://www.npmjs.com/package/mobile-debug
License (List them all if it's multiple): MIT
Official homepage: None (for the moment)
Wanna say something? Leave message here:

Do I have to make a pull request for that ?

Thank you !

=====================

Notes from cdnjs

[2017-05-16 12:43] qwe19272375 commented on #11195
@sufuf3 I think this issue can be closed?

[2017-05-16 12:46] sufuf3 commented on #11195
close by the version added by @PeterBot
cc @PeterDaveHello , @qwe19272375

[2017-05-16 12:46] #11195 closed

[2017-05-16 13:07] qwe19272375 commented on #10549
Sorry, it was an accident.

[2017-05-16 18:38] #11152 closed

[2017-05-16 18:39] #9829 closed

[2017-05-16 18:46] PeterDaveHello commented on #11195
I think it was added before this issue was created actually.

[2017-05-16 21:41] enicolasToast opened #11264 "[Request] Add Mapbox/polyline"
Library name: @mapbox/polyline
Git repository url: https://github.com/mapbox/polyline
npm package name or url (if there is one): https://www.npmjs.com/package/@mapbox/polyline (old: https://www.npmjs.com/package/polyline)
License (List them all if it's multiple): Not sure on the type, there is one on the github root path
Official homepage: None (for the moment)
Wanna say something? Leave message h

[2017-05-16 22:02] jonl-percsolutions-com opened #11265 "[Request] Add eventsource-polyfill"
**Library name:** eventsource-polyfill
**Git repository url:**  https://github.com/amvtek/EventSource
**npm package name or url** (if there is one): eventsource-polyfill
**License (List them all if it's multiple):** MIT
**Official homepage:**  https://github.com/amvtek/EventSource

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/4526

[2017-05-17 04:54] virataparva opened #11267 "[Request] Add ejs_production"
**Library name:** ejs_production
**Git repository url:**
**npm package name or url** (if there is one):
**License (List them all if it's multiple):**
**Official homepage:**
**Wanna say something? Leave message here:**

=====================

Notes from cdnjs maintainer:
Please read the [README.md](https://github.com/cdnjs/cdnjs#cdnjs-library-repository) and [CONTRIBUTING.md](https://github.com/cdn

[2017-05-17 07:13] sufuf3 commented on #11239
Duplicated with #10215
@qwe19272375 please check if the issue is duplicate with another issue.
cc @PeterDaveHello

[2017-05-17 08:23] dakshshah96 commented on #11239
@sufuf3 Agreed. This issue is a duplicate.

[2017-05-17 08:23] #11239 closed

[2017-05-17 12:48] qwe19272375 commented on #11260
All old issues that have corresponding PR labeled as `in progress`, cc @PeterDaveHello

[2017-05-17 12:49] PeterDaveHello commented on #11260
@qwe19272375 Well done.

[2017-05-17 13:04] #11260 closed

[2017-05-17 13:10] sufuf3 commented on #11170
The PR #9777 I think it can close because the repo is a lightweight commenting server written in Python and JavaScript. And it's not the JavaScript or CSS library which can use in front-end.

May I take another PRs as the followings?
- [ ] #10086
- [ ] #10133
- [ ] #10640
- [ ] #7268

[2017-05-17 13:28] kweisamx opened #11268 "[Request] Update PKI.js repository url, homepage, keyword"
**Library name:** PKI.js
**Git repository url:**https://github.com/PeculiarVentures/PKI.js
**npm package name or url** (if there is one): https://www.npmjs.com/package/pkijs
**License (List them all if it's multiple):**MIT
**Official homepage:** https://pkijs.org/
**Wanna say something? Leave message here:**

[2017-05-17 13:51] dakshshah96 commented on #11260
Thanks for the effort @qwe19272375 😄

[2017-05-17 13:54] dakshshah96 opened #11269 "[Request] Add elevator.js"
**Library name:** elevator.js
**Git repository url:** https://github.com/tholman/elevator.js
**npm package name or url** (if there is one): https://www.npmjs.com/package/elevator.js
**License (List them all if it's multiple):** MIT
**Official homepage:** http://tholman.com/elevator.js
**Wanna say something? Leave message here:** This is probably a high priority library.

=====================

Not

[2017-05-17 21:46] PeterDaveHello commented on #11170
@sufuf3 go ahead.

[2017-05-17 21:58] PeterDaveHello commented on #10199
@armenavetisyan sorry that we didn't get any response from you for a while so we'll take this PR/issue, feel free to pick another one when you have time, thanks.

[2017-05-17 22:00] #10199 closed

[2017-05-17 22:06] #8811 closed

[2017-05-17 22:09] PeterDaveHello commented on #10893
Hi @kingy444 sorry that I didn't see your comment earlier, @jawj sent pull request #11227 here, so I think we don't need to do anything else. If you're interested in help adding new libraries, maybe you can take a look at #9822 #9821 #9820, thanks a lot!

[2017-05-17 22:10] #10893 closed

[2017-05-17 22:15] #11178 closed

[2017-05-17 22:25] #10733 closed

[2017-05-17 23:05] PeterDaveHello commented on #10674
@qwe19272375 any reason this was not labeled with `in progress`? (and some of the others)

[2017-05-18 01:34] sufuf3 commented on #10499
@PeterDaveHello this issue was done by #10673
I think this issue can be closed.

[2017-05-18 04:09] dakshshah96 opened #11270 "Issue templates"
Just like how cdnjs has a template users need to fill out before opening a pull request, I think we should have a template for issues as well.

Majority of the issues opened are those for addition of a new library. Template for those can be something like this:

[code]

cc @PeterDaveHello

[2017-05-18 04:21] #10499 closed

[2017-05-18 04:22] sufuf3 commented on #10498
close due to the PR was merge, cc @PeterDaveHello

[2017-05-18 04:22] #10498 closed

[2017-05-18 11:26] dakshshah96 commented on #10114
Hey @vanessa-bell, happy to help if you still want to contribute!

[2017-05-18 11:28] dakshshah96 opened #11271 "Typo in invalid label"
There's a label `invaid` being used right now to label issues.

I believe this is a typo. The correct label should be `invalid`.

Please correct me if I'm wrong.

[2017-05-18 12:32] pvnr0082t commented on #11267
@virataparva Could you please provide more detail of the library? Public repository or npm package will be good. This issue will be closed if there is no response in next 7 days. Thanks.

[2017-05-18 12:50] clairetsai818 commented on #11003
close due to no response, cc @PeterDaveHello

[2017-05-18 12:50] #11003 closed

[2017-05-18 18:03] mgalante opened #11274 "[Request] Add jquery.redirect"
**Library name:** Jquery Redirect
**Git repository url:** https://github.com/mgalante/jquery.redirect
**npm package name or url** (if there is one):
**License (List them all if it's multiple):** Licensed under CC BY-SA 4.0
**Official homepage:** https://github.com/mgalante/jquery.redirect
**Wanna say something? Leave message here:**

=====================

Notes from cdnjs maintainer:
Please read

[2017-05-18 18:34] qwe19272375 commented on #9771
@sufuf3 is this issue done? Not sure should label it `in progress` or not.

[2017-05-18 19:22] jonhoo opened #11275 "[Request] Add graph-viz-d3.js"
Library name: graph-viz-d3-js, A Graphviz web D3.js renderer.
Git repository url: https://github.com/mstefaniuk/graph-viz-d3-js
Official homepage: https://github.com/mstefaniuk/graph-viz-d3-js

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/45340920-request-add-graph-viz-d3-js?utm_campaign=plugin&utm_content=tracker%2F32893&utm_medi

[2017-05-18 22:19] up9cloud opened #11276 "[Request] Add art-template"
**Library name:** art-template
**Git repository url:** https://github.com/aui/art-template
**npm package name or url** (if there is one):
**License (List them all if it's multiple):** MIT
**Official homepage:** https://aui.github.io/art-template/
**Wanna say something? Leave message here:**

=====================

Notes from cdnjs maintainer:
Please read the [README.md](https://github.com/cdnjs/cd

[2017-05-19 06:59] qwe19272375 commented on #11255
NOTE: 1003 stars at GitHub repository

[2017-05-19 11:17] virataparva commented on #11267
@pvnr0082t We are in the need of a CDN for embedded js
Link of site - http://www.embeddedjs.com/

[2017-05-19 12:27] sufuf3 opened #11279 "Building cdnjs environment using Docker"
Hi,
I would like to distribute about the cdnjs docker, which can let the new contributor feel free to use it.
I write a dockerfile which build the cdnjs environment.
Everyone use it don't worry about how to build the environment, just need to know how to edit the sparkcheckout, use git command to add library and use docker.
https://github.com/sufuf3/cdnjs-dockerfile, this is my GitHub repository.

[2017-05-19 12:34] pvnr0082t commented on #11267
@virataparva Is there any popularity information of this library?

[2017-05-19 15:50] #11096 closed

[2017-05-19 15:52] #11209 closed

[2017-05-19 16:48] dakshshah96 commented on #11209
@Jaygiri **jmespath** has been added to cdnjs! Check out https://cdnjs.com/libraries/jmespath 😄

[2017-05-19 16:58] vanessa-bell commented on #10114
Sorry, I don't have the bandwidth to contribute right now after all. Thanks for offering to help me out! Maybe I can contribute in another way in the future :)

[2017-05-19 17:10] dakshshah96 commented on #10114
Sure, no problem at all 😄

[2017-05-19 18:48] qwe19272375 commented on #10674
@PeterDaveHello Sorry, waffle.io did not show every issue that has related PR.
I checked every issue with `Library - Request to Add/Update` manually, and the work should have been correctly done this time.

[2017-05-20 00:49] Jaygiri commented on #11209
Thank you @dakshshah96 @hare1039 @PeterDaveHello @clairetsai818 and @qwe19272375 for working on this and making JMESPath available through cdnjs.com.

Thank you on behalf of all JMESPath users.

[2017-05-20 10:08] theel0ja opened #11282 "[Request] Add material-components-web"
**Library name:** material-components-web
**Library description:** Modular and customizable Material Design UI components for the web
**Git repository url:** https://github.com/material-components/material-components-web
**npm package name or url** (if there is one): https://www.npmjs.com/package/material-components-web
**License (List them all if it's multiple):** [Apache 2.0](https://github.com/

[2017-05-20 10:08] Niko9911 opened #11283 "[Request] Add Morphext"
**Library name:** Morphext
**Git repository url:** https://github.com/MrSaints/Morphext
**npm package name or url** (if there is one):
**License (List them all if it's multiple):** MIT
**Official homepage:** http://morphext.fyianlai.com/
**Wanna say something? Leave message here:** I would like if you add this with high priority. I need this JS library to my customer website :+1: Also I'm not crea

[2017-05-20 11:51] dakshshah96 commented on #11276
npm package URL: https://www.npmjs.com/package/art-template

[2017-05-20 13:01] sufuf3 commented on #11279
Close due to there is a one https://github.com/cdnjs/workspace
Sorry for bother.

[2017-05-20 13:01] #11279 closed

[2017-05-20 13:07] PeterDaveHello commented on #11271
nice catch, fixed

[2017-05-20 13:07] #11271 closed

[2017-05-20 13:57] sufuf3 commented on #11283
Duplicate with #9219

[2017-05-20 15:08] clairetsai818 commented on #10113
Could you also upload the pre-built files [here](https://github.com/mynameistechno/finderjs) 'cause we  can only fetch the files here through our auto-update. Thanks!

[2017-05-20 15:21] sufuf3 commented on #10433
Closed due to no response in 7 days. cc @PeterDaveHello

[2017-05-20 15:21] #10433 closed

[2017-05-20 16:42] dakshshah96 commented on #10593
@anteriovieira Do you need some help sending a pull request? Happy to help!

[2017-05-20 18:18] Niko9911 commented on #9219
@maruilian11
This tickets seems to been a long time open. Is there possibility to get this done in a month?

[2017-05-20 18:54] sufuf3 commented on #11170
1. I think the PR #10631 (issue: #10312) can close.
Because the lib team of one of member didn't answer your question and I take a look about the repo, it's can't use in front-end still.
I think this PR can close now. If someone wants to add this library, and it supports Html's script tag, then just send another PR to do this.

2. I think the PR #8377 can close because I can't find any repo about

[2017-05-20 19:21] sufuf3 opened #11287 "[Request] Add Tonal"
**Library name:** Tonal
**Git repository url:** https://github.com/danigb/tonal
**npm package name or url** (if there is one): https://www.npmjs.com/package/tonal
**License (List them all if it's multiple):** MIT
**Official homepage:** https://danigb.github.io/tonal/
**Wanna say something? Leave message here:**

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://w

[2017-05-20 21:52] anteriovieira commented on #10593
Hi @dakshshah96 ,

yes, I will be happy if you can help me.

[2017-05-20 22:02] PeterDaveHello commented on #10593
@anteriovieira what kind of help you would like to have first?

[2017-05-20 22:37] anteriovieira commented on #10593
Hi @PeterDaveHello ,

I read the contribution guide and I understood everything, but I do not think it makes more sense to make this package available. I probably will not keep it anymore, then you can close this issues.

Thanks!

[2017-05-20 22:56] PeterDaveHello commented on #10593
@anteriovieira Thanks, I will take a look at it soon.

[2017-05-21 02:22] PeterDaveHello commented on #8655
Hi @terinjokes, I think it'll be great to enable it no matter it the backend on Cloudflare side changes as this can really help improve performance by reducing the cache validation, am I right?

[2017-05-21 02:24] PeterDaveHello commented on #11209
@Jaygiri totally welcome 👍

[2017-05-21 02:37] #11060 closed

[2017-05-21 03:19] PeterDaveHello commented on #11283
Move to #9219

[2017-05-21 03:19] #11283 closed

[2017-05-21 03:20] PeterDaveHello commented on #9219
@sufuf3 please add this one ASAP.

[2017-05-21 03:21] PeterDaveHello commented on #9649
@pvnr0082t let's spend some time on reviewing issues.

[2017-05-21 21:37] #10593 closed

[2017-05-21 22:04] #10481 closed

[2017-05-21 22:06] PeterDaveHello commented on #10114
@vanessa-bell you can try to add the library via single package.json like #11083, do it on GitHub web gui doesn't need high bandwidth.

[2017-05-21 22:09] PeterDaveHello commented on #10312
Close per #10631

[2017-05-21 22:09] #10312 closed

[2017-05-21 22:17] PeterDaveHello commented on #11170
@sufuf3 please don't pick so many PRs at a time, you did a good job but a little bit too greedy.

[2017-05-22 00:30] PeterDaveHello opened #11291 "[Request] Add moonjs"
**Library name:** moonjs
**Git repository url:** https://github.com/KingPixil/moon
**License:** MIT
**Official homepage:** http://moonjs.ga/

For beginners who is interested in picking up this issue:

In this issue, we are going to host a new web front-end library on CDNJS, so that web developer can easily use it on our free CDN without additional download/upload process 🚀 .

If you'll like to wor

[2017-05-22 00:32] PeterDaveHello commented on #10207
@calandraz any news here?

[2017-05-22 00:32] PeterDaveHello commented on #10166
@su6a12 any news here please?

[2017-05-22 00:33] PeterDaveHello commented on #10151
@daneelrakow any news here please? Thanks.

[2017-05-22 00:33] PeterDaveHello commented on #10149
@aervin any news here please?

[2017-05-22 00:34] PeterDaveHello commented on #9831
@nagrawal3 any news here please? Thanks.

[2017-05-22 00:36] PeterDaveHello commented on #9815
Link updated, thanks.

[2017-05-22 00:53] PeterDaveHello commented on #11170
@extend1994 @hare1039 @clairetsai818 do you have related progress on this part?

[2017-05-22 02:09] juanpflores commented on #11291
Hey @PeterDaveHello! 👋
I'll be working on this one.

[2017-05-22 02:09] PeterDaveHello commented on #11291
@juanpflores nice!

[2017-05-22 07:28] clairetsai818 commented on #11170
I'm still working on the high-priority issue assigned to me.

[2017-05-22 09:10] sufuf3 opened #11294 "[Request] Add react-table"
**Library name:** react-table
**Git repository url:** https://github.com/tannerlinsley/react-table
**npm package name or url** (if there is one):  https://www.npmjs.com/package/react-table
**License (List them all if it's multiple):** MIT
**Official homepage:** https://react-table.js.org/#/story/readme
**Wanna say something? Leave message here:**

[2017-05-22 09:32] WichardRiezebos opened #11295 "[Request] Add papyrus-scroll"
**Library name:** papyrus-scroll
**Git repository url:** https://github.com/omniaretail/papyrus-scroll
**npm package name or url** (if there is one):
**License (List them all if it's multiple):** MIT
**Official homepage:** https://github.com/omniaretail/papyrus-scroll
**Wanna say something? Leave message here:**

=====================

Notes from cdnjs maintainer:
Please read the [README.md](https

[2017-05-22 10:34] maruilian11 commented on #9219
Sorry for late reply, our project members will help add this soon.

[2017-05-22 13:55] RichardMisencik opened #11297 "[Request] Update multiple-select"
**Library name:** multiple-select
**Git repository url:** https://github.com/wenzhixin/multiple-select
**npm package name or url (if there is one):** None
**License (List them all if it's multiple):** MIT
**Official homepage:** http://wenzhixin.net.cn/p/multiple-select/docs/
**Wanna say something? Leave message here:** Current cdnjs version: **1.2.0**, Latest available version: **1.2.1** (from Jan

[2017-05-22 16:10] dsaouda opened #11298 "[Request] Add texthighlighter"
**Library name:** texthighlighter
**Git repository url:** https://github.com/mir3z/texthighlighter
**npm package name or url** (if there is one): https://www.npmjs.com/package/texthighlighter
**License (List them all if it's multiple):**  MIT
**Official homepage:** http://mir3z.github.io/texthighlighter/
**Wanna say something? Leave message here:** Highlighting of selected text

==================

[2017-05-22 20:35] #10964 closed

[2017-05-22 20:38] #11235 closed

[2017-05-22 20:40] PeterDaveHello commented on #11268
PR not sent yet?

[2017-05-22 23:00] vanessa-bell commented on #10114
Thanks @PeterDaveHello! No reason not to give it a try :)

[2017-05-23 04:23] J2TeaM commented on #9363
Ping @PeterDaveHello , @maruilian11 😁

[2017-05-23 05:35] PeterDaveHello commented on #10114
@vanessa-bell nice

[2017-05-23 12:57] pkra commented on #10160
Any news on this, @terinjokes ?

[2017-05-24 00:41] andersmmg opened #11306 "[Request] Add bootstrap iconpicker"
**Library name:** bootstrap iconpicker
**Git repository url:** https://github.com/victor-valencia/bootstrap-iconpicker
**npm package name or url** (if there is one):
**License (List them all if it's multiple):** Unknown
**Official homepage:** https://victor-valencia.github.io/bootstrap-iconpicker/
**Wanna say something? Leave message here:**

=====================

Notes from cdnjs maintainer:
Ple

[2017-05-24 00:57] andersmmg commented on #8052
bootstrap-iconpicker.min.js
iconset-fontawesome-4.2.0.min.js
bootstrap-iconpicker.min.css
iconset-glyphicon.min.js
iconset-ionicon-1.5.2.min.js
iconset-weathericon-1.2.0.min.js
iconset-mapicon-2.1.0.min.js
iconset-octicon-2.1.2.min.js
iconset-typicon-2.0.6.min.js
iconset-elusiveicon-2.0.0.min.js
iconset-materialdesign-1.1.1.min.js

[2017-05-24 07:22] damrem opened #11309 "[Request] Add imgcache"
**Library name:** imgcache
**Git repository url:** https://github.com/chrisben/imgcache.js
**License :** Apache 2.0

[2017-05-24 07:26] damrem commented on #7742
https://github.com/jBenes/angular-imgcache.js is an angularjs wrapper for https://github.com/chrisben/imgcache.js/ so it seems necessary to cdnify it as well: https://github.com/cdnjs/cdnjs/issues/11309

[2017-05-24 08:50] yilmazay74 opened #11311 "[Request] Add angular2-materialize"
**Library name:** angular2-materialize
**Git repository url:** https://github.com/InfomediaLtd/angular2-materialize
**npm package name or url** (if there is one):  https://www.npmjs.com/package/angular2-materialize
**License (List them all if it's multiple):** MIT
**Official homepage:** http://materializecss.com/

Could you please provide an on the fly access url for angular2-materialize to be use

[2017-05-24 09:57] sufuf3 commented on #11311
@yilmazay74 Do you mean the library you want to add is  as the followings link?
https://www.npmjs.com/package/angular2-materialize
https://github.com/InfomediaLtd/angular2-materialize

[2017-05-24 09:58] sufuf3 commented on #11295
@WichardRiezebos  this library doesn't have enough popularity (like more than 100 stars on GitHub or 500 downloads per month on npm). Please take a look at our [README.md](https://github.com/cdnjs/cdnjs/blob/master/README.md). Would you mind to open an issue again when the library has more popularity? If there are no response in 7 days, I will close this issue. Thanks for your great work and contr

[2017-05-24 09:59] sufuf3 commented on #11298
Duplicated with #9234

[2017-05-24 10:20] maruilian11 commented on #9363
@J2TeaM Ｓorry to keep you waiting so long. I am going to send a PR for this issue.

[2017-05-24 10:59] yilmazay74 commented on #11311
No. That one is an html page that describes materialize. What I want is a url of the materialize js, which I will include in my system.config.js of my angulaar 2 project.
It will be the doing the same job as "npm install angular2-materialize --save".
Instead of downloading angular2-materialize package in node_moduels, I want it to be accessible from a url.
something like this:
  <script src="https

[2017-05-24 11:13] sufuf3 commented on #11311
Is this Library - [angular2-materialize](https://www.npmjs.com/package/angular2-materialize) you want us to host?
Sorry for my ambiguous comment.

[2017-05-24 11:20] yilmazay74 commented on #11311
yes, that one.

Thanks

[2017-05-24 11:25] yilmazay74 commented on #11311
By the way, Could you please host also primeng package?
the one that is installed via "npm install -g primeng".

Should I create a new request for primeng?

regards

[2017-05-24 11:32] sufuf3 commented on #11311
Yes. Please create a new issue for primeng.
And please provide us the details of this primeng lib, thanks.

[2017-05-24 11:40] yilmazay74 opened #11315 "[Request] Add primeng"
As it was described in the following pages:

https://github.com/primefaces/primeng

https://www.primefaces.org/primeng

[2017-05-24 11:44] sufuf3 commented on #11315
@yilmazay74 I'm really sorry about that I didn't check about the issue
This issue is duplicated with #10134, and we work on the PR #10749.

[2017-05-24 12:07] yilmazay74 commented on #11311
By the way, could you please let us know, approximately when angular2-materialize will be available on cdnjs ?

[2017-05-24 13:57] sufuf3 commented on #11311
We will work on it as soon as possible, but I can't answer you when the library will be available on CDNJS.
cc @PeterDaveHello

[2017-05-24 15:05] animeshsinghweb opened #11316 "[Request] Add Chart.PieceLabel.js"
**Library name:** Chart.PieceLabel.js
**Git repository url:** https://github.com/emn178/Chart.PieceLabel.js
**npm package name or url** (if there is one): https://www.npmjs.com/package/chart.piecelabel.js
**License (List them all if it's multiple):** MIT
**Official homepage:** https://emn178.github.io/Chart.PieceLabel.js/samples/demo/
**Wanna say something? Leave message here:** An addon to Chart.

[2017-05-24 19:34] ElManoto opened #11317 "[Request] Add jwdrs"
**Library name:** jwd
**Git repository url:**
**npm package name or url** (if there is one):
**License (List them all if it's multiple):**
**Official homepage:**
**Wanna say something? Leave message here:**

=====================

Notes from cdnjs maintainer:
Please read the [README.md](https://github.com/cdnjs/cdnjs#cdnjs-library-repository) and [CONTRIBUTING.md](https://github.com/cdnjs/cdnjs/bl

[2017-05-24 19:37] ElManoto opened #11318 "[Request] Add jwdrs"
**Library name:** jwdrs
**Git repository url:**
**npm package name or url** (if there is one):
**License (List them all if it's multiple):**
**Official homepage:**
**Wanna say something? Leave message here:**

=====================

Notes from cdnjs maintainer:
Please read the [README.md](https://github.com/cdnjs/cdnjs#cdnjs-library-repository) and [CONTRIBUTING.md](https://github.com/cdnjs/cdnjs/

[2017-05-25 01:32] fathyar opened #11320 "[Request] Add Fira Code"
**Library name:** Fira Code
**Git repository url:** https://github.com/tonsky/FiraCode.git
**npm package name or url:** [firacode](https://www.npmjs.com/package/firacode)
**License:** [SIL Open Font License 1.1](https://github.com/tonsky/FiraCode/blob/master/LICENSE)
**Official homepage:** https://github.com/tonsky/FiraCode

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on i

[2017-05-25 01:45] sufuf3 commented on #11170
#6687 is not enough popularity. should we work on it?
Or maybe we can close this PR?
This PR sent by the author, I think he uses another way to host his library.

[2017-05-25 04:26] jenil commented on #10823
hey! Bulmaswatch now has 100+ stars, can I reopen this issue or make a new one?

[2017-05-25 10:16] PeterDaveHello commented on #10823
@jenil and maybe just send us a pull request?

[2017-05-25 10:19] PeterDaveHello commented on #11298
@sufuf3 please help add this lib.

[2017-05-25 10:19] PeterDaveHello commented on #11315
Move to #10134

[2017-05-25 10:19] #11315 closed

[2017-05-25 10:20] PeterDaveHello commented on #11297
@dakshshah96 mind to take this?

[2017-05-25 10:22] PeterDaveHello commented on #11263
@iGitScor sorry for the late reply, it'll be great if you can send us a pull request, so that we can host it faster! There are some references in beginner issues like #11291 may help, please let me know that if you need any help 😄

@sufuf3 why didn't you reply to its content? You are not a robot.

[2017-05-25 10:24] PeterDaveHello commented on #11190
Hi @thomasvaeth, sorry for the late reply, just asking: if you'd be interested in sending us a pull request? It'll be great if you can send us a pull request, so that we can host it faster! There are some references in beginner issues like #11291 may help, please let me know that if you need any help 😄

[2017-05-25 10:24] PeterDaveHello commented on #11189
Hi @brianvoe , sorry for the late reply, just asking: if you'd be interested in sending us a pull request? It'll be great if you can send us a pull request, so that we can host it faster! There are some references in beginner issues like #11291 may help, please let me know that if you need any help 😄

[2017-05-25 12:51] pvnr0082t commented on #11318
Closed due to duplicated with #11317.

[2017-05-25 12:51] #11318 closed

[2017-05-25 12:52] pvnr0082t commented on #11317
@ElManoto Could you provide more information about the library? This issue will be closed if there is no response in next 7 days. Thanks.

[2017-05-25 17:13] extend1994 commented on #11170
Not yet, mostly working on reviews recently.

[2017-05-25 20:13] calandraz commented on #10207
So sorry, I moved to a new state and started a new job. Last few months
have been very busy. If anyone wants to take my datetime - picker issue, go
for it!

On May 21, 2017 8:32 PM, "Peter Dave Hello" <notifications@github.com>
wrote:

[2017-05-25 20:38] Allen-B1 opened #11324 "[Request] Add caramel"
**Library name:** caramel
**Git repository url:** https://github.com/caramelcss/caramel
**npm package name or url** (if there is one):
**License (List them all if it's multiple):** GPL-3.0
**Official homepage:** https://kurisubrooks.com/caramel/
**Wanna say something? Leave message here:**

=====================

Notes from cdnjs maintainer:
Please read the [README.md](https://github.com/cdnjs/cdn

[2017-05-25 20:39] PeterDaveHello commented on #10207
@calandraz thanks for your updates!

[2017-05-26 04:34] dev-seahouse opened #11325 "[Request] Add jquery.counterup"
**Library name:** jquery.counterup
**Git repository url:** https://github.com/ciromattia/jquery.counterup
**npm package name or url** (if there is one):  jquery.counterup
**License (List them all if it's multiple):** GNU General Public License v2.0
**Official homepage:**  https://github.com/ciromattia/jquery.counterup/blob/master/LICENSE**Wanna say something? Leave message here:**

===============

[2017-05-26 13:53] zorkow commented on #10160
Will we get that soon? The problem for us is, that the generation of MathJax's speech output is partially broken, which very much affects accessibility.

[2017-05-26 15:36] wagenaartje opened #11326 "[Request] Add Neataptic"
**Library name**: Neataptic
**Git repository url**: https://github.com/wagenaartje/neataptic
**npm package name or url:** https://www.npmjs.com/package/neataptic
**License**: MIT
**Official homepage**: https://wagenaartje.github.io/neataptic/

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/45610440-request-add-neataptic?utm_campaign

[2017-05-26 16:14] PeterDaveHello commented on #11242
@dakshshah96 @qwe19272375 please check if there is duplicate e.g. #10933

[2017-05-26 16:15] #11242 closed

[2017-05-26 16:16] #10933 closed

[2017-05-26 16:19] dakshshah96 commented on #11297
@PeterDaveHello Sure, no problem!

[2017-05-26 16:20] #9363 closed

[2017-05-26 16:34] #9832 closed

[2017-05-26 17:05] PeterDaveHello commented on #11170
@sufuf3 https://github.com/cdnjs/cdnjs/pull/6687#issuecomment-263104358

[2017-05-26 17:11] PeterDaveHello commented on #9725
As it's not open source software, and aws should have their own cdn service to host it, we may not host this one.

[2017-05-26 17:11] #9725 closed

[2017-05-26 17:13] sufuf3 commented on #11170
So we still need to add this one, is it? (as the comment)
If it is, I got it.
And this PR not respond after two pings from @PeterBot
So we should take this PR.

Is my understanding correct?

[2017-05-26 17:14] PeterDaveHello commented on #11311
@sufuf3 you should update the first comment for library info ...

[2017-05-26 17:18] PeterDaveHello commented on #11170
Doesn't the reference explain to add or not?

[2017-05-26 17:23] sufuf3 commented on #11311
Sorry, I updated it.

[2017-05-26 17:36] sufuf3 commented on #11170
Sorry I can't understand.
1. As "the https://github.com/cdnjs/cdnjs/pull/6687#issuecomment-263104358" we should help the author to add this one.
2. As "not respond after two pings from @PeterBot and it's created by author" we should ask the author, if there is no response, we help to take the PR.
3. As " not enough popularity (Just 42 stars)" we don't add it.

There are three situations in this PR

[2017-05-26 17:39] PeterDaveHello commented on #11170
@sufuf3 did I throw you three situations?

[2017-05-26 17:44] sufuf3 commented on #11170
Through the past until now, yes.
 https://github.com/cdnjs/cdnjs/issues/11170#issuecomment-304336335 this time, no.

[2017-05-26 17:45] PeterDaveHello commented on #11170
@sufuf3 don't play with text

[2017-05-26 17:51] sufuf3 commented on #11170
I'm sorry. I just need to make a confirm, to make sure that my understanding is correct.
I really afraid that I understand the wrong direction.

[2017-05-26 17:58] PeterDaveHello commented on #11170
@sufuf3 you asked about popularity, doesn't the comment anwser you?

[2017-05-26 18:52] brianvoe commented on #11189
Sorry i probably wont continue trying to make my package available via cdn. I make too many updates and response times for new version pull requests would always be behind.

[2017-05-26 18:55] PeterDaveHello commented on #11189
We'll take care of it, no worries.

[2017-05-26 19:23] brianvoe commented on #11189
ok thanks

[2017-05-26 19:28] brianvoe commented on #11189
I dont mind helping out its just the manual pull request process wasnt ideal.

What will the url path be. Was going to add to the docs how to use via cdn.

[2017-05-26 19:31] PeterDaveHello commented on #11189
@brianvoe we have auto-update mechanism, so no manual updates in future needed unless you changed the file structure.
As we haven't added it yet, no url yet, but should be something like https://cdnjs.com/libraries/slim-select

[2017-05-26 19:47] ProfitCreations opened #11328 "[Request] Add t-scroll"
**Library name:** t-scroll
**Git repository url:** https://github.com/crazychicken/t-scroll
**npm package name or url** (if there is one): https://www.npmjs.com/package/t-scroll
**License (List them all if it's multiple):**
**Official homepage:**
**Wanna say something? Leave message here:**

=====================

Notes from cdnjs maintainer:
Please read the [README.md](https://github.com/cdnjs/cd

[2017-05-26 19:48] brianvoe commented on #11189
Perfect! Thank you!

[2017-05-26 19:48] PeterDaveHello commented on #11328
@ProfitCreations any details about this library like git repository or npm package?

[2017-05-26 19:48] PeterDaveHello commented on #11189
@brianvoe will consider to send a pull request with auto-update config?

[2017-05-26 20:10] brianvoe commented on #11189
If its a one time thing. Absolutely. I tried looking at the readme and it wasnt super clear exactly what i needed to do but ill look over it again.

[2017-05-26 20:11] PeterDaveHello commented on #11189
@brianvoe take a look at the issue I mention above?

[2017-05-26 20:38] #10286 closed

[2017-05-26 20:44] PeterDaveHello commented on #11189
@brianvoe if you need any help @sufuf3 will also help you, feel free to ask!

[2017-05-27 00:02] sophie-li commented on #9817
@PeterDaveHello i'll take over this one!

[2017-05-27 00:03] PeterDaveHello commented on #9817
@sophie-li cool

[2017-05-27 01:10] sophie-li commented on #9817
@PeterDaveHello it seems the libraries already contain Videojs-ima:  https://cdnjs.com/libraries/videojs-ima

[2017-05-27 01:11] PeterDaveHello commented on #9817
@sophie-li you are right! @extend1994 forgot to check that in #11083, I'll close it now, thanks for your contribution!

[2017-05-27 01:12] PeterDaveHello commented on #9817
Close per #11083

[2017-05-27 01:12] #9817 closed

[2017-05-27 01:25] sophie-li commented on #9818
@PeterDaveHello i'll take this one :)

[2017-05-27 01:27] PeterDaveHello commented on #9818
@sophie-li :+1:

[2017-05-27 02:50] sufuf3 commented on #11170
Yes, I will just follow the comment of this PR to add it.
Thanks.

[2017-05-27 03:38] sufuf3 opened #11331 "[Request] Update the auto-update config of dio"
**Library name:** dio (https://cdnjs.com/libraries/dio)
**Git repository url:** https://github.com/thysultan/dio.js
**npm package name or url (if there is one):** https://www.npmjs.com/package/dio.js
**License (List them all if it's multiple):** MIT
**Official homepage:** https://dio.js.org
**Wanna say something? Leave message here:**
Please update the auto-update config of dio.
Because current cd

[2017-05-27 03:42] sufuf3 commented on #11328
@ProfitCreations Did you want to CDNJS host this library?
https://www.npmjs.com/package/t-scroll
https://github.com/crazychicken/t-scroll

[2017-05-27 03:51] sufuf3 commented on #11325
@dev-seahouse I found this library fork from https://github.com/bfintal/Counter-Up

Is there any reason that we need to host `ciromattia/jquery.counterup`?
Because this library doesn't have enough popularity (like more than 100 stars on GitHub or 500 downloads per month on npm). (Please take a look at our [README.md](https://github.com/cdnjs/cdnjs/blob/master/README.md). )

And CDNJS host [Counter

[2017-05-27 03:58] sufuf3 commented on #11324
@Allen-B1 is there any details about this library like git repository or npm package?

[2017-05-27 06:27] ProfitCreations commented on #11328
@sufuf3 Yes thanks

[2017-05-27 07:20] extend1994 commented on #9817
Sorry! It was my bad. Thanks @PeterDaveHello @sophie-li

[2017-05-27 07:35] sufuf3 commented on #11328
@ProfitCreations OK. But this library doesn't have enough popularity (like more than 100 stars on GitHub or 500 downloads per month on npm). Please take a look at our [README.md](https://github.com/cdnjs/cdnjs/blob/master/README.md). Would you mind to open an issue again when the library has more popularity?

Or we encourage you to add a library via sending pull request, it'll be faster than just

[2017-05-27 15:24] gururajbn commented on #10207
@PeterDaveHello can i take this issue for first PR?

[2017-05-27 15:37] dakshshah96 commented on #11311
@PeterDaveHello @sufuf3 Please check https://unpkg.com/angular2-materialize@15.0.4/dist/

I doubt these can be used directly in the browser. Awaiting your response.

[2017-05-27 18:07] gururajbn commented on #10207
@PeterDaveHello created a PR, please review.

[2017-05-27 20:41] mahdiyazdani opened #11335 "[Request] Add bootstrap.autohidingnavbar"
**Library name:** bootstrap.autohidingnavbar
**Git repository url:**
**npm package name or url** (if there is one):
**License (List them all if it's multiple):**
**Official homepage:**
**Wanna say something? Leave message here:**

=====================

Notes from cdnjs maintainer:
Please read the [README.md](https://github.com/cdnjs/cdnjs#cdnjs-library-repository) and [CONTRIBUTING.md](https://gi

[2017-05-27 20:47] camdenorrb opened #11336 "[Request] Add kotlin-js standard library"
**Library name:** kotlin-js standard library

**Git repository url:**  https://github.com/JetBrains/kotlin/tree/master/libraries/stdlib/js

**npm package name or url** (if there is one): https://www.npmjs.com/package/kotlin

**License (List them all if it's multiple):**
https://github.com/JetBrains/kotlin/blob/master/license/LICENSE.txt
https://github.com/JetBrains/kotlin/blob/master/license/NOTIC

[2017-05-28 22:53] #11187 closed

[2017-05-28 22:59] #9825 closed

[2017-05-28 23:01] #10114 closed

[2017-05-28 23:07] PeterDaveHello commented on #11311
@cdnjs/intern3 please help confirm with its author.

[2017-05-29 03:06] zhanhb opened #11340 "[Request] Add cssesc"
**Library name:** cssesc
**Git repository url:** https://github.com/mathiasbynens/cssesc
**npm package name or url** (if there is one): cssesc
**License (List them all if it's multiple):** MIT
**Official homepage:** https://mths.be/cssesc
**Wanna say something? Leave message here:**

=====================

Notes from cdnjs maintainer:
Please read the [README.md](https://github.com/cdnjs/cdnjs#cdnj

[2017-05-29 07:10] yilmazay74 commented on #11311
Hi,
We are testing it. I will let you know very soon.

Thanks a lot.

[2017-05-29 07:10] PeterDaveHello commented on #11311
@yilmazay74 thanks!

[2017-05-29 08:26] yilmazay74 commented on #11311
Hi,
When I add materialize package to my app.module.ts, I am getting the following error message

(index):58 Error: TypeError: ctorParameters.map is not a function
	    at ReflectionCapabilities.parameters (https://npmcdn.com/@angular/core@2.0.0-rc.5//bundles/core.umd.js:5006:51)
	    at Reflector.parameters (https://npmcdn.com/@angular/core@2.0.0-rc.5//bundles/core.umd.js:5191:52)
	    at Compile

[2017-05-29 08:30] yilmazay74 commented on #11311
At first it seems that it has nothing to do with angular2 materialize, however, it does.
When I remove
import { MaterializeModule } from "angular2-materialize"; from my app.module.ts
it works without problems (but without materialize of course).

Note: I am dynamically installing angular2materialize in my system.config.js as below:
'angular2-materialize': 	  'https://unpkg.com/angular2-materialize

[2017-05-29 08:32] yilmazay74 commented on #11311
By the way:
I am also importing materialize module in NgModule section as below:

@NgModule({
  imports:      [ BrowserModule, HttpModule, FormsModule, RouterModule, AppRoutingModule, MaterializeModule],

[2017-05-29 08:43] yilmazay74 commented on #11311
If I change
    'angular2-materialize': 'https://unpkg.com/angular2-materialize@15.0.4/dist/materialize-module.js'
 as
    'angular2-materialize': 	  'https://unpkg.com/angular2-materialize@15.0.4/dist/index.js',
then it  says it cannot find materialize css.
Perhaps, there is a dependency issue her, it can not find materialize css files that angular2-materialize is depending on.
(index):58 Error:

[2017-05-29 12:19] brettz9 commented on #10261
We have now released version 3.0.0 (a new though breaking version). Would be a great service to have this new version available too, thanks!

[2017-05-29 14:15] GeorgeWL opened #11343 "[Request] Add Tapir"
**Library name:** tapir
**Git repository url:** https://github.com/TapirGo/jQuery-Plugin
**npm package name or url** (if there is one):
**License (List them all if it's multiple):**
**Official homepage:** http://www.tapirgo.com/
**Wanna say something? Leave message here:** like lunar.js, just a bit simpler and with a API too

=====================

Notes from cdnjs maintainer:
Please read the [REA

[2017-05-29 14:42] hare1039 commented on #11170
I haven't started on this yet.

[2017-05-29 14:44] juanpflores commented on #11291
Yes We're finishing up the PR

[2017-05-29 14:51] abhishek71994 commented on #11196
@PeterDaveHello is this one taken up by someone?

[2017-05-29 14:52] PeterDaveHello commented on #11196
@abhishek71994 Looks not, feel free to take it.

[2017-05-29 14:54] abhishek71994 commented on #11196
@PeterDaveHello The procedure is the same as that of the addition of moon.js? for I am a beginner.

[2017-05-29 14:56] PeterDaveHello commented on #11196
@abhishek71994 Should be not very different, feel free to try and ask for help!

[2017-05-29 14:57] abhishek71994 commented on #11196
Sure, thanks.

[2017-05-29 20:16] ajay2507 commented on #11056
@PeterDaveHello  Included review comments and created pull request

[2017-05-30 13:48] PeterDaveHello commented on #10261
@brettz9 of course, see: 0e9936afc3432afad64d0601af2ff0a68c2af57f

[2017-05-30 13:55] PeterDaveHello commented on #11311
I'm not sure if this is this angular2-materialize problem you mention above is something we can deal with, maybe open an issue to its repo/author first?

[2017-05-30 14:00] PeterDaveHello commented on #11270
Actually that's something we were doing before, but was removed, as you can see, there are too many request issues that we can't handle, also, too many people don't know how to use it properly and then created many empty issues, that's why I removed it, for now people will only get the link/template when they searching on cdnjs.com, the link will be the bottom of the page, before we have enough ti

[2017-05-30 14:00] #11270 closed

[2017-05-30 14:08] PeterDaveHello opened #11344 "[Request] Add ngclipboard"
**Library name:** ngclipboard
**Git repository url:** https://github.com/sachinchoolur/ngclipboard
**npm package name or url**: [ngclipboard](https://www.npmjs.com/package/ngclipboard)
**License:** MIT
**Official homepage:** https://sachinchoolur.github.io/ngclipboard/

For beginners who is interested in picking up this issue:

In this issue, we are going to host a new web front-end library on CDN

[2017-05-30 14:11] PeterDaveHello commented on #10660
@dakshshah96 just add a readme about what's inside the `tools` folder and what's their purpose, how to use them. Thanks!

[2017-05-30 14:12] PeterDaveHello commented on #7598
Can still host it, better than nothing.

[2017-05-30 14:13] PeterDaveHello commented on #5084
cc @dakshshah96 @IonicaBizau @petrgazarov

[2017-05-30 15:06] dakshshah96 opened #11345 "Migrate from vows to Mocha/Chain for tests"
As outlined and decided in #5084, we should migrate from vows to mocha.

cc @LuisRBarreras

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/45716789-migrate-from-vows-to-mocha-chain-for-tests?utm_campaign=plugin&utm_content=tracker%2F32893&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bounty

[2017-05-30 15:06] dakshshah96 commented on #5084
@LuisRBarreras I've created a new issue for the same. #11345

[2017-05-30 16:03] simboyy opened #11346 "[Request] Add angular-validation-match"
**Library name:** angular-validation-match
**Git repository url:**
**npm package name or url** (if there is one):
**License (List them all if it's multiple):**
**Official homepage:**
**Wanna say something? Leave message here:**

=====================

Notes from cdnjs maintainer:
Please read the [README.md](https://github.com/cdnjs/cdnjs#cdnjs-library-repository) and [CONTRIBUTING.md](https://gith

[2017-05-31 04:03] krunal221291 opened #11347 "[Request] Add http://cdnjs.cloudflare.com/ajax/libs/ace/1.2.6/mode-csv.js"
**Library name:** http://cdnjs.cloudflare.com/ajax/libs/ace/1.2.6/mode-csv.js
**Git repository url:**
**npm package name or url** (if there is one):
**License (List them all if it's multiple):**
**Official homepage:**
**Wanna say something? Leave message here:**

Hello , first i am very thankful to you for sharing this kind of awesome libraries,
I am using http://cdnjs.cloudflare.com/ajax/libs/ace

[2017-05-31 06:50] dakshshah96 commented on #11054
@PeterDaveHello We should probably remove the Pull Request that was merged and close this issue? Author says build files won't be available in the repository.

[2017-05-31 06:51] PeterDaveHello commented on #11054
@dakshshah96 It is still not available on the cdn, maybe try to manually add the release files and close it.

[2017-05-31 07:11] dakshshah96 commented on #10349
@PeterDaveHello We really need to do something about this since the latest version as seen from http://archive.dojotoolkit.org/cdn/ now is **1.4.3** and we're still hosting 1.10.4 stable release.

[2017-05-31 07:15] dakshshah96 commented on #9709
@PeterDaveHello Close this issue maybe?

[2017-05-31 07:17] PeterDaveHello commented on #10349
@dakshshah96 agree. Wanna help take it?

[2017-05-31 07:21] dakshshah96 commented on #10349
@PeterDaveHello Definitely!

[2017-05-31 12:33] dylans commented on #10349
To be clear, the latest versions (including backported bug fix releases) were all released on March 5th, 2017:

1.12.2
1.11.4
1.10.8
1.9.11
1.8.14
1.7.12
1.6.5
1.5.6
1.4.8

[2017-05-31 12:36] sufuf3 opened #11348 "[Request] Update the auto-update config of file-uploader"
**Library name:** file-uploader
**Git repository url:** https://github.com/FineUploader/fine-uploader
**License (List them all if it's multiple):** MIT
**Official homepage:** http://fineuploader.com

[2017-05-31 12:37] sufuf3 opened #11349 "[Request] Update the auto-update config of react-native-elements"
**Library name:** react-native-elements
**Git repository url:** https://github.com/dabit3/React-Native-Elements
**License (List them all if it's multiple):** MIT
**Official homepage:** https://react-native-training.github.io/react-native-elements/
cc #10418

[2017-05-31 16:08] sufuf3 commented on #11343
Hi @GeorgeWL , this library doesn't have enough popularity (like more than 100 stars on GitHub or 500 downloads per month on npm). Please take a look at our [README.md](https://github.com/cdnjs/cdnjs/blob/master/README.md). Would you mind to open an issue again when the library has more popularity? If there are no response in 7 days, I will close this issue. Thanks for your great work and contribu

[2017-05-31 16:10] sufuf3 commented on #11346
@simboyy Are you mean you want CDNJS host this library --> https://github.com/TheSharpieOne/angular-validation-match ?

[2017-05-31 16:15] sufuf3 commented on #11347
@krunal221291 could you discuss with the author of upstream?
I found that the `mode-csv.js` file does not exist in https://github.com/ajaxorg/ace-builds/tree/v1.2.6/src-min .

[2017-05-31 16:18] sufuf3 commented on #11335
@mahdiyazdani Do you mean you want CDNJS host this library --> https://github.com/istvan-ujjmeszaros/bootstrap-autohidingnavbar

[2017-05-31 16:20] sufuf3 commented on #11306
Duplicate with #8052

[2017-05-31 16:41] mahdiyazdani commented on #11335
Hey @sufuf3
Yes, exactly.

[2017-05-31 17:50] krunal221291 commented on #11347
I didnt know that.
But Now that Domain has been changed to

[2017-05-31 23:44] sufuf3 commented on #11347
@krunal221291 the link you want to use is mean you want to use `mode-csv.js` file from ace@v1.2.6.
And CDNJS host this library from this GitHub repo [ace](https://github.com/ajaxorg/ace-builds).
And there is no `mode-csv.js` file in this repo, so the link https://cdnjs.com/ajax/libs/ace/1.2.6/mode-csv.js is not available.
That's why you can't get the `mode-csv.js` JS file.

I think if you want to

[2017-05-31 23:47] sufuf3 opened #11350 "[Request] Update the auto-update config of oojs-ui"
**Library name:** oojs-ui
**Git repository url:** https://phabricator.wikimedia.org/diffusion/GOJU
**npm:** https://www.npmjs.com/package/oojs-ui
**License (List them all if it's multiple):** MIT
**Official homepage:** https://www.mediawiki.org/wiki/OOjs_UI

[2017-06-01 06:31] paolocarrasco commented on #9166
Hi, is there any news about this?

[2017-06-01 12:33] ivansammartino opened #11351 "[Request] Add bootstrap-tabdrop"
**Library name:** bootstrap-tabdrop
**Git repository url:** https://github.com/jmschabdach/bootstrap-tabdrop
**npm package name or url** (if there is one):
**License (List them all if it's multiple):**
**Official homepage:**
**Wanna say something? Leave message here:**

=====================

Notes from cdnjs maintainer:
Please read the [README.md](https://github.com/cdnjs/cdnjs#cdnjs-library-repo

[2017-06-01 18:15] PeterDaveHello opened #11353 "[Request] Add pagecss"
**Library name:** pagecss
**Git repository url:** https://github.com/chilts/pagecss
**License:** MIT
**Official homepage:** https://pagecss.org/

For beginners who is interested in picking up this issue:

In this issue, we are going to host a new web front-end library on CDNJS, so that web developer can easily use it on our free CDN without additional download/upload process 🚀 .

If you'll like to

[2017-06-01 18:33] dakshshah96 commented on #11350
@PeterDaveHello Why didn't @sufuf3 not get automatically assigned to this issue on making a pull request? A bug or is it normal?

[2017-06-01 18:35] PeterDaveHello commented on #11350
@dakshshah96 may be bug from waffle, need some time to debug that, will do soon, too many works here lol ...

[2017-06-01 18:36] dakshshah96 commented on #11350
@PeterDaveHello Haha, no problems! 😄

[2017-06-01 19:53] PeterDaveHello commented on #9709
Close due to no response.

[2017-06-01 19:53] #9709 closed

[2017-06-01 19:53] #10227 closed

[2017-06-01 19:54] PeterDaveHello commented on #11306
Let's move to #8052 👍

[2017-06-01 19:54] #11306 closed

[2017-06-01 19:55] PeterDaveHello commented on #9166
@dakshshah96 can you help take this?

[2017-06-01 23:13] PeterDaveHello commented on #11260
@cdnjs/intern3 @cdnjs/active-contributor please use "Close #issueNumber" format in pull request "**comment**", so that waffle can help auto label the issues, in commit message will not work in this feature.

[2017-06-02 00:32] HenryKobin commented on #11353
Hey Peter, I'd love to try this one out. I just finished reading all the CONTRIBUTING docs and the autoupdate.md
Can I follow the directions for "adding a new library by a single package.json" or should i potentially follow the "adding a new library with it's assets"?
I'm guessing we probably need the assets right?
Thanks for your time! :]
cc: @PeterDaveHello

[2017-06-02 00:34] PeterDaveHello commented on #11353
@HenryKobin both fine, if you add it with single package.json, I'll add the assests later for you, it'll be more simple, if you'd like to learn more, adding with assets would be more interesting and chanllenging

[2017-06-02 00:36] HenryKobin commented on #11353
@PeterDaveHello okay cool, I'll work on the package.json first, then if all is well I can give the assets a shot.
What i'm thinking is we mainly need the css file, correct? Or would the user maybe also want the examples folder.
I'll start working on this right now. I should have something ready in the next couple of hours for you guys to take a look at. 👍

[2017-06-02 00:44] HenryKobin commented on #11353
May i make a pull request by adding to the `ajax/libs` folder `/pagecss/package.json`? Then after that adding the rest via `\0.3.0\` <-- files go in this folder? @PeterDaveHello

[2017-06-02 00:47] PeterDaveHello commented on #11353
You are correct, it's about the css files, all we need here is the `dist` folder which contains all the distribution purpose files, `ajax/libs/pagecss/package.json` is the correct path, and the files go where the version is, for version 3.0.0, it's `3.0.0` as you say 👍

[2017-06-02 00:59] HenryKobin commented on #11353
@PeterDaveHello do we need the build.js in the root folder of pagecss, as well?
Also, how does this package.json look with auto-update? Thanks again 😄
`
  {
  "name": "pagecss",
  "version": "0.3.0",
  "author": "Andrew Chilton"
  "description": "Beautiful CSS for single page sites - simple all the way up!",
  "main": "dist/page.css",
  "style": "dist/page.min.css",
  "autoupdate": {
    "source":

[2017-06-02 01:00] PeterDaveHello commented on #11353
@HenryKobin we don't need the build script, take a look jquery's pacakge.json as example, and just send a pull request, we have a CI system will tell you that some of the sections should be removed :)

[2017-06-02 01:01] HenryKobin commented on #11353
awesome thanks!!!! @PeterDaveHello

[2017-06-02 01:05] HenryKobin commented on #11353
@PeterDaveHello  one final question before I make my pull request: Should i remove the `scripts` from the package.json I posted above? Its included in PageCSS's package.json, but i'm only bringing over the files from the `/dist` folder.

[2017-06-02 01:06] PeterDaveHello commented on #11353
@HenryKobin it should be removed :+1:

[2017-06-02 01:07] HenryKobin commented on #11353
@PeterDaveHello will it break the package.json if have the `"author: Andrew Chilton"` line added to our package.json? Its not in the original, but i figure its good form to add the author name. I just don't know if that will make it conflict or something when it updates

[2017-06-02 01:07] PeterDaveHello commented on #11353
@HenryKobin it won't

[2017-06-02 07:54] pvnr0082t commented on #8932
@qwe19272375 I think we could ignore v0.0.1-v0.0.4.

[2017-06-02 08:15] dakshshah96 commented on #9166
@PeterDaveHello My pleasure!

[2017-06-02 08:18] pvnr0082t commented on #11336
There is a person try to add this. ref: #11288

[2017-06-02 09:28] dpDesignz opened #11357 "[Request] Add jquery.event.swipe"
**Library name:** jquery.event.swipe
**Git repository url:**  https://github.com/stephband/jquery.event.swipe
**Official homepage:**  http://stephen.band/jquery.event.swipe/

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/45824521-request-add-jquery-event-swipe?utm_campaign=plugin&utm_content=tracker%2F32893&utm_medium=issues&utm_so

[2017-06-02 11:28] rujing130185 opened #11358 "[Request] Add material-kit"
**Library name:** material-kit
**Git repository url:**
**npm package name or url** (if there is one):
**License (List them all if it's multiple):**
**Official homepage:**
**Wanna say something? Leave message here:**

=====================

Notes from cdnjs maintainer:
Please read the [README.md](https://github.com/cdnjs/cdnjs#cdnjs-library-repository) and [CONTRIBUTING.md](https://github.com/cdnjs

[2017-06-02 18:24] supriyo-biswas opened #11359 "[Request] Update Bootswatch 3.3.7 to add "solar" theme"
**Library name**: bootswatch
**Git repository url**: https://github.com/thomaspark/bootswatch
**License**: MIT
**Official homepage**: https://bootswatch.com/

Recently, a new theme named "Solar" was added to both v4.x and v3.3.7. I'd like to request an update of this library to add this theme, as v3.3.7 is absent on cdnjs.

I'd have sent in the pull request myself, but the process of cloning (even

[2017-06-02 18:36] ajay2507 commented on #11326
@wagenaartje Can I make this change?.

[2017-06-02 20:44] dakshshah96 commented on #11168
For now, it feels like we should stick to a single CONTRIBUTING.md file for our contribution guidelines since that'd be a more straight forward approach. Here's a rough roadmap of the new contribution document I'm proposing. Please feel free to suggest any changes.

- [ ] Introduction: About this repository, welcoming contributors to CDNJS and basic introductory help for new contributors.
- [ ] Ta

[2017-06-02 23:41] sufuf3 commented on #11358
@rujing130185 Do you mean that you want to CDNJS host this library --> https://github.com/creativetimofficial/material-kit ?

[2017-06-03 07:07] #11269 closed

[2017-06-03 07:08] #10659 closed

[2017-06-03 07:10] #11331 closed

[2017-06-03 07:43] #10823 closed

[2017-06-03 07:56] sufuf3 opened #11360 "[Request] Add old versions of Vue.Draggable"
**Library name:** Vue.Draggable
**Git repository url:** https://github.com/SortableJS/Vue.Draggable
**npm package url(optional):** https://www.npmjs.com/package/vuedraggable
**License(s):** MIT
**Official homepage:** https://github.com/SortableJS/Vue.Draggable

Relate PR #11233

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/4585693

[2017-06-03 09:34] dakshshah96 commented on #10660
@PeterDaveHello If I'm right, there are three tools which users can use?

* fixFormat.js
* createSparseCheckoutConfig.js
* updateDescription.js

[2017-06-03 13:52] sufuf3 opened #11361 "[Request] Add turntable"
**Library name:** turntable
**Git repository url:** https://github.com/PolarNotion/turntable
**npm package name or url** (if there is one):
**License (List them all if it's multiple):** ISC
**Official homepage:** https://polarnotion.github.io/turntable/
**Wanna say something? Leave message here:**

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysourc

[2017-06-03 16:21] PeterDaveHello commented on #11255
As per https://github.com/domenic/chai-as-promised/issues/199#issuecomment-305964026, we won't host his library, thanks for suggestion.

[2017-06-03 16:21] #11255 closed

[2017-06-03 16:22] sufuf3 opened #11362 "[Request] Add the auto-update config of EaselJS"
**Library name:** EaselJS
**Git repository url:** https://github.com/CreateJS/EaselJS
**License (List them all if it's multiple):** MIT
**Official homepage:** http://www.createjs.com/easeljs

[2017-06-03 16:33] #11189 closed

[2017-06-03 16:35] #10740 closed

[2017-06-04 05:49] sufuf3 opened #11364 "[Request] Add keras-js"
**Library name:** keras-js
**Git repository url:** https://github.com/transcranial/keras-js
**npm package name or url** (if there is one): https://www.npmjs.com/package/keras-js
**License (List them all if it's multiple):** MIT
**Official homepage:** https://transcranial.github.io/keras-js
**Wanna say something? Leave message here:**

[2017-06-04 06:41] sufuf3 commented on #11084
Closed due to no response in 7 days. cc @PeterDaveHello

[2017-06-04 06:41] #11084 closed

[2017-06-04 06:42] sufuf3 commented on #10411
Closed due to no response in 7 days. cc @PeterDaveHello

[2017-06-04 06:42] #10411 closed

[2017-06-04 06:46] sufuf3 commented on #11325
Closed due to no response in 7 days. cc @PeterDaveHello

[2017-06-04 06:46] #11325 closed

[2017-06-04 06:49] sufuf3 commented on #11295
Closed due to no response in 7 days. cc @PeterDaveHello

[2017-06-04 06:49] #11295 closed

[2017-06-04 08:41] dakshshah96 commented on #11359
Hey @supriyo-biswas, I couldn't find the "Solar" theme on bootswatch's npm package. Please check here: https://unpkg.com/bootswatch@3.3.7/

[2017-06-04 12:27] vavdoshka commented on #11344
Hi @PeterDaveHello, I would like to test my skills on this one. I'm new to JS so probably that will be a good starting point. ;)
I've cross-checked similar issue's #11353 discussion, and the task seems clear to me. Will keep you posted.

[2017-06-04 12:47] PeterDaveHello commented on #11344
@vavdoshka Nice!

[2017-06-04 16:29] sufuf3 commented on #11348
close due to @PeterBot add https://github.com/cdnjs/cdnjs/commit/8126b1d122150e617e2d6ad1e076084d23e5411c at 6/2.
(upstream release at 5/30)

[2017-06-04 16:29] #11348 closed

[2017-06-04 22:52] #11344 closed

[2017-06-04 22:54] PeterDaveHello commented on #11344
@vavdoshka as @dmr-loggly already did that in #11310, would you mind to pick another issue from [here](https://github.com/cdnjs/cdnjs/issues?utf8=%E2%9C%93&q=is%3Aopen%20-label%3A%22in%20progress%22%20label%3ABEGINNER%20)? Thank you very much!

[2017-06-04 22:55] #10881 closed

[2017-06-04 22:56] PeterBot opened #11367 "[Build failed] Got error while building meta data/artifact"
Dear all,

Our build process just got an error while building the meta data/artifact of cdnjs project, our [website and api](https://github.com/cdnjs/new-website) may not be as new as our repository, however, the cdn service will not been affected, you can still use it, and modify the library name, version number and filename in the url can help you access all the content on cdnjs, we will fix the

[2017-06-04 23:07] PeterDaveHello commented on #11367
Failed due to the gap between #10896 & a53323da5631a48bfc29cd29273892bf93ae7d96

[2017-06-04 23:13] #11367 closed

[2017-06-05 00:11] chrisblakley commented on #4187
I'm trying to do some library comparisons between versions, and showing the filesizes would have been immensely helpful for this.

[2017-06-05 01:26] sufuf3 commented on #11349
@PeterDaveHello one of the collaborator of this library said he has a problem about minified files and can't commit for something back in time.
ref: https://github.com/react-native-training/react-native-elements/issues/375#issuecomment-306080179
What can we do?

[2017-06-05 01:44] geek01 opened #11369 "[Request] Add layui"
**Library name:** layui
**Git repository url:** https://github.com/sentsin/layui/
**License:** MIT
**Official homepage:** http://www.layui.com/

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/45892398-request-add-layui?utm_campaign=plugin&utm_content=tracker%2F32893&utm_medium=issues&utm_source=github)** We accept bounties via [Boun

[2017-06-05 06:43] sufuf3 opened #11370 "[Request] Add kiwi.js"
**Library name:** kiwi.js
**Git repository url:** https://github.com/gamelab/kiwi.js
**npm package name or url** (if there is one):
**License (List them all if it's multiple):** MIT
**Official homepage:** http://www.kiwijs.org
**Wanna say something? Leave message here:**

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/45897217-reque

[2017-06-05 07:12] sufuf3 opened #11371 "[Request] Add nile.js"
**Library name:** nile.js
**Git repository url:** https://github.com/gitsummore/nile.js
**npm package name or url** (if there is one):
**License (List them all if it's multiple):** MIT
**Official homepage:** https://nilejs.com/
**Wanna say something? Leave message here:**

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/45897845-requ

[2017-06-05 09:04] vavdoshka commented on #11344
@PeterDaveHello Yes, sure will take another one.

[2017-06-05 11:09] wagenaartje commented on #11326
@ajay2507, if you would like, yes please.

[2017-06-05 15:44] supriyo-biswas commented on #11359
@dakshshah96 The theme seems to have been added only in the gh-pages branch of that repository. I don't know how this would work with the npm integration, however, maybe these files [[1](https://bootswatch.com/solar/bootstrap.min.css), [2](https://bootswatch.com/solar/bootstrap.css)] could be manually added into the repo?

[2017-06-05 18:32] paolocarrasco commented on #9166
Thanks guys. Look forward to it.

[2017-06-06 04:20] sufuf3 opened #11373 "[Request] Add chromatism"
**Library name:** chromatism
**Git repository url:** https://github.com/toish/chromatism#browser-without-bundling
**npm package name or url** (if there is one): https://www.npmjs.com/package/chromatism
**License (List them all if it's multiple):** ISC
**Official homepage:**
**Wanna say something? Leave message here:**

[2017-06-06 07:54] boredom2 opened #11374 "Shaka v2.1.3"
The integrated Build for "shaka-player.compiled.js" seems to be wrong. The integrated Version is not 2.1.3, its "2.1.2-17-dirty". Can this be updated, if necessary?

[2017-06-06 18:59] arose opened #11375 "[Request][Author] Add ngl"
Library name: ngl
Git repository url: https://github.com/arose/ngl
npm package name or url (if there is one): https://www.npmjs.com/package/ngl
License (List them all if it's multiple): MIT
Official homepage: https://github.com/arose/ngl
Wanna say something? Leave message here: thanks

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/

[2017-06-06 23:30] PeterBot opened #11377 "[Build failed] Got error while building meta data/artifact"
Dear all,

Our build process just got an error while building the meta data/artifact of cdnjs project, our [website and api](https://github.com/cdnjs/new-website) may not be as new as our repository, however, the cdn service will not been affected, you can still use it, and modify the library name, version number and filename in the url can help you access all the content on cdnjs, we will fix the

[2017-06-06 23:35] PeterBot opened #11378 "[Build failed] Got error while building meta data/artifact"
Dear all,

Our build process just got an error while building the meta data/artifact of cdnjs project, our [website and api](https://github.com/cdnjs/new-website) may not be as new as our repository, however, the cdn service will not been affected, you can still use it, and modify the library name, version number and filename in the url can help you access all the content on cdnjs, we will fix the

[2017-06-07 00:00] drewfreyling commented on #11168
@dakshshah96 looks thorough. Couple of questions though:

- Why do we care how they name their branches on their fork?
- Information on setting up remote repos - why should we include this? Shouldn't we assume people have a basic understanding of git?
- "how to create and push a branch", "commands for making commits" - as above

[2017-06-07 00:12] PeterDaveHello commented on #11377
https://status.github.com/messages

[2017-06-07 00:12] #11377 closed

[2017-06-07 00:13] PeterDaveHello commented on #11378
https://status.github.com/messages

[2017-06-07 00:13] #11378 closed

[2017-06-07 00:57] LuisRBarreras commented on #11345
I am going to start working on this issue

[2017-06-07 05:01] lutherfatcat opened #11379 "[Request] Add i18next-xhr-backend"
**Library name: i18next-xhr-backend
**Git repository url: https://github.com/i18next/i18next-xhr-backend.git
**npm package name or url (if there is one):  i18next-xhr-backend
**License (List them all if it's multiple): MIT License
**Official homepage: https://github.com/i18next/i18next-xhr-backend
**Wanna say something? Leave message here: Please add i18next-xhr-backend, thanks in advance.

======

[2017-06-07 05:22] michal-jewel opened #11380 "[Request] Add cpettitt/graphlib"
**Library name:** GraphLib
**Git repository url:** https://github.com/cpettitt/graphlib
**npm package name or url** (if there is one): graphlib
**License (List them all if it's multiple):** MIT
**Official homepage:** https://github.com/cpettitt/graphlib/wiki
**Wanna say something? Leave message here:**

This is essential requirement for using DirectedLayout plugin of JointJS library.

<bountysourc

[2017-06-07 09:38] dakshshah96 commented on #11168
@drewfreyling Thanks for the feedback.

* Just replicated what's mentioned in the pull request template — "Pull request is sending from a non-master branch with meaningful name".

* Regarding the basics — This is a huge step towards making the project more beginner-friendly. Since my time here on cdnjs, I've noticed a large number of pull requests coming from first-time contributors. Many of them

[2017-06-08 10:09] idevN commented on #10475
+1 please add soon

[2017-06-08 10:30] fathyar opened #11381 "[Request] Add cssicon"
**Library name:** cssicon
**Git repository url:** https://github.com/wentin/cssicon
**npm package name or url** https://www.npmjs.com/package/cssicon
**License:** [Creative Commons Zero v1.0 Universal](https://github.com/wentin/cssicon/blob/master/LICENSE)
**Official homepage:** http://cssicon.space

[2017-06-08 12:38] nikssardana opened #11382 "[Request] Add fontselect"
**Library name:** fontselect
**Git repository url:**
**npm package name or url** (if there is one):
**License (List them all if it's multiple):**
**Official homepage:**
**Wanna say something? Leave message here:**

=====================

Notes from cdnjs maintainer:
Please read the [README.md](https://github.com/cdnjs/cdnjs#cdnjs-library-repository) and [CONTRIBUTING.md](https://github.com/cdnjs/c

[2017-06-08 16:13] PeterDaveHello commented on #11349
So have you confirmed it?

[2017-06-09 01:53] deleted opened #11384 "[Request] Add prop-types (formerly React.PropTypes"
**Library name:** prop-types
**Git repository url:** https://github.com/facebook/prop-types
**npm package name or url** (if there is one): https://www.npmjs.com/package/prop-types
**License (List them all if it's multiple):** BSD
**Official homepage:** https://www.npmjs.com/package/prop-types
**Wanna say something? Leave message here:**

This is an official facebook-maintained library. React recen

[2017-06-09 08:37] pvnr0082t commented on #11382
Hi @nikssardana , is there any detail? This issue will be closed if no response in 7 days.

[2017-06-09 08:39] pvnr0082t commented on #11381
@orangtanah The npm package url seems like not officially maintained.

[2017-06-09 10:18] evromalarkey commented on #9087
It's been almost 2 months again without no update, so what's the hold-up here? :/

I would add pull request myself, but I don't know what it involves and honestly I don't have the time to deal with that now.

I'm using the modules from jsdelivr for a while now, but obviously I would prefer cdnjs 😄

[2017-06-09 16:15] nikssardana commented on #11382
Here is the github link:
https://github.com/tommoor/fontselect-jquery-plugin

I think the library is no longer maintained.

[2017-06-09 17:38] sufuf3 commented on #11343
Closed due to no response in 7 days. cc @PeterDaveHello

[2017-06-09 17:38] #11343 closed

[2017-06-10 01:56] yoginth opened #11386 "CDNJS Not Live in Libraries Page"
When i visit (https://cdnjs.com/libraries/markdown-it-emoji) This pahe, I'm Seeing the Default Application Error Page by **Heroku** So Fix it Soon as Possible.

[2017-06-10 05:36] chikochavda opened #11388 "[Request] Add boomerang-cache"
**Library name:** boomerang-cache
**Git repository url:** https://github.com/giraysam/boomerang-cache
**npm package name or url** (if there is one): https://www.npmjs.com/package/boomerang-cache
**License (List them all if it's multiple):** MIT License
**Official homepage:** https://giraysam.github.io/boomerang-cache/
**Wanna say something? Leave message here:**

=====================

Notes from

[2017-06-10 12:33] GeorgeWL commented on #11343
oh I thought your answer previously was clear and agreed with it :)

[2017-06-10 13:09] calpa commented on #11386
same here

[2017-06-10 15:36] nagrawal3 commented on #9831
@PeterDaveHello I had worked on the other issue, so as it is for the beginner I didn't work on this.

[2017-06-10 16:53] sufuf3 commented on #11379
Duplicated with #10720

[2017-06-10 17:11] sufuf3 commented on #11374
Hi @boredom2 ,
Do you mean the library `shaka-player` which upstream repo is from https://github.com/google/shaka-player?
Would you tell me how did you find the `v2.1.2-17-dirty`?
I saw the latest version is `2.1.3` from https://github.com/google/shaka-player/releases, even use `npm view shaka-player versions`, and I can't find the `v2.1.2-17-dirty`.

ref: https://cdnjs.com/libraries/shaka-player

[2017-06-10 17:36] sufuf3 commented on #11388
Hi @chikochavda ,
this library doesn't have enough popularity (like more than 100 stars on GitHub or 500 downloads per month on npm). Please take a look at our [README.md](https://github.com/cdnjs/cdnjs/blob/master/README.md). Would you mind to open an issue again when the library has more popularity? If there are no response in 7 days, I will close this issue.
Thanks for your great work and contr

[2017-06-10 17:46] sufuf3 commented on #11386
@yoginth just this page, or all the pages show the error?

I can access this page from Taiwan currently, would you please see if it is working now?
Otherwise, could you take a picture which page error message you saw?

Thanks for reporting.

cc @PeterDaveHello

[2017-06-10 21:32] boredom2 commented on #11374
Hi,

yes, the compiled Version on CDNJS here:
https://cdnjs.cloudflare.com/ajax/libs/shaka-player/2.1.3/shaka-player.compiled.js
Search the Code for "v2." and you will see, that this Version offers v2.1.2-17-gf11a54a-dirty.
This seems not to be a clean final Version of the 2.1.3 Code.

[2017-06-10 21:35] PeterDaveHello commented on #11374
It's totally the same file as their npm release, please report to https://github.com/google/shaka-player

[2017-06-10 21:35] #11374 closed

[2017-06-10 22:57] PeterDaveHello commented on #11386
Move to https://github.com/cdnjs/new-website/issues/184

[2017-06-10 22:57] #11386 closed

[2017-06-11 00:09] #11350 closed

[2017-06-11 00:12] #10639 closed

[2017-06-11 00:38] #11176 closed

[2017-06-11 00:39] PeterDaveHello opened #11390 "[Request] Add arraysweeper"
**Library name:** arraysweeper
**Git repository url:** https://github.com/arschmitz/arraysweeper
**npm package name or url** :https://www.npmjs.com/package/arraysweeper
**License:** MIT

For beginners who is interested in picking up this issue:

In this issue, we are going to host a new web front-end library on CDNJS, so that web developer can easily use it on our free CDN without additional downl

[2017-06-11 01:21] yoginth commented on #11386
Thanks for Immediate Response!

[2017-06-11 02:22] emarkchrome commented on #11390
Hi @PeterDaveHello, I am new to contributing on GitHub, and I thought this would be a good place to start. I looked at the implementation previous issue #11344 which was similar to this one, and I know what I need to do.

[2017-06-11 04:10] #11294 closed

[2017-06-11 04:13] #9493 closed

[2017-06-11 05:56] chikochavda commented on #11388
@sufuf3

Thanks for your response , I understand. Sorry for not reading README.md file. I will try to reopen when it reach CDN requirement.

Thanks anyways.

[2017-06-11 06:42] gilutab opened #11391 "[Request] Add videojs-contrib-media-sources"
**Library name:** videojs-contrib-media-sources
**Git repository url:** https://github.com/videojs/videojs-contrib-media-sources
**npm package name or url** (if there is one): https://www.npmjs.com/package/videojs-contrib-media-sources
**License (List them all if it's multiple):** APL
**Official homepage:** none
**Wanna say something? Leave message here:**
very useful VideoJS plugin

=============

[2017-06-11 11:05] #11388 closed

[2017-06-11 11:07] sufuf3 commented on #11388
Close because this library doesn't have enough popularity. cc @PeterDaveHello

[2017-06-11 19:27] SuhailPurkar opened #11392 "[Request] Add covervid.min.js"
**Library name:** covervid
**Git repository url:** https://github.com/stefanerickson/covervid
**npm package name or url** (if there is one):
**License (List them all if it's multiple):**  The MIT License (MIT)
**Official homepage:**  http://stefanerickson.github.io/covervid/
**Wanna say something? Leave message here:**

=====================

Notes from cdnjs maintainer:
Please read the [README.md

[2017-06-12 02:15] sufuf3 commented on #11392
duplicated with #5427

[2017-06-13 09:27] thdoan opened #11394 "[Request] Add magnify"
Library name: magnify
Git repository url: https://github.com/thdoan/magnify
npm package url (optional): https://www.npmjs.com/package/magnify
License(s): https://github.com/thdoan/magnify/blob/master/LICENSE
Official homepage: https://thdoan.github.io/magnify/
Wanna say something? Leave message here: This is my second request to host my library. My [first attempt](https://github.com/cdnjs/cdnjs/is

[2017-06-13 11:37] cybernet commented on #11370
just for a short description, just for people to know what is about

**Kiwi.js** is the worlds easiest to use Open Source **HTML5** game framework for making both mobile and desktop **HTML5** browser games.
Our focus is blazingly fast **WebGL** rendering and complimentary tools to make professional quality serious games. We use **CocoonJS** for publishing **games and App creation**.

[2017-06-13 13:15] #11268 closed

[2017-06-13 13:16] #9478 closed

[2017-06-13 17:31] kumarshantanu opened #11395 "[Request] Add TodoMVC common assets"
Project URLs:
https://github.com/tastejs/todomvc-common (MIT license)
https://github.com/tastejs/todomvc-app-css (CC BY 4.0 license)

There are not too many stars for these repos, but it would be great to have them on a CDN as it would help developers refer to these resources.

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/46183388

[2017-06-13 18:03] oscarDavid opened #11397 "[Request] Add combodate"
**Library name:** combodate
**Git repository url: https://github.com/vitalets/combodate**
**npm package name or url** (if there is one):
**License (List them all if it's multiple):**
**Official homepage: http://vitalets.github.io/combodate/**
**Wanna say something? Leave message here:**

=====================

Notes from cdnjs maintainer:
Please read the [README.md](https://github.com/cdnjs/cdnjs#

[2017-06-14 06:40] maruilian11 commented on #9087
@evromalarkey Sorry for my mistake. I have sent PRs to add all sub-libraries. Please wait for few days for our reviewers to check them, and they will be merged individually.

[2017-06-14 10:42] jonnymaboy opened #11407 "[Request] Add https://github.com/mreq/slick-lightbox/issues/51"
**Library name:** https://github.com/mreq/slick-lightbox/issues/51
**Git repository url:** https://github.com/mreq/slick-lightbox
**npm package name or url** (if there is one): https://github.com/mreq/slick-lightbox
**License (List them all if it's multiple):** The MIT License (MIT)
**Official homepage:** http://mreq.github.io/slick-lightbox/
**Wanna say something? Leave message here:** A lightbox

[2017-06-14 16:05] surjithctly opened #11408 "[Request] Add Sticky Kit"
**Library name:** Sticky Kit
**Git repository url:** https://github.com/leafo/sticky-kit
**npm package name or url** (if there is one):
**License (List them all if it's multiple):**
**Official homepage:** http://leafo.net/sticky-kit/
**Wanna say something? Leave message here:**

[2017-06-15 05:24] netil opened #11409 "[Request] [author] Add billboard.js"
**Library name:** billboard.js
**Git repository url:** https://github.com/naver/billboard.js
**npm package name or url:** https://www.npmjs.com/package/billboard.js
**License:** MIT
**Official homepage:** https://naver.github.io/billboard.js/

[2017-06-15 15:38] FezVrasta opened #11410 "Any way to specify a suggested/main file?"
With unpkg.com I get as default resource the one pointed out by my `package.json#main` field, is there any way to highlight a specific URL/file in cdnjs to help my users pick the most commonly used one?

[2017-06-15 15:52] Monar opened #11411 "[Request] Add react-immutable-pure-component"
**Library name:** react-immutable-pure-component
**Git repository url:** https://github.com/Monar/react-immutable-pure-component
**npm package name or url** (if there is one): https://www.npmjs.com/package/react-immutable-pure-component
**License (List them all if it's multiple):** MIT
**Official homepage:**
**Wanna say something? Leave message here:**

=====================

Notes from cdnjs main

[2017-06-15 16:52] lukemccrae commented on #11390
Hey @PeterDaveHello, I just submitted a pull request after following the instructions for "adding a new library by a single package.json". I am new to this and would appreciate feedback!

[2017-06-17 11:31] YoKoGFX opened #11414 "[Request] Add TiltHoverEffects"
**Library name:** TiltHoverEffects
**Git repository url:** https://github.com/codrops/TiltHoverEffects
**npm package name or url** (if there is one):
**License (List them all if it's multiple):**
**Official homepage:** http://tympanus.net/codrops/2016/11/23/tilt-hover-effects/
**Wanna say something? Leave message here:**

=====================

Notes from cdnjs maintainer:
Please read the [README.

[2017-06-17 11:55] Soontao opened #11415 "[Request] Add openui5"
Library name: openui5
Git repository url: https://github.com/SAP/openui5/
License (List them all if it's multiple): Apache
Official homepage: http://openui5.org/index.html

=====================

Notes from cdnjs maintainer:
Please read the [README.md](https://github.com/cdnjs/cdnjs#cdnjs-library-repository) and [CONTRIBUTING.md](https://github.com/cdnjs/cdnjs/blob/master/CONTRIBUTING.md) document

[2017-06-17 17:45] pnmcosta opened #11417 "[Request][author] Add jquery-socialshare"
**Library name:** jquery-socialshare
**Git repository url:** https://github.com/pnmcosta/jquery-socialshare
**npm package name or url** (if there is one): jquery-socialshare
**License (List them all if it's multiple):** MIT
**Official homepage:** https://pnmcosta.github.io/jquery-socialshare/
**Wanna say something? Leave message here:** Thank you 👍

=====================

Notes from cdnjs maintain

[2017-06-18 06:31] sufuf3 commented on #11407
Duplicated with #11004

[2017-06-18 06:34] sufuf3 commented on #9384
duplicated with #7522

[2017-06-18 06:34] sufuf3 commented on #11408
duplicated with #7522

[2017-06-18 06:42] sufuf3 commented on #11415
Duplicated with #9244

[2017-06-18 07:25] sufuf3 commented on #11410
How about using git repo.?
like https://github.com/cdnjs/cdnjs/blob/master/ajax/libs/jquery/package.json#L12
https://github.com/cdnjs/cdnjs/blob/master/ajax/libs/[library name]/[file]#L1

[2017-06-18 07:51] SCLeoX opened #11420 "[Request] Add react-three-renderer"
**Library name:** react-three-renderer
**Git repository url:** https://github.com/toxicFork/react-three-renderer
**npm package name or url** (if there is one): react-three-renderer
**License (List them all if it's multiple):** MIT
**Official homepage:** http://toxicfork.github.io/react-three-renderer-example/#/
**Wanna say something? Leave message here:** Definitely excellent library. Makes three.

[2017-06-18 10:28] FezVrasta commented on #11410
I don't think I follow. I'm looking for away to highlight one of the served files in the cdnjs library page. The one with all the served files URLs

[2017-06-18 18:40] PeterDaveHello commented on #11099
@qwe19272375 please create an issue to try to add the old versions manually by tracking its git commits.

[2017-06-18 18:43] #10111 closed

[2017-06-18 19:00] PeterDaveHello commented on #11390
@lukemccrae looks like you sent the pull request to your own forked repo, let's send it to cdnjs/cdnjs 👍

[2017-06-18 19:02] PeterDaveHello commented on #11343
@GeorgeWL no worries, we just don't close issue immediately in case we missed anything :)

[2017-06-19 06:33] SelvarajKaruppusamy commented on #9826
Hi @PeterDaveHello, I am willing to take this up. This would be my first PR :)

[2017-06-19 06:35] PeterDaveHello commented on #9826
@SelvarajKaruppusamy Great :+1:

[2017-06-19 07:24] arose commented on #11375
Realized it is not clear which file of the project would need to be served on the cdn... It is just [dist/ngl.js](https://github.com/arose/ngl/blob/master/dist/ngl.js)

[2017-06-19 07:41] satlxq opened #11425 "[Request] Add regularjs"
**Library name:** regularjs
**Git repository url:** https://github.com/regularjs/regular
**npm package name or url** (if there is one): https://www.npmjs.com/package/regularjs
**License (List them all if it's multiple):** MIT
**Official homepage:** https://regularjs.github.io/
**Wanna say something? Leave message here:** regularjs is a mvvm framework like vuejs

=====================

Notes from c

[2017-06-19 08:30] leroy0211 opened #11426 "[Request] Add jQuery-QueryBuilder"
**Library name:** jQuery-QueryBuilder
**Git repository url:** https://github.com/mistic100/jQuery-QueryBuilder
**npm package name or url** (if there is one): jQuery-QueryBuilder
**License (List them all if it's multiple):** MIT
**Official homepage:** http://querybuilder.js.org/
**Wanna say something? Leave message here:**

=====================

Notes from cdnjs maintainer:
Please read the [README

[2017-06-19 16:28] k4r1suma opened #11429 "[Request] manually add old versions of findAndReplaceDOMText"
Missing some tag in GitHub.
Maybe add old versions mentioned in https://github.com/padolsey/findAndReplaceDOMText#changelog.

related issue: cdnjs/cdnjs#11099

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/46368636-request-manually-add-old-versions-of-findandreplacedomtext?utm_campaign=plugin&utm_content=tracker%2F32893&utm_medium=

[2017-06-19 16:29] #11099 closed

[2017-06-19 19:22] timcosta opened #11430 "[Request] Add videojs-hotkeys"
**Library name:** videojs-hotkeys
**Git repository url:** https://github.com/ctd1500/videojs-hotkeys
**npm package name or url** (if there is one): https://www.npmjs.com/package/videojs-hotkeys
**License (List them all if it's multiple):** Apache-2.0
**Official homepage:**
**Wanna say something? Leave message here:**

=====================

Notes from cdnjs maintainer:
Please read the [README.md](

[2017-06-19 22:04] Enikol commented on #9824
Hi, if you still need it done, I'd love to take it up!

[2017-06-19 22:05] PeterDaveHello commented on #9824
@Enikol welcome to join 👍

[2017-06-19 22:25] RichardMisencik commented on #11297
How much time is this going to take until it is accessible on cdnjs.com?

[2017-06-20 10:50] saeedbaba opened #11431 "[Request] Add xlsx-populate"
**Library name:** xlsx-populate
**Git repository url:https://github.com/dtjohnson/xlsx-populate
**npm package name or url** (if there is one):
**License (List them all if it's multiple):**
**Official homepage:**
**Wanna say something? Leave message here:**

=====================

Notes from cdnjs maintainer:
Please read the [README.md](https://github.com/cdnjs/cdnjs#cdnjs-library-repository) and [

[2017-06-21 00:01] Enikol commented on #9824
@PeterDaveHello Thanks! Unfortunately, I'm having problems with getting CI test to pass. It keeps saying that my package json isn't indented properly, but I checked and double-checked and I'm sure it is! I don't really understand how to use fixFormat tool (when I run npm test locally in the root directory it says 'Error: no test specified'), so I'm hopinf you might help me with this.

[2017-06-21 04:41] iamCristYe opened #11434 "[Request] Add strapdownjs"
**Library name:** strapdownjs
**Git repository url:** https://github.com/arturadib/strapdown
**npm package name or url** (if there is one):
**License (List them all if it's multiple):** MIT
**Official homepage:** http://strapdownjs.com/
**Wanna say something? Leave message here:** I really like this MD to HTML converter since it can maintain the md structure in the html file and provides the exclu

[2017-06-21 08:21] evromalarkey opened #11435 "[Request] Add hyperform-l10n"
**Library name:** hyperform-l10n
**Git repository url:** https://github.com/hyperform/hyperform-l10n
**npm package name or url** (if there is one): https://www.npmjs.com/package/hyperform-l10n
**License (List them all if it's multiple):** MIT
**Official homepage:** http://hyperform.github.io/
**Wanna say something? Leave message here:**

=====================

Notes from cdnjs maintainer:
Please r

[2017-06-21 09:51] sufuf3 commented on #11170
1. #9276 (relate issue:#8189)  --> I don't think this library can use in front-end.
2. #8148 I think this PR can close because the file remove dependencies field and updated (https://github.com/cdnjs/cdnjs/blob/master/ajax/libs/angucomplete-alt/package.json)

3. May I take PRs as the followings? (If members want to join this, it's wellcome.)
- [ ] #10183
- [ ] #9760
- [ ] #9726
- [ ] #9711
- [ ] #

[2017-06-21 12:10] qwe19272375 commented on #11435
@evromalarkey this library doesn't have enough popularity (like more than 100 stars on GitHub or 500 downloads per month on npm). Please take a look at our README.md. Would you mind to open an issue again when the library has more popularity?

[2017-06-21 12:13] qwe19272375 commented on #11434
Duplicate with #10249

[2017-06-21 12:15] qwe19272375 commented on #11431
@saeedbaba this library doesn't have enough popularity (like more than 100 stars on GitHub or 500 downloads per month on npm). Please take a look at our README.md. Would you mind to open an issue again when the library has more popularity?

[2017-06-21 12:16] qwe19272375 commented on #11430
Duplicate with #9818

[2017-06-21 13:21] evromalarkey commented on #11435
obviously because it's localization module for the main library - https://github.com/hyperform/hyperform/ which has 500 stars and it's already on cdnjs

[2017-06-21 13:22] PeterDaveHello commented on #11435
@evromalarkey thanks!

[2017-06-21 14:29] dakshshah96 commented on #11297
@RichardMisencik Working on it right now. We'll treat this as high priority now so it's up as soon as possible 👍

[2017-06-21 14:41] RichardMisencik commented on #11297
@dakshshah96 Thanks mate 👍

[2017-06-21 15:47] dakshshah96 commented on #11411
@Monar I'll be working on this issue. Before I do, can you please let me know if this library can be used directly in the browser by a developer? Because [react-immutable-pure-component.js](https://unpkg.com/react-immutable-pure-component@1.0.0/lib/react-immutable-pure-component.js) doesn't look like that.

[2017-06-21 16:07] Monar commented on #11411
Yes, its working directly in the browser please check the (example)[https://monar.github.io/react-immutable-pure-component/] here is [index.html code](https://github.com/Monar/react-immutable-pure-component/blob/master/index.html#L15).

Library is created with (rollup)[https://github.com/rollup/rollup] as (UMD)[https://github.com/umdjs/umd].

[2017-06-21 16:09] dakshshah96 commented on #11411
@Monar Great, I understand now! Thanks 😄

[2017-06-21 22:06] lukemccrae commented on #11390
@PeterDaveHello Thanks for the feedback. I've resubmitted the pull request.

[2017-06-22 04:44] #11409 closed

[2017-06-22 04:44] #11364 closed

[2017-06-22 07:39] PeterDaveHello commented on #9824
Looks like you fixed it?

[2017-06-22 14:34] sufuf3 opened #11438 "[Request] Add amplitudejs"
**Library name:** amplitudejs
**Git repository url:** https://github.com/521dimensions/amplitudejs
**npm package name or url** (if there is one): https://www.npmjs.com/package/amplitudejs
**License (List them all if it's multiple):** MIT
**Official homepage:** https://521dimensions.com/open-source/amplitudejs

[2017-06-23 01:10] theel0ja opened #11440 "[Request] Add octokat.js"
**Library name:** octokat.js
**Git repository url:** https://github.com/philschatz/octokat.js
**npm package name or url** (if there is one): https://www.npmjs.com/package/octokat
**License (List them all if it's multiple):** [MIT](https://github.com/philschatz/octokat.js/blob/master/LICENSE.md)
**Official homepage:** https://github.com/philschatz/octokat.js

<bountysource-plugin>

---
Want to back

[2017-06-23 02:29] PeterDaveHello commented on #9087
@evromalarkey feel free to send a pull request if you really need it, it's obviously that we are happy to add it but we can't guarantee the time line as we all have our stuffs to do just like you, you can also donate to the issues which is valuable to you when you have time, then some passengers may pick it up.

[2017-06-23 11:47] TJKoury opened #11442 "[Request] Add webpack-cesium"
**Library name:** webpack-cesium
**Git repository url:** https://github.com/DigitalArsenal/webpack-cesium.git
**npm package name or url** (if there is one):  https://www.npmjs.com/package/webpack-cesium
**License (List them all if it's multiple):** ISC
**Official homepage:**
**Wanna say something? Leave message here:**

=====================

Notes from cdnjs maintainer:
Please read the [README.md

[2017-06-23 19:01] dakshshah96 commented on #11170
Working on the following PRs from @sufuf3's list. Marked them as done in the above list so there's only one place (this comment) to track them:

- [ ] #5846
- [ ] #7628
- [ ] #8973
- [x] #10183
- [ ] #9760

[2017-06-24 01:32] #9826 closed

[2017-06-24 01:38] PeterDaveHello commented on #10660
Actually, almost all of them can be used by user, for example, the SPDX license list is a good reference of recognized license, and there are git hooks example in `hooks` to help user run the tests before push the commits.

[2017-06-24 02:12] PeterDaveHello commented on #11168
LGTM 👍 , I believe those whom have enough git skills would bypass some of the doc sections by themselves.

@dakshshah96 would you like to help correct all the English issues in current doc, so that we can have a better doc before the whole new doc written?

[2017-06-24 03:30] freebeer42 opened #11446 "[Request] Add tabulator@3.1.1"
**Library name:** tabulator
**Git repository url:** https://github.com/olifolkerd/tabulator
**npm package name or url** (if there is one): https://www.npmjs.com/package/jquery.tabulator
**License (List them all if it's multiple):** MIT https://github.com/olifolkerd/tabulator/blob/master/LICENSE
**Official homepage:** http://olifolkerd.github.io/tabulator/
**Wanna say something? Leave message here:

[2017-06-24 06:04] PeterDaveHello commented on #10662
Recently, @sufuf3 and @dakshshah96 are both very active, are both potential maintainer in future 😄

[2017-06-24 06:07] PeterDaveHello commented on #11410
@FezVrasta the search result will point to the main file, though it might not be suitable in every libraries, it's a good idea to highlight the main file in the library page, feel free to send a pull request 😄

[2017-06-24 06:09] PeterDaveHello commented on #11446
@freebeer42 thanks for your report, looks like they changed its file/directory structure, I'll fix it now.

[2017-06-24 06:10] PeterDaveHello commented on #10249
@cdnjs/intern3 please help solve this issue, thanks.

[2017-06-24 06:11] PeterDaveHello commented on #11434
Okay let's move to #10249.

[2017-06-24 06:11] #11434 closed

[2017-06-24 06:11] PeterDaveHello commented on #9818
Hi @sophie-li, are you still working on this issue? Thanks.

[2017-06-24 06:12] PeterDaveHello commented on #11430
Let's move to #9818

[2017-06-24 06:12] #11430 closed

[2017-06-24 06:13] PeterDaveHello commented on #11415
Let's move to #9244

[2017-06-24 06:13] #11415 closed

[2017-06-24 06:14] #11446 closed

[2017-06-24 06:14] PeterDaveHello commented on #11408
Let's move to  #7522

[2017-06-24 06:14] #11408 closed

[2017-06-24 06:15] PeterDaveHello commented on #11407
Let's move to #11004

[2017-06-24 06:15] #11407 closed

[2017-06-24 06:15] PeterDaveHello commented on #11004
@qwe19272375 any updates here please?

[2017-06-24 06:15] PeterDaveHello commented on #11392
Let's move to  #5427

[2017-06-24 06:15] #11392 closed

[2017-06-24 06:16] PeterDaveHello commented on #11379
Let's move to #10720

[2017-06-24 06:16] #11379 closed

[2017-06-24 06:17] PeterDaveHello commented on #9384
Let's move to #7522

[2017-06-24 06:17] #9384 closed

[2017-06-24 07:05] PeterDaveHello commented on #11347
@krunal221291 there url is not valid, we don't have the file ever, may I know that how/where did you get it? Thanks.

[2017-06-24 09:38] dakshshah96 commented on #10349
@PeterDaveHello The CDN builds are all hosted at http://archive.dojotoolkit.org/cdn/

How do we manage this?

[2017-06-24 09:39] dakshshah96 commented on #11168
@PeterDaveHello Yes. Definitely! I'll make a PR soon.

[2017-06-24 09:44] PeterDaveHello commented on #11168
@dakshshah96 Great, thanks

[2017-06-24 10:05] dakshshah96 commented on #9977
Hey @bluepnume, Can this library be used directly in the browser?

[2017-06-24 13:12] freebeer42 commented on #11446
Thanks!

[2017-06-24 13:28] PeterDaveHello commented on #11446
@freebeer42 thank you, too.

[2017-06-24 15:40] myxvisual opened #11448 "[Request][Author] Add react-uwp"
**Library name:** react-uwp
**Git repository url:** https://github.com/myxvisual/react-uwp
**npm package name or url** (if there is one): react-uwp
**License (List them all if it's multiple):** MIT
**Official homepage:** https://www.react-uwp.com
**Wanna say something? Leave message here:** Because it involves webfont and browser support, I hope it can be added to cdnjs, for developers to simply r

[2017-06-24 18:03] bluepnume commented on #9977
@dakshshah96 Yes, absolutely, it creates a `postRobot` global via UMD.

[2017-06-24 18:14] dakshshah96 commented on #9977
@bluepnume Great! 😄

[2017-06-24 21:09] ahle opened #11451 "[Request] Add impress-slide-num.js"
**Library name:** impress-slide-num.js
**Git repository url:**
**npm package name or url** (if there is one):
**License (List them all if it's multiple):**
**Official homepage:**
**Wanna say something? Leave message here:**

=====================

Notes from cdnjs maintainer:
Please read the [README.md](https://github.com/cdnjs/cdnjs#cdnjs-library-repository) and [CONTRIBUTING.md](https://github.c

[2017-06-25 01:35] sufuf3 commented on #11442
@TJKoury
Thanks for the suggestion, however, this library doesn't have enough notable popularity(like more than 100 stars on GitHub or 500 downloads per month on npm). please take a look on our [README.md](https://github.com/cdnjs/cdnjs/blob/master/README.md) for detail, it's always good to read the document before open an issue, I'll respectfully suggest you open a new issue again when the librar

[2017-06-25 01:42] TJKoury commented on #11442
@sufuf3 it is a single .is file hosting of a very popular library (cesiumjs.org).  I packaged it specifically for CDN hosting, since the production version requires hosting of several webworkers, images, json documents, and other external files.

[2017-06-25 01:44] TJKoury commented on #11442
https://www.npmjs.com/package/cesium

[2017-06-25 01:45] TJKoury commented on #11442
https://groups.google.com/forum/m/#!topic/cesium-dev/szGWBVpQlTM

[2017-06-25 02:04] sufuf3 commented on #11451
Hi @ahle
Did you mean this [library](https://github.com/tanayseven/ImpressJS-Slide-Numbering) you want to CDNJS host?
Could you fill in more detail information in the first comment? such as "Git repository url" ... etc.

Thank you.

[2017-06-25 02:09] sufuf3 commented on #11442
@TJKoury Thank you. It looks cool.

[2017-06-25 02:26] TJKoury commented on #11442
I aim to please.  Let me know if you have any other questions, and no hard feelings if you don't want to host it.

[2017-06-25 02:31] PeterDaveHello commented on #11442
@TJKoury would you like to send a pull request to add this library on cdnjs?

[2017-06-25 06:57] #7619 closed

[2017-06-25 06:59] ricardopolo opened #11452 "Enable Argo"
Please enable Argo Cludflare in the CDN. We need the faster speed  always in CDNJS, so lets use this new Technology! 😄

[2017-06-25 07:01] #9219 closed

[2017-06-25 18:06] Eonasdan opened #11453 "[Request] [Author] Add Tempus Dominus for Bootstrap3 and Bootstrap4"
Library name: Tempus Dominus
Git repository url: https://github.com/tempusdominus/bootstrap-3 and https://github.com/tempusdominus/bootstrap-4
npm package name or url (if there is one): https://www.npmjs.com/package/tempusdominus-bootstrap-3 and https://www.npmjs.com/package/tempusdominus-bootstrap-4
License (List them all if it's multiple): MIT
Official homepage: GitHub Repo
Wanna say something?

[2017-06-25 19:10] tooncitydl opened #11454 "[Request] Add selectnav.js"
**Library name:** selectnav.js
**Git repository url:** https://github.com/lukaszfiszer/selectnav.js
**npm package name or url** (if there is one):
**License (List them all if it's multiple):** [MIT](https://github.com/lukaszfiszer/selectnav.js/blob/master/LICENCE)
**Official homepage:** http://lukaszfiszer.github.com/selectnav.js/
**Wanna say something? Leave message here:**

=====================

[2017-06-25 20:18] tyrex1975 opened #11455 "[Request] Add jSignature"
Library name: jSignature
Git repository url: https://github.com/brinley/jSignature/
npm package name or url (if there is one): N/A
License (List them all if it's multiple): MIT
Official homepage: http://brinley.github.io/jSignature/

[2017-06-26 02:04] TJKoury commented on #11442
Done (as far as I can tell).  Let me know if I got it right.

[2017-06-26 03:52] maruilian11 commented on #9087
Hi @sachinchoolur, Could you please help us confirm the license of your libs, thank you!
like https://github.com/sachinchoolur/lg-video/issues/1

[2017-06-26 13:47] dakshshah96 commented on #11390
@PeterDaveHello This library doesn't seem to meet the minimum popularity requirements 😕

[2017-06-26 14:53] VCNinc opened #11462 "[Request] Add country-select-js"
**Library name:** country-select-js
**Git repository url:** https://github.com/mrmarkfrench/country-select-js
**License (List them all if it's multiple):** MIT

[2017-06-26 15:43] shinoamakusa opened #11463 "[Request] Update infinite-scroll to v3"
Infinite-Scroll (https://cdnjs.com/libraries/jquery-infinitescroll) plugin has a new home and developer (https://github.com/metafizzy/infinite-scroll) and new homepage (https://infinite-scroll.com/)

Would it be possible to update the existing plugin to v3 or does it need to be a brand new project if a new developer is creating new versions?

Thanks

[2017-06-26 16:37] simboyy commented on #11346
you are right

[2017-06-27 05:33] veqtor opened #11465 "[Request] Add ipfs"
**Library name:** ipfs
**Git repository url:** https://github.com/ipfs/js-ipfs
**npm package name or url** (if there is one): https://www.npmjs.com/package/ipfs
**License (List them all if it's multiple):** MIT
**Official homepage:** ipfs.io
**Wanna say something? Leave message here:**
js version of ipfs allows for pulling more or less anything from ipfs

=====================

Notes from cdnjs ma

[2017-06-27 05:53] #11465 closed

[2017-06-27 08:12] veqtor commented on #11465
Thank you! So awesome!!!

[2017-06-27 08:29] foaadnami opened #11468 "[Request] Add kevinchappell/formBuilder"
**Library name:** formBuilder
**Git repository url:**
Two distributables

https://github.com/kevinchappell/formBuilder/blob/master/dist/form-builder.min.js
https://github.com/kevinchappell/formBuilder/blob/master/dist/form-render.min.js

**npm package name or url** (if there is one):
**License (List them all if it's multiple):**
**Official homepage:**  https://github.com/kevinchappell/formBuilder

[2017-06-27 09:51] dakshshah96 commented on #11170
@PeterDaveHello How do we handle `wait for response` PRs? There are several pull requests which are in that status for more than a couple of months.

[2017-06-27 11:47] iivmok commented on #10911
+1, very usefull library, was surprised to not see it on cdnjs.

[2017-06-27 14:32] sufuf3 commented on #11390
https://github.com/cdnjs/cdnjs/pull/11460#issuecomment-311360441 this is the library's author comment, maybe we can close this issue?

[2017-06-27 17:08] TheSharpieOne opened #11470 "[Request] Add reactstrap"
**Library name:** reactstrap
**Git repository url:** https://github.com/reactstrap/reactstrap.git
**npm package name or url** (if there is one): reactstrap (https://www.npmjs.com/package/reactstrap)
**License (List them all if it's multiple):** MIT
**Official homepage:** https://reactstrap.github.io/
**Wanna say something? Leave message here:**
reactstrap/reactstrap#476

[2017-06-27 17:55] sachinchoolur commented on #9087
Hi @maruilian11,
Thank you for considering hosting lightGallery on cdnjs. lightGallery and its submodules are licensed under  GPLv3 license.

[2017-06-28 05:36] sufuf3 commented on #11468
Note:
If someone wants to add this library via sending a pull request, need to rename the library. Because the `formbuilder` is already in CDNJS https://github.com/cdnjs/cdnjs/tree/master/ajax/libs/formbuilder

[2017-06-28 05:40] sufuf3 commented on #11452
(Argo)[https://www.cloudflare.com/argo/] is awesome.
@PeterDaveHello could you take a look this?
I don't know how to deal with this.
Thank you.

[2017-06-28 05:44] PeterDaveHello opened #11473 "[Request] Add hunt"
**Library name:** hunt
**Git repository url:** https://github.com/jeremenichelli/hunt
**npm package name or url**: huntjs
**License:** MIT
**Official homepage:** https://jeremenichelli.github.io/hunt

For beginners who is interested in picking up this issue:

In this issue, we are going to host a new web front-end library on CDNJS, so that web developer can easily use it on our free CDN without ad

[2017-06-28 05:45] #11390 closed

[2017-06-28 05:46] PeterDaveHello commented on #11390
@lukemccrae sorry for that, maybe you'd like to try #11473?

[2017-06-28 05:48] sufuf3 commented on #11463
@shinoamakusa Thank you for notice.
Because the link(github.com/infinite-scroll/infinite-scroll) always redirect to (https://github.com/metafizzy/infinite-scroll).
I think just need to update the [package.json](https://github.com/cdnjs/cdnjs/blob/master/ajax/libs/jquery-infinitescroll/package.json).
Thanks a lot.

[2017-06-28 06:08] PeterDaveHello opened #11474 "[Request] Add instagram-lite"
**Library name:** instagram-lite
**Git repository url:** https://github.com/michael-lynch/instagram-lite
**License:** MIT

For beginners who is interested in picking up this issue:

In this issue, we are going to host a new web front-end library on CDNJS, so that web developer can easily use it on our free CDN without additional download/upload process 🚀 .

If you'll like to work locally, I'll sug

[2017-06-28 06:11] PeterDaveHello opened #11475 "[Request] Add ng-image-gallery"
**Library name:** ng-image-gallery
**Git repository url:** https://github.com/thatisuday/ng-image-gallery
**npm package name or url**: ng-image-gallery
**License:** Apache-2.0
**Note:** Please note that **gz** files should be excluded in commits and auto-update config

=====================

For beginners who is interested in picking up this issue:

In this issue, we are going to host a new web fr

[2017-06-28 06:14] PeterDaveHello opened #11476 "[Request] Add ng-dropzone"
**Library name:** ng-dropzone
**Git repository url:** https://github.com/thatisuday/ng-dropzone
**npm package**: [ngdropzone](https://www.npmjs.com/package/ngdropzone)
**License:** Apache-2.0
**Official homepage:** http://www.dropzonejs.com
**Note:** Please note that **gz** files should be excluded in commits and auto-update config

=====================

For beginners who is interested in picking

[2017-06-28 11:26] maruilian11 commented on #9986
Has been added in aba39a73780eab24a7d3f6355de0b6db55d63076

[2017-06-28 11:26] #9986 closed

[2017-06-28 11:27] maruilian11 commented on #10328
@sppc42
this issue will be closed if there is no any response in next 7 days.

[2017-06-28 13:01] PeterBot opened #11477 "[Build failed] Got error while building meta data/artifact"
Dear all,

Our build process just got an error while building the meta data/artifact of cdnjs project, our [website and api](https://github.com/cdnjs/new-website) may not be as new as our repository, however, the cdn service will not been affected, you can still use it, and modify the library name, version number and filename in the url can help you access all the content on cdnjs, we will fix the

[2017-06-28 13:06] PeterBot opened #11478 "[Build failed] Got error while building meta data/artifact"
Dear all,

Our build process just got an error while building the meta data/artifact of cdnjs project, our [website and api](https://github.com/cdnjs/new-website) may not be as new as our repository, however, the cdn service will not been affected, you can still use it, and modify the library name, version number and filename in the url can help you access all the content on cdnjs, we will fix the

[2017-06-28 13:09] PeterDaveHello commented on #11477
network issue

[2017-06-28 13:09] #11477 closed

[2017-06-28 13:09] PeterDaveHello commented on #11478
network issue

[2017-06-28 13:09] #11478 closed

[2017-06-28 13:10] PeterBot opened #11479 "[Build failed] Got error while building meta data/artifact"
Dear all,

Our build process just got an error while building the meta data/artifact of cdnjs project, our [website and api](https://github.com/cdnjs/new-website) may not be as new as our repository, however, the cdn service will not been affected, you can still use it, and modify the library name, version number and filename in the url can help you access all the content on cdnjs, we will fix the

[2017-06-28 13:10] PeterDaveHello commented on #11479
network issue

[2017-06-28 13:10] #11479 closed

[2017-06-28 13:15] PeterBot opened #11480 "[Build failed] Got error while building meta data/artifact"
Dear all,

Our build process just got an error while building the meta data/artifact of cdnjs project, our [website and api](https://github.com/cdnjs/new-website) may not be as new as our repository, however, the cdn service will not been affected, you can still use it, and modify the library name, version number and filename in the url can help you access all the content on cdnjs, we will fix the

[2017-06-28 13:20] PeterBot opened #11481 "[Build failed] Got error while building meta data/artifact"
Dear all,

Our build process just got an error while building the meta data/artifact of cdnjs project, our [website and api](https://github.com/cdnjs/new-website) may not be as new as our repository, however, the cdn service will not been affected, you can still use it, and modify the library name, version number and filename in the url can help you access all the content on cdnjs, we will fix the

[2017-06-28 16:22] #11481 closed

[2017-06-28 16:22] #11480 closed

[2017-06-28 16:25] PeterDaveHello commented on #10911
@iivmok @m47730 you can send a pull request if you'd like to make it on cdnjs sooner :)

[2017-06-28 16:26] PeterDaveHello commented on #11170
@dakshshah96 good questions, I've told the other members that we'll try to manually add those library unless they're not popular enough.

[2017-06-29 11:51] irhen commented on #11473
Hello there!
I'm sorry for asking, but I didn't quite catch what exactly needs to be done. There're no open issues in the repository. Could you maybe specify the problem/request?

[2017-06-29 12:50] DJaeger opened #11486 "[Request] Add Zebra_Dialog"
**Library name:** Zebra_Dialog
**Git repository url:** https://github.com/stefangabos/Zebra_Dialog
**npm package name or url** (if there is one): zebra_dialog
**License (List them all if it's multiple):**  LGPL-3.0
**Official homepage:** https://github.com/stefangabos/Zebra_Dialog

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/4672

[2017-06-29 12:53] ggerber opened #11487 "[Request] Add react-transition-group"
**Library name:** react-transition-group
**Git repository url:** https://github.com/reactjs/react-transition-group
**npm package name or url** (if there is one): react-transition-group
**License (List them all if it's multiple):** BSD 3
**Official homepage:**
**Wanna say something? Leave message here:**

=====================

Notes from cdnjs maintainer:
Please read the [README.md](https://github

[2017-06-29 17:07] sufuf3 opened #11489 "[Request] Update the repository's url, homepage of inferno"
**Library name**: inferno
**Git repository url**: https://github.com/infernojs/inferno
**npm**: https://www.npmjs.com/package/inferno
**License** (List them all if it's multiple): MIT
**Official homepage**: https://infernojs.org/
Note:
https://github.com/cdnjs/cdnjs/blob/master/ajax/libs/inferno/package.json#L27
https://github.com/cdnjs/cdnjs/blob/master/ajax/libs/inferno/package.json#L29

[2017-06-29 19:21] #11489 closed

[2017-06-29 21:38] ajlaporte opened #11491 "[Request] smartquotes.js"
Library name: smartquotesjs
Git repository url: https://github.com/kellym/smartquotesjs
npm package name or url (if there is one): https://www.npmjs.com/package/smartquotes
License (List them all if it's multiple): MIT License
Official homepage: http://smartquotesjs.com/

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/46741038-reque

[2017-06-30 01:13] AndersonLorena opened #11492 "[Request] Add stringbuffer.js"
**Library name:** stringbuffer.js
**Git repository url:**
**npm package name or url** (if there is one):
**License (List them all if it's multiple):**
**Official homepage:**
**Wanna say something? Leave message here:**

=====================

Notes from cdnjs maintainer:
Please read the [README.md](https://github.com/cdnjs/cdnjs#cdnjs-library-repository) and [CONTRIBUTING.md](https://github.com/cd

[2017-06-30 07:16] #8684 closed

[2017-06-30 07:18] #11470 closed

[2017-06-30 07:29] PeterDaveHello commented on #11473
Hi @irhen, this is the issue, which is asking to add a new library called "hunt" on cdnjs.

cc @cdnjs/intern3 @cdnjs/active-contributor

[2017-06-30 09:53] irhen commented on #11473
Oh, I see. I'd like to do something like that one day, but not right now. Thank you for your quick response!

[2017-06-30 21:04] DanielSWolf opened #11494 "[Request] Add semver"
**Library name:** semver
**Git repository url:** https://github.com/npm/node-semver
**npm package name or url (if there is one):** [semver](https://www.npmjs.com/package/semver)
**License (List them all if it's multiple):** [ISC License](https://github.com/npm/node-semver/blob/master/LICENSE)
**Official homepage:**
**Wanna say something? Leave message here:**

=====================

[2017-06-30 21:35] RinkAttendant6 opened #11495 "jQuery UI corrupt minified JS file"
The file at `https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js` appears to be different than the official one at `https://code.jquery.com/ui/1.12.1/jquery-ui.min.js` (and Google CDN `https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js`).

This is evident by the difference in SRI hashes:

cdnjs:
[code]

jQuery CDN:
[code]

Note that the unminified files appe

[2017-07-01 08:34] PeterDaveHello commented on #11495
I'm not sure how do they grab the files, we pull jquery-ui from here:
https://jqueryui.com/resources/download/jquery-ui-1.12.1.zip

The checksums should prove that it's the official one:

sha384
[code]

sha256
[code]

sha1
[code]

md5
[code]

[2017-07-01 08:36] PeterDaveHello commented on #11495
Dear Jquery-ui masters: @scottgonzalez @jzaefferer

Would you guys like to help us known more about what's the proper way to fetch jquery-ui and how jquery CDN, Google CDN did it?

Many thanks!

[2017-07-01 08:47] RinkAttendant6 commented on #11495
The files differ by one byte, with the cdnjs one containing an extra byte, to be exact it's a backslash character inside a regex on line 7.

[2017-07-01 08:48] PeterDaveHello commented on #11495
@RinkAttendant6 thanks! Would this be fixed in future so that we can share the same checksum?

[2017-07-01 09:06] scottgonzalez commented on #11495
There are many ways to fetch jQuery UI. The jQuery CDN and Google CDN are two of them, both of them receive the file directly from the development team. The one byte difference you see comes from different build systems using different versions of the same minifier. There's no easy way for us to ensure this doesn't happen without a lot of changes to our download builder.

[2017-07-01 09:08] PeterDaveHello commented on #11495
@scottgonzalez is it possible to make sure they come from the same build so that we can share the same checksum?

[2017-07-01 11:51] #9824 closed

[2017-07-01 15:21] ajsb85 commented on #11495
@PeterDaveHello 👌

[2017-07-01 15:23] ajsb85 commented on #11495
@PeterDaveHello Le dije que tu ere recien graduado

[2017-07-01 15:23] PeterDaveHello commented on #11495
@ajsb85 English please.

[2017-07-01 16:45] #11373 closed

[2017-07-01 17:35] scottgonzalez commented on #11495
To be honest, I'm not interested in prioritizing this because I don't think this is how people should be getting jQuery UI. If cdnjs wants to have the same checksum, they can just get the file from the jQuery CDN instead of jqueryui.com.

[2017-07-01 18:24] tallesairan opened #11498 "[Request] Add material-design-icons"
**Library name:** boostrap-material-design-icons
**Git repository url:** https://github.com/mervick/material-design-icons
**npm package name or url** (if there is one): https://www.npmjs.com/package/bootstrap-material-design-icons
**License (List them all if it's multiple):** MIT License
**Official homepage:** http://mervick.github.io/material-design-icons/
**Wanna say something? Leave message her

[2017-07-02 02:36] tallesairan commented on #11498
@mervick

[2017-07-02 04:50] PeterDaveHello commented on #11495
Anyway, the files are good. There is no really integrity issue here. Thanks.

[2017-07-02 04:50] #11495 closed

[2017-07-02 04:53] #11448 closed

[2017-07-02 05:07] PeterDaveHello commented on #11498
@tallesairan @mervick would you guys like to send a pull request to add it on @cdnjs?

[2017-07-02 08:11] PeterBot opened #11499 "[Build failed] Got error while building meta data/artifact"
Dear all,

Our build process just got an error while building the meta data/artifact of cdnjs project, our [website and api](https://github.com/cdnjs/new-website) may not be as new as our repository, however, the cdn service will not been affected, you can still use it, and modify the library name, version number and filename in the url can help you access all the content on cdnjs, we will fix the

[2017-07-02 08:19] PeterDaveHello commented on #11499
Network issue.

[2017-07-02 08:19] #11499 closed

[2017-07-02 09:45] sufuf3 opened #11500 "[Request] Add share-this"
**Library name:** share-this
**Git repository url:**  https://github.com/MaxArt2501/share-this
**npm package name or url** (if there is one):  https://www.npmjs.com/package/share-this
**License (List them all if it's multiple):** MIT
**Official homepage:** https://maxart2501.github.io/share-this/

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource

[2017-07-02 09:50] sufuf3 commented on #11494
@DanielSWolf Could the `semver.js` file can use in web front-end with HTML tag?
Or what files should CDNJS host?

Could you tell me how to use this library in web front-end?
Thank you.

[2017-07-02 09:52] sufuf3 commented on #11492
@AndersonLorena Is there any detail information about `stringbuffer.js`?
Such as Git repository url.
Thank you.

[2017-07-02 17:20] sufuf3 commented on #9589
Duplicate with #9486
PR: #11472

[2017-07-02 23:16] PeterBot opened #11501 "[Build failed] Got error while building meta data/artifact"
Dear all,

Our build process just got an error while building the meta data/artifact of cdnjs project, our [website and api](https://github.com/cdnjs/new-website) may not be as new as our repository, however, the cdn service will not been affected, you can still use it, and modify the library name, version number and filename in the url can help you access all the content on cdnjs, we will fix the

[2017-07-03 03:44] maruilian11 commented on #9087
All sub-libraries have been added.

[2017-07-03 03:44] #9087 closed

[2017-07-03 07:08] DanielSWolf commented on #11494
@sufuf3 Yes, `semver.js` should work fine in a browser -- apart from the `module.exports` syntax, of course. It defines a number of helpful functions for working with version strings.

[2017-07-03 07:38] sufuf3 commented on #11494
So can I use ` <script type="text/javascript" src="semver.js"></script>` in HTML file?
Because I saw it use in command line via the npm README (https://www.npmjs.com/package/semver#usage).

Sorry that I am not familiar with JavaScript.
cc @extend1994, @dakshshah96 , @PeterDaveHello

[2017-07-03 08:05] #11501 closed

[2017-07-03 08:14] #10668 closed

[2017-07-03 08:15] PeterDaveHello commented on #9589
Close pr #9486

[2017-07-03 08:15] #9589 closed

[2017-07-03 08:40] #9234 closed

[2017-07-03 08:40] #11298 closed

[2017-07-03 09:03] evromalarkey commented on #9087
thanks a lot!

[2017-07-03 09:31] mperin opened #11503 "[Request] Add MonoSocialIconsFont"
**Library name:** MonoSocialIconsFont
**Git repository url:** https://github.com/drinchev/monosocialiconsfont
**npm package name or url** (if there is one):
**License (List them all if it's multiple):** OFL-1.1
**Official homepage:** http://drinchev.github.io/monosocialiconsfont/
**Wanna say something? Leave message here:**

=====================

Notes from cdnjs maintainer:
Please read the [READ

[2017-07-03 13:08] DanielSWolf commented on #11494
I'm sorry @sufuf3, I misunderstood your question. No, you cannot reference `semver.js` from a `<script>` tag and expect it to work. You'd have to make the following modifications first:

You have to modify `semver.js` like this:

[code]

After that, you should be able to reference the file from a `<script>` tag, and access the functions from the `semVer` variable.

I'm writing these instructions f

[2017-07-03 16:38] sufuf3 commented on #11494
@PeterDaveHello Could you help take a look?
I think CDNJS couldn't host this library because it can't use `<script>` tag.
Thank you.

[2017-07-04 07:33] fabiocbinbutter opened #11505 "[Request] Add Rison"
**Library name:** rison
**Git repository url:** https://github.com/Nanonid/rison
**npm package url:** https://www.npmjs.com/package/rison
**License:** MIT

Wanna say something? Leave message here:
94 stars, ~3k downloads/week
Distributable JS file (not minified...) https://github.com/Nanonid/rison/blob/master/js/rison.js

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!]

[2017-07-04 08:40] PeterDaveHello opened #11506 "[Request] Add goalProgress"
**Library name:** goalProgress
**Git repository url:** https://github.com/tinacious/goalProgress
**npm package name or url** (if there is one):
**License:** MIT
**Official homepage:** http://tinacious.github.io/goalProgress/ (It's http not https)

=====================

For beginners who is interested in picking up this issue:

In this issue, we are going to host a new web front-end library on CDN

[2017-07-04 08:42] PeterDaveHello opened #11507 "[Request] Add circular-progress"
**Library name:** circular-progress
**Git repository url:** https://github.com/neoziro/circular-progress
**License:** MIT

=====================

For beginners who is interested in picking up this issue:

In this issue, we are going to host a new web front-end library on CDNJS, so that web developer can easily use it on our free CDN without additional download/upload process 🚀 .

If you'll like to

[2017-07-04 08:54] PeterDaveHello opened #11508 "[Request] Add gridder"
**Library name:** gridder
**Git repository url:** https://github.com/oriongunning/gridder
**npm package name or url** (if there is one):
**License:** CC-BY-3.0
**Official homepage:** http://oriongunning.github.io/gridder/ (It's http not https)

=====================

For beginners who is interested in picking up this issue:

In this issue, we are going to host a new web front-end library on CDNJS,

[2017-07-04 08:59] PeterDaveHello opened #11509 "[Request] Add PgwSlider"
**Library name:** pgw slider
**Git repository url:** https://github.com/Pagawa/PgwSlider
**npm package name or url**: https://www.npmjs.com/package/pgwslider
**License:** GPL-3.0
**Official homepage:** http://pgwjs.com/pgwslider/

=====================

For beginners who is interested in picking up this issue:

In this issue, we are going to host a new web front-end library on CDNJS, so that web d

[2017-07-04 09:31] PeterDaveHello opened #11510 "[Request] Add FormChimp"
**Library name:** FormChimp
**Git repository url:** https://github.com/fabioquarantini/formchimp
**License:** MIT
**Official homepage:** http://www.fabioquarantini.com/formchimp/

=====================

For beginners who is interested in picking up this issue:

In this issue, we are going to host a new web front-end library on CDNJS, so that web developer can easily use it on our free CDN without

[2017-07-04 09:34] PeterDaveHello opened #11511 "[Request] Add jquery-spellchecker"
**Library name:** jquery-spellchecker
**Git repository url:** https://github.com/badsyntax/jquery-spellchecker
**npm package name or url** (if there is one):
**License:** MIT
**Official homepage:** http://jquery-spellchecker.badsyntax.co/
**Wanna say something? Leave message here:**

The files we needs should be the `js` and `css` folders under `dist`

=====================

For beginners who is i

[2017-07-04 09:36] PeterDaveHello opened #11512 "[Request] Add Email-autocomplete"
**Library name:** Email-autocomplete
**Git repository url:** https://github.com/10w042/email-autocomplete
**License:** MIT

=====================

For beginners who is interested in picking up this issue:

In this issue, we are going to host a new web front-end library on CDNJS, so that web developer can easily use it on our free CDN without additional download/upload process 🚀

If you'll like to

[2017-07-04 09:38] PeterDaveHello opened #11513 "[Request] Add rowGrid.js"
**Library name:** rowGrid.js
**Git repository url:** https://github.com/brunjo/rowGrid.js
**npm package name or url**: rowgrid.js
**License:** MIT
**Official homepage:** https://brunjo.github.io/rowGrid.js/

=====================

For beginners who is interested in picking up this issue:

In this issue, we are going to host a new web front-end library on CDNJS, so that web developer can easily use

[2017-07-04 09:40] PeterDaveHello opened #11514 "[Request] Add fontIconPicker"
**Library name:** fontIconPicker
**Git repository url:** https://github.com/micc83/fontIconPicker
**License:** MIT
**Official homepage:** https://codeb.it/fonticonpicker/

=====================

For beginners who is interested in picking up this issue:

In this issue, we are going to host a new web front-end library on CDNJS, so that web developer can easily use it on our free CDN without addition

[2017-07-04 09:41] PeterDaveHello opened #11515 "[Request] Add urlive"
**Library name:** urlive
**Git repository url:** https://github.com/markserbol/urlive
**Licens:** MIT
**Official homepage:** http://markserbol.com/urlive/

=====================

For beginners who is interested in picking up this issue:

In this issue, we are going to host a new web front-end library on CDNJS, so that web developer can easily use it on our free CDN without additional download/uplo

[2017-07-04 16:11] ricardopolo commented on #11452
As far as I know is simply a setting in the CF interface. For us it was so simple. It won involve developer work by your side.

[2017-07-04 16:17] PeterDaveHello commented on #11452
@ryankirkman is the only one has permission on cdnjs.com to enable it, and @terinjokes is the only one has permission on cdnjs.cloudflare.com

[2017-07-04 17:44] ryankirkman commented on #11452
Let me take a look for cdnjs.com
On Tue, Jul 4, 2017 at 9:18 AM Peter <notifications@github.com> wrote:

[2017-07-05 08:46] GwynethLlewelyn opened #11517 "[Request] Add videojs-flash.js"
**Library name:** videojs-flash.js
**Git repository url:** https://github.com/videojs/videojs-flash
**npm package name or url** (if there is one): https://www.npmjs.com/package/videojs-flash
**License (List them all if it's multiple):** Apache License, Version 2.0
**Official homepage:**
**Wanna say something? Leave message here:**
Since Flash was dropped from Video.js >= 6.0.0, the videojs-flash p

[2017-07-05 09:48] irfangg opened #11518 "[Request] Add jquery.flot.tickrotor.js"
**Library name:** jquery.flot.tickrotor.js
**Git repository url:** https://raw.githubusercontent.com/markrcote/flot-tickrotor/master/jquery.flot.tickrotor.js
**npm package name or url** (if there is one):
**License (List them all if it's multiple):**
**Official homepage:** https://github.com/flot/flot
**Wanna say something? Leave message here:**

=====================

Notes from cdnjs maintainer:

[2017-07-05 09:50] devshark opened #11519 "[Request] Add angular-paging"
**Library name:** Angular-Paging
**Git repository url:** https://github.com/brantwills/Angular-Paging
**npm package name or url** (if there is one):
**License (List them all if it's multiple):** MIT License
**Official homepage:** http://brantwills.github.io/Angular-Paging/
**Wanna say something? Leave message here:**
This is not my project. Just requesting it because this looks helpful.

=========

[2017-07-05 15:44] extend1994 commented on #11518
Hi @irfangg
The library doesn't have enough popularity(100 stars/watchers on GitHub and 500 downloads/month on npm registry are good examples). You can take a look on our [issue rule](https://github.com/cdnjs/cdnjs/blob/master/CONTRIBUTING.md#b-request-a-new-library) for more details :)
We suggest you to open the issue again when the repo has notable popularity.

This issue will be closed if there

[2017-07-05 16:12] extend1994 commented on #11517
Hi @GwynethLlewelyn
The library doesn't have enough popularity(100 stars/watchers on GitHub and 500 downloads/month on npm registry are good examples). You can take a look on our [issue rule](https://github.com/cdnjs/cdnjs/blob/master/CONTRIBUTING.md#b-request-a-new-library) for more details :)
We suggest you to open the issue again when the repo has notable popularity.

This issue will be closed

[2017-07-05 16:17] GwynethLlewelyn commented on #11517
Oh, good point! :) Sorry about that, it's just that I saw much more obscure Video.js plugins being served by cdnjs, while this one (videojs-flash) was actually part of the original Video.js before version 6.0.0, when it was split from the original. So now we're stuck with having just part of the complete code being served by cdnjs, while the rest of the code was made into a _separate_ plugin... wh

[2017-07-05 16:27] extend1994 commented on #11517
I found it has enough popularity on npm! Sorry for not not noticing that! Thank you for quick response and library request :smile:

[2017-07-05 16:32] GwynethLlewelyn commented on #11517
Oh well done @extend1994 ! I forgot to check it on npm as well. And yes — this particular Video.js plugin is mostly available through npm/bower; there are no distributable files on GitHub, at least for now, meaning that one has to compile everything on one's own... which in turn means that most people will be using npm/bower to get it. No wonder that it isn't that popular on GitHub itself! Thanks

[2017-07-05 17:29] #11340 closed

[2017-07-05 17:40] zhanhb commented on #11340
By the way, can v0.1.0 be included in cdnjs?