[2017-07-05 17:41] PeterDaveHello commented on #11340
@zhanhb Sure thing!

[2017-07-05 17:45] PeterDaveHello commented on #11340
@zhanhb See: e9c48170d554d310fb4540becabd649c93eb1416, it'll be deployed in 10 mins.

[2017-07-05 17:50] zhanhb commented on #11340
Thanks very much!

[2017-07-05 17:52] PeterDaveHello commented on #11340
@zhanhb you're welcome.

[2017-07-06 06:28] sufuf3 opened #11521 "[Request] Add vuetify"
**Library name:** vuetify
**Git repository url:** https://github.com/vuetifyjs/vuetify
**npm package name or url** (if there is one): https://www.npmjs.com/package/vuetify
**License (List them all if it's multiple):** MIT
**Official homepage:** https://vuetifyjs.com

[2017-07-06 09:13] anand-bhat commented on #8742
Hello, The maintainer of the report has added their comments to https://github.com/DataTables/FixedHeader/issues/83

[2017-07-06 09:20] PeterDaveHello commented on #8742
@anand-bhat thanks

[2017-07-06 15:41] extend1994 commented on #11517
@GwynethLlewelyn Thanks a lot for a great of information :smile:

[2017-07-06 18:07] whawker opened #11523 "[Request] Add react-day-picker"
**Library name:** react-day-picker
**Git repository url:** https://github.com/gpbl/react-day-picker
**npm package name or url** (if there is one): https://www.npmjs.com/package/react-day-picker
**License (List them all if it's multiple):** MIT
**Official homepage:** http://react-day-picker.js.org/

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysourc

[2017-07-06 21:36] nbkhope commented on #11515
I will give this a try.

[2017-07-06 21:56] PeterDaveHello commented on #11515
@nbkhope :+1:

[2017-07-07 05:12] sufuf3 opened #11524 "[Request] Add brick"
**Library name:** brick
**Git repository url:**  https://github.com/mozbrick/brick
**npm package name or url** (if there is one):
**License (List them all if it's multiple):** Apache License v2
**Official homepage:** https://mozbrick.github.io/

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/46980657-request-add-brick?utm_campaign=p

[2017-07-07 10:48] pkra commented on #10160
@terinjokes any news on this? It would be great to finally have json files supported no cdnjs.

[2017-07-07 16:50] nbkhope commented on #11515
@PeterDaveHello according the guides, I have can run the tests using `npm test`, except that because I don't have all the packages locally, many of them will fail. Is there a way to run a specific test for the new package to be added?

[2017-07-07 20:18] PeterDaveHello commented on #11515
@nbkhope npm test won't test not existing libraries, so no worries on this part.

[2017-07-07 21:09] nbkhope commented on #11515
@PeterDaveHello Oh, okay. So the problem was that there was a directory for the libraries, including a `package.json`, but no subdirectories inside. I didn't pull up the whole Git repository, so that might have been affected it.

[2017-07-08 03:54] sufuf3 opened #11525 "[Request] Add obelisk.js"
**Library name:** obelisk.js
**Git repository url:** https://github.com/nosir/obelisk.js
**npm package name or url** (if there is one): https://www.npmjs.com/package/obelisk.js
**License (List them all if it's multiple):** MIT
**Official homepage:** https://github.com/nosir/obelisk.js/wiki

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/is

[2017-07-08 04:11] sufuf3 opened #11526 "[Request] Add MathBox"
**Library name:** MathBox
**Git repository url:**
V1: https://github.com/unconed/MathBox.js
V2: https://gitgud.io/unconed/mathbox or https://github.com/unconed/mathbox
**npm package name or url** (if there is one):
**License (List them all if it's multiple):** MIT
**Official homepage:**

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issue

[2017-07-08 06:50] PeterBot opened #11528 "[Build failed] Got error while building meta data/artifact"
Dear all,

Our build process just got an error while building the meta data/artifact of cdnjs project, our [website and api](https://github.com/cdnjs/new-website) may not be as new as our repository, however, the cdn service will not been affected, you can still use it, and modify the library name, version number and filename in the url can help you access all the content on cdnjs, we will fix the

[2017-07-08 06:50] PeterDaveHello commented on #11528
@PeterBot server rebooting

[2017-07-08 18:10] kumarabhishek opened #11530 "[Request] Add preact-router"
**Library name:** preact-router
**Git repository url:**  https://github.com/developit/preact-router
**npm package name or url** (if there is one): preact-router
**License (List them all if it's multiple):**  MIT
**Official homepage:** https://github.com/developit/preact-router
**Wanna say something? Leave message here:** Kindly make this available as more and more people will need this as preact i

[2017-07-09 09:31] mekya opened #11531 "[Request] Add videojs-panorama"
**Library name:** videojs-panorama
**Git repository url:** https://github.com/yanwsh/videojs-panorama
**npm package name or url** (if there is one): https://www.npmjs.com/package/videojs-panorama
**License (List them all if it's multiple):** Apache-2.0
**Official homepage:** https://yanwsh.github.io/videojs-panorama/
**Wanna say something? Leave message here:**

=====================

Notes from c

[2017-07-09 12:45] sufuf3 opened #11533 "[Request] Add teoria"
**Library name:** teoria
**Git repository url:** https://github.com/saebekassebil/teoria
**npm package name or url** (if there is one): https://www.npmjs.com/package/teoria
**License (List them all if it's multiple):** MIT
**Official homepage:** https://saebekassebil.github.io/teoria

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/4

[2017-07-09 15:52] #10036 closed

[2017-07-09 15:54] #11487 closed

[2017-07-09 15:59] PeterDaveHello opened #11535 "[Request] Add react-widgets"
**Library name:** react-widgets
**Git repository url:** https://github.com/jquense/react-widgets
**npm package name or url**:  react-widgets
**License (List them all if it's multiple):** MIT
**Official homepage:** https://jquense.github.io/react-widgets/docs/#/

=====================

For beginners who is interested in picking up this issue:

In this issue, we are going to host a new web front-end

[2017-07-09 16:01] PeterDaveHello commented on #11515
Not sure if I understand your problem, any details?

[2017-07-09 16:01] PeterDaveHello commented on #11515
@sufuf3 please help @nbkhope

[2017-07-09 16:12] #11528 closed

[2017-07-09 17:18] astelvida commented on #11535
I'll give it a go :) Will let you know if help is needed, thanks!

[2017-07-09 17:20] PeterDaveHello commented on #11535
@astelvida :+1:

[2017-07-09 18:00] nbkhope commented on #11515
@PeterDaveHello I had many directories under `ajax/libs/` but they only contained a `package.json`. Because of that, when I ran `npm test`, it tried looking for files within those library directories, but could not find them. So the `npm test` failed. After I removed all the directories (except the one I'm working on) from `ajax/libs`, the problem was gone.

[2017-07-09 18:02] PeterDaveHello commented on #11515
@nbkhope nice! The problem may be caused by wrong sparseCheckout config I think

[2017-07-09 18:03] nbkhope commented on #11515
@PeterDaveHello I followed the guide, but it always pulls 8G and many directories inside ajax/libs. :octocat:

[2017-07-10 00:37] nbkhope commented on #11530
I'll help out.

[2017-07-10 02:53] aijorgenson opened #11538 "[Request] Add blueimp-gallery.min.css"
**Library name:** blueimp-gallery.min.css
**Git repository url:** https://github.com/blueimp/Gallery
**npm package name or url** (if there is one):
**License (List them all if it's multiple):** MIT
**Official homepage:** https://blueimp.github.io/Gallery/
**Wanna say something? Leave message here:** The JavaScript file is already on CDN.JS, why isn't the stylesheet?

=====================

Notes f

[2017-07-10 04:54] shebas07 opened #11539 "[Request] Add https://www.google-analytics.com/analytics.js"
**Library name:** https://www.google-analytics.com/analytics.js
**Git repository url:**
**npm package name or url** (if there is one):
**License (List them all if it's multiple):**
**Official homepage:**
**Wanna say something? Leave message here:**

=====================

Notes from cdnjs maintainer:
Please read the [README.md](https://github.com/cdnjs/cdnjs#cdnjs-library-repository) and [CONTRIBU

[2017-07-10 14:27] jshjohnson opened #11540 "[Request] Add choices.js"
**Library name:** choices.js
**Git repository url:** https://github.com/jshjohnson/Choices
**npm package name or url** (if there is one): https://www.npmjs.com/package/choices.js
**License (List them all if it's multiple):** MIT
**Official homepage:** http://joshuajohnson.co.uk/Choices
**Wanna say something? Leave message here:**

=====================

Notes from cdnjs maintainer:
Please read the

[2017-07-10 14:51] sufuf3 commented on #11540
duplicate with #8927
in process #11493

[2017-07-10 15:01] sufuf3 commented on #11538
@aijorgenson Do you mean you want https://cdnjs.cloudflare.com/ajax/libs/blueimp-gallery/2.25.2/css/blueimp-gallery.min.css ?
[Here](https://cdnjs.com/libraries/blueimp-gallery) is the list of blueimp-gallery.
I check the css files are as same with upstream.

If you have any suggestions, please let me know.
Thank you.

[2017-07-10 17:13] ricardopolo commented on #11452
@terinjokes @ryankirkman can you check this?

I promise you it will only take 3 minutes, its literally a checkbox in the CloudFlare interface.

[2017-07-10 18:35] aijorgenson commented on #11538
Don't know how I missed it, thanks!

[2017-07-10 18:35] #11538 closed

[2017-07-11 13:10] sufuf3 opened #11541 "[Request] Add Flocking"
**Library name:** Flocking
**Git repository url:** https://github.com/colinbdclark/Flocking
**npm package name or url** (if there is one): https://www.npmjs.com/package/flocking
**License (List them all if it's multiple):** MIT
**Official homepage:** http://flockingjs.org/

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/47122221-req

[2017-07-11 16:05] sufuf3 opened #11542 "[Request] Add Vexflow"
**Library name:** Vexflow
**Git repository url:** https://github.com/0xfe/vexflow
**npm package name or url** (if there is one): https://www.npmjs.com/package/vexflow
**License (List them all if it's multiple):** MIT
**Official homepage:** http://www.vexflow.com/

[2017-07-12 03:15] JefMari opened #11543 "[Request] Add Fixer.io"
Library name: Fixer.io
Git repository url: https://github.com/hakanensari/fixer-io
License (List them all if it's multiple): MIT
Official homepage: http://fixer.io/

[2017-07-12 06:29] Winnerso opened #11545 "[Request] Add backgrid-paginator"
**Library name:** backgrid-paginator
**Git repository url:** https://github.com/backbone-paginator/backbone.paginator
**npm package name or url** (if there is one):
**License (List them all if it's multiple):**
**Official homepage:https://backgridjs.com/ref/extensions/paginator.html#result
**Wanna say something? Leave message here:**

=====================

Notes from cdnjs maintainer:
Please read

[2017-07-12 12:08] alextrastero opened #11546 "[Request] Add react-materialize"
**Library name:** react-materialize
**Git repository url:** https://github.com/react-materialize/react-materialize
**npm package name or url** (if there is one): https://www.npmjs.com/package/react-materialize
**License (List them all if it's multiple):** MIT
**Official homepage:** react-materialize.github.io
**Wanna say something? Leave message here:**

=====================

Notes from cdnjs mai

[2017-07-12 15:25] PeterDaveHello commented on #11170
Guys I think we don't need to pick up those PRs for beginners issue like #11299, just leave them for their next picker.

[2017-07-12 15:27] #10460 closed

[2017-07-12 15:45] #9596 closed

[2017-07-12 16:12] #7522 closed

[2017-07-12 16:43] #7254 closed

[2017-07-13 00:45] nbkhope opened #11547 "[Request] Add iconv-lite"
**Library name**: iconv-lite
**Git repository url**: https://github.com/ashtuchkin/iconv-lite
**npm package name or url (if there is one)**: https://www.npmjs.com/package/iconv-lite
**License (List them all if it's multiple)**: MIT
**Official homepage**: https://github.com/ashtuchkin/iconv-lite

[2017-07-13 09:31] sashberd opened #11548 "[Request] Add new library cssobj"
Library name: cssobj
Git repository url: https://github.com/cssobj/cssobj
npm package name or url (if there is one): https://www.npmjs.com/package/cssobj
License (List them all if it's multiple): MIT

[2017-07-13 12:52] dakshshah96 commented on #11473
@irhen Do let any one of us if you'd like to work on this 😄

[2017-07-13 16:49] PeterDaveHello commented on #10840
@cdnjs/intern3 please give hands on this issue.

[2017-07-13 16:50] PeterDaveHello commented on #11463
@sufuf3 any updates?

[2017-07-13 16:52] PeterDaveHello commented on #11049
@extend1994 this would be easy enough for you to get started with code level contribution.

[2017-07-13 22:17] the94air opened #11549 "[Request] Add css-toggle-switch"
**Library name:** css-toggle-switch
**Git repository url:** https://github.com/ghinda/css-toggle-switch
**npm package name or url** (if there is one):
**License (List them all if it's multiple):** MIT license
**Official homepage:** https://ghinda.net/css-toggle-switch/index.html
**Wanna say something? Leave message here:**
Very awesome switch. And gess what?
1. Accessible by keyboard
2. Only css n

[2017-07-13 23:41] jenshp opened #11550 "Missing jquery-validation localization for version 1.16.0"
As per issue #9491, localization was added for jquery-validation. But in version 1.16.0 it is missing, it is present only in previous versions.

[2017-07-14 00:44] sufuf3 commented on #11349
I discussed with the author (react-native-training/react-native-elements#375) for adding the versions>0.12.0 from npm to GitHub, then I can manually add these versions from GitHub to CDNJS.
But there is no response until this library manually added 4 days ago. https://github.com/cdnjs/cdnjs/commit/ad244068d9a54871583dec1e01a3bc116c525b69

Maybe this issue can close. cc @PeterDaveHello

[2017-07-14 00:44] #11349 closed

[2017-07-14 02:39] #10978 closed

[2017-07-14 03:08] sufuf3 opened #11552 "[Request] Add pell"
**Library name:** pell
**Git repository url:** https://github.com/jaredreich/pell
**npm package name or url** (if there is one): https://www.npmjs.com/package/pell
**License (List them all if it's multiple):** MIT
**Official homepage:** https://jaredreich.com/pell

[2017-07-14 03:13] sufuf3 commented on #11543
@JefMari Thank you for your suggestions.
May I ask that is there any js or css file use in web front-end with HTML tag, like `<script type="text/javascript" src="jsfile"></script>` in HTML file?

Could you tell me how to use this library in web front-end, that CDNJS should host?
Thank you.

[2017-07-14 03:21] sufuf3 commented on #11552
This library is amazing, 5 days earn 29..+ star.

[2017-07-14 03:43] sufuf3 commented on #11550
Note:
https://github.com/cdnjs/cdnjs/tree/master/ajax/libs/jquery-validate/1.16.0
need add https://github.com/jquery-validation/jquery-validation/tree/1.16.0/src/localization

[2017-07-14 03:56] sufuf3 commented on #11547
@nbkhope Thank you for your contribution.
May I ask that is there any js or css file use in web front-end with HTML tag, like `<script type="text/javascript" src="jsfile"></script>` in HTML file?

Could you tell me how to use this library in web front-end, that CDNJS should host?
Thank you.

If there is no response in 7 days, I will close this issue. Thanks for your great work and contribution.

[2017-07-14 04:24] JefMari commented on #11543
Hi @sufuf3 Thank you for your response.
Looks like i mistakenly suggest a wrong repository.

I will now close this issue.

Thank you.

[2017-07-14 04:24] #11543 closed

[2017-07-14 04:32] jdnichollsc opened #11554 "[Request][Author] Add phaser-kinetic-scrolling-plugin"
**Library name:** phaser-kinetic-scrolling-plugin
**Git repository url:** https://github.com/jdnichollsc/Phaser-Kinetic-Scrolling-Plugin.git
**npm package name or url** (if there is one): https://www.npmjs.com/package/phaser-kinetic-scrolling-plugin
**License (List them all if it's multiple):** MIT
**Official homepage:** http://jdnichollsc.github.io/Phaser-Kinetic-Scrolling-Plugin/
**Wanna say som

[2017-07-14 04:45] sufuf3 opened #11555 "[Request] Update the repository's url, homepage of notie"
**Library name**: noite
**Git repository url**: https://github.com/jaredreich/notie
**npm**: https://www.npmjs.com/package/notie
**License** (List them all if it's multiple): MIT
**Official homepage**: https://jaredreich.com/notie

Note:
- **Update the repository's url, homepage, author**
https://github.com/jaredreich/notie/blob/master/package.json#L17
https://github.com/jaredreich/notie/blob/mast

[2017-07-14 04:57] sufuf3 commented on #11492
Closed due to no response in 7 days. cc @PeterDaveHello

[2017-07-14 04:57] #11492 closed

[2017-07-14 05:00] sufuf3 commented on #11358
Maybe need assets of this library.
**Git repository url**: https://github.com/creativetimofficial/material-kit
**Official homepage**: https://www.creative-tim.com/product/material-kit

[2017-07-14 05:00] sufuf3 commented on #11324
Closed due to no response in 7 days. cc @PeterDaveHello

[2017-07-14 05:03] sufuf3 commented on #11148
@matirasa Do you mean you want CDNJS host this library --> https://github.com/timoschaefer/jQuery-Sakura ?

[2017-07-14 05:05] sufuf3 commented on #10954
@VladimirHumeniuk this library doesn't have enough popularity (like more than 100 stars on GitHub or 500 downloads per month on npm). Please take a look at our [README.md](https://github.com/cdnjs/cdnjs/blob/master/README.md). Would you mind to open an issue again when the library has more popularity? If there are no response in 7 days, I will close this issue. Thanks for your great work and contr

[2017-07-14 05:08] sufuf3 commented on #10689
Closed due to no response in 7 days. cc @PeterDaveHello

[2017-07-14 05:08] #10689 closed

[2017-07-14 05:12] sufuf3 commented on #10127
Closed due to no response in 7 days. cc @PeterDaveHello

[2017-07-14 05:33] sufuf3 commented on #9980
Closed due to no response in 7 days. cc @PeterDaveHello

[2017-07-14 05:33] #9980 closed

[2017-07-14 05:34] #10127 closed

[2017-07-14 07:04] VladimirHumeniuk commented on #10954
@sufuf3 when library has more popularity i will open issue again. Thanks.

[2017-07-14 13:11] extend1994 commented on #11049
@PeterDaveHello Okay, I will try it sonn. Thanks for the assignment!

[2017-07-14 14:11] JesterXL commented on #10590
+1

[2017-07-14 16:35] nbkhope commented on #11547
@sufuf3 oh nevermind, it is typically used in the backend with Node.js. I will be closing the issue. Thanks for the heads up.

[2017-07-14 16:35] #11547 closed

[2017-07-14 18:04] sauloaguiar commented on #11474
Hi @PeterDaveHello. Can I work on this one? I'm trying to get started with OSS contributions.
Thanks!

[2017-07-14 18:18] dakshshah96 commented on #11494
Hey @DanielSWolf, there wouldn't be any point in hosting this library on a CDN since it cannot be used in production directly.

I'm closing this issue right now. Let me know if you need to know anything else :)

cc @sufuf3

[2017-07-14 18:19] #11494 closed

[2017-07-14 18:23] dakshshah96 commented on #10502
@PeterDaveHello This library doesn't meet the minimum popularity requirements.

[2017-07-14 20:30] PeterDaveHello commented on #11555
@sufuf3 I think you can directly fix it instead of creating an issue as it's very simply enough with high priority?

[2017-07-14 20:33] PeterDaveHello opened #11557 "Update auto-update config of video.js"
As you can see that I manually added the recent few versions, we should exclude `video.cjs.js` & `video.es.js` in most of the cases, so the auto-update config should be updated.

[2017-07-15 07:00] sufuf3 commented on #11555
OK! sorry~
I will pay attention next time.

[2017-07-15 08:48] sufuf3 commented on #9244
@PeterDaveHello as the author said https://github.com/SAP/openui5/issues/1237#issuecomment-264413013 they already provide a CDN hosting and they don't see a need for cdnjs:
- a specific UI5 version like https://openui5.hana.ondemand.com/1.38.21/resources/sap-ui-core.js to manage updates on my own
- the "latest stable" version https://openui5.hana.ondemand.com/resources/sap-ui-core.js, which is upd

[2017-07-15 14:31] ex0de opened #11560 "[Request] Add videojs-theater-mode"
**Library name:** videojs-theater-mode
**Git repository url:** https://github.com/jgubman/videojs-theater-mode
**npm package name or url** (if there is one): https://www.npmjs.com/package/videojs-theater-mode
**License (List them all if it's multiple):** MIT. Copyright (c) Jon <jon@jgubman.com>
**Official homepage:** https://github.com/jgubman/videojs-theater-mode
**Wanna say something? Leave mess

[2017-07-15 17:56] bethyd commented on #11513
Hello! I'm new and I would be happy to help!

[2017-07-16 11:53] #11535 closed

[2017-07-16 13:38] extend1994 commented on #11518
Close this library request issue due to no response over 7 days and insufficient popularity. cc @PeterDaveHello

[2017-07-16 13:38] extend1994 commented on #11518
Close this library request issue due to no response over 7 days and insufficient popularity. cc @PeterDaveHello

[2017-07-16 13:38] #11518 closed

[2017-07-16 17:11] PeterDaveHello commented on #10978
@juliandavidmr if you'd like to send a pull request, we'll be happy to host this library, thanks.

[2017-07-16 17:13] PeterDaveHello commented on #11324
@sufuf3 have you searched related things?
https://github.com/caramelcss/caramel?

[2017-07-16 17:18] sufuf3 commented on #11324
Sorry, I missed it. 😞

[2017-07-16 17:19] PeterDaveHello commented on #11324
@sufuf3 make sure you did it, and also on the other issues.

[2017-07-16 17:43] Nickersoft opened #11562 "[author] Push.js not up to date (v0.0.13 => v1.0.4)"
Hi there! My library Push.js is currently still on version 0.0.13 on CDNJS, but the currently published version is 1.0.4. I noticed the main difference between the releases is Push went from outputting the compiled JavaScript to the root of the repo to a dedicated `bin` directory. Is there anything I should modify in my repo to have CDNJS properly auto-update with correct `bin` files, or should I

[2017-07-16 17:58] PeterDaveHello commented on #11562
@Nickersoft should all the files under bin be hosted on CDNJS?

[2017-07-16 18:40] Nickersoft commented on #11562
Yes. Those are really the only files that matter.

[2017-07-16 19:03] PeterDaveHello commented on #11562
@Nickersoft should be good now, see the commits above please, as you changed the directory structure but didn't update them on cdnjs, the auto-update coudn't fetch the new versions, I updated auto-update config and added v1.0.2~1.0.4 manually, but for version 1.0.0/1.0.1, I didn't see files that we can use there, you can send a pull request to add them.

[2017-07-16 19:43] #11562 closed

[2017-07-16 19:43] Nickersoft commented on #11562
Yeah, version 1.0.0 and 1.0.1 had some issues with them where the output files weren't being included in the package. How it's set up now should be fine. Thanks for your help!

[2017-07-17 06:09] animeshsinghweb opened #11565 "[Request] Add vue-lazy-load"
**Library name:** vue-lazy-load
**Git repository url:** https://github.com/hilongjw/vue-lazyload
**npm package name or url** (if there is one): https://www.npmjs.com/package/vue-lazyload
**License (List them all if it's multiple):** The MIT License
**Official homepage:** http://hilongjw.github.io/vue-lazyload/
**Wanna say something? Leave message here:**

=====================

Notes from cdnjs ma

[2017-07-17 09:23] KamaZz opened #11566 "[Request] Add unevent"
**Library name:** unevent
**Git repository url:** https://github.com/yckart/jquery.unevent.js
**npm package name or url** (if there is one):
**License (List them all if it's multiple):**
**Official homepage:** http://yckart.github.io/jquery.unevent.js/
**Wanna say something? Leave message here:**

=====================

Notes from cdnjs maintainer:
Please read the [README.md](https://github.com/cd

[2017-07-17 14:58] den1k opened #11567 "[Request] Add Botanist"
https://github.com/salsify/botanist

[2017-07-17 14:59] #11567 closed

[2017-07-17 16:48] mjflan opened #11568 "[Request] Add base32"
**Library name:** base32
**Git repository url:** https://github.com/agnoster/base32-js
**npm package name or url** (if there is one): https://www.npmjs.com/package/base32
**License (List them all if it's multiple):** MIT License
**Official homepage:** https://github.com/agnoster/base32-js
**Wanna say something? Leave message here:**

=====================

Notes from cdnjs maintainer:
Please read

[2017-07-18 10:05] PeterDaveHello commented on #11552
@sufuf3 I think we should work on the older issues first?

[2017-07-18 10:09] #11552 closed

[2017-07-18 10:10] #11476 closed

[2017-07-18 10:18] #9486 closed

[2017-07-18 10:20] sufuf3 commented on #11552
Sorry, I'll pay attention next time.

[2017-07-18 10:26] #10674 closed

[2017-07-18 12:41] dennobaby opened #11572 "[Request] Add insignia"
**Library name:** insignia
**Git repository url:** https://github.com/bevacqua/insignia
**npm package name or url** (if there is one):
**License (List them all if it's multiple):** MIT
**Official homepage:**
**Wanna say something? Leave message here:**

=====================

Notes from cdnjs maintainer:
Please read the [README.md](https://github.com/cdnjs/cdnjs#cdnjs-library-repository) and [CONT

[2017-07-18 16:00] tomhodgins opened #11574 "[Request][Author] Add reproCSS"
**Library name:** reprocss
**Git repository url:** https://github.com/tomhodgins/reprocss
**npm package name or url (if there is one):** reprocss
**License (List them all if it's multiple):** MIT
**Official homepage:** https://tomhodgins.github.io/reprocss

reproCSS is a small plugin that allows developers to extend what CSS can do by evaluating JavaScript inside your CSS styles. The plugin also c

[2017-07-18 21:39] wptd opened #11575 "[Request] Add canvg.js and rgbcolor.js from canvg"
**Library name:** rgbcolor.js
**Git repository url: https://github.com/canvg/canvg/blob/master/rgbcolor.js
**npm package name or url** (if there is one):
**License (List them all if it's multiple):**
**Official homepage:**
**Wanna say something? Leave message here:**

=====================

Notes from cdnjs maintainer:
Please read the [README.md](https://github.com/cdnjs/cdnjs#cdnjs-library-reposi

[2017-07-18 21:40] wptd opened #11576 "[Request] Add canvg.js"
**Library name:** canvg.js
**Git repository url: https://github.com/canvg/canvg/blob/master/canvg.js
**npm package name or url** (if there is one):
**License (List them all if it's multiple):**
**Official homepage:**
**Wanna say something? Leave message here:**

=====================

Notes from cdnjs maintainer:
Please read the [README.md](https://github.com/cdnjs/cdnjs#cdnjs-library-repository)

[2017-07-19 12:28] #11555 closed

[2017-07-19 12:38] #11515 closed

[2017-07-19 13:07] kumarabhishek commented on #11530
Yes. I am looking for final minified and bundled ES5 version which can be directly included via <script> tag. This is help in reducing the bundle size of webapp and increase page load performance as it will code from CDN domain.

[2017-07-19 15:04] extend1994 commented on #11359
The issue about this: https://github.com/thomaspark/bootswatch/issues/643

[2017-07-19 15:11] extend1994 commented on #11453
@Eonasdan Thank you for your request!
@PeterDaveHello Do we need to wait for the enough popularity?

[2017-07-19 20:44] bifot opened #11580 "[Request][Author] Add params-url"
**Library name:** params-url
**Git repository url:** https://github.com/bifot/params-url
**npm package name or url** (if there is one): https://www.npmjs.com/package/params-url/
**License (List them all if it's multiple):** MIT
**Official homepage:** https://github.com/bifot/params-url
**Wanna say something? Leave message here:** YO

=====================

Notes from cdnjs maintainer:
Please read

[2017-07-19 21:08] faroukcharkas opened #11581 "[Request][Author] Add SearchlightJS"
**Library name:** SearchlightJS
**Git repository url:** https://github.com/faroukcharkas/searchlightjs
**npm package name or url** (if there is one):
**License (List them all if it's multiple):** MIT
**Official homepage:** https://www.npmjs.com/package/searchlightjs?notice=8Y_2MdgGbiS4U62YLbJJOIKJLZ-u_9mVC_SQOiki
**Wanna say something? Leave message here:** Thanks in advance...

==================

[2017-07-20 05:51] sashberd opened #11582 "[Request] Add gzip-js"
**Library name:** gzip-js
**Git repository url:** https://github.com/beatgammit/gzip-js
**License (List them all if it's multiple):** MIT
**npm package name or url** (if there is one): https://www.npmjs.com/package/gzip-js

[2017-07-20 07:56] sufuf3 commented on #11560
@ex0de this library doesn't have enough popularity (like more than 100 stars on GitHub or 500 downloads per month on npm). Please take a look at our [README.md](https://github.com/cdnjs/cdnjs/blob/master/README.md). Would you mind to open an issue again when the library has more popularity? If there are no response in 7 days, I will close this issue. Thanks for your great work and contribution.

[2017-07-20 08:17] sufuf3 commented on #11575
Memo:
need to add `rgbcolor.js` `canvg.min.js` `canvg.js` from https://github.com/canvg/canvg
Origin `rgbcolor.js` source from http://www.phpied.com/rgb-color-parser-in-javascript/

[2017-07-20 08:22] sufuf3 commented on #11576
Duplicate with #11575

[2017-07-20 08:24] sufuf3 commented on #11580
Memo:
493 downloads in the last month from npm

[2017-07-20 12:45] extend1994 commented on #10285
@PeterDaveHello Should I wait for #10958 to be done? Or I can just keep doing this issue? Thank you.

[2017-07-20 15:31] extend1994 commented on #11170
Working on
 - [ ] #10707
 - [ ] #10578

[2017-07-20 20:03] phreaknation opened #11584 "[Request] Add crypt.io"
**Library name:** crypt.io
**Git repository url:** https://github.com/jas-/crypt.io
**npm package name or url** (if there is one): N/A
**License (List them all if it's multiple):** MIT
**Official homepage:** N/A
**Wanna say something? Leave message here:**

=====================

Notes from cdnjs maintainer:
Please read the [README.md](https://github.com/cdnjs/cdnjs#cdnjs-library-repository) and [

[2017-07-21 10:49] XmlmXmlmX opened #11585 "Name of foundation differs from Repo/NPM package"
When using the cdnjs api I would expect to be able to use the NPM package name or repository name. This doesn't apply to foundation, because the repo is called `foundation-sites`. The NPM package name is `foundation-sites` ([since v5.5.2 previously `zurb-foundation`](https://github.com/zurb/foundation-sites/commit/2a71b1c2f403d2cfb3a0d62168a79a5733b7a7d9)) as well.

https://api.cdnjs.com/libraries

[2017-07-21 15:08] cezarsmpio opened #11586 "[Request][Author] Add pozition.js"
**Library name:** pozition.js
**Git repository url:** https://github.com/cezarlz/pozition.js
**npm package name or url** (if there is one): pozition.js
**License (List them all if it's multiple):** MIT
**Official homepage:** https://github.com/cezarlz/pozition.js

=====================

Notes from cdnjs maintainer:
Please read the [README.md](https://github.com/cdnjs/cdnjs#cdnjs-library-repository

[2017-07-21 19:36] neurospeech opened #11589 "[Request][Author] Add web-atoms"
**Library name:** web-atoms
**Git repository url:** https://github.com/neurospeech/web-atoms.js
**npm package name or url** (if there is one):
**License (List them all if it's multiple):** MIT
**Official homepage:** http://http://web-atoms.neurospeech.com
**Wanna say something? Leave message here:**

=====================

Notes from cdnjs maintainer:
Please read the [README.md](https://github.com

[2017-07-22 00:19] mikebolt opened #11595 "[Request][author] Update the auto-update config of tween.js"
I want the latest versions of tween.js available on cdnjs. What is the process for adding a new version to cdnjs? Currently the latest version available is 16.7.1, but we now have a 16.10.0 version.

https://cdnjs.com/libraries/tween.js

[2017-07-22 03:18] sufuf3 commented on #11595
@mikebolt thank you very much.

We will update versions ASAP.

Memo: Need to change auto-update from git to npm.

[2017-07-22 03:25] sufuf3 commented on #11585
@PeterDaveHello Could you take a look about this?
I think this issue similar to #4627
But I don't know how to deal with this, thank you.

[2017-07-22 16:24] sufuf3 opened #11599 "[Request] Add wade"
**Library name:** wade
**Git repository url:** https://github.com/KingPixil/wade
**npm package name or url** (if there is one): https://www.npmjs.com/package/wade
**License (List them all if it's multiple):** MIT
**Official homepage:**

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/47523851-request-add-wade?utm_campaign=plugin&utm_

[2017-07-22 19:02] SylwesterZarebski commented on #8199
Is there any progress lately?

[2017-07-23 01:18] sufuf3 commented on #8199
5,256 downloads in the last month from npm (over 5000+)

[2017-07-23 02:02] extend1994 commented on #11128
Close the issue because the main maintainer said

Ref: https://github.com/facebook/react-vr/issues/286#issuecomment-317197835

[2017-07-23 02:02] #11128 closed

[2017-07-23 03:44] mc706 opened #11600 "[Request] Add clarity"
**Library name:** clarity
**Git repository url**: https://github.com/vmware/clarity
**npm package name or url** (if there is one): https://www.npmjs.com/package/clarity-icons
**License (List them all if it's multiple):** MIT
**Official homepage:** http://clarity.design/
**Wanna say something? Leave message here:**
Would love to have the clarity-ui css framework available on cdnjs

================

[2017-07-23 15:48] #10131 closed

[2017-07-23 17:10] #11557 closed

[2017-07-23 17:12] #8337 closed

[2017-07-23 20:53] #11560 closed

[2017-07-24 08:18] fproperzi opened #11602 "[Request] Add jquery-ui-1.11.icon-font.css"
**Library name:** jquery-ui-1.11.icon-font.css
**Git repository url:** https://github.com/mkkeck/jquery-ui-iconfont
**npm package name or url** (if there is one):  https://github.com/mkkeck/jquery-ui-iconfont
**License (List them all if it's multiple):**
**Official homepage:**  https://github.com/mkkeck/jquery-ui-iconfont
**Wanna say something? Leave message here:**

=====================

Notes f

[2017-07-24 10:31] thuanitdn opened #11603 "[Request][Author] Add w2b.js"
Library name: w2b.js
Git repository url: https://github.com/thuanitdn/w2b.js
npm package name or url (if there is one): none
License (List them all if it's multiple):
Official homepage: https://thuanitdn.github.io/w2b.js
Wanna say something? Leave message here:

=====================

Notes from cdnjs maintainer:
Please read the README.md and CONTRIBUTING.md document first.

We encourage you to ad

[2017-07-24 11:08] maruilian11 commented on #8531
Hi @Qix-, Could we turn to this conversation to continue the discussion?
https://github.com/cdnjs/cdnjs/pull/8873#r77371749

[2017-07-25 05:45] imnofox opened #11607 "[Request] Add tlite"
**Library name:** tlite
**Git repository url:** https://github.com/chrisdavies/tlite
**npm package name or url** (if there is one): [tlite](https://www.npmjs.com/package/tlite)
**License (List them all if it's multiple):** MIT
**Official homepage:** https://chrisdavies.github.io/tlite/
**Wanna say something? Leave message here:**

=====================

Notes from cdnjs maintainer:
Please read the

[2017-07-25 10:42] sashberd commented on #10989
@PeterDaveHello
You wrote me that I can pick the issues and self-assign them
I do not have such option
Could you check if this is a problem or I am making something wrong

[2017-07-25 10:43] PeterDaveHello commented on #10989
@sashberd Not a problem at all, just leave a message/comment at the isssue, and send your pull request :)

[2017-07-25 12:04] saviour123 opened #11611 "[Request] Add leaflet-search"
**Library name:** leaflet-search
**Git repository url:**
**npm package name or url** (if there is one):
**License (List them all if it's multiple):**
**Official homepage:**
**Wanna say something? Leave message here:**

=====================

Notes from cdnjs maintainer:
Please read the [README.md](https://github.com/cdnjs/cdnjs#cdnjs-library-repository) and [CONTRIBUTING.md](https://github.com/cdn

[2017-07-25 12:05] PeterDaveHello commented on #11611
@saviour123 any details please?

[2017-07-25 16:20] priidikvaikla opened #11612 "[Request] Add auto-update config for sinon.js"
Currently, there are outdated versions of sinon.js in the CDN. Add auto-update config to get new versions.

[2017-07-25 22:36] larodiel opened #11614 "[Request] Add sharrre"
**Library name:** sharrre
**Git repository url:** https://github.com/Julienh/Sharrre
**npm package name or url** (if there is one):
**License (List them all if it's multiple):**
**Official homepage:** http://sharrre.com/
**Wanna say something? Leave message here:**

=====================

Notes from cdnjs maintainer:
Please read the [README.md](https://github.com/cdnjs/cdnjs#cdnjs-library-reposito

[2017-07-26 03:12] extend1994 commented on #11607
Hi @imnofox
The library doesn't have enough popularity(100 stars/watchers on GitHub and 500 downloads/month on npm registry are good examples). You can take a look on our [issue rule](https://github.com/cdnjs/cdnjs/blob/master/CONTRIBUTING.md#b-request-a-new-library) for more details :)
We suggest you to open the issue again when the repo has notable popularity.

This issue will be closed if there

[2017-07-26 03:15] extend1994 commented on #11603
Hi @thuanitdn
The library doesn't have enough popularity(100 stars/watchers on GitHub and 500 downloads/month on npm registry are good examples). You can take a look on our [issue rule](https://github.com/cdnjs/cdnjs/blob/master/CONTRIBUTING.md#b-request-a-new-library) for more details :)
We suggest you to open the issue again when the repo has notable popularity.

This issue will be closed if the

[2017-07-26 07:41] PeterBot opened #11615 "[Build failed] Got error while building meta data/artifact"
Dear all,

Our build process just got an error while building the meta data/artifact of cdnjs project, our [website and api](https://github.com/cdnjs/new-website) may not be as new as our repository, however, the cdn service will not been affected, you can still use it, and modify the library name, version number and filename in the url can help you access all the content on cdnjs, we will fix the

[2017-07-26 08:01] PeterBot opened #11616 "[Build failed] Got error while building meta data/artifact"
Dear all,

Our build process just got an error while building the meta data/artifact of cdnjs project, our [website and api](https://github.com/cdnjs/new-website) may not be as new as our repository, however, the cdn service will not been affected, you can still use it, and modify the library name, version number and filename in the url can help you access all the content on cdnjs, we will fix the

[2017-07-26 08:18] PeterDaveHello commented on #11616
@PeterBot I'm working on it.

[2017-07-26 10:24] PeterBot opened #11618 "[Build failed] Got error while building meta data/artifact"
Dear all,

Our build process just got an error while building the meta data/artifact of cdnjs project, our [website and api](https://github.com/cdnjs/new-website) may not be as new as our repository, however, the cdn service will not been affected, you can still use it, and modify the library name, version number and filename in the url can help you access all the content on cdnjs, we will fix the

[2017-07-26 10:59] PeterBot opened #11620 "[Build failed] Got error while building meta data/artifact"
Dear all,

Our build process just got an error while building the meta data/artifact of cdnjs project, our [website and api](https://github.com/cdnjs/new-website) may not be as new as our repository, however, the cdn service will not been affected, you can still use it, and modify the library name, version number and filename in the url can help you access all the content on cdnjs, we will fix the

[2017-07-26 11:06] saviour123 commented on #11611
https://github.com/stefanocudini/leaflet-search
Its a leaflet extension to handle search.

[2017-07-26 11:08] PeterDaveHello commented on #11611
@saviour123 thanks, we'll take a look.

[2017-07-26 11:29] PeterBot opened #11622 "[Build failed] Got error while building meta data/artifact"
Dear all,

Our build process just got an error while building the meta data/artifact of cdnjs project, our [website and api](https://github.com/cdnjs/new-website) may not be as new as our repository, however, the cdn service will not been affected, you can still use it, and modify the library name, version number and filename in the url can help you access all the content on cdnjs, we will fix the

[2017-07-26 12:25] #11615 closed

[2017-07-26 12:25] #11616 closed

[2017-07-26 12:26] #11618 closed

[2017-07-26 12:26] #11620 closed

[2017-07-26 12:26] #11622 closed

[2017-07-26 12:43] PeterDaveHello commented on #10502
@dakshshah96 we promote potential libraries :)

[2017-07-26 12:44] Akshitaag commented on #11473
Hello
Can i work on this issue.?I am a beginner

[2017-07-26 12:45] #10502 closed

[2017-07-26 12:48] PeterDaveHello commented on #11473
@Akshitaag sure thing!

[2017-07-26 12:52] PeterDaveHello commented on #10165
@sufuf3 please help check the checkbox if the lib was added already.

[2017-07-26 12:56] PeterDaveHello commented on #11148
Close due to no response.

[2017-07-26 12:56] #11148 closed

[2017-07-26 12:57] PeterDaveHello commented on #11474
@sauloaguiar sorry for the late reply, just reviewed your PR request, hope we can merge it soon :)

[2017-07-26 12:58] PeterDaveHello commented on #11513
@bethyd welcome to join 😄

[2017-07-26 12:59] PeterDaveHello commented on #11453
Yeah the popularity seem to fail the requirement, but if @Eonasdan would like to send us a pull request, I'll like to review and merge it :)

[2017-07-26 13:00] PeterDaveHello commented on #10285
hmmmm, I need more time to work on it, if there is no dependency or conflict, you can get started first.

[2017-07-26 13:00] #10599 closed

[2017-07-26 13:11] PeterDaveHello commented on #9244
I replied there.

[2017-07-26 13:18] PeterDaveHello commented on #11585
@XmlmXmlmX yes that's what we should work on, your pull requests would be very welcome 😄
Let's move the discussion here: #8904 , thanks.

[2017-07-26 13:18] #11585 closed

[2017-07-26 13:29] Akshitaag commented on #11473
@PeterDaveHello i have made a pull request..i might have committed errors being a first timer.
Please review.
Thanks

[2017-07-26 13:34] PeterDaveHello commented on #11473
@Akshitaag no worries

[2017-07-26 13:53] Akshitaag commented on #11473
@PeterDaveHello would you mind helping me with errors?
https://ci.cdnjs.com/cdnjs/cdnjs/10723
How can i resolve this error?
huntjs is not a valid cdnjs package.json

[2017-07-26 17:10] PeterBot opened #11625 "[Build failed] Got error while building meta data/artifact"
Dear all,

Our build process just got an error while building the meta data/artifact of cdnjs project, our [website and api](https://github.com/cdnjs/new-website) may not be as new as our repository, however, the cdn service will not been affected, you can still use it, and modify the library name, version number and filename in the url can help you access all the content on cdnjs, we will fix the

[2017-07-26 17:15] PeterBot opened #11626 "[Build failed] Got error while building meta data/artifact"
Dear all,

Our build process just got an error while building the meta data/artifact of cdnjs project, our [website and api](https://github.com/cdnjs/new-website) may not be as new as our repository, however, the cdn service will not been affected, you can still use it, and modify the library name, version number and filename in the url can help you access all the content on cdnjs, we will fix the

[2017-07-26 17:50] aigarspl opened #11627 "[Request] Add videojs-contrib-quality-levels"
**Library name:** videojs-contrib-quality-levels
**Git repository url:** [https://github.com/videojs/videojs-contrib-quality-levels](https://github.com/videojs/videojs-contrib-quality-levels)
**npm package name or url** (if there is one): [videojs-contrib-quality-levels](https://www.npmjs.com/package/videojs-contrib-quality-levels)
**License (List them all if it's multiple):** Apache-2.0. Copyrigh

[2017-07-26 17:50] PeterDaveHello commented on #11625
rebooting

[2017-07-26 17:50] #11625 closed

[2017-07-26 17:50] PeterDaveHello commented on #11626
rebooting

[2017-07-26 17:50] #11626 closed

[2017-07-26 17:53] PeterDaveHello commented on #11473
@Akshitaag see the PR page, please should fill the form for the information :)

[2017-07-27 01:07] sufuf3 commented on #10165
Done

[2017-07-27 02:37] extend1994 commented on #10285
Okay, thanks again!

[2017-07-27 07:59] warlock opened #11629 "[Request][Author] Add nexo.js"
Library name: nexo
Git repository url: https://github.com/warlock/nexo
npm package name or url (if there is one): https://www.npmjs.com/package/nexo
License (List them all if it's multiple): MIT
Official homepage: https://nexo.js.gl
Wanna say something? Thank you :smiley:

=================================

Lightweight Javascript Web Components for Frontend

* Render javascript web components with

[2017-07-27 11:07] khursani8 commented on #11514
Hi @PeterDaveHello  I would like to help adding this library but I got some problem.
After sparseCheckout I don't know what to do next.
Can you guide me one this?

[2017-07-27 19:53] mikebolt commented on #11595
In the meantime can I update cdnjs by making a GitHub release?

[2017-07-28 01:45] sufuf3 commented on #11595
Yes, you can. Just add a git tag.
If it does not bother you, could you also make an npm release?
This can let the newest version of your GitHub repo synchronize with npm and CDNJS.

Thank you.

[2017-07-28 03:22] poldiwa commented on #11507
@PeterDaveHello hello it's going to be my first attempt to contribute on open source, is there anything else I need to do, before I start diving in?

[2017-07-28 04:43] zhiyingzzhou opened #11631 "[Request] Add Mock"
Library name: Mock
Git repository url: https://github.com/nuysoft/Mock
npm package name or url (if there is one): https://www.npmjs.com/package/mockjs
License (List them all if it's multiple): MIT
Official homepage: http://mockjs.com/
Wanna say something? Leave message here:
thank you!

=====================

Notes from cdnjs maintainer:
Please read the README.md and CONTRIBUTING.md document first

[2017-07-28 12:27] arguiot opened #11633 "DisplayJS with npm autoupdate has not been updated"
It's been around 26 hours since I updated DisplayJS on npm (on npm it's `display.js`) and it's still not on the CDNJS repo/servers. Here is the CDNJS page of the package 📦 :

https://cdnjs.com/libraries/DisplayJS/

I hope 🤞 it will be fixed 🛠 soon.

[2017-07-28 12:46] PeterDaveHello commented on #11633
@arguiot thanks for reporting!

[2017-07-28 12:47] PeterDaveHello commented on #11633
@arguiot I'll manually add the latest version first and see what the problem is.

[2017-07-28 12:48] #11633 closed

[2017-07-29 12:34] camel2243 opened #11634 "[Request][Author] Add nanocookie"
**Library name:** nanocookie
**Git repository url:** https://github.com/camel2243/nanocookie
**npm package name or url** (if there is one): https://www.npmjs.com/package/nanocookie
**License (List them all if it's multiple):** ISC
**Official homepage:** https://github.com/camel2243/nanocookie
**Wanna say something? Leave message here:**

=====================

Notes from cdnjs maintainer:
Please r

[2017-07-29 18:02] #11474 closed

[2017-07-29 19:57] arguiot opened #11635 "NPM autoupdate doesn't work properly"
Hello, 2 days ago, I published a release of [DisplayJS](https://github.com/arguiot/DisplayJS/), and I also released on [NPM](https://npmjs.com/package/display.js). This time, NPM autoupdate didn't work and I had to submit an issue like this, and @PeterDaveHello fixed the problem.

Now, (I mean 7hours ago from the time I post this issue), I published another release (both on Github and npm). And CD

[2017-07-29 19:58] PeterDaveHello commented on #11635
@arguiot The problem is located somewhere else, not the version you named it, I just don't have enough time to dig it out yet, I'll make sure the new version added first, about the version naming, with or without the v prefix are both fine, thanks for reporting again!

[2017-07-29 20:00] arguiot commented on #11635
Thank you 😊. I hope next time the problem will be fixed.

[2017-07-29 20:07] PeterDaveHello commented on #11635
@arguiot yeah I hope so, we currently have only one developer here - me ... too many things need to be done.

[2017-07-29 20:34] PeterDaveHello commented on #11635
The npm auto-update was semi-broken because of some out-side reasons, can't be fully fixed unless we rewrite / replace `tarball-extract` dependency in it, and there may be some other trigger that triggered it, anyway, I did some workaround job first, updates coming now.

[2017-07-29 20:34] #11635 closed

[2017-07-29 20:44] arguiot commented on #11635
Ok, so now, DisplayJS `v1.0.1` should be soon on CDNJS?

[2017-07-29 20:47] PeterDaveHello commented on #11635
@arguiot yes, as this problem also affected the other libraries, after the workaround fixing, there are about 30 versions need to be added, it'll be done in few mins.

[2017-07-29 20:49] arguiot commented on #11635
@PeterDaveHello Ok 👌. I'm happy to report a problem that will fix 30 libraries

[2017-07-29 20:50] PeterDaveHello commented on #11635
@arguiot actually I noticed it, just too busy to fix it immediately :)

[2017-07-29 20:51] arguiot commented on #11635
@PeterDaveHello Cool 😎, but the important thing is that you're fixing it right now isn't it 😂?

[2017-07-29 20:52] PeterDaveHello commented on #11635
@arguiot yeah I'm fixing it, but I need to move out many other things 😭

[2017-07-29 20:53] arguiot commented on #11635
@PeterDaveHello Yeah, I understand 😊. I really hope that more developpers will be added as maintainer to CDNJS.

[2017-07-29 21:00] PeterDaveHello commented on #11452
Hi @ricardopolo, thanks for the suggestion, I know that it looks great, but not sure if you noticed it also generate additional costs, please give us more time to make the decision, thanks!

[2017-07-30 00:05] ryankirkman commented on #11452
Hi everyone, Argo costs additional money on top of the sponsorship we currently receive from Cloudflare: https://support.cloudflare.com/hc/en-us/articles/115000224192

I'll ask Cloudflare if they are willing to provide sponsorship for this feature.

[2017-07-30 04:48] sufuf3 commented on #11634
@camel2243
Thanks for the suggestion, however, this library doesn't have enough notable popularity(like more than 100 stars on GitHub or 500 downloads per month on npm). please take a look on our [README.md](https://github.com/cdnjs/cdnjs/blob/master/README.md) for detail, it's always good to read the document before open an issue, I'll respectfully suggest you open a new issue again when the libr

[2017-07-30 04:51] sufuf3 commented on #11629
Memo:
986 downloads in the last month from npm

[2017-07-30 06:43] sufuf3 opened #11636 "[Request] Add fitty"
**Library name:** fitty
**Git repository url:** https://github.com/rikschennink/fitty
**npm package name or url** (if there is one): https://www.npmjs.com/package/fitty
**License (List them all if it's multiple):** MIT
**Official homepage:** https://rikschennink.github.io/fitty/

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/477445

[2017-07-30 08:53] slashsbin opened #11638 "[Request] Add laravel-echo"
**Library name:** laravel-echo
**Git repository url:** https://github.com/laravel/echo
**npm package name or url** (if there is one): laravel-echo
**License (List them all if it's multiple):** MIT
**Official homepage:** https://laravel.com/docs/master/broadcasting#installing-laravel-echo
**Wanna say something? Leave message here:** for laravel fans <3

=====================

Notes from cdnjs maint

[2017-07-30 12:08] camel2243 commented on #11634
@sufuf3 Sorry, my fault.

I read [README.md](https://github.com/cdnjs/cdnjs/blob/master/CONTRIBUTING.md#b-request-a-new-library) for request new library rule.

You can close the issue now.
I will read rule for issue next time, thanks.

[2017-07-30 12:27] sufuf3 commented on #11634
It's OK, thank you for your contribution.
close because the library doesn't have enough notable popularity.
cc @PeterDaveHello

[2017-07-30 12:27] #11634 closed

[2017-07-30 20:44] virgofx opened #11640 "[Question] React 16 Alphas/Betas Not Available?"
They've been published in NPM / unpkg and previous alphas are available; however, version 16 alphas do not show up in CDNJS.

Is something not working?

Reference: https://cdnjs.com/libraries/react

[2017-07-30 22:11] Nandni1 opened #11643 "popups .css"
**Library name:** .css
**Git repository url:**
**npm package name or url** (if there is one):
**License (List them all if it's multiple):**
**Official homepage:**
**Wanna say something? Leave message here:**

=====================

Notes from cdnjs maintainer:
Please read the [README.md](https://github.com/cdnjs/cdnjs#cdnjs-library-repository) and [CONTRIBUTING.md](https://github.com/cdnjs/cdnjs/b

[2017-07-31 04:03] extend1994 commented on #11643
@Nandni1 Could you please provide further information? Thanks.

[2017-07-31 16:00] ricardopolo commented on #11452
Yes it costs per GB.
I hope CloudFlare approves its use and conver the cost. It really improves the speed of the CDN. 😄

[2017-07-31 18:25] francorrea18 opened #11645 "[Request] Add jquery.tabletojson.js"
**Library name:**  jquery.tabletojson.js
**Git repository url:** https://github.com/lightswitch05/table-to-json
**npm package name or url** (if there is one):
**License (List them all if it's multiple):**
**Official homepage:** http://www.developerdan.com/table-to-json/
**Wanna say something? Leave message here:**
http://www.developerdan.com/table-to-json/javascripts/jquery.tabletojson.min.js

===

[2017-08-01 05:41] ryankirkman commented on #11452
To clarify, we can enable Argo for cdnjs.com.

It would be a separate configuration on Cloudflare's end to enable Argo for the cdnjs.cloudlfare.com domain.

[2017-08-01 06:22] #9166 closed

[2017-08-01 06:30] PeterDaveHello commented on #11514
Hi @khursani8, it's good to see you finished the sparseCheckout process, the brief step is to create a branch and the directory structure for the library, here, for example, the directory should be `ajax/libs/fontIconPicker`, and then you can start to add its `package.json` and the files of the latest version, make commit, and push the branch, create a pull request! Would this help you or you'd li

[2017-08-01 16:29] jasonbarry commented on #10654
Fixed with #10801.

[2017-08-01 16:29] #10654 closed

[2017-08-01 17:34] Snow312 opened #11648 "[Request] Add react-grid-layout"
**Library name:** react-grid-layout
**Git repository url:** https://github.com/STRML/react-grid-layout
**npm package name or url** (if there is one): react-grid-layout
**License (List them all if it's multiple):** MIT
**Official homepage:** https://github.com/STRML/react-grid-layout
**Wanna say something? Leave message here:**

**Add this file:** https://github.com/STRML/react-grid-layout/blob/247

[2017-08-02 01:54] MiaranaDIY opened #11649 "[Request] Add react-timeago"
**Library name:** react-timeago
**Git repository url:** https://github.com/nmn/react-timeago
**npm package name or url** (if there is one):
**License (List them all if it's multiple):**
**Official homepage:** https://www.npmjs.com/package/react-timeago
**Wanna say something? Leave message here:**

=====================

Notes from cdnjs maintainer:
Please read the [README.md](https://github.com/cd

[2017-08-02 03:36] Veereshkumar4 opened #11650 "[Request] Add Chart.PieceLabel.min.js"
**Library name:** Chart.PieceLabel.min.js
**Git repository url:https://github.com/emn178/Chart.PieceLabel.js**
**npm package name or url** (if there is one): https://www.npmjs.com/package/chart.piecelabel.js
**License (List them all if it's multiple):MIT license**
**Official homepage:https://github.com/emn178/Chart.PieceLabel.js**
**Wanna say something? Leave message here:**

=====================

[2017-08-02 05:52] #10514 closed

[2017-08-02 07:04] #11595 closed

[2017-08-02 10:03] tlycken opened #11651 "[Request] Add path-to-regexp"
**Library name:** path-to-regexp
**Git repository:** https://github.com/pillarjs/path-to-regexp (1500+ ⭐️)
**npm package:** https://www.npmjs.com/package/path-to-regexp (13 million ⬇️ in last month)
**License:** MIT

[2017-08-02 10:43] warlock opened #11652 "[Request][Author] Add snc"
Library name: snc
Git repository url: https://github.com/warlock/snc
npm package name or url (if there is one): https://www.npmjs.com/package/snc
License (List them all if it's multiple): MIT
Official homepage: https://snc.js.gl
Wanna say something? Thank you :smiley:

=================================

Javascript Asyncronous Iterators Collection

[2017-08-02 10:55] PeterDaveHello commented on #11652
@warlock would you like to send us the pull request to add it?

[2017-08-02 10:59] warlock commented on #11652
I'm going to see the procedure. I did not know he was now on the pull. Thanks Peter Dave.

[2017-08-02 16:54] sashberd opened #11656 "jquery.hoverIntent.js is not updated"
I just worked with this library and I think that the file in cdnjs is not latest or updated, nevertheless the versions in the files are the same
You can compare this [file](https://github.com/briancherne/jquery-hoverIntent/blob/master/jquery.hoverIntent.js) with one stored at cdnjs

FYR

[2017-08-02 17:00] PeterBot opened #11657 "[Build failed] Got error while building meta data/artifact"
Dear all,

Our build process just got an error while building the meta data/artifact of cdnjs project, our [website and api](https://github.com/cdnjs/new-website) may not be as new as our repository, however, the cdn service will not been affected, you can still use it, and modify the library name, version number and filename in the url can help you access all the content on cdnjs, we will fix the

[2017-08-02 17:01] #11657 closed

[2017-08-02 17:04] #9357 closed

[2017-08-02 17:17] PeterDaveHello commented on #11656
Master branch will of course be different with the others, if there is any version update, then we should update it.

[2017-08-02 17:31] sashberd commented on #11656
@PeterDaveHello So what usually we should do at such problem. Should I ask author to upgrade plugin?

[2017-08-02 17:32] PeterDaveHello commented on #11656
@sashberd I haven't diggit yet, you can see if it's auto-update enabled on its page on CDNJS first.

[2017-08-02 17:41] sashberd commented on #11656
@PeterDaveHello I think no, there is no auto-update
![image](https://user-images.githubusercontent.com/11975561/28886626-da06b762-77c2-11e7-9f7b-69f03b0052fd.png)

[2017-08-02 17:41] PeterDaveHello commented on #11656
@sashberd so, of course, it needs manual updates.

[2017-08-02 17:43] sashberd commented on #11656
@PeterDaveHello Would you like I will update package js to auto update?

[2017-08-02 17:43] PeterDaveHello commented on #11656
@sashberd oops, I think are looking at a wrong page, that's not the page I mentioned. Looks like it has auto-update config.

[2017-08-02 17:52] sashberd commented on #11656
@PeterDaveHello I am new here. I think you are talking about old process of auto update, are you? Where I should check it?

[2017-08-02 17:57] PeterDaveHello commented on #11656
@sashberd I mean its page on cdnjs.com, where you find the library.

[2017-08-02 18:30] PeterDaveHello commented on #11656
@sashberd As you can see here https://cdnjs.com/libraries/jquery.hoverintent, the lable shows "git autoupdate enabled", so the reason maybe 1) the author released a new version but forgot to add a git tag for its version, 2) the auto-update config is dated

[2017-08-03 01:58] italomaia opened #11661 "[Request] Add jquery-deparam"
**Library name:** jquery-deparam
**Git repository url:** https://github.com/AceMetrix/jquery-deparam
**npm package name or url** (if there is one): https://www.npmjs.com/package/jquery-deparam
**License (List them all if it's multiple):** MIT License
**Official homepage:** https://github.com/AceMetrix/jquery-deparam
**Wanna say something? Leave message here:**

<bountysource-plugin>

---
Want to b

[2017-08-03 10:27] PeterBot opened #11663 "[Build failed] Got error while building meta data/artifact"
Dear all,

Our build process just got an error while building the meta data/artifact of cdnjs project, our [website and api](https://github.com/cdnjs/new-website) may not be as new as our repository, however, the cdn service will not been affected, you can still use it, and modify the library name, version number and filename in the url can help you access all the content on cdnjs, we will fix the

[2017-08-03 12:39] usmonster commented on #11656
Hello! This is because we indeed haven't tagged the version that's currently on master. You can see on [the project's Milestones page](https://github.com/briancherne/jquery-hoverIntent/milestone/1) that there are still a couple of small issues to close before we officially release version v1.9.0. This should be done within the next day or so—thanks for the poke!

In the meantime, feel free to clos

[2017-08-03 12:42] sashberd commented on #11656
@PeterDaveHello FYI

[2017-08-03 21:18] TheSharpieOne opened #11665 "[Request][Author] Add react-block-ui"
**Library name:** react-block-ui
**Git repository url:** https://github.com/Availity/react-block-ui.git
**npm package name or url:** [react-block-ui](https://www.npmjs.com/package/react-block-ui)
**License:** MIT
**Official homepage:** https://availity.github.io/react-block-ui/
**Wanna say something? Leave message here:**

=====================

Notes from cdnjs maintainer:
Please read the [README

[2017-08-04 00:31] calpa opened #11668 "[Request] Add gitalk"
**Library name:** Gitalk
**Git repository url:** https://github.com/gitalk/gitalk
**npm package name or url** (if there is one): https://www.npmjs.com/package/gitalk
**License (List them all if it's multiple):** MIT
**Official homepage:** https://gitalk.github.io/
**Wanna say something? Leave message here:**
Useful for blogs, such as mine: https://calpa.me

[2017-08-04 07:42] ulisesbocchio opened #11669 "[Request][Author] Add react-redux-boilerout"
**Library name:** react-redux-boilerout
**Git repository url: ** https://github.com/ulisesbocchio/react-redux-boilerout
**npm package name or url** (if there is one): https://www.npmjs.com/package/react-redux-boilerout
**License (List them all if it's multiple):** MIT
**Official homepage:** https://github.com/ulisesbocchio/react-redux-boilerout
**Wanna say something? Leave message here:**

=======

[2017-08-04 10:04] thuanitdn commented on #11603
@extend1994 I see, thank you for response.

[2017-08-04 11:57] #11663 closed

[2017-08-04 12:39] #11640 closed

[2017-08-04 12:48] PeterDaveHello commented on #11652
@warlock let me know if you need help :)

[2017-08-04 12:50] PeterDaveHello commented on #10285
Or maybe you can try to do it directly :)

[2017-08-04 17:37] sshelzi opened #11673 "[Request] Add ET-Line Icons"
**Library name:** ET-Line Icons
**Git repository url:**
- https://github.com/Reklino/elegant-theme-icons/tree/master/fonts
- https://github.com/jeffstahlin/unyson-framework-et-line-icon-font

**npm package name or url** (if there is one): https://www.npmjs.com/package/et-line (below is the same, just on Github)
**bower package name or url:** https://github.com/pprince/etlinefont-bower
**dribble:**

[2017-08-05 11:04] laike9m commented on #3317
I also have a need to serve HTML. For anyone who has tried to do this, does cdn.js refuse to accept PR that contains HTML, or it fails to serve them?

[2017-08-05 11:04] PeterDaveHello commented on #3317
@laike9m It is not possible to do that, use Cloudflare directly please.

[2017-08-05 11:08] laike9m commented on #3317
Thanks Peter, could you help clarify "do not serve"?

[2017-08-05 11:17] PeterDaveHello commented on #3317
@laike9m Sorry that I respond to a wrong issue, will fix it soon.

[2017-08-05 12:36] extend1994 commented on #10285
@PeterDaveHello Do you mean the minified job?

[2017-08-05 13:15] PeterDaveHello commented on #10285
@extend1994 Yeah I think so.

[2017-08-05 19:08] alexanderdean commented on #2488
Hey! I'm from Snowplow. We are thinking of contributing all Snowplow versions (both going forwards and our historical releases) to cdnjs - shall we just review the contributors guide and get started?

[2017-08-05 22:50] PeterDaveHello commented on #2488
@alexanderdean Sure thing, and please feel free to let us know if you nees any help, thanks.

[2017-08-05 23:15] PeterDaveHello commented on #3317
@laike9m we don't accept that right now, and, it'll fail to serve that, thanks for asking.

[2017-08-06 07:21] vishankt42 opened #11675 "[Request] Add light-bootstrap-dashboard.css"
**Library name:** light-bootstrap-dashboard.css
**Git repository url:**
**npm package name or url** (if there is one):
**License (List them all if it's multiple):**
**Official homepage:**
**Wanna say something? Leave message here:**

=====================

Notes from cdnjs maintainer:
Please read the [README.md](https://github.com/cdnjs/cdnjs#cdnjs-library-repository) and [CONTRIBUTING.md](https:/

[2017-08-06 13:19] sufuf3 commented on #11651
@tlycken Thank you for your suggestion.
May I ask that can this library use in front-end?
Like `<script src="path-to-regexp.js"></script>`.

Thank you.

[2017-08-06 13:36] tlycken commented on #11651
Hum. Maybe I was too fast here; it seems it needs to be transpiled first, which I guess makes it a poor candidate for cdnjs. Sorry about the noise!

[2017-08-06 13:36] #11651 closed

[2017-08-06 13:42] sufuf3 commented on #11668
@calpa Thanks for the suggestion, however, this library doesn't have enough notable popularity(like more than 200 stars on GitHub or 800 downloads per month on npm). please take a look on our [README.md](https://github.com/cdnjs/cdnjs/blob/master/README.md) for detail, it's always good to read the document before open an issue, I'll respectfully suggest you open a new issue again when the library

[2017-08-06 13:44] sufuf3 commented on #11669
Hi, @ulisesbocchio Thank you for a suggestion.
This library doesn't have enough popularity (like more than 200 stars on GitHub or 800 downloads per month on npm). Please take a look at our [README.md](https://github.com/cdnjs/cdnjs/blob/master/README.md). Would you mind to open an issue again when the library has more popularity? If there are no response in 7 days, I will close this issue. Thanks

[2017-08-06 13:45] sufuf3 commented on #11673
@sshelzi Thanks for the suggestion, however, this library doesn't have enough notable popularity(like more than 200 stars on GitHub or 800 downloads per month on npm). please take a look on our [README.md](https://github.com/cdnjs/cdnjs/blob/master/README.md) for detail, it's always good to read the document before open an issue, I'll respectfully suggest you open a new issue again when the librar

[2017-08-06 13:48] sufuf3 commented on #11675
@vishankt42  Could you please provide further information? Thanks.

[2017-08-06 13:52] sufuf3 commented on #11651
@tlycken It's OK.
Thank you. 😃

[2017-08-06 13:57] #11548 closed

[2017-08-06 17:05] Skyost opened #11677 "[Request] Add jquery.localize.js"
**Library name:** jquery.localize.js
**Git repository url:** https://github.com/coderifous/jquery-localize
**npm package name or url (if there is one):**
**License (List them all if it's multiple):**
* GPL (http://dev.jquery.com/browser/trunk/jquery/GPL-LICENSE.txt)
* MIT (http://dev.jquery.com/browser/trunk/jquery/MIT-LICENSE.txt)

**Official homepage:** https://github.com/coderifous/jquery-local

[2017-08-06 17:52] alexanderdean commented on #2488
Great, will do!

[2017-08-07 22:30] pepone opened #11681 "[author] Missing ZeroC ice es5 libraries"
With [Ice](https://github.com/cdnjs/cdnjs/tree/master/ajax/libs/ice) version 3.7.0 we have update default libraries in lib/*.js to require ES6 and have added ES5 babel compiled versions to lib/es5/*.js

But due to ice/package.json npmFileMap only lib/*.js were included

[2017-08-08 01:42] extend1994 commented on #11677
Hi @Skyost this issue is duplicated with #9563, I will close this issue and move this to #9563. It seems that we still need to confirm the license info. It will be great if you can help us with this! Thank you for the issue 😄

[2017-08-08 01:42] #11677 closed

[2017-08-08 06:18] hejianxian opened #11683 "[Request][Author] Add vddl"
**Library name:** vddl
**Git repository url:**  https://github.com/hejianxian/vddl
**npm package name or url** (if there is one): vddl
**License (List them all if it's multiple):**  MIT
**Official homepage:** http://hejx.space/vddl
**Wanna say something? Leave message here:**  Vue components for modifying lists with the HTML5 drag & drop API.

=====================

Notes from cdnjs maintainer:
Pl

[2017-08-08 09:29] LukeXF commented on #9555
Any progress?

[2017-08-08 17:33] Mark-Heydari opened #11686 "[Request] Add jquery.carouFredSel-5.1.0.js"
**Library name:** jquery.carouFredSel-5.1.0.js
**Git repository url:**
**npm package name or url** (if there is one):
**License (List them all if it's multiple):**
**Official homepage:**
**Wanna say something? Leave message here:**

=====================

Notes from cdnjs maintainer:
Please read the [README.md](https://github.com/cdnjs/cdnjs#cdnjs-library-repository) and [CONTRIBUTING.md](https://

[2017-08-09 03:34] thomasvaeth commented on #11190
Submitted PR #11687. I just noticed the contributing guidelines got bumped from 100 to 200 stars. Is that going to apply for this library since I took so long to submit the PR?

[2017-08-09 04:50] sufuf3 commented on #11190
I think it's fine.
Because the https://github.com/cdnjs/cdnjs/commit/c484b8b1bdfaaf32e742a1687e927afe2de710c0 commit message said it's for the new issues, use the new standard. :)
I'll help you review the PR, later. 😃
Thank you.

[2017-08-09 10:03] #11612 closed

[2017-08-09 10:06] #10929 closed

[2017-08-09 11:22] MichalPaszkiewicz opened #11688 "[Request] Add react-dom"
**Library name:** react-dom
**Git repository url:**
**npm package name or url** (if there is one):
**License (List them all if it's multiple):**
**Official homepage:**
**Wanna say something? Leave message here:**

=====================

Notes from cdnjs maintainer:
Please read the [README.md](https://github.com/cdnjs/cdnjs#cdnjs-library-repository) and [CONTRIBUTING.md](https://github.com/cdnjs/cd

[2017-08-09 11:33] sufuf3 commented on #11688
Duplicate with #10828, work on #11647

[2017-08-09 11:35] sufuf3 commented on #11683
@hejianxian Thanks for the suggestion, however, this library doesn't have enough notable popularity(like more than 200 stars on GitHub or 800 downloads per month on npm). please take a look on our [README.md](https://github.com/cdnjs/cdnjs/blob/master/README.md) for detail, it's always good to read the document before open an issue, I'll respectfully suggest you open a new issue again when the lib

[2017-08-09 11:59] sufuf3 commented on #11686
@Mark-Heydari Thank you for your suggestion.
Would you give more info about jquery.carouFredSel-5.1.0.js?
CDNJS host https://cdnjs.com/libraries/jquery.caroufredsel I don't know is it fine to you.
I try to search, although there are many sources, I'd like to use v5.1.0 from the official provider.

Thank you.

[2017-08-09 12:09] calpa commented on #11668
@sufuf3 For now, gitalk has more than 200 stars.

I am not the owner, but @booxood built it.

[2017-08-09 12:12] sufuf3 commented on #11668
@calpa OK
Thank you for your suggestion. 😃

[2017-08-09 13:19] #11688 closed

[2017-08-09 16:37] sammorrow commented on #11511
Hello! I submitted a pull request for this. Unfortunately I did not reference this issue properly... so [here](https://github.com/cdnjs/cdnjs/pull/11690 ) it is

[2017-08-09 16:38] PeterDaveHello commented on #11511
@sammorrow thanks

[2017-08-10 05:01] tholman commented on #10017
PR for this here: https://github.com/cdnjs/new-website/pull/192 (using algolias maxPerPage and page params)

[2017-08-10 05:22] PeterDaveHello commented on #10017
@tholman thanks, I'll take a look!

[2017-08-10 06:40] #8052 closed

[2017-08-10 06:40] #11384 closed

[2017-08-10 06:43] #11190 closed

[2017-08-10 10:26] extend1994 commented on #11546
Waiting for https://github.com/react-materialize/react-materialize/issues/315

[2017-08-10 11:37] arghlex commented on #11510
Hi, I'd like to take this one on please, if no one has objections?

[2017-08-10 11:58] PeterDaveHello commented on #11510
@arghlex feel free to take it!

[2017-08-10 13:53] albertKrafter opened #11692 "[Request] Add vue-strap 2"
**Library name:** vue-strap 2.0.2
**Git repository url:** https://github.com/wffranco/vue-strap
**npm package name or url** (if there is one): github:wffranco/vue-strap
**License (List them all if it's multiple):** MIT
**Official homepage:** http://wffranco.github.io/vue-strap/
**Wanna say something? Leave message here:** "yuche/vue-strap", based on Vue.js 1.x, was forked into "wffranco/vue-strap"

[2017-08-10 16:43] extend1994 commented on #11607
Close the issue due to no response and insufficient popularity. cc @PeterDaveHello

[2017-08-10 16:58] extend1994 commented on #11586
Hi @cezarlz
The library doesn't have enough popularity(200 stars/watchers on GitHub and 800 downloads/month on npm registry are good examples). You can take a look at our [issue rule](https://github.com/cdnjs/cdnjs/blob/master/.github/CONTRIBUTING.md#b-request-a-new-library) for more details :smile: However, you are welcome to send a pull request to add your library, we will assist you if you want

[2017-08-10 17:00] extend1994 commented on #11589
Hi @neurospeech
The library doesn't have enough popularity(200 stars/watchers on GitHub and 800 downloads/month on npm registry are good examples). You can take a look at our [issue rule](https://github.com/cdnjs/cdnjs/blob/master/.github/CONTRIBUTING.md#b-request-a-new-library) for more details :smile: 
Nevertheless, you are welcome to send a pull request to add your library, we will assist you i

[2017-08-10 17:01] extend1994 commented on #11581
Hi @faroukcharkas
 The library doesn't have enough popularity(200 stars/watchers on GitHub and 800 downloads/month on npm registry are good examples). You can take a look at our [issue rule](https://github.com/cdnjs/cdnjs/blob/master/.github/CONTRIBUTING.md#b-request-a-new-library) for more details :smile: 
Nevertheless, you are welcome to send a pull request to add your library, we will assist yo

[2017-08-10 17:03] extend1994 commented on #11431
Close the issue because of insufficient popularity and no response in 7 days. cc @PeterDaveHello

[2017-08-10 17:03] extend1994 commented on #11431
Close the issue because of insufficient popularity and no response in 7 days. cc @PeterDaveHello

[2017-08-10 17:06] extend1994 commented on #11566
Hi @KamaZz
The library doesn't have enough popularity(200 stars/watchers on GitHub and 800 downloads/month on npm registry are good examples). You can take a look at our [issue rule](https://github.com/cdnjs/cdnjs/blob/master/.github/CONTRIBUTING.md#b-request-a-new-library) for more details :smile:
 We suggest you open a issue again when the repo has notable popularity.

This issue will be closed

[2017-08-10 17:07] extend1994 commented on #11261
Hi @rjgough
The library doesn't have enough popularity(200 stars/watchers on GitHub and 800 downloads/month on npm registry are good examples). You can take a look at our [issue rule](https://github.com/cdnjs/cdnjs/blob/master/.github/CONTRIBUTING.md#b-request-a-new-library) for more details :smile:
 We suggest you open a issue again when the repo has notable popularity.

This issue will be closed

[2017-08-10 17:09] extend1994 commented on #11089
Hi @fourthdimension
The library doesn't have enough popularity(200 stars/watchers on GitHub and 800 downloads/month on npm registry are good examples). You can take a look at our [issue rule](https://github.com/cdnjs/cdnjs/blob/master/.github/CONTRIBUTING.md#b-request-a-new-library) for more details :smile: 
Nevertheless, you are welcome to send a pull request to add your library, we will assist y

[2017-08-10 17:09] extend1994 commented on #10919
Hi @Wowenko
The library doesn't have enough popularity(200 stars/watchers on GitHub and 800 downloads/month on npm registry are good examples). You can take a look at our [issue rule](https://github.com/cdnjs/cdnjs/blob/master/.github/CONTRIBUTING.md#b-request-a-new-library) for more details :smile: 
Nevertheless, you are welcome to send a pull request to add your library, we will assist you if yo

[2017-08-11 00:17] sufuf3 commented on #11692
Memo:
When adding this lib, the name of lib needs to be changed because we have https://cdnjs.com/libraries/vue-strap.

"yuche/vue-strap", based on Vue.js 1.x, "wffranco/vue-strap", based on Vue.js 2.x.

[2017-08-11 02:30] NickStees opened #11695 "[Request] Add tuesday"
**Library name:** Tuesday
**Git repository url:** https://github.com/ShakrMedia/tuesday
**npm package name or url** (if there is one):
**License (List them all if it's multiple):** https://github.com/shakrmedia/tuesday/blob/master/LICENSE
**Official homepage:** https://shakrmedia.github.io/tuesday/
**Wanna say something? Leave message here:**

=====================

Notes from cdnjs maintainer:
Pl

[2017-08-11 03:27] extend1994 commented on #11351
Hi @ivansammartino
The library doesn't have enough popularity(100 stars/watchers on GitHub and 500 downloads/month on npm registry are good examples). You can take a look at our [issue rule](https://github.com/cdnjs/cdnjs/blob/master/.github/CONTRIBUTING.md#b-request-a-new-library) for more details :smile:
 We suggest you open a issue again when the repo has notable popularity.

This issue will be

[2017-08-11 07:33] albert2cas commented on #11692
May I suggest to just rely on the version?
E. g.:
https://cdnjs.cloudflare.com/ajax/libs/vue-strap/2.0.2/vue-strap.min.js (for wffranco's)

It seems to me that the development of both projects is sufficiently completed and that they wouldn't need a new major version number.

[2017-08-11 09:58] liuyun025 opened #11697 "jquery.easyui"
more and more people are using jquery.easyui, but cdnjs don't have jquery.easyui

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/48155821-jquery-easyui?utm_campaign=plugin&utm_content=tracker%2F32893&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_con

[2017-08-11 14:55] PeterDaveHello commented on #11607
We can host this using a lower priority (like intern practice)

[2017-08-11 14:56] PeterDaveHello commented on #11431
We can host this using a lower priority (like intern practice)

[2017-08-11 15:10] #11511 closed

[2017-08-11 15:12] #11665 closed

[2017-08-11 15:13] #11004 closed

[2017-08-11 22:12] artpar opened #11700 "[Request] Add artf/grapesjs"
**Library name:** artf/grapesjs
**Git repository url:** https://github.com/artf/grapesjs
**npm package name or url** (if there is one): grapesjs
**License (List them all if it's multiple):** BSD 3-clause
**Official homepage:** http://grapesjs.com/
**Wanna say something? Leave message here:**

[2017-08-12 01:00] sufuf3 commented on #11697
@liuyun025 Do you mean CDNJS need to host this lib https://github.com/waylau/jquery-easyui?
Thank you.

[2017-08-12 05:27] liuyun025 commented on #11697
yes, i think so.
we have been told jquery easyui is a good lib for new UI learners in the college. but i can not find jquery easyui in cdnjs. is jquery easyui not so good as the teacher said?

[2017-08-12 06:05] sufuf3 commented on #11697
@liuyun025 because `jquery easyui` just publish on GitHub and use git tag `v1.5.2` in the release version. It's not very famous in GitHub.
And CDNJS use git or npm apto-update to get the release versions, if the versions released from other webpages, CDNJS can't host it automatically.

@PeterDaveHello I know this lib is not reaching 200 stars, but I google this lib and found it popular, many peopl

[2017-08-12 06:23] liuyun025 commented on #11697
can we host `jquery` `easyui` from the release version published on GitHub?

[2017-08-12 09:18] extend1994 commented on #11576
Move to #11575

[2017-08-12 09:18] #11576 closed

[2017-08-12 13:31] jerrylee commented on #11509
I would like to add this library, what are the next steps?

[2017-08-12 19:23] DoomTay opened #11704 "[Request] Add BigInteger.js"
**Library name:** BigInteger.js
**Git repository url:** https://github.com/peterolson/BigInteger.js
**npm package name or url** (if there is one):  big-integer
**License (List them all if it's multiple):** Unlicense

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/48196886-request-add-biginteger-js?utm_campaign=plugin&utm_content=tra

[2017-08-12 19:28] DoomTay opened #11705 "[Request] Add libjass"
**Library name:** libjass
**Git repository url:** https://github.com/Arnavion/libjass
**npm package name or url** (if there is one): libjass
**License (List them all if it's multiple):**  Apache-2.0
**Official homepage:** https://arnavion.github.io/libjass/

[2017-08-13 02:25] sufuf3 commented on #11705
@DoomTay Thanks for the suggestion, however, this library doesn't have enough notable popularity(like more than 200 stars on GitHub or 800 downloads per month on npm). please take a look on our [README.md](https://github.com/cdnjs/cdnjs/blob/master/README.md) for detail, it's always good to read the document before open an issue, I'll respectfully suggest you open a new issue again when the librar

[2017-08-13 05:20] DoomTay commented on #11705
Whoops. Somehow it completely slipped my mind to double check the stats for this one.

[2017-08-13 09:33] Lilja opened #11706 "[Request] Add vue-markdown"
**Library name:** vue-markdown
**Git repository url:**  https://github.com/miaolz123/vue-markdown
**npm package name or url** (if there is one): vue-markdown
**License (List them all if it's multiple):** MIT
**Official homepage:**  https://github.com/miaolz123/vue-markdown
**Wanna say something? Leave message here:** npm page https://www.npmjs.com/package/vue-markdown

<bountysource-plugin>

---
W

[2017-08-13 16:36] sufuf3 commented on #11643
Closed due to no response in 7 days. cc @PeterDaveHello

[2017-08-13 16:36] #11643 closed

[2017-08-14 01:43] sufuf3 commented on #10680
duplicate with #9445
close and move to #9445
cc @PeterDaveHello

[2017-08-14 01:43] #10680 closed

[2017-08-14 01:43] sufuf3 commented on #11090
duplicate with #9445
close and move to #9445
cc @PeterDaveHello

[2017-08-14 01:43] #11090 closed

[2017-08-14 07:26] maruilian11 commented on #7793
https://github.com/cdnjs/cdnjs/blob/master/CONTRIBUTING.md#e-adding-a-new-library-by-a-single-packagejson

[2017-08-14 07:26] #7793 closed

[2017-08-14 07:31] Qix- commented on #8531
I still don't know what you mean by "bundled". If users are going to use modules in the browser that are traditionally included via `require()` they should be webpacking them (or equivalent).

[2017-08-14 18:36] appdoodle opened #11711 "[Request] Add Feathers"
**Library name: Feathers
**Git repository url: https://github.com/feathersjs/feathers
**npm package name or url** (if there is one): https://www.npmjs.com/package/feathers
**License (List them all if it's multiple): MIT
**Official homepage: https://feathersjs.com/
**Wanna say something? Leave message here:**

=====================

Notes from cdnjs maintainer:
Please read the [README.md](https://g

[2017-08-15 02:04] rnemec commented on #10264
The latest version available on cdnjs is 1.0.3 while the current release is 1.0.6. Is anybody working on this? Did something break recently?

[2017-08-15 02:53] helloyou2012 opened #11712 "[Request] Add better-xlsx"
**Library name:** better-xlsx
**Git repository url:** https://github.com/d-band/better-xlsx
**npm package name or url** (if there is one): https://www.npmjs.com/package/better-xlsx
**License (List them all if it's multiple):** MIT
**Official homepage:** https://d-band.github.io/better-xlsx/
**Wanna say something? Leave message here:**

=====================

Notes from cdnjs maintainer:
Please rea

[2017-08-15 03:14] sufuf3 commented on #10264
@rnemec Thank you for reminding.
it seems that npm package move to https://www.npmjs.com/package/@uirouter/angularjs
I'll update this lib ASAP.

[2017-08-15 03:16] sufuf3 opened #11713 "Update auto-update config, keywords & homepage info of angular-ui-router"
npm package move to https://www.npmjs.com/package/@uirouter/angularjs
cc #10264

[2017-08-15 03:16] sufuf3 commented on #10264
close and move to #11713

[2017-08-15 03:16] #10264 closed

[2017-08-15 03:17] sufuf3 commented on #11712
@helloyou2012
Thanks for the suggestion, however, this library doesn't have enough notable popularity(like more than 200 stars on GitHub or 800 downloads per month on npm). please take a look on our [README.md](https://github.com/cdnjs/cdnjs/blob/master/README.md) for detail, it's always good to read the document before open an issue, I'll respectfully suggest you open a new issue again when the l

[2017-08-15 03:34] helloyou2012 commented on #11712
@sufuf3 sorry, I didn't notice that.

[2017-08-15 04:11] sufuf3 commented on #11712
It's fine.
If this lib has enough notable popularity, welcome open the issue.
We still welcome your suggestion.

Thank you for your great work.

close due to
Closed due to unpopular. cc @PeterDaveHello

[2017-08-15 05:59] sufuf3 commented on #11669
Closed due to no response in 7 days. cc @PeterDaveHello

[2017-08-15 05:59] #11669 closed

[2017-08-15 06:00] sufuf3 commented on #11673
Closed due to no response in 7 days. cc @PeterDaveHello

[2017-08-15 06:00] #11673 closed

[2017-08-15 06:02] sufuf3 commented on #11675
Maybe this https://github.com/creativetimofficial/light-bootstrap-dashboard/blob/master/assets/css/light-bootstrap-dashboard.css

[2017-08-15 06:04] vishankt42 commented on #11675
thanxx

On 15 Aug 2017 11:32 a.m., "Samina Fu" <notifications@github.com> wrote:

[2017-08-15 08:42] #11540 closed

[2017-08-15 08:50] PeterDaveHello commented on #11712
We can host this one with a lower priority.

[2017-08-15 08:52] PeterDaveHello commented on #7870
No response from https://github.com/kriskowal/q-connection/issues/43 for a long time, we won't host this until it's confirmed that it works in front-end.

[2017-08-15 08:52] #7870 closed

[2017-08-15 08:55] PeterDaveHello commented on #7651
I think it needs Browserify, let's close it until it's officially supported by its authors.

[2017-08-15 08:55] #7651 closed

[2017-08-15 09:12] steffjenl opened #11715 "[Request] Add Bootstrap Strength Meter"
**Library name:** bootstrap-strength-meter
**Git repository url:** https://github.com/davidstutz/bootstrap-strength-meter
**npm package name or url** (if there is one):
**License (List them all if it's multiple):**
**Official homepage:** https://github.com/davidstutz/bootstrap-strength-meter
**Wanna say something? Leave message here:** Thank you!

=====================

Notes from cdnjs maintainer

[2017-08-15 12:57] maruilian11 commented on #8531
@PeterDaveHello Does it mean we can't host this kind of lib needed to be webpacked?

[2017-08-15 16:52] wikiwiggs opened #11716 "[Request] Add railroad-diagrams"
**Library name:** railroad-diagrams
**Library desctiption:** allows SVG creation of railroad-diagrams to the browser via a custom script language to describe its options
**Git repository url:** https://github.com/tabatkins/railroad-diagrams
**npm package name or url** (if there is one):
**License (List them all if it's multiple):** CC0
**Official homepage:**
**Wanna say something? Leave message he

[2017-08-15 17:42] tekoyaki opened #11717 "[Request] Update the auto-update config and add missing files of blueimp-gallery"
https://cdnjs.com/libraries/blueimp-gallery

Missing map files for:
- blueimp-gallery.min.css
- blueimp-gallery.min.js
- jquery.blueimp-gallery.min.js

Repo: https://github.com/blueimp/Gallery/tree/master/js

[2017-08-15 18:47] ange007 opened #11718 "[Request] Add ange007/JQueryFormStyler-Modern"
**Library name:** JQueryFormStyler-Modern
**Library desctiption:** JQuery HTML form styling plugin.
**Git repository url:** https://github.com/ange007/JQueryFormStyler-Modern
**License (List them all if it's multiple):** MIT
**Official homepage:** http://ange007.github.io/JQueryFormStyler-Modern/

[2017-08-15 18:49] ange007 commented on #11718
It is the improved and more developed version of a plug-in: https://github.com/Dimox/jQueryFormStyler

[2017-08-16 02:55] sufuf3 commented on #11603
Close because the library doesn't have enough popularity. cc @PeterDaveHello

[2017-08-16 02:55] #11603 closed

[2017-08-16 02:59] sufuf3 commented on #11230
@danjdewhurst this library doesn't have enough popularity (like more than 100 stars on GitHub or 500 downloads per month on npm). Please take a look at our [README.md](https://github.com/cdnjs/cdnjs/blob/master/README.md). Would you mind to open an issue again when the library has more popularity? If there are no response in 7 days, I will close this issue. Thanks for your great work and contribut

[2017-08-16 03:00] sufuf3 commented on #11218
@BeingRitam this library doesn't have enough popularity (like more than 100 stars on GitHub or 500 downloads per month on npm). Please take a look at our [README.md](https://github.com/cdnjs/cdnjs/blob/master/README.md).

Would you mind to open an issue again when the library has more popularity?

If there are no response in 7 days, I will close this issue.

Thanks for your great work and contribu

[2017-08-16 03:01] sufuf3 commented on #11115
@l0gicgate this library doesn't have enough popularity (like more than 100 stars on GitHub or 500 downloads per month on npm). Please take a look at our [README.md](https://github.com/cdnjs/cdnjs/blob/master/README.md).

Would you mind to open an issue again when the library has more popularity?

If there are no response in 7 days, I will close this issue.

Thanks for your great work and contribut

[2017-08-16 03:04] sufuf3 commented on #10954
Thank you.

Close because the lib doesn't have enough popularity, cc @PeterDaveHello

[2017-08-16 03:04] #10954 closed

[2017-08-16 03:09] sufuf3 commented on #10725
close because this library doesn't have enough notable popularity, cc @PeterDaveHello

[2017-08-16 03:09] #10725 closed

[2017-08-16 03:10] sufuf3 commented on #10671
Closed due to no response in 7 days and this library doesn't have enough notable popularity. cc @PeterDaveHello

[2017-08-16 03:28] sufuf3 commented on #11715
@steffjenl Thanks for the suggestion, however, this library doesn't have enough notable popularity(like more than 200 stars on GitHub or 800 downloads per month on npm). please take a look on our [README.md](https://github.com/cdnjs/cdnjs/blob/master/README.md) for detail, it's always good to read the document before open an issue, I'll respectfully suggest you open a new issue again when the libr

[2017-08-16 09:07] Flyer53 commented on #10658
@pvnr0082t @PeterDaveHello
Hey there! Is there a chance that this issue is going to get forward any time soon? Or is there anything missing from my side?
Regards,
Stefan

[2017-08-16 20:58] jessewgibbs opened #11720 "ERR_CERT_AUTHORITY_INVALID for cdnjs.cloudflare.com"
We are getting reports of this error from a few of our customers.  It appears to be happening in both Firefox and Chrome on Windows.  Here's an example of the message that's appearing:
![29384958-d2e1c936-828a-11e7-80f5-e39617513047](https://user-images.githubusercontent.com/1097447/29385148-83ef05d6-828b-11e7-990d-ad909a8e6583.png)

We'll add additional info to this issue as we collect it.

[2017-08-16 23:48] PeterDaveHello commented on #11720
Can you please show me the cert you got here? As chrome mentions, there may be an issue with your connection privacy.

[2017-08-17 00:36] sufuf3 commented on #11683
Closed due to no response in 7 days. cc @PeterDaveHello

[2017-08-17 00:36] #11683 closed

[2017-08-17 00:47] maruilian11 commented on #9555
@LukeXF Sorry for keeping you waiting for a long time. I will send a PR to add it later.

[2017-08-17 01:00] maruilian11 commented on #9555
We need to confirm the current version number first, let's wait for one week first. And we can consider move on. 😃

[2017-08-17 03:32] PeterDaveHello commented on #10671
Let's try this one.

[2017-08-17 03:33] PeterDaveHello commented on #10954
@VladimirHumeniuk if you'd like to send a pull request, I can accept it, what do you think?

[2017-08-17 03:35] PeterDaveHello commented on #11697
@sufuf3 how do you define popular? Isn't popularity try to define the popularity?

[2017-08-17 03:36] PeterDaveHello commented on #11509
@jerrylee then you can get started with sending pull request! I'll let @sufuf3 and @extend1994 help you here.

[2017-08-17 03:42] sufuf3 commented on #11697
Sorry, this lib https://github.com/waylau/jquery-easyui is not reaching 200 stars, so it's not popular.

[2017-08-17 03:46] PeterDaveHello commented on #6109
Close this first until its officially dist build was provided, see the issue link above.

[2017-08-17 03:46] #6109 closed

[2017-08-17 04:06] #11512 closed

[2017-08-17 04:32] #11550 closed

[2017-08-17 04:40] #11160 closed

[2017-08-17 04:46] PeterDaveHello commented on #11720
I also wonder what's the IP address that you resolved by your side, looks like the domain was spoofed by your system/network admin, may not be related to CDNJS.

[2017-08-17 06:50] VladimirHumeniuk commented on #10954
@PeterDaveHello  great! will send pull request soon, thanks.

[2017-08-17 12:07] paulhodel commented on #10671
Peter, the library was new. But, in a few months, we already have more than 80 starts... hope that shows this is a serious and useful contribution. Thank you so much.

[2017-08-17 17:27] #11220 closed

[2017-08-17 17:52] ahmedrad commented on #10112
Updated license info on the repo, sorry for the late reply

[2017-08-17 19:15] PeterBot opened #11726 "[Build failed] Got error while building meta data/artifact"
Dear all,

Our build process just got an error while building the meta data/artifact of cdnjs project, our [website and api](https://github.com/cdnjs/new-website) may not be as new as our repository, however, the cdn service will not been affected, you can still use it, and modify the library name, version number and filename in the url can help you access all the content on cdnjs, we will fix the

[2017-08-17 19:15] PeterDaveHello commented on #11726
Server rebooting.

[2017-08-17 19:15] #11726 closed

[2017-08-17 19:18] #11049 closed

[2017-08-17 19:20] PeterBot opened #11727 "[Build failed] Got error while building meta data/artifact"
Dear all,

Our build process just got an error while building the meta data/artifact of cdnjs project, our [website and api](https://github.com/cdnjs/new-website) may not be as new as our repository, however, the cdn service will not been affected, you can still use it, and modify the library name, version number and filename in the url can help you access all the content on cdnjs, we will fix the

[2017-08-17 19:20] PeterDaveHello commented on #11727
Rebooting another server.

[2017-08-17 19:20] #11727 closed

[2017-08-17 19:25] PeterBot opened #11728 "[Build failed] Got error while building meta data/artifact"
Dear all,

Our build process just got an error while building the meta data/artifact of cdnjs project, our [website and api](https://github.com/cdnjs/new-website) may not be as new as our repository, however, the cdn service will not been affected, you can still use it, and modify the library name, version number and filename in the url can help you access all the content on cdnjs, we will fix the

[2017-08-17 19:27] PeterDaveHello commented on #11728
All rebooted.

[2017-08-17 19:27] #11728 closed

[2017-08-18 00:42] sufuf3 commented on #11686
Closed due to no response in 7 days. cc @PeterDaveHello

[2017-08-18 00:42] #11686 closed

[2017-08-18 06:44] PeterDaveHello commented on #10658
Hey @Flyer53 sorry for the late response, I reassigned this to @sufuf3 and we'll get it done ASAP!

[2017-08-20 01:59] liftoff commented on #9837
I have corrected this issue on the HumanInput repo side of things as well as in the NPM repositories.  Let me know if there's anything else holding this up.  Thanks!

[2017-08-20 11:26] wlisrausr commented on #11508
I would love to take this one. What should I add to .git/info/sparse-checkout file to work on this issue? @PeterDaveHello

[2017-08-20 11:28] PeterDaveHello commented on #11508
@wlisrausr just add the path for the library that you are going to add. cc @sufuf3

[2017-08-20 12:19] wlisrausr commented on #11508
Could you please assist me on this step by step @sufuf3? I saw a long of process in another PR and it looks scary 😄

[2017-08-20 12:41] sufuf3 commented on #11508
@wlisrausr welcome.
Here are the sparse-checkout steps which run on Unix-like OS or MacOS, if you still feel confused here is the [tutorial](https://github.com/cdnjs/cdnjs/blob/master/documents/sparseCheckout.md)
1. `mkdir ~/cdnjs`  --> create a folder named cdnjs
2. `cd ~/cdnjs`  --> change dir to cdnjs
3. `git init`  --> init git repo
4. `git config core.sparseCheckout true`  --> turn on sparseC

[2017-08-20 12:48] wlisrausr commented on #11508
Whoaah, thanks a lot for these complete steps! After all those steps, I can directly work to add this gridder library right? @sufuf3

[2017-08-20 12:52] sufuf3 commented on #11508
Checkout the new branch and create the `~/cdnjs/ajax/libs/gridder`, then you can directly work to add this gridder library 👍  YES!
this is the adding library tutorial: https://github.com/cdnjs/cdnjs/blob/master/CONTRIBUTING.md#e-adding-a-new-library-by-a-single-packagejson
😃

[2017-08-20 15:06] #9917 closed

[2017-08-20 18:19] wlisrausr commented on #11508
Sorry @sufuf3, should I change the remote origin in the 8 step into my fork cdnjs repo? Because I can't push directly into cdnjs repository

[2017-08-20 22:41] sufuf3 commented on #11508
@wlisrausr You have to add another remote which is your cdnjs fork. And push the branch into your fork repo.
Here is a tutorial you can refer to https://www.digitalocean.com/community/tutorials/how-to-create-a-pull-request-on-github
Thank you :+1: :)

[2017-08-21 02:53] wlisrausr commented on #11508
Got it. Just a little bit confuse because usually I just fork the repo, clone it, and directly work on it. I'll make a PR after this. Thanks @sufuf3 😃

[2017-08-21 03:09] sufuf3 commented on #11508
And please create a pull request :)
On this page https://github.com/cdnjs/cdnjs you will see the green button, then just click the button. fill in some info. then you will send the PR successfully.
😃

[2017-08-21 03:34] roshansing opened #11733 "[Request] Add map-icons.com"
**Library name:** map-icons.com
**Library desctiption:** An icon font for use with Google Maps API and Google Places API using SVG markers and icon labels
**Git repository url:** https://github.com/scottdejonge/map-icons
**npm package name or url** (if there is one):
**License (List them all if it's multiple):** https://github.com/scottdejonge/map-icons/blob/master/LICENSE
**Official homepage:** m

[2017-08-21 04:05] wlisrausr commented on #11508
Done. Thanks a lot for your direction @sufuf3. Just let me know if I need to add or change something in my PR 👍

[2017-08-21 09:04] fengpan23 opened #11734 "[Request][Author] Add us-util"
**Library name:** us-util
**Git repository url:** https://github.com/fengpan23/us-util
**npm package name or url** (if there is one): us-util

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/48474837-request-author-add-us-util?utm_campaign=plugin&utm_content=tracker%2F32893&utm_medium=issues&utm_source=github)** We accept bounties vi

[2017-08-21 10:54] sufuf3 commented on #11733
duplicated with #9539

[2017-08-21 10:55] sufuf3 commented on #11734
@fengpan23 Thanks for the suggestion, however, this library doesn't have enough notable popularity(like more than 200 stars on GitHub or 800 downloads per month on npm). please take a look on our [README.md](https://github.com/cdnjs/cdnjs/blob/master/README.md) for detail, it's always good to read the document before open an issue, I'll respectfully suggest you open a new issue again when the libr

[2017-08-21 15:11] boredland opened #11736 "[Request] Add jquery.scrollex.min.js"
**Library name:** jquery.scrollex.min.js
**Library desctiption: Adds slick new scroll events to jQuery (like enter and leave) so you can drop scrolling effects like a boss. Requires jQuery 1.11+. **
**Git repository url: https://github.com/ajlkn/jquery.scrollex**
**npm package name or url** (if there is one):
**License (List them all if it's multiple): MIT**
**Official homepage: https://github.com

[2017-08-22 01:25] sufuf3 commented on #11566
Closed due to no response in 7 days. cc @PeterDaveHello

[2017-08-22 01:25] #11566 closed

[2017-08-22 01:25] sufuf3 commented on #11586
Closed due to no response in 7 days. cc @PeterDaveHello

[2017-08-22 01:26] sufuf3 commented on #11089
Closed due to no response in 7 days. cc @PeterDaveHello

[2017-08-22 01:26] #11089 closed

[2017-08-22 01:30] sufuf3 commented on #11705
@DoomTay It's OK
Still, welcome your suggestion and make CDNJS better.
Thank you.

Close because it doesn't have enough notable popularity. cc @PeterDaveHello

[2017-08-22 01:30] #11705 closed

[2017-08-22 01:30] sufuf3 commented on #11589
Closed due to no response in 7 days. cc @PeterDaveHello

[2017-08-22 01:30] #11589 closed

[2017-08-22 01:30] sufuf3 commented on #11581
Closed due to no response in 7 days. cc @PeterDaveHello

[2017-08-22 01:30] #11581 closed

[2017-08-22 01:31] sufuf3 commented on #11351
Closed due to no response in 7 days. cc @PeterDaveHello

[2017-08-22 01:31] #11351 closed

[2017-08-22 01:31] sufuf3 commented on #11261
Closed due to no response in 7 days. cc @PeterDaveHello

[2017-08-22 01:31] #11261 closed

[2017-08-22 01:32] sufuf3 commented on #10919
Closed due to no response in 7 days. cc @PeterDaveHello

[2017-08-22 01:32] #10919 closed

[2017-08-22 01:37] sufuf3 commented on #10354
Maybe these:
https://github.com/kripken/box2d.js/
OR
https://github.com/hecht-software/box2dweb

[2017-08-22 01:43] sufuf3 commented on #8855
Close because it duplicated with #10908
cc @PeterDaveHello

[2017-08-22 01:43] #8855 closed

[2017-08-22 04:40] sufuf3 commented on #11711
@appdoodle Thank you for your suggestion.
May I ask what files of this library can use in front-end?
Like `<script src="feathers.js"></script>`.

Thank you.

[2017-08-22 05:16] sufuf3 commented on #8951
close because duplicated with #10616
And CDNJS host this lib #10868
cc @PeterDaveHello

[2017-08-22 05:16] #8951 closed

[2017-08-22 05:56] PeterDaveHello commented on #8855
@sufuf3 close the new ones next time ... not the old one.

[2017-08-22 06:13] #9445 closed

[2017-08-22 06:35] sufuf3 commented on #8855
OK sorry~

[2017-08-22 11:53] Mello21century opened #11738 "[Request] Add Bootstrap4-rtl"
**Library name:** Bootstrap4-rtl
**Library desctiption:**
**Git repository url:**
**npm package name or url** (if there is one):
**License (List them all if it's multiple):**
**Official homepage:** https://github.com/mmdsharifi/Bootstrap4-RTL
**Wanna say something? Leave message here:**

=====================

Notes from cdnjs maintainer:
Please read the [README.md](https://github.com/cdnjs/cdnjs#

[2017-08-22 17:04] gilluminate opened #11741 "[Request] Add Reflex"
**Library name:** Reflex Grid
**Library desctiption:** Reflex gives you the ability to easily take advantage of flexbox for laying out a grid while having a reliable fallback for older browsers that do not support flexbox.
**Git repository url:** https://github.com/leejordan/reflex
**npm package name or url** (if there is one): https://www.npmjs.com/package/reflex-grid
**License (List them all if

[2017-08-23 13:09] nejt opened #11743 "[request] Noty 3.1.2"
https://github.com/needim/noty
It is no longer linked to jQuery.

[2017-08-23 13:11] nejt opened #11744 "[Request] rot.js v0.6"
https://github.com/ondras/rot.js
ROguelike Toolkit
1092 stars

[2017-08-23 15:13] twhitson opened #11745 "[Request] Add bigtext"
**Library name:** bigtext
**Library desctiption:** jQuery plugin, calculates the font-size and word-spacing needed to match a line of text to a specific width.
**Git repository url:** https://github.com/zachleat/BigText
**npm package name or url** (if there is one): https://www.npmjs.com/package/bigtext
**License (List them all if it's multiple):** MIT
**Official homepage:** https://www.zachleat.c

[2017-08-23 16:10] PeterBot opened #11746 "[Build failed] Got error while building meta data/artifact"
Dear all,

Our build process just got an error while building the meta data/artifact of cdnjs project, our [website and api](https://github.com/cdnjs/new-website) may not be as new as our repository, however, the cdn service will not been affected, you can still use it, and modify the library name, version number and filename in the url can help you access all the content on cdnjs, we will fix the

[2017-08-23 16:11] PeterDaveHello commented on #11746
Disk error.

[2017-08-23 16:11] #11746 closed

[2017-08-23 16:34] qwe19272375 commented on #9930
@PeterDaveHello I think this issue can be closed as it is a custom build file. The following url is what I found.

https://gist.github.com/Eomerx/9934758#file-modernizr-2-6-2-respond-1-1-0-min-js-L1

[2017-08-24 10:13] PeterDaveHello commented on #11586
We can host this.

[2017-08-24 10:15] PeterDaveHello commented on #11589
@neurospeech if you'd like to send a pull request to add this, we can help you do that. Let me know would it help or not, thanks.

[2017-08-24 10:15] PeterDaveHello commented on #11581
@faroukcharkas  if you'd like to send a pull request to add this, we can help you do that. Let me know would it help or not, thanks.

[2017-08-24 10:30] neurospeech commented on #11589
@PeterDaveHello hi, I don't understand what I am supposed to do, the issue was closed by @sufuf3.

[2017-08-24 10:30] PeterDaveHello commented on #11589
@neurospeech would you like to send a pull request to add your library on CDNJS?

[2017-08-24 12:45] ggerber opened #11749 "[Request] Add react-leaflet"
**Library name:** react-leaflet
**Library desctiption:**
**Git repository url:** https://github.com/PaulLeCam/react-leaflet
**npm package name or url** (if there is one): https://www.npmjs.com/package/react-leaflet
**License (List them all if it's multiple):**
**Official homepage:**
**Wanna say something? Leave message here:**

=====================

Notes from cdnjs maintainer:
Please read the [R

[2017-08-24 13:47] sufuf3 commented on #11736
@boredland Thanks for the suggestion, however, this library doesn't have enough notable popularity(like more than 200 stars on GitHub or 800 downloads per month on npm). please take a look on our [README.md](https://github.com/cdnjs/cdnjs/blob/master/README.md) for detail, it's always good to read the document before open an issue, I'll respectfully suggest you open a new issue again when the libr

[2017-08-24 13:51] sufuf3 commented on #11738
@Mello21century Thanks for the suggestion, however, this library doesn't have enough notable popularity(like more than 200 stars on GitHub or 800 downloads per month on npm). please take a look on our [README.md](https://github.com/cdnjs/cdnjs/blob/master/README.md) for detail, it's always good to read the document before open an issue, I'll respectfully suggest you open a new issue again when the

[2017-08-24 13:53] sufuf3 commented on #11745
duplicated with #11126

[2017-08-24 14:26] sufuf3 commented on #11715
Closed due to no response in 7 days. cc @PeterDaveHello

[2017-08-24 14:26] #11715 closed

[2017-08-24 14:27] sufuf3 commented on #11230
Closed due to no response in 7 days. cc @PeterDaveHello

[2017-08-24 14:27] #11230 closed

[2017-08-24 16:01] neurospeech commented on #11589
@PeterDaveHello Yes, let me know what I can do.

[2017-08-24 19:49] PeterDaveHello commented on #11589
Maybe the instructions for beginner would work for you, take a look at https://github.com/cdnjs/cdnjs/issues/11514 for example?

[2017-08-25 04:54] extend1994 commented on #11745
Let's move to #11126.

[2017-08-25 04:54] #11745 closed

[2017-08-25 04:56] extend1994 commented on #11733
Let's move to #9539.

[2017-08-25 04:56] #11733 closed

[2017-08-25 12:37] #9351 closed

[2017-08-25 12:38] #11508 closed

[2017-08-25 12:52] #7585 closed

[2017-08-26 13:50] extend1994 opened #11753 "[Request] Add feather"
**Library name:** feather
**Git repository url:** https://github.com/colebemis/feather
**npm package name or url** (if there is one): https://www.npmjs.com/package/feather
**License (List them all if it's multiple):** [MIT](https://github.com/colebemis/feather/blob/master/LICENSE)
**Official homepage:** https://feathericons.com/

[2017-08-26 17:22] #8312 closed

[2017-08-27 02:19] sufuf3 commented on #11218
Closed due to no response in 7 days. cc @PeterDaveHello

[2017-08-27 02:19] #11218 closed

[2017-08-27 02:22] sufuf3 commented on #11115
Closed due to no response in 7 days. cc @PeterDaveHello

[2017-08-27 02:22] #11115 closed

[2017-08-27 07:36] extend1994 opened #11754 "[Request] Add jquery-iframe-auto-height"
**Library name:** jquery-iframe-auto-height
**Git repository url:** https://github.com/house9/jquery-iframe-auto-height
**npm package name or url** (if there is one): none
**License (List them all if it's multiple):** [Unlicense](https://github.com/house9/jquery-iframe-auto-height/#license)
**Official homepage:** none

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](ht

[2017-08-27 08:01] PeterDaveHello commented on #11754
@extend1994 You should remove the emtpy sections ... they are only for the out side contributors.

[2017-08-27 09:35] extend1994 commented on #11754
Oh...Sorry!! I didn't see the related document clearly. Remove them right now!

[2017-08-27 11:53] larshp commented on #11530
Hi,
It looks like the NPM module has a `/dist/` folder with a ES and a compiled version:

![image](https://user-images.githubusercontent.com/5888506/29749546-0e386a10-8b2f-11e7-8c6a-2048e30b9ebd.png)

Perhaps it can help moving this issue forward?

[2017-08-28 06:37] drewfreyling commented on #8854
any luck on this one @terinjokes ?

[2017-08-28 12:41] sashberd opened #11756 "[Request] Add jquery-watch"
**Library name:** jquery-watch
**Library desctiption:** A jQuery plug-in to notify you of CSS, Attribute or Property changes in an element
**Git repository url:**  https://github.com/RickStrahl/jquery-watch
**npm package name or url** (if there is one):  https://www.npmjs.com/package/jquery-watch
**License (List them all if it's multiple):**  MIT
**Official homepage:** http://samples.west-wind.com

[2017-08-28 22:39] jonhue opened #11757 "[Request][Author] Add welcomer.js"
**Library name:** Welcomer.js
**Library desctiption:** Slick welcome bars for your pages
**Git repository url:** https://github.com/slooob/welcomer.js
**npm package name or url** (if there is one): https://www.npmjs.com/package/welcomer
**License (List them all if it's multiple):** MIT
**Official homepage:** https://slooob.github.io/welcomer.js/
**Wanna say something? Leave message here:** Hi. :-)

[2017-08-29 05:42] NicBonetto commented on #11507
Hello, I would like to take this issue on :)
So for what I understand, circular-progress already has a minified .js and .map file. It also has a package.json file. All this request requires is copying their minified files and adding auto-update config to the package.json file correct?

[2017-08-29 08:47] ihsinhw opened #11759 "[Request] Add tw-city-selector"
**Library name:** tw-city-selector
**Library desctiption:** Taiwan address zip code
**Git repository url:** https://github.com/dennykuo/tw-city-selector/
**npm package name or url** (if there is one):
**License (List them all if it's multiple):**
**Official homepage:**
**Wanna say something? Leave message here:**
Thank you

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it

[2017-08-29 15:45] getify commented on #10811
@hare1039 thanks for the detailed instructions, just submitted #11760

[2017-08-29 18:23] Chrisstar56 opened #11763 "[Request] Add Impetus"
**Library name:** Impetus
**Library desctiption:** Agnostic utility for adding momentum to anything. It's like iScroll, except not for scrolling. Supports mouse and touch events.
**Git repository url:** https://github.com/chrisbateman/impetus
**npm package name or url** (if there is one): https://www.npmjs.com/package/impetus
**License (List them all if it's multiple):** MIT License
**Official hom

[2017-08-30 03:38] kumarabhishek commented on #11530
Yes, you are right @larshp.

[2017-08-30 08:29] venkatramanareddy commented on #11757
Hey, the library doesn't seem to have enough popularity. There are 214 downloads in the last month though, should I be adding the library?

[2017-08-30 10:16] garyvdm opened #11765 "[Request] Add es7-shim"
* Library name: es7-shim
 * Library description: ECMAScript 7 compatibility shims for legacy JavaScript engines
 * Git repository: https://github.com/es-shims/es7-shim
 * NPM package url: https://www.npmjs.com/package/es7-shim
 * License and its reference: MIT (https://github.com/es-shims/es7-shim/blob/master/LICENSE)
 * GitHub / Bitbucket popularity:
   - Count of watchers: 15
   - Count of stars

[2017-08-30 11:51] #11600 closed

[2017-08-30 12:03] jonhue commented on #11757
I'd say that's solid, knowing that I released it 2 days ago :)

[2017-08-30 17:10] neurospeech commented on #11589
@PeterDaveHello No problem, I no longer wish to be added in cdnjs, I feel idea of only promoting famous and rich is not really open source and nice. I have decided to go with jsdelivr.

[2017-08-30 21:07] verlok opened #11766 "Non existing version on vanilla-lazyload"
Hi,

I just noticed that there's a version 10.0.0 of [`vanilla-lazyload` on CDNJS](https://cdnjs.com/libraries/vanilla-lazyload), but the [latest available on npm](https://www.npmjs.com/package/vanilla-lazyload) is 9.0.1.

What happened?

[2017-08-30 21:21] PeterDaveHello commented on #11766
@verlok You tagged the version v10.0.0 in https://github.com/verlok/lazyload two days ago, that's the reason why.

[2017-08-30 21:33] verlok commented on #11766
Thanks @PeterDaveHello,
but now the tag [doesn't exist anymore](https://github.com/verlok/lazyload/tags).

Could you please delete version 10.0.0 from cdnjs?

[2017-08-30 21:44] PeterDaveHello commented on #11766
@verlok That's not a good move, we don't know if anyone already started to use it.

[2017-08-31 06:03] verlok commented on #11766
I agree with you. So what happens if I create version 10.0.0 now? Will it override the existing one?

[2017-08-31 07:55] PeterDaveHello commented on #11766
@verlok It won't override, change the published files would be dangerous and would also change the hash.

[2017-08-31 11:02] PeterDaveHello commented on #11507
@NicBonetto Sorry for the late response, dealing with too many issues 😅 You are correct! Just need to make few changes like auto-update config in `package.json`, and also, you can submit the pull request on GitHub web gui, so that you don't need to clone and checkout the repository locally(you can still do that if you are not so familiar with git and wanna learn something), which would be faster!

[2017-08-31 11:27] PeterDaveHello commented on #10340
@extend1994 please help add this library, cc #10772

[2017-08-31 11:41] #11575 closed

[2017-08-31 11:50] PeterDaveHello commented on #11743
Ping @extend1994

[2017-08-31 12:05] PeterDaveHello commented on #11720
Close due to no response.

[2017-08-31 12:05] #11720 closed

[2017-08-31 15:59] verlok commented on #11766
Ok good, I'll pay attention to the version number next time. Thanks

[2017-08-31 15:59] #11766 closed

[2017-08-31 17:41] PeterDaveHello commented on #11766
Thanks @verlok.

[2017-09-01 06:15] extend1994 commented on #11507
Hi @NicBonetto 😄
Here are the steps you can follow to add this library:
1. [Fork](https://github.com/cdnjs/cdnjs/fork) the cdnjs repo and do the following steps on your forked repo.
2. Create a new, non-master branch by clicking the "Branch: master" dropdown and enter the name of the library being added.
3. Create the file `<lib_name>/package.json` (here would be `circular-progress`) under `ajax/l

[2017-09-01 06:59] sufuf3 commented on #11738
Closed due to no response in 7 days. cc @PeterDaveHello

[2017-09-01 06:59] #11738 closed

[2017-09-01 06:59] sufuf3 commented on #11736
Closed due to no response in 7 days. cc @PeterDaveHello

[2017-09-01 06:59] sufuf3 commented on #11734
Closed due to no response in 7 days. cc @PeterDaveHello

[2017-09-01 07:01] sufuf3 commented on #11756
@sashberd Thanks for the suggestion, however, this library doesn't have enough notable popularity(like more than 200 stars on GitHub or 800 downloads per month on npm). please take a look on our [README.md](https://github.com/cdnjs/cdnjs/blob/master/README.md) for detail, it's always good to read the document before open an issue, I'll respectfully suggest you open a new issue again when the libra

[2017-09-01 07:04] sufuf3 commented on #11757
@jonhue Mind to wait a little while? Let this library has enough popularity (like more than 200 stars on GitHub or 800 downloads per month on npm).

If there is no response in 7 days, I will close this issue. Thanks for your great work and contribution.

[2017-09-01 07:05] sufuf3 commented on #11759
@ihsinhw Thanks for the suggestion, however, this library doesn't have enough notable popularity(like more than 200 stars on GitHub or 800 downloads per month on npm). please take a look on our [README.md](https://github.com/cdnjs/cdnjs/blob/master/README.md) for detail, it's always good to read the document before open an issue, I'll respectfully suggest you open a new issue again when the librar

[2017-09-01 09:06] extend1994 commented on #11743
@PeterDaveHello Noty originally belongs to (jquery-noty)[https://cdnjs.com/libraries/jquery-noty]. Should I rename "jquery-noty" to "noty"? Or I can just add the files, update the description and other updated parts in "jquery-noty"?
Apart from this, v1.0.0 ~ v1.2.1 on GitHub are missing from (jquery-noty)[https://cdnjs.com/libraries/jquery-noty]. Should I add them in same pull request? Thank you.

[2017-09-01 10:15] huaiping commented on #6153
Could you please take a look at this? @maruilian11 @PeterDaveHello
all js and css files in lang, plugins and themes are provided by running grunt.
https://github.com/huaiping/static/tree/master/libs/KindEditor

[2017-09-01 13:06] nejt commented on #11743
Noty 3.1.2 is no longer dependent upon jquery.  In my opinion, for clarification I would separate it.

[2017-09-01 14:00] PeterDaveHello commented on #11743
@nejt thanks

[2017-09-01 15:14] extend1994 commented on #11743
@PeterDaveHello So should I separate it as @nejt (thanks 😃) said?

[2017-09-01 15:15] PeterDaveHello commented on #11743
@extend1994 sure

[2017-09-01 15:18] extend1994 commented on #11743
OK!

[2017-09-01 15:38] #9819 closed

[2017-09-01 15:54] #11565 closed

[2017-09-01 16:30] PeterDaveHello commented on #11734
I think its npm looks good?
https://www.npmjs.com/package/us-util

[2017-09-01 16:32] PeterDaveHello commented on #11736
Let's host this one.

[2017-09-01 16:35] PeterDaveHello commented on #10671
@paulhodel No worries, and if you'd like to directly send a pull request to add this library on CDNJS, we can also accelerate the process :)

[2017-09-01 16:36] PeterDaveHello commented on #10112
Thanks a lot @ahmedrad

[2017-09-01 16:36] PeterDaveHello commented on #9837
Thanks a lot @liftoff

[2017-09-01 16:37] PeterDaveHello commented on #9930
Thank you both!

[2017-09-01 16:37] #9930 closed

[2017-09-01 16:37] PeterDaveHello commented on #11507
@extend1994 don't forget to use syntax highlight in the codeblock.

[2017-09-01 16:39] PeterDaveHello commented on #8531
I think the webpacking is kind of bundling.

[2017-09-01 17:00] PeterDaveHello commented on #6153
We'll take care of it soon, thanks for the reply @huaiping

[2017-09-01 18:22] paulhodel commented on #10671
Thank you

[2017-09-01 18:22] #10671 closed

[2017-09-01 19:15] abdulamite commented on #11506
Can I grab this one?

[2017-09-01 19:17] PeterDaveHello commented on #11506
@abdulamite sure thing!

[2017-09-02 09:50] #11507 closed

[2017-09-02 16:19] PeterDaveHello commented on #9244
@sufuf3 the author replied few days ago, see the issue in their repo.

[2017-09-02 16:29] PeterDaveHello commented on #11100
Hi @csvan,

Sorry for my very late response, I think I missed this issue by accident.

I've confirmed that all the files are the same as https://code.angularjs.org/1.6.4/angular-1.6.4.zip, so this issue may not be directly related with us, let me know if I missed anything, thanks!

[2017-09-02 16:51] #10752 closed

[2017-09-02 16:58] luosijie opened #11774 "[Request] Add vm-markdown"
**Library name:** vm-markdown
**Library desctiption:** Markdown for Vue
**Git repository url:** https://github.com/luosijie/vm-markdown
**npm package name or url** : https://www.npmjs.com/package/vm-markdown
**License :** MIT
**Official homepage:** https://luosijie.github.io/vm-markdown/
**Wanna say something? Leave message here:**

<bountysource-plugin>

---
Want to back this issue? **[Post a bou

[2017-09-02 17:09] PeterDaveHello commented on #8943
@sufuf3 @extend1994 please work together to manually build the dist file and host this library. Don't forget to mention the whole process so that I can review if you do it correctly.

[2017-09-02 19:46] Qix- commented on #8531
Ultimately it comes down to two issues:

1. I write ES6 code, which isn't supported by a lot of browsers. As a maintainer of many javascript libraries, it would be painful to maintain a build system that babelified all of my libraries _just_ for a CDN to distribute them. On the other hand, these libraries won't be back-ported to ES5. It's just not happening.

2. I write all of my code using the `m

[2017-09-03 07:27] NurdTurd opened #11775 "[Request] Add BOOTSTRA.386"
**Library name:** BOOTSTRA.386
**Library desctiption:** A vintage 1980s DOS inspired Twitter Bootstrap theme
**Git repository url:** https://github.com/kristopolous/BOOTSTRA.386
**npm package name or url** (if there is one):
**License (List them all if it's multiple):** Apache License 2.0
**Official homepage:** http://kristopolous.github.io/BOOTSTRA.386/
**Wanna say something? Leave message here:*

[2017-09-03 12:06] sarvap-praharanayuthan opened #11776 "[Request] Add Image-Select"
**Library name:** Image-Select
**Library desctiption:** Image Select is an extension of Chosen, a jQuery plugin that makes long, unwieldy select boxes much more user-friendly. It provides image support for Single and Multi select HTML tags.
**Git repository url:** https://github.com/websemantics/Image-Select
**License (List them all if it's multiple):** The MIT License (MIT)
**Official homepage:**

[2017-09-03 17:29] sufuf3 commented on #11775
Memo: Maybe need to add from zip file.

[2017-09-03 17:33] sufuf3 commented on #11776
@sarvap-praharanayuthan Thanks for the suggestion, however, this library doesn't have enough notable popularity(like more than 200 stars on GitHub or 800 downloads per month on npm). please take a look on our [README.md](https://github.com/cdnjs/cdnjs/blob/master/README.md) for detail, it's always good to read the document before open an issue, I'll respectfully suggest you open a new issue again

[2017-09-03 18:22] dipikaisdbest commented on #11475
Hi @PeterDaveHello Could I grab this one. I am a first time contributor and would need support in the process.

[2017-09-03 18:37] PeterDaveHello commented on #11475
@dipikaisdbest of course! I'll let @extend1994 and @sufuf3 help you!

[2017-09-03 18:50] sufuf3 commented on #9244
Thanks, found the file https://github.com/openui5/packaged-sap.ui.core/blob/rel-1.44/resources/sap-ui-core.js
I'll add it.

[2017-09-03 18:56] sashberd commented on #11756
@sufuf3 Yes I know about nowadays low popularity of this library, but it is so cool coding and it solves very complicated problem in JS. So i decided to try to ad it to cdnjs, but if it still not goes with cdnjs standards feel free to close this issue

[2017-09-03 19:10] sufuf3 commented on #11756
@sashberd Thanks.
The lib got 123 stars in two years, maybe it's not very popular now.
Let's wait for @PeterDaveHello decision.
To close this PR due to the lib have enough notable popularity, or to add this lib.

[2017-09-03 19:11] PeterDaveHello commented on #11756
@sashberd if you can send a PR to add it, it'll be acceptable.

[2017-09-03 19:16] sashberd commented on #11756
@sufuf3 @PeterDaveHello
Will glad to get this PR to myself

[2017-09-03 19:18] PeterDaveHello commented on #11756
@sashberd assigned to you now. You can also consider to take some already existed PRs to make this project better and better.

[2017-09-03 19:58] dipikaisdbest commented on #11475
@PeterDaveHello @extend1994 @sufuf3
Thanks. Taking this up and starting.

[2017-09-03 20:01] PeterDaveHello commented on #11475
@dipikaisdbest nice, feel free to let us know that where can we help. The doc may be a little bit long, take your time, no rush.

[2017-09-04 14:40] usmonster commented on #11656
FYI v1.9.0 is out, and I see it was auto-updated in CDNJS in a168be04442c2d92af0cbea52f15d17bd8c776ac (🎉) , though there are still some small things that might need to be manually updated on the CDNJS side.

For example, it would be nice to synchronize [the listed name and url](https://cdnjs.com/libraries/jquery.hoverintent) (etc.) with what's in [the official package.json](https://github.com/bria

[2017-09-04 14:52] sashberd commented on #11656
@PeterDaveHello
Can we do improves by @usmonster  asked?
Thanks

[2017-09-04 16:43] sufuf3 commented on #11656
@sashberd as https://github.com/cdnjs/cdnjs/commit/a168be04442c2d92af0cbea52f15d17bd8c776ac#commitcomment-24072925 said,  Would you help this issue?
the reason is https://github.com/cdnjs/cdnjs/blob/master/ajax/libs/jquery.hoverintent/package.json#L24 we just get the `"jquery.hoverIntent.js"` so we need to modify to `"jquery.hoverIntent*"` to get `jquery.hoverIntent.min.js` and `jquery.hoverIntent

[2017-09-04 17:27] sufuf3 opened #11777 "Add the related libs of egjs v2.0.0"
egjs v2.0.0 rewrote egjs v1.x.x to separate the components of egjs v1.x.x into independent projects.

cc #11722

Need to add these libs:
* [x] [egjs-agent](https://github.com/naver/egjs-agent) `npm install @egjs/agent`
* [x] [egjs-axes](https://github.com/naver/egjs-axes) `npm install @egjs/axes`
* [x] [egjs-component](https://github.com/naver/egjs-component) `npm install @egjs/component`
* [x] [e

[2017-09-04 21:26] benjdl opened #11778 "[Request] Add tempusdominus"
**Library name:** tempusdominus
**Library desctiption:** rewrite of bootstrap-datetimepicker for BS4
**Git repository url:** https://github.com/tempusdominus/bootstrap-4
**npm package name or url** (if there is one):
**License (List them all if it's multiple):**
**Official homepage:** https://tempusdominus.github.io/bootstrap-4/
**Wanna say something? Leave message here:**

[2017-09-05 07:08] extend1994 commented on #10100
Hello @mucahiddayan Could you please provide further infos?

[2017-09-05 10:24] creole opened #11780 "[Request] Add nanoid"
Library name: nanoid
Git repository: https://github.com/ai/nanoid
npm package: https://www.npmjs.com/package/nanoid
License(s): [MIT](https://github.com/ai/nanoid/blob/master/LICENSE)

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/48995198-request-add-nanoid?utm_campaign=plugin&utm_content=tracker%2F32893&utm_medium=issues&utm_sour

[2017-09-05 11:27] extend1994 commented on #10384
@PeterDaveHello npm states are

58 downloads in the last week
195 downloads in the last month

It should not be enough...?

[2017-09-05 11:28] PeterDaveHello commented on #10384
I think it'll vary, it's the "last" statics.

[2017-09-05 11:29] PeterDaveHello commented on #10384
@extend1994 I think we can host this one anyway.

[2017-09-05 11:31] extend1994 commented on #10384
OK 👍

[2017-09-05 11:34] extend1994 commented on #9245
Close due to no response over 7 days and insufficient popularity. cc @PeterDaveHello

[2017-09-05 11:34] extend1994 commented on #9245
Close due to no response over 7 days and insufficient popularity. cc @PeterDaveHello

[2017-09-05 11:34] #9245 closed

[2017-09-05 11:35] extend1994 commented on #9239
Close due to no response over 7 days and insufficient popularity. cc @PeterDaveHello

[2017-09-05 11:35] #9239 closed

[2017-09-05 11:42] extend1994 commented on #11778
Hi @benjdl
The library doesn't have enough popularity(200 stars/watchers on GitHub and 800 downloads/month on npm registry are good examples). You can take a look at our [issue rule](https://github.com/cdnjs/cdnjs/blob/master/.github/CONTRIBUTING.md#b-request-a-new-library) for more details :smile:
We suggest you open a issue again when the repo has notable popularity.

This issue will be closed i

[2017-09-05 17:02] mikkellindblom commented on #11692
Any news on adding this?

[2017-09-05 22:00] wolfadactyl opened #11782 "[Request] Add plaid"
Library name: plaid
Git repository: https://github.com/plaid/plaid-node
npm package: https://www.npmjs.com/package/plaid
License(s): [MIT](https://github.com/plaid/plaid-node/blob/master/LICENSE)

GitHub
- 40 watchers
- 160 stars
- 46 forks

npm
- 157 downloads today
- 1,375 downloads this week
- 6,459 downloads this month

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it

[2017-09-06 02:15] ihsinhw opened #11783 "[Request] Add sandbox.js"
**Library name:** sandbox.js
**Library desctiption:**
**Git repository url:** https://github.com/bartaz/sandbox.js
**npm package name or url** (if there is one):
**License (List them all if it's multiple):**
**Official homepage:**
**Wanna say something? Leave message here:**
if possible, plz help add this library to cdnjs, thank you

[2017-09-06 02:30] ihsinhw opened #11784 "[Request] Add DataTables Plugins"
**Library name:** DataTables Plugins
**Library desctiption:** Plug-ins for DataTables
**Git repository url:** https://github.com/DataTables/Plugins
**npm package name or url** (if there is one):
**License (List them all if it's multiple):**
**Official homepage:**
**Wanna say something? Leave message here:**
it is useful plugins for Datatables library.
Datatables library already include in cdnjs, s

[2017-09-06 10:13] sashberd commented on #11656
@sufuf3
I made first commit
I did not understand what should be changed for second commit
Can you explain in details
Thanks

[2017-09-06 10:42] sufuf3 commented on #11656
Un.. actually you made three commits, and the first commit seems very OK.
let's remove `0dcbcb2` and `5de1b1b`.
It's easy just type `git reset --hard befcd1607d3020469a2c9e962c9c74a14e1b03d8`.
After this command, we have to do as followings:
1. delete `jquery.hoverIntent.min.js.map` and `jquery.hoverIntent.min.js` which under `ajax/libs/jquery.hoverintent/1.9.0`.
2. download https://github.com/bri

[2017-09-06 10:45] sashberd commented on #11656
@sufuf3
Ok no problem
Today we have to continue conversation about my git problem, After this I will do above commits

[2017-09-06 10:48] sufuf3 commented on #11656
OK!
I just found you sent a PR #11785 on this issue.
But there are some git issues to solve.
We can deal with step by step.

[2017-09-06 12:02] ashucg opened #11786 "Waiting for https://cdnjs.cloudflare.com/"
I have included every external library using CDNJS but I am facing this issue every day since last week. At times I am unable to access https://cdnjs.com/ as the website never finishes loading and same is for the resources hosted at https://cdnjs.cloudflare.com/

My Location & ISP: https://www.whoismyisp.org/ip/122.173.8.130

[2017-09-06 18:37] PeterDaveHello commented on #11786
@ashucg thanks for reporting, can you please provide the following info:
 - https://cdnjs.com/cdn-cgi/trace
 - https://cdnjs.cloudflare.com/cdn-cgi/trace

I'd like to ask few quick questions to help us understand the issue:

Do you have the same problem on the other Cloudflare hosted sites and the sites using cdnjs like https://www.yelp.com/? Do you have the problem when directly access resource u

[2017-09-06 21:53] jeronn opened #11787 "[Request] Add jquery.balloon"
**Library name:** jquery.balloon
**Library desctiption:** A jQuery plugin to add balloon tips to elements
**Git repository url:** https://github.com/urin/jquery.balloon.js/
**npm package name or url** (if there is one): https://www.npmjs.com/package/jquery-balloon-js
**License (List them all if it's multiple):** MIT license (http://www.opensource.org/licenses/mit-license.php)
**Official homepage:*

[2017-09-07 04:20] sufuf3 commented on #11783
@ihsinhw Thanks for the suggestion, however, this library doesn't have enough notable popularity(like more than 200 stars on GitHub or 800 downloads per month on npm). please take a look on our [README.md](https://github.com/cdnjs/cdnjs/blob/master/README.md) for detail, it's always good to read the document before open an issue, I'll respectfully suggest you open a new issue again when the librar

[2017-09-07 04:23] sufuf3 commented on #11784
@ihsinhw May I ask that what files need to add in CDNJS from https://github.com/DataTables/Plugins?
Thank you.

[2017-09-07 04:27] sufuf3 commented on #11787
@PeterDaveHello this lib is available at jsdelivr (https://www.jsdelivr.com/package/npm/jquery-balloon-js)
But this library doesn't have enough popularity.
Should we add it or close because this library doesn't have enough popularity?
Thank you.

[2017-09-07 08:51] ashucg commented on #11786
@PeterDaveHello here is the information you asked for:
https://cdnjs.com/cdn-cgi/trace
`fl=58f31
h=cdnjs.com
ip=122.173.183.81
ts=1504771475.393
visit_scheme=https
uag=Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:56.0) Gecko/20100101 Firefox/56.0
colo=BOM
spdy=h2
http=h2
loc=IN`

https://cdnjs.cloudflare.com/cdn-cgi/trace
`fl=57f5
h=cdnjs.cloudflare.com
ip=122.173.183.81
ts=1504771476.189
visit_sc

[2017-09-07 08:53] PeterDaveHello commented on #11786
@ashucg Thanks for the info you provided, I believe if you can provide the same info when you opening a support ticket on https://support.cloudflare.com/, they can help you faster.

@terinjokes would you like to take a look at this one? Thanks.

[2017-09-07 08:54] PeterDaveHello commented on #11786
@ashucg btw, do you have any similiar issues on accessing Cloudflare website directly? Like the https://support.cloudflare.com/  or https://cloudflare.com/, thanks.

[2017-09-07 09:21] ashucg commented on #11786
@PeterDaveHello nope, never had such issues when accessing Cloudflare directly, even when CDNJS was down for me.

[2017-09-07 09:21] PeterDaveHello commented on #11786
@ashucg thanks for that info, so when you mean CDNJS I think you mean cdnjs.cloudflare.com? As you can open cdnjs but it's just stock on cdnjs.cloudflare.com resource loading

[2017-09-07 09:26] ashucg commented on #11786
@PeterDaveHello yeah, https://cdnjs.com/ opens but never finishes loading because resources are hosted at https://cdnjs.cloudflare.com/ which doesn't work for me sometimes.

[2017-09-07 09:27] PeterDaveHello commented on #11786
@ashucg thanks, I got it, that's a little bit weird, do you mind to take a look at https://cloudflare.com/cdn-cgi/trace to see if it's the same as https://cdnjs.cloudflare.com/cdn-cgi/trace ? I think they should be served from the same node.

[2017-09-07 09:29] ashucg commented on #11786
https://cloudflare.com/cdn-cgi/trace
`fl=57f9
h=cloudflare.com
ip=171.61.219.6
ts=1504776513.116
visit_scheme=https
uag=Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:56.0) Gecko/20100101 Firefox/56.0
colo=DEL
spdy=h2
http=h2
loc=IN`

https://cdnjs.cloudflare.com/cdn-cgi/trace
`fl=57f11
h=cdnjs.cloudflare.com
ip=171.61.219.6
ts=1504776514.229
visit_scheme=https
uag=Mozilla/5.0 (Windows NT 10.0; Win6

[2017-09-07 09:37] PeterDaveHello commented on #11786
@ashucg ok, looks the same. Have you ever tried to use a different browser or device to access resource on cdnjs.cloudflare.com?

[2017-09-07 10:29] ashucg commented on #11786
@PeterDaveHello yeah, I have tried different devices, browsers and even asked someone else to try to access it but still had the same issue

[2017-09-07 13:12] sufuf3 commented on #10972
close because this library doesn't have enough popularity
And the author closed the PR. #10975
cc @PeterDaveHello

[2017-09-07 13:12] #10972 closed

[2017-09-07 13:54] PeterDaveHello commented on #11786
@ashucg thanks for the info, @terinjokes is our friend in Cloudflare, I'll also write an email to him.

[2017-09-07 15:53] #11358 closed

[2017-09-07 16:02] terinjokes commented on #11786
@ashucg next time there's an issue for you, can you post the output of `mtr` or traceroute to cdnjs.cloudflare.com?

[2017-09-07 16:44] fallingrock opened #11796 "[Request] Add titlealert"
**Library name:** titlealert
**Library desctiption:** jQuery plugin for flashing messages in the browser title bar (i.e. chat message alerts)
**Git repository url:** https://github.com/heyman/jquery-titlealert
**npm package name or url** (if there is one):
**License (List them all if it's multiple):** MIT License
**Official homepage:** https://github.com/heyman/jquery-titlealert
**Wanna say someth

[2017-09-07 17:24] ashucg commented on #11786
@terinjokes sure, I will do that

[2017-09-07 17:36] ashucg commented on #11786
@PeterDaveHello It is working fine right now but this problem has been occurring at random times so I can't tell if it really is gone or not. I will let you guys know if I stop facing this issue or else I would do what @terinjokes has mentioned earlier.

[2017-09-07 17:36] PeterDaveHello commented on #11786
@ashucg got it, thanks.

[2017-09-07 20:46] #9229 closed

[2017-09-08 07:53] sridharnetha opened #11799 "[Request] Add material-bootstrap-wizard.js"
**Library name:** material-bootstrap-wizard.js
**Library desctiption:**
**Git repository url:** https://github.com/creativetimofficial/material-bootstrap-wizard
**npm package name or url** (if there is one):
**License (List them all if it's multiple):**
**Official homepage:**
**Wanna say something? Leave message here:**

=====================

Notes from cdnjs maintainer(please remove this section

[2017-09-08 09:16] ashucg commented on #11786
I am having the same issue right now, I have checked [Yelp](https://www.yelp.com/) which is working fine for me. I am running `tracert` right now, will update you ASAP

[2017-09-08 09:21] ashucg commented on #11786
![tracert](https://user-images.githubusercontent.com/11291284/30204989-14851e20-94a5-11e7-8fa3-b1b6f575d0ee.png)
@terinjokes  here is the output

[2017-09-08 09:23] Apollodore opened #11801 "[Request] Add nanogallery2"
**Library name:** nanogallery2
**Library desctiption:**
**Git repository url:** https://github.com/nanostudio-org/nanogallery2
**npm package name or url** (if there is one): https://www.npmjs.com/package/nanogallery2
**License (List them all if it's multiple):** https://github.com/nanostudio-org/nanogallery2#license
**Official homepage:**
**Wanna say something? Leave message here:**

It would be g

[2017-09-08 09:27] ashucg commented on #11786
![mtr](https://user-images.githubusercontent.com/11291284/30205237-eeb50df8-94a5-11e7-92cd-1a74fa1af8c5.png)
@terinjokes

[2017-09-08 12:10] ihsinhw opened #11802 "[Request] Add promise-polyfill"
**Library name:** promise
**Library desctiption:** Lightweight ES6 Promise polyfill for the browser and node. A+ Compliant
**Git repository url:** https://github.com/taylorhakes/promise-polyfill
**npm package name or url** (if there is one):
**License (List them all if it's multiple):**
**Official homepage:**
**Wanna say something? Leave message here:**
fetch project recommend taylorhakes/promise-

[2017-09-08 12:13] ihsinhw commented on #11783
this library include jquery.highlight.js, it is useful tool with jquery datatables library.
plz consider this library to cdnjs.

[2017-09-08 12:58] ihsinhw commented on #11784
this git include datatables 'all' plugins.
maybe it's Directory architecture not well as Features to easy understand.
in root include Sorting, API,  Filtering, Internationalisation translations, Type detection and Pagination.
but in features Directory include
Alphabet search, dataTables conditional Paging ,Deep linking,lengthLinks, mark.js,page Resize,scroll Resize, search Highlight, search Panel.

[2017-09-08 14:41] ddeason37 commented on #9821
@PeterDaveHello  - I'm interested in finding my first open source project, is this one still in need of help?

[2017-09-08 16:35] sufuf3 commented on #11784
Thanks for your reply.

[2017-09-08 16:38] sufuf3 commented on #11783
@ihsinhw Thanks.
The lib got 147 stars in 8 years, maybe it's not very popular now.
Let's wait for @PeterDaveHello decision.
To close this PR due to the lib have enough notable popularity, or to add this lib.

[2017-09-08 16:40] sufuf3 commented on #11796
@fallingrock Thanks for the suggestion, however, this library doesn't have enough notable popularity(like more than 200 stars on GitHub or 800 downloads per month on npm). please take a look on our [README.md](https://github.com/cdnjs/cdnjs/blob/master/README.md) for detail, it's always good to read the document before open an issue, I'll respectfully suggest you open a new issue again when the li

[2017-09-08 16:41] sufuf3 commented on #11799
@sridharnetha
Thanks for the suggestion, however, this library doesn't have enough notable popularity(like more than 200 stars on GitHub or 800 downloads per month on npm). please take a look on our [README.md](https://github.com/cdnjs/cdnjs/blob/master/README.md) for detail, it's always good to read the document before open an issue, I'll respectfully suggest you open a new issue again when the l

[2017-09-08 16:47] sufuf3 commented on #11801
Memo:
In README of Kris-B/nanoGALLERY

https://github.com/Kris-B/nanoGALLERY#nanogallery---image-gallery-for-jquery

[2017-09-08 18:31] Apollodore commented on #11801
Thank you very much for your answer, thank you for giving us cdnjs, I hope you will add nanogallery2 to cdnjs soon!

[2017-09-08 18:37] PeterDaveHello commented on #10549
We'll only host library once there is response from its author: https://github.com/phretaddin/schemapack/issues/24

[2017-09-08 18:55] mwcz commented on #10549
Thanks @PeterDaveHello, I gave a +1 to phretaddin/schemapack#24

[2017-09-08 18:56] PeterDaveHello commented on #10549
@mwcz thanks!

[2017-09-08 19:20] ApoorvSaxena opened #11803 "[Request] Add lozad"
Library name: lozad
Library description: Highly performant, light ~0.5kb and configurable lazy loader in pure JS with no dependencies
Git repository: https://github.com/ApoorvSaxena/lozad.js
License(s): MIT

GitHub stats:
13 watchers
447 stars
16 forks

[2017-09-08 21:55] rajkishan16 opened #11804 "[Request] Add leaflet.path.transform"
**Library name:** leaflet.path.transform
**Library desctiption:** Drag/rotate/resize handler for leaflet vector features.
**Git repository url:** https://github.com/w8r/Leaflet.Path.Transform
**npm package name or url** (if there is one): https://www.npmjs.com/package/leaflet-path-transform
**License (List them all if it's multiple):**
**Official homepage:**
**Wanna say something? Leave message he

[2017-09-09 05:56] PeterBot opened #11805 "[Build failed] Got error while building meta data/artifact"
Dear all,

Our build process just got an error while building the meta data/artifact of cdnjs project, our [website and api](https://github.com/cdnjs/new-website) may not be as new as our repository, however, the cdn service will not been affected, you can still use it, and modify the library name, version number and filename in the url can help you access all the content on cdnjs, we will fix the

[2017-09-09 06:16] PeterBot opened #11806 "[Build failed] Got error while building meta data/artifact"
Dear all,

Our build process just got an error while building the meta data/artifact of cdnjs project, our [website and api](https://github.com/cdnjs/new-website) may not be as new as our repository, however, the cdn service will not been affected, you can still use it, and modify the library name, version number and filename in the url can help you access all the content on cdnjs, we will fix the

[2017-09-09 06:26] PeterBot opened #11807 "[Build failed] Got error while building meta data/artifact"
Dear all,

Our build process just got an error while building the meta data/artifact of cdnjs project, our [website and api](https://github.com/cdnjs/new-website) may not be as new as our repository, however, the cdn service will not been affected, you can still use it, and modify the library name, version number and filename in the url can help you access all the content on cdnjs, we will fix the

[2017-09-09 13:29] #11806 closed

[2017-09-09 13:29] #11805 closed

[2017-09-09 13:30] #11807 closed

[2017-09-09 15:15] extend1994 opened #11809 "[Request] Add devicon"
**Library name:** devicon
**Git repository url:** https://github.com/konpa/devicon
**npm package name or url** (if there is one): https://www.npmjs.com/package/devicon
**License (List them all if it's multiple):** [MIT](https://github.com/konpa/devicon/blob/master/LICENSE)
**Official homepage:** https://konpa.github.io/devicon/

[2017-09-09 15:48] extend1994 opened #11812 "[Request] Add vanilla-tilt.js"
**Library name:** vanilla-tilt.js
**Git repository url:** https://github.com/micku7zu/vanilla-tilt.js
**npm package name or url** (if there is one): https://www.npmjs.com/package/vanilla-tilt
**License (List them all if it's multiple):** [MIT](https://github.com/micku7zu/vanilla-tilt.js/blob/master/LICENSE)
**Official homepage:** https://micku7zu.github.io/vanilla-tilt.js/

[2017-09-09 15:52] extend1994 opened #11813 "[Request] Add flubber"
**Library name:** flubber
**Git repository url:** https://github.com/veltman/flubber
**npm package name or url** (if there is one): https://www.npmjs.com/package/flubber
**License (List them all if it's multiple):** [MIT](https://github.com/veltman/flubber/blob/master/LICENSE)
**Official homepage:** none

4,280 stars

[2017-09-09 20:53] #11521 closed

[2017-09-09 20:58] #10773 closed

[2017-09-09 21:15] #10989 closed

[2017-09-10 12:17] RRorg opened #11815 "[Request] Update parallax"
I am the new maintainer of the parallax project:

https://github.com/wagerfield/parallax

Since I've removed the compiled JS files from git versioning, the update route needs to be changed to use npm instead. Adding the recent v3.1 version to CDNjs would be great too.

I've tried adding it myself, but the attempt to git-clone this repo blew my MacBook up after the first 100GB so if someone else co

[2017-09-10 13:24] sashberd commented on #10240
@PeterDaveHello @sufuf3
Is there is a way to add version from master and version from upgraded fork?

[2017-09-10 13:26] PeterDaveHello commented on #10240
@sashberd not labeled files from master means under development, not a static/formal release, which is not good. Upgraded forked can be considered, just make sure it has enough popularity, and we can name the library on CDNJS with author namesapce like "PeterDaveHello-jQuery" to recognize it's forked version(if the fork has changed its name, without the name conflict, we don't even need to use nam

[2017-09-10 14:16] sufuf3 commented on #11815
@RRorg I'll take this ASAP.
Because CDNJS is too huge, this repo need to enable git [sparseCheckout](https://github.com/cdnjs/cdnjs/blob/master/documents/sparseCheckout.md)
Thank you for your suggestion.

Memo: https://cdnjs.com/libraries/parallax

[2017-09-10 16:09] ljharb commented on #11765
As the maintainer of this package, I would strongly suggest not relying on it, and instead using https://npmjs.com/airbnb-browser-shims

[2017-09-10 20:45] ricardopolo commented on #11452
@ryankirkman @PeterDaveHello have you talk with the Cloudflare people to enable this? It would improve a lot the cdn

[2017-09-11 01:52] PeterDaveHello commented on #11765
Hi @ljharb, thanks for the suggestion, I'm not familiar with es6/7, would `airbnb-browser-shims` be fine to be hosted on CDN? (Need browserify or webpack?) Thanks.

[2017-09-11 04:34] ljharb commented on #11765
Yes, you'd need browserify or webpack; as do all packages following modern best practices.

If you want to generate a bundle and host it on CDN JS, that's totally fine.

[2017-09-11 04:35] PeterDaveHello commented on #11765
@ljharb is it possible to be provided from you? Which can provide better integrity and reliability (and also we usually don't do that as we can't do that on 3k+ libraries in many different ways)

[2017-09-11 04:47] ljharb commented on #11765
I don't think it's a good idea or a best practice for packages to do that anymore - only to provide node-style CJS modules, and to let the consumer do the bundling.

With regard to es7-shim, ES7/ES2016 only contained one API change - `Array.prototype.includes` - so the list of shims is incorrect, and I don't intend to update that package again. It only includes a browser build for legacy reasons,

[2017-09-11 04:49] PeterDaveHello commented on #11765
@ljharb thanks a lot for the detail explanation. Really appreciate.

[2017-09-11 06:08] #11765 closed

[2017-09-11 08:33] jowavp commented on #4724
@terinjokes
We are creating a plugin for cdnjs on a web based IDE.
In a project we are able to use the resources on cdnjs, but we should also be able to dowload (copy) the resources in the project and use them from there.
If we debug the script later, we would be very happy with the .map file. :-)

A work around now is that before we debug the app, we switch to the online resources.

kr,
Joachim

[2017-09-11 10:41] sashberd commented on #10857
@PeterDaveHello
This library has 3 different types in 3 different GitHub repositories How could we merge them together?
[https://github.com/dabeng/OrgChart](JQUERY)
[http://github.com/dabeng/OrgChart.js](ES6)
[http://github.com/dabeng/OrgChart-Webcomponents](WebComponents)

[2017-09-11 11:14] kenangundogan opened #11819 "[Request][Author] Add flexible-grid"
**Library name:** flexible-grid
**Library desctiption:** Flexible grid layouts to get you familiar with building within the flexible grid system. (CSS, SCSS, SASS, HTML)
**Git repository url:** https://github.com/kenangundogan/flexible-grid
**npm package name or url (if there is one):** https://www.npmjs.com/package/flexiblegrid
**License (List them all if it's multiple):** MIT
**Official homepage

[2017-09-11 17:04] codyjoliphant opened #11822 "[Request] Add jquery-ajax-localstorage-cache"
**Library name:** jquery-ajax-localstorage-cache
**Library desctiption:** Jalc is a plugin built for jQuery (> 1.5.1) and any object implementing the storage interface, such as localStorage.
**Git repository url:** https://github.com/SaneMethod/jquery-ajax-localstorage-cache
**npm package name or url** (if there is one):
**License (List them all if it's multiple):** Apache 2 License
**Official hom

[2017-09-12 07:08] extend1994 commented on #11582
@sufuf3 Please help confirm if npm source exists when you add the tag, thanks. Now I add it.

[2017-09-12 08:42] jansiegel opened #11824 "[Request][Author] Add handsontable-pro"
**Library name:** handsontable-pro
**Library desctiption:** Spreadsheet-like data grid editor that provides copy/paste functionality compatible with Excel/Google Docs
**Git repository url:** https://github.com/handsontable/handsontable-pro
**npm package name or url** (if there is one): https://www.npmjs.com/package/handsontable-pro
**License (List them all if it's multiple):** https://github.com/h

[2017-09-12 10:34] 0cool-f opened #11825 "[Request] Add sticky-sidebar"
**Library name:** sticky-sidebar
**Library desctiption:** Pure JavaScript plugin for making smart and high performance sticky sidebar.
**Git repository url:** https://github.com/abouolia/sticky-sidebar
**npm package name or url** (if there is one): https://www.npmjs.com/package/sticky-sidebar
**License (List them all if it's multiple):** https://github.com/abouolia/sticky-sidebar/blob/master/LICEN

[2017-09-12 11:04] #11681 closed

[2017-09-12 12:58] PeterDaveHello opened #11827 "[Request] Add snarkdown"
**Library name:** snarkdown
**Library desctiption:** A snarky 1kb Markdown parser written in JavaScript
**Git repository url:** https://github.com/developit/snarkdown/
**npm package name or url**: snarkdown
**License:** MIT

=====================

For beginners who is interested in picking up this issue:

In this issue, we are going to host a new web front-end library on CDNJS, so that web develop

[2017-09-12 13:54] sufuf3 commented on #11757
Closed due to no response in 7 days. cc @PeterDaveHello

[2017-09-12 13:54] #11757 closed

[2017-09-12 13:55] sufuf3 commented on #11759
Closed due to no response in 7 days. cc @PeterDaveHello

[2017-09-12 13:55] sufuf3 commented on #11776
Closed due to no response in 7 days. cc @PeterDaveHello

[2017-09-12 13:56] sufuf3 commented on #11819
@kenangundogan Thanks for the suggestion, however, this library doesn't have enough notable popularity(like more than 200 stars on GitHub or 800 downloads per month on npm). please take a look on our [README.md](https://github.com/cdnjs/cdnjs/blob/master/README.md) for detail, it's always good to read the document before open an issue, I'll respectfully suggest you open a new issue again when the

[2017-09-12 13:58] sufuf3 commented on #11824
@jansiegel
Thanks for the suggestion, however, this library doesn't have enough notable popularity(like more than 200 stars on GitHub or 800 downloads per month on npm). please take a look on our [README.md](https://github.com/cdnjs/cdnjs/blob/master/README.md) for detail, it's always good to read the document before open an issue, I'll respectfully suggest you open a new issue again when the libr

[2017-09-12 14:00] sufuf3 commented on #11825
@0cool-f Thanks for the suggestion, however, this library doesn't have enough notable popularity(like more than 200 stars on GitHub or 800 downloads per month on npm). please take a look on our [README.md](https://github.com/cdnjs/cdnjs/blob/master/README.md) for detail, it's always good to read the document before open an issue, I'll respectfully suggest you open a new issue again when the librar

[2017-09-12 15:08] PeterDaveHello commented on #8560
As they're not going to provide browser build, we can't add this right now, feel free to ping me to reopen it when it's available or submit other requests on familiar libraries, thanks.

[2017-09-12 15:08] #8560 closed

[2017-09-12 15:10] PeterDaveHello commented on #6985
As there is no any response from https://github.com/flaviusmatis/easyModal.js/issues/36, we can't add this right now, feel free to ping me to reopen it when it's available or submit other requests on familiar libraries, thanks.

[2017-09-12 15:10] #6985 closed

[2017-09-12 16:40] dima734 opened #11829 "[Request] Add jquery-handlebars"
**Library name:** jquery-handlebars
**Library desctiption:** allows you to use Handlebars.js with jQuery.
**Git repository url:** https://github.com/71104/jquery-handlebars/
**npm package name or url** (if there is one):
**License (List them all if it's multiple):** MIT. Copyright 2013 Alberto La Rocca.
**Official homepage:** http://71104.github.io/jquery-handlebars/
**Wanna say something? Leave m

[2017-09-12 18:34] PeterDaveHello commented on #6822
@sufuf3 don't forget to update assignee.

[2017-09-13 05:45] sufuf3 commented on #7849
Here we were done.
https://github.com/cdnjs/cdnjs/blob/master/CONTRIBUTING.md#b-request-a-new-library
IMO, maybe we can open an issue at cdnjs/new-website and add this in the template.
Such as,
[code]

Because we solved this issue, I'll close this issue.
cc @PeterDaveHello

[2017-09-13 05:45] #7849 closed

[2017-09-13 10:00] jansiegel commented on #11824
@sufuf3
`handsontable-pro` is a commercial version of [Handsontable](https://github.com/handsontable/handsontable), and open source spreadsheet component. The "community" edition of Handsontable currently has 8566 stars and 50730 monthly downloads on npm.
The "Pro" version was just moved to Github, previously it was hosted on a private server, that's why it doesn't have much traffic yet.

If that'

[2017-09-13 10:11] sufuf3 commented on #11824
I think this lib is good, Thank you.

[2017-09-13 11:34] sufuf3 commented on #11170
## The list of PRs need to be solved:
- [ ] cdnjs/cdnjs#6084 (npm is OK)

[2017-09-13 11:50] pyvkd commented on #11827
@PeterDaveHello i am Beginner in opensource contribution. I managed to do the above mentioned single packagejson step. The PR request seems quite long what all do i need to trim from it.

[2017-09-13 11:58] pyvkd commented on #11827
Adding snarkdown #11830

[2017-09-13 13:12] sashberd commented on #5500
@PeterDaveHello Hi man
I made some work on referenced above libraries, here result.
Can I make one PR for all changes that I made or I should do one by one 😨
[license-update.txt](https://github.com/cdnjs/cdnjs/files/1299495/license-update.txt)

[2017-09-13 17:48] ApoorvSaxena commented on #11803
Updated GitHub stats:
33 watchers
1453 stars
52 forks

[2017-09-13 18:12] PeterDaveHello commented on #11803
@ApoorvSaxena thanks.

[2017-09-13 23:04] kenangundogan commented on #11819
:/ thanks for the info, to see you in 2 weeks

[2017-09-14 06:13] qwe19272375 commented on #11829
Hi @dima734 ,
Thanks for your suggestion. This library doesn't have enough popularity (like more than 200 stars on GitHub or 800 downloads per month on npm). Please take a look at our [CONTRIBUTE.md](https://github.com/cdnjs/cdnjs/blob/master/CONTRIBUTING.md#b-request-a-new-library). Would you mind to open an issue again when the library has more popularity?

[2017-09-14 06:16] PeterDaveHello opened #11831 "Update vee-validate auto-update config"
The current config will grab something we don't need which means we need to update it.

[2017-09-14 06:26] #11056 closed

[2017-09-14 06:30] #10720 closed

[2017-09-14 06:38] sashberd opened #11832 "Upgrade fixFormat tool to run with package name parameters"
Hi
I faced with problem, if you work on multiple PR's and you have multiple libs in you sparse checkout , today's fixFormat tool will upgrade all libs even if you do not need it. I made some changes in it and now if you run tool with package name e.g. 'tools/fixFormat.js jquery.hoverIntent' it will run only on provided name for library.
If you want to run on several names, just provide them with s

[2017-09-14 08:24] MartinDawson opened #11834 "[Request][Author] Add react-jplayer"
**Library name:** react-jplayer
**Library desctiption:** Html5 audio and video player library for React
**Git repository url:** https://github.com/jplayer/react-jPlayer
**npm package name or url** (if there is one): https://www.npmjs.com/package/react-jplayer
**License (List them all if it's multiple):** MIT
**Official homepage:** http://jplayer.org/
**Wanna say something? Leave message here:**

N

[2017-09-14 13:20] zkelo opened #11836 "[Request] Add jquery.kinetic"
**Library name:** jquery.kinetic
**Library desctiption:** jQuery.kinetic is a simple plugin which adds smooth drag scrolling with gradual deceleration to containers.
**Git repository url:** https://github.com/davetayls/jquery.kinetic
**npm package name or url** (if there is one):
**License (List them all if it's multiple):**
**Official homepage:** https://davetayls.me

<bountysource-plugin>

---
W

[2017-09-14 14:08] institutocriap opened #11837 "[Request] Add Devrama Slider"
**Library name:** Devrama Slider
**Library desctiption:**
**Git repository url: https://github.com/Devrama/Devrama-Slider
**npm package name or url** (if there is one):
**License (List them all if it's multiple):**
**Official homepage:**
**Wanna say something? Leave message here:**

=====================

Notes from cdnjs maintainer(please remove this section after you read it):
Please read the [R

[2017-09-14 14:45] verlok opened #11838 "How to publish an older semver version?"
Hi there,

in `vanilla-lazyload` I reached version 10.3.0 but I recently released un update for version too, tagging 8.2.0 on the related [Github repo](https://github.com/verlok/lazyload).

Of course I can't release it on the master branch since the development went forward, so my questin is:

- will the 8.2.0 be published on cdnjs, even if the tag is not on the master branch?
- if not, how can I

[2017-09-14 17:42] balmasi opened #11839 "[Request] Add folktale"
**Library name:** folktale
**Library desctiption:** A standard library for functional programming in JavaScript
**Git repository url:** https://github.com/origamitower/folktale
**npm package name or url**: https://www.npmjs.com/package/folktale
**License (List them all if it's multiple):** MIT
**Official homepage:** folktale.origamitower.com
**Wanna say something? Leave message here:**

==========

[2017-09-14 18:34] maruilian11 commented on #10100
Hi @mucahiddayan, we will close this issue temporarily. If you still want to add the lib, we will reopen it. Thanks.

[2017-09-14 18:34] #10100 closed

[2017-09-15 07:44] PeterDaveHello commented on #11759
Let's host this one.

[2017-09-15 07:46] PeterDaveHello commented on #11776
Let's host this one.

[2017-09-15 07:48] PeterDaveHello commented on #8913
Looks like `bundles` is the directory we need.

[2017-09-15 08:03] #11756 closed

[2017-09-15 08:31] PeterBot opened #11840 "[Build failed] Got error while building meta data/artifact"
Dear all,

Our build process just got an error while building the meta data/artifact of cdnjs project, our [website and api](https://github.com/cdnjs/new-website) may not be as new as our repository, however, the cdn service will not been affected, you can still use it, and modify the library name, version number and filename in the url can help you access all the content on cdnjs, we will fix the

[2017-09-15 08:32] #11840 closed

[2017-09-15 08:33] PeterDaveHello commented on #8531
@Qix- thanks for your reply in detail, really appreciate it. We don't have plan to implement the new feature right now, but it's open to accept pull requests if you'd like to contribute, thanks!

[2017-09-15 09:13] PeterDaveHello commented on #11838
Already added.
https://cdnjs.com/libraries/vanilla-lazyload/8.2.0
https://github.com/cdnjs/cdnjs/commits/master/ajax/libs/vanilla-lazyload

[2017-09-15 09:13] #11838 closed

[2017-09-15 09:14] PeterDaveHello commented on #11838
As the file/directory structure is the same, the bot can fetch it without a problem 😄

[2017-09-15 09:32] gRoussac opened #11841 "[Request] Add ui.router components"
**Library name:** ui.router components
**Library desctiption:**  Route to components today using Angular 1.5+ and ui-router 0.2.x+
**Git repository url:** https://github.com/softsimon/ui-router-route-to-components
**npm package name or url** (if there is one): https://www.npmjs.com/package/ui-router-route-to-components
**License (List them all if it's multiple):** https://spdx.org/licenses/MIT.htm

[2017-09-15 10:03] extend1994 commented on #11815
Hi @RRorg for parallax@3.0.0 on npm. After I use the command `npm i parallax@3.0.0`, `dist/` and files () will appear. I remove the files on purpose and then try to use `gulp` to get the files back. I found the files are different.
* The result of the command `npm i parallax@3.0.0`
[code]
* The result of the command `gulp `
[code]
Could you please tell me which files should I use? Thank you :)

[2017-09-15 10:33] PeterDaveHello commented on #11815
@extend1994 it make sense to have different hash on your builds, you can also use diff to check its content, but if the dist files already existed, why do you need to build it via gulp?

[2017-09-15 10:51] extend1994 commented on #11815
@PeterDaveHello Because when I use autoupdate.js, it can not get `dist`, I am curious why there is difference between it (https://registry.npmjs.org/parallax-js/-/parallax-js-3.0.0.tgz) and `npm i parallax@3.0.0`. And the only file I can see to might create `dist` is `gulpfile.js`. The first thought is just give it a try. Should I just use the files after I use the command `npm i parallax@3.0.0`?

[2017-09-15 10:52] PeterDaveHello commented on #11815
@extend1994 try to use "ied" or "pnpm"? I don't think we need to use "npm install" as that's not how we fetch it, auto-updater directly extract files from its tarball.

[2017-09-15 10:54] extend1994 commented on #11815
Ok

[2017-09-15 11:13] extend1994 commented on #11815
@PeterDaveHello
`dist` is still created using "pnpm", but isn't created using "ied". Which one should I use?

[2017-09-15 11:14] PeterDaveHello commented on #11815
@extend1994 They are both reference, you can also try "ref", anyway, the tarball will be the correct one, I didn't dig every npm client yet.

[2017-09-15 11:15] extend1994 commented on #11815
OK, thank you! 👍

[2017-09-15 11:45] verlok commented on #11838
Nice and sweet

[2017-09-15 12:20] RRorg commented on #11815
3.1.0 should be the most recent version on npm, which contains pre built files and unified the build process. That was really hacky in the 3.0.0 release :) Am 15.09.2017 1:16 nachm. schrieb LboAnn <notifications@github.com>:OK, thank you! 👍

—You are receiving this because you were mentioned.Reply to this email directly, view it on GitHub, or mute the thread.

[2017-09-15 13:01] dabeng opened #11842 "[Request][Author] Add OrgChart"
**Library name:** OrgChart
**Library desctiption:** It's a simple and direct organization chart plugin. Anytime you want a tree-like chart, you can turn to OrgChart
**Git repository url:** https://github.com/dabeng/OrgChart
**npm package name or url:** orgchart
**License (List them all if it's multiple):** MIT
**Official homepage:** https://github.com/dabeng/OrgChart

[2017-09-15 18:51] julmot commented on #8096
@PeterDaveHello I'm currently planning the new architecture of mark.js v9.0.0. As JSDelivr switched to a different CDN architecture I'm having one question specifically for cdnjs: Is there any way to automatically files in this repository automatically, without the need to store them on the vendor repository itself?

[2017-09-15 18:52] julmot commented on #11784
@sufuf3 I was wondering: How would you solve the problem that this repository consists of many files and versions?

[2017-09-16 03:19] sufuf3 commented on #11784
@julmot We have auto-update config in every lib's `package.json`, such as `git auto-update`(eg. https://github.com/cdnjs/cdnjs/blob/master/ajax/libs/AniJS/package.json#L19-L30) or `npm auto-update` (https://github.com/cdnjs/cdnjs/blob/master/ajax/libs/Chart.js/package.json#L11-L19).
Our auto-update mechanism will get the files via detecting the lib release new version from npm or newest git tag.

[2017-09-16 13:25] #11656 closed

[2017-09-16 13:27] #11203 closed

[2017-09-17 08:41] #10981 closed

[2017-09-17 08:46] PeterDaveHello commented on #11838
🤘🏼

[2017-09-17 08:46] PeterDaveHello commented on #11815
Thanks @RRorg !

[2017-09-17 08:47] PeterDaveHello commented on #10857
Note: I replied in the PR :)

[2017-09-17 08:49] PeterDaveHello commented on #11783
It has no version in its repo, and there is no update for 7 years, it's just a sandbox playground as its description says, maybe try to find some similar function library on cdnjs.com or on GitHub and see if we can host it?

[2017-09-17 08:50] PeterDaveHello commented on #9821
@ddeason37 hay sorry for the late reply, yes, it's still open for beginners, feel free to join 👍

[2017-09-17 08:52] PeterDaveHello commented on #11475
@dipikaisdbest anything we can help here? Not sure how's your progress going :)

[2017-09-17 08:53] PeterDaveHello commented on #11452
Sorry, I'm not in charge in this part, I'll ping Ryan again to see if there is any updates.

[2017-09-17 09:03] PeterDaveHello commented on #8096
@julmot I saw your commit `Initial publishing as mark.js package on npm`, we also support to fetch files from npm, just need to switch its auto-update config to use npm auto-update :)

[2017-09-17 09:11] PeterDaveHello commented on #11452
@thomasdavis can you also take a look please? Thanks.

[2017-09-17 10:15] jerone commented on #4187
In an attempt to clean up my created issues that have not been processed or updated over a year, I'm closing this issue. If this issue is still relevant, please reopen another issue.

[2017-09-17 10:15] #4187 closed

[2017-09-17 15:06] Acathur opened #11843 "[Request][Author] Add storagedb2"
**Library name:** storagedb
**Library desctiption:** MongoDB-like API for HTML5 Storage (localStorage and sessionStorage)
**Git repository url:** https://github.com/instapp/storagedb
**npm package name or url** (if there is one): https://www.npmjs.com/package/storagedb2
**License (List them all if it's multiple):** MIT
**Official homepage:**
**Wanna say something? Leave message here:** It's really

[2017-09-17 18:09] prem911 commented on #9725
However, jsDelivr is hosting the same
https://cdn.jsdelivr.net/npm/amazon-cognito-identity-js@1.19.0/dist/amazon-cognito-identity.min.js

[2017-09-18 00:59] sufuf3 commented on #11837
@institutocriap  Thanks for the suggestion, however, this library doesn't have enough notable popularity(like more than 200 stars on GitHub or 800 downloads per month on npm). please take a look on our [README.md](https://github.com/cdnjs/cdnjs/blob/master/README.md) for detail, it's always good to read the document before open an issue, I'll respectfully suggest you open a new issue again when th

[2017-09-18 01:01] sufuf3 commented on #11839
Duplicated with #10590

[2017-09-18 01:02] sufuf3 commented on #11841
@gRoussac  Thanks for the suggestion, however, this library doesn't have enough notable popularity(like more than 200 stars on GitHub or 800 downloads per month on npm). please take a look on our [README.md](https://github.com/cdnjs/cdnjs/blob/master/README.md) for detail, it's always good to read the document before open an issue, I'll respectfully suggest you open a new issue again when the libr

[2017-09-18 01:04] sufuf3 commented on #11842
Duplicated with #10857 (Today, I will help fix #11826)

[2017-09-18 01:06] sufuf3 commented on #11843
@Acathur  this library doesn't have enough popularity (like more than 200 stars on GitHub or 800 downloads per month on npm). Please take a look at our [README.md](https://github.com/cdnjs/cdnjs/blob/master/README.md). Would you mind to open an issue again when the library has more popularity? If there are no response in 7 days, I will close this issue. Thanks for your great work and contribution.

[2017-09-18 01:25] sufuf3 commented on #11832
@PeterDaveHello Would you please take a look?
I think maybe it's nice to have.

Thanks.

[2017-09-18 02:06] Acathur commented on #11843
I see, thx

[2017-09-18 02:06] #11843 closed

[2017-09-18 07:27] Pingulea opened #11844 "[Request] Add winstrap"
**Library name:** winstrap
**Library desctiption:** The official Bootstrap theme for Windows, the theme for Microsoft design language
**Git repository url:** https://github.com/winjs/winstrap
**npm package name or url** (if there is one): winstrap
**License (List them all if it's multiple):** MIT License
**Official homepage:** http://winstrap.azurewebsites.net/
**Wanna say something? Leave message

[2017-09-18 09:55] sashberd opened #11845 "Library expect.js is outdated"
Library https://github.com/Automattic/expect.js is outdated

There is a need to add auto-update configuration in package json

FYR

[2017-09-18 10:54] sashberd opened #11846 "Library prototype is outdated"
The library https://github.com/sstephenson/prototype is outdated
There is a need to add autoupdate config
FYR

[2017-09-18 13:37] #10240 closed

[2017-09-18 16:33] gRoussac commented on #11841
Hi,

Thanks for your answer. Nevermind it is hosted by jsdelivr https://www.jsdelivr.com/package/npm/ui-router-components

Success !

[2017-09-18 16:33] #11841 closed

[2017-09-18 17:50] dipikaisdbest commented on #11475
hi @PeterDaveHello  I am not able to make a concrete progress on this as yet. Might need someone's help.

[2017-09-18 18:48] PeterDaveHello commented on #11787
Let's host this one, just with a lower priority.

[2017-09-18 18:48] #9544 closed

[2017-09-18 19:02] PeterDaveHello commented on #9544
Here we go: https://cdnjs.com/libraries/redux-promise-middleware

[2017-09-19 01:33] sufuf3 commented on #11845
@sashberd Thanks, it's awesome!
Let's do it.
CDNJS: https://github.com/cdnjs/cdnjs/tree/master/ajax/libs/expect.js
Library's URL: https://github.com/Automattic/expect.js

[2017-09-19 01:45] sufuf3 commented on #11846
Actually, CDNJS host the latest version of this lib. https://github.com/cdnjs/cdnjs/tree/master/ajax/libs/prototype https://github.com/sstephenson/prototype/releases

And we'd like to ignore `*_rc` version like https://github.com/cdnjs/cdnjs/blob/master/.gitignore#L57

So maybe this lib is not really outdated?
@sashberd What do you think?

Thank you for suggestion.

[2017-09-19 09:40] VidhyaKumar opened #11849 "[Request] Add jquery.event.move"
**Library name:** jquery.event.move
**Library desctiption:** Custom events 'movestart', 'move' and 'moveend' for jQuery.
**Git repository url:** https://github.com/stephband/jquery.event.move
**npm package name or url** (if there is one): https://www.npmjs.com/package/jquery.event.move
**License (List them all if it's multiple):**
**Official homepage:** http://stephband.info/jquery.event.move
**Wa

[2017-09-19 10:44] #11463 closed

[2017-09-19 10:52] sufuf3 commented on #11475
@dipikaisdbest How can I help you?
Could you descript what situation did you meet?

Here are the tips, hope can help you.

- [**Adding a new library via a single package.json**](https://github.com/cdnjs/cdnjs/blob/master/CONTRIBUTING.md#e-adding-a-new-library-by-a-single-packagejson)
  1. Creating a `package.json` under `ajax/libs/<LIBRARY_NAME>`
  2. Edit the `package.json`.
      - Required fiel

[2017-09-19 14:00] dedo1911 opened #11850 "[Request] Add datatables-bulma"
**Library name:** datatables-bulma
**Library desctiption:** DataTables styling for the Bulma CSS framework
**Git repository url:** https://github.com/JDilleen/datatables-bulma
**npm package name or url** (if there is one): https://www.npmjs.com/package/datatables-bulma
**License (List them all if it's multiple):** MIT
**Official homepage:** https://github.com/JDilleen/datatables-bulma

[2017-09-20 17:18] sufuf3 commented on #11850
@dedo1911 Thanks for the suggestion, however, this library doesn't have enough notable popularity(like more than 200 stars on GitHub or 800 downloads per month on npm). please take a look on our [README.md](https://github.com/cdnjs/cdnjs/blob/master/README.md) for detail, it's always good to read the document before open an issue, I'll respectfully suggest you open a new issue again when the libra

[2017-09-20 17:20] sufuf3 commented on #11783
@ihsinhw What do you think about this comment https://github.com/cdnjs/cdnjs/issues/11783#issuecomment-330030221 ?
Thank you.

[2017-09-20 17:20] sufuf3 commented on #11796
Closed due to no response in 7 days. cc @PeterDaveHello

[2017-09-20 17:21] sufuf3 commented on #11799
Closed due to no response in 7 days. cc @PeterDaveHello

[2017-09-20 17:21] #11799 closed

[2017-09-20 20:50] RibeiroAna opened #11855 "[Request] Add angular-muti-step-form"
**Library name:** angular-muti-step-form
**Git repository url:** https://github.com/troch/angular-multi-step-form
npm: https://www.npmjs.com/package/angular-multi-step-form

[2017-09-21 00:27] sufuf3 commented on #11777
close because all of them are added. cc @PeterDaveHello

[2017-09-21 00:27] #11777 closed

[2017-09-21 06:49] ihsinhw commented on #11783
Thank you for @PeterDaveHello  and @sufuf3 , maybe let me consider and find the similar function library.

[2017-09-21 06:55] ihsinhw commented on #11784
Thank you for your help @sufuf3

[2017-09-21 07:20] tinpont opened #11856 "[Request] Add QRCode.js"
**Library name:** QRCode.js
**Library desctiption:** QRCode.js is javascript library for making QRCode. QRCode.js supports Cross-browser with HTML5 Canvas and table tag in DOM. QRCode.js has no dependencies.
**Git repository url:** https://github.com/davidshimjs/qrcodejs
**npm package name or url (if there is one):**
**License (List them all if it's multiple):** MIT
**Official homepage:** https://

[2017-09-21 07:31] #11856 closed

[2017-09-21 11:13] heyesr opened #11857 "[Request] Add rgraph"
**Library name:** RGraph
**Library desctiption:**  A free SVG and canvas based charts library
**Git repository url:**
**npm package name or url** (if there is one):
**License (List them all if it's multiple):** MIT
**Official homepage:**  http://www.rgraph.net
**Wanna say something? Leave message here:**

=====================

Notes from cdnjs maintainer(please remove this section after you read

[2017-09-21 13:57] mayurshirishmohite opened #11858 "[Request] Add mobiriseicons"
**Library name:** mobiriseicons
**Library desctiption:**
**Git repository url:**
**npm package name or url** (if there is one):
**License (List them all if it's multiple):**
**Official homepage:**
**Wanna say something? Leave message here:**

=====================

Notes from cdnjs maintainer(please remove this section after you read it):
Please read the [README.md](https://github.com/cdnjs/cdnjs#

[2017-09-21 17:14] #11614 closed

[2017-09-21 17:22] #11700 closed

[2017-09-22 01:11] sufuf3 commented on #11858
@mayurshirishmohite Thank you for your suggestion.
I know you mean this lib https://mobiriseicons.com/ that CDNJS can host, maybe.
But could you give us some info about this lib's repository or npm package?
We usually add the lib from upstream. So we need these info.

Thank you.

[2017-09-22 01:14] sufuf3 commented on #11855
@RibeiroAna Thanks for the suggestion, however, this library doesn't have enough notable popularity(like more than 200 stars on GitHub or 800 downloads per month on npm). please take a look on our [README.md](https://github.com/cdnjs/cdnjs/blob/master/README.md) for detail, it's always good to read the document before open an issue, I'll respectfully suggest you open a new issue again when the lib

[2017-09-22 01:20] sufuf3 commented on #11857
@heyesr Thank you for your suggestion.
Could you give us some info about this lib's repository or npm package?
We usually add the lib from upstream. So we need this info.

Thank you.

[2017-09-22 01:22] sufuf3 commented on #11783
@ihsinhw OK, thanks.
Close because the library doesn't have enough notable popularity.
cc @PeterDaveHello

[2017-09-22 01:22] #11783 closed

[2017-09-22 06:15] Celinalynch opened #11859 "[Request] Add library_name"
**Library name:**
**Git repository url:**
**npm package name or url** (if there is one):
**License (List them all if it's multiple):**
**Official homepage:**
**Wanna say something? Leave message here:**

=====================

Notes from cdnjs maintainer:
Please read the [README.md](https://github.com/cdnjs/cdnjs#cdnjs-library-repository) and [CONTRIBUTING.md](https://github.com/cdnjs/cdnjs/blob/m

[2017-09-22 07:27] heyesr commented on #11857
Hi,

There's no public source code repository. I use SVN to track my changes whilst developing - but there's no public access  I'm afraid. If you need a list of URLs for the libraries I can provide that - eg (these are the minified libraries)

https://www.rgraph.net/libraries/RGraph.common.core.js
https://www.rgraph.net/libraries/RGraph.bar.js
etc

If you need URLs for the unminified source code I

[2017-09-22 12:26] sufuf3 commented on #11857
@heyesr Thank you.
@PeterDaveHello could we help add this lib?
This lib seems to be added manually.
1. the website traffic statistics: https://www.alexa.com/siteinfo/rgraph.net
2. the versions on the lib: https://www.rgraph.net/download

Thanks.

[2017-09-22 12:48] heyesr commented on #11857
Here's a list to the minified library files (and if you want the unminified versions just let me know):

https://www.rgraph.net/libraries/RGraph.bar.js
https://www.rgraph.net/libraries/RGraph.bipolar.js
https://www.rgraph.net/libraries/RGraph.common.annotate.js
https://www.rgraph.net/libraries/RGraph.common.context.js
https://www.rgraph.net/libraries/RGraph.common.core.js
https://www.rgraph.net/li

[2017-09-22 15:31] #11859 closed

[2017-09-22 18:56] smileytechguy opened #11860 "[Request] Add jQuery bracket"
**Library name:** jQuery bracket
**Library desctiption:** jQuery bracket is a jQuery plugin that lets users create and display single and double elimination brackets for tournament play.
**Git repository url:** https://github.com/teijo/jquery-bracket
**npm package name or url** (if there is one):
**License (List them all if it's multiple):** MIT
**Official homepage:** http://www.aropupu.fi/bracket

[2017-09-22 19:13] PeterDaveHello opened #11861 "Create a debug flow when getting issues on CDN"
Which can help users get the issues solved faster.

Basic steps:
 - Test with different browsers, devices
 - Show the result of cdnjs.com/cdn-cgi/trace cdnjs.cloudlfare.com/cdn-cgi/trace
 - Show traceroute result to cdnjs.com / cdnjs.cloudflare.com

etc.

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/49635499-create-a-debug-flow-wh

[2017-09-22 19:56] PeterDaveHello commented on #11796
Let's give it a try. With lower priority of course.

[2017-09-22 20:01] PeterDaveHello opened #11862 "Introduce new label - low priority"
I just created a new label - [Low Priority](https://github.com/cdnjs/cdnjs/labels/Low%20Priority), which can be used to be applied on those libraries we could add but with lower priority, this kind of libraries, we can take them as assignment, practice for the intern members.

@cdnjs/intern3 please help mark the issues with this label properly in future, or if you remember any of that issues relat

[2017-09-22 20:07] PeterDaveHello commented on #11862
@cdnjs/intern3 sign in here to let me know you read this, then we can close this issue.

also cc @cdnjs/active-contributor @cdnjs/library-reviewer

[2017-09-23 01:13] sufuf3 commented on #11862
Got it.

[2017-09-23 01:14] sufuf3 commented on #11860
Duplicated with #8938

[2017-09-23 05:29] extend1994 commented on #11862
OK!

[2017-09-23 09:12] extend1994 commented on #11860
Move to #8938

[2017-09-23 09:12] #11860 closed

[2017-09-23 12:48] jakobzhao opened #11864 "[Request][Author] Add storymap.js"
**Library name:** storymap.js
**Library desctiption:*digital storytelling with web maps*
**Git repository url:*https://github.com/jakobzhao/storymap*
**npm package name or url** (if there is one):
**License (List them all if it's multiple):**
**Official homepage:**
**Wanna say something? Leave message here:**

=====================

Notes from cdnjs maintainer(please remove this section after you

[2017-09-23 13:01] ncoden opened #11865 "[Request] Update angular-ui-router"
The currently hosted package [angular-ui-router](https://cdnjs.com/libraries/angular-ui-router) point to the NPM package [angular-ui-router](https://www.npmjs.com/package/angular-ui-router), but it has been renamed to [@uirouter/angularjs](https://www.npmjs.com/package/@uirouter/angularjs) (see the [package.json](https://github.com/angular-ui/ui-router/blob/master/package.json)).

- [angular-ui-ro

[2017-09-23 13:02] ncoden commented on #11865
Poke @PeterDaveHello @extend1994 @sufuf3 ;)

[2017-09-24 00:43] sufuf3 commented on #11864
@jakobzhao this library doesn't have enough popularity (like more than 200 stars on GitHub or 800 downloads per month on npm). Please take a look at our [README.md](https://github.com/cdnjs/cdnjs/blob/master/README.md). Would you mind to open an issue again when the library has more popularity? If there are no response in 7 days, I will close this issue. Thanks for your great work and contribution

[2017-09-24 00:51] sufuf3 commented on #11865
Thank you. We'll update ASAP.

[2017-09-24 11:27] sufuf3 commented on #11865
Duplicated with #11713
move to #11713
work on #11714

[2017-09-24 11:28] #11865 closed

[2017-09-24 16:32] sufuf3 commented on #10990
@pvnr0082t the author's answer is here: https://github.com/jeromeetienne/AR.js/issues/37#issuecomment-292776182

[2017-09-24 16:56] sufuf3 commented on #11819
Memo: 936 downloads in the last month
https://npmcharts.com/compare/flexiblegrid

[2017-09-24 22:25] jakobzhao commented on #11864
Thank you so much! I am currently teachings students on digital storytelling with web maps. I guess It would be better if they know more about what is CDN. and you guys did a great job on serving a variety of libraries. Sure, I will do once it reaches 200 stars.

Thanks again.

Best,
Bo

[2017-09-24 22:34] PeterDaveHello commented on #11864
@jakobzhao if you can tag each version by git tag, and would like to send a pull request to us, I believe 50 stars in this case would be enough 😊

[2017-09-24 22:47] gitramro opened #11870 "[Request] Add ngModal"
**Library name:** ngModal
**Library desctiption:**
**Git repository url:*https://github.com/adamalbrecht/ngModal*
**npm package name or url** (if there is one):
**License (List them all if it's multiple):**
**Official homepage:**
**Wanna say something? Leave message here:**

=====================

Notes from cdnjs maintainer(please remove this section after you read it):
Please read the [README.md

[2017-09-25 06:17] #11846 closed

[2017-09-25 07:17] 9thQuadrant opened #11872 "[Request] Add w3.css"
**Library name:** w3.css
**Library desctiption: A CSS framework for easier contruction of pages which offers material design in an easier manner**
**Official homepage: https://www.w3schools.com/w3css/**

=====================

We encourage you to add a library via sending pull request,
it'll be faster than just opening a request issue,
since there are tons of issues, please wait with patience,
and

[2017-09-25 08:47] sashberd commented on #11832
@PeterDaveHello
Would you like I will do an update for this issue?

[2017-09-25 11:51] Rob-Rychs commented on #9822
Hey @PeterDaveHello, I'll handle this one 👨‍💻

[2017-09-25 12:36] PeterDaveHello commented on #9822
@Rob-Rychs cool!

[2017-09-25 15:52] hstarorg opened #11875 "[Request] Add kindeditor"
**Library name:** kindeditor
**Library desctiption:** WYSIWYG HTML editor
**Git repository url:** https://github.com/kindsoft/kindeditor
**npm package name or url** (if there is one):
**License (List them all if it's multiple):**  LGPL-2.1
**Official homepage: ** http://kindeditor.net/demo.php
**Wanna say something? Leave message here:**

=====================

Notes from cdnjs maintainer(please r

[2017-09-25 18:53] kaelig commented on #6573
@maruilian11 hi! Can you please remove my name from future commits? Thank you 🤗

[2017-09-25 22:28] geek1011 opened #11877 "[Request] Add epub.js"
**Library name**: epub.js
**Library description**: An epub library.
**Git repository url**: https://github.com/futurepress/epub.js/
**npm package name or url (if there is one)**: https://www.npmjs.com/package/epub.js
**License (List them all if it's multiple)**: BSD 2-clause
**Official homepage**: http://futurepress.github.io/epub.js/

<bountysource-plugin>

---
Want to back this issue? **[Post a

[2017-09-26 08:40] sufuf3 commented on #11875
Duplicated with #6153
close and move to #6153
cc @PeterDaveHello

[2017-09-26 08:40] #11875 closed

[2017-09-26 08:46] sufuf3 commented on #11870
@gitramro Thanks for the suggestion, however, this library doesn't have enough notable popularity(like more than 200 stars on GitHub or 800 downloads per month on npm). please take a look on our [README.md](https://github.com/cdnjs/cdnjs/blob/master/README.md) for detail, it's always good to read the document before open an issue, I'll respectfully suggest you open a new issue again when the libra

[2017-09-26 08:48] sufuf3 commented on #11872
@9thQuadrant Is there any repository of this lib?
Thank you.

[2017-09-26 10:37] 9thQuadrant commented on #11872
I think there is no repository, it is created by w3schools website.
It was just a css file and there is also a w3.js in the same website.

On 26 Sep 2017 2:18 p.m., "Samina Fu" <notifications@github.com> wrote:

@9thQuadrant <https://github.com/9thquadrant> Is there any repository of
this lib?
Thank you.

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on

[2017-09-26 10:43] extend1994 commented on #11839
Move to #10590

[2017-09-26 10:43] #11839 closed

[2017-09-26 10:52] elieobeid7 opened #11879 "[Request] Add riotgear version 2"
https://riotgear2.github.io/

their cdn link points to version one, possibly because they were unable to get jsdeliver to host it, it would be nice if you could host their library. I'm not affiliated with them, in fact I started learning riotjs yesterday, wanted to add charts and saw riotgearv2

[2017-09-26 11:13] #11506 closed

[2017-09-26 11:14] #11744 closed

[2017-09-26 11:25] PeterDaveHello commented on #11857
So @heyesr are you the author? It makes no sense that an open source project has no open access development history. We also need to confirm its popularity.

[2017-09-26 11:38] heyesr commented on #11857
I am. Open Source software does not have to have a full development history online. The thing that defines it as Open Source is the license - and RGraphs license is MIT.

In the same vein you host Highcharts if I'm not mistaken - and that uses a Creative Commons non-open source license. I remember that someone from the Mozilla team once told Mozilla contributors to stop using it for that very reas

[2017-09-26 12:31] amitthore opened #11880 "[Request] Add ui-router"
**Library name:** angular-ui-router
**Library desctiption:**
**Git repository url:**
**npm package name or url** (if there is one): https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/1.0.3/angular-ui-router.js.map
**License (List them all if it's multiple):**
**Official homepage:**
**Wanna say something? Leave message here:**
i want this file

=====================

Notes from cdnjs maintain

[2017-09-26 13:06] NandoMB opened #11881 "[Request] Add angular-date-time-input"
**Library name:** angular-date-time-input
**Library desctiption:**
**Git repository url:**
**npm package name or url** (if there is one):
**License (List them all if it's multiple):**
**Official homepage:**
**Wanna say something? Leave message here:**

=====================

Notes from cdnjs maintainer(please remove this section after you read it):
Please read the [README.md](https://github.com/cd

[2017-09-26 13:54] sufuf3 commented on #11872
@PeterDaveHello How can we do for this issue?
I also can't find the repo of this lib.
Thanks.

[2017-09-26 15:29] VijayGomathi commented on #11514
Hi, @PeterDaveHello  I have created a branch locally and did the necessary changes for this request, but I cannot push the branch to remote. I am given the following error message
"remote: Permission to cdnjs/cdnjs.git denied to VijayGomathi."
What should I do now?
I am a newbie to github and contribution to projects. Please guide me through the process of creating a pull request.
![error_message]

[2017-09-26 16:19] sufuf3 commented on #11514
@VijayGomathi May I ask some information?
What is your `origin` remote link?
I think you should fork this repo and push to your fork link.
![2017-09-27 12 16 51](https://user-images.githubusercontent.com/8349587/30871417-7682f7cc-a2ac-11e7-806c-ec5e59d7e3db.png)

Then, you can see the Pull Request button in CDNJS's repo.

Thanks for your joining.

[2017-09-27 00:26] tim-nz opened #11882 "[Request] Add stretchy"
**Library name:** stretchy
**Library description:** Form element autosizing plugin
**Git repository url:** https://github.com/LeaVerou/stretchy
**npm package name or url** (if there is one): https://www.npmjs.com/package/stretchy
**License (List them all if it's multiple):** MIT
**Official homepage:** https://leaverou.github.io/stretchy/
**Wanna say something? Leave message here:** Thanks

[2017-09-27 01:04] PeterDaveHello opened #11883 "[Request] Add webtorrent-component"
**Library name:** webtorrent-component
**Library desctiption:** WebTorrent HTML element
**Git repository url:** https://github.com/mikeal/webtorrent-component
**npm package name or url**: webtorrent-component
**License:** Apache-2.0

=====================

For beginners who is interested in picking up this issue:

In this issue, we are going to host a new web front-end library on CDNJS, so that we

[2017-09-27 01:06] PeterDaveHello opened #11884 "[Request] Add roll-call"
**Library name:** roll-call
**Library description:**
**Git repository url:** https://github.com/mikeal/roll-call
**npm package name or url**: roll-call
**License:** Apache-2.0
**Official homepage:** https://rollcall.audio

=====================

For beginners who is interested in picking up this issue:

In this issue, we are going to host a new web front-end library on CDNJS, so that web developer

[2017-09-27 04:16] 9thQuadrant commented on #11872
I'll add repo and ping you shortly

On 26 Sep 2017 7:24 p.m., "Samina Fu" <notifications@github.com> wrote:

@PeterDaveHello <https://github.com/peterdavehello> How can we do for this
issue?
I also can't find the repo of this lib.
Thanks.

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub
<https://github.com/cdnjs/cdnjs/issues/11872#issuecomment-3

[2017-09-27 06:57] sarveshascbe opened #11885 "AlaSQL v0.4.2 throws exception when exporting to excel (XLS) multiple times"
I am using AlaSQL v0.4.2 for exporting a javascript array object to excel.

Used following options :+1:
alasql.options.cache = false;
alasql.options.logtarget = 'console';

var mystyle = {
				            headers: true,
				            sheetid: 'Counter Correction',
				        };

var excelObj = alasql('SELECT * INTO XLS("XYZ.xls",?) FROM ?', [mystyle, counterCorrectionData]);

counterCorrectionD

[2017-09-27 08:08] VijayGomathi commented on #11514
@sufuf3 Thanks you. I did not fork. I was using "https://github.com/cdnjs/cdnjs.git"

[2017-09-27 09:53] ashucg commented on #11786
Hi guys,

I am no longer experiencing that issue. Thanks to both of you for your time and support.

[2017-09-27 09:53] #11786 closed

[2017-09-27 10:36] Deepak02mb opened #11887 "[Request] Add elementTransitions.js"
**Library name:** elementTransitions.js
**Library description:**
**Git repository url:** https://github.com/dan-silver/ElementTransitions
**npm package name or url** (if there is one):
**License (List them all if it's multiple):**
**Official homepage:** https://dan-silver.github.io/ElementTransitions/
**Wanna say something? Leave message here:**

=====================

Notes from cdnjs maintainer(

[2017-09-27 10:37] PeterDaveHello commented on #11887
@Deepak02mb any details please?

[2017-09-27 11:53] sufuf3 commented on #11879
@elieobeid7 Thanks for the suggestion, however, this library doesn't have enough notable popularity(like more than 200 stars on GitHub or 800 downloads per month on npm). please take a look on our [README.md](https://github.com/cdnjs/cdnjs/blob/master/README.md) for detail, it's always good to read the document before open an issue, I'll respectfully suggest you open a new issue again when the lib

[2017-09-27 11:54] sufuf3 commented on #11881
@NandoMB Thanks for the suggestion.
Do you mean https://github.com/dalelotts/angular-date-time-input this lib?
If yes, this library doesn't have enough notable popularity(like more than 200 stars on GitHub or 800 downloads per month on npm). please take a look on our [README.md](https://github.com/cdnjs/cdnjs/blob/master/README.md) for detail, it's always good to read the document before open an i

[2017-09-27 12:21] #11879 closed

[2017-09-27 13:05] budnix commented on #11824
@sufuf3 Can I ask when this library will be published? I suppose that this issue was partially accepted but for now we are waiting for "notable popularity"?

[2017-09-27 17:09] sufuf3 commented on #11824
@budnix Actually we are working on #11170, also we want to there are more contributors in this repo. 😢
Because there are many issues need to be worked.
If you'd like this lib to be hosted ASAP, we encourage you to add a library via sending a pull request.

Thank you.

[2017-09-27 17:13] sufuf3 commented on #11885
@sarveshascbe CDNJS is web public CDN. So we just host the lib as the same with upstream.
would you discuss with upstream https://github.com/agershun/alasql/issues about your question?
Thank you.

[2017-09-27 17:18] sufuf3 commented on #11880
#11714 need to work on this

[2017-09-27 17:19] epoberezkin opened #11888 "[Request][author] add ajv-async"
Library name: ajv-async (add-on for [ajv](https://github.com/epoberezkin/ajv) JSON Schema Validator)
Git repository url: https://github.com/epoberezkin/ajv-async
npm package url: https://www.npmjs.com/package/ajv-async
License: MIT
Official homepage: https://github.com/epoberezkin/ajv-async

Pulishing ajv-async will substantially reduce the size of bundles distributed with [ajv](https://cdnjs.com/

[2017-09-27 17:19] sufuf3 opened #11889 "[Request] Add cta.js"
**Library name:** cta.js
**Git repository url:** https://github.com/chinchang/cta.js
**npm package name or url** (if there is one): https://www.npmjs.com/package/cta
**License:**  MIT
**Official homepage:** https://kushagragour.in/lab/ctajs/

---
### :octocat: This issue is for the beginner who is interested in sending a pull request and join us.

### ℹ️  introduction
CDNJS is one of the most famo

[2017-09-27 22:43] iamstratos commented on #11889
I'd like to work on this one :)

[2017-09-28 08:41] extend1994 opened #11890 "[Request] Add ng-browser-info"
**Library name:** ng-browser-info
**Repository url:** https://github.com/transferwise/ng-browser-info
**npm package url:** none
**License:** [Apache-2.0](https://github.com/transferwise/ng-browser-info/blob/master/LICENSE)
**Official homepage:** http://transferwise.github.io/ng-browser-info/

## Something you might want to know about CDNJS
CDNJS provides a CDN containing front-end libraries to all

[2017-09-28 13:01] NandoMB commented on #11881
Oh sorry, my mistake... I'll close this issue. Thanks in advance 😃

[2017-09-28 13:01] #11881 closed

[2017-09-28 13:37] fawmi opened #11891 "[Request] Add t-scroll"
**Library name:** t-scroll
**Library description:A modern reveal-on-scroll library with useful options and animations. (Animate Elements On Reveal)
**Git repository url:https://github.com/crazychicken/t-scroll
**npm package name or url** (if there is one): https://www.npmjs.com/package/t-scroll
**License (List them all if it's multiple):MIT License
**Official homepage:https://t-scroll.com/
**Wanna