[2017-03-02 11:02] qhhsy opened #10769 "[Request] Add MUI"
**Library name:** mui
**Git repository url:** https://github.com/dcloudio/mui.git
**License (List them all if it's multiple):** MIT
**Official homepage:** https://dev.dcloud.net.cn/mui
thanks!!

[2017-03-02 12:39] fverry opened #10773 "[Request] Add Iframe Height Jquery Plugin"
**Library name:** Iframe Height Jquery Plugin
**Git repository url:** https://github.com/Sly777/Iframe-Height-Jquery-Plugin
**License (List them all if it's multiple):** MIT License

[2017-03-02 12:42] fverry opened #10774 "[Request] Add jquery-tokeninput"
**Library name:** jquery-tokeninput
**Git repository url:** https://github.com/loopj/jquery-tokeninput
**License (List them all if it's multiple):** choose GPL or MIT license
**Official homepage:** http://loopj.com/jquery-tokeninput/

[2017-03-02 12:43] fverry opened #10775 "[Request] Upgrade jquery-ajaxtransport-xdomainrequest to 1.0.4"
**CDNJS URL:** https://cdnjs.com/libraries/jquery-ajaxtransport-xdomainrequest
**Max CDNJS version:** 1.0.3
**Git repository url:** https://github.com/MoonScript/jQuery-ajaxTransport-XDomainRequest
**Upgrade to:**  1.0.4 - support protocol-relative URLs, use peerDependencies in package.json

[2017-03-02 12:59] fverry opened #10776 "[Request] Add Awkward Showcase"
**Library name:** Awkward Showcase
**Git repository url:** https://github.com/06b/Awkward-Showcase
**Official homepage:** http://www.awkwardgroup.com/sandbox/awkward-showcase-a-jquery-plugin/

[2017-03-02 15:25] jimmyshen007 opened #10777 "[Request] Add slippry"
**Library name:**
**Git repository url:**
**npm package name or url** (if there is one):
**License (List them all if it's multiple):**
**Official homepage:**
**Wanna say something? Leave message here:**

=====================

Notes from cdnjs maintainer:
Please read the [README.md](https://github.com/cdnjs/cdnjs#cdnjs-library-repository) and [CONTRIBUTING.md](https://github.com/cdnjs/cdnjs/blob/m

[2017-03-02 17:28] hare1039 commented on #10768
Close due to empty issue.

[2017-03-02 17:28] #10768 closed

[2017-03-02 17:32] hare1039 commented on #10769
Hi @phhsy,
Our member is currently working on this, and I think the PR will be soon merged,
so please wait a few more days. Thanks!

duplicate #10514

[2017-03-02 17:37] hare1039 commented on #10776
Hi @fverry,
We're sorry that we can't host this library since it doesn't have enough notable popularity (100 stars on github / npm 500 downloads per month). If you think this is a great library we should include to our service, please contact PeterDaveHello, the maintainer of cdnjs.

Feel free to show some other references if you have something else want to discuss with us. If there is no response

[2017-03-02 17:38] hare1039 commented on #10777
https://github.com/booncon/slippry

[2017-03-02 17:43] hare1039 commented on #10761
@PeterDaveHello I think it is impossible to delete files from cdnjs, is it?

[2017-03-02 17:44] PeterDaveHello commented on #10761
@hare1039 If the files are confirmed useless then we can.

[2017-03-02 17:45] hare1039 commented on #10687
Close due to no response. cc @PeterDaveHello

[2017-03-02 17:45] #10687 closed

[2017-03-02 17:46] hare1039 commented on #10685
Close due to no response. cc @PeterDaveHello

[2017-03-02 17:46] #10685 closed

[2017-03-02 17:50] bfred-it commented on #10761
@hare1039 unlisting it would be enough.

@PeterDaveHello yes:

 - `common-js` is unlikely to be used in the browser;
 - `es-modules` can't be used either, at least until `<script type=module>` becomes widespread

[2017-03-02 20:53] extend1994 commented on #10777
Duplicated with #9484

[2017-03-02 22:32] stephengroat opened #10782 "[Request] Add unveil2"
**Library name:** unveil2
**Git repository url:** https://github.com/nabble/unveil2
**npm package name or url** (if there is one): https://www.npmjs.com/package/unveil2
**License (List them all if it's multiple):** MIT
**Official homepage:** nabble.github.io/unveil2
**Wanna say something? Leave message here:**

=====================

Notes from cdnjs maintainer:
Please read the [README.md](https:/

[2017-03-02 23:41] oramo1289 opened #10783 "react"
**Library name:**
**Git repository url:**
**npm package name or url** (if there is one):
**License (List them all if it's multiple):**
**Official homepage:**
**Wanna say something? Leave message here:**

=====================

Notes from cdnjs maintainer:
Please read the [README.md](https://github.com/cdnjs/cdnjs#cdnjs-library-repository) and [CONTRIBUTING.md](https://github.com/cdnjs/cdnjs/blob/m

[2017-03-03 04:57] aequasi opened #10784 "[Request] Add cheerio"
**Library name:** cheerio
**Git repository url:** https://github.com/cheeriojs/cheerio
**npm package name or url** (if there is one): cheerio
**License (List them all if it's multiple):** MIT
**Official homepage:** https://github.com/cheeriojs/cheerio
**Wanna say something? Leave message here:**

[2017-03-03 04:58] #10784 closed

[2017-03-03 05:49] amitsingh17051 opened #10785 "[Request] Add Simple_Grid"
**Simple Grid:**
**https://github.com/amitsingh17051/Simple_Grid/blob/master/Simple.css:**
**npm package name or url** (if there is one):
**License (List them all if it's multiple):**
**Official homepage:**
**Wanna say something? Leave message here:**

=====================

Notes from cdnjs maintainer:
Please read the [README.md](https://github.com/cdnjs/cdnjs#cdnjs-library-repository) and [CONTR

[2017-03-03 10:34] extend1994 commented on #10782
Hi @stephengroat
The library doesn't have enough popularity(100 stars/watchers on GitHub and 500 downloads/month on npm registry are good examples). You can take a look on our [issue rule](https://github.com/cdnjs/cdnjs/blob/master/.github/CONTRIBUTING.md#b-request-a-new-library) for more details :)
We suggest you open a issue again when the repo has notable popularity.

This issue will be closed

[2017-03-03 10:36] extend1994 commented on #10783
Hi @oramo1289 Could you please fill out the information we need?

Git repository url:
npm package name or url (if there is one):
License (List them all if it's multiple):
Official homepage:

[2017-03-03 10:38] extend1994 commented on #10785
Hi @amitsingh17051
The library doesn't have enough popularity(100 stars/watchers on GitHub and 500 downloads/month on npm registry are good examples). You can take a look on our [issue rule](https://github.com/cdnjs/cdnjs/blob/master/.github/CONTRIBUTING.md#b-request-a-new-library) for more details :)
We suggest you open a issue again when the repo has notable popularity.

This issue will be close

[2017-03-03 10:39] PeterDaveHello commented on #10783
Do you mean this react from facebook https://cdnjs.com/libraries/react ?

[2017-03-03 10:46] extend1994 commented on #10543
@PeterDaveHello Should we hold this library?

[2017-03-03 10:48] PeterDaveHello commented on #10543
@englishextra would you like to send a pull request to add it?

[2017-03-03 10:52] extend1994 commented on #10545
@PeterDaveHello Should we hold this library? Or just close it cause no response?

[2017-03-03 10:57] kinotto commented on #10545
@extend1994  ok i will open a new issue if it reaches that threshold. thanks for the info.

[2017-03-03 10:58] PeterDaveHello commented on #10545
@kinotto thanks!

[2017-03-03 11:00] extend1994 commented on #10757
Hi @elijahcruz12
The library doesn't have enough popularity(100 stars/watchers on GitHub and 500 downloads/month on npm registry are good examples). You can take a look on our [issue rule](https://github.com/cdnjs/cdnjs/blob/master/.github/CONTRIBUTING.md#b-request-a-new-library) for more details :)
We suggest you open a issue again when the repo has notable popularity.

This issue will be closed

[2017-03-03 11:29] #10564 closed

[2017-03-03 11:38] extend1994 commented on #10545
Close this issue cause insufficient popularity, cc @PeterDaveHello

[2017-03-03 11:38] #10545 closed

[2017-03-03 12:09] PeterDaveHello commented on #10625
Duplicated with #8102

[2017-03-03 12:09] #10625 closed

[2017-03-03 12:09] PeterDaveHello commented on #10762
Moved to #8102

[2017-03-03 12:09] #10762 closed

[2017-03-03 12:12] englishextra commented on #10543
@PeterDaveHello I will

[2017-03-03 12:12] PeterDaveHello commented on #10543
@englishextra Thanks

[2017-03-03 13:02] #10461 closed

[2017-03-03 14:03] leif81 opened #10789 "[Request] Add candy chat"
**Library name:**  Candy
**Git repository url:**  https://github.com/candy-chat/candy
**npm package name or url** (if there is one):
**License (List them all if it's multiple):** MIT
**Official homepage:** http://candy-chat.github.io/candy/
**Wanna say something? Leave message here:** As a stretch goal, there are a number of useful plugins for Candy (https://github.com/candy-chat/candy-plugins) th

[2017-03-03 14:49] extend1994 commented on #9337
@PeterDaveHello So what I need to add are all files under `build` and `event.js`, and I don't need to add other files under `third-party`? Or I should ask the author what should I add to confirm if adding `event.js` is suitable?

[2017-03-03 14:53] extend1994 commented on #9475
the repository seems https://github.com/2m3/jqPuzzle.
Close this issue cause no response and insufficient popularity, cc @PeterDaveHello

[2017-03-03 14:53] #9475 closed

[2017-03-03 16:07] stephengroat commented on #10782
I completely understand.

I was hoping that there could be an exception since a previous, now
un-maintained version (https://cdnjs.com/libraries/unveil) is listed

On Fri, Mar 3, 2017 at 2:34 AM LboAnn <notifications@github.com> wrote:

[2017-03-03 16:36] extend1994 commented on #10483
Hi @pokamiami
The library doesn't have enough popularity(100 stars/watchers on GitHub and 500 downloads/month on npm registry are good examples). You can take a look on our [issue rule](https://github.com/cdnjs/cdnjs/blob/master/.github/CONTRIBUTING.md#b-request-a-new-library) for more details :)
We suggest you open a issue again when the repo has notable popularity.

This issue will be closed if

[2017-03-03 16:38] extend1994 commented on #10474
Hi @mallchel
The library doesn't have enough popularity(100 stars/watchers on GitHub and 500 downloads/month on npm registry are good examples). You can take a look on our [issue rule](https://github.com/cdnjs/cdnjs/blob/master/.github/CONTRIBUTING.md#b-request-a-new-library) for more details :)
We suggest you open a issue again when the repo has notable popularity.

This issue will be closed if t

[2017-03-03 16:39] extend1994 commented on #10482
Hi @pokamiami
The library doesn't have enough popularity(100 stars/watchers on GitHub and 500 downloads/month on npm registry are good examples). You can take a look on our [issue rule](https://github.com/cdnjs/cdnjs/blob/master/.github/CONTRIBUTING.md#b-request-a-new-library) for more details :)
We suggest you open a issue again when the repo has notable popularity.

This issue will be closed if

[2017-03-03 18:04] PeterDaveHello commented on #10789
Looks like the main file is not inside its repo: https://github.com/candy-chat/candy/blob/v2.2.0/bower.json#L11, @leif81 would you like to help confirm if they can provide the files need to be hosted in the repo? Thanks.

[2017-03-03 18:31] leif81 commented on #10789
@PeterDaveHello I found the main file in the zip under the GitHub releases tab:

https://github.com/candy-chat/candy/releases/download/v2.2.0/candy-2.2.0.zip

The main file references the contents of the "res/" folder. Is that possible to host too?

[2017-03-03 19:49] PeterDaveHello commented on #10789
We don't support to download files from the GitHub download feature yet, and would hope to use auto-update feature, which needs the files to be inside the repository, they don't need to be in the `master` or `dev` branch, just need to be in the tagged commit, like v2.2.0, thanks.

[2017-03-03 19:51] PeterDaveHello commented on #9337
@extend1994 as I mentioned, you'll need to check if the third-party libs already hosted on cdnjs, if not, can we host it individually? (meets enough popularity and other requirements?) If we can not host it individually, then we'll consider to add them.

[2017-03-03 19:52] PeterDaveHello commented on #10761
Thanks @bfred-it, @hare1039 you could be the first member of @cdnjs/intern3 to remove library files on cdnjs 😎

[2017-03-03 20:04] leif81 commented on #10789
If it were published to npmjs would that work for you?

[2017-03-03 20:06] PeterDaveHello commented on #10789
@leif81 could be an option :)

[2017-03-04 11:01] extend1994 commented on #10389
@PeterDaveHello If I want to add old missing versions of it, should I open another issue or just do it and cc this issue?

[2017-03-04 11:02] PeterDaveHello commented on #10389
@extend1994 Let's open a new one.

[2017-03-04 11:03] extend1994 commented on #10389
OK, thanks!

[2017-03-04 11:08] extend1994 opened #10793 "Add missing versions of bootstrap-rtl"
**Library name:** bootstrap-rtl
**Git repository url:** https://github.com/morteza/bootstrap-rtl
**License (List them all if it's multiple):** [Unlicense](https://github.com/morteza/bootstrap-rtl/blob/master/UNLICENSE)

[2017-03-04 11:08] hundare opened #10794 "magnific-popup.js"
**Library name:**
**Git repository url:**
**npm package name or url** (if there is one):
**License (List them all if it's multiple):**
**Official homepage:**
**Wanna say something? Leave message here:**

=====================

Notes from cdnjs maintainer:
Please read the [README.md](https://github.com/cdnjs/cdnjs#cdnjs-library-repository) and [CONTRIBUTING.md](https://github.com/cdnjs/cdnjs/blob/m

[2017-03-04 11:58] Tzouhalem opened #10796 "jquery-countdown"
**Library name:** jquery-countdown
**Git repository url:** https://github.com/kbwood/countdown
**npm package name or url** (if there is one):
**License (List them all if it's multiple):** MIT licence
**Official homepage:** http://keith-wood.name/countdown.html
**Wanna say something? Leave message here:** Hello. There is already an entry for this 'jquery-countdown' but it is an old version (ie: 2.0

[2017-03-04 17:32] PeterDaveHello commented on #10753
@sufuf3 you should add labels as @hare1039 did.

[2017-03-04 17:32] PeterDaveHello commented on #10753
Let's close duplicated issue, move to #8653.

[2017-03-04 17:32] #10753 closed

[2017-03-04 17:33] PeterDaveHello commented on #8653
@pvnr0082t any updates here?

[2017-03-04 17:33] PeterDaveHello commented on #10754
Let's move to  #10069

[2017-03-04 17:33] #10754 closed

[2017-03-04 17:34] PeterDaveHello commented on #10769
@hare1039 let's directly close duplicated issue and move to the earlier one next time.

[2017-03-04 17:34] PeterDaveHello commented on #10769
Move to #10514

[2017-03-04 17:34] #10769 closed

[2017-03-04 17:35] PeterDaveHello commented on #10777
@extend1994 let's directly close duplicated issue and move to the earlier one next time.

[2017-03-04 17:35] PeterDaveHello commented on #10777
Move to #9484

[2017-03-04 17:35] #10777 closed

[2017-03-04 18:21] #10675 closed

[2017-03-04 18:31] #10739 closed

[2017-03-04 18:35] #9188 closed

[2017-03-04 18:37] #10119 closed

[2017-03-04 18:44] #10650 closed

[2017-03-04 20:53] PeterDaveHello commented on #10793
@extend1994 let's remove the items you don't need it.

[2017-03-05 06:28] hare1039 commented on #10794
Hi @hundare,
we have latest [magnific-popup.js](https://cdnjs.com/libraries/magnific-popup.js), what else can we help you?

[2017-03-05 06:29] PeterDaveHello commented on #10794
@hare1039 s/latest/the lastest of/

[2017-03-05 09:24] pvnr0082t commented on #8653
@sajochiu Author answered. You can start to add this library. :+1:

[2017-03-05 13:56] shobhitsharma commented on #10596
@PeterDaveHello Hey Peter, here https://github.com/cdnjs/cdnjs/pull/10798. Thanks in advance.

[2017-03-05 19:09] atatanasov opened #10799 "[Author] [Request] Add Gijgo"
**Library name:** Gijgo
**Git repository url:** https://github.com/atatanasov/gijgo/
**npm package name or url** (if there is one): https://www.npmjs.com/package/gijgo
**License (List them all if it's multiple):** MIT License
**Official homepage:** http://gijgo.com
**Wanna say something? Leave message here:**

=====================

Notes from cdnjs maintainer:
Please read the [README.md](https://

[2017-03-05 20:44] dalisoft opened #10800 "[Request] Add Tez.js"
**Library name:** Tez
**Git repository url:** https://github.com/dalisoft/tez
**npm package name or url** (if there is one): tez.js
**License (List them all if it's multiple):** Apache License 2.0
**Official homepage:** https://github.com/dalisoft/tez
**Wanna say something? Leave message here:**

=====================

Notes from cdnjs maintainer:
Please read the [README.md](https://github.com/cdn

[2017-03-05 22:15] #9406 closed

[2017-03-06 05:59] glowworms opened #10802 "[Request] Update fancybox library to latest version 3"
**Library name:** fancybox

**Git repository url:** https://github.com/fancyapps/fancybox

**npm package name or url** (if there is one): https://www.npmjs.com/package/fancybox (not official)

**License (List them all if it's multiple):**
fancyBox is licensed under the GPLv3 license for all open source applications.
A commercial license is required for all commercial applications (including sites,

[2017-03-06 07:50] simov commented on #10630
It was something temporary.

[2017-03-06 07:50] #10630 closed

[2017-03-06 07:51] fancyapps commented on #10802
Hi! I just wanted to say that fancybox does not have official npm package. The one mentioned above is a modified fork by someone else.

[2017-03-06 07:52] PeterDaveHello commented on #10802
@fancyapps thanks for that info!

[2017-03-06 09:05] #10254 closed

[2017-03-06 10:15] ianberdin opened #10804 "Remove '/ajax/libs/' from url. Make mirror."
Remove '/ajax/libs/' from url. Make mirror.
Shorten -> better

From `cdnjs.cloudflare.com/ajax/libs/vue/2.2.1/vue.min.js`
To `cdnjs.cloudflare.com/vue/2.2.1/vue.min.js`

Much more clean.

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/42720955-remove-ajax-libs-from-url-make-mirror?utm_campaign=plugin&utm_content=tracker%2F32893&utm_

[2017-03-06 10:34] andreibancioiu opened #10805 "[Request] Add d3-cloud"
**Library name:**  d3-cloud
**Git repository url:** https://github.com/jasondavies/d3-cloud
**npm package name or url** (if there is one):
**License (List them all if it's multiple):** https://github.com/jasondavies/d3-cloud/blob/master/LICENSE
**Official homepage:** https://www.jasondavies.com/wordcloud/
**Wanna say something? Leave message here:**

=====================

Notes from cdnjs maintai

[2017-03-06 10:42] gijsroge commented on #10668
@maruilian11 Any idea when this will get merged so I can add & close this issue? Thanks!

[2017-03-06 11:52] xeoneux opened #10806 "[Request] Add Bootswatch v4 Alpha"
**Library name: Bootswatch**
**Git repository url: https://github.com/thomaspark/bootswatch**
**npm package name or url: https://www.npmjs.com/package/bootswatch**
**License: MIT**
**Official homepage: https://bootswatch.com/4-alpha/**

[2017-03-06 12:01] ErlendEllingsen opened #10807 "[Request] Add pull-to-reload"
**Library name:** pull-to-reload
**Git repository url:** https://github.com/ErlendEllingsen/pull-to-reload
**npm package name or url** (if there is one): https://www.npmjs.com/package/pull-to-reload
**License (List them all if it's multiple):** MIT
**Official homepage:** https://github.com/ErlendEllingsen/pull-to-reload
**Wanna say something? Leave message here:**

=====================

Notes fro

[2017-03-06 13:08] behnik opened #10808 "[Request] Add library_name"
**Library name:**
**Git repository url:**
**npm package name or url** (if there is one):
**License (List them all if it's multiple):**
**Official homepage:**
**Wanna say something? Leave message here:**

=====================

Notes from cdnjs maintainer:
Please read the [README.md](https://github.com/cdnjs/cdnjs#cdnjs-library-repository) and [CONTRIBUTING.md](https://github.com/cdnjs/cdnjs/blob/m

[2017-03-06 13:09] #10808 closed

[2017-03-06 15:52] x9t9 commented on #10609
any updates ?

[2017-03-06 15:55] itdev opened #10809 "[Request] Add wdt-emoji-bundle"
**Library name:** wdt-emoji-bundle
**Git repository url:** https://github.com/needim/wdt-emoji-bundle
**npm package name or url** (if there is one): https://www.npmjs.com/package/wdt-emoji-bundle
**License (List them all if it's multiple):** MIT
**Official homepage:** http://ned.im/wdt-emoji-bundle/

[2017-03-06 16:08] hare1039 commented on #10809
Hi @itdev,
This library will be add in a few more days. Please wait for our process. Thanks.

Move to #9911.

[2017-03-06 16:08] #10809 closed

[2017-03-06 16:16] hare1039 commented on #10806
Hi @xeoneux,
We have the latest version of [bootswatch](https://cdnjs.com/libraries/bootswatch). What else can we help you?

[2017-03-06 18:12] getify opened #10811 "[Author] [Request] Add FPO"
**Library name:** FPO
**Git repository url:** https://github.com/getify/fpo
**npm package name or url** (if there is one): https://www.npmjs.com/package/fpo
**License (List them all if it's multiple):** MIT
**Official homepage:** https://github.com/getify/fpo

[2017-03-06 22:02] fancyapps commented on #6191
Hello! It would be nice if you could add stable v3.

I think you can close this issue, there is no need to add that beta (it was never published on github, too).

[2017-03-06 22:05] PeterDaveHello commented on #6191
@fancyapps Thanks.

[2017-03-06 22:07] fancyapps commented on #10802
If you need a git tag for versioning, I have tagged "v3.0.39" release - https://github.com/fancyapps/fancybox/releases/tag/3.0.39

btw, this is duplicate of #10758

[2017-03-07 00:04] aervin commented on #10149
I'll take a crack at this if it's alright. It would be my first time contributing to open source.

[2017-03-07 00:10] PeterDaveHello commented on #10149
@aervin no problem, let me know if you need help!

[2017-03-07 03:28] Bandit opened #10812 "[Request] Add THREE.MeshLine"
**Library name:** THREE.MeshLine
**Git repository url:** https://github.com/spite/THREE.MeshLine
**npm package name or url** (if there is one): three.meshline
**License (List them all if it's multiple):** MIT
**Official homepage:** https://github.com/spite/THREE.MeshLine

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/42749727-reque

[2017-03-07 06:33] PeterDaveHello commented on #10782
We can wait for a while 😄

[2017-03-07 08:17] hjsw1 opened #10813 "[Request] Add font-awesome"
**Library name:**
**Git repository url:**
**npm package name or url** (if there is one):
**License (List them all if it's multiple):**
**Official homepage:**
**Wanna say something? Leave message here:**

=====================

Notes from cdnjs maintainer:
Please read the [README.md](https://github.com/cdnjs/cdnjs#cdnjs-library-repository) and [CONTRIBUTING.md](https://github.com/cdnjs/cdnjs/blob/m

[2017-03-07 13:21] maruilian11 commented on #10668
@gijsroge sorry about the delay, @cdnjs/intern2 please review the PR asap, thanks!

[2017-03-07 17:55] xeoneux commented on #10806
Hi @hare1039
The latest alpha builds of the library for Bootstrap v4 in Alpha aren't present.
It would get really convenient to include it directly to cdnjs.
I am not able to create a fork due to the size of the repository and would really appreciate the help.

[2017-03-07 18:12] LuisRBarreras commented on #5084
I am going to work on this one

[2017-03-07 18:16] hare1039 commented on #10813
Hi @hjsw1,
We have the latest version of [font-awesome](https://cdnjs.com/libraries/font-awesome).
What else can we help you?

[2017-03-07 18:16] PeterDaveHello commented on #5084
@LuisRBarreras Cool, thanks!

[2017-03-07 18:22] hare1039 commented on #10806
@PeterDaveHello Could we add alpha versions manually?

[2017-03-07 18:24] PeterDaveHello commented on #10806
@xeoneux maybe you can ask its author to release alpha versions on npm.

[2017-03-08 08:57] PeterDaveHello commented on #8508
https://github.com/playcanvas/engine/issues/736 we could start working now

[2017-03-08 09:18] #5844 closed

[2017-03-08 09:27] #9911 closed

[2017-03-08 09:33] #10459 closed

[2017-03-08 10:01] PeterDaveHello commented on #10802
Move to #6191

[2017-03-08 10:01] #10802 closed

[2017-03-08 10:01] PeterDaveHello commented on #10758
Move to #6191

[2017-03-08 10:01] #10758 closed

[2017-03-08 11:13] JeffreySlabbekoorn opened #10819 "[Request] Add GetGridy"
**Library name:**  GetGridy
**Git repository url:** https://github.com/JeffreySlabbekoorn/GetGridy.git
**npm package name or url** (if there is one): None
**License (List them all if it's multiple):** MIT License
**Official homepage:** http://getgridy.us/
**Wanna say something? Leave message here:**

=====================

Notes from cdnjs maintainer:
Please read the [README.md](https://github.com

[2017-03-08 12:56] tuongle2604 opened #10821 "socket"
**Library name:**
**Git repository url:**
**npm package name or url** (if there is one):
**License (List them all if it's multiple):**
**Official homepage:**
**Wanna say something? Leave message here:**

=====================

Notes from cdnjs maintainer:
Please read the [README.md](https://github.com/cdnjs/cdnjs#cdnjs-library-repository) and [CONTRIBUTING.md](https://github.com/cdnjs/cdnjs/blob/m

[2017-03-08 12:57] #10821 closed

[2017-03-08 15:48] srbberlin opened #10822 "[Request] bootstrap"
**Library name:**
**Git repository url:**
**npm package name or url** (if there is one):
**License (List them all if it's multiple):**
**Official homepage:**
**Wanna say something? Leave message here:**

=====================

Notes from cdnjs maintainer:
Please read the [README.md](https://github.com/cdnjs/cdnjs#cdnjs-library-repository) and [CONTRIBUTING.md](https://github.com/cdnjs/cdnjs/blob/m

[2017-03-08 19:15] LuisRBarreras commented on #5084
@PeterDaveHello Could you give more details, which test is one you are referring to?

[2017-03-08 19:17] PeterDaveHello commented on #5084
@LuisRBarreras You can try to mess up indent in jquery package.json, npm test will return the correct indent, but wrong *

[2017-03-08 19:48] jenil opened #10823 "[Request] Add bulmaswatch"
**Library name:** Bulmaswatch
**Git repository url:** https://github.com/jenil/bulmaswatch
**npm package name or url** (if there is one): bulmaswatch
**License (List them all if it's multiple):** MIT
**Official homepage:** https://jenil.github.io/bulmaswatch

[2017-03-08 20:46] PeterDaveHello commented on #5084
@LuisRBarreras this could be an example: https://circleci.com/gh/cdnjs/cdnjs/5817

[2017-03-08 21:50] printf83 opened #10824 "[Request] Add textarea-autosize"
**Library name:** textarea-autosize
**Git repository url:** https://github.com/javierjulio/textarea-autosize
**npm package name or url** (if there is one): textarea-autosize
**License (List them all if it's multiple):** https://github.com/javierjulio/textarea-autosize/blob/master/LICENSE.md
**Official homepage:**
**Wanna say something? Leave message here:**

=====================

Notes from cdnjs

[2017-03-09 07:56] geodatasource opened #10825 "[author] [Request] Add Country-Region Dropdown Menu"
**Library name:** Country-Region Dropdown Menu
**Git repository url:** https://github.com/geodatasource/country-region-dropdown-menu
**npm package name or url** (if there is one):
**License (List them all if it's multiple):** https://github.com/geodatasource/country-region-dropdown-menu/blob/master/license.txt
**Official homepage:** http://www.geodatasource.com
**Wanna say something? Leave message

[2017-03-09 13:20] Jdoyle112 opened #10826 "[author][Request] Add Gitcharts.js"
**Gitcharts.js:**
**https://github.com/Jdoyle112/gitcharts/:**
**npm package url(optional):**
**License(s):**
**Official homepage:**
**Wanna say something? Leave message here:**

=====================
Notes from cdnjs maintainer:
Please read the README.md and CONTRIBUTING.md document first.

You are welcome to add a library via sending pull request,
it'll be faster than just opening a request issu

[2017-03-09 14:03] moltar opened #10827 "[Request] Add ngToast"
**Library name:** ngToast
**Git repository url:** https://github.com/tameraydin/ngToast
**npm package name or url** (if there is one): `ng-toast`
**License (List them all if it's multiple):** MIT
**Official homepage:** http://tamerayd.in/ngToast/
**Wanna say something? Leave message here:**

Thanks!

[2017-03-09 15:58] x09326 commented on #10773
@lcd78706 please take this issue.

[2017-03-09 15:58] x09326 commented on #10800
@lcd78706 please take this issue

[2017-03-09 17:27] hare1039 commented on #10819
Hi @JeffreySlabbekoorn,
We're sorry that we can't host this library since it doesn't have enough notable popularity according to the boundaries we set in the [readme](https://github.com/cdnjs/cdnjs#cdnjs-library-repository) (100 stars on github / npm 500 downloads per month).
As you are the author, I recommend you to discuss with the maintainer of cdnjs, PeterDaveHello, to host this library.

Than

[2017-03-09 17:29] PeterDaveHello commented on #10819
@hare1039 let's review the PRs first, you have many pending ones.

[2017-03-09 21:36] dcu-sharepoint opened #10828 "[Request] Add react-dom"
**Library name:**
**Git repository url:** https://github.com/facebook/react/
**npm package name or url** (if there is one): https://github.com/facebook/react
**License (List them all if it's multiple):**
**Official homepage:**
**Wanna say something? Leave message here:**

=====================

Notes from cdnjs maintainer:
Please read the [README.md](https://github.com/cdnjs/cdnjs#cdnjs-library-re

[2017-03-09 22:01] dinikhun opened #10829 "jquery"
**Library name:**
**Git repository url:**
**npm package name or url** (if there is one):
**License (List them all if it's multiple):**
**Official homepage:**
**Wanna say something? Leave message here:**

=====================

Notes from cdnjs maintainer:
Please read the [README.md](https://github.com/cdnjs/cdnjs#cdnjs-library-repository) and [CONTRIBUTING.md](https://github.com/cdnjs/cdnjs/blob/m

[2017-03-10 02:22] nacarty opened #10830 "[Request] SocketIO Library"
**Library name:**
**Git repository url:**
**npm package name or url** (if there is one):
**License (List them all if it's multiple):**
**Official homepage:**
**Wanna say something? Leave message here:**

=====================

Notes from cdnjs maintainer:
Please read the [README.md](https://github.com/cdnjs/cdnjs#cdnjs-library-repository) and [CONTRIBUTING.md](https://github.com/cdnjs/cdnjs/blob/m

[2017-03-10 04:17] pvnr0082t opened #10831 "File permission check on CI"
The file permission check on CI only run on the latest version. If the file permission is wrong in old versions, CI won't catch that. We should improve CI to check file permission for old versions of lib.

cc #10791
cc @PeterDaveHello

[2017-03-10 04:17] PeterDaveHello commented on #10831
@pvnr0082t wrong repo

[2017-03-10 04:18] #10831 closed

[2017-03-10 04:20] pvnr0082t commented on #10831
move to https://github.com/cdnjs/cdnjs-drone-ci/issues/5

[2017-03-10 08:46] Issactmb opened #10832 "[Request] webflow.js"
**Library name:**
**Git repository url:**
**npm package name or url** (if there is one):
**License (List them all if it's multiple):**
**Official homepage:**
**Wanna say something? Leave message here:**

=====================

Notes from cdnjs maintainer:
Please read the [README.md](https://github.com/cdnjs/cdnjs#cdnjs-library-repository) and [CONTRIBUTING.md](https://github.com/cdnjs/cdnjs/blob/m

[2017-03-10 10:04] xgqfrms-GitHub opened #10833 "Why SRI disappeared?"
# SRI ???

## before
[code]

## after

[code]

[2017-03-10 10:25] #10833 closed

[2017-03-10 12:32] #10683 closed

[2017-03-10 12:56] #10667 closed

[2017-03-10 13:07] #10543 closed

[2017-03-10 13:39] #10501 closed

[2017-03-10 13:40] PeterDaveHello commented on #9775
wip means working in progress not released version, we don't host that, and also close due to no response.

[2017-03-10 13:40] #9775 closed

[2017-03-10 13:41] PeterDaveHello commented on #9775
@sufuf3 use the url on cdnjs.com instead of GitHub repo next time.

[2017-03-10 13:42] #8576 closed

[2017-03-10 13:42] PeterDaveHello commented on #8576
Feel free to open a new one when you have time.

[2017-03-10 14:33] englishextra commented on #10543
@PeterDaveHello @hare1039 and co. —Thanks

[2017-03-10 15:38] clairetsai818 commented on #9845
close due to no response, cc @PeterDaveHello

[2017-03-10 15:38] #9845 closed

[2017-03-10 15:42] clairetsai818 commented on #10822
Hi, @srbberlin!
We've already have [twitter-bootstrap](https://cdnjs.com/libraries/twitter-bootstrap) with the latest version on our CDN, what else can we help you? If there are no response in 7 days, I will close this issue. Thanks for your great work and contribution.

[2017-03-10 15:44] clairetsai818 commented on #10823
Hi @jenil
This library doesn't have enough popularity (like more than 100 stars on GitHub or 500 downloads per month on npm). Please take a look at our [README.md](https://github.com/cdnjs/cdnjs/blob/master/README.md). Would you mind to open an issue again when the library has more popularity? If there are no response in 7 days, I will close this issue. Thanks for your great work and contribution.

[2017-03-10 16:13] m1dst commented on #10285
We are up to version 3.21.0 (March 08, 2017) which would bring maps up to parity with https://cdnjs.com/libraries/amcharts.

[2017-03-10 16:53] clairetsai818 commented on #10692
close due to no response, cc @PeterDaveHello

[2017-03-10 16:54] clairetsai818 commented on #10093
close due to no response, cc @PeterDaveHello

[2017-03-10 16:54] #10093 closed

[2017-03-10 18:29] bbatliner commented on #8710
Hi again,

We've switched fully to the `/dist/{css,js}/*.{css,js}` structure in all our releases past 3.0.0. I checked the [vex-js folder](https://github.com/cdnjs/cdnjs/tree/master/ajax/libs/vex-js) here in the cdnjs repo and it seems to be pulling the right files.

Let me know if anything needs to change.

[2017-03-10 21:59] #10509 closed

[2017-03-11 01:48] ameerko2u commented on #755
Worked like a charm !
Problem Solved Many thanks :)
Adding  this to .htaccess  file solved it>
<FilesMatch ".(ttf|otf|woff)$">
    Header set Access-Control-Allow-Origin "*"
</FilesMatch>

[2017-03-11 07:28] pvnr0082t commented on #8710
@bbatliner Thanks!

[2017-03-11 16:21] clairetsai818 commented on #10829
Hi, @dinikhun !
We've already have [twitter-bootstrap](https://cdnjs.com/libraries/jquery) with the latest version on our CDN, what else can we help you? If there are no response in 7 days, I will close this issue. Thanks for your great work and contribution.

[2017-03-11 16:23] clairetsai818 commented on #10830
Hi, @nacarty  !
We've already have [SocketIO](https://cdnjs.com/libraries/socket.io) with the latest version on our CDN, what else can we help you? If there are no response in 7 days, I will close this issue. Thanks for your great work and contribution.

[2017-03-11 16:25] clairetsai818 commented on #10832
@Issactmb Do you mean this lib?
https://github.com/webflow/js-webflow-api

[2017-03-11 16:26] clairetsai818 commented on #10832
If yes, this library doesn't have enough popularity (like more than 100 stars on GitHub or 500 downloads per month on npm). Please take a look at our [README.md](https://github.com/cdnjs/cdnjs/blob/master/README.md). Would you mind to open an issue again when the library has more popularity? If there are no response in 7 days, I will close this issue. Thanks for your great work and contribution.

[2017-03-11 16:36] clairetsai818 commented on #10828
Hi @dcu-sharepoint!
We've already have [react](https://cdnjs.com/libraries/react) with the latest version on our CDN, what else can we help you? If there are no response in 7 days, I will close this issue. Thanks for your great work and contribution.

[2017-03-11 16:39] clairetsai818 commented on #10064
@PeterDaveHello I think maruilian has started to work on this issue.

[2017-03-12 00:54] venkatsena1857 opened #10836 "http request"
**Library name:**
**Git repository url:**
**npm package name or url** (if there is one):
**License (List them all if it's multiple):**
**Official homepage:**
**Wanna say something? Leave message here:**

=====================

Notes from cdnjs maintainer:
Please read the [README.md](https://github.com/cdnjs/cdnjs#cdnjs-library-repository) and [CONTRIBUTING.md](https://github.com/cdnjs/cdnjs/blob/m

[2017-03-12 02:24] thucngv opened #10837 "[Request] Add Elessar"
**Library name: Elessar**
**Git repository url: https://github.com/quarterto/Elessar**
**npm package name or url** (if there is one): npm install elessar
**License (List them all if it's multiple):**
**Official homepage: http://blog.153.io/Elessar**
**Wanna say something? Leave message here:**

=====================

Notes from cdnjs maintainer:
Please read the [README.md](https://github.com/cdnjs

[2017-03-12 02:56] garrett-leyenaar opened #10838 "[Request] Add ie7-js"
Library name: ie7-js
Git repository url: https://github.com/jkiss/ie7-js
This used to be on Googlecode but that has since come down for some reason, all Bootstrap installs use this code to bring old IE installs up to date with modern standards

[2017-03-12 06:15] clairetsai818 commented on #10836
Hi @venkatsena1857!
Are there anything wee can do for you? If there are no response in 7 days, I will close this issue. Thanks for your great work and contribution.

[2017-03-12 06:17] clairetsai818 commented on #10838
Hi @garrett-leyenaar!
This library doesn't have enough popularity (like more than 100 stars on GitHub or 500 downloads per month on npm). Please take a look at our [README.md](https://github.com/cdnjs/cdnjs/blob/master/README.md). Would you mind to open an issue again when the library has more popularity? If there are no response in 7 days, I will close this issue. Thanks for your great work and c

[2017-03-12 06:27] clairetsai818 commented on #10648
Hi @netmonster2!
The link of GitHub repo and npm seems direct to different library, which library you'd like us to add?

[2017-03-12 10:15] Havunen opened #10840 "[Request] Update Inferno libraries"
Library name: inferno
Git monorepo root https://github.com/infernojs/inferno   (changed)
packages (GIT):
https://github.com/infernojs/inferno/tree/master/packages/inferno-compat
https://github.com/infernojs/inferno/tree/master/packages/inferno-component
https://github.com/infernojs/inferno/tree/master/packages/inferno-create-class
https://github.com/infernojs/inferno/tree/master/packages/inferno-c

[2017-03-12 10:30] #10495 closed

[2017-03-12 11:37] #10763 closed

[2017-03-12 12:41] #9484 closed

[2017-03-12 13:01] #9185 closed

[2017-03-12 13:05] PeterDaveHello opened #10841 "[Request] Add request-frame"
**Library name:** request-frame
**Git repository url:** https://github.com/julienetie/request-frame
**npm package name or url** (if there is one): request-frame
**License (List them all if it's multiple):** MIT

cc #5148

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/42942249-request-add-request-frame?utm_campaign=plugin&utm_conten

[2017-03-12 16:08] pvnr0082t commented on #10310
ping @honestree

[2017-03-12 17:07] PeterDaveHello opened #10842 "[Request] Add abcjs"
**Library name:** abcjs
**Git repository url:** https://github.com/paulrosen/abcjs
**License (List them all if it's multiple):**  MIT

The last time the lib been updated is Aug 2014, the filenames contain version number, so we may need to manually add all the versions first.

cc @jackycute

[2017-03-13 00:26] Sjk-Lacoste opened #10844 "[Request] Add hippo-off-canvas.js"
**Library name:** hippo-off-canvas.js
**Git repository url:**
**npm package name or url** (if there is one):
**License (List them all if it's multiple):**
**Official homepage:**
**Wanna say something? Leave message here:**

=====================

Notes from cdnjs maintainer:
Please read the [README.md](https://github.com/cdnjs/cdnjs#cdnjs-library-repository) and [CONTRIBUTING.md](https://github.co

[2017-03-13 02:38] flexicious commented on #10692
Hello, we are at 2K downloads/month now - does this qualify us now?

[2017-03-13 05:36] geek01 opened #10845 "Update social-likes to 3.1.2"
https://github.com/sapegin/social-likes

[2017-03-13 11:04] sufuf3 commented on #9962
@PeterDaveHello This lib has added. ref: https://github.com/cdnjs/cdnjs/pull/10201

[2017-03-13 12:16] #9962 closed

[2017-03-13 12:16] aloisdg commented on #9962
Thank you

[2017-03-13 15:05] PeterDaveHello opened #10846 "[Request] Add aes-js"
**Library name:** aes-js
**Git repository url:** https://github.com/ricmoo/aes-js
**npm package name or url** (if there is one): aes-js
**License (List them all if it's multiple):** MIT

For beginners who is interested in picking up this issue:

In this issue, we are going to host a new web front-end library on CDNJS, so that web developer can easily use it on our free CDN without additional downl

[2017-03-13 18:30] LuisRBarreras commented on #5084
This is a bug caused by the npm package [vows-si](https://www.npmjs.com/package/vows-si)
A confirmed bug already exists [https://github.com/vowsjs/vows/issues/208](https://github.com/vowsjs/vows/issues/208)

The problem is with a regex, where there is  conflict between format output and *.
https://github.com/vowsjs/vows/blob/master/lib/vows/console.js#L47

Solution:
1. Make a fork of **vows repo**

[2017-03-13 21:20] flexicious opened #10849 "[Request] Add flexicious-react-datagrid"
**Flexicious React DataGrid:**
**https://github.com/flexicious/react-datagrid**
**https://www.npmjs.com/package/flexicious-react-datagrid** (if there is one):
**Commercial**
**http://www.reactdatagrid.com/**
**Would like to host the React DataGrid component developed by our company.**

=====================

[2017-03-13 21:21] flexicious commented on #10849
Last request was closed because of lack of popularity, but we are now at 2k downloads/month

[2017-03-13 22:02] dcu-sharepoint commented on #10828
Thank you; I'm getting into react as we speak and what I though I was looking for was ReactDOM which I couldn't. thank you for your quick response and great service.

________________________________
From: Claire Tsai <notifications@github.com>
Sent: Saturday, March 11, 2017 11:36 AM
To: cdnjs/cdnjs
Cc: L. Carlos Rodriguez; Mention
Subject: Re: [cdnjs/cdnjs] [Request] Add react-dom (#10828)

Hi @d

[2017-03-14 06:29] ejsiddiqui opened #10850 "[Request] Add Bootstrap Big Grid"
**Bootstrap Big Grid:**
**https://github.com/BenWhitehead/bootstrap-big-grid**
**Usage**: bower install --save bootstrap-big-grid:
**License:** Copyright 2013-2014 Ben Whitehead under the Apache 2.0 license:
**Homepage:** http://benwhitehead.github.io/bootstrap-big-grid/
**The default Bootstrap Grid only provides grid dimensions up to 1200px. Using the same mixins and variables provided by Bootstr

[2017-03-14 10:57] Machou opened #10851 "[Request] Add fancyBox3"
**Library name:** fancyBox3
**Git repository url:** https://github.com/fancyapps/fancybox
**License (List them all if it's multiple):** fancyBox is licensed under the GPLv3 license for all open source applications. A commercial license is required for all commercial applications (including sites, themes and apps you plan to sell).
**Official homepage:** http://fancyapps.com/fancybox/3/

[2017-03-14 11:24] clairetsai818 commented on #10692
@flexicious Sure! We'll work on this issue soon.

[2017-03-14 12:06] clairetsai818 commented on #10692
close due duplicated issue #10849, cc @PeterDaveHello

[2017-03-14 12:09] clairetsai818 commented on #10828
Close because this lib was added and updated to the latest version, cc @PeterDaveHello

[2017-03-14 12:09] #10828 closed

[2017-03-14 12:12] PeterDaveHello commented on #5084
Hi @LuisRBarreras,

Thanks for your report in detail, personally I prefer not to fork and maintain our own `vows`.

Though the testing library issue is not directly related with this one, but if `mocha` is confirmed that it doesn't have this problem, we can evaluate the pros and cons to move to `mocha`, and maybe can leave this one alone.

[2017-03-14 12:14] PeterDaveHello commented on #10692
@clairetsai818 we

[2017-03-14 12:14] #10692 closed

[2017-03-14 12:16] PeterDaveHello commented on #10849
I doubt if the download status has been manipulated ...

[2017-03-14 14:51] flexicious commented on #10849
Not sure what you mean? A couple of large organizations just started using it and they have many developers/CI servers - may be thats what is causing the spike?

[2017-03-14 15:25] #9686 closed

[2017-03-14 15:27] #6191 closed

[2017-03-14 15:33] #10548 closed

[2017-03-14 15:34] PeterDaveHello commented on #10851
Added in #8357

[2017-03-14 15:34] #10851 closed

[2017-03-14 17:41] dcu-sharepoint commented on #10828
thank you again;

[2017-03-14 18:50] LuisRBarreras commented on #5084
## Migrate from Vows to Mocha
A combination of **Mocha/Chain** can providers BDD that Vows give us.

Vows claims to make test run faster specially on I/O (I believe, it's not going to be a big difference)

### Props
- Bigger community(Will lead to more people be able to work on the test suite)
- Will remove the bug[**CONFIRMED**]
- Due of lack of progress on vows, we could encounter others bugs an

[2017-03-14 19:19] sufuf3 commented on #9862
Hi @intermedion!
This library doesn't have enough popularity (like more than 100 stars on GitHub or 500 downloads per month on npm). Please take a look at our [README.md](https://github.com/cdnjs/cdnjs/blob/master/README.md). Would you mind to open an issue again when the library has more popularity? If there are no response in 7 days, I will close this issue. Thanks for your great work and contri

[2017-03-15 02:20] yunyu opened #10854 "[Request] Add Anchorme"
**Library name:** Anchorme
**Git repository url:** https://github.com/alexcorvi/anchorme.js
**npm package name or url** (if there is one): https://www.npmjs.com/package/anchorme
**License (List them all if it's multiple):** MIT
**Official homepage:** http://alexcorvi.github.io/anchorme.js/

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/is

[2017-03-15 02:42] mercyg commented on #10497
Hi @PeterDaveHello I have created a pull request for this library please review it.

[2017-03-15 10:05] sashberd opened #10857 "[Request] OrgChart"
**Library name:** OrgChart
**Git repository url:** https://github.com/dabeng/OrgChart
**npm package name or url** (if there is one): https://www.npmjs.com/package/orgchart
**License (List them all if it's multiple):** MIT
**Official homepage:** http://dabeng.github.io/OrgChart/
**Wanna say something? Leave message here:**
This library has 4 different types of codes e.g. es6/web/jquery
For your rev

[2017-03-15 11:25] #10845 closed

[2017-03-15 11:26] #10597 closed

[2017-03-15 12:15] pvnr0082t commented on #10221
@qwe19272375 Please take over this.

[2017-03-15 12:16] pvnr0082t commented on #10618
close due to no response.

[2017-03-15 12:16] #10618 closed

[2017-03-15 12:18] pvnr0082t commented on #8552
@NiniHsu Please take this.

[2017-03-15 12:19] pvnr0082t commented on #8648
@NiniHsu Please take this.

[2017-03-15 12:20] pvnr0082t commented on #8649
@NiniHsu Please take this.

[2017-03-15 12:20] pvnr0082t commented on #8653
@NiniHsu Please take this.

[2017-03-15 12:20] pvnr0082t commented on #8654
@NiniHsu Please take this.

[2017-03-15 12:22] pvnr0082t commented on #8718
Hi @, is there any detail? This issue will be closed if no response in 7 days.

[2017-03-15 12:22] pvnr0082t commented on #8804
@NiniHsu Please take this.

[2017-03-15 12:33] PeterDaveHello commented on #8718
@pvnr0082t missing tag.

[2017-03-15 12:34] pvnr0082t commented on #8718
@PeterDaveHello Thanks!

[2017-03-15 14:51] ArianeNubee opened #10859 "[Request] Add smallipop"
**Library name:** smallipop
**Git repository url:**  https://github.com/Sebobo/jquery.smallipop
**npm package name or url** (if there is one):
**License (List them all if it's multiple):** MIT
**Official homepage:** http://projects.sebastianhelzle.net/jquery.smallipop/
**Wanna say something? Leave message here:**

=====================

Notes from cdnjs maintainer:
Please read the [README.md](http

[2017-03-15 16:14] karanjamutahi opened #10861 "[Request] Add owfont"
**Library name:owfont - symbol font for Open Weather Map API**
**Git repository url:https://github.com/websygen/owfont/**
**npm package name or url** NONE
**License : SIL OFL 1.1, MIT, CC BY 3.0**
**Official homepage :http://websygen.github.io/owfont**
**Pretty Please**

=====================

Notes from cdnjs maintainer:
Please read the [README.md](https://github.com/cdnjs/cdnjs#cdnjs-library-rep

[2017-03-15 17:51] sasha240100 commented on #10616
@extend1994 Hello?! How it goes? When will it be added?

[2017-03-15 17:51] sasha240100 commented on #10616
/ping @hare1039

[2017-03-15 18:17] Fedia23 opened #10862 "[Request] Add library_name"
**Library name:**
**Git repository url:**
**npm package name or url** (if there is one):
**License (List them all if it's multiple):**
**Official homepage:**
**Wanna say something? Leave message here:**

=====================

Notes from cdnjs maintainer:
Please read the [README.md](https://github.com/cdnjs/cdnjs#cdnjs-library-repository) and [CONTRIBUTING.md](https://github.com/cdnjs/cdnjs/blob/m

[2017-03-15 18:43] isliliye opened #10863 "[Request] Add dom-TreeWalker-polyfill"
**Library name:**
**Git repository url:**
**npm package name or url** (if there is one):
**License (List them all if it's multiple):**
**Official homepage:**
**Wanna say something? Leave message here:**

=====================

Notes from cdnjs maintainer:
Please read the [README.md](https://github.com/cdnjs/cdnjs#cdnjs-library-repository) and [CONTRIBUTING.md](https://github.com/cdnjs/cdnjs/blob/m

[2017-03-16 10:28] sufuf3 commented on #10863
@isliliye  Do you mean this lib?
https://github.com/Krinkle/dom-TreeWalker-polyfill

If yes, this library doesn't have enough popularity (like more than 100 stars on GitHub or 500 downloads per month on npm). Please take a look at our [README.md](https://github.com/cdnjs/cdnjs/blob/master/README.md). Would you mind to open an issue again when the library has more popularity? If there are no respon

[2017-03-16 10:30] sufuf3 commented on #10861
This library doesn't have enough popularity (like more than 100 stars on GitHub or 500 downloads per month on npm). Please take a look at our [README.md](https://github.com/cdnjs/cdnjs/blob/master/README.md). Would you mind to open an issue again when the library has more popularity? If there are no response in 7 days, I will close this issue. Thanks for your great work and contribution.

[2017-03-16 11:57] PeterDaveHello commented on #10862
Close empty issue.

[2017-03-16 11:57] #10862 closed

[2017-03-16 11:58] PeterDaveHello commented on #10569
Close due to no response.

[2017-03-16 11:58] #10569 closed

[2017-03-16 13:17] #9935 closed

[2017-03-16 13:20] #10827 closed

[2017-03-16 14:19] hare1039 commented on #10616
@extend1994 I think we should add this high priority library as soon as possible. Thanks!

[2017-03-16 14:30] jeromeMorjon opened #10864 "[Request] Add Web-Messenger-Live"
**Library name: Web-Messenger-Live**
**Git repository url: https://github.com/jeromeMorjon/Web-Messenger-Live/ **
**npm package name or url** (if there is one):
**License (List them all if it's multiple): MIT**
**Official homepage: **
**Wanna say something? Leave message here:**

=====================

Notes from cdnjs maintainer:
Please read the [README.md](https://github.com/cdnjs/cdnjs#cdnjs-li

[2017-03-16 14:46] isliliye commented on #10863
hi @sufuf3 , thanks for the reply! We are writing a pure js plugin and it has to support ie8. but ie8 doesn't support treeWalker. Since majority of the new products are not going to support ie8, this is not going to fly. haha. Anyways, we will just have to use the polyfil locally. Thanks for your help!

[2017-03-16 14:47] #10863 closed

[2017-03-16 15:30] UtkarshDubey1 opened #10865 "[Request] Add Photon"
**Photon:**
**https://github.com/connors/photon:**
**npm package name or url** (if there is one):
**MIT:**
**photonkit.com:**
**Please Add it its important for electron users:**

=====================

Notes from cdnjs maintainer:
Please read the [README.md](https://github.com/cdnjs/cdnjs#cdnjs-library-repository) and [CONTRIBUTING.md](https://github.com/cdnjs/cdnjs/blob/master/.github/CONTRIBUTIN

[2017-03-16 16:58] qwe19272375 commented on #10279
This library is already exist in CDNJS.
ref: https://cdnjs.com/libraries/pagePiling.js

[2017-03-16 19:11] extend1994 commented on #10616
Hi @sasha240100 I will add it as soon as possible!
@hare1039  Thanks for reminder.

[2017-03-16 19:48] PeterDaveHello commented on #10822
Close due to no response.

[2017-03-16 19:48] #10822 closed

[2017-03-16 19:48] PeterDaveHello commented on #10829
Close due to no response.

[2017-03-16 19:48] #10829 closed

[2017-03-16 19:49] PeterDaveHello commented on #10813
Close due to no response.

[2017-03-16 19:49] #10813 closed

[2017-03-16 19:49] PeterDaveHello commented on #10830
Close due to no response.

[2017-03-16 19:49] #10830 closed

[2017-03-17 03:10] pvnr0082t commented on #10279
@qwe19272375 :+1:
close due to the library had already been hosted. @tlezotte Thanks for your contribution.

[2017-03-17 03:10] #10279 closed

[2017-03-17 04:52] nitank opened #10867 "lamejs"
**Library name:*lame.min.js*
**Git repository url:*https://github.com/logbon72/angular-recorder/blob/master/lib/lame.min.js*
**npm package name or url** (if there is one):
**License (List them all if it's multiple):**
**Official homepage:**
**Wanna say something? Leave message here:**

=====================

Notes from cdnjs maintainer:
Please read the [README.md](https://github.com/cdnjs/cdnjs#cd

[2017-03-17 16:08] #9380 closed

[2017-03-17 16:10] #10705 closed

[2017-03-17 18:58] extend1994 commented on #10842
@PeterDaveHello Is adding files under `bin` correct?
(I think so because you mentioned

)

[2017-03-17 20:09] sasha240100 commented on #10616
@extend1994 Thanks for adding it. Can you please add v2.0.0-beta.x versions? (they should be used)

[2017-03-17 20:13] extend1994 commented on #10616
@sasha240100 I am not sure if I can add the beta version. Ref: https://github.com/cdnjs/cdnjs/pull/10684#pullrequestreview-23147746.
@PeterDaveHello Can I?

[2017-03-17 21:05] extend1994 commented on #10774
@PeterDaveHello Could you please help me take a look at this lib, I am not sure the format of the tag is suitable or not. Thanks.

[2017-03-17 21:14] extend1994 commented on #10285
@PeterDaveHello It seems that there was a pull request which adds the auto-update config but it doesn't appear on current `package.json`. Should I wait for a while to add the library?

[2017-03-17 21:15] extend1994 commented on #10865
@PeterDaveHello This library has a lot of stars, but there is no stable version. Should I add it now or wait for the stable version?

[2017-03-18 01:17] PeterDaveHello commented on #10616
@extend1994 let's use another commit to add it, but please don't bump the version number since it's not a stable version, thanks.

[2017-03-18 01:17] PeterDaveHello commented on #10616
@extend1994 but if the beta versions can be fetched by auto-update, you need to do nothing about it.

[2017-03-18 01:18] PeterDaveHello commented on #10865
Enough starts to directly add it, thanks.

[2017-03-18 01:19] PeterDaveHello commented on #10774
Can only use for v1.7.0+, so you'll need to manually add the old versions (and may need to exclude old but not suitable versions in .gitignore).

[2017-03-18 01:21] PeterDaveHello commented on #10285
@extend1994 any detail like issue/PR number?

[2017-03-18 01:22] PeterDaveHello commented on #10842
Yeah I guess so, you can still open an issue to confirm that in the meantime.

[2017-03-18 03:52] UtkarshDubey1 commented on #10865
Hey please u can add it directly its useful

On Mar 18, 2017 6:48 AM, "Peter Dave Hello" <notifications@github.com>
wrote:

[2017-03-18 08:32] #7927 closed

[2017-03-18 08:32] #10389 closed

[2017-03-18 08:32] #10793 closed

[2017-03-18 08:32] #10222 closed

[2017-03-18 08:43] extend1994 commented on #10616
@PeterDaveHello Thank you for response. Yes, the beta versions can be fetched by auto-update. So do I need to revise the PR title and commit message to the latest beta version, or just leave it a stable version and fetch beta versions automatically?

[2017-03-18 08:44] PeterDaveHello commented on #10616
@extend1994 for PR details, please discuss in the PR.

[2017-03-18 08:45] PeterDaveHello commented on #10616
@extend1994 Just add the latest stable versions and the versions can't be fetched by auto-update.

[2017-03-18 08:49] extend1994 commented on #10285
@PeterDaveHello Sorry! I misread the library. 😰 It should be `ammaps` but what I saw was `am charts `. Thank you for reply 😃  I will add it ASAP.

[2017-03-18 08:51] PeterDaveHello commented on #10670
Ping @pvnr0082t

[2017-03-18 08:52] PeterDaveHello commented on #10713
Ping @maruilian11

[2017-03-18 08:52] PeterDaveHello commented on #10612
Ping @hare1039

[2017-03-18 15:12] sasha240100 commented on #10616
@PeterDaveHello how can I access beta versions after this PR merged?

[2017-03-18 15:25] PhilipMagyar opened #10876 "[Request] Add library_name"
**Library name:**
**Git repository url:**
**npm package name or url** (if there is one):
**License (List them all if it's multiple):**
**Official homepage:**
**Wanna say something? Leave message here:**

=====================

Notes from cdnjs maintainer:
Please read the [README.md](https://github.com/cdnjs/cdnjs#cdnjs-library-repository) and [CONTRIBUTING.md](https://github.com/cdnjs/cdnjs/blob/m

[2017-03-18 15:44] hare1039 commented on #10612
Hi @joelnagy,
Do you mean we need to add all the files in `https://github.com/madrobby/zepto/tree/master/src`?

[2017-03-18 15:44] hare1039 commented on #10876
Close due to empty issue

[2017-03-18 15:44] #10876 closed

[2017-03-18 19:33] joelnagy commented on #10612
All of the Zepto modules would be great.

On Mar 18, 2017 11:44 AM, "hare1039" <notifications@github.com> wrote:

[2017-03-18 20:40] yonesyass opened #10879 "[Request] Add library_name"
**Library name:**
**Git repository url:**
**npm package name or url** (if there is one):
**License (List them all if it's multiple):**
**Official homepage:**
**Wanna say something? Leave message here:**

=====================

Notes from cdnjs maintainer:
Please read the [README.md](https://github.com/cdnjs/cdnjs#cdnjs-library-repository) and [CONTRIBUTING.md](https://github.com/cdnjs/cdnjs/blob/m

[2017-03-19 09:58] elad opened #10881 "[Request] Fix jsrsasign"
**Library name:** jsrsasign
**Git repository url:** https://github.com/kjur/jsrsasign
**npm package name or url** (if there is one): https://www.npmjs.com/package/jsrsasign
**License (List them all if it's multiple):** MIT
**Official homepage:** http://kjur.github.io/jsrsasign
**Wanna say something? Leave message here:** cdnjs is serving a version of this library that doesn't work with browsers. A

[2017-03-19 13:14] PeterDaveHello commented on #10616
you'll see it on the version list

[2017-03-19 13:16] PeterDaveHello commented on #10879
Close empty issue.

[2017-03-19 13:16] #10879 closed

[2017-03-19 13:20] PeterDaveHello commented on #10279
Should confirm that the "latest" version already been hosted, and better confirm with issuer before closing issue ...

[2017-03-19 19:38] PeterBot opened #10883 "[Build failed] Got error while building meta data/artifact"
testing

[2017-03-19 19:39] #10883 closed

[2017-03-20 08:21] con-ssc opened #10884 "[Request] Add d3-annotation"
**Library name: d3-annotation**
**Git repository url: https://github.com/susielu/d3-annotation**
**npm package name or url (if there is one): https://www.npmjs.com/package/d3-svg-annotation**
**License (List them all if it's multiple): https://github.com/susielu/d3-annotation/blob/master/LICENSE**
**Official homepage: http://d3-annotation.susielu.com/**

=====================

Notes from cdnjs mai

[2017-03-20 11:19] PeterDaveHello commented on #10865
Reassign to @hare1039

[2017-03-20 11:41] pvnr0082t commented on #8710
vex-js in cdnjs is the latest version(https://cdnjs.com/libraries/vex-js). I'm going to close this issue.

[2017-03-20 11:41] #8710 closed

[2017-03-20 12:41] steelskysoftware opened #10885 "[Request] Add d3-hexbin"
**Library name:** d3-hexbin
**Git repository url:** https://github.com/d3/d3-hexbin
**npm package name or url** (if there is one):  https://www.npmjs.com/package/d3-hexbin
**License (List them all if it's multiple):** BSD-3-Clause
**Official homepage:** https://d3js.org/
**Wanna say something? Leave message here:** Official plugin for d3js

=====================

Notes from cdnjs maintainer:
Pleas

[2017-03-20 12:54] cedx commented on #8042
I close this issue : it seems that the library author does not want to be hosted on CDNJS :)

[2017-03-20 12:54] #8042 closed

[2017-03-20 14:47] maruilian11 commented on #8531
ping @Qix- , thanks.

[2017-03-20 16:11] PeterDaveHello opened #10886 "Update inferno auto-update rule for v1.4.1"
There seems to be some ts files now 😓

[2017-03-20 21:33] Qix- commented on #8531
Hi @maruilian11 - I'm not sure what you mean. Could you explain why `index.js` doesn't run in the browser?

[2017-03-21 01:01] sufuf3 commented on #10844
@Sjk-Lacoste Do you mean this lib?
https://www.npmjs.com/package/jquery.offcanvas
https://github.com/cheich/jquery.offcanvas

If yes, this library doesn't have enough popularity (like more than 100 stars on GitHub or 500 downloads per month on npm). Please take a look at our [README.md](https://github.com/cdnjs/cdnjs/blob/master/README.md). Would you mind to open an issue again when the library ha

[2017-03-21 01:02] sufuf3 commented on #10864
@jeromeMorjon this library doesn't have enough popularity (like more than 100 stars on GitHub or 500 downloads per month on npm). Please take a look at our [README.md](https://github.com/cdnjs/cdnjs/blob/master/README.md). Would you mind to open an issue again when the library has more popularity? If there are no response in 7 days, I will close this issue. Thanks for your great work and contribut

[2017-03-21 08:12] hunkok opened #10888 "font-awesome"
**Library name:**
**Git repository url:**
**npm package name or url** (if there is one):
**License (List them all if it's multiple):**
**Official homepage:**
**Wanna say something? Leave message here:**

=====================

Notes from cdnjs maintainer:
Please read the [README.md](https://github.com/cdnjs/cdnjs#cdnjs-library-repository) and [CONTRIBUTING.md](https://github.com/cdnjs/cdnjs/blob/m

[2017-03-21 09:13] preeteshjain opened #10890 "[Request] Add medium-editor-insert-plugin"
**Library name:** medium-editor-insert-plugin
**Git repository url:** https://github.com/orthes/medium-editor-insert-plugin
**npm package name or url** (if there is one): https://www.npmjs.com/package/medium-editor-insert-plugin
**License (List them all if it's multiple):** https://github.com/orthes/medium-editor-insert-plugin/wiki/License
**Official homepage:** http://linkesch.com/medium-editor-i

[2017-03-21 10:36] krysalead opened #10891 "[Request] Add htmli18n"
**Library name:** htmli18n
**Git repository url:** https://github.com/krysalead/htmli18n
**npm package name or url** (if there is one): htmli18n
**License (List them all if it's multiple):** ISC
**Official homepage:** https://github.com/krysalead/htmli18n
**Wanna say something? Leave message here:**

=====================

Notes from cdnjs maintainer:
Please read the [README.md](https://github.com

[2017-03-21 14:00] jeromeMorjon commented on #10864
okay i will open a new issue later. Thank you ;)

[2017-03-21 14:00] #10864 closed

[2017-03-21 14:12] hare1039 commented on #10471
Hi @frankyso,
We're sorry that we can't host this library since it doesn't have enough notable popularity (100 stars on github / npm 500 downloads per month). If you think this is a great library we should include to our service, please contact PeterDaveHello, the maintainer of cdnjs.

Feel free to show some other references if you have something else want to discuss with us. If there is no respon

[2017-03-21 14:17] PeterDaveHello commented on #10471
@hare1039 please review PR first

[2017-03-21 14:33] #10463 closed

[2017-03-21 15:00] danikkks commented on #10590
@hare1039, yes

[2017-03-21 15:05] hare1039 commented on #10819
Close due to no response. cc @PeterDaveHello

[2017-03-21 15:05] #10819 closed

[2017-03-21 15:06] hare1039 commented on #10776
Close due to no response. cc @PeterDaveHello

[2017-03-21 15:06] #10776 closed

[2017-03-21 15:06] hare1039 commented on #10735
Close due to no response. cc @PeterDaveHello

[2017-03-21 15:06] #10735 closed

[2017-03-21 15:06] hare1039 commented on #10723
Close due to no response. cc @PeterDaveHello

[2017-03-21 15:06] #10723 closed

[2017-03-21 17:22] PeterDaveHello commented on #10888
https://cdnjs.com/libraries/font-awesome

[2017-03-21 17:22] #10888 closed

[2017-03-21 23:47] nkkollaw opened #10892 "[Request] Add jquery-numerator"
**Library name:** jquery-numerator
**Git repository url:** https://github.com/garethdn/jquery-numerator
**npm package name or url** (if there is one):
**License (List them all if it's multiple):** MIT
**Official homepage:** http://garethdn.github.io/jquery-numerator/
**Wanna say something? Leave message here:**

=====================

Notes from cdnjs maintainer:
Please read the [README.md](https:

[2017-03-22 06:41] clairetsai818 commented on #10730
close due to no response, cc @PeterDaveHello

[2017-03-22 06:41] #10730 closed

[2017-03-22 06:42] clairetsai818 commented on #10823
close due to no response, cc @PeterDaveHello

[2017-03-22 07:36] kingy444 opened #10893 "[Request] Add OverlappingMarkerSpiderfier-Leaflet (sister item of current cdnjs repo)"
**Library name:**  OverlappingMarkerSpiderfier-Leaflet
**Git repository url:** https://github.com/jawj/OverlappingMarkerSpiderfier-Leaflet
**npm package name or url** (if there is one): n/a
**License (List them all if it's multiple):**  This software is released under the MIT licence.
**Official homepage:**  https://github.com/jawj/OverlappingMarkerSpiderfier-Leaflet
**Wanna say something? Leave m

[2017-03-22 08:36] XmlmXmlmX opened #10894 "[Request] Add Gmaps Marker Clusterer"
**Library name:** Gmaps Marker Clusterer
**Git repository url:** https://github.com/gmaps-marker-clusterer/gmaps-marker-clusterer
**npm package name or url** (if there is one): https://www.npmjs.com/package/gmaps-marker-clusterer
**License (List them all if it's multiple):** Apache 2.0, CC BY-SA 4.0
**Official homepage:** https://gmaps-marker-clusterer.github.io/gmaps-marker-clusterer/
**Wanna say

[2017-03-22 09:07] maruilian11 opened #10895 "[Request] Add vue-charts"
**Library name:** vue-charts
**Git repository url:** https://github.com/hchstera/vue-charts
**npm package name or url** (if there is one): https://www.npmjs.com/package/hchs-vue-charts
**License (List them all if it's multiple):** MIT

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/43310768-request-add-vue-charts?utm_campaign=plugin

[2017-03-22 09:13] maruilian11 commented on #10881
@PeterDaveHello Should we delete the the files don't work with browser?

[2017-03-22 09:50] sufuf3 commented on #10892
@nkkollaw this library doesn't have enough popularity (like more than 100 stars on GitHub or 500 downloads per month on npm). Please take a look at our [README.md](https://github.com/cdnjs/cdnjs/blob/master/README.md). Would you mind to open an issue again when the library has more popularity? If there are no response in 7 days, I will close this issue. Thanks for your great work and contribution.

[2017-03-22 09:51] sufuf3 commented on #10894
@XmlmXmlmX this library doesn't have enough popularity (like more than 100 stars on GitHub or 500 downloads per month on npm). Please take a look at our [README.md](https://github.com/cdnjs/cdnjs/blob/master/README.md). Would you mind to open an issue again when the library has more popularity? If there are no response in 7 days, I will close this issue. Thanks for your great work and contribution

[2017-03-22 09:52] sufuf3 commented on #10891
@krysalead this library doesn't have enough popularity (like more than 100 stars on GitHub or 500 downloads per month on npm). Please take a look at our [README.md](https://github.com/cdnjs/cdnjs/blob/master/README.md). Would you mind to open an issue again when the library has more popularity? If there are no response in 7 days, I will close this issue. Thanks for your great work and contribution

[2017-03-22 11:05] nkkollaw commented on #10892
Oh, sure.

I'm not the author, I just thought it was a cool lib.

Sorry, I hadn't seen "100 stars on GitHub or 500 downloads per month on npm" in the README.

Thanks! I'll close the issue.

[2017-03-22 11:05] #10892 closed

[2017-03-22 13:32] PeterBot opened #10897 "[Build failed] Got error while building meta data/artifact"
Dear all,

Our build process just got an error while building the meta data/artifact of cdnjs project, our [website and api](https://github.com/cdnjs/new-website) may not be as new as our repository, however, the cdn service will not been affected, you can still use it, and modify the library name, version number and filename in the url can help you access all the content on cdnjs, we will fix the

[2017-03-22 13:36] peregudova-dasha opened #10898 "[Request] Add scrolly"
**Library name:** scrolly
**Git repository url:** "https://github.com/Victa/scrolly/blob/master/jquery.scrolly.js"
**npm package name or url** (if there is one):
**License (List them all if it's multiple):**
**Official homepage:**  "https://github.com/Victa/scrolly"
**Wanna say something? Leave message here:**

=====================

Notes from cdnjs maintainer:
Please read the [README.md](https:/

[2017-03-22 14:07] PeterDaveHello commented on #10897
failed on heroku deploy

[2017-03-22 14:07] #10897 closed

[2017-03-22 14:39] PeterBot opened #10899 "[Build failed] Got error while building meta data/artifact"
Dear all,

Our build process just got an error while building the meta data/artifact of cdnjs project, our [website and api](https://github.com/cdnjs/new-website) may not be as new as our repository, however, the cdn service will not been affected, you can still use it, and modify the library name, version number and filename in the url can help you access all the content on cdnjs, we will fix the

[2017-03-22 14:41] #10899 closed

[2017-03-22 14:41] PeterDaveHello commented on #10899
failed on heroku again

[2017-03-22 15:40] longjasonm commented on #10609
+1 here.

[2017-03-22 15:40] PeterDaveHello commented on #8550
Close per https://github.com/LukyVj/family.scss/issues/83#issuecomment-251606791

[2017-03-22 15:40] #8550 closed

[2017-03-22 16:41] PeterBot opened #10900 "[Build failed] Got error while building meta data/artifact"
Dear all,

Our build process just got an error while building the meta data/artifact of cdnjs project, our [website and api](https://github.com/cdnjs/new-website) may not be as new as our repository, however, the cdn service will not been affected, you can still use it, and modify the library name, version number and filename in the url can help you access all the content on cdnjs, we will fix the

[2017-03-22 16:55] PeterDaveHello commented on #10900
heroku failed ...

[2017-03-22 16:55] #10900 closed

[2017-03-22 17:16] weizhenye opened #10901 "[Request] Add danmaku"
**Library name:** danmaku
**Git repository url:** https://github.com/weizhenye/Danmaku
**npm package name or url** (if there is one): https://www.npmjs.com/package/danmaku
**License (List them all if it's multiple):** MIT
**Official homepage:** https://danmaku.js.org/

[2017-03-22 21:44] RobinCK commented on #10733
Will the package be added?

[2017-03-23 09:37] sp4r74cus opened #10905 "[Request] Add moment-timer"
**Library name:** moment-timer
**Git repository url:** https://github.com/SeverinDK/moment-timer
**npm package name or url** (if there is one): https://www.npmjs.com/package/moment-timer
**License (List them all if it's multiple):** MIT
**Official homepage:** https://github.com/SeverinDK/moment-timer
**Wanna say something? Leave message here:**

=====================

Notes from cdnjs maintainer:

[2017-03-23 16:24] marfulee opened #10907 "[Request] Add jQuery.i18n.properties"
**Library name: jQuery.i18n.properties**
**Git repository url: https://github.com/jquery-i18n-properties/jquery-i18n-properties.git**
**npm package name or url** (if there is one):
**License (List them all if it's multiple): MIT**
**Official homepage: https://github.com/jquery-i18n-properties**
**Wanna say something? Leave message here:**

=====================

Notes from cdnjs maintainer:
Please

[2017-03-23 18:47] othmir opened #10908 "[Request] Add Material UI"
**Library name:** Material UI
**Git repository url:** https://github.com/callemall/material-ui
**npm package name or url** (if there is one): material-ui
**License (List them all if it's multiple):** MIT
**Official homepage:** http://www.material-ui.com/
**Wanna say something? Leave message here:**
add  package plz
thx for the work
=====================

Notes from cdnjs maintainer:
Please read th

[2017-03-24 08:44] hare1039 commented on #10612
@PeterDaveHello Is there a way to compose files from npm and GitHub source?

[2017-03-24 10:51] #10404 closed

[2017-03-24 15:57] sufuf3 commented on #9862
Close due to no response.
cc @PeterDaveHello

[2017-03-24 15:57] #9862 closed

[2017-03-24 18:16] m47730 opened #10911 "[Request] Add jQuery.initialize"
**Library name:** jQuery.initialize
**Git repository url:** https://github.com/pietrasiak/jquery.initialize.git
**npm package name or url** (if there is one):
**License (List them all if it's multiple):** The MIT License (MIT)
**Official homepage:** https://github.com/pietrasiak/jquery.initialize
**Wanna say something? Leave message here:** Seems UNIX philosophy compliant, one thing done right

==

[2017-03-24 19:21] anton-ivanenko opened #10912 "[Request] Add venn.js"
**Library name:** venn.js
**Git repository url: https://github.com/benfred/venn.js/**
**npm package name or url** (if there is one):
**License (List them all if it's multiple):**
**Official homepage:**
**It would be nice to have access to this library on CDN**

=====================

Notes from cdnjs maintainer:
Please read the [README.md](https://github.com/cdnjs/cdnjs#cdnjs-library-repository) a

[2017-03-25 03:55] WriteCodeEveryday opened #10913 "[Request] Add actioncable-js"
**Library name:** actioncable-js
**Git repository url:** https://raw.githubusercontent.com/mwalsher/actioncable-js/master/
**npm package name or url** (if there is one):
**License (List them all if it's multiple):**
**Official homepage:**
**Wanna say something? Leave message here:** Would be awesome for the dist version to be available.

=====================

Notes from cdnjs maintainer:
Please r

[2017-03-25 04:25] sufuf3 opened #10914 "[Request] Add Shifty"
**Library name:** Shifty
**Git repository url:** https://github.com/jeremyckahn/shifty
**npm package name or url** (if there is one): https://www.npmjs.com/package/shifty
**License (List them all if it's multiple):** MIT
**Official homepage:** http://jeremyckahn.github.io/shifty/
**Wanna say something? Leave message here:**

=====================

Notes from cdnjs maintainer:
Please read the [READ

[2017-03-25 04:28] plonknimbuzz opened #10915 "[Request] Add jQuery.pulsate"
**Library name:** jQuery.pulsate
**Git repository url:** https://github.com/Kilian/jQuery.pulsate
**npm package name or url** (if there is one): https://raw.github.com/Kilian/jQuery.pulsate/master/jquery.pulsate.js and https://raw.github.com/Kilian/jQuery.pulsate/master/jquery.pulsate.min.js
**License (List them all if it's multiple):** MIT https://github.com/Kilian/jQuery.pulsate/blob/master/LICE

[2017-03-25 10:40] PeterDaveHello commented on #10881
If it's confirmed, yes.

[2017-03-25 10:40] PeterDaveHello commented on #10612
I'm not sure what do you mean exactly, have examples or details?

[2017-03-25 11:15] #8434 closed

[2017-03-25 11:19] #10556 closed

[2017-03-25 11:30] #9235 closed

[2017-03-25 11:38] sufuf3 commented on #10913
@WriteCodeEveryday Do you mean this library?
https://github.com/mwalsher/actioncable-js
https://www.npmjs.com/package/actioncable-js

[2017-03-25 11:42] sufuf3 commented on #10915
@plonknimbuzz This library doesn't have enough popularity (like more than 100 stars on GitHub or 500 downloads per month on npm). Please take a look at our [README.md](https://github.com/cdnjs/cdnjs/blob/master/README.md). Would you mind to open an issue again when the library has more popularity? If there are no response in 7 days, I will close this issue. Thanks for your great work and contribut

[2017-03-25 13:44] tunnckoCore commented on #10651
Hey everyone! Thanks for that! I'm working on new release locally and there would have some changes

Also there are few problems related to the files.

[2017-03-25 16:15] WriteCodeEveryday commented on #10913
Yes, I must have grabbed a direct link to the inbrowser version.                                                                                                                                                                            From: notifications@github.comSent: March 25, 2017 7:38 AMTo: cdnjs@noreply.github.comReply-to: reply@reply.github.comCc: lherr012@fiu.edu; mention@noreply.github.c

[2017-03-25 20:03] extend1994 commented on #10785
Close issue due to no response and no longer existed lib repo. cc @PeterDaveHello

[2017-03-25 20:03] extend1994 commented on #10785
Close issue due to no response and no longer existed lib repo. cc @PeterDaveHello

[2017-03-25 20:03] #10785 closed

[2017-03-25 20:05] extend1994 commented on #10757
Close the issue due to no response and insufficient popularity. cc @PeterDaveHello

[2017-03-25 20:05] extend1994 commented on #10757
Close the issue due to no response and insufficient popularity. cc @PeterDaveHello

[2017-03-25 20:05] #10757 closed

[2017-03-25 20:06] extend1994 commented on #10483
Close the issue due to no response and insufficient popularity. cc @PeterDaveHello

[2017-03-25 20:06] extend1994 commented on #10483
Close the issue due to no response and insufficient popularity. cc @PeterDaveHello

[2017-03-25 20:06] #10483 closed

[2017-03-25 20:08] extend1994 commented on #10474
Close the issue due to no response and insufficient popularity. cc @PeterDaveHello

[2017-03-25 20:08] #10474 closed

[2017-03-25 20:09] extend1994 commented on #10482
Close the issue due to no response and insufficient popularity. cc @PeterDaveHello

[2017-03-25 20:09] #10482 closed

[2017-03-25 23:44] extend1994 commented on #10285
@PeterDaveHello I am not sure what should I fill out the `license` field. In the lib repo, it's "custom". Or it should be "Linkware"...?

[2017-03-25 23:46] PeterDaveHello commented on #10285
@extend1994 We can use an object to save the info with link to the reference, take a quck trace, you will see some cases in the repo, not all of them using SPDX license string.  CC @cdnjs/intern3

[2017-03-25 23:50] extend1994 commented on #10710
Close the issue due to no response and insufficient popularity. cc @PeterDaveHello

[2017-03-25 23:55] extend1994 commented on #10285
@PeterDaveHello Okay, thanks!

[2017-03-26 06:31] GramThanos opened #10917 "[Update] Update ResponsiveSlides.js to v1.55"
**Library name: ResponsiveSlides.js**
**Git repository url: https://github.com/viljamis/ResponsiveSlides.js**

=====================

Latest library version is v1.55
Online cdnjs version is v1.53

[2017-03-26 08:02] plonknimbuzz commented on #10915
thank you for your reply.
sorry i dont read the readme (about popularity). because i just see SUBMIT request button in cdnjs website.
thanks for your great work

[2017-03-26 08:03] PeterDaveHello commented on #10915
@plonknimbuzz thanks for understanding, feel free to open a new request once it reached our minimum requirement, and thanks for being interested in CDNJS :)

[2017-03-26 12:06] pvnr0082t commented on #10651
@tunnckoCore Thanks for the information. :+1:

[2017-03-26 13:53] #10738 closed

[2017-03-26 13:54] PeterDaveHello commented on #10849
Just as the meaning of the words, the status looks abnormal ... we'll keep eyes on it, thanks.

[2017-03-26 13:55] PeterDaveHello commented on #5084
Thanks @LuisRBarreras and sorry for the late response, it looks good to me 👍

[2017-03-26 13:56] #10651 closed

[2017-03-26 13:57] #9719 closed

[2017-03-26 14:42] thanhngvpt commented on #7102
What about it? I've tried to lookup on cdnjs.org site but Its  seem not there.

[2017-03-26 14:52] oberstet commented on #7102
On a sidenote, using CDNs exposes you to security risks, which we (Crossbar.io project) will take no responsibility for.

[2017-03-26 15:00] PeterDaveHello commented on #7102
@oberstet I don't think this is really an issue here and in fact we can provide better security for most cases as not all the developers know about best implement, including https, DNSSEC, SRI, etc. This issue is just like: using the Internet will have security and privacy issues :)

[2017-03-26 15:03] oberstet commented on #7102
No, I disagree: you cannot provide "upstream trust", as you can fiddle with the distributed code as you wish, while the JS runs in the security context of the users loading page. Whereas if a developer clones our upstream built repo and self-hosts, there is no such issue.

[2017-03-26 15:10] PeterDaveHello commented on #7102
@oberstet no offense but this is totally a [FUD](https://en.wikipedia.org/wiki/Fear,_uncertainty_and_doubt), I'll respectfully suggest you to take a look at what SRI is - https://www.w3.org/TR/SRI, https://developer.mozilla.org/en-US/docs/Web/Security/Subresource_Integrity, and then tell me how can we and how should we fiddle the codes if SRI is enabled? If you wanna keep the security high, you ca

[2017-03-26 15:13] oberstet commented on #7102
1. SRI would do away with security concerns, but http://caniuse.com/#feat=subresource-integrity
2. SRI does NOT help with privacy (you, as a CDN, can track the clients loading the resource)

So no FUD.

Anyway: I cannot stop you from distributing Autobahn on your CDN, but I can discourage our users from using any CDN, and encourage self-hosting.

[2017-03-26 15:28] PeterDaveHello commented on #7102
@oberstet I agree that SRI is not that widely supported yet but this will be improved in future, as modern Chrome + Firefox have more than 50% market sharing, I won't worry about this too much, especially this is already much more secure then even self-hosting in most case (I don't know who is calculating SRI by his/her own on his hosting yet), the hosting issue I can say that most of CDN provider

[2017-03-26 16:37] mberneti opened #10918 "[Request] Add react-datepicker2"
Library name: react-datepicker2
Git repository url: https://github.com/mberneti/react-datepicker2
npm package url(optional): https://www.npmjs.com/package/react-datepicker2
License(s): MIT
Official homepage: https://mberneti.github.io/react-datepicker2/

[2017-03-26 17:50] PeterDaveHello commented on #10842
@extend1994 do we have any updates here?

[2017-03-26 19:59] Wowenko opened #10919 "[Request] Add appendGrid"
**Library name:** appendGrid
**Git repository url:** https://github.com/hkalbertl/jquery.appendGrid
**npm package name or url** (if there is one):
**License (List them all if it's multiple):** Dual licensed under the LGPL and MIT licenses.
**Official homepage:** https://appendgrid.apphb.com/
**Wanna say something? Leave message here:**

=====================

Notes from cdnjs maintainer:
Please re

[2017-03-27 01:05] bluepnume opened #10920 "[Request] Add xcomponent"
**Library name:** xcomponent
**Git repository url:** https://github.com/krakenjs/xcomponent
**npm package name or url** (if there is one): https://www.npmjs.com/package/xcomponent
**License (List them all if it's multiple):** Apache 2.0
**Official homepage:** https://github.com/krakenjs/xcomponent

=====================

Notes from cdnjs maintainer:
Please read the [README.md](https://github.com/c

[2017-03-27 03:16] sufuf3 commented on #10918
@mberneti this library doesn't have enough popularity (like more than 100 stars on GitHub or 500 downloads per month on npm). Please take a look at our [README.md](https://github.com/cdnjs/cdnjs/blob/master/README.md). Would you mind to open an issue again when the library has more popularity? If there are no response in 7 days, I will close this issue. Thanks for your great work and contribution.

[2017-03-27 04:54] IsamarCDavila opened #10923 "[Request] Add scrollmagic"
**Library name:**
**Git repository url:**
**npm package name or url** (if there is one):
**License (List them all if it's multiple):**
**Official homepage:**
**Wanna say something? Leave message here:**

=====================

Notes from cdnjs maintainer:
Please read the [README.md](https://github.com/cdnjs/cdnjs#cdnjs-library-repository) and [CONTRIBUTING.md](https://github.com/cdnjs/cdnjs/blob/m

[2017-03-27 09:22] mberneti commented on #10918
Oky, i'll open a new request, once it reaches your minimum requirement.

[2017-03-27 09:23] PeterDaveHello commented on #10918
@mberneti thanks a lot!

[2017-03-27 10:44] #10225 closed

[2017-03-27 10:47] #10140 closed

[2017-03-27 11:05] dloret opened #10925 "[Request] Add node-gol-hashlife"
**Library name:** node-gol-hashlife
**Git repository url:** https://github.com/rharel/node-gol-hashlife
**npm package name or url** (if there is one): https://github.com/rharel/node-gol-hashlife
**License (List them all if it's multiple):** MIT Licence (https://github.com/rharel/node-gol-hashlife/blob/master/LICENSE.txt)
**Official homepage:** none found
**Wanna say something? Leave message here:*

[2017-03-27 12:59] LuisRBarreras commented on #5084
If you want, Create an issue for the migration from vows to Mocha assigned for me.

[2017-03-27 18:08] lucianopf opened #10926 "[Request] Add cep-promise"
**Library name:** cep-promise
**Git repository url:** https://github.com/filipedeschamps/cep-promise.git
**npm package name or url:**  https://www.npmjs.com/package/cep-promise
**License (List them all if it's multiple):** MIT
**Official homepage:** https://github.com/filipedeschamps/cep-promise
**Wanna say something? Leave message here:** Project with Portuguese (BR) README because it's only usef

[2017-03-27 20:06] ConnorMcF opened #10927 "[Request] Add angular-file-uploader"
**Library name:** angular-file-uploader
**Git repository url:** https://github.com/ghostbar/angular-file-uploader
**npm package name or url** (if there is one): N/A
**License (List them all if it's multiple):** MIT
**Official homepage:** https://github.com/ghostbar/angular-file-uploader
**Wanna say something? Leave message here:** N/A

=====================

Notes from cdnjs maintainer:
Please rea

[2017-03-28 01:39] mercyg commented on #10600
Hi @drewfreyling I have made a pull request for this library please review it

[2017-03-28 03:23] thaiseerp opened #10929 "[Request] Add react-markdown"
**Library name:** react-markdown
**Git repository url:**  https://github.com/rexxars/react-markdown
**npm package name or url** : https://www.npmjs.com/package/react-markdown
**License (List them all if it's multiple):** MIT License
**Official homepage:** http://rexxars.github.io/react-markdown/  (Demo page)

=====================

Notes from cdnjs maintainer:
Please read the [README.md](https://g

[2017-03-28 06:19] verlok opened #10930 "vanilla-lazyload more dist files"
Hello,
my library https://github.com/verlok/lazyload is currently published on cdnjs under the name `vanilla-lazyload` (same name on npm). I'm about to change the dist files from 3 to 6 (transpiled and non-transpiled, minified and non-minified, + sourcemaps).
Do I need to do anything or cdnjs will automatically manage the change?

[2017-03-28 06:31] PeterDaveHello commented on #10930
@verlok if the origin auto-update can fetch the new files with same structure, then you need to do nothing, thanks.

[2017-03-28 06:58] AravindElumalai opened #10931 "bootstrap-datepicker-thai.js"
**Library name:** bootstrap-datepicker-thai.js
**Git repository url:** https://github.com/jojosati/bootstrap-datepicker-thai/blob/thai/js/bootstrap-datepicker-thai.js
**npm package name or url** (if there is one):
**License (List them all if it's multiple):**
**Official homepage:**
**Wanna say something? Leave message here:** I need to this file in  the cloud as i have lot of things to work on it

[2017-03-28 07:26] sfornengo commented on #10269
Is this add request dead ?

[2017-03-28 09:03] phengme opened #10932 "npaau"

[2017-03-28 11:23] iliakonnov opened #10933 "[Request] Add intense-images"
**Library name:** intense-images
**Git repository url:** https://github.com/tholman/intense-images
**npm package name or url** (if there is one): https://www.npmjs.com/package/@tholman/intense-images
**License (List them all if it's multiple):** MIT License
**Official homepage:** http://tholman.com/intense-images/ (Demo page)

[2017-03-28 12:20] #9729 closed

[2017-03-28 12:48] #10886 closed

[2017-03-28 12:55] #9323 closed

[2017-03-28 18:03] PeterBot opened #10935 "[Build failed] Got error while building meta data/artifact"
Dear all,

Our build process just got an error while building the meta data/artifact of cdnjs project, our [website and api](https://github.com/cdnjs/new-website) may not be as new as our repository, however, the cdn service will not been affected, you can still use it, and modify the library name, version number and filename in the url can help you access all the content on cdnjs, we will fix the

[2017-03-28 18:05] PeterDaveHello commented on #10935
failed on heroku deploy

[2017-03-28 18:05] #10935 closed

[2017-03-28 18:54] Hoangminhtrang0109 opened #10936 "NGUYEN VAN CONG"
**Library name:**
**Git repository url:**
**npm package name or url** (if there is one):
**License (List them all if it's multiple):**
**Official homepage:**
**Wanna say something? Leave message here:**

=====================

Notes from cdnjs maintainer:
Please read the [README.md](https://github.com/cdnjs/cdnjs#cdnjs-library-repository) and [CONTRIBUTING.md](https://github.com/cdnjs/cdnjs/blob/m

[2017-03-29 03:53] hamigua85 opened #10937 "bootstrap"
**Library name:**
**Git repository url:**
**npm package name or url** (if there is one):
**License (List them all if it's multiple):**
**Official homepage:**
**Wanna say something? Leave message here:**

=====================

Notes from cdnjs maintainer:
Please read the [README.md](https://github.com/cdnjs/cdnjs#cdnjs-library-repository) and [CONTRIBUTING.md](https://github.com/cdnjs/cdnjs/blob/m

[2017-03-29 05:02] xgqfrms-GitHub opened #10938 "[Request] Add EJS"
EJS

http://ejs.co/

https://github.com/mde/ejs

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/43563489-request-add-ejs?utm_campaign=plugin&utm_content=tracker%2F32893&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tracker%2F32893&utm_medium

[2017-03-29 07:01] arguiot opened #10939 "[Request] Add Waffle Grid"
**Library name:** Waffle Grid
**Git repository url:** https://github.com/lucasgruwez/waffle-grid
**npm package name or url** (if there is one): https://www.npmjs.com/package/waffle-grid
**License (List them all if it's multiple):** MIT License
**Official homepage:** https://lucasgruwez.github.io/waffle-grid/
**Wanna say something? Leave message here:**

=====================

Notes from cdnjs main

[2017-03-29 07:48] wck821829906 opened #10941 "socket.io.min.js"
**Library name:**
**Git repository url:**
**npm package name or url** (if there is one):
**License (List them all if it's multiple):**
**Official homepage:**
**Wanna say something? Leave message here:**

=====================

Notes from cdnjs maintainer:
Please read the [README.md](https://github.com/cdnjs/cdnjs#cdnjs-library-repository) and [CONTRIBUTING.md](https://github.com/cdnjs/cdnjs/blob/m

[2017-03-29 07:49] #10941 closed

[2017-03-29 09:52] kh9n opened #10942 "[Request] Add office-ui-fabric-react"
**Office UI Fabric**
**https://github.com/OfficeDev/office-ui-fabric-react.git**
**office-ui-fabric-react**
**MIT**
**https://dev.office.com/fabric**
**office-ui-fabric-react.(min.)js will be built under office-ui-fabric-react/packages/office-ui-fabric-react/dist**

=====================

Notes from cdnjs maintainer:
Please read the [README.md](https://github.com/cdnjs/cdnjs#cdnjs-library-reposito

[2017-03-29 10:13] ArmGono opened #10943 "[Request] jQuery toggle menu"
**Library name:**  jquery.togglemenu
**Git repository url:**  https://github.com/ArmGono/togglemenu
**npm package name or url** (if there is one):
**License (List them all if it's multiple):**  GNU GPL v3
**Official homepage:** https://github.com/ArmGono/togglemenu
**Wanna say something? Leave message here:** This is simple menu toggle plugin for web sites mobile ersions

=====================

No

[2017-03-29 10:33] hare1039 commented on #10923
Hi @IsamarDavilaG,
We have [ScrollMagic](https://cdnjs.com/libraries/ScrollMagic) at latest version. What can we help you more?

[2017-03-29 11:07] #10476 closed

[2017-03-29 11:10] #10917 closed

[2017-03-29 11:28] dakshshah96 commented on #5962
I'm happy to help with this issue. The latest release of jQuery UI Bootstrap is v1.0 alpha. Should we put that up on cdnjs? @PeterDaveHello @maruilian11 @pvnr0082t

[2017-03-29 11:43] hare1039 opened #10944 "[Request] Add old versions of flowplayer"
**Library name:** flowplayer
**Git repository url:** https://github.com/flowplayer/flowplayer
**npm package name or url** (if there is one): https://www.npmjs.com/package/flowplayer
**License (List them all if it's multiple):** GPL-3.0
**Official homepage:** https://flowplayer.org

Relate PR #10910

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysour

[2017-03-29 13:41] #10884 closed

[2017-03-29 13:49] #10319 closed

[2017-03-29 14:23] PeterDaveHello opened #10946 "[Request] Add jquery.touch"
**Library name:** jquery.touch
**Git repository url:** https://github.com/ajlkn/jquery.touch
**License (List them all if it's multiple):** MIT

For beginners who is interested in picking up this issue:

In this issue, we are going to host a new web front-end library on CDNJS, so that web developer can easily use it on our free CDN without additional download/upload process 🚀 .

If you'll like to w

[2017-03-29 15:00] PeterDaveHello commented on #10227
Maybe just follow the auto-update config from `phaser`?

[2017-03-29 16:55] devvit opened #10948 "[Request] Add knockstrap"
**Library name:** knockstrap
**Git repository url:** https://github.com/faulknercs/Knockstrap
**npm package name or url** (if there is one): knockstrap
**License (List them all if it's multiple):** MIT License
**Official homepage:** http://faulknercs.github.io/Knockstrap/
**Wanna say something? Leave message here:**

=====================

Notes from cdnjs maintainer:
Please read the [README.md](h

[2017-03-29 18:12] ron666 opened #10949 "How can I update my package.info?"
I wanna make a minor update on the package.info files for the MediaElement and MediaElement Plugins repos. I tried to use the `Find File`, but I couldn't find them. What can I do to update them?

[2017-03-29 18:14] PeterDaveHello commented on #10949
https://github.com/cdnjs/cdnjs/blob/master/ajax/libs/mediaelement/package.json
https://github.com/cdnjs/cdnjs/blob/master/ajax/libs/mediaelement-plugins/package.json

[2017-03-29 18:22] ron666 commented on #10949
Thanks. I updated this to point to the organization repository now. Hope the PRs #10950 and #10951 get merged soon.

[2017-03-29 18:22] #10949 closed

[2017-03-29 18:24] PeterDaveHello commented on #10949
@ron666 thanks for the update.

[2017-03-29 20:38] kingy444 commented on #10893
apologies, im new to this. it appears that the JS that i want uploaded is not listed directly as an item within the repo files, the direct link http://jawj.github.com/OverlappingMarkerSpiderfier-Leaflet/bin/oms.min.js

it appears files i am after may be located here:
https://github.com/jawj/OverlappingMarkerSpiderfier-Leaflet/tree/gh-pages

I'm going to assume you guys know what your doing here as

[2017-03-30 08:57] maruilian11 commented on #8531
@Qix- Because the users will directly include the cdn link in their html.
like
[code]
We need bundled `index.js` so that the user can directly include the link.
Thank you.

[2017-03-30 09:25] extend1994 commented on #10932
Hi @phengme Can you please provide more information about this? Thanks.

[2017-03-30 09:26] extend1994 commented on #10936
Hi @Hoangminhtrang0109 Can you please provide more information about this? Thanks.

[2017-03-30 09:28] extend1994 commented on #10937
Hi @hamigua85 Do you mean the existed one https://cdnjs.com/libraries/twitter-bootstrap?

[2017-03-30 09:30] extend1994 commented on #10939
Hi @arguiot This is for #10940, right? Thanks.

[2017-03-30 09:32] phuslu opened #10952 "[Request] Add micromarkdown"
**Library name:** micromarkdown
**Git repository url:** https://github.com/SimonWaldherr/micromarkdown.js
**npm package name or url** (if there is one): micromarkdown
**License (List them all if it's multiple):** MIT
**Official homepage:** https://simonwaldherr.github.io/micromarkdown.js/
**Wanna say something? Leave message here:** It's a pretty small&fast markdown parser, wish we could deliver i

[2017-03-30 09:50] extend1994 commented on #10842
@PeterDaveHello Yes I am still discussing with the author.

[2017-03-30 10:38] extend1994 commented on #10285
@PeterDaveHello There are not minified files (e.g `ammap.css`) in the existed versions on CDNJS (https://github.com/cdnjs/cdnjs/tree/master/ajax/libs/ammaps). Should I minify them? Or I just need to leave it like that and also don't need to minify them in latest version? Thank you.

[2017-03-30 11:23] extend1994 commented on #10491
@PeterDaveHello The lib on npm has latest version v0.5.0 but less versions. The lib on GitHub has more complete versions (v0.1.0~v0.4.0) but not latest. Which source should I take? Thank you.

[2017-03-30 12:14] zytzagoo opened #10953 "[author] How to re-trigger git auto update or something to that effect?"
See comment here: https://github.com/cdnjs/cdnjs/commit/8753b90de55ce7c1daec2d052e420daa4cd0dd36#commitcomment-21556759

Or will it fix itself at some point?

[2017-03-30 13:15] #10805 closed

[2017-03-30 13:21] #10489 closed

[2017-03-30 13:46] #10775 closed

[2017-03-30 13:49] PeterDaveHello commented on #10491
I think you can just create an issue to remind its author to tag it on GitHub.

[2017-03-30 13:51] PeterDaveHello commented on #10285
I can minify them, create an issue for that an assign to me, thanks.

[2017-03-30 13:52] PeterDaveHello commented on #10842
Okay, let's add this one ASAP, thanks.

[2017-03-30 14:10] VladimirHumeniuk opened #10954 "[Request][Author] Add EqualizeCss"
**Library name: EqualizeCss**
**Git repository url: https://github.com/VladimirHumeniuk/equalizecss**
**npm package name or url: https://www.npmjs.com/package/equalizecss** (if there is one):
**License (List them all if it's multiple): ISC**
**Official homepage: https://equalizecss.com/**
**Wanna say something? Leave message here: Mobilefirst grid based on flexboxes**

=====================

Notes

[2017-03-30 14:58] extend1994 opened #10958 "Minify some files of ammaps"
Library name: ammaps
url: https://github.com/cdnjs/cdnjs/tree/master/ajax/libs/ammaps
Related issue: #10285

Please help minify the files of ammaps on CDNJS, They include the followings.
1. All files under `3.13.0/maps/js`
2. All files under `3.13.0/exporting`
3. All files under `3.13.0/themes`
4. `3.13.0/ammap.css`

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](http

[2017-03-30 15:06] extend1994 commented on #10561
@PeterDaveHello ng-device-detector has enough popularity and has been on CDNJS. As a dependency, can this library be added to CDNJS? Thanks.

[2017-03-30 16:05] smyzin opened #10960 "[author] [Request] Add btn.style"
**Library name:** btn.style
**Git repository url:** https://github.com/smyzin/btn.style
**npm package name or url** (if there is one):
**License (List them all if it's multiple):** MIT
**Official homepage:** http://btn.umount.space/
**Wanna say something? Leave message here:**
I want to add CDN path for users who will use this css-library
=====================

Notes from cdnjs maintainer:
Please

[2017-03-30 16:07] extend1994 commented on #10636
Close this issue because of no response and insufficient popularity, cc @PeterDaveHello

[2017-03-30 16:07] #10636 closed

[2017-03-30 16:09] extend1994 commented on #10408
Hi @redeventmedia
The library doesn't have enough popularity(100 stars/watchers on GitHub and 500 downloads/month on npm registry are good examples). You can take a look on our [issue rule](https://github.com/cdnjs/cdnjs/blob/master/.github/CONTRIBUTING.md#b-request-a-new-library) for more details :)
We suggest you open a issue again when the repo has notable popularity.

This issue will be closed

[2017-03-30 16:11] extend1994 commented on #10861
Close the issue because the request library does not have notable popularity and there is no response in 7 days. cc @PeterDaveHello

[2017-03-30 16:11] #10861 closed

[2017-03-30 16:11] extend1994 commented on #10891
Close the issue because the request library does not have notable popularity and there is no response in 7 days. cc @PeterDaveHello

[2017-03-30 16:11] #10891 closed

[2017-03-30 16:12] extend1994 commented on #10905
Hi @harush
The library doesn't have enough popularity(100 stars/watchers on GitHub and 500 downloads/month on npm registry are good examples). You can take a look on our [issue rule](https://github.com/cdnjs/cdnjs/blob/master/.github/CONTRIBUTING.md#b-request-a-new-library) for more details :)
We suggest you open a issue again when the repo has notable popularity.

This issue will be closed if the

[2017-03-30 16:14] extend1994 commented on #10911
Hi @m47730
The library doesn't have enough popularity(100 stars/watchers on GitHub and 500 downloads/month on npm registry are good examples). You can take a look on our [issue rule](https://github.com/cdnjs/cdnjs/blob/master/.github/CONTRIBUTING.md#b-request-a-new-library) for more details :)
We suggest you open a issue again when the repo has notable popularity.

This issue will be closed if the

[2017-03-30 16:16] redeventmedia commented on #10408
Thanks @extend1994!  I understand now, makes sense.

[2017-03-30 16:18] extend1994 commented on #10838
Close the issue because of insufficient popularity and no response in 7 days. cc @PeterDaveHello

[2017-03-30 16:18] #10838 closed

[2017-03-30 16:19] extend1994 commented on #10832
Close the issue because of insufficient popularity and no response in 7 days. cc @PeterDaveHello

[2017-03-30 16:19] #10832 closed

[2017-03-30 16:37] PeterDaveHello commented on #10636
@hare1039 please assign the issues waiting for response to yourself and don't forget to close them if there is no response.

[2017-03-30 16:37] PeterDaveHello commented on #10861
@sufuf3  please assign the issues waiting for response to yourself and don't forget to close them if there is no response.

[2017-03-30 16:38] PeterDaveHello commented on #10891
@sufuf3  please assign the issues waiting for response to yourself and don't forget to close them if there is no response.

[2017-03-30 16:38] PeterDaveHello commented on #10838
@clairetsai818 please assign the issues waiting for response to yourself and don't forget to close them if there is no response.

[2017-03-30 16:38] PeterDaveHello commented on #10832
@clairetsai818 please assign the issues waiting for response to yourself and don't forget to close them if there is no response.

[2017-03-30 16:41] PeterDaveHello commented on #10953
Bump it's version is the simplest way to fix it, we have SRI/hash on files, overwrite the file will break its integrity, so I prefer not to do it.

[2017-03-30 16:41] PeterDaveHello commented on #10953
@cdnjs/intern2 @cdnjs/intern3 please help assign this kind of issues to me, thanks.

[2017-03-30 17:17] extend1994 commented on #10384
Hi @AureoleArk
The library doesn't have enough popularity(100 stars/watchers on GitHub and 500 downloads/month on npm registry are good examples). You can take a look on our [issue rule](https://github.com/cdnjs/cdnjs/blob/master/.github/CONTRIBUTING.md#b-request-a-new-library) for more details :smile:
We suggest you open a issue again when the repo has notable popularity.

This issue will be clos

[2017-03-30 17:20] extend1994 commented on #10296
Hi @piecioshka
The library doesn't have enough popularity(100 stars/watchers on GitHub and 500 downloads/month on npm registry are good examples). You can take a look on our [issue rule](https://github.com/cdnjs/cdnjs/blob/master/.github/CONTRIBUTING.md#b-request-a-new-library) for more details :smile:
We suggest you open a issue again when the repo has notable popularity.

This issue will be clos

[2017-03-30 17:21] extend1994 commented on #10825
Hi @geodatasource
The library doesn't have enough popularity(100 stars/watchers on GitHub and 500 downloads/month on npm registry are good examples). You can take a look on our [issue rule](https://github.com/cdnjs/cdnjs/blob/master/.github/CONTRIBUTING.md#b-request-a-new-library) for more details :smile:
We suggest you open a issue again when the repo has notable popularity.

This issue will be c

[2017-03-30 17:24] extend1994 commented on #10826
Hi @Jdoyle112
The library doesn't have enough popularity(100 stars/watchers on GitHub and 500 downloads/month on npm registry are good examples). You can take a look on our [issue rule](https://github.com/cdnjs/cdnjs/blob/master/.github/CONTRIBUTING.md#b-request-a-new-library) for more details :smile:
We suggest you open a issue again when the repo has notable popularity.

This issue will be close

[2017-03-30 17:24] piecioshka commented on #10296
Hi @extend1994
Thanks for details.

If this cute lib has no required popularity I will close this issue.

[2017-03-30 17:24] #10296 closed

[2017-03-30 17:26] #10616 closed

[2017-03-30 18:41] msivakr opened #10961 "[Request] Clappr VAST Ads"
**Library name:Clappr VAST Ads**
**https://github.com/NicholasAsimov/clappr-vast-ads**
**npm package name or url** (if there is one):
**License (List them all if it's multiple):**
**Official homepage:**
**Wanna say something? Leave message here:**

=====================

Notes from cdnjs maintainer:
Please read the [README.md](https://github.com/NicholasAsimov/clappr-vast-ads/blob/master/README.md

[2017-03-30 19:01] hare1039 commented on #10223
Close due to no response. cc @PeterDaveHello

[2017-03-30 19:01] #10223 closed

[2017-03-30 19:02] hare1039 commented on #10471
Close due to no response. cc @PeterDaveHello

[2017-03-30 19:03] hare1039 commented on #10635
Close due to no response. cc @PeterDaveHello

[2017-03-30 19:03] #10635 closed

[2017-03-30 19:04] hare1039 commented on #10748
Close due to no response. cc @PeterDaveHello

[2017-03-30 19:04] #10748 closed

[2017-03-30 19:04] hare1039 commented on #10794
Close due to no response in 7 days. cc @PeterDaveHello

[2017-03-30 19:04] #10794 closed

[2017-03-30 19:17] PeterDaveHello commented on #10471
Let's host this one :)

[2017-03-30 20:38] streetjerk opened #10962 "Skubotics Website Repo"
**Library name:**
**Git repository url:**
**npm package name or url** (if there is one):
**License (List them all if it's multiple):**
**Official homepage:**
**Wanna say something? Leave message here:**

=====================

Notes from cdnjs maintainer:
Please read the [README.md](https://github.com/cdnjs/cdnjs#cdnjs-library-repository) and [CONTRIBUTING.md](https://github.com/cdnjs/cdnjs/blob/m

[2017-03-30 21:03] PeterDaveHello commented on #10561
Okay let's do it 👍

[2017-03-31 01:20] sufuf3 opened #10963 "[Request] Add onfire.js"
**Library name:** onfire.js
**Git repository url:**  https://github.com/hustcc/onfire.js
**License (List them all if it's multiple):** MIT
**Wanna say something? Leave message here:**

[2017-03-31 01:21] PeterDaveHello commented on #10963
@sufuf3 remove empty sectioms and notes please.

[2017-03-31 01:22] sufuf3 commented on #10961
@msivakr  this library doesn't have enough popularity (like more than 100 stars on GitHub or 500 downloads per month on npm). Please take a look at our [README.md](https://github.com/cdnjs/cdnjs/blob/master/README.md). Would you mind to open an issue again when the library has more popularity? If there are no response in 7 days, I will close this issue. Thanks for your great work and contribution.

[2017-03-31 01:26] sufuf3 commented on #10963
OK. I'm done.

[2017-03-31 02:24] sufuf3 opened #10964 "[Request] Add Konva"
**Library name:** Konva
**Git repository url:** https://github.com/konvajs/konva
**npm package name or url** (if there is one): https://www.npmjs.com/package/konva
**License (List them all if it's multiple):** MIT
**Official homepage:** https://konvajs.github.io/
**Wanna say something? Leave message here:**

[2017-03-31 02:36] frankyso commented on #10471
:D thankyou

Thanks,
Franky So

2017-03-31 2:17 GMT+07:00 Peter Dave Hello <notifications@github.com>:

[2017-03-31 09:51] zytzagoo commented on #10953
thanks. did so.

[2017-03-31 09:51] #10953 closed

[2017-03-31 10:22] DRasiti opened #10966 "[Request][author] Add JudgementJS"
**Library name: JudgementJS**
**Github: https://github.com/DRasiti/JudgementJS**
**NPM: https://www.npmjs.com/package/judgementjs**
**License: MIT**
**Official homepage: https://drasiti.github.io/JudgementJS/**

[2017-03-31 10:39] sufuf3 commented on #10966
@DRasiti this library doesn't have enough popularity (like more than 100 stars on GitHub or 500 downloads per month on npm). Please take a look at our [README.md](https://github.com/cdnjs/cdnjs/blob/master/README.md).
But you are the author of this library, would you like to send a PR to add it?

[2017-03-31 14:38] #10865 closed

[2017-03-31 14:50] #6952 closed

[2017-03-31 15:13] PeterDaveHello commented on #10825
I think we can host this one if @geodatasource you'll like to send us a pull request, thanks.

[2017-03-31 15:15] PeterDaveHello commented on #10966
We can accept it if @DRasiti you can send us pull request, thanks.

[2017-03-31 15:16] PeterDaveHello commented on #10408
Feel free to ask re-open this one or create an new issue if its popularity get higher, thanks @redeventmedia

[2017-03-31 15:16] #10408 closed

[2017-03-31 17:36] PeterDaveHello commented on #10958
@extend1994 please describe the files should be minified.

[2017-03-31 21:36] PeterDaveHello commented on #10710
@the94air we'll accept pull request to add it if you'll like to send us, thanks.

[2017-03-31 22:08] PeterDaveHello commented on #10757
@elijahcruz12 if you'd like to sen us a pull request, we'll be happy to help you add it, thanks.

[2017-04-01 00:01] isay777 opened #10967 "[Request] Add cartonbox"
**Library name:** cartonbox
**Git repository url:** https://github.com/constlab/cartonbox/
**npm package name or url** (if there is one):
**License (List them all if it's multiple):** MIT License
**Official homepage:**  http://cartonbox.constlab.ru/
**Wanna say something? Leave message here:**
Add please this cool  script

=====================

Notes from cdnjs maintainer:
Please read the [README

[2017-04-01 03:54] scottdejonge opened #10968 "[Request] Add turretcss"
**Library name:** turretcss
**Git repository url:** https://github.com/turretcss/turretcss
**npm package name or url** (if there is one): turretcss
**License (List them all if it's multiple):** MIT
**Official homepage:** http://turretcss.com/

[2017-04-01 06:50] codebeautify opened #10969 "[Request] Add vkbeautify.js"
**Library name:** vkbeautify.js
**Git repository url:** https://github.com/vkiryukhin/vkBeautify
**npm package name or url** (if there is one):
**License (List them all if it's multiple):** https://github.com/vkiryukhin/vkBeautify/blob/master/LICENSE
**Official homepage:**  https://github.com/vkiryukhin/vkBeautify
**Wanna say something? Leave message here:**

=====================

Notes from cdnj

[2017-04-01 06:55] jgstew opened #10970 "[Request] Add filesize.js"
**Library name:** filesize.js
**Git repository url:** https://github.com/avoidwork/filesize.js
**npm package name or url** (if there is one): https://www.npmjs.com/package/filesize
**License (List them all if it's multiple):** BSD 3-clause
**Official homepage:** https://filesizejs.com/
**Wanna say something? Leave message here:** JavaScript library to generate a human readable String describing th

[2017-04-01 09:06] sufuf3 commented on #5709
**Library name:** Oimo.js
**Git repository url:** https://github.com/lo-th/Oimo.js
**npm package name or url** (if there is one): https://www.npmjs.com/package/oimo
**License (List them all if it's multiple):** MIT
**Official homepage:** http://lo-th.github.io/Oimo.js/index.html#basic
![image](https://cloud.githubusercontent.com/assets/8349587/24577286/7d59b10c-16fd-11e7-8874-6b497d2a3ef8.png)

![

[2017-04-01 09:12] sufuf3 opened #10971 "[Request] Add Rill"
**Library name:** Rill
**Git repository url:** https://github.com/rill-js/rill
**npm package name or url** (if there is one): https://www.npmjs.com/package/rill
**License (List them all if it's multiple):** MIT
**Official homepage:** https://rill.site/
**Wanna say something? Leave message here:**

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource

[2017-04-01 09:15] sufuf3 commented on #10967
@isay777   this library doesn't have enough popularity (like more than 100 stars on GitHub or 500 downloads per month on npm). Please take a look at our [README.md](https://github.com/cdnjs/cdnjs/blob/master/README.md). Would you mind to open an issue again when the library has more popularity? If there are no response in 7 days, I will close this issue. Thanks for your great work and contribution

[2017-04-01 09:22] sufuf3 commented on #10962
@streetjerk what the library do you want to add?
Is there any URL or information?

[2017-04-01 10:44] PeterDaveHello commented on #10968
I think we have it as https://cdnjs.com/libraries/bigfishtv-turret?

[2017-04-01 11:30] scottdejonge commented on #10968
Yeah, I pushed a new version today and moved the repo to a new organisation. Should be https://github.com/turretcss/turretcss and version 4.0.0 if that's cool?

[2017-04-01 12:10] the94air commented on #10710
Ok, I will :+1:

[2017-04-01 13:24] PeterDaveHello commented on #10710
@the94air thanks

[2017-04-01 13:25] PeterDaveHello commented on #10968
@scottdejonge the new version is online already: https://cdnjs.com/libraries/bigfishtv-turret/4.0.0, I'll update its repo info.

[2017-04-01 13:32] #10968 closed

[2017-04-01 13:55] #10115 closed

[2017-04-01 13:58] #10628 closed

[2017-04-01 18:24] exelban opened #10972 "[Author][Request] Add js-popup"
**Library name:** js-popup
**Git repository url:** https://github.com/exelban/js-popup
**npm package name or url** (if there is one): https://www.npmjs.com/package/js-popup
**License (List them all if it's multiple):** Apache License 2.0
**Official homepage:**
**Wanna say something? Leave message here:**

Release:
https://github.com/exelban/js-popup/releases

=====================

Notes from cdnj

[2017-04-01 18:25] PeterDaveHello commented on #10972
@exelban would you like to send us a pull request? Thanks.

[2017-04-01 18:45] topdog69 opened #10974 "[Request] Update justgage version to 1.2.7"
**Library name:** JustGage
**Git repository url:** https://github.com/toorshia/justgage
**npm package name or url** (if there is one): https://npmjs.com/package/justgage
**License (List them all if it's multiple):** https://spdx.org/licenses/MIT.html
**Official homepage:** justgage.com
**Wanna say something? Leave message here:**
justgage 1.2.2 is currently hosted on cdnjs https://cdnjs.com/librar

[2017-04-01 20:19] dakshshah96 commented on #10974
Hey @PeterDaveHello, isn't justgage supposed to update automatically since it already has the correct `package.json` file with npm auto update enabled?

[2017-04-01 20:20] PeterDaveHello commented on #10974
@dakshshah96 sometimes the upstreams change the file/directory structure, so we need to update the auto-update config.

[2017-04-02 05:38] Jack-Kingdom opened #10977 "[Request] Add react-router-dom"
**Library name:** react-router-dom
**Git repository url:** https://github.com/ReactTraining/react-router/tree/master/packages/react-router-dom
**npm package name or url** (if there is one): https://www.npmjs.com/package/react-router-dom
**License (List them all if it's multiple):** MIT
**Official homepage:** https://github.com/ReactTraining/react-router/tree/master/packages/react-router-dom
**Wann

[2017-04-02 07:26] juliandavidmr opened #10978 "[Request][Author] Add vue-frame"
**Library name:** vue-frame.js
**Git repository url:** https://github.com/juliandavidmr/vue-frame
**npm package name or url** (if there is one): https://github.com/juliandavidmr/vue-frame
**License (List them all if it's multiple):** https://github.com/juliandavidmr/vue-frame/blob/master/LICENSE
**Official homepage:** https://github.com/juliandavidmr/vue-frame
**Wanna say something? Leave message

[2017-04-02 07:44] sufuf3 commented on #10978
@juliandavidmr  would you like to send a pull request to add it?? Thanks.

[2017-04-02 08:15] sufuf3 commented on #9664
Duplicated with #9165

[2017-04-02 08:16] sufuf3 opened #10979 "[Request] Add TremulaJS"
**Library name:** TremulaJS
**Git repository url:** https://github.com/garris/TremulaJS
**License (List them all if it's multiple):** GPL-3.0
**Wanna say something? Leave message here:**

[2017-04-02 09:49] #9664 closed

[2017-04-02 11:43] extend1994 commented on #10958
@PeterDaveHello Sorry about not specifying them. I rewrote the comment to describe the filed needed to be minified. Thanks!

[2017-04-02 11:44] PeterDaveHello commented on #10958
@extend1994 nice, should always do so, since we all may forgot something after few days the issues created, and we should make the things need to be done also be clear.

[2017-04-02 11:46] extend1994 commented on #10958
@PeterDaveHello Okay, I will :+1:

[2017-04-02 12:34] labcode-de opened #10981 "[Request] Add emojionearea"
**Library name:** emojionearea
**Git repository url:** https://github.com/mervick/emojionearea
**npm package name or url** (if there is one): https://www.npmjs.com/package/emojionearea
**License (List them all if it's multiple):** MIT
**Official homepage:** https://github.com/mervick/emojionearea
**Wanna say something? Leave message here:** An emoji picker for emojione

=====================

Note

[2017-04-02 16:28] sufuf3 opened #10983 "[Request] Add VivaGraphJS"
**Library name:** VivaGraphJS
**Git repository url:** https://github.com/anvaka/VivaGraphJS
**npm package name or url** (if there is one): https://www.npmjs.com/package/vivagraphjs
**License (List them all if it's multiple):** BSD-3-Clause
**Official homepage:**
**Wanna say something? Leave message here:**

[2017-04-02 16:50] sufuf3 opened #10984 "[Request] Add highland"
**Library name:** highland
**Git repository url:** https://github.com/caolan/highland
**npm package name or url** (if there is one): https://www.npmjs.com/package/highland
**License (List them all if it's multiple):** Apache-2.0
**Official homepage:** http://highlandjs.org
**Wanna say something? Leave message here:**

[2017-04-02 17:42] eavichay opened #10985 "[Request][Author] Add slim.js"
**Library name:**  slim.js
**Git repository url:** https://github.com/eavichay/slim.js
**npm package name or url** (if there is one): slim-js
**License (List them all if it's multiple):** MIT
**Official homepage:** slimjs.com
**Wanna say something? Leave message here:**

=====================

Notes from cdnjs maintainer:
Please read the [README.md](https://github.com/cdnjs/cdnjs#cdnjs-library-rep

[2017-04-02 18:01] dalisoft commented on #10800
@PeterDaveHello @x09326 @lxd78706 any news? One library adding takea too much. Even i have 3 lib on jsdelivr, but there no answer.

[2017-04-02 19:08] juliandavidmr opened #10986 "[Request] Add vue-frame.js"
**Library name:** vue-frame.js
**Git repository url:** https://github.com/juliandavidmr/vue-frame
**npm package name or url** (if there is one):
**License (List them all if it's multiple):** https://github.com/juliandavidmr/vue-frame/blob/master/LICENSE
**Official homepage:** https://github.com/juliandavidmr/vue-frame
**Wanna say something? Leave message here:**

=====================

Notes from

[2017-04-03 01:20] sufuf3 commented on #10978
@juliandavidmr this library doesn't have enough popularity (like more than 100 stars on GitHub or 500 downloads per month on npm). Please take a look at our [README.md](https://github.com/cdnjs/cdnjs/blob/master/README.md).
But you are the author of this library, would you like to send a PR to add it?

[2017-04-03 01:20] sufuf3 commented on #10986
Duplicated with #10978
Move to #10978

[2017-04-03 01:27] sufuf3 commented on #10985
@eavichay would you like to send a pull request to add it?? Thanks.

[2017-04-03 03:30] sufuf3 commented on #10978
@juliandavidmr We can host this library if you can send us pull request, thanks.

[2017-04-03 04:13] PeterDaveHello commented on #10978
@sufuf3 Is that your mentor teach you to do?

[2017-04-03 04:16] sufuf3 commented on #10978
sorry about that I learn from oldest issues.

[2017-04-03 04:21] juliandavidmr commented on #10978
@sufuf3 thanks, Later I do PR, I will wait to make a few more changes in my library npm. Thanks for the help.

[2017-04-03 04:24] PeterDaveHello commented on #10978
@sufuf3 I dont know why can you make decisions without asking or authorization from your mentor as you are an intern student in a not so good situation, one more time, I will remove your identity until we have agreement about how the intern program running.

[2017-04-03 04:28] sufuf3 commented on #10978
Sorry for everything, I will keep in mind.

[2017-04-03 05:50] sashberd opened #10989 "[Request] jQuery Nearest Element plugin"
**Library name:** jQuery Nearest Element plugin
**Git repository url:** https://github.com/gilmoreorless/jquery-nearest
**npm package name or url** (if there is one): npm install jquery-nearest
**License (List them all if it's multiple):** MIT
**Official homepage:** https://gilmoreorless.github.io/jquery-nearest/
**Wanna say something? Leave message here:**

This is very cool Jquery plugin. It has

[2017-04-03 07:04] jeromeetienne opened #10990 "[Request] Add AR.js please"
**Library name:** AR.js
**Git repository url:** https://github.com/jeromeetienne/ar.js
**License (List them all if it's multiple):** MIT and LGPLv3
**Official homepage:** https://github.com/jeromeetienne/ar.js
**Wanna say something? Leave message here:** It provide efficient Augmented Reality for the Web - even run 60fps on mobile! it is all in javascript.

=====================

Notes from cdnjs

[2017-04-03 10:06] eavichay commented on #10985
will try. thanks.

On Mon, Apr 3, 2017, 04:27 Monisan Fu <notifications@github.com> wrote:

[2017-04-03 10:34] streetjerk commented on #10962
Hi,

is it possible to add personal website javascript to CDNJS ?

[2017-04-03 10:37] PeterDaveHello commented on #10962
@streetjerk nope, it's for public usage, for personal using, maybe you can try Cloudflare, MaxCDN, KeyCDN, etc, thanks!

[2017-04-03 10:56] #10425 closed

[2017-04-03 10:59] #10670 closed

[2017-04-03 11:13] #10846 closed

[2017-04-03 11:28] #10986 closed

[2017-04-03 11:28] PeterDaveHello commented on #10986
Move to #10978

[2017-04-03 11:30] PeterDaveHello commented on #10800
@dalisoft sorry for the delay, as you can see, there are tons of request issues, maybe you can consider to send us a pull request?

[2017-04-03 12:50] p28 opened #10993 "[Request] Add library_name"
**Library name:**
**Git repository url:**
**npm package name or url** (if there is one):
**License (List them all if it's multiple):**
**Official homepage:**
**Wanna say something? Leave message here:**

=====================

Notes from cdnjs maintainer:
Please read the [README.md](https://github.com/cdnjs/cdnjs#cdnjs-library-repository) and [CONTRIBUTING.md](https://github.com/cdnjs/cdnjs/blob/m

[2017-04-03 13:15] dalisoft commented on #10800
I am dont know how to make PR for files. When i make PR for one file. Then after update, i should again make PR? Jsdelivr has docs for file and auto-update

[2017-04-03 13:16] dalisoft commented on #10800
I know i has unpkg and jsdelivr. But i am wished see library on all CDN hosting

[2017-04-03 13:16] PeterDaveHello commented on #10800
@dalisoft auto-update doc: https://github.com/cdnjs/cdnjs/blob/master/documents/autoupdate.md

[2017-04-03 13:18] PeterDaveHello commented on #10800
@dalisoft you can create a branch, commit multiple files, and then create the PR, we also support to add library via single package.json:
doc: https://github.com/cdnjs/cdnjs/blob/master/.github/CONTRIBUTING.md#e-adding-a-new-library-by-a-single-packagejson
example: https://github.com/cdnjs/cdnjs/pull/10810

[2017-04-03 13:18] #10993 closed

[2017-04-03 13:19] PeterDaveHello commented on #10990
@pvnr0082t please take care of this issue.

[2017-04-03 13:39] limmita opened #10995 "react"
**Library name:**
**Git repository url:**
**npm package name or url** (if there is one):
**License (List them all if it's multiple):**
**Official homepage:**
**Wanna say something? Leave message here:**

=====================

Notes from cdnjs maintainer:
Please read the [README.md](https://github.com/cdnjs/cdnjs#cdnjs-library-repository) and [CONTRIBUTING.md](https://github.com/cdnjs/cdnjs/blob/m

[2017-04-03 13:39] PeterDaveHello commented on #10995
@limmita Are you looking for this one https://cdnjs.com/libraries/react?

[2017-04-03 13:40] PeterDaveHello commented on #10800
@dalisoft thanks

[2017-04-03 13:40] dalisoft commented on #10800
Thanks to you +1

[2017-04-03 13:42] dalisoft commented on #10800
@PeterDaveHello As i see PR is draft, so you can close issue. Or i close (if you can't). Thanks

[2017-04-03 13:43] PeterDaveHello commented on #10800
no problem

[2017-04-03 13:43] #10800 closed

[2017-04-03 13:46] PeterDaveHello commented on #10280
Close empty issue.

[2017-04-03 13:46] #10280 closed

[2017-04-03 13:46] PeterDaveHello commented on #10276
Close empty issue.

[2017-04-03 13:46] #10276 closed

[2017-04-03 13:47] PeterDaveHello commented on #10268
Ping @kennynaoh

[2017-04-03 13:48] PeterDaveHello commented on #10266
Ping @kennynaoh

[2017-04-03 13:48] PeterDaveHello commented on #10259
Ping @kennynaoh

[2017-04-03 13:55] silvangithub commented on #10284
Please update to at least 3.20.20, the one hosted it very old (amstockchart)

[2017-04-03 14:11] PeterDaveHello commented on #10284
Ping @pvnr0082t, no any updates?

[2017-04-03 14:21] sufuf3 commented on #10424
Duplicate with #8052

[2017-04-03 14:22] eavichay commented on #10985
Hi,
I can’t clone the repo to my computer in order to create a pull request: the project is too big and git crashes.
Could you assist with that?

Best regards,
Avichay

[2017-04-03 14:22] PeterDaveHello commented on #10985
@eavichay I thin you can directly make commit on GitHub gui? No need to clone it:)

[2017-04-03 14:23] PeterDaveHello commented on #10985
@eavichay we also support to add library via single package.json:
doc: https://github.com/cdnjs/cdnjs/blob/master/.github/CONTRIBUTING.md#e-adding-a-new-library-by-a-single-packagejson
example: https://github.com/cdnjs/cdnjs/pull/10810

[2017-04-03 14:28] eavichay commented on #10985
just did, not sure I did it right.

[2017-04-03 14:33] PeterDaveHello commented on #10985
@eavichay I saw #10997 and replied there, please take a look, thanks.

[2017-04-03 16:05] dalisoft opened #10999 "How to become reviewer or collabarator?"
Hi @PeterDaveHello

Can i become like you collarabarator or reviewer for merging PR or issue checker?

Thanks

[2017-04-03 16:09] PeterDaveHello commented on #10999
Hi @dalisoft,

Thanks for being interested in join us! I'll suggest you start to make some pull requests first, so that you can be familiar with how do we do as routine, and if we found that you have good enough quality on it, we'll be happy to invite you become a reviewer!

Thanks!

[2017-04-03 16:11] dalisoft commented on #10999
Thanks. I am already made 2 PR, as soon do PR for other projects. My question is answered, so i am close issue

[2017-04-03 16:11] #10999 closed

[2017-04-03 16:12] PeterDaveHello commented on #10999
@dalisoft thanks, I saw your pull requests, we'll review it! Keep coming new PRs!

[2017-04-03 16:12] PeterDaveHello commented on #10999
@dalisoft btw, maybe you'll be interested in the info in #10662

[2017-04-03 17:31] #10121 closed

[2017-04-03 18:12] lefuturiste opened #11003 "[Request] Add semanticUiAlert"
**Library name:** semanticUiAlert
**Git repository url:** https://github.com/diw112/semanticUiAlert
**Official homepage:** https://diw112.github.io/semanticUiAlert/

We encourage you to add a library via sending pull request,
it'll be faster than just opening a request issue,
since there are tons of issues, please wait with patience,
and please don't forget to read the guidelines for contributing,

[2017-04-03 18:19] ftcmnc opened #11004 "[Request] Add slick lightbox"
**Library name:** slick lightbox

**Git repository url:** https://github.com/mreq/slick-lightbox

**License (List them all if it's multiple):** MIT License https://github.com/mreq/slick-lightbox/blob/master/LICENSE

**Official homepage:** http://mreq.github.io/slick-lightbox/

**Wanna say something? Leave message here:**  Popular plugin for the already supported package slick-carousel

===========

[2017-04-03 18:47] eavichay commented on #10985
fixed, passed ci

[2017-04-03 19:13] PeterDaveHello commented on #10985
@eavichay nice!

[2017-04-03 21:44] PeterDaveHello commented on #10661
Duplicated with #8904

[2017-04-03 21:44] #10661 closed

[2017-04-03 21:44] PeterDaveHello commented on #6650
b808981c7cf done

[2017-04-03 21:44] #6650 closed

[2017-04-03 21:45] PeterDaveHello commented on #5819
Fixed for a long time ... lol

[2017-04-03 21:45] #5819 closed

[2017-04-03 21:46] PeterDaveHello commented on #5452
cc @petrgazarov

[2017-04-03 21:47] PeterDaveHello commented on #4895
cc @cdnjs/dev

[2017-04-03 21:50] PeterDaveHello commented on #6437
Done 8f729ebf0cc

[2017-04-03 21:50] #6437 closed

[2017-04-04 04:33] minhlucnd opened #11006 "[Request] Add angular-ui-switch"
**Library name:** angular-ui-switch
**Git repository url:** https://github.com/xpepermint/angular-ui-switch
**npm package name or url** (if there is one):
**License (List them all if it's multiple):**
**Official homepage:**
**Wanna say something? Leave message here:**

=====================

Notes from cdnjs maintainer:
Please read the [README.md](https://github.com/cdnjs/cdnjs#cdnjs-library-repos

[2017-04-04 09:38] jeromeetienne commented on #10990
thanks!

[2017-04-04 15:39] maruilian11 commented on #5962
@dakshshah96 Yes, we need 1.0.0. Thanks for helping!

[2017-04-04 15:41] #10503 closed

[2017-04-04 17:27] PeterBot opened #11010 "[Build failed] Got error while building meta data/artifact"
Dear all,

Our build process just got an error while building the meta data/artifact of cdnjs project, our [website and api](https://github.com/cdnjs/new-website) may not be as new as our repository, however, the cdn service will not been affected, you can still use it, and modify the library name, version number and filename in the url can help you access all the content on cdnjs, we will fix the

[2017-04-04 18:10] PeterBot opened #11011 "[Build failed] Got error while building meta data/artifact"
Dear all,

Our build process just got an error while building the meta data/artifact of cdnjs project, our [website and api](https://github.com/cdnjs/new-website) may not be as new as our repository, however, the cdn service will not been affected, you can still use it, and modify the library name, version number and filename in the url can help you access all the content on cdnjs, we will fix the

[2017-04-04 18:11] PeterBot opened #11012 "[Build failed] Got error while building meta data/artifact"
Dear all,

Our build process just got an error while building the meta data/artifact of cdnjs project, our [website and api](https://github.com/cdnjs/new-website) may not be as new as our repository, however, the cdn service will not been affected, you can still use it, and modify the library name, version number and filename in the url can help you access all the content on cdnjs, we will fix the

[2017-04-04 18:31] PeterDaveHello commented on #11012
testing

[2017-04-04 18:31] #11012 closed

[2017-04-04 18:31] #11011 closed

[2017-04-04 18:31] #11010 closed

[2017-04-04 18:59] #10600 closed

[2017-04-04 19:03] #10282 closed

[2017-04-04 19:37] xd1936 opened #11013 "[Request] Fetcha - Javascript Date formatting and parsing"
**Library name:** Fetcha
**Git repository url:** https://github.com/taylorhakes/fecha
**npm package name or url (if there is one):** fetcha
**License (List them all if it's multiple):** MIT License
**Official homepage:**
**Wanna say something? Leave message here:**
This library is basically `moment.js`, but without the manipulation part. As such, it's about 15% the size of Moment.

[2017-04-04 19:56] PeterBot opened #11014 "[Build failed] Got error while building meta data/artifact"
Dear all,

Our build process just got an error while building the meta data/artifact of cdnjs project, our [website and api](https://github.com/cdnjs/new-website) may not be as new as our repository, however, the cdn service will not been affected, you can still use it, and modify the library name, version number and filename in the url can help you access all the content on cdnjs, we will fix the

[2017-04-04 20:05] #11014 closed

[2017-04-04 20:22] eavichay commented on #10985
I could not manage the commits by myself, please provide help.

[2017-04-04 20:22] PeterDaveHello commented on #10985
@eavichay sure, please give us some time, we'll come back soon!

[2017-04-04 20:50] PeterDaveHello opened #11016 "[Request] Add peaks.js"
**Library name:** peaks.js
**Git repository url:** https://github.com/bbc/peaks.js
**License (List them all if it's multiple):** LGPL-3.0
**Official homepage:** http://waveform.prototyping.bbc.co.uk

[2017-04-05 07:59] #10946 closed

[2017-04-05 08:22] #10016 closed

[2017-04-05 10:18] #10974 closed

[2017-04-05 13:56] PeterBot opened #11020 "[Build failed] Got error while building meta data/artifact"
Dear all,

Our build process just got an error while building the meta data/artifact of cdnjs project, our [website and api](https://github.com/cdnjs/new-website) may not be as new as our repository, however, the cdn service will not been affected, you can still use it, and modify the library name, version number and filename in the url can help you access all the content on cdnjs, we will fix the

[2017-04-05 14:00] PeterDaveHello commented on #11020
npm install failed

[2017-04-05 14:00] #11020 closed

[2017-04-05 14:18] maruilian11 commented on #5771
@PeterDaveHello This repo is not maintained anymore, the author open a [new repo](https://github.com/ixtendo/Polyglot-Language-Switcher-2) for it.
https://github.com/ixtendo/Polyglot-Language-Switcher#this-plugin-is-not-maintained-anymore

I decide to add old verions from old repo and add new repo info for this lib.

[2017-04-05 15:10] #10761 closed

[2017-04-05 15:17] #10962 closed

[2017-04-05 15:17] PeterDaveHello commented on #10995
Close due to no response.

[2017-04-05 15:17] #10995 closed

[2017-04-05 15:18] PeterDaveHello commented on #10960
@smyzin would you like to send a pull request to add it?

[2017-04-05 15:18] PeterDaveHello commented on #10932
Close due to no response.

[2017-04-05 15:18] #10932 closed

[2017-04-05 15:18] PeterDaveHello commented on #10936
Close due to no response.

[2017-04-05 15:18] #10936 closed

[2017-04-05 15:18] PeterDaveHello commented on #10937
Close due to no response.

[2017-04-05 15:18] #10937 closed

[2017-04-05 15:39] smyzin commented on #10960
@PeterDaveHello Can you explain what do you mean? Actually, I don't quite understand what are you asking for.

[2017-04-05 15:40] PeterDaveHello commented on #10960
@smyzin I mean if you can submit it by yourself :)
https://help.github.com/articles/about-pull-requests/

[2017-04-05 17:12] #10724 closed

[2017-04-05 17:23] AmitMY commented on #7598
Out of date

[2017-04-05 18:30] PeterBot opened #11022 "[Build failed] Got error while building meta data/artifact"
Dear all,

Our build process just got an error while building the meta data/artifact of cdnjs project, our [website and api](https://github.com/cdnjs/new-website) may not be as new as our repository, however, the cdn service will not been affected, you can still use it, and modify the library name, version number and filename in the url can help you access all the content on cdnjs, we will fix the

[2017-04-05 18:41] #11022 closed

[2017-04-05 19:13] ganny26 opened #11023 "[Request] Add selection-sharer"
**Library name:** selection-sharer
**Git repository url:** https://github.com/xdamman/selection-sharer
**npm package name or url** (if there is one):
**License (List them all if it's multiple):**
**Official homepage:** http://xdamman.com/
**Wanna say something? Leave message here:**

=====================

Notes from cdnjs maintainer:
Please read the [README.md](https://github.com/cdnjs/cdnjs#cdnj

[2017-04-06 08:20] Chalarangelo opened #11024 "[Author] mini.css library not updating"
Hi, I am the author of [mini.css](https://cdnjs.com/libraries/mini.css). I updated my library about a month ago to **v2.1.0** [[link](https://github.com/Chalarangelo/mini.css/releases/tag/v2.1.0)], however your CDN did not update to the latest version (still shows **v2.0.2**).

I read the guidelines for auto-updating and, as far as I understand it, my setup is fine, provided that I use `npm` for m

[2017-04-06 20:37] PeterDaveHello commented on #11024
Looks like the directory structure changed.

[2017-04-06 20:37] #11024 closed

[2017-04-06 20:38] PeterDaveHello commented on #11024
The new version will be deployed soon, website will be updated about after 10 mins, thanks.

[2017-04-07 00:24] rafegoldberg commented on #8410
pretty please?

[2017-04-07 11:09] kyrylo opened #11025 "d3.js v4 modules and CDNJS"
Currently, we use [the entire d3 v4](https://cdnjs.com/libraries/d3). We don't use a lot of its features, so I would like to use only some of its modules instead, *and* use your CDN (big thanks for it!).

I would like to send a PR, which adds d3.js v4 modules to CDNJS. Before doing that, I would like to know why nobody has ever done that before. My gut feeling tells me there's some other way of do

[2017-04-08 01:29] Charles-Catta opened #11028 "[Request] Add algebra.js"
**Library name:** algebra.js
**Git repository url:** https://github.com/nicolewhite/algebra.js
**npm package name or url** (if there is one): https://www.npmjs.com/package/algebra.js
**License (List them all if it's multiple):** MIT License
**Official homepage:** http://algebra.js.org/
**Wanna say something? Leave message here:**

=====================

Notes from cdnjs maintainer:
Please read the

[2017-04-08 01:51] tim-nz opened #11029 "bowser updates missing"
The updates to bowser are [missing on cdnjs](https://cdnjs.com/libraries/bowser). 13 new versions have been released since cdnjs's latest version (1.0.0). The most recent stable version on the [bowser github release page](https://github.com/ded/bowser/releases/) is 1.6.0. Obviously the git autoupdate isn't working as it should, but I have no idea why (because I have no idea how cdnjs works).

I do

[2017-04-08 10:03] pvnr0082t commented on #8826
@qwe19272375 Please take this.

[2017-04-08 10:03] pvnr0082t commented on #8848
@qwe19272375 Please take this.

[2017-04-08 10:03] pvnr0082t commented on #8875
@qwe19272375 Please take this.

[2017-04-08 10:04] pvnr0082t commented on #8932
@qwe19272375 Please take this.

[2017-04-08 10:06] pvnr0082t commented on #9161
@qwe19272375 You can take this.

[2017-04-08 10:07] pvnr0082t commented on #9264
@qwe19272375 You can take this.

[2017-04-08 11:43] Gtosta96 opened #11031 "[Request] Add redux-logger"
**Library name:** redux-logger
**Git repository url:** https://github.com/evgenyrodionov/redux-logger
**npm package name or url** (if there is one): https://www.npmjs.com/package/redux-logger
**License (List them all if it's multiple):** MIT
**Official homepage:**
**Wanna say something? Leave message here:**

=====================

Notes from cdnjs maintainer:
Please read the [README.md](https://g

[2017-04-08 15:34] #10528 closed

[2017-04-08 15:44] #10110 closed

[2017-04-08 15:56] #10985 closed

[2017-04-08 15:58] #10540 closed

[2017-04-08 16:23] #8741 closed

[2017-04-08 16:26] PeterDaveHello commented on #10710
Let's re-open it first.

[2017-04-08 16:33] PeterDaveHello commented on #11029
https://github.com/ded/bowser/tree/1.6.1#110-breaking-changes

[2017-04-08 16:40] #11029 closed

[2017-04-08 16:45] PeterDaveHello commented on #11029
Okay I updated it to the latest now.

[2017-04-08 20:30] PeterBot opened #11033 "[Build failed] Got error while building meta data/artifact"
Dear all,

Our build process just got an error while building the meta data/artifact of cdnjs project, our [website and api](https://github.com/cdnjs/new-website) may not be as new as our repository, however, the cdn service will not been affected, you can still use it, and modify the library name, version number and filename in the url can help you access all the content on cdnjs, we will fix the

[2017-04-08 20:34] #11033 closed

[2017-04-08 21:16] grayghostvisuals commented on #8845
Not seeing this lib on CDNJS any longer. Any reason why?

[2017-04-09 00:31] PeterDaveHello opened #11034 "Parallel/concurrent SRI build [$20]"
[![Bountysource](https://api.bountysource.com/badge/issue?issue_id=43941083)](https://www.bountysource.com/issues/43941083-parallel-concurrent-sri-build?utm_source=43941083&utm_medium=shield&utm_campaign=ISSUE_BADGE)

Current SRI calculation in `build/packages.json.js` seems to be too slow especially if the file updates amount is huge, should try to parallelize the process here.

<bountysource-plu

[2017-04-09 00:32] PeterDaveHello commented on #11034
cc @cdnjs/dev

[2017-04-09 04:27] devvit opened #11036 "[Request] Add pagerjs"
**Library name:** pagerjs
**Git repository url:** https://github.com/finnsson/pagerjs
**npm package name or url** (if there is one): pagerjs
**License (List them all if it's multiple):** MIT License
**Official homepage:** http://pagerjs.com/
**Wanna say something? Leave message here:**

=====================

Notes from cdnjs maintainer:
Please read the [README.md](https://github.com/cdnjs/cdnjs#c

[2017-04-09 04:44] NebuPookins opened #11037 "[Request] Add duration.js"
**Library name:** Duration.js
**Git repository url:** https://github.com/icholy/Duration.js
**npm package name or url** https://www.npmjs.com/package/duration-js
**License (List them all if it's multiple):** MIT
**Official homepage:** https://github.com/icholy/Duration.js
**Wanna say something? Leave message here:**

=====================

Notes from cdnjs maintainer:
Please read the [README.md](h

[2017-04-09 05:03] FizWork commented on #7609
I play with your editor to cross-my-api-domain like this:

api/editor/ui/.htaccess
[code]

api/editor/ui/icons.svg
[code]

This is working for me...

[2017-04-09 05:13] FizWork commented on #7609
Already test : https://cdnjs.cloudflare.com/ajax/libs/Trumbowyg/2.5.1/trumbowyg.min.js
this problem still not solved... If cdnjs can run .htaccess, you can do like I did...
It's works without any error... :100:

[2017-04-09 08:05] Multi-Thinker opened #11039 "[Request] Add colorPicker"
**Library name:** colorPicker
**http://www.eyecon.ro/colorpicker/**

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/43950995-request-add-colorpicker?utm_campaign=plugin&utm_content=tracker%2F32893&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_conten

[2017-04-09 08:22] tim-nz commented on #11029
Thanks

[2017-04-09 09:54] the94air commented on #10710
Dame this is hard :sob: . I really can't send a pull request. here I said it. I apologize for letting you waiting for nothing. I am so Sorry. Any help ??

[2017-04-09 09:56] clairetsai818 commented on #11003
Hi @lefuturiste!
This library doesn't have enough popularity (like more than 100 stars on GitHub or 500 downloads per month on npm). Please take a look at our [README.md](https://github.com/cdnjs/cdnjs/blob/master/README.md). Would you mind to open an issue again when the library has more popularity? If there are no response in 7 days, I will close this issue. Thanks for your great work and contri

[2017-04-09 09:57] clairetsai818 commented on #11004
Hi @ftcmnc!
This library doesn't have enough popularity (like more than 100 stars on GitHub or 500 downloads per month on npm). Please take a look at our [README.md](https://github.com/cdnjs/cdnjs/blob/master/README.md). Would you mind to open an issue again when the library has more popularity? If there are no response in 7 days, I will close this issue. Thanks for your great work and contributio

[2017-04-09 10:24] PeterDaveHello commented on #10710
@the94air we can help you finish it if you want!

[2017-04-09 10:28] the94air commented on #10710
Ok, just tell me what you need ?? :+1:

[2017-04-09 10:29] PeterDaveHello commented on #10710
@the94air glad you'll like to keep going. @pvnr0082t @maruilian11 please help @the94air! Thanks.

[2017-04-09 11:48] sufuf3 opened #11041 "[Request] Add Baraja"
**Library name:** Baraja
**Git repository url:** https://github.com/codrops/Baraja
**npm package name or url** (if there is one):
**License (List them all if it's multiple):** MIT
**Official homepage:**
**Wanna say something? Leave message here:**

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/43948692-request-add-baraja?utm_campai

[2017-04-09 11:52] sufuf3 commented on #11028
Duplicate with #7971

[2017-04-09 14:31] getify commented on #10811
Ping. :)

[2017-04-09 14:51] maruilian11 commented on #10710
Hi @the94air, Adding a single package.json is the most easy way to add a lib. You can do it by only using GitHub website GUI. see instructions [here](https://github.com/cdnjs/cdnjs/blob/master/CONTRIBUTING.md#e-adding-a-new-library-by-a-single-packagejson). If you meet any problem, we'll help you 😃

[2017-04-09 15:12] hare1039 commented on #10811
@getify We're sorry that we let you waiting for so long.
I suggest you can add this library by yourself. Here's the steps: https://github.com/cdnjs/cdnjs/blob/master/CONTRIBUTING.md#e-adding-a-new-library-by-a-single-packagejson

Here is a valid package.json
[code]

And commit with message like:
[code]

[2017-04-09 16:08] maruilian11 commented on #11039
Hi @Multi-Thinker, dose this lib has git repo or npm package? then we can provide the auto-update service on it. Thanks!

[2017-04-09 21:17] the94air commented on #10710
I am having a problem with the `filename` because I have 2 files
`formjs.min.css`
`formjs.min.js`
what can I do? Thanks

[2017-04-09 21:17] the94air commented on #10710
I am having a problem with the `filename` because I have 2 files
`formjs.min.css`
`formjs.min.js`
what can I do? Thanks

[2017-04-09 22:10] PeterDaveHello commented on #10710
@the94air just pick one :)

[2017-04-10 02:06] billgo commented on #8912
@PeterDaveHello Brother, These days I have improved my library and changing the structure of this project. I think it's better than before, So I want CDNJS to help me host the new files.

My project [repository](https://github.com/teasim/teasim)  in here . I have 15 npm packages in this project, but i just need to host 7 npm packages. I'm not sure whether to send five requests to you. The structur

[2017-04-10 03:14] Code-ReaQtor opened #11043 "[Request] Add bootstrap-timepicker v0.2.3"
Hi,

This is related to issue #8155

[AdminLTE](https://github.com/almasaeed2010/AdminLTE/blob/master/plugins/timepicker/bootstrap-timepicker.min.js) and a few libraries are using bootstrap-timepicker v0.2.3. However, the oldest available version in cdnjs is v0.2.7 which does not work with AdminLTE.

Thanks.

[2017-04-10 09:48] Alex-D commented on #7609
That's a CDN, not an Apache + PHP server ^^
This kind of configuration is to do in the CDN dashboard or something like that.

[2017-04-10 11:25] the94air commented on #10710
There are a problem in the indent that I can't get rid of

[2017-04-10 16:14] PeterDaveHello opened #11046 "[Request] Add Ripple.js"
**Library name:** Ripple.js
**Git repository url:** https://github.com/jakiestfu/Ripple.js
**License:** MIT
**Official homepage:** https://jakiestfu.github.io/Ripple.js/demo/

For beginners who is interested in picking up this issue:

In this issue, we are going to host a new web front-end library on CDNJS, so that web developer can easily use it on our free CDN without additional download/upload

[2017-04-10 16:22] maruilian11 commented on #10710
@the94air You can use `fixFormat.js` to fix indent problem. :smiley:
https://github.com/cdnjs/cdnjs/blob/master/tools/fixFormat.js

If that can't solve it, please provide some error msg, thanks!

[2017-04-10 16:23] PeterDaveHello opened #11047 "Setup auto-update config on tippy.js"
https://github.com/atomiks/tippyjs
https://cdnjs.com/libraries/tippy.js

[2017-04-10 16:25] PeterDaveHello commented on #8231
Its author haven't decided to provide a host-able version yet, see
https://github.com/substack/deep-freeze/issues/14

Feel free to open a new issue once we can host it, thanks.

[2017-04-10 16:25] #8231 closed

[2017-04-10 17:06] #10606 closed

[2017-04-11 00:55] ajay2507 commented on #11046
@PeterDaveHello  Hi peter, Can I take up this change. I am a beginner so I would like to join.

[2017-04-11 06:01] PeterDaveHello opened #11049 "Drop empty files from npm auto-update"
Sometimes there are empty files from upstream, for example, inspire-tree v1.12.3, those files should be dropped by auto-updater

[2017-04-11 13:30] VonFry opened #11050 "[Request] Update lunr.js v2.0.1"
Library name: lunr.js
Git repository url: https://github.com/olivernn/lunr.js
npm package name or url (if there is one):
License (List them all if it's multiple):
Official homepage: http://lunrjs.com
Wanna say something? Leave message here:

cdnjs version: v2.0.0
lastest version: v2.0.1
It fixed a bug...

[2017-04-11 13:39] PeterDaveHello commented on #11050
@VonFry > It fixed a bug... ?

I'm not sure what do you mean here, it looks like the upstream removed the minified file in v2.0.1, I'll add it manually.

[2017-04-11 13:44] #11050 closed

[2017-04-11 16:13] #10120 closed

[2017-04-11 16:15] #8875 closed

[2017-04-11 20:14] maxkfranz opened #11052 "cytoscape is MIT licensed"
The lib was relicensed from LGPL to MIT.

Entry : https://cdnjs.com/libraries/cytoscape

Lib : https://github.com/cytoscape/cytoscape.js

License : https://github.com/cytoscape/cytoscape.js/blob/master/LICENSE

[2017-04-11 21:20] PeterDaveHello commented on #11052
@maxkfranz thanks!

[2017-04-11 22:33] nathanlampe opened #11054 "[Request] Add isomorphic-fetch"
**Library name:** isomorphic-fetch
**Git repository url:** https://github.com/matthew-andrews/isomorphic-fetch
**npm package name or url** (if there is one): isomorphic-fetch
**License (List them all if it's multiple):**
**Official homepage:**
**Wanna say something? Leave message here:**

=====================

Notes from cdnjs maintainer:
Please read the [README.md](https://github.com/cdnjs/cdnjs

[2017-04-12 02:32] Multi-Thinker commented on #11039
Hi @maruilian11 I'm sorry this lib doesn't have official git repo or may be i can't find it, can you add this library from the link i provided they allow to download and use?

[2017-04-12 03:18] tscanlin opened #11055 "Auto update not working"
my project is setup for npm auto update (according to: https://github.com/cdnjs/cdnjs/blob/master/documents/autoupdate.md). But it appears to be stuck at an old version. Can you tell me why auto update isn't working?

https://cdnjs.com/libraries/tocbot

[2017-04-12 09:01] the94air commented on #10710
The indent problem solved but PR changes has passed more than 3 day. Should i make a new PR ? Thanks

[2017-04-12 09:13] PeterDaveHello commented on #10710
@the94air we'll take a look at it soon, sorry for the delay.

[2017-04-12 09:43] hare1039 commented on #10596
I think this issue can be close.

[2017-04-12 09:44] PeterDaveHello commented on #10596
@hare1039 comment a reason when you say that.

[2017-04-12 09:45] hare1039 commented on #10596
Sorry, I mean https://github.com/cdnjs/cdnjs/pull/10798 had been merged. So this issue can be closed.

[2017-04-12 10:08] sufuf3 opened #11056 "[Request] Add nipplejs"
**Library name:** nipplejs
**Git repository url:** https://github.com/yoannmoinet/nipplejs
**npm package name or url** (if there is one): nipplejs
**License (List them all if it's multiple):** MIT
**Official homepage:** http://yoannmoinet.github.io/nipplejs
**Wanna say something? Leave message here:**

[2017-04-12 11:03] maruilian11 commented on #11039
Yes, but it may take some time since there are many libs waiting for being added.
If you want to add it quickly, you can try to send a PR. We will help you if you need 👍

[2017-04-12 12:07] verlok opened #11057 "Only dist files for vanilla-lazyload"
Hi, can you remove from [vanilla-lazyload](https://cdnjs.com/libraries/vanilla-lazyload) all files but the ones in the dist folder?

[2017-04-12 12:55] professormahi opened #11058 "[Request] Add Vazir font"
**Library name:** Vazir
**Git repository url:** https://github.com/rastikerdar/vazir-font
**npm package name or url** (if there is one):  vazir-font
**License (List them all if it's multiple):** Apache v2
**Official homepage:** https://rastikerdar.github.io/vazir-font/
**Wanna say something? Leave message here:**

=====================

Notes from cdnjs maintainer:
Please read the [README.md](http

[2017-04-12 12:55] #10596 closed

[2017-04-12 12:57] professormahi opened #11059 "[Request] Add shabnam-font"
**Library name:** shabnam-font
**Git repository url:** https://github.com/rastikerdar/shabnam-font
**npm package name or url** (if there is one): shabnam-font
**License (List them all if it's multiple):** OFL v1.1
**Official homepage:** http://rastikerdar.github.io/shabnam-font/
**Wanna say something? Leave message here:**

=====================

Notes from cdnjs maintainer:
Please read the [READM

[2017-04-12 13:59] dakshshah96 commented on #11054
Working on this one 👍

[2017-04-12 14:32] AlexYatesUniproGroup opened #11060 "[Request] Add ftscroller"
**Library name:** ftscroller
**Git repository url:** https://github.com/ftlabs/ftscroller
**npm package name or url** (if there is one):
**License (List them all if it's multiple):** The lead developer of FTScroller is Rowan Beentje at FT Labs. All open source code released by FT Labs is licenced under the MIT licence. We welcome comments, feedback and suggestions. Please feel free to raise an iss

[2017-04-12 16:12] #10825 closed

[2017-04-12 16:14] #10710 closed

[2017-04-13 07:10] sufuf3 opened #11064 "[Request] Add formbuilder"
**Library name:** formbuilder
**Git repository url:** https://github.com/dobtco/formbuilder
**npm package name or url** (if there is one):
**License (List them all if it's multiple):** MIT
**Official homepage:**
**Wanna say something? Leave message here:**

[2017-04-13 08:36] PeterDaveHello commented on #10836
Close due to no response.

[2017-04-13 08:36] #10836 closed

[2017-04-13 10:59] the94air commented on #10710
Thanks @PeterDaveHello @pvnr0082t @extend1994 @maruilian11 for all the help . I really appreciate it. I hope you all the best.

[2017-04-13 17:55] PeterDaveHello commented on #11046
@ajay2507 feel free to ask for help if you need!

[2017-04-13 17:56] PeterDaveHello commented on #11046
@cdnjs/intern3 please help @ajay2507 when he needs it.

[2017-04-13 17:57] PeterDaveHello commented on #8912
@pvnr0082t please take a look, thanks!

[2017-04-13 18:13] #10842 closed

[2017-04-13 18:17] PeterDaveHello commented on #10710
@the94air you're welcome!

[2017-04-13 18:18] PeterDaveHello commented on #11043
@Code-ReaQtor thanks for your report, we'll work on this!

[2017-04-13 18:20] PeterDaveHello commented on #10892
@nkkollaw if you'll like to send a pull request for us to add it, we'll like to help you do that :)

[2017-04-13 18:23] PeterDaveHello commented on #9544
Not good to add anymore?

[2017-04-13 18:23] PeterDaveHello commented on #10424
Move to #8052

[2017-04-13 18:23] #10424 closed

[2017-04-13 18:24] PeterDaveHello commented on #10609
We'll work on it soon, sorry for the delay.

[2017-04-13 18:25] PeterDaveHello commented on #10918
@mberneti  if you'll like to send a pull request for us to add it, we'll like to help you do that :) What do you think?

[2017-04-13 18:26] PeterDaveHello commented on #10930
I think we can close it.

[2017-04-13 18:26] #10930 closed

[2017-04-13 18:26] PeterDaveHello commented on #10609
Ping @sufuf3

[2017-04-13 18:47] ajay2507 commented on #11046
@PeterDaveHello sure.. Thanks for your response.

[2017-04-13 18:51] PeterDaveHello commented on #11046
@ajay2507 Nice, don't forget our CONTRIBUTING.md doc please, thanks.

[2017-04-13 18:55] ajay2507 commented on #11046
@PeterDaveHello sure, I will follow the contributing guidelines.

[2017-04-13 19:01] nkkollaw commented on #10892
@PeterDaveHello : mh?

[2017-04-13 19:35] PeterDaveHello commented on #10892
@nkkollaw I mean if you would like to send a pull request, we can try to add it.

[2017-04-14 00:14] sufuf3 commented on #10918
Close the issue because the request library does not have notable popularity and there is no response in 7 days. cc @PeterDaveHello

[2017-04-14 00:16] sufuf3 commented on #10967
Close the issue because the request library does not have notable popularity and there is no response in 7 days. cc @PeterDaveHello

[2017-04-14 00:16] #10967 closed

[2017-04-14 00:16] sufuf3 commented on #10966
Close the issue because the request library does not have notable popularity and there is no response in 7 days. cc @PeterDaveHello

[2017-04-14 00:16] #10966 closed

[2017-04-14 00:16] sufuf3 commented on #10961
Close the issue because the request library does not have notable popularity and there is no response in 7 days. cc @PeterDaveHello

[2017-04-14 00:16] #10961 closed

[2017-04-14 00:17] sufuf3 commented on #10915
Close the issue because the request library does not have notable popularity. cc @PeterDaveHello

[2017-04-14 00:18] sufuf3 commented on #10894
Close the issue because the request library does not have notable popularity and there is no response in 7 days. cc @PeterDaveHello

[2017-04-14 00:22] sufuf3 commented on #9674
Close the issue because the request library does not have notable popularity and there is no response in 7 days. cc @PeterDaveHello

[2017-04-14 00:22] #9674 closed

[2017-04-14 00:23] sufuf3 commented on #10826
Close the issue because the request library does not have notable popularity and there is no response in 7 days. cc @PeterDaveHello

[2017-04-14 00:23] #10826 closed

[2017-04-14 00:24] sufuf3 commented on #10844
Close the issue because the request library does not have notable popularity and there is no response in 7 days. cc @PeterDaveHello

[2017-04-14 00:24] #10844 closed

[2017-04-14 00:26] sufuf3 commented on #10911
Close the issue because the request library does not have notable popularity and there is no response in 7 days. cc @PeterDaveHello

[2017-04-14 00:26] sufuf3 commented on #10905
Close the issue because the request library does not have notable popularity and there is no response in 7 days. cc @PeterDaveHello

[2017-04-14 00:28] sufuf3 commented on #10384
Close the issue because the request library does not have notable popularity and there is no response in 7 days. cc @PeterDaveHello

[2017-04-14 00:34] sufuf3 commented on #11059
@professormahi this library doesn't have enough popularity (like more than 100 stars on GitHub or 500 downloads per month on npm). Please take a look at our README.md. Would you mind to open an issue again when the library has more popularity? If there are no response in 7 days, I will close this issue. Thanks for your great work and contribution.

[2017-04-14 00:35] sufuf3 commented on #10943
@ArmGono this library doesn't have enough popularity (like more than 100 stars on GitHub or 500 downloads per month on npm). Please take a look at our README.md. Would you mind to open an issue again when the library has more popularity? If there are no response in 7 days, I will close this issue. Thanks for your great work and contribution.

[2017-04-14 00:36] sufuf3 commented on #10927
@ConnorMcF this library doesn't have enough popularity (like more than 100 stars on GitHub or 500 downloads per month on npm). Please take a look at our README.md. Would you mind to open an issue again when the library has more popularity? If there are no response in 7 days, I will close this issue. Thanks for your great work and contribution.

[2017-04-14 00:37] sufuf3 commented on #10925
@dloret this library doesn't have enough popularity (like more than 100 stars on GitHub or 500 downloads per month on npm). Please take a look at our README.md. Would you mind to open an issue again when the library has more popularity? If there are no response in 7 days, I will close this issue. Thanks for your great work and contribution.

[2017-04-14 00:39] sufuf3 commented on #10859
@ArianeNubee this library doesn't have enough popularity (like more than 100 stars on GitHub or 500 downloads per month on npm). Please take a look at our README.md. Would you mind to open an issue again when the library has more popularity? If there are no response in 7 days, I will close this issue. Thanks for your great work and contribution.

[2017-04-14 00:39] sufuf3 commented on #10850
@ejsiddiqui this library doesn't have enough popularity (like more than 100 stars on GitHub or 500 downloads per month on npm). Please take a look at our README.md. Would you mind to open an issue again when the library has more popularity? If there are no response in 7 days, I will close this issue. Thanks for your great work and contribution.

[2017-04-14 00:40] sufuf3 commented on #10799
@atatanasov this library doesn't have enough popularity (like more than 100 stars on GitHub or 500 downloads per month on npm). Please take a look at our README.md. Would you mind to open an issue again when the library has more popularity? If there are no response in 7 days, I will close this issue. Thanks for your great work and contribution.

[2017-04-14 00:42] sufuf3 commented on #10290
@nire0510 this library doesn't have enough popularity (like more than 100 stars on GitHub or 500 downloads per month on npm). Please take a look at our README.md. Would you mind to open an issue again when the library has more popularity? If there are no response in 7 days, I will close this issue. Thanks for your great work and contribution.

[2017-04-14 04:24] dloret commented on #10925
Hi, I understand and thank you for your time. You are the one doing great work :)
This can certainly be closed.

[2017-04-14 04:24] #10925 closed

[2017-04-14 04:57] ejsiddiqui commented on #10850
Hi,

You can close the ticket. I thought it would be very useful for every as it fills the holes in a very popular library.

I requested for the general good of the community and have no affiliation with it.

Regards
Ejaz Siddiqui
________________________________
From: Monisan Fu <notifications@github.com>
Sent: Friday, April 14, 2017 5:39:52 AM
To: cdnjs/cdnjs
Cc: Ejaz Siddiqui; Mention
Subject:

[2017-04-14 05:26] PeterDaveHello commented on #10915
We can add this one, just give it a lower priority.

[2017-04-14 05:26] PeterDaveHello commented on #10894
We can add this one, just give it a lower priority.

[2017-04-14 05:27] PeterDaveHello commented on #9674
@zorzysty if you'd like to send a pull request to add it, we can help you to do that.

[2017-04-14 05:28] PeterDaveHello commented on #10911
We can add this one, just give it a lower priority.

[2017-04-14 05:28] PeterDaveHello commented on #10905
We can add this one, just give it a lower priority.

[2017-04-14 05:29] PeterDaveHello commented on #10384
Check its npm stats ... looks good.

[2017-04-14 05:29] PeterDaveHello commented on #10384
@sufuf3 check it again before you close it ...

[2017-04-14 07:00] zorzysty commented on #9674
@PeterDaveHello Thx. I'll get back to you if and when I get the required popularity.

[2017-04-14 07:11] atatanasov commented on #10799
Sounds good. I will reopen the issue once we reach this popularity.

[2017-04-14 08:26] ryh opened #11069 "[Request] Add qrcodejs"
**Library name:** qrcodejs
**Git repository url:** https://github.com/davidshimjs/qrcodejs
**npm package name or url** (if there is one):
**License (List them all if it's multiple):** MIT
**Official homepage:** https://github.com/davidshimjs/qrcodejs
**Wanna say something? Leave message here:**
This QRCode.js has no dependencies.

[2017-04-14 08:30] ryh commented on #11069
sorry,  looks like duplicate  of #5164 #9878

[2017-04-14 08:33] PeterDaveHello commented on #5164
Move to #9878

[2017-04-14 08:33] #5164 closed

[2017-04-14 08:33] PeterDaveHello commented on #11069
Move to #9878, thanks @ryh

[2017-04-14 08:33] #11069 closed

[2017-04-14 08:33] ryh commented on #11069
Looks @davidshimjs  did update his repo at all, any forker to maintain?

[2017-04-14 08:36] ryh commented on #9878
Looks @davidshimjs did not update his repo at all, any forker to maintain?

[2017-04-14 08:42] pvnr0082t commented on #11057
@verlok You mean we don't need files in `src` directory anymore, right?

[2017-04-14 08:44] ryh opened #11070 "[Request] Add qrcode-generator"
**Library name:** qrcode-generator
**Git repository url:** https://github.com/kazuhikoarase/qrcode-generator
**npm package name or url** (if there is one): https://www.npmjs.com/package/qrcode-generator
**License (List them all if it's multiple):** MIT
**Official homepage:** https://github.com/kazuhikoarase/qrcode-generator/tree/master/js
**Wanna say something? Leave message here:**
Another qrcode

[2017-04-14 11:57] verlok commented on #11057
Correct

[2017-04-14 13:19] hare1039 opened #11071 "[Request] Add webcam-directive"
**Library name:** webcam
**Git repository url:** https://github.com/jonashartmann/webcam-directive
**npm package name or url** (if there is one): https://www.npmjs.com/package/webcam-directive
**License (List them all if it's multiple):** MIT https://github.com/jonashartmann/webcam-directive/blob/master/bower.json#L23
**Official homepage:** https://jonas.hartmann.site/webcam-directive/#/

<bountys

[2017-04-14 21:29] mercyg commented on #10983
@sufuf3 I have created pull request please review it!

[2017-04-14 23:39] omasback commented on #10923
Can you add the scrollmagic GSAP plugin? and maybe the other plugins while you're at it?

https://github.com/janpaepke/ScrollMagic/tree/master/dev/src/plugins

[2017-04-15 01:09] ajay2507 commented on #11046
@PeterDaveHello  I have one doubt might be a silly question, orign should be this one
git remote add origin git://github.com/cdnjs/cdnjs.git or one which i forked from cdnjs( git://github.com/ajay2507/cdnjs.git ).
As per my understanding Origin be my forked repository(git://github.com/ajay2507/cdnjs.git) right?

[2017-04-15 05:10] sufuf3 commented on #10799
@atatanasov sorry about that I didn't notice that you are the author of this library.
Would you like to send a pull request to add it?? Thanks.

[2017-04-15 06:27] ajay2507 commented on #11046
@PeterDaveHello  I have created the pull request, please let me know if anythings goes wrong.
Thanks for your help.

[2017-04-15 07:05] Multi-Thinker commented on #11039
Thanks, I'll send PR request.

[2017-04-15 07:21] PeterDaveHello commented on #11046
@ajay2507 Thanks

[2017-04-15 07:29] ajay2507 commented on #11046
@hare1039 @clairetsai818 Build is failing because of 2 space indent. I tried fixing, can you help me out regarding this.

[2017-04-15 08:38] PeterDaveHello commented on #9878
Don't know yet, I'll take care of it later.

[2017-04-15 08:39] PeterDaveHello commented on #9674
@zorzysty I mean if can send it now, no worry about the popularity :)

[2017-04-15 08:39] PeterDaveHello commented on #11046
Sure

[2017-04-15 08:44] PeterDaveHello commented on #10799
@atatanasov would you like to send us a pull request? I think we can accept this one, thanks.

[2017-04-15 08:45] PeterDaveHello commented on #11039
Let's close this issue in PR's commit message 😄

[2017-04-15 08:47] PeterDaveHello commented on #11071
@hare1039 why didn't you label old issue(s) before to open new one?

[2017-04-15 08:55] hare1039 commented on #11071
I was writing a website assignment, than I found out this library can be added into cdnjs. So I opened this issue and back to my work.
I will add old issue next time.

[2017-04-15 13:50] #11057 closed

[2017-04-15 15:24] ConnorMcF commented on #10927
Oh sorry! Didn't see that part.

[2017-04-15 15:24] #10927 closed

[2017-04-15 21:40] ajay2507 commented on #11071
Is it open. Can I make this change?

[2017-04-15 21:41] ajay2507 commented on #11056
can I make this change?

[2017-04-16 07:24] atatanasov commented on #10799
done.
this is the request https://github.com/cdnjs/cdnjs/pull/11076

[2017-04-16 13:26] #11052 closed

[2017-04-17 07:44] arufian opened #11084 "[Request] Add angular-image-compress.js"
**Library name:** angular-image-compress.js
**Git repository url:** https://github.com/oukan/angular-image-compress
**npm package name or url** (if there is one):
**License (List them all if it's multiple):** MIT License license
**Official homepage:** https://github.com/oukan/angular-image-compress
**Wanna say something? Leave message here:**

=====================

Notes from cdnjs maintainer:
Pl

[2017-04-17 08:25] PeterDaveHello commented on #11025
Considering the cache hit rate and cache sharing, maintenance complexity, it might be better to just load it whole in the same time, on the other hand, I'm not sure how would you introduce its modules here since they are not inside its `build/` directory in its npm package, and the file name / directory may change frequently, any ideas?

[2017-04-17 08:26] PeterDaveHello commented on #11055
@sufuf3 this should be high priority ...

[2017-04-17 08:27] PeterDaveHello commented on #11055
@tscanlin looks like you removed the source of auto-update - `dist` folder on npm since v2.2.0?

[2017-04-17 08:37] #9847 closed

[2017-04-17 08:40] #10290 closed

[2017-04-17 08:41] #9161 closed

[2017-04-17 10:23] #10695 closed

[2017-04-17 10:29] #10609 closed

[2017-04-17 11:31] kyrylo commented on #11025
It's hard for me to state what would be better without benchmarks, but I don't say you're wrong. The decision of modularity was made by the author of d3 and I would expect CDNJS to reflect that, no matter what penalties users could possibly be getting.

Are you sure the modules are not inside `build`? Let's take a look at [`d3-array`](https://github.com/d3/d3-array/blob/bc59792b88c53e9db4308b0eec3

[2017-04-17 11:32] extend1994 commented on #10567
@PeterDaveHello Could you please help me take a look at the issue :arrow_up: ? I can not be sure of what the author said. Thanks!

[2017-04-17 11:34] PeterDaveHello commented on #11025
@kyrylo I mean d3 itself, if you mean the indivudual modules, we may need a list.

[2017-04-17 11:35] PeterDaveHello commented on #10567
I didn't see a author comment.

[2017-04-17 11:40] extend1994 commented on #10567
Discussions are here: azza-bazoo/prettycron#33

[2017-04-17 11:40] PeterDaveHello commented on #10567
@extend1994 are they authors?

[2017-04-17 11:45] extend1994 commented on #10567
Sorry!! They are not. I thought they are contributors and didn't check that well. But indeed I can't really understand what they said.

[2017-04-17 11:48] PeterDaveHello commented on #10567
@extend1994 simply means they don't have permission and npm package is out-dated, even not the same as the version GitHub

[2017-04-17 11:54] kyrylo commented on #11025
I did mean individual modules. CDNJS already provides d3 v4 itself (as a whole big library):
https://cdnjs.cloudflare.com/ajax/libs/d3/4.7.3/d3.min.js

<details>
  <summary>The list of d3.js v4 modules (taken from https://github.com/d3/d3/blob/master/API.md)
</summary>

* https://www.npmjs.com/package/d3-array
* https://www.npmjs.com/package/d3-axis
* https://www.npmjs.com/package/d3-brush
* https

[2017-04-17 11:55] PeterDaveHello commented on #11025
@kyrylo it's fine to add them all.

[2017-04-17 11:57] extend1994 commented on #10567
Thanks for explanation :+1: So in this case should I wait the author/contributor for the response.

[2017-04-17 11:57] PeterDaveHello commented on #10567
@extend1994 you can try to add from git repo.

[2017-04-17 11:58] extend1994 commented on #10567
Okay!

[2017-04-17 12:04] kyrylo commented on #11025
Should I add them all in one PR, or should they be added in separate PRs?

[2017-04-17 12:06] PeterDaveHello commented on #11025
@kyrylo in this case, both fine, thanks!

[2017-04-17 15:41] sheillendra opened #11086 "[Request] Add yii2 2.0.11.2"
**Library name:** yii2 2.0.11.2
**Git repository url:**
**npm package name or url** (if there is one):
**License (List them all if it's multiple):**
**Official homepage:**
**Wanna say something? Leave message here:**

=====================

Notes from cdnjs maintainer:
Please read the [README.md](https://github.com/cdnjs/cdnjs#cdnjs-library-repository) and [CONTRIBUTING.md](https://github.com/cdnj

[2017-04-17 15:43] sheillendra opened #11087 "[Request] Add admin-lte 2.3.12"
**Library name:** admin-lte 2.3.12
**Git repository url:**
**npm package name or url** (if there is one):
**License (List them all if it's multiple):**
**Official homepage:**
**Wanna say something? Leave message here:**

=====================

Notes from cdnjs maintainer:
Please read the [README.md](https://github.com/cdnjs/cdnjs#cdnjs-library-repository) and [CONTRIBUTING.md](https://github.com/c

[2017-04-17 17:52] PeterDaveHello commented on #11071
@ajay2507 you mean you want to take it? It's fine to take it.

[2017-04-17 17:54] PeterDaveHello commented on #10799
#11076 -> #11077

[2017-04-17 17:58] #10614 closed

[2017-04-17 18:05] #10649 closed

[2017-04-17 18:07] PeterDaveHello commented on #11056
@ajay2507 feel free to take it!

[2017-04-17 18:09] PeterDaveHello commented on #11028
Let's move to #7971

[2017-04-17 18:09] #11028 closed

[2017-04-17 19:16] ajay2507 commented on #11056
@PeterBot  okay thanks.

[2017-04-17 19:17] ajay2507 commented on #11071
okay:) @PeterDaveHello

[2017-04-17 19:17] PeterDaveHello commented on #11071
@ajay2507 :+1:

[2017-04-17 19:36] fourthdimension opened #11089 "[Request] Add Backbone.CrossDomain"
**Library name:** Backbone.CrossDomain
**Git repository url:**  https://github.com/victorquinn/Backbone.CrossDomain
**npm package name or url** (if there is one):  backbone-crossdomain
**License (List them all if it's multiple):**  MIT
**Official homepage:**  https://github.com/victorquinn/Backbone.CrossDomain
**Wanna say something? Leave message here:** Important for backbone backwards compatibil

[2017-04-17 20:19] Nahiduzzaman opened #11090 "[Request] Add chartjs-plugin-zoom"
**Library name:** chartjs-plugin-zoom
**Git repository url:* https://github.com/chartjs/chartjs-plugin-zoom
**npm package name or url** (if there is one): https://www.npmjs.com/package/chartjs-plugin-zoom
**License (List them all if it's multiple):**
**Official homepage:**
**Wanna say something? Leave message here:**

=====================

Notes from cdnjs maintainer:
Please read the [README.md](

[2017-04-17 21:14] PeterDaveHello opened #11091 "[Request] Add showup"
**Library name:** showup
**Git repository url:** http://github.com/jonschlinkert/showup
**License (List them all if it's multiple):**  MIT
**Official homepage:** https://upstage.github.io/showup/

Please manually add it by commit as v0.1.2:
https://github.com/upstage/showup/tree/2dbdfb1a33b1a6405287bbf1920bf8db8503c031

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](h

[2017-04-17 21:17] PeterDaveHello opened #11092 "[Request] Add codemirror-spell-checker"
**Library name:** codemirror-spell-checker
**Git repository url:** https://github.com/NextStepWebs/codemirror-spell-checker
**npm package name or url** (if there is one) : codemirror-spell-checker
**License (List them all if it's multiple):** MIT
**Official homepage:** https://nextstepwebs.github.io/codemirror-spell-checker/

[2017-04-18 03:46] tscanlin commented on #11055
It looks like its still there:
https://github.com/tscanlin/tocbot/tree/master/dist

[2017-04-18 10:49] sufuf3 opened #11096 "[Request] Add porthole"
**Library name:** porthole
**Git repository url:** https://github.com/ternarylabs/porthole
**npm package name or url** (if there is one):
**License (List them all if it's multiple):** MIT
**Official homepage:** http://ternarylabs.github.com/porthole
**Wanna say something? Leave message here:**

[2017-04-18 10:59] sufuf3 commented on #11087
@sheillendra we already have v.2.3.11, and this version is newest in GitHub and npm.

Could you tell me where do you find the v2.3.12?
Thank you.

[2017-04-18 11:01] sufuf3 commented on #11084
@arufian  this library doesn't have enough popularity (like more than 100 stars on GitHub or 500 downloads per month on npm). Please take a look at our [README.md](https://github.com/cdnjs/cdnjs/blob/master/README.md). Would you mind to open an issue again when the library has more popularity? If there are no response in 7 days, I will close this issue. Thanks for your great work and contribution.

[2017-04-18 11:45] sufuf3 commented on #11086
@sheillendra do you mean this library? https://github.com/yiisoft/yii2
It's a php framework. Do you know how to use it in front-end?

[2017-04-18 13:17] sufuf3 opened #11097 "[Request] Add drawingboard.js"
**Library name:** drawingboard.js
**Git repository url:** https://github.com/Leimi/drawingboard.js
**npm package name or url** (if there is one):
**License (List them all if it's multiple):** MIT
**Official homepage:** http://leimi.github.io/drawingboard.js
**Wanna say something? Leave message here:**

[2017-04-18 14:52] ftcmnc commented on #11004
Hi @clairetsai818 the lib is 97 stars already, but I will check in a couple of weeks and let you know when they reach 100

[2017-04-18 14:53] PeterDaveHello commented on #11004
@ftcmnc I think it's good to go with this lib right now :)
cc @clairetsai818

[2017-04-18 15:25] hd719 commented on #9848
Hello I am new to open source can I work on this?

[2017-04-18 16:26] PeterDaveHello commented on #9848
@hd719 I think @dakshshah96 is working on this right now as you can see above, I think you can pick another BEGINNER issue from here: https://github.com/cdnjs/cdnjs/issues?q=is%3Aopen+label%3ABEGINNER+sort%3Acreated-asc, feel free to ask for help!

[2017-04-18 16:49] #10221 closed

[2017-04-18 16:49] #10159 closed

[2017-04-18 16:55] dakshshah96 opened #11098 "[Request] Add zuck.js"
**Library name**: zuck.js
**Git repository url**: https://github.com/ramon82/zuck.js
**npm url**: https://www.npmjs.com/package/zuck.js
**License (List them all if it's multiple)**: MIT
**Official homepage**: https://ramon.codes/projects/zuck.js
**Wanna say something? Leave message here**: This library seems to be quite popular. However, not sure if this is considered as a personal project. Need f

[2017-04-18 16:55] PeterDaveHello commented on #11055
@tscanlin I mean **npm**

[2017-04-18 22:48] jwater7 commented on #9293
FormValidation ([formerly BootstrapValidator](https://github.com/nghuuphuoc/bootstrapvalidator/tree/0c96659eda586269c02a45948744ac135676ff0d)) was originally released under the MIT license ([up to version 0.5.2](https://github.com/nghuuphuoc/bootstrapvalidator/releases/tag/v0.5.2)).  Then, it was changed to a free to use in non-commercial projects under CC BY-NC-ND 3.0 [until 0.6.0](https://github

[2017-04-18 22:48] jwater7 commented on #8278
FormValidation ([formerly BootstrapValidator](https://github.com/nghuuphuoc/bootstrapvalidator/tree/0c96659eda586269c02a45948744ac135676ff0d)) was originally released under the MIT license ([up to version 0.5.2](https://github.com/nghuuphuoc/bootstrapvalidator/releases/tag/v0.5.2)).  Then, it was changed to a free to use in non-commercial projects under CC BY-NC-ND 3.0 [until 0.6.0](https://github

[2017-04-19 03:11] alewolf opened #11099 "[Request] Add findAndReplaceDOMText"
**Library name:** findAndReplaceDOMText
**Git repository url: https://github.com/padolsey/findAndReplaceDOMText**
**npm package name or url** (if there is one):
**License (List them all if it's multiple):**
**Official homepage: https://github.com/padolsey/findAndReplaceDOMText**
**Wanna say something? Leave message here:**

=====================

Notes from cdnjs maintainer:
Please read the [READM

[2017-04-19 08:36] dakshshah96 commented on #8244
@PeterDaveHello If I want to add this library without using single package.json, do I need to create folders for all versions manually? There are a total of [46 releases](https://github.com/Haroenv/holmes/releases) for this library.

[2017-04-19 08:37] PeterDaveHello commented on #8244
@dakshshah96 For the versions can fit the auto-update config, you don't need to manually add them, just add the latest version!

[2017-04-19 08:38] PeterDaveHello commented on #8244
@dakshshah96 btw, I think you can try to use the auto-updater to test if the config works in the meantime!

[2017-04-19 09:23] csvan opened #11100 "AngularJS 1.6.x builds are corrupt"
I cannot pinpoint what the exact issue is, but (at least) `ng-style` breaks when using the current cdnjs builds for angular 1.6.x. What happens is that some elements with ng-style simply do not get the `style` attribute modified during runtime.

I have confirmed this by trying angular 1.6.4 from both cdnjs, https://developers.google.com/speed/libraries/#angularjs, and a local version installed via

[2017-04-19 09:31] sufuf3 opened #11101 "[Request] Add Flux-Slider"
**Library name:** Flux-Slider
**Git repository url:** https://github.com/joelambert/Flux-Slider
**npm package name or url** (if there is one):
**License (List them all if it's multiple):** MIT
**Official homepage:** http://www.joelambert.co.uk/flux/
**Wanna say something? Leave message here:**

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.co

[2017-04-19 09:54] sufuf3 opened #11102 "[Request] Add dagre"
**Library name:** dagre
**Git repository url:** https://github.com/cpettitt/dagre
**npm package name or url** (if there is one): https://www.npmjs.com/package/dagre
**License (List them all if it's multiple):** MIT
**Official homepage:**
**Wanna say something? Leave message here:**

[2017-04-19 10:20] IsaacHub opened #11103 "[Request] Add mapbox-gl-leaflet"
**Library name:** mapbox-gl-leaflet
**Git repository url:** https://github.com/mapbox/mapbox-gl-leaflet
**npm package name or url:** https://www.npmjs.com/package/mapbox-gl-leaflet

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/44378917-request-add-mapbox-gl-leaflet?utm_campaign=plugin&utm_content=tracker%2F32893&utm_medium=issues&

[2017-04-19 18:03] #10491 closed

[2017-04-19 18:06] #9165 closed

[2017-04-19 18:24] PeterDaveHello opened #11104 "[Request] Update emojione auto-update config"
emojione v3 seems to need new auto-update config

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/44314444-request-update-emojione-auto-update-config?utm_campaign=plugin&utm_content=tracker%2F32893&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_conten

[2017-04-19 19:47] #10806 closed

[2017-04-20 06:16] sheillendra commented on #11087
Sorry it turned out 2.3.12 version was not yet stable

[2017-04-20 06:24] sheillendra commented on #11086
Yes it'a a php framework, in production we can access to those asset.
In every version, its file can be found here [https://github.com/yiisoft/yii2/tree/2.0.11.2/framework/assets](https://github.com/yiisoft/yii2/tree/2.0.11.2/framework/assets)

[2017-04-20 08:55] sufuf3 commented on #11087
OK! we use auto-update to get the latest release version.
So, when it release v2.3.12, cdnjs will host it by auto-update mechanism.

Maybe this issue could close, what do you think?

[2017-04-20 08:58] sufuf3 commented on #11086
@sheillendra OK! I get it. Thank you very much.

[2017-04-20 09:49] sheillendra commented on #11087
OK, thank you very much.

[2017-04-20 09:49] #11087 closed

[2017-04-20 12:44] evromalarkey commented on #9087
Any update on this? Lightgallery itself is up to date on cdnjs, but the modules are still not present (it's 8 months now).

GitHub links to each module - https://github.com/sachinchoolur/lightGallery#built-in-modules

[2017-04-20 15:02] dakshshah96 commented on #8244
@PeterDaveHello Are these all the files that we should include for the holmes library?

[code]

[2017-04-20 20:44] ehkasper opened #11108 "[Request] Add medium-editor-insert"
**Library name:** medium-editor-insert
**Git repository url:** https://github.com/orthes/medium-editor-insert-plugin
**npm package name or url** (if there is one): medium-editor-insert-plugin
**License (List them all if it's multiple):** MIT
**Official homepage:** http://linkesch.com/medium-editor-insert-plugin/
**Wanna say something? Leave message here:**

[2017-04-21 01:02] tscanlin commented on #11055
This is now fixed:
https://cdnjs.com/libraries/tocbot

[2017-04-21 01:02] #11055 closed

[2017-04-21 05:47] PeterDaveHello commented on #8244
I'm not sure about main.js, wanna open an issue to discuss with its author?

[2017-04-21 06:16] dakshshah96 commented on #8244
@PeterDaveHello Done 👍 https://github.com/Haroenv/holmes/issues/91

Awaiting authors response.

[2017-04-21 06:16] PeterDaveHello commented on #8244
@dakshshah96 nice!

[2017-04-21 06:35] #11046 closed

[2017-04-21 07:00] PeterDaveHello commented on #10799
Moved to #11110

[2017-04-22 03:28] PeterBot opened #11113 "[Build failed] Got error while building meta data/artifact"
Dear all,

Our build process just got an error while building the meta data/artifact of cdnjs project, our [website and api](https://github.com/cdnjs/new-website) may not be as new as our repository, however, the cdn service will not been affected, you can still use it, and modify the library name, version number and filename in the url can help you access all the content on cdnjs, we will fix the

[2017-04-22 03:33] PeterBot opened #11114 "[Build failed] Got error while building meta data/artifact"
Dear all,

Our build process just got an error while building the meta data/artifact of cdnjs project, our [website and api](https://github.com/cdnjs/new-website) may not be as new as our repository, however, the cdn service will not been affected, you can still use it, and modify the library name, version number and filename in the url can help you access all the content on cdnjs, we will fix the

[2017-04-22 03:33] PeterDaveHello commented on #11113
#11114

[2017-04-22 03:33] #11113 closed

[2017-04-22 03:35] PeterDaveHello commented on #11114
Disk full, cleaned up.

[2017-04-22 03:35] #11114 closed

[2017-04-22 07:42] l0gicgate opened #11115 "[Request] [author] Add micro-slider"
**Library name:** micro-slider
**Git repository url:** https://github.com/lgse/micro-slider
**npm package name or url** (if there is one):  micro-slider
**License (List them all if it's multiple):** MIT
**Official homepage:** https://github.com/lgse/micro-slider
**Wanna say something? Leave message here:**

=====================

Notes from cdnjs maintainer:
Please read the [README.md](https://git

[2017-04-22 16:45] maruilian11 commented on #9087
@evromalarkey Sorry to keep you waiting.
We will add these modules ASAP.
@cdnjs/intern2 @cdnjs/intern3 Please help to add these modules if you have free time, I will send PR to add them in a week since I'll be busy next week. Thanks!

[2017-04-23 15:37] PeterDaveHello opened #11117 "Introduce "danger" in CDNJS"
http://danger.systems
https://github.com/danger/danger

This may help us improve the pull request review process.

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/44438153-introduce-danger-in-cdnjs?utm_campaign=plugin&utm_content=tracker%2F32893&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.

[2017-04-23 15:43] #10561 closed

[2017-04-23 16:06] PeterDaveHello commented on #9293
Thanks @jwater7

[2017-04-23 16:14] sufuf3 commented on #11100
@PeterDaveHello  Could you take a look about this? I can't figure out how to solve this problem. Thank you.

[2017-04-23 16:21] Azgaar opened #11119 "[Request] Add path-data-polyfill.js"
**Library name:** path-data-polyfill.js
**Git repository url:**
**npm package name or url** (if there is one):
**License (List them all if it's multiple):**
**Official homepage:**
**Wanna say something? Leave message here:**

=====================

Notes from cdnjs maintainer:
Please read the [README.md](https://github.com/cdnjs/cdnjs#cdnjs-library-repository) and [CONTRIBUTING.md](https://github.

[2017-04-23 18:19] #10669 closed

[2017-04-23 18:44] kottenator opened #11120 "Problem with jquery-circle-progress"
Hi!

I'm the author of [jquery-circle-progress](https://github.com/kottenator/jquery-circle-progress) library.

It's [presented on CDNJS](https://cdnjs.com/libraries/jquery-circle-progress) (though I've not done anything for this to happen).

And there's [a problem with CDNJS](https://github.com/kottenator/jquery-circle-progress/issues/144) now. People who use my library version 1.2.1 from CDNJS (

[2017-04-23 18:47] PeterDaveHello commented on #11120
Hi @kottenator,

Thanks for the report, we will not modify the content of the libraries in most of the cases, I'll take a look at this issue, but as SRI(https://www.w3.org/TR/SRI, https://developer.mozilla.org/en-US/docs/Web/Security/Subresource_Integrity) is already enabled, it's better not to modify the already hosted versions but bump and host a new version.

I'll let you know what's going on h

[2017-04-23 18:51] kottenator commented on #11120
Thanks, @PeterDaveHello!

BTW, could you, please, provide me a link to explanation how does CDNJS add / update libraries?

[2017-04-23 18:52] PeterDaveHello commented on #11120
This is the whole history of this library on CDNJS repo:

* 925aac8e062 Drop .gitkeep Peter Dave Hello 2 months ago
* 0971b44e9ab Add jquery-circle-progress v1.2.1 PeterBot 4 months ago
* 0de8c5fbd30 Fix the package format. Ionică Bizău 6 months ago
* 8a20b3f3ee2 add jquery-circle-progress v1.2.0 PeterBot 8 months ago
* 3018648be42 add jquery-circle-progress v1.1.4 PeterBot 8 months ago
* d1abc00d

[2017-04-23 18:54] PeterDaveHello commented on #11120
About auto-update, here is the doc:
https://github.com/cdnjs/cdnjs/blob/master/documents/autoupdate.md

Here is its config:
https://github.com/cdnjs/cdnjs/blob/0971b44e9ab8e3060a9096373792b1708041a813/ajax/libs/jquery-circle-progress/package.json#L17-L28

We fetch it from git tag, use the files under `dist`.

[2017-04-23 18:55] PeterDaveHello commented on #11120
@cdnjs/intern @cdnjs/intern2 @cdnjs/intern3 try to learn something from this case.

[2017-04-23 19:02] PeterBot opened #11121 "[Build failed] Got error while building meta data/artifact"
Dear all,

Our build process just got an error while building the meta data/artifact of cdnjs project, our [website and api](https://github.com/cdnjs/new-website) may not be as new as our repository, however, the cdn service will not been affected, you can still use it, and modify the library name, version number and filename in the url can help you access all the content on cdnjs, we will fix the

[2017-04-23 19:04] PeterDaveHello commented on #11121
Network issue, fixed.

[2017-04-23 19:04] #11121 closed

[2017-04-23 19:07] kottenator commented on #11120
@PeterDaveHello - yes, I recall now, it was my bug that I've fixed. And probably I've moved `v1.2.1` tag _forward_ because I've not released a version to NPM yet, so it was only a Git tag.

And probably, CDNJS has fetched _an older_ `v1.2.1` tag just before I've shifted it.

So what should I do now? NPM / Bower version 1.2.1 points to the current `v1.2.1` tag commit, but not CDNJS.

[2017-04-23 19:10] PeterDaveHello commented on #11120
So we don't have a problem here, just see if it's fine for you to bump the version if you have some updates after v1.2.1?

[2017-04-23 19:20] kottenator commented on #11120
If it's the only way to fix the problem - then sure, I'll have to release a new version.

But maybe it's reasonable to update 1.2.1 version on CDNJS too? Because e.g. `bower install jquery-circle-progress@1.2.1` will fetch the _correct_ tagged version, when CDNJS will return an _obsolete_ one.

[2017-04-23 19:27] PeterDaveHello commented on #11120
@kottenator as I say about SRI, you should understand directly updat e hosted version will cause new problem, I'll think about it, anyway, it's better to have a new version.

[2017-04-23 20:35] #11120 closed

[2017-04-23 20:48] #5452 closed

[2017-04-23 20:51] kottenator commented on #11120
@PeterDaveHello - thank you so much!

I'll avoid pushing _unstable_ tags and moving them _afterwards_ in the future! ;)

[2017-04-23 20:52] PeterBot opened #11122 "[Build failed] Got error while building meta data/artifact"
Dear all,

Our build process just got an error while building the meta data/artifact of cdnjs project, our [website and api](https://github.com/cdnjs/new-website) may not be as new as our repository, however, the cdn service will not been affected, you can still use it, and modify the library name, version number and filename in the url can help you access all the content on cdnjs, we will fix the

[2017-04-23 20:56] PeterDaveHello commented on #11122
`npm test` test failed, seems to be related with #11035

[2017-04-23 21:08] #11122 closed

[2017-04-23 21:23] kottenator commented on #11120
Could you, please, tell (at least approximately) - when will the re-added version appear on the CDNJS?

[2017-04-23 21:27] PeterDaveHello commented on #11120
@kottenator we don't expect files change normally, the TTL on the CDN is very very long, and it's directly controlled by Cloudflare, so please, as I said before, if you need a fast and correct method, please bump the version.

[2017-04-23 21:30] kottenator commented on #11120
OK, clear. Thanks anyway! I understand that it's _partially_ my fault ;)

[2017-04-23 21:32] PeterDaveHello commented on #11120
@kottenator no worries

[2017-04-23 22:42] PeterDaveHello opened #11123 "Migrate to sha384/512 on SRI hash calculation"
Issues:
1. We'll need a powerful and individual platform to focus on re-calcuating all the hashes over all the 950k js & css files?
2. Should the origin sha256 hashes be preserved? Is the answer is yes, how do we deal with it? (How to display on the UI? How to save both sha256 and sha384 hashes?)
3. How urgent we **need** it?
4. How's the impact on performance on both hash calculation and website

[2017-04-24 01:39] rnicholus opened #11124 "[author] Shouldn't file-uploader be fine-uploader?"
...or at least it seems there should be an alias. Is this possible?

I'm the maintainer of the project. https://cdnjs.com/libraries/file-uploader

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/44448221-author-shouldn-t-file-uploader-be-fine-uploader?utm_campaign=plugin&utm_content=tracker%2F32893&utm_medium=issues&utm_source=github

[2017-04-24 04:43] dmattia opened #11126 "[Request] Add bigtext"
**Library name:** bigtext
**Git repository url:** https://github.com/zachleat/BigText
**npm package name or url** (if there is one): https://www.npmjs.com/package/bigtext
**License (List them all if it's multiple):** MIT
**Official homepage:** https://www.zachleat.com/web/bigtext-makes-text-big/
**Wanna say something? Leave message here:**

=====================

Notes from cdnjs maintainer:
Pleas

[2017-04-24 05:46] dakshshah96 commented on #10430
@sufuf3 @PeterDaveHello I don't think this library can be added to cdnjs yet. It isn't popular enough.

[2017-04-24 05:47] dakshshah96 commented on #10433
@sufuf3 @PeterDaveHello This library isn't popular enough to be added to CDNJS yet.

[2017-04-24 06:29] ajay2507 commented on #11056
@PeterDaveHello  Submitted pull request

[2017-04-24 07:19] dakshshah96 opened #11128 "[Request] Add React VR"
**Library name:** React VR
**Git repository url:** https://github.com/facebook/react-vr
**npm package name or url** (if there is one): https://www.npmjs.com/package/react-vr
**License (List them all if it's multiple):** BSD-3-Clause
**Official homepage:** https://facebook.github.io/react-vr/
**Wanna say something? Leave message here:**

=====================

Notes from cdnjs maintainer:
Please re

[2017-04-24 07:22] dakshshah96 opened #11129 "[Request] Add react-move"
**Library name:** react-move
**Git repository url:** https://github.com/tannerlinsley/react-move
**npm package name or url** (if there is one): https://www.npmjs.com/package/react-move
**License (List them all if it's multiple):** MIT
**Official homepage:** https://react-move.js.org/
**Wanna say something? Leave message here:**

=====================

Notes from cdnjs maintainer:
Please read the [

[2017-04-24 07:28] dakshshah96 opened #11130 "[Request] Add goojs"
**Library name:** goojs
**Git repository url:** https://github.com/GooTechnologies/goojs
**npm package name or url** (if there is one): https://www.npmjs.com/package/goojs
**License (List them all if it's multiple):** MIT
**Official homepage:** http://goocreate.com/
**Wanna say something? Leave message here:**

=====================

Notes from cdnjs maintainer:
Please read the [README.md](https:/

[2017-04-24 07:31] dakshshah96 opened #11131 "[Request] Add panda-engine"
**Library name:** panda-engine
**Git repository url:** https://github.com/ekelokorpi/panda-engine
**npm package name or url** (if there is one):
**License (List them all if it's multiple):** MIT
**Official homepage:** http://www.pandajs.net/
**Wanna say something? Leave message here:**

=====================

Notes from cdnjs maintainer:
Please read the [README.md](https://github.com/cdnjs/cdnjs#c